<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1">#!/usr/bin/env ruby</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;benchmark/ips&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="no">PATH</span> <span class="o">=</span> <span class="s2">&quot;/../../..../...//.....//lorem/ipsum//dolor///sit.xyz&quot;</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a><span class="k">def</span> <span class="nf">sanitize_with_regex</span>
<a name="gbab-8"></a>  <span class="s2">&quot;/&quot;</span> <span class="o">+</span> <span class="no">PATH</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!/{2,}!</span><span class="p">,</span> <span class="s2">&quot;/&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!\.+/|\A/+!</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-9"></a><span class="k">end</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a><span class="k">def</span> <span class="nf">sanitize_with_builtin</span>
<a name="gbab-12"></a>  <span class="s2">&quot;/</span><span class="si">#{</span><span class="no">PATH</span><span class="si">}</span><span class="s2">&quot;</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;..&quot;</span><span class="p">,</span> <span class="s2">&quot;/&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;./&quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">squeeze</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-13"></a><span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a><span class="k">if</span> <span class="n">sanitize_with_regex</span> <span class="o">==</span> <span class="n">sanitize_with_builtin</span>
<a name="gbab-16"></a>  <span class="no">Benchmark</span><span class="o">.</span><span class="n">ips</span> <span class="k">do</span> <span class="o">|</span><span class="n">x</span><span class="o">|</span>
<a name="gbab-17"></a>    <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s2">&quot;sanitize w/ regexes&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="n">sanitize_with_regex</span> <span class="p">}</span>
<a name="gbab-18"></a>    <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s2">&quot;sanitize w/ builtin&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="n">sanitize_with_builtin</span> <span class="p">}</span>
<a name="gbab-19"></a>    <span class="n">x</span><span class="o">.</span><span class="n">compare!</span>
<a name="gbab-20"></a>  <span class="k">end</span>
<a name="gbab-21"></a><span class="k">else</span>
<a name="gbab-22"></a>  <span class="nb">puts</span> <span class="s2">&quot;w/ regexes: </span><span class="si">#{</span><span class="n">sanitize_with_regex</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-23"></a>  <span class="nb">puts</span> <span class="s2">&quot;w/ builtin: </span><span class="si">#{</span><span class="n">sanitize_with_builtin</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-24"></a>  <span class="nb">puts</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-25"></a>  <span class="nb">puts</span> <span class="s2">&quot;Thank you. Do try again :(&quot;</span>
<a name="gbab-26"></a><span class="k">end</span>
</pre></div>
</td></tr></table>