<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Collection</span>
<a name="gbab-5"></a>    <span class="kp">attr_reader</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:label</span><span class="p">,</span> <span class="ss">:metadata</span>
<a name="gbab-6"></a>    <span class="kp">attr_writer</span> <span class="ss">:docs</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>    <span class="c1"># Create a new Collection.</span>
<a name="gbab-9"></a>    <span class="c1">#</span>
<a name="gbab-10"></a>    <span class="c1"># site - the site to which this collection belongs.</span>
<a name="gbab-11"></a>    <span class="c1"># label - the name of the collection</span>
<a name="gbab-12"></a>    <span class="c1">#</span>
<a name="gbab-13"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-14"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">label</span><span class="p">)</span>
<a name="gbab-15"></a>      <span class="vi">@site</span>  <span class="o">=</span> <span class="n">site</span>
<a name="gbab-16"></a>      <span class="vi">@label</span> <span class="o">=</span> <span class="n">sanitize_label</span><span class="p">(</span><span class="n">label</span><span class="p">)</span>
<a name="gbab-17"></a>      <span class="vi">@metadata</span> <span class="o">=</span> <span class="n">extract_metadata</span>
<a name="gbab-18"></a>    <span class="k">end</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>    <span class="c1"># Fetch the Documents in this collection.</span>
<a name="gbab-21"></a>    <span class="c1"># Defaults to an empty array if no documents have been read in.</span>
<a name="gbab-22"></a>    <span class="c1">#</span>
<a name="gbab-23"></a>    <span class="c1"># Returns an array of Jekyll::Document objects.</span>
<a name="gbab-24"></a>    <span class="k">def</span> <span class="nf">docs</span>
<a name="gbab-25"></a>      <span class="vi">@docs</span> <span class="o">||=</span> <span class="o">[]</span>
<a name="gbab-26"></a>    <span class="k">end</span>
<a name="gbab-27"></a>
<a name="gbab-28"></a>    <span class="c1"># Override of normal respond_to? to match method_missing&#39;s logic for</span>
<a name="gbab-29"></a>    <span class="c1"># looking in @data.</span>
<a name="gbab-30"></a>    <span class="k">def</span> <span class="nf">respond_to_missing?</span><span class="p">(</span><span class="nb">method</span><span class="p">,</span> <span class="n">include_private</span> <span class="o">=</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-31"></a>      <span class="n">docs</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="nb">method</span><span class="o">.</span><span class="n">to_sym</span><span class="p">,</span> <span class="n">include_private</span><span class="p">)</span> <span class="o">||</span> <span class="k">super</span>
<a name="gbab-32"></a>    <span class="k">end</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>    <span class="c1"># Override of method_missing to check in @data for the key.</span>
<a name="gbab-35"></a>    <span class="k">def</span> <span class="nf">method_missing</span><span class="p">(</span><span class="nb">method</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">blck</span><span class="p">)</span>
<a name="gbab-36"></a>      <span class="k">if</span> <span class="n">docs</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="nb">method</span><span class="o">.</span><span class="n">to_sym</span><span class="p">)</span>
<a name="gbab-37"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Deprecation:&quot;</span><span class="p">,</span>
<a name="gbab-38"></a>          <span class="s2">&quot;</span><span class="si">#{</span><span class="n">label</span><span class="si">}</span><span class="s2">.</span><span class="si">#{</span><span class="nb">method</span><span class="si">}</span><span class="s2"> should be changed to </span><span class="si">#{</span><span class="n">label</span><span class="si">}</span><span class="s2">.docs.</span><span class="si">#{</span><span class="nb">method</span><span class="si">}</span><span class="s2">.&quot;</span>
<a name="gbab-39"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;Called by </span><span class="si">#{</span><span class="nb">caller</span><span class="p">(</span><span class="mi">0</span><span class="o">..</span><span class="mi">0</span><span class="p">)</span><span class="si">}</span><span class="s2">.&quot;</span>
<a name="gbab-40"></a>        <span class="n">docs</span><span class="o">.</span><span class="n">public_send</span><span class="p">(</span><span class="nb">method</span><span class="o">.</span><span class="n">to_sym</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">blck</span><span class="p">)</span>
<a name="gbab-41"></a>      <span class="k">else</span>
<a name="gbab-42"></a>        <span class="k">super</span>
<a name="gbab-43"></a>        <span class="k">end</span>
<a name="gbab-44"></a>    <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>    <span class="c1"># Fetch the static files in this collection.</span>
<a name="gbab-47"></a>    <span class="c1"># Defaults to an empty array if no static files have been read in.</span>
<a name="gbab-48"></a>    <span class="c1">#</span>
<a name="gbab-49"></a>    <span class="c1"># Returns an array of Jekyll::StaticFile objects.</span>
<a name="gbab-50"></a>    <span class="k">def</span> <span class="nf">files</span>
<a name="gbab-51"></a>      <span class="vi">@files</span> <span class="o">||=</span> <span class="o">[]</span>
<a name="gbab-52"></a>    <span class="k">end</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>    <span class="c1"># Read the allowed documents into the collection&#39;s array of docs.</span>
<a name="gbab-55"></a>    <span class="c1">#</span>
<a name="gbab-56"></a>    <span class="c1"># Returns the sorted array of docs.</span>
<a name="gbab-57"></a>    <span class="k">def</span> <span class="nf">read</span>
<a name="gbab-58"></a>      <span class="n">filtered_entries</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">file_path</span><span class="o">|</span>
<a name="gbab-59"></a>        <span class="n">full_path</span> <span class="o">=</span> <span class="n">collection_dir</span><span class="p">(</span><span class="n">file_path</span><span class="p">)</span>
<a name="gbab-60"></a>        <span class="k">next</span> <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">full_path</span><span class="p">)</span>
<a name="gbab-61"></a>        <span class="k">if</span> <span class="no">Utils</span><span class="o">.</span><span class="n">has_yaml_header?</span> <span class="n">full_path</span>
<a name="gbab-62"></a>          <span class="n">read_document</span><span class="p">(</span><span class="n">full_path</span><span class="p">)</span>
<a name="gbab-63"></a>          <span class="k">else</span>
<a name="gbab-64"></a>          <span class="n">read_static_file</span><span class="p">(</span><span class="n">file_path</span><span class="p">,</span> <span class="n">full_path</span><span class="p">)</span>
<a name="gbab-65"></a>        <span class="k">end</span>
<a name="gbab-66"></a>        <span class="k">end</span>
<a name="gbab-67"></a>      <span class="n">docs</span><span class="o">.</span><span class="n">sort!</span>
<a name="gbab-68"></a>    <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>    <span class="c1"># All the entries in this collection.</span>
<a name="gbab-71"></a>    <span class="c1">#</span>
<a name="gbab-72"></a>    <span class="c1"># Returns an Array of file paths to the documents in this collection</span>
<a name="gbab-73"></a>    <span class="c1">#   relative to the collection&#39;s directory</span>
<a name="gbab-74"></a>    <span class="k">def</span> <span class="nf">entries</span>
<a name="gbab-75"></a>      <span class="k">return</span> <span class="o">[]</span> <span class="k">unless</span> <span class="n">exists?</span>
<a name="gbab-76"></a>      <span class="vi">@entries</span> <span class="o">||=</span>
<a name="gbab-77"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">safe_glob</span><span class="p">(</span><span class="n">collection_dir</span><span class="p">,</span> <span class="o">[</span><span class="s2">&quot;**&quot;</span><span class="p">,</span> <span class="s2">&quot;*&quot;</span><span class="o">]</span><span class="p">,</span> <span class="no">File</span><span class="o">::</span><span class="no">FNM_DOTMATCH</span><span class="p">)</span><span class="o">.</span><span class="n">map</span> <span class="k">do</span> <span class="o">|</span><span class="n">entry</span><span class="o">|</span>
<a name="gbab-78"></a>          <span class="n">entry</span><span class="o">[</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">collection_dir</span><span class="si">}</span><span class="s2">/&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-79"></a>          <span class="n">entry</span>
<a name="gbab-80"></a>      <span class="k">end</span>
<a name="gbab-81"></a>    <span class="k">end</span>
<a name="gbab-82"></a>
<a name="gbab-83"></a>    <span class="c1"># Filtered version of the entries in this collection.</span>
<a name="gbab-84"></a>    <span class="c1"># See `Jekyll::EntryFilter#filter` for more information.</span>
<a name="gbab-85"></a>    <span class="c1">#</span>
<a name="gbab-86"></a>    <span class="c1"># Returns a list of filtered entry paths.</span>
<a name="gbab-87"></a>    <span class="k">def</span> <span class="nf">filtered_entries</span>
<a name="gbab-88"></a>      <span class="k">return</span> <span class="o">[]</span> <span class="k">unless</span> <span class="n">exists?</span>
<a name="gbab-89"></a>      <span class="vi">@filtered_entries</span> <span class="o">||=</span>
<a name="gbab-90"></a>      <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="n">directory</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-91"></a>          <span class="n">entry_filter</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">entries</span><span class="p">)</span><span class="o">.</span><span class="n">reject</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-92"></a>            <span class="n">path</span> <span class="o">=</span> <span class="n">collection_dir</span><span class="p">(</span><span class="n">f</span><span class="p">)</span>
<a name="gbab-93"></a>            <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span> <span class="o">||</span> <span class="n">entry_filter</span><span class="o">.</span><span class="n">symlink?</span><span class="p">(</span><span class="n">f</span><span class="p">)</span>
<a name="gbab-94"></a>          <span class="k">end</span>
<a name="gbab-95"></a>      <span class="k">end</span>
<a name="gbab-96"></a>    <span class="k">end</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a>    <span class="c1"># The directory for this Collection, relative to the site source or the directory</span>
<a name="gbab-99"></a>    <span class="c1"># containing the collection.</span>
<a name="gbab-100"></a>    <span class="c1">#</span>
<a name="gbab-101"></a>    <span class="c1"># Returns a String containing the directory name where the collection</span>
<a name="gbab-102"></a>    <span class="c1">#   is stored on the filesystem.</span>
<a name="gbab-103"></a>    <span class="k">def</span> <span class="nf">relative_directory</span>
<a name="gbab-104"></a>      <span class="vi">@relative_directory</span> <span class="o">||=</span> <span class="s2">&quot;_</span><span class="si">#{</span><span class="n">label</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-105"></a>    <span class="k">end</span>
<a name="gbab-106"></a>
<a name="gbab-107"></a>    <span class="c1"># The full path to the directory containing the collection.</span>
<a name="gbab-108"></a>    <span class="c1">#</span>
<a name="gbab-109"></a>    <span class="c1"># Returns a String containing th directory name where the collection</span>
<a name="gbab-110"></a>    <span class="c1">#   is stored on the filesystem.</span>
<a name="gbab-111"></a>    <span class="k">def</span> <span class="nf">directory</span>
<a name="gbab-112"></a>      <span class="vi">@directory</span> <span class="o">||=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span>
<a name="gbab-113"></a>        <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">container</span><span class="p">,</span> <span class="n">relative_directory</span><span class="p">)</span>
<a name="gbab-114"></a>      <span class="p">)</span>
<a name="gbab-115"></a>    <span class="k">end</span>
<a name="gbab-116"></a>
<a name="gbab-117"></a>    <span class="c1"># The full path to the directory containing the collection, with</span>
<a name="gbab-118"></a>    <span class="c1">#   optional subpaths.</span>
<a name="gbab-119"></a>    <span class="c1">#</span>
<a name="gbab-120"></a>    <span class="c1"># *files - (optional) any other path pieces relative to the</span>
<a name="gbab-121"></a>    <span class="c1">#           directory to append to the path</span>
<a name="gbab-122"></a>    <span class="c1">#</span>
<a name="gbab-123"></a>    <span class="c1"># Returns a String containing th directory name where the collection</span>
<a name="gbab-124"></a>    <span class="c1">#   is stored on the filesystem.</span>
<a name="gbab-125"></a>    <span class="k">def</span> <span class="nf">collection_dir</span><span class="p">(</span><span class="o">*</span><span class="n">files</span><span class="p">)</span>
<a name="gbab-126"></a>      <span class="k">return</span> <span class="n">directory</span> <span class="k">if</span> <span class="n">files</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-127"></a>      <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">container</span><span class="p">,</span> <span class="n">relative_directory</span><span class="p">,</span> <span class="o">*</span><span class="n">files</span><span class="p">)</span>
<a name="gbab-128"></a>    <span class="k">end</span>
<a name="gbab-129"></a>
<a name="gbab-130"></a>    <span class="c1"># Checks whether the directory &quot;exists&quot; for this collection.</span>
<a name="gbab-131"></a>    <span class="c1"># The directory must exist on the filesystem and must not be a symlink</span>
<a name="gbab-132"></a>    <span class="c1">#   if in safe mode.</span>
<a name="gbab-133"></a>    <span class="c1">#</span>
<a name="gbab-134"></a>    <span class="c1"># Returns false if the directory doesn&#39;t exist or if it&#39;s a symlink</span>
<a name="gbab-135"></a>    <span class="c1">#   and we&#39;re in safe mode.</span>
<a name="gbab-136"></a>    <span class="k">def</span> <span class="nf">exists?</span>
<a name="gbab-137"></a>      <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">directory</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">entry_filter</span><span class="o">.</span><span class="n">symlink?</span><span class="p">(</span><span class="n">directory</span><span class="p">)</span>
<a name="gbab-138"></a>    <span class="k">end</span>
<a name="gbab-139"></a>
<a name="gbab-140"></a>    <span class="c1"># The entry filter for this collection.</span>
<a name="gbab-141"></a>    <span class="c1"># Creates an instance of Jekyll::EntryFilter.</span>
<a name="gbab-142"></a>    <span class="c1">#</span>
<a name="gbab-143"></a>    <span class="c1"># Returns the instance of Jekyll::EntryFilter for this collection.</span>
<a name="gbab-144"></a>    <span class="k">def</span> <span class="nf">entry_filter</span>
<a name="gbab-145"></a>      <span class="vi">@entry_filter</span> <span class="o">||=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">EntryFilter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">relative_directory</span><span class="p">)</span>
<a name="gbab-146"></a>    <span class="k">end</span>
<a name="gbab-147"></a>
<a name="gbab-148"></a>    <span class="c1"># An inspect string.</span>
<a name="gbab-149"></a>    <span class="c1">#</span>
<a name="gbab-150"></a>    <span class="c1"># Returns the inspect string</span>
<a name="gbab-151"></a>    <span class="k">def</span> <span class="nf">inspect</span>
<a name="gbab-152"></a>      <span class="s2">&quot;#&lt;Jekyll::Collection @label=</span><span class="si">#{</span><span class="n">label</span><span class="si">}</span><span class="s2"> docs=</span><span class="si">#{</span><span class="n">docs</span><span class="si">}</span><span class="s2">&gt;&quot;</span>
<a name="gbab-153"></a>    <span class="k">end</span>
<a name="gbab-154"></a>
<a name="gbab-155"></a>    <span class="c1"># Produce a sanitized label name</span>
<a name="gbab-156"></a>    <span class="c1"># Label names may not contain anything but alphanumeric characters,</span>
<a name="gbab-157"></a>    <span class="c1">#   underscores, and hyphens.</span>
<a name="gbab-158"></a>    <span class="c1">#</span>
<a name="gbab-159"></a>    <span class="c1"># label - the possibly-unsafe label</span>
<a name="gbab-160"></a>    <span class="c1">#</span>
<a name="gbab-161"></a>    <span class="c1"># Returns a sanitized version of the label.</span>
<a name="gbab-162"></a>    <span class="k">def</span> <span class="nf">sanitize_label</span><span class="p">(</span><span class="n">label</span><span class="p">)</span>
<a name="gbab-163"></a>      <span class="n">label</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r![^a-z0-9_\-\.]!i</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-164"></a>    <span class="k">end</span>
<a name="gbab-165"></a>
<a name="gbab-166"></a>    <span class="c1"># Produce a representation of this Collection for use in Liquid.</span>
<a name="gbab-167"></a>    <span class="c1"># Exposes two attributes:</span>
<a name="gbab-168"></a>    <span class="c1">#   - label</span>
<a name="gbab-169"></a>    <span class="c1">#   - docs</span>
<a name="gbab-170"></a>    <span class="c1">#</span>
<a name="gbab-171"></a>    <span class="c1"># Returns a representation of this collection for use in Liquid.</span>
<a name="gbab-172"></a>    <span class="k">def</span> <span class="nf">to_liquid</span>
<a name="gbab-173"></a>      <span class="no">Drops</span><span class="o">::</span><span class="no">CollectionDrop</span><span class="o">.</span><span class="n">new</span> <span class="nb">self</span>
<a name="gbab-174"></a>    <span class="k">end</span>
<a name="gbab-175"></a>
<a name="gbab-176"></a>    <span class="c1"># Whether the collection&#39;s documents ought to be written as individual</span>
<a name="gbab-177"></a>    <span class="c1">#   files in the output.</span>
<a name="gbab-178"></a>    <span class="c1">#</span>
<a name="gbab-179"></a>    <span class="c1"># Returns true if the &#39;write&#39; metadata is true, false otherwise.</span>
<a name="gbab-180"></a>    <span class="k">def</span> <span class="nf">write?</span>
<a name="gbab-181"></a>      <span class="o">!!</span><span class="n">metadata</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;output&quot;</span><span class="p">,</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-182"></a>    <span class="k">end</span>
<a name="gbab-183"></a>
<a name="gbab-184"></a>    <span class="c1"># The URL template to render collection&#39;s documents at.</span>
<a name="gbab-185"></a>    <span class="c1">#</span>
<a name="gbab-186"></a>    <span class="c1"># Returns the URL template to render collection&#39;s documents at.</span>
<a name="gbab-187"></a>    <span class="k">def</span> <span class="nf">url_template</span>
<a name="gbab-188"></a>      <span class="vi">@url_template</span> <span class="o">||=</span> <span class="n">metadata</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;permalink&quot;</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-189"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:collection/:path&quot;</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">permalink_style</span><span class="p">)</span>
<a name="gbab-190"></a>      <span class="k">end</span>
<a name="gbab-191"></a>          <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:collection/:path&quot;</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">permalink_style</span><span class="p">)</span>
<a name="gbab-192"></a>      <span class="k">end</span>
<a name="gbab-193"></a>    <span class="k">end</span>
<a name="gbab-194"></a>
<a name="gbab-195"></a>    <span class="c1"># Extract options for this collection from the site configuration.</span>
<a name="gbab-196"></a>    <span class="c1">#</span>
<a name="gbab-197"></a>      <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">].</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span>
<a name="gbab-198"></a>        <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">][</span><span class="n">label</span><span class="o">]</span> <span class="o">||</span> <span class="p">{}</span>
<a name="gbab-199"></a>      <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s1">&#39;collections&#39;</span><span class="o">].</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span>
<a name="gbab-200"></a>        <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s1">&#39;collections&#39;</span><span class="o">][</span><span class="n">label</span><span class="o">]</span> <span class="o">||</span> <span class="no">Hash</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-201"></a>      <span class="k">else</span>
<a name="gbab-202"></a>        <span class="p">{}</span>
<a name="gbab-203"></a>
<a name="gbab-204"></a>    <span class="kp">private</span>
<a name="gbab-205"></a>
<a name="gbab-206"></a>    <span class="k">def</span> <span class="nf">container</span>
<a name="gbab-207"></a>      <span class="vi">@container</span> <span class="o">||=</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections_dir&quot;</span><span class="o">]</span>
<a name="gbab-208"></a>    <span class="k">end</span>
<a name="gbab-209"></a>
<a name="gbab-210"></a>    <span class="kp">private</span>
<a name="gbab-211"></a>
<a name="gbab-212"></a>    <span class="k">def</span> <span class="nf">read_document</span><span class="p">(</span><span class="n">full_path</span><span class="p">)</span>
<a name="gbab-213"></a>      <span class="n">docs</span> <span class="o">&lt;&lt;</span> <span class="no">Document</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">full_path</span><span class="p">,</span> <span class="ss">:site</span> <span class="o">=&gt;</span> <span class="n">site</span><span class="p">,</span> <span class="ss">:collection</span> <span class="o">=&gt;</span> <span class="nb">self</span><span class="p">)</span><span class="o">.</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span>
<a name="gbab-214"></a>      <span class="n">doc</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-215"></a>        <span class="k">if</span> <span class="o">!</span><span class="n">site</span><span class="o">.</span><span class="n">publisher</span><span class="o">.</span><span class="n">publish?</span><span class="p">(</span><span class="n">doc</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">site</span><span class="o">.</span><span class="n">publisher</span><span class="o">.</span><span class="n">hidden_in_the_future?</span><span class="p">(</span><span class="n">doc</span><span class="p">)</span>
<a name="gbab-216"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Skip Publishing:&quot;</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span><span class="si">}</span><span class="s2"> has a future date&quot;</span>
<a name="gbab-217"></a>        <span class="k">end</span>
<a name="gbab-218"></a>      <span class="k">end</span>
<a name="gbab-219"></a>    <span class="k">end</span>
<a name="gbab-220"></a>
<a name="gbab-221"></a>    <span class="kp">private</span>
<a name="gbab-222"></a>
<a name="gbab-223"></a>    <span class="k">def</span> <span class="nf">read_static_file</span><span class="p">(</span><span class="n">file_path</span><span class="p">,</span> <span class="n">full_path</span><span class="p">)</span>
<a name="gbab-224"></a>      <span class="n">relative_dir</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span>
<a name="gbab-225"></a>        <span class="n">relative_directory</span><span class="p">,</span>
<a name="gbab-226"></a>        <span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">file_path</span><span class="p">)</span>
<a name="gbab-227"></a>      <span class="p">)</span><span class="o">.</span><span class="n">chomp</span><span class="p">(</span><span class="s2">&quot;/.&quot;</span><span class="p">)</span>
<a name="gbab-228"></a>
<a name="gbab-229"></a>      <span class="n">files</span> <span class="o">&lt;&lt;</span> <span class="no">StaticFile</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-230"></a>        <span class="n">site</span><span class="p">,</span>
<a name="gbab-231"></a>        <span class="n">site</span><span class="o">.</span><span class="n">source</span><span class="p">,</span>
<a name="gbab-232"></a>        <span class="n">relative_dir</span><span class="p">,</span>
<a name="gbab-233"></a>        <span class="no">File</span><span class="o">.</span><span class="n">basename</span><span class="p">(</span><span class="n">full_path</span><span class="p">),</span>
<a name="gbab-234"></a>        <span class="nb">self</span>
<a name="gbab-235"></a>      <span class="p">)</span>
<a name="gbab-236"></a>    <span class="k">end</span>
<a name="gbab-237"></a>      <span class="k">end</span>
<a name="gbab-238"></a>    <span class="k">end</span>
<a name="gbab-239"></a>  <span class="k">end</span>
<a name="gbab-240"></a><span class="k">end</span>
</pre></div>
</td></tr></table>