<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="no">Subproject</span> <span class="n">commit</span> <span class="n">f165f91ca6079cd332e81fb298185ec073cf1e74</span>
<a name="gbab-2"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-3"></a>
<a name="gbab-4"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-5"></a>  <span class="k">class</span> <span class="nc">Dummy</span> <span class="o">&lt;</span> <span class="no">Generator</span>
<a name="gbab-6"></a>    <span class="n">priority</span> <span class="ss">:high</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>    <span class="k">def</span> <span class="nf">generate</span><span class="p">(</span><span class="n">site</span><span class="p">)</span> <span class="k">end</span>
<a name="gbab-9"></a>  <span class="k">end</span>
<a name="gbab-10"></a><span class="k">end</span>
</pre></div>
</td></tr></table>