<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;csv&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-6"></a>  <span class="k">class</span> <span class="nc">Site</span>
<a name="gbab-7"></a>    <span class="kp">attr_reader</span>   <span class="ss">:source</span><span class="p">,</span> <span class="ss">:dest</span><span class="p">,</span> <span class="ss">:config</span>
<a name="gbab-8"></a>    <span class="kp">attr_accessor</span> <span class="ss">:layouts</span><span class="p">,</span> <span class="ss">:pages</span><span class="p">,</span> <span class="ss">:static_files</span><span class="p">,</span> <span class="ss">:drafts</span><span class="p">,</span>
<a name="gbab-9"></a>                  <span class="ss">:exclude</span><span class="p">,</span> <span class="ss">:include</span><span class="p">,</span> <span class="ss">:lsi</span><span class="p">,</span> <span class="ss">:highlighter</span><span class="p">,</span> <span class="ss">:permalink_style</span><span class="p">,</span>
<a name="gbab-10"></a>                  <span class="ss">:time</span><span class="p">,</span> <span class="ss">:future</span><span class="p">,</span> <span class="ss">:unpublished</span><span class="p">,</span> <span class="ss">:safe</span><span class="p">,</span> <span class="ss">:plugins</span><span class="p">,</span> <span class="ss">:limit_posts</span><span class="p">,</span>
<a name="gbab-11"></a>                  <span class="ss">:show_drafts</span><span class="p">,</span> <span class="ss">:keep_files</span><span class="p">,</span> <span class="ss">:baseurl</span><span class="p">,</span> <span class="ss">:data</span><span class="p">,</span> <span class="ss">:file_read_opts</span><span class="p">,</span>
<a name="gbab-12"></a>                  <span class="ss">:gems</span><span class="p">,</span> <span class="ss">:plugin_manager</span><span class="p">,</span> <span class="ss">:theme</span>
<a name="gbab-13"></a>                  <span class="ss">:show_drafts</span><span class="p">,</span> <span class="ss">:keep_files</span>
<a name="gbab-14"></a>    <span class="kp">attr_accessor</span> <span class="ss">:converters</span><span class="p">,</span> <span class="ss">:generators</span><span class="p">,</span> <span class="ss">:reader</span>
<a name="gbab-15"></a>    <span class="kp">attr_reader</span>   <span class="ss">:regenerator</span><span class="p">,</span> <span class="ss">:liquid_renderer</span><span class="p">,</span> <span class="ss">:includes_load_paths</span>
<a name="gbab-16"></a>    <span class="kp">attr_accessor</span> <span class="ss">:converters</span><span class="p">,</span> <span class="ss">:generators</span>
<a name="gbab-17"></a>    <span class="c1"># Public: Initialize a new Site.</span>
<a name="gbab-18"></a>    <span class="c1">#   +config+ is a Hash containing site configurations details</span>
<a name="gbab-19"></a>    <span class="c1"># config - A Hash containing site configuration details.</span>
<a name="gbab-20"></a>    <span class="c1"># Returns &lt;Site&gt;</span>
<a name="gbab-21"></a>      <span class="c1"># Source and destination may not be changed after the site has been created.</span>
<a name="gbab-22"></a>      <span class="vi">@source</span>          <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;source&quot;</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-23"></a>      <span class="vi">@dest</span>            <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;destination&quot;</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">config</span> <span class="o">=</span> <span class="n">config</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>      <span class="vi">@reader</span>          <span class="o">=</span> <span class="no">Reader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-28"></a>      <span class="vi">@regenerator</span>     <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-29"></a>      <span class="vi">@liquid_renderer</span> <span class="o">=</span> <span class="no">LiquidRenderer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">sites</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>      <span class="n">reset</span>
<a name="gbab-34"></a>      <span class="n">setup</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:after_init</span><span class="p">,</span> <span class="nb">self</span>
<a name="gbab-37"></a>    <span class="k">end</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>    <span class="c1"># Public: Set the site&#39;s configuration. This handles side-effects caused by</span>
<a name="gbab-40"></a>    <span class="c1"># changing values in the configuration.</span>
<a name="gbab-41"></a>    <span class="c1">#</span>
<a name="gbab-42"></a>    <span class="c1"># config - a Jekyll::Configuration, containing the new configuration.</span>
<a name="gbab-43"></a>    <span class="c1">#</span>
<a name="gbab-44"></a>    <span class="c1"># Returns the new configuration.</span>
<a name="gbab-45"></a>    <span class="k">def</span> <span class="nf">config</span><span class="o">=</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-46"></a>      <span class="vi">@config</span> <span class="o">=</span> <span class="n">config</span><span class="o">.</span><span class="n">clone</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>      <span class="sx">%w(safe lsi highlighter baseurl exclude include future unpublished</span>
<a name="gbab-49"></a><span class="sx">        show_drafts limit_posts keep_files)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">opt</span><span class="o">|</span>
<a name="gbab-50"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">send</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">opt</span><span class="si">}</span><span class="s2">=&quot;</span><span class="p">,</span> <span class="n">config</span><span class="o">[</span><span class="n">opt</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-51"></a>      <span class="k">end</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>      <span class="c1"># keep using `gems` to avoid breaking change</span>
<a name="gbab-54"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">gems</span> <span class="o">=</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;plugins&quot;</span><span class="o">]</span>
<a name="gbab-55"></a>
<a name="gbab-56"></a>      <span class="n">configure_plugins</span>
<a name="gbab-57"></a>      <span class="n">configure_theme</span>
<a name="gbab-58"></a>      <span class="n">configure_include_paths</span>
<a name="gbab-59"></a>      <span class="n">configure_file_read_opts</span>
<a name="gbab-60"></a>
<a name="gbab-61"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;permalink&quot;</span><span class="o">].</span><span class="n">to_sym</span>
<a name="gbab-62"></a>      <span class="n">reset</span>
<a name="gbab-63"></a>      <span class="n">setup</span>
<a name="gbab-64"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">reset</span>
<a name="gbab-65"></a>    <span class="c1"># Public: Read, process, and write this Site to output.</span>
<a name="gbab-66"></a>    <span class="c1">#</span>
<a name="gbab-67"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-68"></a>    <span class="k">def</span> <span class="nf">process</span>
<a name="gbab-69"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">reset</span>
<a name="gbab-70"></a>      <span class="n">reset</span>
<a name="gbab-71"></a>      <span class="n">read</span>
<a name="gbab-72"></a>      <span class="n">generate</span>
<a name="gbab-73"></a>      <span class="n">render</span>
<a name="gbab-74"></a>      <span class="n">cleanup</span>
<a name="gbab-75"></a>      <span class="n">write</span>
<a name="gbab-76"></a>      <span class="n">print_stats</span> <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;profile&quot;</span><span class="o">]</span>
<a name="gbab-77"></a>    <span class="k">end</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>    <span class="k">def</span> <span class="nf">print_stats</span>
<a name="gbab-80"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="vi">@liquid_renderer</span><span class="o">.</span><span class="n">stats_table</span>
<a name="gbab-81"></a>      <span class="k">end</span>
<a name="gbab-82"></a>    <span class="c1"># Reset Site details.</span>
<a name="gbab-83"></a>    <span class="c1">#</span>
<a name="gbab-84"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-85"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">setup</span>
<a name="gbab-86"></a>    <span class="k">end</span>
<a name="gbab-87"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">time</span> <span class="o">=</span> <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;time&quot;</span><span class="o">]</span>
<a name="gbab-88"></a>                    <span class="no">Utils</span><span class="o">.</span><span class="n">parse_date</span><span class="p">(</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;time&quot;</span><span class="o">].</span><span class="n">to_s</span><span class="p">,</span> <span class="s2">&quot;Invalid time in _config.yml.&quot;</span><span class="p">)</span>
<a name="gbab-89"></a>      <span class="k">else</span>
<a name="gbab-90"></a>                    <span class="no">Time</span><span class="o">.</span><span class="n">now</span>
<a name="gbab-91"></a>      <span class="k">end</span>
<a name="gbab-92"></a>                               <span class="no">Time</span><span class="o">.</span><span class="n">now</span>
<a name="gbab-93"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">pages</span>           <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-94"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">static_files</span>    <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-95"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear_cache</span><span class="p">()</span>
<a name="gbab-96"></a>      <span class="vi">@site_data</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-97"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">data</span>            <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-98"></a>      <span class="vi">@docs_to_write</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-99"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear_cache</span>
<a name="gbab-100"></a>      <span class="vi">@liquid_renderer</span><span class="o">.</span><span class="n">reset</span>
<a name="gbab-101"></a>      <span class="vi">@site_cleaner</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-102"></a>      <span class="k">if</span> <span class="o">!</span><span class="nb">self</span><span class="o">.</span><span class="n">limit_posts</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="nb">self</span><span class="o">.</span><span class="n">limit_posts</span> <span class="o">&lt;</span> <span class="mi">1</span>
<a name="gbab-103"></a>      <span class="k">if</span> <span class="n">limit_posts</span> <span class="o">&lt;</span> <span class="mi">0</span>
<a name="gbab-104"></a>        <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="s2">&quot;limit_posts must be a non-negative number&quot;</span>
<a name="gbab-105"></a>      <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="s2">&quot;Limit posts must be nil or &gt;= 1&quot;</span> <span class="k">if</span> <span class="o">!</span><span class="nb">self</span><span class="o">.</span><span class="n">limit_posts</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="nb">self</span><span class="o">.</span><span class="n">limit_posts</span> <span class="o">&lt;</span> <span class="mi">1</span>
<a name="gbab-106"></a>
<a name="gbab-107"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:after_reset</span><span class="p">,</span> <span class="nb">self</span>
<a name="gbab-108"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">categories</span>      <span class="o">=</span> <span class="no">Hash</span><span class="o">.</span><span class="n">new</span> <span class="p">{</span> <span class="o">|</span><span class="nb">hash</span><span class="p">,</span> <span class="n">key</span><span class="o">|</span> <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="o">[]</span> <span class="p">}</span>
<a name="gbab-109"></a>    <span class="c1"># Load necessary libraries, plugins, converters, and generators.</span>
<a name="gbab-110"></a>    <span class="c1">#</span>
<a name="gbab-111"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-112"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">tags</span>            <span class="o">=</span> <span class="no">Hash</span><span class="o">.</span><span class="n">new</span> <span class="p">{</span> <span class="o">|</span><span class="nb">hash</span><span class="p">,</span> <span class="n">key</span><span class="o">|</span> <span class="nb">hash</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="o">[]</span> <span class="p">}</span>
<a name="gbab-113"></a>
<a name="gbab-114"></a>      <span class="n">ensure_not_in_dest</span>
<a name="gbab-115"></a>
<a name="gbab-116"></a>      <span class="n">plugin_manager</span><span class="o">.</span><span class="n">conscientious_require</span>
<a name="gbab-117"></a>
<a name="gbab-118"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">converters</span> <span class="o">=</span> <span class="n">instantiate_subclasses</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Converter</span><span class="p">)</span>
<a name="gbab-119"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">generators</span> <span class="o">=</span> <span class="n">instantiate_subclasses</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Generator</span><span class="p">)</span>
<a name="gbab-120"></a>    <span class="c1"># Internal: Setup the plugin search path </span>
<a name="gbab-121"></a>    <span class="c1"># </span>
<a name="gbab-122"></a>    <span class="c1"># Check that the destination dir isn&#39;t the source dir or a directory</span>
<a name="gbab-123"></a>    <span class="c1"># parent to the source dir.</span>
<a name="gbab-124"></a>    <span class="k">def</span> <span class="nf">ensure_not_in_dest</span>
<a name="gbab-125"></a>      <span class="n">dest_pathname</span> <span class="o">=</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-126"></a>      <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">source</span><span class="p">)</span><span class="o">.</span><span class="n">ascend</span> <span class="k">do</span> <span class="o">|</span><span class="n">path</span><span class="o">|</span>
<a name="gbab-127"></a>        <span class="k">if</span> <span class="n">path</span> <span class="o">==</span> <span class="n">dest_pathname</span>
<a name="gbab-128"></a>          <span class="k">raise</span> <span class="no">Errors</span><span class="o">::</span><span class="no">FatalException</span><span class="p">,</span>
<a name="gbab-129"></a>            <span class="s2">&quot;Destination directory cannot be or contain the Source directory.&quot;</span>
<a name="gbab-130"></a>        <span class="k">end</span>
<a name="gbab-131"></a>      <span class="k">end</span>
<a name="gbab-132"></a>    <span class="k">end</span>
<a name="gbab-133"></a>
<a name="gbab-134"></a>    <span class="c1"># The list of collections and their corresponding Jekyll::Collection instances.</span>
<a name="gbab-135"></a>    <span class="c1"># If config[&#39;collections&#39;] is set, a new instance is created</span>
<a name="gbab-136"></a>    <span class="c1"># for each item in the collection, a new hash is returned otherwise.</span>
<a name="gbab-137"></a>    <span class="c1">#</span>
<a name="gbab-138"></a>    <span class="c1"># Returns a Hash containing collection name-to-instance pairs.</span>
<a name="gbab-139"></a>    <span class="k">def</span> <span class="nf">collections</span>
<a name="gbab-140"></a>      <span class="vi">@collections</span> <span class="o">||=</span> <span class="no">Hash</span><span class="o">[</span><span class="n">collection_names</span><span class="o">.</span><span class="n">map</span> <span class="k">do</span> <span class="o">|</span><span class="n">coll</span><span class="o">|</span>
<a name="gbab-141"></a>        <span class="o">[</span><span class="n">coll</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Collection</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">,</span> <span class="n">coll</span><span class="p">)</span><span class="o">]</span>
<a name="gbab-142"></a>      <span class="k">end</span><span class="o">]</span>
<a name="gbab-143"></a>    <span class="k">end</span>
<a name="gbab-144"></a>
<a name="gbab-145"></a>    <span class="c1"># The list of collection names.</span>
<a name="gbab-146"></a>    <span class="c1">#</span>
<a name="gbab-147"></a>    <span class="c1"># Returns an array of collection names from the configuration,</span>
<a name="gbab-148"></a>    <span class="c1">#   or an empty array if the `collections` key is not set.</span>
<a name="gbab-149"></a>    <span class="k">def</span> <span class="nf">collection_names</span>
<a name="gbab-150"></a>      <span class="k">case</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span>
<a name="gbab-151"></a>      <span class="k">when</span> <span class="no">Hash</span>
<a name="gbab-152"></a>        <span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">].</span><span class="n">keys</span>
<a name="gbab-153"></a>      <span class="k">when</span> <span class="nb">Array</span>
<a name="gbab-154"></a>        <span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span>
<a name="gbab-155"></a>      <span class="k">when</span> <span class="kp">nil</span>
<a name="gbab-156"></a>        <span class="o">[]</span>
<a name="gbab-157"></a>      <span class="k">else</span>
<a name="gbab-158"></a>        <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="s2">&quot;Your `collections` key must be a hash or an array.&quot;</span>
<a name="gbab-159"></a>      <span class="k">end</span>
<a name="gbab-160"></a>    <span class="k">end</span>
<a name="gbab-161"></a>
<a name="gbab-162"></a>      <span class="no">RedCloth</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">content</span><span class="p">)</span><span class="o">.</span><span class="n">to_html</span>
<a name="gbab-163"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-164"></a>    <span class="c1"># Read all the files in &lt;source&gt;/_layouts and create a new Layout object</span>
<a name="gbab-165"></a>    <span class="c1"># with each one.</span>
<a name="gbab-166"></a>      <span class="n">reader</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-167"></a>      <span class="n">limit_posts!</span>
<a name="gbab-168"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:post_read</span><span class="p">,</span> <span class="nb">self</span>
<a name="gbab-169"></a>      <span class="k">end</span>
<a name="gbab-170"></a>
<a name="gbab-171"></a>    <span class="c1">#</span>
<a name="gbab-172"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-173"></a>          <span class="n">post</span><span class="o">.</span><span class="n">categories</span><span class="o">.</span><span class="n">each</span> <span class="p">{</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span> <span class="nb">self</span><span class="o">.</span><span class="n">categories</span><span class="o">[</span><span class="n">c</span><span class="o">]</span> <span class="o">&lt;&lt;</span> <span class="n">post</span> <span class="p">}</span>
<a name="gbab-174"></a>      <span class="k">end</span>
<a name="gbab-175"></a>      <span class="n">generators</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">generator</span><span class="o">|</span>
<a name="gbab-176"></a>        <span class="n">start</span> <span class="o">=</span> <span class="no">Time</span><span class="o">.</span><span class="n">now</span>
<a name="gbab-177"></a>
<a name="gbab-178"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Generating:&quot;</span><span class="p">,</span>
<a name="gbab-179"></a>          <span class="s2">&quot;</span><span class="si">#{</span><span class="n">generator</span><span class="o">.</span><span class="n">class</span><span class="si">}</span><span class="s2"> finished in </span><span class="si">#{</span><span class="no">Time</span><span class="o">.</span><span class="n">now</span> <span class="o">-</span> <span class="n">start</span><span class="si">}</span><span class="s2"> seconds.&quot;</span>
<a name="gbab-180"></a>      <span class="c1"># limit the posts if :limit_posts option is set</span>
<a name="gbab-181"></a>      <span class="n">payload</span> <span class="o">=</span> <span class="n">site_payload</span>
<a name="gbab-182"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">posts</span> <span class="o">=</span> <span class="nb">self</span><span class="o">.</span><span class="n">posts</span><span class="o">[-</span><span class="n">limit_posts</span><span class="p">,</span> <span class="n">limit_posts</span><span class="o">]</span> <span class="k">if</span> <span class="n">limit_posts</span>
<a name="gbab-183"></a>        <span class="n">post</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="nb">self</span><span class="o">.</span><span class="n">layouts</span><span class="p">,</span> <span class="n">payload</span><span class="p">)</span>
<a name="gbab-184"></a>      <span class="n">relative_permalinks_deprecation_method</span>
<a name="gbab-185"></a>
<a name="gbab-186"></a>      <span class="n">relative_permalinks_are_deprecated</span>
<a name="gbab-187"></a>      <span class="n">deprecated_rel_permalink</span>
<a name="gbab-188"></a>        <span class="n">page_or_post</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="nb">self</span><span class="o">.</span><span class="n">layouts</span><span class="p">,</span> <span class="n">payload</span><span class="p">)</span>
<a name="gbab-189"></a>      <span class="n">payload</span> <span class="o">=</span> <span class="n">site_payload</span>
<a name="gbab-190"></a>
<a name="gbab-191"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:pre_render</span><span class="p">,</span> <span class="nb">self</span><span class="p">,</span> <span class="n">payload</span>
<a name="gbab-192"></a>
<a name="gbab-193"></a>      <span class="n">render_docs</span><span class="p">(</span><span class="n">payload</span><span class="p">)</span>
<a name="gbab-194"></a>      <span class="n">render_pages</span><span class="p">(</span><span class="n">payload</span><span class="p">)</span>
<a name="gbab-195"></a>
<a name="gbab-196"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:post_render</span><span class="p">,</span> <span class="nb">self</span><span class="p">,</span> <span class="n">payload</span>
<a name="gbab-197"></a>          <span class="n">page</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="nb">self</span><span class="o">.</span><span class="n">layouts</span><span class="p">,</span> <span class="n">site_payload</span><span class="p">)</span>
<a name="gbab-198"></a>    <span class="c1"># Remove orphaned files and empty directories in destination.</span>
<a name="gbab-199"></a>    <span class="c1"># Remove orphaned files and empty directories in destination</span>
<a name="gbab-200"></a>        <span class="k">if</span> <span class="nb">self</span><span class="o">.</span><span class="n">keep_files</span><span class="o">.</span><span class="n">length</span> <span class="o">&gt;</span> <span class="mi">0</span>
<a name="gbab-201"></a>          <span class="n">dest_files</span> <span class="o">&lt;&lt;</span> <span class="n">file</span> <span class="k">unless</span> <span class="n">file</span> <span class="o">=~</span> <span class="sr">/\/\.{1,2}$/</span> <span class="o">||</span> <span class="n">file</span> <span class="o">=~</span> <span class="n">keep_file_regex</span>
<a name="gbab-202"></a>        <span class="k">else</span>
<a name="gbab-203"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-204"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-205"></a>      <span class="k">end</span>
<a name="gbab-206"></a>    <span class="k">def</span> <span class="nf">cleanup</span>
<a name="gbab-207"></a>      <span class="n">dest_files</span> <span class="o">=</span> <span class="no">Set</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-208"></a>      <span class="n">dest_files</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-209"></a>      <span class="n">site_cleaner</span><span class="o">.</span><span class="n">cleanup!</span>
<a name="gbab-210"></a>      <span class="n">each_site_file</span> <span class="k">do</span> <span class="o">|</span><span class="n">item</span><span class="o">|</span>
<a name="gbab-211"></a>        <span class="n">item</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span> <span class="k">if</span> <span class="n">regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="n">item</span><span class="p">)</span>
<a name="gbab-212"></a>      <span class="k">end</span>
<a name="gbab-213"></a>      <span class="n">regenerator</span><span class="o">.</span><span class="n">write_metadata</span>
<a name="gbab-214"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:post_write</span><span class="p">,</span> <span class="nb">self</span>
<a name="gbab-215"></a>    <span class="k">rescue</span> <span class="no">Errno</span><span class="o">::</span><span class="no">ENOENT</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-216"></a>      <span class="c1"># ignore missing layout dir</span>
<a name="gbab-217"></a>    <span class="k">def</span> <span class="nf">posts</span>
<a name="gbab-218"></a>      <span class="n">collections</span><span class="o">[</span><span class="s2">&quot;posts&quot;</span><span class="o">]</span> <span class="o">||=</span> <span class="no">Collection</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">,</span> <span class="s2">&quot;posts&quot;</span><span class="p">)</span>
<a name="gbab-219"></a>    <span class="k">end</span>
<a name="gbab-220"></a>
<a name="gbab-221"></a>    <span class="c1"># Constructs a Hash of Posts indexed by the specified Post attribute.</span>
<a name="gbab-222"></a>    <span class="c1"># any files/directories that are hidden or backup files (start</span>
<a name="gbab-223"></a>    <span class="c1"># post_attr - The String name of the Post attribute.</span>
<a name="gbab-224"></a>          <span class="c1"># otherwise copy the file without transforming it</span>
<a name="gbab-225"></a>    <span class="c1"># Examples</span>
<a name="gbab-226"></a>    <span class="c1">#</span>
<a name="gbab-227"></a>    <span class="c1">#   post_attr_hash(&#39;categories&#39;)</span>
<a name="gbab-228"></a>    <span class="c1">#   # =&gt; { &#39;tech&#39; =&gt; [&lt;Post A&gt;, &lt;Post B&gt;],</span>
<a name="gbab-229"></a>    <span class="c1">#   #      &#39;ruby&#39; =&gt; [&lt;Post B&gt;] }</span>
<a name="gbab-230"></a>    <span class="c1">#</span>
<a name="gbab-231"></a>    <span class="c1"># Returns the Hash: { attr =&gt; posts } where</span>
<a name="gbab-232"></a>    <span class="c1">#   attr  - One of the values for the requested attribute.</span>
<a name="gbab-233"></a>    <span class="c1">#   posts - The Array of Posts with the given attr value.</span>
<a name="gbab-234"></a>          <span class="k">else</span>
<a name="gbab-235"></a>      <span class="c1"># Build a hash map based on the specified post attribute ( post attr =&gt;</span>
<a name="gbab-236"></a>      <span class="c1"># array of posts ) then sort each array in reverse order.</span>
<a name="gbab-237"></a>      <span class="nb">hash</span> <span class="o">=</span> <span class="no">Hash</span><span class="o">.</span><span class="n">new</span> <span class="p">{</span> <span class="o">|</span><span class="n">h</span><span class="p">,</span> <span class="n">key</span><span class="o">|</span> <span class="n">h</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="o">[]</span> <span class="p">}</span>
<a name="gbab-238"></a>      <span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="nb">p</span><span class="o">|</span>
<a name="gbab-239"></a>        <span class="nb">p</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="n">post_attr</span><span class="o">].</span><span class="n">each</span> <span class="p">{</span> <span class="o">|</span><span class="n">t</span><span class="o">|</span> <span class="nb">hash</span><span class="o">[</span><span class="n">t</span><span class="o">]</span> <span class="o">&lt;&lt;</span> <span class="nb">p</span> <span class="p">}</span> <span class="k">if</span> <span class="nb">p</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="n">post_attr</span><span class="o">]</span>
<a name="gbab-240"></a>      <span class="k">end</span>
<a name="gbab-241"></a>      <span class="nb">hash</span><span class="o">.</span><span class="n">each_value</span> <span class="p">{</span> <span class="o">|</span><span class="n">posts</span><span class="o">|</span> <span class="n">posts</span><span class="o">.</span><span class="n">sort!</span><span class="o">.</span><span class="n">reverse!</span> <span class="p">}</span>
<a name="gbab-242"></a>      <span class="nb">hash</span>
<a name="gbab-243"></a>    <span class="c1"># Returns {post_attr =&gt; [&lt;Post&gt;]}</span>
<a name="gbab-244"></a>    <span class="k">def</span> <span class="nf">post_attr_hash</span><span class="p">(</span><span class="n">post_attr</span><span class="p">)</span>
<a name="gbab-245"></a>    <span class="k">def</span> <span class="nf">tags</span>
<a name="gbab-246"></a>      <span class="n">post_attr_hash</span><span class="p">(</span><span class="s2">&quot;tags&quot;</span><span class="p">)</span>
<a name="gbab-247"></a>    <span class="k">end</span>
<a name="gbab-248"></a>
<a name="gbab-249"></a>    <span class="k">def</span> <span class="nf">categories</span>
<a name="gbab-250"></a>      <span class="n">post_attr_hash</span><span class="p">(</span><span class="s2">&quot;categories&quot;</span><span class="p">)</span>
<a name="gbab-251"></a>    <span class="k">end</span>
<a name="gbab-252"></a>
<a name="gbab-253"></a>    <span class="c1"># Prepare site data for site payload. The method maintains backward compatibility</span>
<a name="gbab-254"></a>    <span class="c1"># if the key &#39;data&#39; is already used in _config.yml.</span>
<a name="gbab-255"></a>    <span class="c1">#</span>
<a name="gbab-256"></a>    <span class="c1"># Returns the Hash to be hooked to site.data.</span>
<a name="gbab-257"></a>    <span class="k">def</span> <span class="nf">site_data</span>
<a name="gbab-258"></a>      <span class="vi">@site_data</span> <span class="o">||=</span> <span class="p">(</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;data&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="n">data</span><span class="p">)</span>
<a name="gbab-259"></a>      <span class="p">{</span>
<a name="gbab-260"></a>        <span class="s2">&quot;jekyll&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-261"></a>          <span class="s2">&quot;version&quot;</span> <span class="o">=&gt;</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">VERSION</span><span class="p">,</span>
<a name="gbab-262"></a>          <span class="s2">&quot;environment&quot;</span> <span class="o">=&gt;</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">env</span>
<a name="gbab-263"></a>        <span class="p">},</span>
<a name="gbab-264"></a>
<a name="gbab-265"></a>    <span class="c1"># The Hash payload containing site-wide data.</span>
<a name="gbab-266"></a>      <span class="c1"># then sort each array in reverse order</span>
<a name="gbab-267"></a>    <span class="c1"># Returns the Hash: { &quot;site&quot; =&gt; data } where data is a Hash with keys:</span>
<a name="gbab-268"></a>    <span class="c1">#   &quot;time&quot;       - The Time as specified in the configuration or the</span>
<a name="gbab-269"></a>        <span class="k">unless</span> <span class="nb">self</span><span class="o">.</span><span class="n">include</span><span class="o">.</span><span class="n">glob_include?</span><span class="p">(</span><span class="n">e</span><span class="p">)</span>
<a name="gbab-270"></a>    <span class="c1">#   &quot;posts&quot;      - The Array of Posts, sorted chronologically by post date</span>
<a name="gbab-271"></a>    <span class="c1">#                  and then title.</span>
<a name="gbab-272"></a>          <span class="nb">self</span><span class="o">.</span><span class="n">exclude</span><span class="o">.</span><span class="n">glob_include?</span><span class="p">(</span><span class="n">e</span><span class="p">)</span> <span class="o">||</span>
<a name="gbab-273"></a>    <span class="c1">#   &quot;html_pages&quot; - The Array of HTML Pages.</span>
<a name="gbab-274"></a>    <span class="c1">#   &quot;categories&quot; - The Hash of category values and Posts.</span>
<a name="gbab-275"></a>      <span class="no">Drops</span><span class="o">::</span><span class="no">UnifiedPayloadDrop</span><span class="o">.</span><span class="n">new</span> <span class="nb">self</span>
<a name="gbab-276"></a>          <span class="s2">&quot;version&quot;</span>    <span class="o">=&gt;</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">VERSION</span><span class="p">,</span>
<a name="gbab-277"></a>    <span class="n">alias_method</span> <span class="ss">:to_liquid</span><span class="p">,</span> <span class="ss">:site_payload</span>
<a name="gbab-278"></a>      <span class="n">exps</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">exp</span><span class="o">|</span> <span class="no">File</span><span class="o">.</span><span class="n">fnmatch?</span><span class="p">(</span><span class="n">exp</span><span class="p">,</span> <span class="n">e</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-279"></a>    <span class="c1"># Get the implementation class for the given Converter.</span>
<a name="gbab-280"></a>    <span class="c1"># Returns the Converter instance implementing the given Converter.</span>
<a name="gbab-281"></a>    <span class="c1"># klass - The Class of the Converter to fetch.</span>
<a name="gbab-282"></a>
<a name="gbab-283"></a>    <span class="k">def</span> <span class="nf">find_converter_instance</span><span class="p">(</span><span class="n">klass</span><span class="p">)</span>
<a name="gbab-284"></a>      <span class="n">converters</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">klass_</span><span class="o">|</span> <span class="n">klass_</span><span class="o">.</span><span class="n">instance_of?</span><span class="p">(</span><span class="n">klass</span><span class="p">)</span> <span class="p">}</span> <span class="o">||</span> <span class="p">\</span>
<a name="gbab-285"></a>        <span class="k">raise</span><span class="p">(</span><span class="s2">&quot;No Converters found for </span><span class="si">#{</span><span class="n">klass</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-286"></a>    <span class="k">end</span>
<a name="gbab-287"></a>
<a name="gbab-288"></a>    <span class="c1"># klass - class or module containing the subclasses.</span>
<a name="gbab-289"></a>    <span class="c1"># Returns array of instances of subclasses of parameter.</span>
<a name="gbab-290"></a>    <span class="c1"># Create array of instances of the subclasses of the class or module</span>
<a name="gbab-291"></a>    <span class="c1">#   passed in as argument.</span>
<a name="gbab-292"></a>
<a name="gbab-293"></a>    <span class="k">def</span> <span class="nf">instantiate_subclasses</span><span class="p">(</span><span class="n">klass</span><span class="p">)</span>
<a name="gbab-294"></a>      <span class="n">klass</span><span class="o">.</span><span class="n">descendants</span><span class="o">.</span><span class="n">select</span> <span class="p">{</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span> <span class="o">!</span><span class="n">safe</span> <span class="o">||</span> <span class="n">c</span><span class="o">.</span><span class="n">safe</span> <span class="p">}</span><span class="o">.</span><span class="n">sort</span><span class="o">.</span><span class="n">map</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-295"></a>        <span class="n">c</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-296"></a>      <span class="k">end</span>
<a name="gbab-297"></a>    <span class="k">end</span>
<a name="gbab-298"></a>    <span class="c1"># Warns the user if permanent links are relative to the parent</span>
<a name="gbab-299"></a>    <span class="c1"># Warns the user if permanent links are relative tot the parent</span>
<a name="gbab-300"></a>    <span class="c1"># directory. As this is a deprecated function of Jekyll.</span>
<a name="gbab-301"></a>    <span class="c1">#</span>
<a name="gbab-302"></a>    <span class="k">def</span> <span class="nf">relative_permalinks_are_deprecated</span>
<a name="gbab-303"></a>    <span class="k">def</span> <span class="nf">deprecated_rel_permalink</span>
<a name="gbab-304"></a>      <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;relative_permalinks&quot;</span><span class="o">]</span>
<a name="gbab-305"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">abort_with</span> <span class="s2">&quot;Since v3.0, permalinks for pages&quot;</span> <span class="p">\</span>
<a name="gbab-306"></a>                                <span class="s2">&quot; in subfolders must be relative to the&quot;</span> <span class="p">\</span>
<a name="gbab-307"></a>                                <span class="s2">&quot; site source directory, not the parent&quot;</span> <span class="p">\</span>
<a name="gbab-308"></a>                                <span class="s2">&quot; directory. Check https://jekyllrb.com/docs/upgrading/&quot;</span><span class="p">\</span>
<a name="gbab-309"></a>
<a name="gbab-310"></a>      <span class="sx">%w(posts pages static_files)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">type</span><span class="o">|</span>
<a name="gbab-311"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">send</span><span class="p">(</span><span class="n">type</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">item</span><span class="o">|</span>
<a name="gbab-312"></a>          <span class="k">yield</span> <span class="n">item</span>
<a name="gbab-313"></a>    <span class="c1"># Get the to be written documents</span>
<a name="gbab-314"></a>    <span class="c1">#</span>
<a name="gbab-315"></a>    <span class="c1"># Returns an Array of Documents which should be written</span>
<a name="gbab-316"></a>    <span class="k">def</span> <span class="nf">docs_to_write</span>
<a name="gbab-317"></a>      <span class="vi">@docs_to_write</span> <span class="o">||=</span> <span class="n">documents</span><span class="o">.</span><span class="n">select</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:write?</span><span class="p">)</span>
<a name="gbab-318"></a>    <span class="k">end</span>
<a name="gbab-319"></a>
<a name="gbab-320"></a>    <span class="c1"># Get all the documents</span>
<a name="gbab-321"></a>    <span class="c1">#</span>
<a name="gbab-322"></a>    <span class="c1"># Returns an Array of all Documents</span>
<a name="gbab-323"></a>    <span class="k">def</span> <span class="nf">documents</span>
<a name="gbab-324"></a>      <span class="n">collections</span><span class="o">.</span><span class="n">reduce</span><span class="p">(</span><span class="no">Set</span><span class="o">.</span><span class="n">new</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">docs</span><span class="p">,</span> <span class="p">(</span><span class="n">_</span><span class="p">,</span> <span class="n">collection</span><span class="p">)</span><span class="o">|</span>
<a name="gbab-325"></a>        <span class="n">docs</span> <span class="o">+</span> <span class="n">collection</span><span class="o">.</span><span class="n">docs</span> <span class="o">+</span> <span class="n">collection</span><span class="o">.</span><span class="n">files</span>
<a name="gbab-326"></a>      <span class="k">end</span><span class="o">.</span><span class="n">to_a</span>
<a name="gbab-327"></a>    <span class="k">end</span>
<a name="gbab-328"></a>
<a name="gbab-329"></a>    <span class="k">def</span> <span class="nf">each_site_file</span>
<a name="gbab-330"></a>      <span class="sx">%w(pages static_files docs_to_write)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">type</span><span class="o">|</span>
<a name="gbab-331"></a>        <span class="nb">send</span><span class="p">(</span><span class="n">type</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">item</span><span class="o">|</span>
<a name="gbab-332"></a>
<a name="gbab-333"></a>    <span class="kp">private</span>
<a name="gbab-334"></a>
<a name="gbab-335"></a>    <span class="k">def</span> <span class="nf">has_yaml_header?</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-336"></a>    <span class="k">def</span> <span class="nf">has_relative_page?</span>
<a name="gbab-337"></a>    <span class="c1"># Returns the FrontmatterDefaults or creates a new FrontmatterDefaults</span>
<a name="gbab-338"></a>    <span class="c1"># if it doesn&#39;t already exist.</span>
<a name="gbab-339"></a>    <span class="c1">#</span>
<a name="gbab-340"></a>    <span class="c1"># Returns The FrontmatterDefaults</span>
<a name="gbab-341"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">uses_relative_permalinks</span> <span class="p">}</span>
<a name="gbab-342"></a>      <span class="vi">@frontmatter_defaults</span> <span class="o">||=</span> <span class="no">FrontmatterDefaults</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-343"></a>
<a name="gbab-344"></a>      <span class="n">pages</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">uses_relative_permalinks</span> <span class="p">}</span>
<a name="gbab-345"></a>    <span class="c1"># Whether to perform a full rebuild without incremental regeneration</span>
<a name="gbab-346"></a>    <span class="c1">#</span>
<a name="gbab-347"></a>    <span class="c1"># Returns a Boolean: true for a full rebuild, false for normal build</span>
<a name="gbab-348"></a>    <span class="k">def</span> <span class="nf">incremental?</span><span class="p">(</span><span class="n">override</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-349"></a>      <span class="n">override</span><span class="o">[</span><span class="s2">&quot;incremental&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;incremental&quot;</span><span class="o">]</span>
<a name="gbab-350"></a>    <span class="k">end</span>
<a name="gbab-351"></a>
<a name="gbab-352"></a>    <span class="c1"># Returns the publisher or creates a new publisher if it doesn&#39;t</span>
<a name="gbab-353"></a>    <span class="c1"># already exist.</span>
<a name="gbab-354"></a>    <span class="c1">#</span>
<a name="gbab-355"></a>    <span class="c1"># Returns The Publisher</span>
<a name="gbab-356"></a>    <span class="k">def</span> <span class="nf">frontmatter_defaults</span>
<a name="gbab-357"></a>      <span class="vi">@frontmatter_defaults</span> <span class="o">||=</span> <span class="no">Configuration</span><span class="o">::</span><span class="no">FrontmatterDefaults</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-358"></a>    <span class="k">end</span>
<a name="gbab-359"></a>    <span class="k">def</span> <span class="nf">publisher</span>
<a name="gbab-360"></a>    <span class="c1"># Public: Prefix a given path with the source directory.</span>
<a name="gbab-361"></a>    <span class="c1">#</span>
<a name="gbab-362"></a>    <span class="c1"># paths - (optional) path elements to a file or directory within the</span>
<a name="gbab-363"></a>    <span class="c1">#         source directory</span>
<a name="gbab-364"></a>    <span class="c1">#</span>
<a name="gbab-365"></a>    <span class="c1"># Returns a path which is prefixed with the source directory.</span>
<a name="gbab-366"></a>    <span class="k">def</span> <span class="nf">in_source_dir</span><span class="p">(</span><span class="o">*</span><span class="n">paths</span><span class="p">)</span>
<a name="gbab-367"></a>      <span class="n">paths</span><span class="o">.</span><span class="n">reduce</span><span class="p">(</span><span class="n">source</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">base</span><span class="p">,</span> <span class="n">path</span><span class="o">|</span>
<a name="gbab-368"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">path</span><span class="p">)</span>
<a name="gbab-369"></a>      <span class="k">end</span>
<a name="gbab-370"></a>    <span class="k">end</span>
<a name="gbab-371"></a>
<a name="gbab-372"></a>    <span class="c1"># Public: Prefix a given path with the theme directory.</span>
<a name="gbab-373"></a>    <span class="c1">#</span>
<a name="gbab-374"></a>    <span class="c1"># paths - (optional) path elements to a file or directory within the</span>
<a name="gbab-375"></a>    <span class="c1">#         theme directory</span>
<a name="gbab-376"></a>    <span class="c1">#</span>
<a name="gbab-377"></a>    <span class="c1"># Returns a path which is prefixed with the theme root directory.</span>
<a name="gbab-378"></a>    <span class="k">def</span> <span class="nf">in_theme_dir</span><span class="p">(</span><span class="o">*</span><span class="n">paths</span><span class="p">)</span>
<a name="gbab-379"></a>      <span class="k">return</span> <span class="kp">nil</span> <span class="k">unless</span> <span class="n">theme</span>
<a name="gbab-380"></a>      <span class="n">paths</span><span class="o">.</span><span class="n">reduce</span><span class="p">(</span><span class="n">theme</span><span class="o">.</span><span class="n">root</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">base</span><span class="p">,</span> <span class="n">path</span><span class="o">|</span>
<a name="gbab-381"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">path</span><span class="p">)</span>
<a name="gbab-382"></a>      <span class="k">end</span>
<a name="gbab-383"></a>    <span class="k">end</span>
<a name="gbab-384"></a>
<a name="gbab-385"></a>    <span class="c1"># Public: Prefix a given path with the destination directory.</span>
<a name="gbab-386"></a>    <span class="c1">#</span>
<a name="gbab-387"></a>    <span class="c1"># paths - (optional) path elements to a file or directory within the</span>
<a name="gbab-388"></a>    <span class="c1">#         destination directory</span>
<a name="gbab-389"></a>    <span class="c1">#</span>
<a name="gbab-390"></a>    <span class="c1"># Returns a path which is prefixed with the destination directory.</span>
<a name="gbab-391"></a>    <span class="k">def</span> <span class="nf">in_dest_dir</span><span class="p">(</span><span class="o">*</span><span class="n">paths</span><span class="p">)</span>
<a name="gbab-392"></a>      <span class="n">paths</span><span class="o">.</span><span class="n">reduce</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">base</span><span class="p">,</span> <span class="n">path</span><span class="o">|</span>
<a name="gbab-393"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">path</span><span class="p">)</span>
<a name="gbab-394"></a>      <span class="k">end</span>
<a name="gbab-395"></a>    <span class="k">end</span>
<a name="gbab-396"></a>
<a name="gbab-397"></a>    <span class="c1"># Public: The full path to the directory that houses all the collections registered</span>
<a name="gbab-398"></a>    <span class="c1"># with the current site.</span>
<a name="gbab-399"></a>    <span class="c1">#</span>
<a name="gbab-400"></a>    <span class="c1"># Returns the source directory or the absolute path to the custom collections_dir</span>
<a name="gbab-401"></a>    <span class="k">def</span> <span class="nf">collections_path</span>
<a name="gbab-402"></a>      <span class="n">dir_str</span> <span class="o">=</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections_dir&quot;</span><span class="o">]</span>
<a name="gbab-403"></a>      <span class="vi">@collections_path</span> <span class="o">||=</span> <span class="n">dir_str</span><span class="o">.</span><span class="n">empty?</span> <span class="p">?</span> <span class="n">source</span> <span class="p">:</span> <span class="n">in_source_dir</span><span class="p">(</span><span class="n">dir_str</span><span class="p">)</span>
<a name="gbab-404"></a>    <span class="k">end</span>
<a name="gbab-405"></a>
<a name="gbab-406"></a>    <span class="c1"># Limits the current posts; removes the posts which exceed the limit_posts</span>
<a name="gbab-407"></a>    <span class="c1">#</span>
<a name="gbab-408"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-409"></a>    <span class="kp">private</span>
<a name="gbab-410"></a>    <span class="k">def</span> <span class="nf">limit_posts!</span>
<a name="gbab-411"></a>      <span class="k">if</span> <span class="n">limit_posts</span> <span class="o">&gt;</span> <span class="mi">0</span>
<a name="gbab-412"></a>        <span class="n">limit</span> <span class="o">=</span> <span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">length</span> <span class="o">&lt;</span> <span class="n">limit_posts</span> <span class="p">?</span> <span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">length</span> <span class="p">:</span> <span class="n">limit_posts</span>
<a name="gbab-413"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span> <span class="o">=</span> <span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">[-</span><span class="n">limit</span><span class="p">,</span> <span class="n">limit</span><span class="o">]</span>
<a name="gbab-414"></a>      <span class="k">end</span>
<a name="gbab-415"></a>
<a name="gbab-416"></a>    <span class="c1"># Returns the Cleaner or creates a new Cleaner if it doesn&#39;t</span>
<a name="gbab-417"></a>    <span class="c1"># already exist.</span>
<a name="gbab-418"></a>    <span class="c1">#</span>
<a name="gbab-419"></a>    <span class="c1"># Returns The Cleaner</span>
<a name="gbab-420"></a>    <span class="k">def</span> <span class="nf">site_cleaner</span>
<a name="gbab-421"></a>    <span class="kp">private</span>
<a name="gbab-422"></a>      <span class="vi">@site_cleaner</span> <span class="o">||=</span> <span class="no">Cleaner</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-423"></a>    <span class="k">end</span>
<a name="gbab-424"></a>    <span class="k">end</span>
<a name="gbab-425"></a>
<a name="gbab-426"></a>    <span class="kp">private</span>
<a name="gbab-427"></a>    <span class="k">def</span> <span class="nf">configure_plugins</span>
<a name="gbab-428"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">plugin_manager</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">PluginManager</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-429"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">plugins</span>        <span class="o">=</span> <span class="n">plugin_manager</span><span class="o">.</span><span class="n">plugins_path</span>
<a name="gbab-430"></a>    <span class="k">end</span>
<a name="gbab-431"></a>
<a name="gbab-432"></a>    <span class="kp">private</span>
<a name="gbab-433"></a>    <span class="k">def</span> <span class="nf">configure_theme</span>
<a name="gbab-434"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">theme</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-435"></a>      <span class="k">return</span> <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;theme&quot;</span><span class="o">].</span><span class="n">nil?</span>
<a name="gbab-436"></a>
<a name="gbab-437"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">theme</span> <span class="o">=</span>
<a name="gbab-438"></a>      <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;theme&quot;</span><span class="o">].</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">String</span><span class="p">)</span>
<a name="gbab-439"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">Theme</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;theme&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-440"></a>      <span class="k">else</span>
<a name="gbab-441"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Theme:&quot;</span><span class="p">,</span> <span class="s2">&quot;value of &#39;theme&#39; in config should be &quot;</span> <span class="p">\</span>
<a name="gbab-442"></a>          <span class="s2">&quot;String to use gem-based themes, but got </span><span class="si">#{</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;theme&quot;</span><span class="o">].</span><span class="n">class</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-443"></a>          <span class="kp">nil</span>
<a name="gbab-444"></a>      <span class="k">end</span>
<a name="gbab-445"></a>    <span class="k">end</span>
<a name="gbab-446"></a>
<a name="gbab-447"></a>    <span class="kp">private</span>
<a name="gbab-448"></a>    <span class="k">def</span> <span class="nf">configure_include_paths</span>
<a name="gbab-449"></a>      <span class="vi">@includes_load_paths</span> <span class="o">=</span> <span class="nb">Array</span><span class="p">(</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;includes_dir&quot;</span><span class="o">].</span><span class="n">to_s</span><span class="p">))</span>
<a name="gbab-450"></a>      <span class="vi">@includes_load_paths</span> <span class="o">&lt;&lt;</span> <span class="n">theme</span><span class="o">.</span><span class="n">includes_path</span> <span class="k">if</span> <span class="n">theme</span> <span class="o">&amp;&amp;</span> <span class="n">theme</span><span class="o">.</span><span class="n">includes_path</span>
<a name="gbab-451"></a>    <span class="k">end</span>
<a name="gbab-452"></a>
<a name="gbab-453"></a>    <span class="kp">private</span>
<a name="gbab-454"></a>    <span class="k">def</span> <span class="nf">configure_file_read_opts</span>
<a name="gbab-455"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">file_read_opts</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-456"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">file_read_opts</span><span class="o">[</span><span class="ss">:encoding</span><span class="o">]</span> <span class="o">=</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">]</span> <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">]</span>
<a name="gbab-457"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">file_read_opts</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">merged_file_read_opts</span><span class="p">(</span><span class="nb">self</span><span class="p">,</span> <span class="p">{})</span>
<a name="gbab-458"></a>    <span class="k">end</span>
<a name="gbab-459"></a>
<a name="gbab-460"></a>    <span class="kp">private</span>
<a name="gbab-461"></a>    <span class="k">def</span> <span class="nf">render_docs</span><span class="p">(</span><span class="n">payload</span><span class="p">)</span>
<a name="gbab-462"></a>      <span class="n">collections</span><span class="o">.</span><span class="n">each_value</span> <span class="k">do</span> <span class="o">|</span><span class="n">collection</span><span class="o">|</span>
<a name="gbab-463"></a>        <span class="n">collection</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">document</span><span class="o">|</span>
<a name="gbab-464"></a>          <span class="n">render_regenerated</span><span class="p">(</span><span class="n">document</span><span class="p">,</span> <span class="n">payload</span><span class="p">)</span>
<a name="gbab-465"></a>        <span class="k">end</span>
<a name="gbab-466"></a>      <span class="k">end</span>
<a name="gbab-467"></a>    <span class="k">end</span>
<a name="gbab-468"></a>
<a name="gbab-469"></a>    <span class="kp">private</span>
<a name="gbab-470"></a>    <span class="k">def</span> <span class="nf">render_pages</span><span class="p">(</span><span class="n">payload</span><span class="p">)</span>
<a name="gbab-471"></a>      <span class="n">pages</span><span class="o">.</span><span class="n">flatten</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span>
<a name="gbab-472"></a>        <span class="n">render_regenerated</span><span class="p">(</span><span class="n">page</span><span class="p">,</span> <span class="n">payload</span><span class="p">)</span>
<a name="gbab-473"></a>        <span class="k">end</span>
<a name="gbab-474"></a>      <span class="k">end</span>
<a name="gbab-475"></a>
<a name="gbab-476"></a>    <span class="kp">private</span>
<a name="gbab-477"></a>    <span class="k">def</span> <span class="nf">render_regenerated</span><span class="p">(</span><span class="n">document</span><span class="p">,</span> <span class="n">payload</span><span class="p">)</span>
<a name="gbab-478"></a>      <span class="k">return</span> <span class="k">unless</span> <span class="n">regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="n">document</span><span class="p">)</span>
<a name="gbab-479"></a>      <span class="n">document</span><span class="o">.</span><span class="n">output</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Renderer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">,</span> <span class="n">document</span><span class="p">,</span> <span class="n">payload</span><span class="p">)</span><span class="o">.</span><span class="n">run</span>
<a name="gbab-480"></a>      <span class="n">document</span><span class="o">.</span><span class="n">trigger_hooks</span><span class="p">(</span><span class="ss">:post_render</span><span class="p">)</span>
<a name="gbab-481"></a>    <span class="k">end</span>
<a name="gbab-482"></a>      <span class="k">end</span>
<a name="gbab-483"></a>    <span class="k">end</span>
<a name="gbab-484"></a>          <span class="c1"># Reject backup/hidden</span>
<a name="gbab-485"></a>      <span class="vi">@site_cleaner</span> <span class="o">||=</span> <span class="no">Cleaner</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-486"></a>    <span class="k">end</span>
<a name="gbab-487"></a>    <span class="c1">#</span>
<a name="gbab-488"></a>    <span class="c1"># {&quot;paginator&quot; =&gt; { &quot;page&quot; =&gt; &lt;Number&gt;,</span>
<a name="gbab-489"></a>    <span class="c1">#                   &quot;per_page&quot; =&gt; &lt;Number&gt;,</span>
<a name="gbab-490"></a><span class="k">end</span>
</pre></div>
</td></tr></table>