<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestCleaner</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;directory in keep_files&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="n">clear_dest</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;to_keep/child_dir&quot;</span><span class="p">))</span>
<a name="gbab-11"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">touch</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;to_keep&quot;</span><span class="p">),</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-12"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">touch</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;to_keep/child_dir&quot;</span><span class="p">),</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-15"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">keep_files</span> <span class="o">=</span> <span class="o">[</span><span class="s2">&quot;to_keep/child_dir&quot;</span><span class="o">]</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>      <span class="vi">@cleaner</span> <span class="o">=</span> <span class="no">Cleaner</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-18"></a>      <span class="vi">@cleaner</span><span class="o">.</span><span class="n">cleanup!</span>
<a name="gbab-19"></a>    <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>    <span class="n">teardown</span> <span class="k">do</span>
<a name="gbab-22"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;to_keep&quot;</span><span class="p">))</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="n">should</span> <span class="s2">&quot;keep the parent directory&quot;</span> <span class="k">do</span>
<a name="gbab-26"></a>      <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;to_keep&quot;</span><span class="p">)</span>
<a name="gbab-27"></a>    <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>    <span class="n">should</span> <span class="s2">&quot;keep the child directory&quot;</span> <span class="k">do</span>
<a name="gbab-30"></a>      <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;to_keep&quot;</span><span class="p">,</span> <span class="s2">&quot;child_dir&quot;</span><span class="p">)</span>
<a name="gbab-31"></a>    <span class="k">end</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>    <span class="n">should</span> <span class="s2">&quot;keep the file in the directory in keep_files&quot;</span> <span class="k">do</span>
<a name="gbab-34"></a>      <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;to_keep&quot;</span><span class="p">,</span> <span class="s2">&quot;child_dir&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-35"></a>    <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>    <span class="n">should</span> <span class="s2">&quot;delete the file in the directory not in keep_files&quot;</span> <span class="k">do</span>
<a name="gbab-38"></a>      <span class="n">refute_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;to_keep&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-39"></a>    <span class="k">end</span>
<a name="gbab-40"></a>  <span class="k">end</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>  <span class="n">context</span> <span class="s2">&quot;non-nested directory &amp; similarly-named directory *not* in keep_files&quot;</span> <span class="k">do</span>
<a name="gbab-43"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-44"></a>      <span class="n">clear_dest</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;.git/child_dir&quot;</span><span class="p">))</span>
<a name="gbab-47"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;username.github.io&quot;</span><span class="p">))</span>
<a name="gbab-48"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">touch</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;.git&quot;</span><span class="p">),</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-49"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">touch</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;username.github.io&quot;</span><span class="p">),</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-52"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">keep_files</span> <span class="o">=</span> <span class="o">[</span><span class="s2">&quot;.git&quot;</span><span class="o">]</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>      <span class="vi">@cleaner</span> <span class="o">=</span> <span class="no">Cleaner</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-55"></a>      <span class="vi">@cleaner</span><span class="o">.</span><span class="n">cleanup!</span>
<a name="gbab-56"></a>    <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>    <span class="n">teardown</span> <span class="k">do</span>
<a name="gbab-59"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;.git&quot;</span><span class="p">))</span>
<a name="gbab-60"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;username.github.io&quot;</span><span class="p">))</span>
<a name="gbab-61"></a>    <span class="k">end</span>
<a name="gbab-62"></a>      <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s1">&#39;no_files_inside&#39;</span><span class="p">)</span>
<a name="gbab-63"></a>    <span class="n">should</span> <span class="s2">&quot;keep the file in the directory in keep_files&quot;</span> <span class="k">do</span>
<a name="gbab-64"></a>      <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;.git&quot;</span><span class="p">),</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-65"></a>    <span class="k">end</span>
<a name="gbab-66"></a>      <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s1">&#39;no_files_inside&#39;</span><span class="p">,</span> <span class="s1">&#39;child_dir&#39;</span><span class="p">)</span>
<a name="gbab-67"></a>    <span class="n">should</span> <span class="s2">&quot;delete the file in the directory not in keep_files&quot;</span> <span class="k">do</span>
<a name="gbab-68"></a>      <span class="n">assert</span> <span class="o">!</span><span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;username.github.io&quot;</span><span class="p">),</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-69"></a>    <span class="k">end</span>
<a name="gbab-70"></a>      <span class="n">assert_exist</span> <span class="n">source_dir</span><span class="p">(</span><span class="s1">&#39;no_files_inside&#39;</span><span class="p">,</span> <span class="s1">&#39;child_dir&#39;</span><span class="p">,</span> <span class="s1">&#39;index.html&#39;</span><span class="p">)</span>
<a name="gbab-71"></a>    <span class="n">should</span> <span class="s2">&quot;delete the directory not in keep_files&quot;</span> <span class="k">do</span>
<a name="gbab-72"></a>      <span class="n">assert</span> <span class="o">!</span><span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;username.github.io&quot;</span><span class="p">))</span>
<a name="gbab-73"></a>    <span class="k">end</span>
<a name="gbab-74"></a>  <span class="k">end</span>
<a name="gbab-75"></a>
<a name="gbab-76"></a>  <span class="n">context</span> <span class="s2">&quot;directory containing no files and non-empty directories&quot;</span> <span class="k">do</span>
<a name="gbab-77"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-78"></a>      <span class="n">clear_dest</span>
<a name="gbab-79"></a>
<a name="gbab-80"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;no_files_inside&quot;</span><span class="p">,</span> <span class="s2">&quot;child_dir&quot;</span><span class="p">))</span>
<a name="gbab-81"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">touch</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;no_files_inside&quot;</span><span class="p">,</span> <span class="s2">&quot;child_dir&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-82"></a>
<a name="gbab-83"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-84"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-85"></a>
<a name="gbab-86"></a>      <span class="vi">@cleaner</span> <span class="o">=</span> <span class="no">Cleaner</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-87"></a>      <span class="vi">@cleaner</span><span class="o">.</span><span class="n">cleanup!</span>
<a name="gbab-88"></a>    <span class="k">end</span>
<a name="gbab-89"></a>
<a name="gbab-90"></a>    <span class="n">teardown</span> <span class="k">do</span>
<a name="gbab-91"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;no_files_inside&quot;</span><span class="p">))</span>
<a name="gbab-92"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;no_files_inside&quot;</span><span class="p">))</span>
<a name="gbab-93"></a>    <span class="k">end</span>
<a name="gbab-94"></a>
<a name="gbab-95"></a>    <span class="n">should</span> <span class="s2">&quot;keep the parent directory&quot;</span> <span class="k">do</span>
<a name="gbab-96"></a>      <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;no_files_inside&quot;</span><span class="p">)</span>
<a name="gbab-97"></a>    <span class="k">end</span>
<a name="gbab-98"></a>
<a name="gbab-99"></a>    <span class="n">should</span> <span class="s2">&quot;keep the child directory&quot;</span> <span class="k">do</span>
<a name="gbab-100"></a>      <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;no_files_inside&quot;</span><span class="p">,</span> <span class="s2">&quot;child_dir&quot;</span><span class="p">)</span>
<a name="gbab-101"></a>    <span class="k">end</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a>    <span class="n">should</span> <span class="s2">&quot;keep the file&quot;</span> <span class="k">do</span>
<a name="gbab-104"></a>      <span class="n">assert_exist</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;no_files_inside&quot;</span><span class="p">,</span> <span class="s2">&quot;child_dir&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-105"></a>    <span class="k">end</span>
<a name="gbab-106"></a>  <span class="k">end</span>
<a name="gbab-107"></a><span class="k">end</span>
</pre></div>
</td></tr></table>