<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestCoffeeScript</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;converting CoffeeScript&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="s2">&quot;jekyll-coffeescript&quot;</span><span class="p">)</span>
<a name="gbab-9"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-10"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-11"></a>      <span class="vi">@test_coffeescript_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;js/coffeescript.js&quot;</span><span class="p">)</span>
<a name="gbab-12"></a>      <span class="vi">@js_output</span> <span class="o">=</span> <span class="o">&lt;&lt;-</span><span class="no">JS</span>
<a name="gbab-13"></a><span class="sh">(function() {</span>
<a name="gbab-14"></a><span class="sh">  $(function() {</span>
<a name="gbab-15"></a><span class="sh">    var cube, cubes, list, num, square;</span>
<a name="gbab-16"></a><span class="sh">    list = [1, 2, 3, 4, 5];</span>
<a name="gbab-17"></a><span class="sh">    square = function(x) {</span>
<a name="gbab-18"></a><span class="sh">      return x * x;</span>
<a name="gbab-19"></a><span class="sh">    };</span>
<a name="gbab-20"></a><span class="sh">    cube = function(x) {</span>
<a name="gbab-21"></a><span class="sh">      return square(x) * x;</span>
<a name="gbab-22"></a><span class="sh">    };</span>
<a name="gbab-23"></a><span class="sh">    cubes = (function() {</span>
<a name="gbab-24"></a><span class="sh">      var i, len, results;</span>
<a name="gbab-25"></a><span class="sh">      results = [];</span>
<a name="gbab-26"></a><span class="sh">      for (i = 0, len = list.length; i &lt; len; i++) {</span>
<a name="gbab-27"></a><span class="sh">        num = list[i];</span>
<a name="gbab-28"></a><span class="sh">        results.push(math.cube(num));</span>
<a name="gbab-29"></a><span class="sh">      }</span>
<a name="gbab-30"></a><span class="sh">      return results;</span>
<a name="gbab-31"></a><span class="sh">    })();</span>
<a name="gbab-32"></a><span class="sh">    if (typeof elvis !== &quot;undefined&quot; &amp;&amp; elvis !== null) {</span>
<a name="gbab-33"></a><span class="sh">      return alert(&quot;I knew it!&quot;);</span>
<a name="gbab-34"></a><span class="sh">    }</span>
<a name="gbab-35"></a><span class="sh">  });</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a><span class="sh">}).call(this);</span>
<a name="gbab-38"></a><span class="no">JS</span>
<a name="gbab-39"></a>    <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>    <span class="n">should</span> <span class="s2">&quot;write a JS file in place&quot;</span> <span class="k">do</span>
<a name="gbab-42"></a>      <span class="n">assert_exist</span> <span class="vi">@test_coffeescript_file</span>
<a name="gbab-43"></a>    <span class="k">end</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>    <span class="n">should</span> <span class="s2">&quot;produce JS&quot;</span> <span class="k">do</span>
<a name="gbab-46"></a>      <span class="n">assert_equal</span> <span class="vi">@js_output</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="vi">@test_coffeescript_file</span><span class="p">)</span>
<a name="gbab-47"></a>    <span class="k">end</span>
<a name="gbab-48"></a>  <span class="k">end</span>
<a name="gbab-49"></a><span class="k">end</span>
</pre></div>
</td></tr></table>