<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Commands</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">Clean</span> <span class="o">&lt;</span> <span class="no">Command</span>
<a name="gbab-6"></a>      <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-7"></a>        <span class="k">def</span> <span class="nf">init_with_program</span><span class="p">(</span><span class="n">prog</span><span class="p">)</span>
<a name="gbab-8"></a>          <span class="n">prog</span><span class="o">.</span><span class="n">command</span><span class="p">(</span><span class="ss">:clean</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-9"></a>            <span class="n">c</span><span class="o">.</span><span class="n">syntax</span> <span class="s2">&quot;clean [subcommand]&quot;</span>
<a name="gbab-10"></a>            <span class="n">c</span><span class="o">.</span><span class="n">description</span> <span class="s2">&quot;Clean the site &quot;</span> <span class="p">\</span>
<a name="gbab-11"></a>                  <span class="s2">&quot;(removes site output and metadata file) without building.&quot;</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>            <span class="n">add_build_options</span><span class="p">(</span><span class="n">c</span><span class="p">)</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>            <span class="n">c</span><span class="o">.</span><span class="n">action</span> <span class="k">do</span> <span class="o">|</span><span class="n">_</span><span class="p">,</span> <span class="n">options</span><span class="o">|</span>
<a name="gbab-16"></a>              <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">Clean</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-17"></a>            <span class="k">end</span>
<a name="gbab-18"></a>          <span class="k">end</span>
<a name="gbab-19"></a>        <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>        <span class="k">def</span> <span class="nf">process</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-22"></a>          <span class="n">options</span> <span class="o">=</span> <span class="n">configuration_from_options</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-23"></a>          <span class="n">destination</span> <span class="o">=</span> <span class="n">options</span><span class="o">[</span><span class="s2">&quot;destination&quot;</span><span class="o">]</span>
<a name="gbab-24"></a>          <span class="n">metadata_file</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">options</span><span class="o">[</span><span class="s2">&quot;source&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;.jekyll-metadata&quot;</span><span class="p">)</span>
<a name="gbab-25"></a>          <span class="n">sass_cache</span> <span class="o">=</span> <span class="s2">&quot;.sass-cache&quot;</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>          <span class="n">remove</span><span class="p">(</span><span class="n">destination</span><span class="p">,</span> <span class="ss">:checker_func</span> <span class="o">=&gt;</span> <span class="ss">:directory?</span><span class="p">)</span>
<a name="gbab-28"></a>          <span class="n">remove</span><span class="p">(</span><span class="n">metadata_file</span><span class="p">,</span> <span class="ss">:checker_func</span> <span class="o">=&gt;</span> <span class="ss">:file?</span><span class="p">)</span>
<a name="gbab-29"></a>          <span class="n">remove</span><span class="p">(</span><span class="n">sass_cache</span><span class="p">,</span> <span class="ss">:checker_func</span> <span class="o">=&gt;</span> <span class="ss">:directory?</span><span class="p">)</span>
<a name="gbab-30"></a>          <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>        <span class="k">def</span> <span class="nf">remove</span><span class="p">(</span><span class="n">filename</span><span class="p">,</span> <span class="ss">checker_func</span><span class="p">:</span> <span class="ss">:file?</span><span class="p">)</span>
<a name="gbab-33"></a>          <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">public_send</span><span class="p">(</span><span class="n">checker_func</span><span class="p">,</span> <span class="n">filename</span><span class="p">)</span>
<a name="gbab-34"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Cleaner:&quot;</span><span class="p">,</span> <span class="s2">&quot;Removing </span><span class="si">#{</span><span class="n">filename</span><span class="si">}</span><span class="s2">...&quot;</span>
<a name="gbab-35"></a>            <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-36"></a>          <span class="k">else</span>
<a name="gbab-37"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Cleaner:&quot;</span><span class="p">,</span> <span class="s2">&quot;Nothing to do for </span><span class="si">#{</span><span class="n">filename</span><span class="si">}</span><span class="s2">.&quot;</span>
<a name="gbab-38"></a>          <span class="k">end</span>
<a name="gbab-39"></a>        <span class="k">end</span>
<a name="gbab-40"></a>      <span class="k">end</span>
<a name="gbab-41"></a>    <span class="k">end</span>
<a name="gbab-42"></a>  <span class="k">end</span>
<a name="gbab-43"></a><span class="k">end</span>
</pre></div>
</td></tr></table>