<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestCommand</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;when calling .add_build_options&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">should</span> <span class="s2">&quot;add common options&quot;</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="n">cmd</span> <span class="o">=</span> <span class="no">Object</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-9"></a>      <span class="n">mocks_expect</span><span class="p">(</span><span class="n">cmd</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:option</span><span class="p">)</span><span class="o">.</span><span class="n">at_least</span><span class="p">(</span><span class="ss">:once</span><span class="p">)</span>
<a name="gbab-10"></a>      <span class="no">Command</span><span class="o">.</span><span class="n">add_build_options</span><span class="p">(</span><span class="n">cmd</span><span class="p">)</span>
<a name="gbab-11"></a>    <span class="k">end</span>
<a name="gbab-12"></a>  <span class="k">end</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>  <span class="n">context</span> <span class="s2">&quot;when calling .process_site&quot;</span> <span class="k">do</span>
<a name="gbab-15"></a>    <span class="n">context</span> <span class="s2">&quot;when fatal error occurs&quot;</span> <span class="k">do</span>
<a name="gbab-16"></a>      <span class="n">should</span> <span class="s2">&quot;exit with non-zero error code&quot;</span> <span class="k">do</span>
<a name="gbab-17"></a>        <span class="n">site</span> <span class="o">=</span> <span class="no">Object</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-18"></a>        <span class="k">def</span> <span class="nc">site</span><span class="o">.</span><span class="nf">process</span><span class="p">;</span> <span class="k">raise</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">FatalException</span><span class="p">;</span> <span class="k">end</span>
<a name="gbab-19"></a>        <span class="n">error</span> <span class="o">=</span> <span class="n">assert_raises</span><span class="p">(</span><span class="no">SystemExit</span><span class="p">)</span> <span class="p">{</span> <span class="no">Command</span><span class="o">.</span><span class="n">process_site</span><span class="p">(</span><span class="n">site</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-20"></a>        <span class="n">refute_equal</span> <span class="mi">0</span><span class="p">,</span> <span class="n">error</span><span class="o">.</span><span class="n">status</span>
<a name="gbab-21"></a>      <span class="k">end</span>
<a name="gbab-22"></a>    <span class="k">end</span>
<a name="gbab-23"></a>  <span class="k">end</span>
<a name="gbab-24"></a><span class="k">end</span>
</pre></div>
</td></tr></table>