<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestDataReader</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;#sanitize_filename&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@reader</span> <span class="o">=</span> <span class="no">DataReader</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">fixture_site</span><span class="p">)</span>
<a name="gbab-9"></a>    <span class="k">end</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>    <span class="n">should</span> <span class="s2">&quot;remove evil characters&quot;</span> <span class="k">do</span>
<a name="gbab-12"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;helpwhathaveIdone&quot;</span><span class="p">,</span> <span class="vi">@reader</span><span class="o">.</span><span class="n">sanitize_filename</span><span class="p">(</span>
<a name="gbab-13"></a>        <span class="s2">&quot;help/what^&amp;$^#*(!^%*!#haveId&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;one&quot;</span>
<a name="gbab-14"></a>      <span class="p">)</span>
<a name="gbab-15"></a>    <span class="k">end</span>
<a name="gbab-16"></a>  <span class="k">end</span>
<a name="gbab-17"></a><span class="k">end</span>
</pre></div>
</td></tr></table>