<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">DropFixture</span> <span class="o">&lt;</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Drops</span><span class="o">::</span><span class="no">Drop</span>
<a name="gbab-6"></a>  <span class="n">mutable</span> <span class="kp">true</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>  <span class="k">def</span> <span class="nf">foo</span>
<a name="gbab-9"></a>    <span class="s2">&quot;bar&quot;</span>
<a name="gbab-10"></a>  <span class="k">end</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>  <span class="k">def</span> <span class="nf">fallback_data</span>
<a name="gbab-13"></a>    <span class="vi">@fallback_data</span> <span class="o">||=</span> <span class="p">{</span> <span class="s2">&quot;baz&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;buzz&quot;</span> <span class="p">}</span>
<a name="gbab-14"></a>  <span class="k">end</span>
<a name="gbab-15"></a><span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a><span class="k">class</span> <span class="nc">TestDrop</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-18"></a>  <span class="n">context</span> <span class="s2">&quot;Drops&quot;</span> <span class="k">do</span>
<a name="gbab-19"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-20"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-21"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-22"></a>      <span class="p">})</span>
<a name="gbab-23"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-24"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">detect</span> <span class="k">do</span> <span class="o">|</span><span class="n">d</span><span class="o">|</span>
<a name="gbab-25"></a>        <span class="n">d</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_methods/configuration.md&quot;</span>
<a name="gbab-26"></a>      <span class="k">end</span>
<a name="gbab-27"></a>      <span class="vi">@document_drop</span> <span class="o">=</span> <span class="vi">@document</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-28"></a>      <span class="vi">@drop</span> <span class="o">=</span> <span class="no">DropFixture</span><span class="o">.</span><span class="n">new</span><span class="p">({})</span>
<a name="gbab-29"></a>    <span class="k">end</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a>    <span class="n">should</span> <span class="s2">&quot;reject &#39;nil&#39; key&quot;</span> <span class="k">do</span>
<a name="gbab-32"></a>      <span class="n">refute</span> <span class="vi">@drop</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="kp">nil</span><span class="p">)</span>
<a name="gbab-33"></a>    <span class="k">end</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>    <span class="n">should</span> <span class="s2">&quot;return values for #[]&quot;</span> <span class="k">do</span>
<a name="gbab-36"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="vi">@drop</span><span class="o">[</span><span class="s2">&quot;foo&quot;</span><span class="o">]</span>
<a name="gbab-37"></a>    <span class="k">end</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>    <span class="n">should</span> <span class="s2">&quot;return values for #invoke_drop&quot;</span> <span class="k">do</span>
<a name="gbab-40"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="vi">@drop</span><span class="o">.</span><span class="n">invoke_drop</span><span class="p">(</span><span class="s2">&quot;foo&quot;</span><span class="p">)</span>
<a name="gbab-41"></a>    <span class="k">end</span>
<a name="gbab-42"></a>
<a name="gbab-43"></a>    <span class="n">context</span> <span class="s2">&quot;mutations&quot;</span> <span class="k">do</span>
<a name="gbab-44"></a>      <span class="n">should</span> <span class="s2">&quot;return mutations for #[]&quot;</span> <span class="k">do</span>
<a name="gbab-45"></a>        <span class="vi">@drop</span><span class="o">[</span><span class="s2">&quot;foo&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;baz&quot;</span>
<a name="gbab-46"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;baz&quot;</span><span class="p">,</span> <span class="vi">@drop</span><span class="o">[</span><span class="s2">&quot;foo&quot;</span><span class="o">]</span>
<a name="gbab-47"></a>      <span class="k">end</span>
<a name="gbab-48"></a>
<a name="gbab-49"></a>      <span class="n">should</span> <span class="s2">&quot;return mutations for #invoke_drop&quot;</span> <span class="k">do</span>
<a name="gbab-50"></a>        <span class="vi">@drop</span><span class="o">[</span><span class="s2">&quot;foo&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;baz&quot;</span>
<a name="gbab-51"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;baz&quot;</span><span class="p">,</span> <span class="vi">@drop</span><span class="o">.</span><span class="n">invoke_drop</span><span class="p">(</span><span class="s2">&quot;foo&quot;</span><span class="p">)</span>
<a name="gbab-52"></a>      <span class="k">end</span>
<a name="gbab-53"></a>    <span class="k">end</span>
<a name="gbab-54"></a>
<a name="gbab-55"></a>    <span class="n">context</span> <span class="s2">&quot;a document drop&quot;</span> <span class="k">do</span>
<a name="gbab-56"></a>    <span class="n">context</span> <span class="s2">&quot;fetch&quot;</span> <span class="k">do</span>
<a name="gbab-57"></a>    <span class="n">should</span> <span class="s2">&quot;raise KeyError if key is not found and no default provided&quot;</span> <span class="k">do</span>
<a name="gbab-58"></a>      <span class="n">assert_raises</span> <span class="no">KeyError</span> <span class="k">do</span>
<a name="gbab-59"></a>          <span class="vi">@document_drop</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;not_existing_key&quot;</span><span class="p">)</span>
<a name="gbab-60"></a>      <span class="k">end</span>
<a name="gbab-61"></a>    <span class="k">end</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>    <span class="n">should</span> <span class="s2">&quot;fetch value without default&quot;</span> <span class="k">do</span>
<a name="gbab-64"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;Jekyll.configuration&quot;</span><span class="p">,</span> <span class="vi">@document_drop</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;title&quot;</span><span class="p">)</span>
<a name="gbab-65"></a>    <span class="k">end</span>
<a name="gbab-66"></a>
<a name="gbab-67"></a>    <span class="n">should</span> <span class="s2">&quot;fetch default if key is not found&quot;</span> <span class="k">do</span>
<a name="gbab-68"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;default&quot;</span><span class="p">,</span> <span class="vi">@document_drop</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;not_existing_key&quot;</span><span class="p">,</span> <span class="s2">&quot;default&quot;</span><span class="p">)</span>
<a name="gbab-69"></a>    <span class="k">end</span>
<a name="gbab-70"></a>
<a name="gbab-71"></a>    <span class="n">should</span> <span class="s2">&quot;fetch default boolean value correctly&quot;</span> <span class="k">do</span>
<a name="gbab-72"></a>        <span class="n">assert_equal</span> <span class="kp">false</span><span class="p">,</span> <span class="vi">@document_drop</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-73"></a>    <span class="k">end</span>
<a name="gbab-74"></a>
<a name="gbab-75"></a>    <span class="n">should</span> <span class="s2">&quot;fetch default value from block if key is not found&quot;</span> <span class="k">do</span>
<a name="gbab-76"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;default bar&quot;</span><span class="p">,</span> <span class="vi">@document_drop</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;bar&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">el</span><span class="o">|</span> <span class="s2">&quot;default </span><span class="si">#{</span><span class="n">el</span><span class="si">}</span><span class="s2">&quot;</span> <span class="p">}</span>
<a name="gbab-77"></a>    <span class="k">end</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>    <span class="n">should</span> <span class="s2">&quot;fetch default value from block first if both argument and block given&quot;</span> <span class="k">do</span>
<a name="gbab-80"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;baz&quot;</span><span class="p">,</span> <span class="vi">@document_drop</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;default&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="s2">&quot;baz&quot;</span> <span class="p">}</span>
<a name="gbab-81"></a>      <span class="k">end</span>
<a name="gbab-82"></a>
<a name="gbab-83"></a>      <span class="n">should</span> <span class="s2">&quot;not change mutability when fetching&quot;</span> <span class="k">do</span>
<a name="gbab-84"></a>        <span class="n">assert</span> <span class="vi">@drop</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">mutable?</span>
<a name="gbab-85"></a>        <span class="vi">@drop</span><span class="o">[</span><span class="s2">&quot;foo&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;baz&quot;</span>
<a name="gbab-86"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;baz&quot;</span><span class="p">,</span> <span class="vi">@drop</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;foo&quot;</span><span class="p">)</span>
<a name="gbab-87"></a>        <span class="n">assert</span> <span class="vi">@drop</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">mutable?</span>
<a name="gbab-88"></a>      <span class="k">end</span>
<a name="gbab-89"></a>    <span class="k">end</span>
<a name="gbab-90"></a>  <span class="k">end</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>    <span class="n">context</span> <span class="s2">&quot;key?&quot;</span> <span class="k">do</span>
<a name="gbab-93"></a>      <span class="n">context</span> <span class="s2">&quot;a mutable drop&quot;</span> <span class="k">do</span>
<a name="gbab-94"></a>        <span class="n">should</span> <span class="s2">&quot;respond true for native methods&quot;</span> <span class="k">do</span>
<a name="gbab-95"></a>          <span class="n">assert</span> <span class="vi">@drop</span><span class="o">.</span><span class="n">key?</span> <span class="s2">&quot;foo&quot;</span>
<a name="gbab-96"></a>        <span class="k">end</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a>        <span class="n">should</span> <span class="s2">&quot;respond true for mutable keys&quot;</span> <span class="k">do</span>
<a name="gbab-99"></a>          <span class="vi">@drop</span><span class="o">[</span><span class="s2">&quot;bar&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;baz&quot;</span>
<a name="gbab-100"></a>          <span class="n">assert</span> <span class="vi">@drop</span><span class="o">.</span><span class="n">key?</span> <span class="s2">&quot;bar&quot;</span>
<a name="gbab-101"></a>        <span class="k">end</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a>        <span class="n">should</span> <span class="s2">&quot;return true for fallback data&quot;</span> <span class="k">do</span>
<a name="gbab-104"></a>          <span class="n">assert</span> <span class="vi">@drop</span><span class="o">.</span><span class="n">key?</span> <span class="s2">&quot;baz&quot;</span>
<a name="gbab-105"></a>        <span class="k">end</span>
<a name="gbab-106"></a>      <span class="k">end</span>
<a name="gbab-107"></a>
<a name="gbab-108"></a>      <span class="n">context</span> <span class="s2">&quot;a document drop&quot;</span> <span class="k">do</span>
<a name="gbab-109"></a>        <span class="n">should</span> <span class="s2">&quot;respond true for native methods&quot;</span> <span class="k">do</span>
<a name="gbab-110"></a>          <span class="n">assert</span> <span class="vi">@document_drop</span><span class="o">.</span><span class="n">key?</span> <span class="s2">&quot;collection&quot;</span>
<a name="gbab-111"></a>        <span class="k">end</span>
<a name="gbab-112"></a>
<a name="gbab-113"></a>        <span class="n">should</span> <span class="s2">&quot;return true for fallback data&quot;</span> <span class="k">do</span>
<a name="gbab-114"></a>          <span class="n">assert</span> <span class="vi">@document_drop</span><span class="o">.</span><span class="n">key?</span> <span class="s2">&quot;title&quot;</span>
<a name="gbab-115"></a>        <span class="k">end</span>
<a name="gbab-116"></a>      <span class="k">end</span>
<a name="gbab-117"></a>    <span class="k">end</span>
<a name="gbab-118"></a>  <span class="k">end</span>
<a name="gbab-119"></a><span class="k">end</span>
</pre></div>
</td></tr></table>