<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a><span class="nb">require</span> <span class="s2">&quot;colorator&quot;</span>
<a name="gbab-5"></a>
<a name="gbab-6"></a><span class="k">class</span> <span class="nc">TestConfiguration</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-7"></a>  <span class="n">test_config</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-8"></a>    <span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="kp">new</span><span class="p">(</span><span class="kp">nil</span><span class="p">)</span><span class="o">.</span><span class="n">source_dir</span><span class="p">,</span>
<a name="gbab-9"></a>    <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span>
<a name="gbab-10"></a>  <span class="p">}</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>  <span class="n">context</span> <span class="s2">&quot;.from&quot;</span> <span class="k">do</span>
<a name="gbab-13"></a>    <span class="n">should</span> <span class="s2">&quot;create a Configuration object&quot;</span> <span class="k">do</span>
<a name="gbab-14"></a>      <span class="n">assert_instance_of</span> <span class="no">Configuration</span><span class="p">,</span> <span class="no">Configuration</span><span class="o">.</span><span class="n">from</span><span class="p">({})</span>
<a name="gbab-15"></a>    <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>    <span class="n">should</span> <span class="s2">&quot;merge input over defaults&quot;</span> <span class="k">do</span>
<a name="gbab-18"></a>      <span class="n">result</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">.</span><span class="n">from</span><span class="p">({</span><span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;blah&quot;</span><span class="p">})</span>
<a name="gbab-19"></a>      <span class="n">refute_equal</span> <span class="n">result</span><span class="o">[</span><span class="s2">&quot;source&quot;</span><span class="o">]</span><span class="p">,</span> <span class="no">Configuration</span><span class="o">::</span><span class="no">DEFAULTS</span><span class="o">[</span><span class="s2">&quot;source&quot;</span><span class="o">]</span>
<a name="gbab-20"></a>      <span class="n">assert_equal</span> <span class="n">result</span><span class="o">[</span><span class="s2">&quot;source&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;blah&quot;</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>    <span class="n">should</span> <span class="s2">&quot;return a valid Configuration instance&quot;</span> <span class="k">do</span>
<a name="gbab-24"></a>      <span class="n">assert_instance_of</span> <span class="no">Configuration</span><span class="p">,</span> <span class="no">Configuration</span><span class="o">.</span><span class="n">from</span><span class="p">({})</span><span class="o">.</span><span class="n">fix_common_issues</span>
<a name="gbab-25"></a>    <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>    <span class="n">should</span> <span class="s2">&quot;add default collections&quot;</span> <span class="k">do</span>
<a name="gbab-28"></a>      <span class="n">result</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">.</span><span class="n">from</span><span class="p">({})</span>
<a name="gbab-29"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-30"></a>        <span class="n">result</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-31"></a>        <span class="p">{</span>
<a name="gbab-32"></a>          <span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-33"></a>            <span class="s2">&quot;output&quot;</span>    <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-34"></a>            <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:categories/:year/:month/:day/:title:output_ext&quot;</span><span class="p">,</span>
<a name="gbab-35"></a>          <span class="p">},</span>
<a name="gbab-36"></a>        <span class="p">}</span>
<a name="gbab-37"></a>      <span class="p">)</span>
<a name="gbab-38"></a>    <span class="k">end</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a>    <span class="n">should</span> <span class="s2">&quot;NOT backwards-compatibilize&quot;</span> <span class="k">do</span>
<a name="gbab-41"></a>      <span class="n">assert</span><span class="p">(</span>
<a name="gbab-42"></a>        <span class="no">Configuration</span><span class="o">.</span><span class="n">from</span><span class="p">(</span><span class="s2">&quot;watch&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span><span class="o">[</span><span class="s2">&quot;watch&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-43"></a>        <span class="s2">&quot;Expected the &#39;watch&#39; key to not be removed.&quot;</span>
<a name="gbab-44"></a>      <span class="p">)</span>
<a name="gbab-45"></a>    <span class="k">end</span>
<a name="gbab-46"></a>  <span class="k">end</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>  <span class="n">context</span> <span class="s2">&quot;the defaults&quot;</span> <span class="k">do</span>
<a name="gbab-49"></a>    <span class="n">should</span> <span class="s2">&quot;exclude node_modules&quot;</span> <span class="k">do</span>
<a name="gbab-50"></a>      <span class="n">assert_includes</span> <span class="no">Configuration</span><span class="o">.</span><span class="n">from</span><span class="p">({})</span><span class="o">[</span><span class="s2">&quot;exclude&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;node_modules&quot;</span>
<a name="gbab-51"></a>    <span class="k">end</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>    <span class="n">should</span> <span class="s2">&quot;exclude ruby vendor directories&quot;</span> <span class="k">do</span>
<a name="gbab-54"></a>      <span class="n">exclude</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">.</span><span class="n">from</span><span class="p">({})</span><span class="o">[</span><span class="s2">&quot;exclude&quot;</span><span class="o">]</span>
<a name="gbab-55"></a>      <span class="n">assert_includes</span> <span class="n">exclude</span><span class="p">,</span> <span class="s2">&quot;Gemfile&quot;</span>
<a name="gbab-56"></a>      <span class="n">assert_includes</span> <span class="n">exclude</span><span class="p">,</span> <span class="s2">&quot;Gemfile.lock&quot;</span>
<a name="gbab-57"></a>      <span class="n">assert_includes</span> <span class="n">exclude</span><span class="p">,</span> <span class="s2">&quot;vendor/bundle/&quot;</span>
<a name="gbab-58"></a>      <span class="n">assert_includes</span> <span class="n">exclude</span><span class="p">,</span> <span class="s2">&quot;vendor/cache/&quot;</span>
<a name="gbab-59"></a>      <span class="n">assert_includes</span> <span class="n">exclude</span><span class="p">,</span> <span class="s2">&quot;vendor/gems/&quot;</span>
<a name="gbab-60"></a>      <span class="n">assert_includes</span> <span class="n">exclude</span><span class="p">,</span> <span class="s2">&quot;vendor/ruby/&quot;</span>
<a name="gbab-61"></a>    <span class="k">end</span>
<a name="gbab-62"></a>  <span class="k">end</span>
<a name="gbab-63"></a>
<a name="gbab-64"></a>  <span class="n">context</span> <span class="s2">&quot;#add_default_collections&quot;</span> <span class="k">do</span>
<a name="gbab-65"></a>    <span class="n">should</span> <span class="s2">&quot;no-op if collections is nil&quot;</span> <span class="k">do</span>
<a name="gbab-66"></a>      <span class="n">result</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span><span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">}</span><span class="o">].</span><span class="n">add_default_collections</span>
<a name="gbab-67"></a>      <span class="n">assert_nil</span> <span class="n">result</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span>
<a name="gbab-68"></a>    <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>    <span class="n">should</span> <span class="s2">&quot;turn an array into a hash&quot;</span> <span class="k">do</span>
<a name="gbab-71"></a>      <span class="n">result</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span> <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="sx">%w(methods)</span> <span class="p">}</span><span class="o">].</span><span class="n">add_default_collections</span>
<a name="gbab-72"></a>      <span class="n">assert_instance_of</span> <span class="no">Hash</span><span class="p">,</span> <span class="n">result</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span>
<a name="gbab-73"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-74"></a>        <span class="n">result</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-75"></a>        <span class="p">{</span> <span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span> <span class="p">},</span> <span class="s2">&quot;methods&quot;</span> <span class="o">=&gt;</span> <span class="p">{}</span> <span class="p">}</span>
<a name="gbab-76"></a>      <span class="p">)</span>
<a name="gbab-77"></a>    <span class="k">end</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>    <span class="n">should</span> <span class="s2">&quot;only assign collections.posts.permalink if a permalink is specified&quot;</span> <span class="k">do</span>
<a name="gbab-80"></a>      <span class="n">result</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span> <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;pretty&quot;</span><span class="p">,</span> <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{}</span> <span class="p">}</span><span class="o">]</span>
<a name="gbab-81"></a>        <span class="o">.</span><span class="n">add_default_collections</span>
<a name="gbab-82"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-83"></a>        <span class="n">result</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-84"></a>        <span class="p">{</span>
<a name="gbab-85"></a>          <span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-86"></a>            <span class="s2">&quot;output&quot;</span>    <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-87"></a>            <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:categories/:year/:month/:day/:title/&quot;</span><span class="p">,</span>
<a name="gbab-88"></a>          <span class="p">},</span>
<a name="gbab-89"></a>        <span class="p">}</span>
<a name="gbab-90"></a>      <span class="p">)</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>      <span class="n">result</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span> <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span> <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{}</span> <span class="p">}</span><span class="o">]</span>
<a name="gbab-93"></a>        <span class="o">.</span><span class="n">add_default_collections</span>
<a name="gbab-94"></a>      <span class="n">assert_equal</span> <span class="n">result</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span><span class="p">,</span> <span class="p">{</span><span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span><span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">}}</span>
<a name="gbab-95"></a>    <span class="k">end</span>
<a name="gbab-96"></a>
<a name="gbab-97"></a>    <span class="n">should</span> <span class="s2">&quot;forces posts to output&quot;</span> <span class="k">do</span>
<a name="gbab-98"></a>      <span class="n">result</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span> <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">false</span> <span class="p">}</span> <span class="p">}</span> <span class="p">}</span><span class="o">]</span>
<a name="gbab-99"></a>        <span class="o">.</span><span class="n">add_default_collections</span>
<a name="gbab-100"></a>      <span class="n">assert_equal</span> <span class="n">result</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">][</span><span class="s2">&quot;posts&quot;</span><span class="o">][</span><span class="s2">&quot;output&quot;</span><span class="o">]</span><span class="p">,</span> <span class="kp">true</span>
<a name="gbab-101"></a>    <span class="k">end</span>
<a name="gbab-102"></a>  <span class="k">end</span>
<a name="gbab-103"></a>
<a name="gbab-104"></a>  <span class="n">context</span> <span class="s2">&quot;#stringify_keys&quot;</span> <span class="k">do</span>
<a name="gbab-105"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-106"></a>      <span class="vi">@mixed_keys</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span>
<a name="gbab-107"></a>        <span class="s2">&quot;markdown&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;kramdown&quot;</span><span class="p">,</span>
<a name="gbab-108"></a>        <span class="ss">:permalink</span> <span class="o">=&gt;</span> <span class="s2">&quot;date&quot;</span><span class="p">,</span>
<a name="gbab-109"></a>        <span class="s2">&quot;baseurl&quot;</span>  <span class="o">=&gt;</span> <span class="s2">&quot;/&quot;</span><span class="p">,</span>
<a name="gbab-110"></a>        <span class="ss">:include</span>   <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;.htaccess&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-111"></a>        <span class="ss">:source</span>    <span class="o">=&gt;</span> <span class="s2">&quot;./&quot;</span><span class="p">,</span>
<a name="gbab-112"></a>      <span class="p">}</span><span class="o">]</span>
<a name="gbab-113"></a>      <span class="vi">@string_keys</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span>
<a name="gbab-114"></a>        <span class="s2">&quot;markdown&quot;</span>  <span class="o">=&gt;</span> <span class="s2">&quot;kramdown&quot;</span><span class="p">,</span>
<a name="gbab-115"></a>        <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;date&quot;</span><span class="p">,</span>
<a name="gbab-116"></a>        <span class="s2">&quot;baseurl&quot;</span>   <span class="o">=&gt;</span> <span class="s2">&quot;/&quot;</span><span class="p">,</span>
<a name="gbab-117"></a>        <span class="s2">&quot;include&quot;</span>   <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;.htaccess&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-118"></a>        <span class="s2">&quot;source&quot;</span>    <span class="o">=&gt;</span> <span class="s2">&quot;./&quot;</span><span class="p">,</span>
<a name="gbab-119"></a>      <span class="p">}</span><span class="o">]</span>
<a name="gbab-120"></a>    <span class="k">end</span>
<a name="gbab-121"></a>    <span class="n">should</span> <span class="s2">&quot;stringify symbol keys&quot;</span> <span class="k">do</span>
<a name="gbab-122"></a>      <span class="n">assert_equal</span> <span class="vi">@string_keys</span><span class="p">,</span> <span class="vi">@mixed_keys</span><span class="o">.</span><span class="n">stringify_keys</span>
<a name="gbab-123"></a>    <span class="k">end</span>
<a name="gbab-124"></a>    <span class="n">should</span> <span class="s2">&quot;not mess with keys already strings&quot;</span> <span class="k">do</span>
<a name="gbab-125"></a>      <span class="n">assert_equal</span> <span class="vi">@string_keys</span><span class="p">,</span> <span class="vi">@string_keys</span><span class="o">.</span><span class="n">stringify_keys</span>
<a name="gbab-126"></a>    <span class="k">end</span>
<a name="gbab-127"></a>  <span class="k">end</span>
<a name="gbab-128"></a>  <span class="n">context</span> <span class="s2">&quot;#config_files&quot;</span> <span class="k">do</span>
<a name="gbab-129"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-130"></a>      <span class="vi">@config</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span><span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">}</span><span class="o">]</span>
<a name="gbab-131"></a>      <span class="vi">@no_override</span>     <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-132"></a>      <span class="vi">@one_config_file</span> <span class="o">=</span> <span class="p">{</span><span class="s2">&quot;config&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;config.yml&quot;</span><span class="p">}</span>
<a name="gbab-133"></a>      <span class="vi">@multiple_files</span>  <span class="o">=</span> <span class="p">{</span>
<a name="gbab-134"></a>        <span class="s2">&quot;config&quot;</span> <span class="o">=&gt;</span> <span class="sx">%w(config/site.yml config/deploy.toml configuration.yml)</span><span class="p">,</span>
<a name="gbab-135"></a>      <span class="p">}</span>
<a name="gbab-136"></a>    <span class="k">end</span>
<a name="gbab-137"></a>
<a name="gbab-138"></a>    <span class="n">should</span> <span class="s2">&quot;always return an array&quot;</span> <span class="k">do</span>
<a name="gbab-139"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">config_files</span><span class="p">(</span><span class="vi">@no_override</span><span class="p">)</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Array</span><span class="p">)</span>
<a name="gbab-140"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">config_files</span><span class="p">(</span><span class="vi">@one_config_file</span><span class="p">)</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Array</span><span class="p">)</span>
<a name="gbab-141"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">config_files</span><span class="p">(</span><span class="vi">@multiple_files</span><span class="p">)</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Array</span><span class="p">)</span>
<a name="gbab-142"></a>    <span class="k">end</span>
<a name="gbab-143"></a>    <span class="n">should</span> <span class="s2">&quot;return the default config path if no config files are specified&quot;</span> <span class="k">do</span>
<a name="gbab-144"></a>      <span class="n">assert_equal</span> <span class="o">[</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_config.yml&quot;</span><span class="p">)</span><span class="o">]</span><span class="p">,</span> <span class="vi">@config</span><span class="o">.</span><span class="n">config_files</span><span class="p">(</span><span class="vi">@no_override</span><span class="p">)</span>
<a name="gbab-145"></a>    <span class="k">end</span>
<a name="gbab-146"></a>    <span class="n">should</span> <span class="s2">&quot;return .yaml if it exists but .yml does not&quot;</span> <span class="k">do</span>
<a name="gbab-147"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">File</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:exist?</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_config.yml&quot;</span><span class="p">))</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">false</span><span class="p">)</span>
<a name="gbab-148"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">File</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:exist?</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_config.yaml&quot;</span><span class="p">))</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-149"></a>      <span class="n">assert_equal</span> <span class="o">[</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_config.yaml&quot;</span><span class="p">)</span><span class="o">]</span><span class="p">,</span> <span class="vi">@config</span><span class="o">.</span><span class="n">config_files</span><span class="p">(</span><span class="vi">@no_override</span><span class="p">)</span>
<a name="gbab-150"></a>    <span class="k">end</span>
<a name="gbab-151"></a>    <span class="n">should</span> <span class="s2">&quot;return .yml if both .yml and .yaml exist&quot;</span> <span class="k">do</span>
<a name="gbab-152"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">File</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:exist?</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_config.yml&quot;</span><span class="p">))</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-153"></a>      <span class="n">assert_equal</span> <span class="o">[</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_config.yml&quot;</span><span class="p">)</span><span class="o">]</span><span class="p">,</span> <span class="vi">@config</span><span class="o">.</span><span class="n">config_files</span><span class="p">(</span><span class="vi">@no_override</span><span class="p">)</span>
<a name="gbab-154"></a>    <span class="k">end</span>
<a name="gbab-155"></a>    <span class="n">should</span> <span class="s2">&quot;return the config if given one config file&quot;</span> <span class="k">do</span>
<a name="gbab-156"></a>      <span class="n">assert_equal</span> <span class="sx">%w(config.yml)</span><span class="p">,</span> <span class="vi">@config</span><span class="o">.</span><span class="n">config_files</span><span class="p">(</span><span class="vi">@one_config_file</span><span class="p">)</span>
<a name="gbab-157"></a>    <span class="k">end</span>
<a name="gbab-158"></a>    <span class="n">should</span> <span class="s2">&quot;return an array of the config files if given many config files&quot;</span> <span class="k">do</span>
<a name="gbab-159"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-160"></a>        <span class="sx">%w(config/site.yml config/deploy.toml configuration.yml)</span><span class="p">,</span>
<a name="gbab-161"></a>        <span class="vi">@config</span><span class="o">.</span><span class="n">config_files</span><span class="p">(</span><span class="vi">@multiple_files</span><span class="p">)</span>
<a name="gbab-162"></a>      <span class="p">)</span>
<a name="gbab-163"></a>    <span class="k">end</span>
<a name="gbab-164"></a>  <span class="k">end</span>
<a name="gbab-165"></a>
<a name="gbab-166"></a>  <span class="n">context</span> <span class="s2">&quot;#read_config_file&quot;</span> <span class="k">do</span>
<a name="gbab-167"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-168"></a>      <span class="vi">@config</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span> <span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;empty.yml&quot;</span><span class="p">)</span> <span class="p">}</span><span class="o">]</span>
<a name="gbab-169"></a>    <span class="k">end</span>
<a name="gbab-170"></a>
<a name="gbab-171"></a>    <span class="n">should</span> <span class="s2">&quot;not raise an error on empty files&quot;</span> <span class="k">do</span>
<a name="gbab-172"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;empty.yml&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">false</span><span class="p">)</span>
<a name="gbab-173"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">log_level</span> <span class="o">=</span> <span class="ss">:warn</span>
<a name="gbab-174"></a>      <span class="vi">@config</span><span class="o">.</span><span class="n">read_config_file</span><span class="p">(</span><span class="s2">&quot;empty.yml&quot;</span><span class="p">)</span>
<a name="gbab-175"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">log_level</span> <span class="o">=</span> <span class="ss">:info</span>
<a name="gbab-176"></a>    <span class="k">end</span>
<a name="gbab-177"></a>  <span class="k">end</span>
<a name="gbab-178"></a>
<a name="gbab-179"></a>  <span class="n">context</span> <span class="s2">&quot;#read_config_files&quot;</span> <span class="k">do</span>
<a name="gbab-180"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-181"></a>      <span class="vi">@config</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span><span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">}</span><span class="o">]</span>
<a name="gbab-182"></a>    <span class="k">end</span>
<a name="gbab-183"></a>
<a name="gbab-184"></a>    <span class="n">should</span> <span class="s2">&quot;continue to read config files if one is empty&quot;</span> <span class="k">do</span>
<a name="gbab-185"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;empty.yml&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">false</span><span class="p">)</span>
<a name="gbab-186"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span>
<a name="gbab-187"></a>        <span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span>
<a name="gbab-188"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;not_empty.yml&quot;</span><span class="p">)</span>
<a name="gbab-189"></a>        <span class="o">.</span><span class="n">and_return</span><span class="p">({</span> <span class="s2">&quot;foo&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="s2">&quot;include&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;exclude&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span> <span class="p">})</span>
<a name="gbab-190"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">log_level</span> <span class="o">=</span> <span class="ss">:warn</span>
<a name="gbab-191"></a>      <span class="n">read_config</span> <span class="o">=</span> <span class="vi">@config</span><span class="o">.</span><span class="n">read_config_files</span><span class="p">(</span><span class="o">[</span><span class="s2">&quot;empty.yml&quot;</span><span class="p">,</span> <span class="s2">&quot;not_empty.yml&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-192"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">log_level</span> <span class="o">=</span> <span class="ss">:info</span>
<a name="gbab-193"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span> <span class="n">read_config</span><span class="o">[</span><span class="s2">&quot;foo&quot;</span><span class="o">]</span>
<a name="gbab-194"></a>    <span class="k">end</span>
<a name="gbab-195"></a>  <span class="k">end</span>
<a name="gbab-196"></a>  <span class="n">context</span> <span class="s2">&quot;#backwards_compatibilize&quot;</span> <span class="k">do</span>
<a name="gbab-197"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-198"></a>      <span class="vi">@config</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span>
<a name="gbab-199"></a>        <span class="s2">&quot;auto&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-200"></a>        <span class="s2">&quot;watch&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-201"></a>        <span class="s2">&quot;server&quot;</span>  <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-202"></a>        <span class="s2">&quot;exclude&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;READ-ME.md, Gemfile,CONTRIBUTING.hello.markdown&quot;</span><span class="p">,</span>
<a name="gbab-203"></a>        <span class="s2">&quot;include&quot;</span>  <span class="o">=&gt;</span> <span class="s2">&quot;STOP_THE_PRESSES.txt,.heloses, .git&quot;</span><span class="p">,</span>
<a name="gbab-204"></a>        <span class="s2">&quot;pygments&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-205"></a>        <span class="s2">&quot;layouts&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-206"></a>        <span class="s2">&quot;data_source&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-207"></a>        <span class="s2">&quot;gems&quot;</span>        <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-208"></a>      <span class="p">}</span><span class="o">]</span>
<a name="gbab-209"></a>    <span class="k">end</span>
<a name="gbab-210"></a>    <span class="n">should</span> <span class="s2">&quot;unset &#39;auto&#39; and &#39;watch&#39;&quot;</span> <span class="k">do</span>
<a name="gbab-211"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;auto&quot;</span><span class="p">)</span>
<a name="gbab-212"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;watch&quot;</span><span class="p">)</span>
<a name="gbab-213"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;auto&quot;</span><span class="p">)</span>
<a name="gbab-214"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;watch&quot;</span><span class="p">)</span>
<a name="gbab-215"></a>    <span class="k">end</span>
<a name="gbab-216"></a>    <span class="n">should</span> <span class="s2">&quot;unset &#39;server&#39;&quot;</span> <span class="k">do</span>
<a name="gbab-217"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;server&quot;</span><span class="p">)</span>
<a name="gbab-218"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;server&quot;</span><span class="p">)</span>
<a name="gbab-219"></a>    <span class="k">end</span>
<a name="gbab-220"></a>    <span class="n">should</span> <span class="s2">&quot;transform string exclude into an array&quot;</span> <span class="k">do</span>
<a name="gbab-221"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;exclude&quot;</span><span class="p">)</span>
<a name="gbab-222"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;exclude&quot;</span><span class="p">)</span>
<a name="gbab-223"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-224"></a>        <span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">[</span><span class="s2">&quot;exclude&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-225"></a>        <span class="sx">%w(READ-ME.md Gemfile CONTRIBUTING.hello.markdown)</span>
<a name="gbab-226"></a>      <span class="p">)</span>
<a name="gbab-227"></a>    <span class="k">end</span>
<a name="gbab-228"></a>    <span class="n">should</span> <span class="s2">&quot;transform string include into an array&quot;</span> <span class="k">do</span>
<a name="gbab-229"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;include&quot;</span><span class="p">)</span>
<a name="gbab-230"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;include&quot;</span><span class="p">)</span>
<a name="gbab-231"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-232"></a>        <span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">[</span><span class="s2">&quot;include&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-233"></a>        <span class="sx">%w(STOP_THE_PRESSES.txt .heloses .git)</span>
<a name="gbab-234"></a>      <span class="p">)</span>
<a name="gbab-235"></a>    <span class="k">end</span>
<a name="gbab-236"></a>    <span class="n">should</span> <span class="s2">&quot;set highlighter to pygments&quot;</span> <span class="k">do</span>
<a name="gbab-237"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;pygments&quot;</span><span class="p">)</span>
<a name="gbab-238"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;pygments&quot;</span><span class="p">)</span>
<a name="gbab-239"></a>      <span class="n">assert_equal</span> <span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">[</span><span class="s2">&quot;highlighter&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;pygments&quot;</span>
<a name="gbab-240"></a>    <span class="k">end</span>
<a name="gbab-241"></a>    <span class="n">should</span> <span class="s2">&quot;adjust directory names&quot;</span> <span class="k">do</span>
<a name="gbab-242"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;layouts&quot;</span><span class="p">)</span>
<a name="gbab-243"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;layouts&quot;</span><span class="p">)</span>
<a name="gbab-244"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">[</span><span class="s2">&quot;layouts_dir&quot;</span><span class="o">]</span>
<a name="gbab-245"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;data_source&quot;</span><span class="p">)</span>
<a name="gbab-246"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;data_source&quot;</span><span class="p">)</span>
<a name="gbab-247"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">[</span><span class="s2">&quot;data_dir&quot;</span><span class="o">]</span>
<a name="gbab-248"></a>    <span class="k">end</span>
<a name="gbab-249"></a>    <span class="n">should</span> <span class="s2">&quot;raise an error if `plugins` key is a string&quot;</span> <span class="k">do</span>
<a name="gbab-250"></a>      <span class="n">config</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span> <span class="s2">&quot;plugins&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;_plugin&quot;</span> <span class="p">}</span><span class="o">]</span>
<a name="gbab-251"></a>      <span class="n">assert_raises</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">InvalidConfigurationError</span> <span class="k">do</span>
<a name="gbab-252"></a>        <span class="n">config</span><span class="o">.</span><span class="n">backwards_compatibilize</span>
<a name="gbab-253"></a>      <span class="k">end</span>
<a name="gbab-254"></a>    <span class="k">end</span>
<a name="gbab-255"></a>    <span class="n">should</span> <span class="s2">&quot;set the `gems` config to `plugins`&quot;</span> <span class="k">do</span>
<a name="gbab-256"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;gems&quot;</span><span class="p">)</span>
<a name="gbab-257"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">[</span><span class="s2">&quot;gems&quot;</span><span class="o">]</span>
<a name="gbab-258"></a>      <span class="n">assert</span> <span class="vi">@config</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">[</span><span class="s2">&quot;plugins&quot;</span><span class="o">]</span>
<a name="gbab-259"></a>    <span class="k">end</span>
<a name="gbab-260"></a>  <span class="k">end</span>
<a name="gbab-261"></a>  <span class="n">context</span> <span class="s2">&quot;loading configuration&quot;</span> <span class="k">do</span>
<a name="gbab-262"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-263"></a>      <span class="vi">@path</span> <span class="o">=</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_config.yml&quot;</span><span class="p">)</span>
<a name="gbab-264"></a>      <span class="vi">@user_config</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="no">Dir</span><span class="o">.</span><span class="n">pwd</span><span class="p">,</span> <span class="s2">&quot;my_config_file.yml&quot;</span><span class="p">)</span>
<a name="gbab-265"></a>    <span class="k">end</span>
<a name="gbab-266"></a>
<a name="gbab-267"></a>    <span class="n">should</span> <span class="s2">&quot;fire warning with no _config.yml&quot;</span> <span class="k">do</span>
<a name="gbab-268"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-269"></a>        <span class="k">raise</span> <span class="no">SystemCallError</span><span class="p">,</span> <span class="s2">&quot;No such file or directory - </span><span class="si">#{</span><span class="vi">@path</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-270"></a>      <span class="k">end</span>
<a name="gbab-271"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stderr</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span>
<a name="gbab-272"></a>        <span class="no">Colorator</span><span class="o">.</span><span class="n">yellow</span><span class="p">(</span><span class="s2">&quot;Configuration file: none&quot;</span><span class="p">)</span>
<a name="gbab-273"></a>      <span class="p">)</span>
<a name="gbab-274"></a>      <span class="n">assert_equal</span> <span class="n">site_configuration</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="n">test_config</span><span class="p">)</span>
<a name="gbab-275"></a>
<a name="gbab-276"></a>    <span class="n">should</span> <span class="s2">&quot;load configuration as hash&quot;</span> <span class="k">do</span>
<a name="gbab-277"></a>      <span class="n">mock</span><span class="p">(</span><span class="no">YAML</span><span class="p">)</span><span class="o">.</span><span class="n">load_file</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span> <span class="p">{</span> <span class="no">Hash</span><span class="o">.</span><span class="n">new</span> <span class="p">}</span>
<a name="gbab-278"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">({})</span>
<a name="gbab-279"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stdout</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;Configuration file: </span><span class="si">#{</span><span class="vi">@path</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-280"></a>      <span class="n">assert_equal</span> <span class="n">site_configuration</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="n">test_config</span><span class="p">)</span>
<a name="gbab-281"></a>
<a name="gbab-282"></a>    <span class="n">should</span> <span class="s2">&quot;fire warning with bad config&quot;</span> <span class="k">do</span>
<a name="gbab-283"></a>      <span class="n">mock</span><span class="p">(</span><span class="no">YAML</span><span class="p">)</span><span class="o">.</span><span class="n">load_file</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span> <span class="p">{</span> <span class="nb">Array</span><span class="o">.</span><span class="n">new</span> <span class="p">}</span>
<a name="gbab-284"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="o">[]</span><span class="p">)</span>
<a name="gbab-285"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stderr</span><span class="p">)</span>
<a name="gbab-286"></a>        <span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span>
<a name="gbab-287"></a>        <span class="o">.</span><span class="n">and_return</span><span class="p">(</span>
<a name="gbab-288"></a>          <span class="s2">&quot;WARNING: &quot;</span><span class="o">.</span><span class="n">rjust</span><span class="p">(</span><span class="mi">20</span><span class="p">)</span> <span class="o">+</span>
<a name="gbab-289"></a>          <span class="no">Colorator</span><span class="o">.</span><span class="n">yellow</span><span class="p">(</span><span class="s2">&quot;Error reading configuration. Using defaults (and options).&quot;</span><span class="p">)</span>
<a name="gbab-290"></a>        <span class="p">)</span>
<a name="gbab-291"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stderr</span><span class="p">)</span>
<a name="gbab-292"></a>        <span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span>
<a name="gbab-293"></a>        <span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="no">Colorator</span><span class="o">.</span><span class="n">yellow</span><span class="p">(</span><span class="s2">&quot;Configuration file: (INVALID) </span><span class="si">#{</span><span class="vi">@path</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">))</span>
<a name="gbab-294"></a>      <span class="n">assert_equal</span> <span class="n">site_configuration</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="n">test_config</span><span class="p">)</span>
<a name="gbab-295"></a>  <span class="k">end</span>
<a name="gbab-296"></a>
<a name="gbab-297"></a>    <span class="n">should</span> <span class="s2">&quot;fire warning when user-specified config file isn&#39;t there&quot;</span> <span class="k">do</span>
<a name="gbab-298"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@user_config</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-299"></a>        <span class="k">raise</span> <span class="no">SystemCallError</span><span class="p">,</span> <span class="s2">&quot;No such file or directory - </span><span class="si">#{</span><span class="vi">@user_config</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-300"></a>      <span class="k">end</span>
<a name="gbab-301"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stderr</span><span class="p">)</span>
<a name="gbab-302"></a>        <span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span>
<a name="gbab-303"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="no">Colorator</span><span class="o">.</span><span class="n">red</span><span class="p">(</span>
<a name="gbab-304"></a>          <span class="s2">&quot;Fatal: &quot;</span><span class="o">.</span><span class="n">rjust</span><span class="p">(</span><span class="mi">20</span><span class="p">)</span> <span class="o">+</span> <span class="p">\</span>
<a name="gbab-305"></a>          <span class="s2">&quot;The configuration file &#39;</span><span class="si">#{</span><span class="vi">@user_config</span><span class="si">}</span><span class="s2">&#39; could not be found.&quot;</span>
<a name="gbab-306"></a>        <span class="p">))</span>
<a name="gbab-307"></a>      <span class="n">assert_raises</span> <span class="no">LoadError</span> <span class="k">do</span>
<a name="gbab-308"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span> <span class="s2">&quot;config&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="vi">@user_config</span><span class="o">]</span> <span class="p">})</span>
<a name="gbab-309"></a>      <span class="k">end</span>
<a name="gbab-310"></a>    <span class="k">end</span>
<a name="gbab-311"></a>
<a name="gbab-312"></a>    <span class="n">should</span> <span class="s2">&quot;not clobber YAML.load to the dismay of other libraries&quot;</span> <span class="k">do</span>
<a name="gbab-313"></a>      <span class="n">assert_equal</span> <span class="ss">:foo</span><span class="p">,</span> <span class="no">YAML</span><span class="o">.</span><span class="n">load</span><span class="p">(</span><span class="s2">&quot;:foo&quot;</span><span class="p">)</span>
<a name="gbab-314"></a>      <span class="c1"># as opposed to: assert_equal &#39;:foo&#39;, SafeYAML.load(&#39;:foo&#39;)</span>
<a name="gbab-315"></a>    <span class="k">end</span>
<a name="gbab-316"></a><span class="k">end</span>
<a name="gbab-317"></a>  <span class="n">context</span> <span class="s2">&quot;loading config from external file&quot;</span> <span class="k">do</span>
<a name="gbab-318"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-319"></a>      <span class="vi">@paths</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-320"></a>        <span class="ss">:default</span> <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_config.yml&quot;</span><span class="p">),</span>
<a name="gbab-321"></a>        <span class="ss">:other</span>   <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_config.live.yml&quot;</span><span class="p">),</span>
<a name="gbab-322"></a>        <span class="ss">:toml</span>    <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_config.dev.toml&quot;</span><span class="p">),</span>
<a name="gbab-323"></a>        <span class="ss">:empty</span>   <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-324"></a>      <span class="p">}</span>
<a name="gbab-325"></a>    <span class="k">end</span>
<a name="gbab-326"></a>
<a name="gbab-327"></a>    <span class="n">should</span> <span class="s2">&quot;load default plus posts config if no config_file is set&quot;</span> <span class="k">do</span>
<a name="gbab-328"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">({})</span>
<a name="gbab-329"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stdout</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;Configuration file: </span><span class="si">#{</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-330"></a>      <span class="n">assert_equal</span> <span class="n">site_configuration</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="n">test_config</span><span class="p">)</span>
<a name="gbab-331"></a>    <span class="k">end</span>
<a name="gbab-332"></a>
<a name="gbab-333"></a>    <span class="n">should</span> <span class="s2">&quot;load different config if specified&quot;</span> <span class="k">do</span>
<a name="gbab-334"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span>
<a name="gbab-335"></a>        <span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span>
<a name="gbab-336"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-337"></a>        <span class="o">.</span><span class="n">and_return</span><span class="p">({</span> <span class="s2">&quot;baseurl&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;http://example.com&quot;</span> <span class="p">})</span>
<a name="gbab-338"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stdout</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;Configuration file: </span><span class="si">#{</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-339"></a>      <span class="n">assert_equal</span> <span class="p">\</span>
<a name="gbab-340"></a>        <span class="n">site_configuration</span><span class="p">({</span>
<a name="gbab-341"></a>          <span class="s2">&quot;baseurl&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;http://example.com&quot;</span><span class="p">,</span>
<a name="gbab-342"></a>          <span class="s2">&quot;config&quot;</span>  <span class="o">=&gt;</span> <span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-343"></a>        <span class="p">}),</span>
<a name="gbab-344"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="n">test_config</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span> <span class="s2">&quot;config&quot;</span> <span class="o">=&gt;</span> <span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span> <span class="p">}))</span>
<a name="gbab-345"></a>    <span class="k">end</span>
<a name="gbab-346"></a>
<a name="gbab-347"></a>    <span class="n">should</span> <span class="s2">&quot;load different config if specified with symbol key&quot;</span> <span class="k">do</span>
<a name="gbab-348"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">({})</span>
<a name="gbab-349"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span>
<a name="gbab-350"></a>        <span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span>
<a name="gbab-351"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-352"></a>        <span class="o">.</span><span class="n">and_return</span><span class="p">({</span> <span class="s2">&quot;baseurl&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;http://example.com&quot;</span> <span class="p">})</span>
<a name="gbab-353"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stdout</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;Configuration file: </span><span class="si">#{</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-354"></a>      <span class="n">assert_equal</span> <span class="p">\</span>
<a name="gbab-355"></a>        <span class="n">site_configuration</span><span class="p">({</span>
<a name="gbab-356"></a>          <span class="s2">&quot;baseurl&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;http://example.com&quot;</span><span class="p">,</span>
<a name="gbab-357"></a>          <span class="s2">&quot;config&quot;</span>  <span class="o">=&gt;</span> <span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-358"></a>        <span class="p">}),</span>
<a name="gbab-359"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="n">test_config</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span> <span class="ss">:config</span> <span class="o">=&gt;</span> <span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span> <span class="p">}))</span>
<a name="gbab-360"></a>    <span class="k">end</span>
<a name="gbab-361"></a>
<a name="gbab-362"></a>    <span class="n">should</span> <span class="s2">&quot;load default config if path passed is empty&quot;</span> <span class="k">do</span>
<a name="gbab-363"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">({})</span>
<a name="gbab-364"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stdout</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;Configuration file: </span><span class="si">#{</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-365"></a>      <span class="n">assert_equal</span> <span class="p">\</span>
<a name="gbab-366"></a>        <span class="n">site_configuration</span><span class="p">({</span> <span class="s2">&quot;config&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:empty</span><span class="o">]]</span> <span class="p">}),</span>
<a name="gbab-367"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="n">test_config</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span> <span class="s2">&quot;config&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:empty</span><span class="o">]]</span> <span class="p">}))</span>
<a name="gbab-368"></a>    <span class="k">end</span>
<a name="gbab-369"></a>
<a name="gbab-370"></a>    <span class="n">should</span> <span class="s2">&quot;successfully load a TOML file&quot;</span> <span class="k">do</span>
<a name="gbab-371"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">log_level</span> <span class="o">=</span> <span class="ss">:warn</span>
<a name="gbab-372"></a>      <span class="n">assert_equal</span> <span class="p">\</span>
<a name="gbab-373"></a>        <span class="n">site_configuration</span><span class="p">({</span>
<a name="gbab-374"></a>          <span class="s2">&quot;baseurl&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/you-beautiful-blog-you&quot;</span><span class="p">,</span>
<a name="gbab-375"></a>          <span class="s2">&quot;title&quot;</span>   <span class="o">=&gt;</span> <span class="s2">&quot;My magnificent site, wut&quot;</span><span class="p">,</span>
<a name="gbab-376"></a>          <span class="s2">&quot;config&quot;</span>  <span class="o">=&gt;</span> <span class="o">[</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:toml</span><span class="o">]]</span><span class="p">,</span>
<a name="gbab-377"></a>        <span class="p">}),</span>
<a name="gbab-378"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="n">test_config</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span> <span class="s2">&quot;config&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:toml</span><span class="o">]]</span> <span class="p">}))</span>
<a name="gbab-379"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">log_level</span> <span class="o">=</span> <span class="ss">:info</span>
<a name="gbab-380"></a>    <span class="k">end</span>
<a name="gbab-381"></a>
<a name="gbab-382"></a>    <span class="n">should</span> <span class="s2">&quot;load multiple config files&quot;</span> <span class="k">do</span>
<a name="gbab-383"></a>      <span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="s2">&quot;tomlrb&quot;</span><span class="p">)</span>
<a name="gbab-384"></a>
<a name="gbab-385"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">({})</span>
<a name="gbab-386"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">({})</span>
<a name="gbab-387"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">Tomlrb</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:toml</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">({})</span>
<a name="gbab-388"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stdout</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;Configuration file: </span><span class="si">#{</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-389"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stdout</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;Configuration file: </span><span class="si">#{</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-390"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stdout</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;Configuration file: </span><span class="si">#{</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:toml</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-391"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-392"></a>        <span class="n">site_configuration</span><span class="p">({</span>
<a name="gbab-393"></a>          <span class="s2">&quot;config&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="p">,</span> <span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="p">,</span> <span class="vi">@paths</span><span class="o">[</span><span class="ss">:toml</span><span class="o">]]</span><span class="p">,</span>
<a name="gbab-394"></a>        <span class="p">}),</span>
<a name="gbab-395"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span>
<a name="gbab-396"></a>          <span class="n">test_config</span><span class="o">.</span><span class="n">merge</span><span class="p">(</span>
<a name="gbab-397"></a>            <span class="p">{</span> <span class="s2">&quot;config&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="p">,</span> <span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="p">,</span> <span class="vi">@paths</span><span class="o">[</span><span class="ss">:toml</span><span class="o">]]</span> <span class="p">}</span>
<a name="gbab-398"></a>          <span class="p">)</span>
<a name="gbab-399"></a>        <span class="o">.</span><span class="n">and_return</span><span class="p">({</span> <span class="s2">&quot;baseurl&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;http://example.com&quot;</span> <span class="p">})</span>
<a name="gbab-400"></a>      <span class="p">)</span>
<a name="gbab-401"></a>    <span class="k">end</span>
<a name="gbab-402"></a>
<a name="gbab-403"></a>    <span class="n">should</span> <span class="s2">&quot;load multiple config files and last config should win&quot;</span> <span class="k">do</span>
<a name="gbab-404"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span>
<a name="gbab-405"></a>        <span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span>
<a name="gbab-406"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-407"></a>        <span class="n">site_configuration</span><span class="p">({</span> <span class="s2">&quot;baseurl&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;http://example.com&quot;</span> <span class="p">}),</span>
<a name="gbab-408"></a>      <span class="n">allow</span><span class="p">(</span><span class="no">SafeYAML</span><span class="p">)</span>
<a name="gbab-409"></a>        <span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:load_file</span><span class="p">)</span>
<a name="gbab-410"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-411"></a>        <span class="o">.</span><span class="n">and_return</span><span class="p">({</span> <span class="s2">&quot;baseurl&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;http://wahoo.dev&quot;</span> <span class="p">})</span>
<a name="gbab-412"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stdout</span><span class="p">)</span>
<a name="gbab-413"></a>        <span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span>
<a name="gbab-414"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;Configuration file: </span><span class="si">#{</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-415"></a>      <span class="n">allow</span><span class="p">(</span><span class="vg">$stdout</span><span class="p">)</span>
<a name="gbab-416"></a>        <span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:puts</span><span class="p">)</span>
<a name="gbab-417"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;Configuration file: </span><span class="si">#{</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-418"></a>      <span class="n">assert_equal</span> <span class="p">\</span>
<a name="gbab-419"></a>        <span class="n">site_configuration</span><span class="p">({</span>
<a name="gbab-420"></a>          <span class="s2">&quot;baseurl&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;http://example.com&quot;</span><span class="p">,</span>
<a name="gbab-421"></a>          <span class="s2">&quot;config&quot;</span>  <span class="o">=&gt;</span> <span class="o">[</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="p">,</span> <span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]]</span><span class="p">,</span>
<a name="gbab-422"></a>        <span class="p">}),</span>
<a name="gbab-423"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span>
<a name="gbab-424"></a>          <span class="n">test_config</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span> <span class="s2">&quot;config&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="vi">@paths</span><span class="o">[</span><span class="ss">:default</span><span class="o">]</span><span class="p">,</span> <span class="vi">@paths</span><span class="o">[</span><span class="ss">:other</span><span class="o">]]</span> <span class="p">})</span>
<a name="gbab-425"></a>        <span class="p">)</span>
<a name="gbab-426"></a>    <span class="k">end</span>
<a name="gbab-427"></a>  <span class="k">end</span>
<a name="gbab-428"></a>
<a name="gbab-429"></a>  <span class="n">context</span> <span class="s2">&quot;#add_default_collections&quot;</span> <span class="k">do</span>
<a name="gbab-430"></a>    <span class="n">should</span> <span class="s2">&quot;not do anything if collections is nil&quot;</span> <span class="k">do</span>
<a name="gbab-431"></a>      <span class="n">conf</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="n">default_configuration</span><span class="o">].</span><span class="n">tap</span> <span class="p">{</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span> <span class="n">c</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">nil</span> <span class="p">}</span>
<a name="gbab-432"></a>      <span class="n">assert_equal</span> <span class="n">conf</span><span class="o">.</span><span class="n">add_default_collections</span><span class="p">,</span> <span class="n">conf</span>
<a name="gbab-433"></a>      <span class="n">assert_nil</span> <span class="n">conf</span><span class="o">.</span><span class="n">add_default_collections</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span>
<a name="gbab-434"></a>    <span class="k">end</span>
<a name="gbab-435"></a>
<a name="gbab-436"></a>    <span class="n">should</span> <span class="s2">&quot;converts collections to a hash if an array&quot;</span> <span class="k">do</span>
<a name="gbab-437"></a>      <span class="n">conf</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="n">default_configuration</span><span class="o">].</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-438"></a>        <span class="n">c</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="o">[</span><span class="s2">&quot;docs&quot;</span><span class="o">]</span>
<a name="gbab-439"></a>      <span class="k">end</span>
<a name="gbab-440"></a>      <span class="n">assert_equal</span> <span class="n">conf</span><span class="o">.</span><span class="n">add_default_collections</span><span class="p">,</span> <span class="n">conf</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span>
<a name="gbab-441"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-442"></a>          <span class="s2">&quot;docs&quot;</span> <span class="o">=&gt;</span> <span class="p">{},</span>
<a name="gbab-443"></a>          <span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-444"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-445"></a>            <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:categories/:year/:month/:day/:title:output_ext&quot;</span><span class="p">,</span>
<a name="gbab-446"></a>          <span class="p">},</span>
<a name="gbab-447"></a>        <span class="p">},</span>
<a name="gbab-448"></a>      <span class="p">})</span>
<a name="gbab-449"></a>    <span class="k">end</span>
<a name="gbab-450"></a>
<a name="gbab-451"></a>    <span class="n">should</span> <span class="s2">&quot;force collections.posts.output = true&quot;</span> <span class="k">do</span>
<a name="gbab-452"></a>      <span class="n">conf</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="n">default_configuration</span><span class="o">].</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-453"></a>        <span class="n">c</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="p">{</span> <span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">false</span> <span class="p">}</span> <span class="p">}</span>
<a name="gbab-454"></a>      <span class="k">end</span>
<a name="gbab-455"></a>      <span class="n">assert_equal</span> <span class="n">conf</span><span class="o">.</span><span class="n">add_default_collections</span><span class="p">,</span> <span class="n">conf</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span>
<a name="gbab-456"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-457"></a>          <span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-458"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-459"></a>            <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:categories/:year/:month/:day/:title:output_ext&quot;</span><span class="p">,</span>
<a name="gbab-460"></a>          <span class="p">},</span>
<a name="gbab-461"></a>        <span class="p">},</span>
<a name="gbab-462"></a>      <span class="p">})</span>
<a name="gbab-463"></a>    <span class="k">end</span>
<a name="gbab-464"></a>
<a name="gbab-465"></a>    <span class="n">should</span> <span class="s2">&quot;set collections.posts.permalink if it&#39;s not set&quot;</span> <span class="k">do</span>
<a name="gbab-466"></a>      <span class="n">conf</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="n">default_configuration</span><span class="o">]</span>
<a name="gbab-467"></a>      <span class="n">assert_equal</span> <span class="n">conf</span><span class="o">.</span><span class="n">add_default_collections</span><span class="p">,</span> <span class="n">conf</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span>
<a name="gbab-468"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-469"></a>          <span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-470"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-471"></a>            <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/:categories/:year/:month/:day/:title:output_ext&quot;</span><span class="p">,</span>
<a name="gbab-472"></a>          <span class="p">},</span>
<a name="gbab-473"></a>        <span class="p">},</span>
<a name="gbab-474"></a>      <span class="p">})</span>
<a name="gbab-475"></a>    <span class="k">end</span>
<a name="gbab-476"></a>
<a name="gbab-477"></a>    <span class="n">should</span> <span class="s2">&quot;leave collections.posts.permalink alone if it is set&quot;</span> <span class="k">do</span>
<a name="gbab-478"></a>      <span class="n">posts_permalink</span> <span class="o">=</span> <span class="s2">&quot;/:year/:title/&quot;</span>
<a name="gbab-479"></a>      <span class="n">conf</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="n">default_configuration</span><span class="o">].</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-480"></a>        <span class="n">c</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-481"></a>          <span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="n">posts_permalink</span> <span class="p">},</span>
<a name="gbab-482"></a>        <span class="p">}</span>
<a name="gbab-483"></a>      <span class="k">end</span>
<a name="gbab-484"></a>      <span class="n">assert_equal</span> <span class="n">conf</span><span class="o">.</span><span class="n">add_default_collections</span><span class="p">,</span> <span class="n">conf</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span>
<a name="gbab-485"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-486"></a>          <span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-487"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-488"></a>            <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="n">posts_permalink</span><span class="p">,</span>
<a name="gbab-489"></a>          <span class="p">},</span>
<a name="gbab-490"></a>        <span class="p">},</span>
<a name="gbab-491"></a>      <span class="p">})</span>
<a name="gbab-492"></a>    <span class="k">end</span>
<a name="gbab-493"></a>  <span class="k">end</span>
<a name="gbab-494"></a>
<a name="gbab-495"></a>  <span class="n">context</span> <span class="s2">&quot;folded YAML string&quot;</span> <span class="k">do</span>
<a name="gbab-496"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-497"></a>      <span class="vi">@tester</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-498"></a>    <span class="k">end</span>
<a name="gbab-499"></a>
<a name="gbab-500"></a>    <span class="n">should</span> <span class="s2">&quot;ignore newlines in that string entirely from a sample file&quot;</span> <span class="k">do</span>
<a name="gbab-501"></a>      <span class="n">config</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span>
<a name="gbab-502"></a>        <span class="vi">@tester</span><span class="o">.</span><span class="n">read_config_file</span><span class="p">(</span>
<a name="gbab-503"></a>          <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_config_folded.yml&quot;</span><span class="p">)</span>
<a name="gbab-504"></a>        <span class="p">)</span>
<a name="gbab-505"></a>      <span class="p">)</span>
<a name="gbab-506"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-507"></a>        <span class="n">config</span><span class="o">[</span><span class="s2">&quot;folded_string&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-508"></a>        <span class="s2">&quot;This string of text will ignore newlines till the next key.</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-509"></a>      <span class="p">)</span>
<a name="gbab-510"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-511"></a>        <span class="n">config</span><span class="o">[</span><span class="s2">&quot;clean_folded_string&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-512"></a>        <span class="s2">&quot;This string of text will ignore newlines till the next key.&quot;</span>
<a name="gbab-513"></a>      <span class="p">)</span>
<a name="gbab-514"></a>    <span class="k">end</span>
<a name="gbab-515"></a>
<a name="gbab-516"></a>    <span class="n">should</span> <span class="s2">&quot;ignore newlines in that string entirely from the template file&quot;</span> <span class="k">do</span>
<a name="gbab-517"></a>      <span class="n">config</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span>
<a name="gbab-518"></a>        <span class="vi">@tester</span><span class="o">.</span><span class="n">read_config_file</span><span class="p">(</span>
<a name="gbab-519"></a>          <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;../lib/site_template/_config.yml&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="bp">__FILE__</span><span class="p">))</span>
<a name="gbab-520"></a>        <span class="p">)</span>
<a name="gbab-521"></a>      <span class="p">)</span>
<a name="gbab-522"></a>      <span class="n">assert_includes</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;description&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;an awesome description&quot;</span>
<a name="gbab-523"></a>      <span class="n">refute_includes</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;description&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-524"></a>    <span class="k">end</span>
<a name="gbab-525"></a>  <span class="k">end</span>
</pre></div>
</td></tr></table>