<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="no">Before</span> <span class="k">do</span>
<a name="gbab-4"></a>  <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="no">Paths</span><span class="o">.</span><span class="n">test_dir</span><span class="p">)</span> <span class="k">if</span> <span class="no">Paths</span><span class="o">.</span><span class="n">test_dir</span><span class="o">.</span><span class="n">exist?</span>
<a name="gbab-5"></a>  <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="no">Paths</span><span class="o">.</span><span class="n">test_dir</span><span class="p">)</span> <span class="k">unless</span> <span class="no">Paths</span><span class="o">.</span><span class="n">test_dir</span><span class="o">.</span><span class="n">directory?</span>
<a name="gbab-6"></a>  <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="no">Paths</span><span class="o">.</span><span class="n">test_dir</span><span class="p">)</span>
<a name="gbab-7"></a>  <span class="vi">@timezone_before_scenario</span> <span class="o">=</span> <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;TZ&quot;</span><span class="o">]</span>
<a name="gbab-8"></a><span class="k">end</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a><span class="c1">#</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a><span class="no">After</span> <span class="k">do</span>
<a name="gbab-13"></a>  <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="no">Paths</span><span class="o">.</span><span class="n">test_dir</span><span class="p">)</span> <span class="k">if</span> <span class="no">Paths</span><span class="o">.</span><span class="n">test_dir</span><span class="o">.</span><span class="n">exist?</span>
<a name="gbab-14"></a>  <span class="no">Paths</span><span class="o">.</span><span class="n">output_file</span><span class="o">.</span><span class="n">delete</span> <span class="k">if</span> <span class="no">Paths</span><span class="o">.</span><span class="n">output_file</span><span class="o">.</span><span class="n">exist?</span>
<a name="gbab-15"></a>  <span class="no">Paths</span><span class="o">.</span><span class="n">status_file</span><span class="o">.</span><span class="n">delete</span> <span class="k">if</span> <span class="no">Paths</span><span class="o">.</span><span class="n">status_file</span><span class="o">.</span><span class="n">exist?</span>
<a name="gbab-16"></a>  <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="no">Paths</span><span class="o">.</span><span class="n">test_dir</span><span class="o">.</span><span class="n">parent</span><span class="p">)</span>
<a name="gbab-17"></a>  <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;TZ&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="vi">@timezone_before_scenario</span>
<a name="gbab-18"></a><span class="k">end</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a><span class="c1">#</span>
<a name="gbab-21"></a>
<a name="gbab-22"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have a blank site in &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">path</span><span class="o">|</span>
<a name="gbab-23"></a>  <span class="k">unless</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-24"></a>    <span class="k">then</span> <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-25"></a>  <span class="k">end</span>
<a name="gbab-26"></a>  <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="no">TEST_DIR</span><span class="p">)</span>
<a name="gbab-27"></a><span class="k">end</span>
<a name="gbab-28"></a><span class="c1">#</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I do not have a &quot;(.*)&quot; directory$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">path</span><span class="o">|</span>
<a name="gbab-31"></a>  <span class="no">Paths</span><span class="o">.</span><span class="n">test_dir</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">path</span><span class="p">)</span><span class="o">.</span><span class="n">directory?</span>
<a name="gbab-32"></a>  <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="s1">&#39;w&#39;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-33"></a>      <span class="n">f</span><span class="o">.</span><span class="n">write</span> <span class="o">&lt;&lt;</span><span class="no">EOF</span>
<a name="gbab-34"></a><span class="err">#</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a><span class="err">Given(%r!^I have an? &quot;(.*)&quot; page(?: with (.*) &quot;(.*)&quot;)? that contains &quot;(.*)&quot;$!) do |file, key, value, text|</span>
<a name="gbab-37"></a><span class="err">  File.write(file, Jekyll::Utils.strip_heredoc(&lt;&lt;-DATA))</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a><span class="err">    #{key || &quot;layout&quot;}: #{value || &quot;none&quot;}</span>
<a name="gbab-40"></a><span class="err">---</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a><span class="err">#{text}</span>
<a name="gbab-43"></a><span class="err">  DATA</span>
<a name="gbab-44"></a><span class="err">    end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a><span class="err">#</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a><span class="err">Given(%r!^I have an? &quot;(.*)&quot; file that contains &quot;(.*)&quot;$!) do |file, text|</span>
<a name="gbab-49"></a><span class="err">  File.write(file, text)</span>
<a name="gbab-50"></a><span class="err">  end</span>
<a name="gbab-51"></a>
<a name="gbab-52"></a><span class="err">#</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a><span class="err">Given(%r!^I have an? (.*) (layout|theme) that contains &quot;(.*)&quot;$!) do |name, type, text|</span>
<a name="gbab-55"></a><span class="err">  folder = type == &quot;layout&quot; ? &quot;_layouts&quot; : &quot;_theme&quot;</span>
<a name="gbab-56"></a>
<a name="gbab-57"></a><span class="err">  destination_file = Pathname.new(File.join(folder, &quot;#{name}.html&quot;))</span>
<a name="gbab-58"></a><span class="err">  FileUtils.mkdir_p(destination_file.parent) unless destination_file.parent.directory?</span>
<a name="gbab-59"></a><span class="err">  File.write(destination_file, text)</span>
<a name="gbab-60"></a><span class="err">  end</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a><span class="err">#</span>
<a name="gbab-63"></a>
<a name="gbab-64"></a><span class="err">Given(%r!^I have an? &quot;(.*)&quot; file with content:$!) do |file, text|</span>
<a name="gbab-65"></a><span class="err">  File.write(file, text)</span>
<a name="gbab-66"></a><span class="err">end</span>
<a name="gbab-67"></a>
<a name="gbab-68"></a><span class="err">#</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a><span class="err">Given(%r!^I have an? (.*) directory$!) do |dir|</span>
<a name="gbab-71"></a><span class="err">  unless File.directory?(dir)</span>
<a name="gbab-72"></a><span class="err">    then FileUtils.mkdir_p(dir)</span>
<a name="gbab-73"></a><span class="err">  end</span>
<a name="gbab-74"></a><span class="err">end</span>
<a name="gbab-75"></a>
<a name="gbab-76"></a><span class="err">#</span>
<a name="gbab-77"></a>
<a name="gbab-78"></a><span class="err">Given(%r!^I have the following (draft|page|post)s?(?: (in|under) &quot;([^&quot;]+)&quot;)?:$!) do |status, direction, folder, table|</span>
<a name="gbab-79"></a><span class="err">  table.hashes.each do |input_hash|</span>
<a name="gbab-80"></a><span class="err">    title = slug(input_hash[&quot;title&quot;])</span>
<a name="gbab-81"></a><span class="err">    ext = input_hash[&quot;type&quot;] || &quot;markdown&quot;</span>
<a name="gbab-82"></a><span class="err">    filename = &quot;#{title}.#{ext}&quot; if %w(draft page).include?(status)</span>
<a name="gbab-83"></a><span class="err">    before, after = location(folder, direction)</span>
<a name="gbab-84"></a><span class="err">    dest_folder = &quot;_drafts&quot; if status == &quot;draft&quot;</span>
<a name="gbab-85"></a><span class="err">    dest_folder = &quot;_posts&quot;  if status ==  &quot;post&quot;</span>
<a name="gbab-86"></a><span class="err">    dest_folder = &quot;&quot; if status == &quot;page&quot;</span>
<a name="gbab-87"></a>
<a name="gbab-88"></a><span class="err">    if status == &quot;post&quot;</span>
<a name="gbab-89"></a><span class="err">      parsed_date = Time.xmlschema(input_hash[&quot;date&quot;]) rescue Time.parse(input_hash[&quot;date&quot;])</span>
<a name="gbab-90"></a><span class="err">      input_hash[&quot;date&quot;] = parsed_date</span>
<a name="gbab-91"></a><span class="err">      filename = &quot;#{parsed_date.strftime(&quot;%Y-%m-%d&quot;)}-#{title}.#{ext}&quot;</span>
<a name="gbab-92"></a><span class="err">    end</span>
<a name="gbab-93"></a>
<a name="gbab-94"></a><span class="err">    path = File.join(before, dest_folder, after, filename)</span>
<a name="gbab-95"></a><span class="err">    File.write(path, file_content_from_hash(input_hash))</span>
<a name="gbab-96"></a><span class="err">  end</span>
<a name="gbab-97"></a><span class="err">end</span>
<a name="gbab-98"></a>
<a name="gbab-99"></a><span class="err">#</span>
<a name="gbab-100"></a>
<a name="gbab-101"></a><span class="err">Given(%r!^I have the following (draft|post)s? within the &quot;(.*)&quot; directory:$!) do |type, folder, table|</span>
<a name="gbab-102"></a><span class="err">  table.hashes.each do |input_hash|</span>
<a name="gbab-103"></a><span class="err">    title = slug(input_hash[&quot;title&quot;])</span>
<a name="gbab-104"></a><span class="err">    parsed_date = Time.xmlschema(input_hash[&quot;date&quot;]) rescue Time.parse(input_hash[&quot;date&quot;])</span>
<a name="gbab-105"></a>
<a name="gbab-106"></a><span class="err">    filename = type == &quot;draft&quot; ? &quot;#{title}.markdown&quot; : &quot;#{parsed_date.strftime(&quot;%Y-%m-%d&quot;)}-#{title}.markdown&quot;</span>
<a name="gbab-107"></a>
<a name="gbab-108"></a><span class="err">    path = File.join(folder, &quot;_#{type}s&quot;, filename)</span>
<a name="gbab-109"></a><span class="err">    File.write(path, file_content_from_hash(input_hash))</span>
<a name="gbab-110"></a><span class="err">  end</span>
<a name="gbab-111"></a><span class="err">end</span>
<a name="gbab-112"></a>
<a name="gbab-113"></a><span class="err">#</span>
<a name="gbab-114"></a>
<a name="gbab-115"></a><span class="err">Given(%r!^I have the following documents? under the (.*) collection:$!) do |folder, table|</span>
<a name="gbab-116"></a><span class="err">  table.hashes.each do |input_hash|</span>
<a name="gbab-117"></a><span class="err">    title = slug(input_hash[&quot;title&quot;])</span>
<a name="gbab-118"></a><span class="err">    filename = &quot;#{title}.md&quot;</span>
<a name="gbab-119"></a><span class="err">    dest_folder = &quot;_#{folder}&quot;</span>
<a name="gbab-120"></a>
<a name="gbab-121"></a><span class="err">    path = File.join(dest_folder, filename)</span>
<a name="gbab-122"></a><span class="err">    File.write(path, file_content_from_hash(input_hash))</span>
<a name="gbab-123"></a><span class="err">  end</span>
<a name="gbab-124"></a><span class="err">end</span>
<a name="gbab-125"></a>
<a name="gbab-126"></a><span class="err">#</span>
<a name="gbab-127"></a>
<a name="gbab-128"></a><span class="err">Given(%r!^I have the following documents? under the &quot;(.*)&quot; collection within the &quot;(.*)&quot; directory:$!) do |label, dir, table|</span>
<a name="gbab-129"></a><span class="err">  table.hashes.each do |input_hash|</span>
<a name="gbab-130"></a><span class="err">    title = slug(input_hash[&quot;title&quot;])</span>
<a name="gbab-131"></a><span class="err">    path = File.join(dir, &quot;_#{label}&quot;, &quot;#{title}.md&quot;)</span>
<a name="gbab-132"></a><span class="err">    File.write(path, file_content_from_hash(input_hash))</span>
<a name="gbab-133"></a><span class="err">  end</span>
<a name="gbab-134"></a><span class="err">end</span>
<a name="gbab-135"></a>
<a name="gbab-136"></a><span class="err">#</span>
<a name="gbab-137"></a>
<a name="gbab-138"></a><span class="err">Given(%r!^I have a configuration file with &quot;(.*)&quot; set to &quot;(.*)&quot;$!) do |key, value|</span>
<a name="gbab-139"></a><span class="err">  config = \</span>
<a name="gbab-140"></a><span class="err">    if source_dir.join(&quot;_config.yml&quot;).exist?</span>
<a name="gbab-141"></a><span class="err">    SafeYAML.load_file(source_dir.join(&quot;_config.yml&quot;))</span>
<a name="gbab-142"></a><span class="err">  else</span>
<a name="gbab-143"></a><span class="err">    {}</span>
<a name="gbab-144"></a><span class="err">  end</span>
<a name="gbab-145"></a><span class="err">  config[key] = YAML.load(value)</span>
<a name="gbab-146"></a><span class="err">  Jekyll.set_timezone(value) if key == &quot;timezone&quot;</span>
<a name="gbab-147"></a><span class="err">  File.write(&quot;_config.yml&quot;, YAML.dump(config))</span>
<a name="gbab-148"></a><span class="err">end</span>
<a name="gbab-149"></a>
<a name="gbab-150"></a><span class="err">#</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a><span class="err">Given(%r!^I have a configuration file with:$!) do |table|</span>
<a name="gbab-153"></a><span class="err">    table.hashes.each do |row|</span>
<a name="gbab-154"></a><span class="err">    step %(I have a configuration file with &quot;#{row[&quot;key&quot;]}&quot; set to &quot;#{row[&quot;value&quot;]}&quot;)</span>
<a name="gbab-155"></a><span class="err">  end</span>
<a name="gbab-156"></a><span class="err">end</span>
<a name="gbab-157"></a>
<a name="gbab-158"></a><span class="err">#</span>
<a name="gbab-159"></a>
<a name="gbab-160"></a><span class="err">Given(%r!^I have a configuration file with &quot;([^\&quot;]*)&quot; set to:$!) do |key, table|</span>
<a name="gbab-161"></a><span class="err">  File.open(&quot;_config.yml&quot;, &quot;w&quot;) do |f|</span>
<a name="gbab-162"></a><span class="err">    f.write(&quot;#{key}:\n&quot;)</span>
<a name="gbab-163"></a><span class="err">    table.hashes.each do |row|</span>
<a name="gbab-164"></a><span class="err">      f.write(&quot;- #{row[&quot;value&quot;]}\n&quot;)</span>
<a name="gbab-165"></a><span class="err">    end</span>
<a name="gbab-166"></a><span class="err">  end</span>
<a name="gbab-167"></a><span class="err">end</span>
<a name="gbab-168"></a>
<a name="gbab-169"></a><span class="err">#</span>
<a name="gbab-170"></a>
<a name="gbab-171"></a><span class="err">Given(%r!^I have fixture collections$!) do</span>
<a name="gbab-172"></a><span class="err">  FileUtils.cp_r Paths.source_dir.join(&quot;test&quot;, &quot;source&quot;, &quot;_methods&quot;), source_dir</span>
<a name="gbab-173"></a><span class="err">  FileUtils.cp_r Paths.source_dir.join(&quot;test&quot;, &quot;source&quot;, &quot;_thanksgiving&quot;), source_dir</span>
<a name="gbab-174"></a><span class="err">end</span>
<a name="gbab-175"></a>
<a name="gbab-176"></a><span class="err">#</span>
<a name="gbab-177"></a>
<a name="gbab-178"></a><span class="err">Given(%r!^I wait (\d+) second(s?)$!) do |time, _|</span>
<a name="gbab-179"></a><span class="err">  sleep(time.to_f)</span>
<a name="gbab-180"></a><span class="err">end</span>
<a name="gbab-181"></a>
<a name="gbab-182"></a><span class="err">#</span>
<a name="gbab-183"></a>
<a name="gbab-184"></a><span class="err">When(%r!^I run jekyll(.*)$!) do |args|</span>
<a name="gbab-185"></a><span class="err">  run_jekyll(args)</span>
<a name="gbab-186"></a><span class="err">  if args.include?(&quot;--verbose&quot;) || ENV[&quot;DEBUG&quot;]</span>
<a name="gbab-187"></a><span class="err">    warn &quot;\n#{jekyll_run_output}\n&quot;</span>
<a name="gbab-188"></a><span class="err">end</span>
<a name="gbab-189"></a><span class="err">  call_jekyll_new(:path =&gt; &quot;test_blank&quot;, :blank =&gt; true)</span>
<a name="gbab-190"></a><span class="err">end</span>
<a name="gbab-191"></a><span class="err">#</span>
<a name="gbab-192"></a>
<a name="gbab-193"></a><span class="err">When(%r!^I run bundle(.*)$!) do |args|</span>
<a name="gbab-194"></a><span class="err">  run_bundle(args)</span>
<a name="gbab-195"></a><span class="err">  if args.include?(&quot;--verbose&quot;) || ENV[&quot;DEBUG&quot;]</span>
<a name="gbab-196"></a><span class="err">    warn &quot;\n#{jekyll_run_output}\n&quot;</span>
<a name="gbab-197"></a><span class="err">  end</span>
<a name="gbab-198"></a><span class="err">end</span>
<a name="gbab-199"></a>
<a name="gbab-200"></a><span class="err">#</span>
<a name="gbab-201"></a>
<a name="gbab-202"></a><span class="err">When(%r!^I run gem(.*)$!) do |args|</span>
<a name="gbab-203"></a><span class="err">  run_rubygem(args)</span>
<a name="gbab-204"></a><span class="err">  if args.include?(&quot;--verbose&quot;) || ENV[&quot;DEBUG&quot;]</span>
<a name="gbab-205"></a><span class="err">    warn &quot;\n#{jekyll_run_output}\n&quot;</span>
<a name="gbab-206"></a><span class="err">  end</span>
<a name="gbab-207"></a><span class="err">end</span>
<a name="gbab-208"></a>
<a name="gbab-209"></a><span class="err">#</span>
<a name="gbab-210"></a>
<a name="gbab-211"></a><span class="err">When(%r!^I run git add .$!) do</span>
<a name="gbab-212"></a><span class="err">  run_in_shell(&quot;git&quot;, &quot;add&quot;, &quot;.&quot;, &quot;--verbose&quot;)</span>
<a name="gbab-213"></a><span class="err">end</span>
<a name="gbab-214"></a>
<a name="gbab-215"></a><span class="err">#</span>
<a name="gbab-216"></a>
<a name="gbab-217"></a><span class="err">When(%r!^I decide to build the theme gem$!) do</span>
<a name="gbab-218"></a><span class="err">  Dir.chdir(Paths.theme_gem_dir)</span>
<a name="gbab-219"></a><span class="err">  File.new(&quot;_includes/blank.html&quot;, &quot;w&quot;)</span>
<a name="gbab-220"></a><span class="err">  File.new(&quot;_sass/blank.scss&quot;, &quot;w&quot;)</span>
<a name="gbab-221"></a><span class="err">  File.new(&quot;assets/blank.scss&quot;, &quot;w&quot;)</span>
<a name="gbab-222"></a><span class="err">end</span>
<a name="gbab-223"></a>
<a name="gbab-224"></a>
<a name="gbab-225"></a><span class="err">#</span>
<a name="gbab-226"></a>
<a name="gbab-227"></a><span class="err">When(%r!^I change &quot;(.*)&quot; to contain &quot;(.*)&quot;$!) do |file, text|</span>
<a name="gbab-228"></a><span class="err">  File.open(file, &quot;a&quot;) do |f|</span>
<a name="gbab-229"></a><span class="err">    f.write(text)</span>
<a name="gbab-230"></a><span class="err">  end</span>
<a name="gbab-231"></a><span class="err">end</span>
<a name="gbab-232"></a>
<a name="gbab-233"></a><span class="err">#</span>
<a name="gbab-234"></a>
<a name="gbab-235"></a><span class="err">When(%r!^I delete the file &quot;(.*)&quot;$!) do |file|</span>
<a name="gbab-236"></a><span class="err">Then(%r!^I should (not )?see &quot;(.*)&quot; in &quot;(.*)&quot; if on Windows$!) do |negative, text, file|</span>
<a name="gbab-237"></a><span class="err">  step %(the &quot;#{file}&quot; file should exist)</span>
<a name="gbab-238"></a><span class="err">  regexp = Regexp.new(text, Regexp::MULTILINE)</span>
<a name="gbab-239"></a><span class="err">  if negative.nil? || negative.empty?</span>
<a name="gbab-240"></a><span class="err">    if Jekyll::Utils::Platforms.really_windows?</span>
<a name="gbab-241"></a><span class="err">      expect(file_contents(file)).to match regexp</span>
<a name="gbab-242"></a><span class="err">    else</span>
<a name="gbab-243"></a><span class="err">      expect(file_contents(file)).not_to match regexp</span>
<a name="gbab-244"></a><span class="err">    end</span>
<a name="gbab-245"></a><span class="err">  end</span>
<a name="gbab-246"></a><span class="err">end</span>
<a name="gbab-247"></a>
<a name="gbab-248"></a><span class="err">#</span>
<a name="gbab-249"></a>
<a name="gbab-250"></a><span class="err">Then(%r!^I should (not )?see &quot;(.*)&quot; in &quot;(.*)&quot; unless Windows$!) do |negative, text, file|</span>
<a name="gbab-251"></a><span class="err">  step %(the &quot;#{file}&quot; file should exist)</span>
<a name="gbab-252"></a><span class="err">  regexp = Regexp.new(text, Regexp::MULTILINE)</span>
<a name="gbab-253"></a><span class="err">  if negative.nil? || negative.empty?</span>
<a name="gbab-254"></a><span class="err">    if Jekyll::Utils::Platforms.really_windows?</span>
<a name="gbab-255"></a><span class="err">      expect(file_contents(file)).not_to match regexp</span>
<a name="gbab-256"></a><span class="err">    else</span>
<a name="gbab-257"></a><span class="err">      expect(file_contents(file)).to match regexp</span>
<a name="gbab-258"></a><span class="err">    end</span>
<a name="gbab-259"></a><span class="err">  end</span>
<a name="gbab-260"></a><span class="err">end</span>
<a name="gbab-261"></a>
<a name="gbab-262"></a><span class="err">#</span>
<a name="gbab-263"></a>
<a name="gbab-264"></a><span class="err">  File.delete(file)</span>
<a name="gbab-265"></a><span class="err">end</span>
<a name="gbab-266"></a>
<a name="gbab-267"></a><span class="err">#</span>
<a name="gbab-268"></a>
<a name="gbab-269"></a><span class="err">Then(%r!^the (.*) directory should +(not )?exist$!) do |dir, negative|</span>
<a name="gbab-270"></a><span class="err">  if negative.nil?</span>
<a name="gbab-271"></a><span class="err">  expect(Pathname.new(dir)).to exist</span>
<a name="gbab-272"></a><span class="err">  else</span>
<a name="gbab-273"></a><span class="err">    expect(Pathname.new(dir)).to_not exist</span>
<a name="gbab-274"></a><span class="err">end</span>
<a name="gbab-275"></a><span class="err">end</span>
<a name="gbab-276"></a>
<a name="gbab-277"></a><span class="err">#</span>
<a name="gbab-278"></a>
<a name="gbab-279"></a><span class="err">Then(%r!^I should (not )?see &quot;(.*)&quot; in &quot;(.*)&quot;$!) do |negative, text, file|</span>
<a name="gbab-280"></a><span class="err">  step %(the &quot;#{file}&quot; file should exist)</span>
<a name="gbab-281"></a><span class="err">  regexp = Regexp.new(text, Regexp::MULTILINE)</span>
<a name="gbab-282"></a><span class="err">  if negative.nil? || negative.empty?</span>
<a name="gbab-283"></a><span class="err">  expect(file_contents(file)).to match regexp</span>
<a name="gbab-284"></a><span class="err">  else</span>
<a name="gbab-285"></a><span class="err">    expect(file_contents(file)).not_to match regexp</span>
<a name="gbab-286"></a><span class="err">  end</span>
<a name="gbab-287"></a><span class="err">end</span>
<a name="gbab-288"></a>
<a name="gbab-289"></a><span class="err">#</span>
<a name="gbab-290"></a><span class="err">Then(%r!^I should see date &quot;(.*)&quot; in &quot;(.*)&quot; unless Windows$!) do |text, file|</span>
<a name="gbab-291"></a><span class="err">  step %(the &quot;#{file}&quot; file should exist)</span>
<a name="gbab-292"></a><span class="err">  regexp = Regexp.new(text)</span>
<a name="gbab-293"></a><span class="err">  if Jekyll::Utils::Platforms.really_windows? &amp;&amp; !dst_active?</span>
<a name="gbab-294"></a><span class="err">    expect(file_contents(file)).not_to match regexp</span>
<a name="gbab-295"></a><span class="err">  else</span>
<a name="gbab-296"></a><span class="err">    expect(file_contents(file)).to match regexp</span>
<a name="gbab-297"></a><span class="err">  end</span>
<a name="gbab-298"></a><span class="err">end</span>
<a name="gbab-299"></a>
<a name="gbab-300"></a><span class="err">#</span>
<a name="gbab-301"></a>
<a name="gbab-302"></a><span class="err">Then(%r!^I should see date &quot;(.*)&quot; in &quot;(.*)&quot; if on Windows$!) do |text, file|</span>
<a name="gbab-303"></a><span class="err">  step %(the &quot;#{file}&quot; file should exist)</span>
<a name="gbab-304"></a><span class="err">  regexp = Regexp.new(text)</span>
<a name="gbab-305"></a><span class="err">  if Jekyll::Utils::Platforms.really_windows? &amp;&amp; !dst_active?</span>
<a name="gbab-306"></a><span class="err">    expect(file_contents(file)).to match regexp</span>
<a name="gbab-307"></a><span class="err">  else</span>
<a name="gbab-308"></a><span class="err">    expect(file_contents(file)).not_to match regexp</span>
<a name="gbab-309"></a><span class="err">  end</span>
<a name="gbab-310"></a><span class="err">end</span>
<a name="gbab-311"></a>
<a name="gbab-312"></a><span class="err">#</span>
<a name="gbab-313"></a>
<a name="gbab-314"></a><span class="err">end</span>
<a name="gbab-315"></a><span class="err">Then(%r!^I should see exactly &quot;(.*)&quot; in &quot;(.*)&quot;$!) do |text, file|</span>
<a name="gbab-316"></a><span class="err">  step %(the &quot;#{file}&quot; file should exist)</span>
<a name="gbab-317"></a><span class="err">  expect(file_contents(file).strip).to eq text</span>
<a name="gbab-318"></a><span class="err">end</span>
<a name="gbab-319"></a>
<a name="gbab-320"></a><span class="err">#</span>
<a name="gbab-321"></a>
<a name="gbab-322"></a><span class="err">Then(%r!^I should see escaped &quot;(.*)&quot; in &quot;(.*)&quot;$!) do |text, file|</span>
<a name="gbab-323"></a><span class="err">  step %(I should see &quot;#{Regexp.escape(text)}&quot; in &quot;#{file}&quot;)</span>
<a name="gbab-324"></a><span class="err">  end</span>
<a name="gbab-325"></a>
<a name="gbab-326"></a><span class="err">#</span>
<a name="gbab-327"></a>
<a name="gbab-328"></a><span class="err">Then(%r!^the &quot;(.*)&quot; file should +(not )?exist$!) do |file, negative|</span>
<a name="gbab-329"></a><span class="err">  if negative.nil?</span>
<a name="gbab-330"></a><span class="err">  expect(Pathname.new(file)).to exist</span>
<a name="gbab-331"></a><span class="err">  else</span>
<a name="gbab-332"></a><span class="err">  expect(Pathname.new(file)).to_not exist</span>
<a name="gbab-333"></a><span class="err">end</span>
<a name="gbab-334"></a><span class="err">end</span>
<a name="gbab-335"></a>
<a name="gbab-336"></a><span class="err">#</span>
<a name="gbab-337"></a>
<a name="gbab-338"></a><span class="err">Then(%r!^I should see today&#39;s time in &quot;(.*)&quot;$!) do |file|</span>
<a name="gbab-339"></a><span class="err">  step %(I should see &quot;#{seconds_agnostic_time(Time.now)}&quot; in &quot;#{file}&quot;)</span>
<a name="gbab-340"></a><span class="err">end</span>
<a name="gbab-341"></a>
<a name="gbab-342"></a><span class="err">#</span>
<a name="gbab-343"></a>
<a name="gbab-344"></a><span class="err">Then(%r!^I should see today&#39;s date in &quot;(.*)&quot;$!) do |file|</span>
<a name="gbab-345"></a><span class="err">  step %(I should see &quot;#{Date.today}&quot; in &quot;#{file}&quot;)</span>
<a name="gbab-346"></a><span class="err">end</span>
<a name="gbab-347"></a>
<a name="gbab-348"></a><span class="err">#</span>
<a name="gbab-349"></a>
<a name="gbab-350"></a><span class="err">Then(%r!^I should (not )?see &quot;(.*)&quot; in the build output$!) do |negative, text|</span>
<a name="gbab-351"></a><span class="err">  if negative.nil? || negative.empty?</span>
<a name="gbab-352"></a><span class="err">  expect(jekyll_run_output).to match Regexp.new(text)</span>
<a name="gbab-353"></a><span class="err">  else</span>
<a name="gbab-354"></a><span class="err">    expect(jekyll_run_output).not_to match Regexp.new(text)</span>
<a name="gbab-355"></a><span class="err">  end</span>
<a name="gbab-356"></a><span class="err">end</span>
<a name="gbab-357"></a>
<a name="gbab-358"></a><span class="err">#</span>
<a name="gbab-359"></a>
<a name="gbab-360"></a><span class="err">Then(%r!^I should get an updated git index$!) do</span>
<a name="gbab-361"></a><span class="err">  index = %w(</span>
<a name="gbab-362"></a><span class="err">    .gitignore</span>
<a name="gbab-363"></a><span class="err">    Gemfile</span>
<a name="gbab-364"></a><span class="err">    LICENSE.txt</span>
<a name="gbab-365"></a><span class="err">    README.md</span>
<a name="gbab-366"></a><span class="err">    _includes/blank.html</span>
<a name="gbab-367"></a><span class="err">    _layouts/default.html</span>
<a name="gbab-368"></a><span class="err">    _layouts/page.html</span>
<a name="gbab-369"></a><span class="err">    _layouts/post.html</span>
<a name="gbab-370"></a><span class="err">    _sass/blank.scss</span>
<a name="gbab-371"></a><span class="err">    assets/blank.scss</span>
<a name="gbab-372"></a><span class="err">    my-cool-theme.gemspec</span>
<a name="gbab-373"></a><span class="err">  )</span>
<a name="gbab-374"></a><span class="err">  index.each do |file|</span>
<a name="gbab-375"></a><span class="err">    expect(jekyll_run_output).to match file</span>
<a name="gbab-376"></a><span class="err">  end</span>
<a name="gbab-377"></a><span class="err">end</span>
<a name="gbab-378"></a>
<a name="gbab-379"></a><span class="err">#</span>
<a name="gbab-380"></a>
<a name="gbab-381"></a><span class="err">Then(%r!^I should get a zero exit(?:\-| )status$!) do</span>
<a name="gbab-382"></a><span class="err">  step %(I should see &quot;EXIT STATUS: 0&quot; in the build output)</span>
<a name="gbab-383"></a><span class="err">end</span>
<a name="gbab-384"></a>
<a name="gbab-385"></a><span class="err">#</span>
<a name="gbab-386"></a>
<a name="gbab-387"></a><span class="err">Then(%r!^I should get a non-zero exit(?:\-| )status$!) do</span>
<a name="gbab-388"></a><span class="err">  step %(I should not see &quot;EXIT STATUS: 0&quot; in the build output)</span>
<a name="gbab-389"></a><span class="err">end</span>
<a name="gbab-390"></a><span class="c1">#</span>
<a name="gbab-391"></a>
<a name="gbab-392"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have an? &quot;(.*)&quot; page(?: with (.*) &quot;(.*)&quot;)? that contains &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="p">,</span> <span class="n">key</span><span class="p">,</span> <span class="n">value</span><span class="p">,</span> <span class="n">text</span><span class="o">|</span>
<a name="gbab-393"></a>  <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">strip_heredoc</span><span class="p">(</span><span class="o">&lt;&lt;-</span><span class="no">DATA</span><span class="p">))</span>
<a name="gbab-394"></a>
<a name="gbab-395"></a><span class="sh">    #{key || &quot;layout&quot;}: #{value || &quot;none&quot;}</span>
<a name="gbab-396"></a><span class="sh">---</span>
<a name="gbab-397"></a>
<a name="gbab-398"></a><span class="sh">#{text}</span>
<a name="gbab-399"></a><span class="no">  DATA</span>
<a name="gbab-400"></a>    <span class="k">end</span>
<a name="gbab-401"></a>
<a name="gbab-402"></a><span class="c1">#</span>
<a name="gbab-403"></a>
<a name="gbab-404"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have an? &quot;(.*)&quot; file that contains &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="p">,</span> <span class="n">text</span><span class="o">|</span>
<a name="gbab-405"></a>  <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="n">text</span><span class="p">)</span>
<a name="gbab-406"></a>  <span class="k">end</span>
<a name="gbab-407"></a>
<a name="gbab-408"></a><span class="c1">#</span>
<a name="gbab-409"></a>
<a name="gbab-410"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have an? (.*) (layout|theme) that contains &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="nb">name</span><span class="p">,</span> <span class="n">type</span><span class="p">,</span> <span class="n">text</span><span class="o">|</span>
<a name="gbab-411"></a>  <span class="n">folder</span> <span class="o">=</span> <span class="n">type</span> <span class="o">==</span> <span class="s2">&quot;layout&quot;</span> <span class="p">?</span> <span class="s2">&quot;_layouts&quot;</span> <span class="p">:</span> <span class="s2">&quot;_theme&quot;</span>
<a name="gbab-412"></a>
<a name="gbab-413"></a>  <span class="n">destination_file</span> <span class="o">=</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">folder</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="nb">name</span><span class="si">}</span><span class="s2">.html&quot;</span><span class="p">))</span>
<a name="gbab-414"></a>  <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="n">destination_file</span><span class="o">.</span><span class="n">parent</span><span class="p">)</span> <span class="k">unless</span> <span class="n">destination_file</span><span class="o">.</span><span class="n">parent</span><span class="o">.</span><span class="n">directory?</span>
<a name="gbab-415"></a>  <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">destination_file</span><span class="p">,</span> <span class="n">text</span><span class="p">)</span>
<a name="gbab-416"></a>  <span class="k">end</span>
<a name="gbab-417"></a>
<a name="gbab-418"></a><span class="c1">#</span>
<a name="gbab-419"></a>
<a name="gbab-420"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have an? &quot;(.*)&quot; file with content:$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="p">,</span> <span class="n">text</span><span class="o">|</span>
<a name="gbab-421"></a>  <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="n">text</span><span class="p">)</span>
<a name="gbab-422"></a><span class="k">end</span>
<a name="gbab-423"></a>
<a name="gbab-424"></a><span class="c1">#</span>
<a name="gbab-425"></a>
<a name="gbab-426"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have an? (.*) directory$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">dir</span><span class="o">|</span>
<a name="gbab-427"></a>  <span class="k">unless</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-428"></a>    <span class="k">then</span> <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-429"></a>  <span class="k">end</span>
<a name="gbab-430"></a><span class="k">end</span>
<a name="gbab-431"></a>
<a name="gbab-432"></a><span class="c1">#</span>
<a name="gbab-433"></a>
<a name="gbab-434"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have the following (draft|page|post)s?(?: (in|under) &quot;([^&quot;]+)&quot;)?:$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">status</span><span class="p">,</span> <span class="n">direction</span><span class="p">,</span> <span class="n">folder</span><span class="p">,</span> <span class="n">table</span><span class="o">|</span>
<a name="gbab-435"></a>  <span class="n">table</span><span class="o">.</span><span class="n">hashes</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">input_hash</span><span class="o">|</span>
<a name="gbab-436"></a>    <span class="n">title</span> <span class="o">=</span> <span class="n">slug</span><span class="p">(</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-437"></a>    <span class="n">ext</span> <span class="o">=</span> <span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;type&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="s2">&quot;markdown&quot;</span>
<a name="gbab-438"></a>    <span class="n">filename</span> <span class="o">=</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">title</span><span class="si">}</span><span class="s2">.</span><span class="si">#{</span><span class="n">ext</span><span class="si">}</span><span class="s2">&quot;</span> <span class="k">if</span> <span class="sx">%w(draft page)</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">status</span><span class="p">)</span>
<a name="gbab-439"></a>    <span class="n">before</span><span class="p">,</span> <span class="n">after</span> <span class="o">=</span> <span class="n">location</span><span class="p">(</span><span class="n">folder</span><span class="p">,</span> <span class="n">direction</span><span class="p">)</span>
<a name="gbab-440"></a>    <span class="n">dest_folder</span> <span class="o">=</span> <span class="s2">&quot;_drafts&quot;</span> <span class="k">if</span> <span class="n">status</span> <span class="o">==</span> <span class="s2">&quot;draft&quot;</span>
<a name="gbab-441"></a>    <span class="n">dest_folder</span> <span class="o">=</span> <span class="s2">&quot;_posts&quot;</span>  <span class="k">if</span> <span class="n">status</span> <span class="o">==</span>  <span class="s2">&quot;post&quot;</span>
<a name="gbab-442"></a>    <span class="n">dest_folder</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span> <span class="k">if</span> <span class="n">status</span> <span class="o">==</span> <span class="s2">&quot;page&quot;</span>
<a name="gbab-443"></a>
<a name="gbab-444"></a>    <span class="k">if</span> <span class="n">status</span> <span class="o">==</span> <span class="s2">&quot;post&quot;</span>
<a name="gbab-445"></a>      <span class="n">parsed_date</span> <span class="o">=</span> <span class="no">Time</span><span class="o">.</span><span class="n">xmlschema</span><span class="p">(</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span><span class="p">)</span> <span class="k">rescue</span> <span class="no">Time</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-446"></a>      <span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">parsed_date</span>
<a name="gbab-447"></a>      <span class="n">filename</span> <span class="o">=</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">parsed_date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%Y-%m-%d&quot;</span><span class="p">)</span><span class="si">}</span><span class="s2">-</span><span class="si">#{</span><span class="n">title</span><span class="si">}</span><span class="s2">.</span><span class="si">#{</span><span class="n">ext</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-448"></a>    <span class="k">end</span>
<a name="gbab-449"></a>
<a name="gbab-450"></a>    <span class="n">path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">before</span><span class="p">,</span> <span class="n">dest_folder</span><span class="p">,</span> <span class="n">after</span><span class="p">,</span> <span class="n">filename</span><span class="p">)</span>
<a name="gbab-451"></a>    <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">file_content_from_hash</span><span class="p">(</span><span class="n">input_hash</span><span class="p">))</span>
<a name="gbab-452"></a>  <span class="k">end</span>
<a name="gbab-453"></a><span class="k">end</span>
<a name="gbab-454"></a>
<a name="gbab-455"></a><span class="c1">#</span>
<a name="gbab-456"></a>
<a name="gbab-457"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have the following (draft|post)s? within the &quot;(.*)&quot; directory:$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">type</span><span class="p">,</span> <span class="n">folder</span><span class="p">,</span> <span class="n">table</span><span class="o">|</span>
<a name="gbab-458"></a>  <span class="n">table</span><span class="o">.</span><span class="n">hashes</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">input_hash</span><span class="o">|</span>
<a name="gbab-459"></a>    <span class="n">title</span> <span class="o">=</span> <span class="n">slug</span><span class="p">(</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-460"></a>    <span class="n">parsed_date</span> <span class="o">=</span> <span class="no">Time</span><span class="o">.</span><span class="n">xmlschema</span><span class="p">(</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span><span class="p">)</span> <span class="k">rescue</span> <span class="no">Time</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-461"></a>
<a name="gbab-462"></a>    <span class="n">filename</span> <span class="o">=</span> <span class="n">type</span> <span class="o">==</span> <span class="s2">&quot;draft&quot;</span> <span class="p">?</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">title</span><span class="si">}</span><span class="s2">.markdown&quot;</span> <span class="p">:</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">parsed_date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%Y-%m-%d&quot;</span><span class="p">)</span><span class="si">}</span><span class="s2">-</span><span class="si">#{</span><span class="n">title</span><span class="si">}</span><span class="s2">.markdown&quot;</span>
<a name="gbab-463"></a>
<a name="gbab-464"></a>    <span class="n">path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">folder</span><span class="p">,</span> <span class="s2">&quot;_</span><span class="si">#{</span><span class="n">type</span><span class="si">}</span><span class="s2">s&quot;</span><span class="p">,</span> <span class="n">filename</span><span class="p">)</span>
<a name="gbab-465"></a>    <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">file_content_from_hash</span><span class="p">(</span><span class="n">input_hash</span><span class="p">))</span>
<a name="gbab-466"></a>  <span class="k">end</span>
<a name="gbab-467"></a><span class="k">end</span>
<a name="gbab-468"></a>
<a name="gbab-469"></a><span class="c1">#</span>
<a name="gbab-470"></a>
<a name="gbab-471"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have the following documents? under the (.*) collection:$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">folder</span><span class="p">,</span> <span class="n">table</span><span class="o">|</span>
<a name="gbab-472"></a>  <span class="n">table</span><span class="o">.</span><span class="n">hashes</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">input_hash</span><span class="o">|</span>
<a name="gbab-473"></a>    <span class="n">title</span> <span class="o">=</span> <span class="n">slug</span><span class="p">(</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-474"></a>    <span class="n">filename</span> <span class="o">=</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">title</span><span class="si">}</span><span class="s2">.md&quot;</span>
<a name="gbab-475"></a>    <span class="n">dest_folder</span> <span class="o">=</span> <span class="s2">&quot;_</span><span class="si">#{</span><span class="n">folder</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-476"></a>
<a name="gbab-477"></a>    <span class="n">path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest_folder</span><span class="p">,</span> <span class="n">filename</span><span class="p">)</span>
<a name="gbab-478"></a>    <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">file_content_from_hash</span><span class="p">(</span><span class="n">input_hash</span><span class="p">))</span>
<a name="gbab-479"></a>  <span class="k">end</span>
<a name="gbab-480"></a><span class="k">end</span>
<a name="gbab-481"></a>
<a name="gbab-482"></a><span class="c1">#</span>
<a name="gbab-483"></a>
<a name="gbab-484"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have the following documents? under the &quot;(.*)&quot; collection within the &quot;(.*)&quot; directory:$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">label</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="n">table</span><span class="o">|</span>
<a name="gbab-485"></a>  <span class="n">table</span><span class="o">.</span><span class="n">hashes</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">input_hash</span><span class="o">|</span>
<a name="gbab-486"></a>    <span class="n">title</span> <span class="o">=</span> <span class="n">slug</span><span class="p">(</span><span class="n">input_hash</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-487"></a>    <span class="n">path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="s2">&quot;_</span><span class="si">#{</span><span class="n">label</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">title</span><span class="si">}</span><span class="s2">.md&quot;</span><span class="p">)</span>
<a name="gbab-488"></a>    <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">file_content_from_hash</span><span class="p">(</span><span class="n">input_hash</span><span class="p">))</span>
<a name="gbab-489"></a>  <span class="k">end</span>
<a name="gbab-490"></a><span class="k">end</span>
<a name="gbab-491"></a>
<a name="gbab-492"></a><span class="c1">#</span>
<a name="gbab-493"></a>
<a name="gbab-494"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have a configuration file with &quot;(.*)&quot; set to &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="p">,</span> <span class="n">value</span><span class="o">|</span>
<a name="gbab-495"></a>  <span class="n">config</span> <span class="o">=</span> <span class="p">\</span>
<a name="gbab-496"></a>    <span class="k">if</span> <span class="n">source_dir</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;_config.yml&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">exist?</span>
<a name="gbab-497"></a>    <span class="no">SafeYAML</span><span class="o">.</span><span class="n">load_file</span><span class="p">(</span><span class="n">source_dir</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;_config.yml&quot;</span><span class="p">))</span>
<a name="gbab-498"></a>  <span class="k">else</span>
<a name="gbab-499"></a>    <span class="p">{}</span>
<a name="gbab-500"></a>  <span class="k">end</span>
<a name="gbab-501"></a>  <span class="n">config</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="no">YAML</span><span class="o">.</span><span class="n">load</span><span class="p">(</span><span class="n">value</span><span class="p">)</span>
<a name="gbab-502"></a>  <span class="no">Jekyll</span><span class="o">.</span><span class="n">set_timezone</span><span class="p">(</span><span class="n">value</span><span class="p">)</span> <span class="k">if</span> <span class="n">key</span> <span class="o">==</span> <span class="s2">&quot;timezone&quot;</span>
<a name="gbab-503"></a>  <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="s2">&quot;_config.yml&quot;</span><span class="p">,</span> <span class="no">YAML</span><span class="o">.</span><span class="n">dump</span><span class="p">(</span><span class="n">config</span><span class="p">))</span>
<a name="gbab-504"></a><span class="k">end</span>
<a name="gbab-505"></a>
<a name="gbab-506"></a><span class="c1">#</span>
<a name="gbab-507"></a>
<a name="gbab-508"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have a configuration file with:$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">table</span><span class="o">|</span>
<a name="gbab-509"></a>    <span class="n">table</span><span class="o">.</span><span class="n">hashes</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">row</span><span class="o">|</span>
<a name="gbab-510"></a>    <span class="n">step</span> <span class="sx">%(I have a configuration file with &quot;</span><span class="si">#{</span><span class="n">row</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span><span class="si">}</span><span class="sx">&quot; set to &quot;</span><span class="si">#{</span><span class="n">row</span><span class="o">[</span><span class="s2">&quot;value&quot;</span><span class="o">]</span><span class="si">}</span><span class="sx">&quot;)</span>
<a name="gbab-511"></a>  <span class="k">end</span>
<a name="gbab-512"></a><span class="k">end</span>
<a name="gbab-513"></a>
<a name="gbab-514"></a><span class="c1">#</span>
<a name="gbab-515"></a>
<a name="gbab-516"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have a configuration file with &quot;([^\&quot;]*)&quot; set to:$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="p">,</span> <span class="n">table</span><span class="o">|</span>
<a name="gbab-517"></a>  <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="s2">&quot;_config.yml&quot;</span><span class="p">,</span> <span class="s2">&quot;w&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-518"></a>    <span class="n">f</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">key</span><span class="si">}</span><span class="s2">:</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-519"></a>    <span class="n">table</span><span class="o">.</span><span class="n">hashes</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">row</span><span class="o">|</span>
<a name="gbab-520"></a>      <span class="n">f</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="s2">&quot;- </span><span class="si">#{</span><span class="n">row</span><span class="o">[</span><span class="s2">&quot;value&quot;</span><span class="o">]</span><span class="si">}</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-521"></a>    <span class="k">end</span>
<a name="gbab-522"></a>  <span class="k">end</span>
<a name="gbab-523"></a><span class="k">end</span>
<a name="gbab-524"></a>
<a name="gbab-525"></a><span class="c1">#</span>
<a name="gbab-526"></a>
<a name="gbab-527"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I have fixture collections$!</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-528"></a>  <span class="no">FileUtils</span><span class="o">.</span><span class="n">cp_r</span> <span class="no">Paths</span><span class="o">.</span><span class="n">source_dir</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;test&quot;</span><span class="p">,</span> <span class="s2">&quot;source&quot;</span><span class="p">,</span> <span class="s2">&quot;_methods&quot;</span><span class="p">),</span> <span class="n">source_dir</span>
<a name="gbab-529"></a>  <span class="no">FileUtils</span><span class="o">.</span><span class="n">cp_r</span> <span class="no">Paths</span><span class="o">.</span><span class="n">source_dir</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;test&quot;</span><span class="p">,</span> <span class="s2">&quot;source&quot;</span><span class="p">,</span> <span class="s2">&quot;_thanksgiving&quot;</span><span class="p">),</span> <span class="n">source_dir</span>
<a name="gbab-530"></a><span class="k">end</span>
<a name="gbab-531"></a>
<a name="gbab-532"></a><span class="c1">#</span>
<a name="gbab-533"></a>
<a name="gbab-534"></a><span class="no">Given</span><span class="p">(</span><span class="sr">%r!^I wait (\d+) second(s?)$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">time</span><span class="p">,</span> <span class="n">_</span><span class="o">|</span>
<a name="gbab-535"></a>  <span class="nb">sleep</span><span class="p">(</span><span class="n">time</span><span class="o">.</span><span class="n">to_f</span><span class="p">)</span>
<a name="gbab-536"></a><span class="k">end</span>
<a name="gbab-537"></a>
<a name="gbab-538"></a><span class="c1">#</span>
<a name="gbab-539"></a>
<a name="gbab-540"></a><span class="no">When</span><span class="p">(</span><span class="sr">%r!^I run jekyll(.*)$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">args</span><span class="o">|</span>
<a name="gbab-541"></a>  <span class="n">run_jekyll</span><span class="p">(</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-542"></a>  <span class="k">if</span> <span class="n">args</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;--verbose&quot;</span><span class="p">)</span> <span class="o">||</span> <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;DEBUG&quot;</span><span class="o">]</span>
<a name="gbab-543"></a>    <span class="nb">warn</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="si">#{</span><span class="n">jekyll_run_output</span><span class="si">}</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-544"></a><span class="k">end</span>
<a name="gbab-545"></a>  <span class="n">call_jekyll_new</span><span class="p">(</span><span class="ss">:path</span> <span class="o">=&gt;</span> <span class="s2">&quot;test_blank&quot;</span><span class="p">,</span> <span class="ss">:blank</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-546"></a><span class="k">end</span>
<a name="gbab-547"></a><span class="c1">#</span>
<a name="gbab-548"></a>
<a name="gbab-549"></a><span class="no">When</span><span class="p">(</span><span class="sr">%r!^I run bundle(.*)$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">args</span><span class="o">|</span>
<a name="gbab-550"></a>  <span class="n">run_bundle</span><span class="p">(</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-551"></a>  <span class="k">if</span> <span class="n">args</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;--verbose&quot;</span><span class="p">)</span> <span class="o">||</span> <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;DEBUG&quot;</span><span class="o">]</span>
<a name="gbab-552"></a>    <span class="nb">warn</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="si">#{</span><span class="n">jekyll_run_output</span><span class="si">}</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-553"></a>  <span class="k">end</span>
<a name="gbab-554"></a><span class="k">end</span>
<a name="gbab-555"></a>
<a name="gbab-556"></a><span class="c1">#</span>
<a name="gbab-557"></a>
<a name="gbab-558"></a><span class="no">When</span><span class="p">(</span><span class="sr">%r!^I run gem(.*)$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">args</span><span class="o">|</span>
<a name="gbab-559"></a>  <span class="n">run_rubygem</span><span class="p">(</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-560"></a>  <span class="k">if</span> <span class="n">args</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;--verbose&quot;</span><span class="p">)</span> <span class="o">||</span> <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;DEBUG&quot;</span><span class="o">]</span>
<a name="gbab-561"></a>    <span class="nb">warn</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="si">#{</span><span class="n">jekyll_run_output</span><span class="si">}</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-562"></a>  <span class="k">end</span>
<a name="gbab-563"></a><span class="k">end</span>
<a name="gbab-564"></a>
<a name="gbab-565"></a><span class="c1">#</span>
<a name="gbab-566"></a>
<a name="gbab-567"></a><span class="no">When</span><span class="p">(</span><span class="sr">%r!^I run git add .$!</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-568"></a>  <span class="n">run_in_shell</span><span class="p">(</span><span class="s2">&quot;git&quot;</span><span class="p">,</span> <span class="s2">&quot;add&quot;</span><span class="p">,</span> <span class="s2">&quot;.&quot;</span><span class="p">,</span> <span class="s2">&quot;--verbose&quot;</span><span class="p">)</span>
<a name="gbab-569"></a><span class="k">end</span>
<a name="gbab-570"></a>
<a name="gbab-571"></a><span class="c1">#</span>
<a name="gbab-572"></a>
<a name="gbab-573"></a><span class="no">When</span><span class="p">(</span><span class="sr">%r!^I decide to build the theme gem$!</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-574"></a>  <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="no">Paths</span><span class="o">.</span><span class="n">theme_gem_dir</span><span class="p">)</span>
<a name="gbab-575"></a>  <span class="no">File</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;_includes/blank.html&quot;</span><span class="p">,</span> <span class="s2">&quot;w&quot;</span><span class="p">)</span>
<a name="gbab-576"></a>  <span class="no">File</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;_sass/blank.scss&quot;</span><span class="p">,</span> <span class="s2">&quot;w&quot;</span><span class="p">)</span>
<a name="gbab-577"></a>  <span class="no">File</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;assets/blank.scss&quot;</span><span class="p">,</span> <span class="s2">&quot;w&quot;</span><span class="p">)</span>
<a name="gbab-578"></a><span class="k">end</span>
<a name="gbab-579"></a>
<a name="gbab-580"></a>
<a name="gbab-581"></a><span class="c1">#</span>
<a name="gbab-582"></a>
<a name="gbab-583"></a><span class="no">When</span><span class="p">(</span><span class="sr">%r!^I change &quot;(.*)&quot; to contain &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="p">,</span> <span class="n">text</span><span class="o">|</span>
<a name="gbab-584"></a>  <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="s2">&quot;a&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-585"></a>    <span class="n">f</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
<a name="gbab-586"></a>  <span class="k">end</span>
<a name="gbab-587"></a><span class="k">end</span>
<a name="gbab-588"></a>
<a name="gbab-589"></a><span class="c1">#</span>
<a name="gbab-590"></a>
<a name="gbab-591"></a><span class="no">When</span><span class="p">(</span><span class="sr">%r!^I delete the file &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span>
<a name="gbab-592"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should (not )?see &quot;(.*)&quot; in &quot;(.*)&quot; if on Windows$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">negative</span><span class="p">,</span> <span class="n">text</span><span class="p">,</span> <span class="n">file</span><span class="o">|</span>
<a name="gbab-593"></a>  <span class="n">step</span> <span class="sx">%(the &quot;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="sx">&quot; file should exist)</span>
<a name="gbab-594"></a>  <span class="n">regexp</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">text</span><span class="p">,</span> <span class="no">Regexp</span><span class="o">::</span><span class="no">MULTILINE</span><span class="p">)</span>
<a name="gbab-595"></a>  <span class="k">if</span> <span class="n">negative</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">negative</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-596"></a>    <span class="k">if</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Platforms</span><span class="o">.</span><span class="n">really_windows?</span>
<a name="gbab-597"></a>      <span class="n">expect</span><span class="p">(</span><span class="n">file_contents</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">to</span> <span class="n">match</span> <span class="n">regexp</span>
<a name="gbab-598"></a>    <span class="k">else</span>
<a name="gbab-599"></a>      <span class="n">expect</span><span class="p">(</span><span class="n">file_contents</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">not_to</span> <span class="n">match</span> <span class="n">regexp</span>
<a name="gbab-600"></a>    <span class="k">end</span>
<a name="gbab-601"></a>  <span class="k">end</span>
<a name="gbab-602"></a><span class="k">end</span>
<a name="gbab-603"></a>
<a name="gbab-604"></a><span class="c1">#</span>
<a name="gbab-605"></a>
<a name="gbab-606"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should (not )?see &quot;(.*)&quot; in &quot;(.*)&quot; unless Windows$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">negative</span><span class="p">,</span> <span class="n">text</span><span class="p">,</span> <span class="n">file</span><span class="o">|</span>
<a name="gbab-607"></a>  <span class="n">step</span> <span class="sx">%(the &quot;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="sx">&quot; file should exist)</span>
<a name="gbab-608"></a>  <span class="n">regexp</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">text</span><span class="p">,</span> <span class="no">Regexp</span><span class="o">::</span><span class="no">MULTILINE</span><span class="p">)</span>
<a name="gbab-609"></a>  <span class="k">if</span> <span class="n">negative</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">negative</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-610"></a>    <span class="k">if</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Platforms</span><span class="o">.</span><span class="n">really_windows?</span>
<a name="gbab-611"></a>      <span class="n">expect</span><span class="p">(</span><span class="n">file_contents</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">not_to</span> <span class="n">match</span> <span class="n">regexp</span>
<a name="gbab-612"></a>    <span class="k">else</span>
<a name="gbab-613"></a>      <span class="n">expect</span><span class="p">(</span><span class="n">file_contents</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">to</span> <span class="n">match</span> <span class="n">regexp</span>
<a name="gbab-614"></a>    <span class="k">end</span>
<a name="gbab-615"></a>  <span class="k">end</span>
<a name="gbab-616"></a><span class="k">end</span>
<a name="gbab-617"></a>
<a name="gbab-618"></a><span class="c1">#</span>
<a name="gbab-619"></a>
<a name="gbab-620"></a>  <span class="no">File</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-621"></a><span class="k">end</span>
<a name="gbab-622"></a>
<a name="gbab-623"></a><span class="c1">#</span>
<a name="gbab-624"></a>
<a name="gbab-625"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^the (.*) directory should +(not )?exist$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">dir</span><span class="p">,</span> <span class="n">negative</span><span class="o">|</span>
<a name="gbab-626"></a>  <span class="k">if</span> <span class="n">negative</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-627"></a>  <span class="n">expect</span><span class="p">(</span><span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">dir</span><span class="p">))</span><span class="o">.</span><span class="n">to</span> <span class="n">exist</span>
<a name="gbab-628"></a>  <span class="k">else</span>
<a name="gbab-629"></a>    <span class="n">expect</span><span class="p">(</span><span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">dir</span><span class="p">))</span><span class="o">.</span><span class="n">to_not</span> <span class="n">exist</span>
<a name="gbab-630"></a><span class="k">end</span>
<a name="gbab-631"></a><span class="k">end</span>
<a name="gbab-632"></a>
<a name="gbab-633"></a><span class="c1">#</span>
<a name="gbab-634"></a>
<a name="gbab-635"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should (not )?see &quot;(.*)&quot; in &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">negative</span><span class="p">,</span> <span class="n">text</span><span class="p">,</span> <span class="n">file</span><span class="o">|</span>
<a name="gbab-636"></a>  <span class="n">step</span> <span class="sx">%(the &quot;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="sx">&quot; file should exist)</span>
<a name="gbab-637"></a>  <span class="n">regexp</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">text</span><span class="p">,</span> <span class="no">Regexp</span><span class="o">::</span><span class="no">MULTILINE</span><span class="p">)</span>
<a name="gbab-638"></a>  <span class="k">if</span> <span class="n">negative</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">negative</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-639"></a>  <span class="n">expect</span><span class="p">(</span><span class="n">file_contents</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">to</span> <span class="n">match</span> <span class="n">regexp</span>
<a name="gbab-640"></a>  <span class="k">else</span>
<a name="gbab-641"></a>    <span class="n">expect</span><span class="p">(</span><span class="n">file_contents</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">not_to</span> <span class="n">match</span> <span class="n">regexp</span>
<a name="gbab-642"></a>  <span class="k">end</span>
<a name="gbab-643"></a><span class="k">end</span>
<a name="gbab-644"></a>
<a name="gbab-645"></a><span class="c1">#</span>
<a name="gbab-646"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should see date &quot;(.*)&quot; in &quot;(.*)&quot; unless Windows$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">text</span><span class="p">,</span> <span class="n">file</span><span class="o">|</span>
<a name="gbab-647"></a>  <span class="n">step</span> <span class="sx">%(the &quot;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="sx">&quot; file should exist)</span>
<a name="gbab-648"></a>  <span class="n">regexp</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
<a name="gbab-649"></a>  <span class="k">if</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Platforms</span><span class="o">.</span><span class="n">really_windows?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">dst_active?</span>
<a name="gbab-650"></a>    <span class="n">expect</span><span class="p">(</span><span class="n">file_contents</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">not_to</span> <span class="n">match</span> <span class="n">regexp</span>
<a name="gbab-651"></a>  <span class="k">else</span>
<a name="gbab-652"></a>    <span class="n">expect</span><span class="p">(</span><span class="n">file_contents</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">to</span> <span class="n">match</span> <span class="n">regexp</span>
<a name="gbab-653"></a>  <span class="k">end</span>
<a name="gbab-654"></a><span class="k">end</span>
<a name="gbab-655"></a>
<a name="gbab-656"></a><span class="c1">#</span>
<a name="gbab-657"></a>
<a name="gbab-658"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should see date &quot;(.*)&quot; in &quot;(.*)&quot; if on Windows$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">text</span><span class="p">,</span> <span class="n">file</span><span class="o">|</span>
<a name="gbab-659"></a>  <span class="n">step</span> <span class="sx">%(the &quot;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="sx">&quot; file should exist)</span>
<a name="gbab-660"></a>  <span class="n">regexp</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
<a name="gbab-661"></a>  <span class="k">if</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Platforms</span><span class="o">.</span><span class="n">really_windows?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">dst_active?</span>
<a name="gbab-662"></a>    <span class="n">expect</span><span class="p">(</span><span class="n">file_contents</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">to</span> <span class="n">match</span> <span class="n">regexp</span>
<a name="gbab-663"></a>  <span class="k">else</span>
<a name="gbab-664"></a>    <span class="n">expect</span><span class="p">(</span><span class="n">file_contents</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">not_to</span> <span class="n">match</span> <span class="n">regexp</span>
<a name="gbab-665"></a>  <span class="k">end</span>
<a name="gbab-666"></a><span class="k">end</span>
<a name="gbab-667"></a>
<a name="gbab-668"></a><span class="c1">#</span>
<a name="gbab-669"></a>
<a name="gbab-670"></a><span class="k">end</span>
<a name="gbab-671"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should see exactly &quot;(.*)&quot; in &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">text</span><span class="p">,</span> <span class="n">file</span><span class="o">|</span>
<a name="gbab-672"></a>  <span class="n">step</span> <span class="sx">%(the &quot;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="sx">&quot; file should exist)</span>
<a name="gbab-673"></a>  <span class="n">expect</span><span class="p">(</span><span class="n">file_contents</span><span class="p">(</span><span class="n">file</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">eq</span> <span class="n">text</span>
<a name="gbab-674"></a><span class="k">end</span>
<a name="gbab-675"></a>
<a name="gbab-676"></a><span class="c1">#</span>
<a name="gbab-677"></a>
<a name="gbab-678"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should see escaped &quot;(.*)&quot; in &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">text</span><span class="p">,</span> <span class="n">file</span><span class="o">|</span>
<a name="gbab-679"></a>  <span class="n">step</span> <span class="sx">%(I should see &quot;</span><span class="si">#{</span><span class="no">Regexp</span><span class="o">.</span><span class="n">escape</span><span class="p">(</span><span class="n">text</span><span class="p">)</span><span class="si">}</span><span class="sx">&quot; in &quot;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="sx">&quot;)</span>
<a name="gbab-680"></a>  <span class="k">end</span>
<a name="gbab-681"></a>
<a name="gbab-682"></a><span class="c1">#</span>
<a name="gbab-683"></a>
<a name="gbab-684"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^the &quot;(.*)&quot; file should +(not )?exist$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="p">,</span> <span class="n">negative</span><span class="o">|</span>
<a name="gbab-685"></a>  <span class="k">if</span> <span class="n">negative</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-686"></a>  <span class="n">expect</span><span class="p">(</span><span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">to</span> <span class="n">exist</span>
<a name="gbab-687"></a>  <span class="k">else</span>
<a name="gbab-688"></a>  <span class="n">expect</span><span class="p">(</span><span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">file</span><span class="p">))</span><span class="o">.</span><span class="n">to_not</span> <span class="n">exist</span>
<a name="gbab-689"></a><span class="k">end</span>
<a name="gbab-690"></a><span class="k">end</span>
<a name="gbab-691"></a>
<a name="gbab-692"></a><span class="c1">#</span>
<a name="gbab-693"></a>
<a name="gbab-694"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should see today&#39;s time in &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span>
<a name="gbab-695"></a>  <span class="n">step</span> <span class="sx">%(I should see &quot;</span><span class="si">#{</span><span class="n">seconds_agnostic_time</span><span class="p">(</span><span class="no">Time</span><span class="o">.</span><span class="n">now</span><span class="p">)</span><span class="si">}</span><span class="sx">&quot; in &quot;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="sx">&quot;)</span>
<a name="gbab-696"></a><span class="k">end</span>
<a name="gbab-697"></a>
<a name="gbab-698"></a><span class="c1">#</span>
<a name="gbab-699"></a>
<a name="gbab-700"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should see today&#39;s date in &quot;(.*)&quot;$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span>
<a name="gbab-701"></a>  <span class="n">step</span> <span class="sx">%(I should see &quot;</span><span class="si">#{</span><span class="no">Date</span><span class="o">.</span><span class="n">today</span><span class="si">}</span><span class="sx">&quot; in &quot;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="sx">&quot;)</span>
<a name="gbab-702"></a><span class="k">end</span>
<a name="gbab-703"></a>
<a name="gbab-704"></a><span class="c1">#</span>
<a name="gbab-705"></a>
<a name="gbab-706"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should (not )?see &quot;(.*)&quot; in the build output$!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">negative</span><span class="p">,</span> <span class="n">text</span><span class="o">|</span>
<a name="gbab-707"></a>  <span class="k">if</span> <span class="n">negative</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">negative</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-708"></a>  <span class="n">expect</span><span class="p">(</span><span class="n">jekyll_run_output</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">match</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
<a name="gbab-709"></a>  <span class="k">else</span>
<a name="gbab-710"></a>    <span class="n">expect</span><span class="p">(</span><span class="n">jekyll_run_output</span><span class="p">)</span><span class="o">.</span><span class="n">not_to</span> <span class="n">match</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
<a name="gbab-711"></a>  <span class="k">end</span>
<a name="gbab-712"></a><span class="k">end</span>
<a name="gbab-713"></a>
<a name="gbab-714"></a><span class="c1">#</span>
<a name="gbab-715"></a>
<a name="gbab-716"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should get an updated git index$!</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-717"></a>  <span class="n">index</span> <span class="o">=</span> <span class="sx">%w(</span>
<a name="gbab-718"></a><span class="sx">    .gitignore</span>
<a name="gbab-719"></a><span class="sx">    Gemfile</span>
<a name="gbab-720"></a><span class="sx">    LICENSE.txt</span>
<a name="gbab-721"></a><span class="sx">    README.md</span>
<a name="gbab-722"></a><span class="sx">    _includes/blank.html</span>
<a name="gbab-723"></a><span class="sx">    _layouts/default.html</span>
<a name="gbab-724"></a><span class="sx">    _layouts/page.html</span>
<a name="gbab-725"></a><span class="sx">    _layouts/post.html</span>
<a name="gbab-726"></a><span class="sx">    _sass/blank.scss</span>
<a name="gbab-727"></a><span class="sx">    assets/blank.scss</span>
<a name="gbab-728"></a><span class="sx">    my-cool-theme.gemspec</span>
<a name="gbab-729"></a><span class="sx">  )</span>
<a name="gbab-730"></a>  <span class="n">index</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span>
<a name="gbab-731"></a>    <span class="n">expect</span><span class="p">(</span><span class="n">jekyll_run_output</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">match</span> <span class="n">file</span>
<a name="gbab-732"></a>  <span class="k">end</span>
<a name="gbab-733"></a><span class="k">end</span>
<a name="gbab-734"></a>
<a name="gbab-735"></a><span class="c1">#</span>
<a name="gbab-736"></a>
<a name="gbab-737"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should get a zero exit(?:\-| )status$!</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-738"></a>  <span class="n">step</span> <span class="sx">%(I should see &quot;EXIT STATUS: 0&quot; in the build output)</span>
<a name="gbab-739"></a><span class="k">end</span>
<a name="gbab-740"></a>
<a name="gbab-741"></a><span class="c1">#</span>
<a name="gbab-742"></a>
<a name="gbab-743"></a><span class="no">Then</span><span class="p">(</span><span class="sr">%r!^I should get a non-zero exit(?:\-| )status$!</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-744"></a>  <span class="n">step</span> <span class="sx">%(I should not see &quot;EXIT STATUS: 0&quot; in the build output)</span>
<a name="gbab-745"></a><span class="k">end</span>
</pre></div>
</td></tr></table>