<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestDocument</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="k">def</span> <span class="nf">assert_equal_value</span><span class="p">(</span><span class="n">key</span><span class="p">,</span> <span class="n">one</span><span class="p">,</span> <span class="n">other</span><span class="p">)</span>
<a name="gbab-7"></a>    <span class="n">assert_equal</span><span class="p">(</span><span class="n">one</span><span class="o">[</span><span class="n">key</span><span class="o">]</span><span class="p">,</span> <span class="n">other</span><span class="o">[</span><span class="n">key</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-8"></a>  <span class="k">end</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>  <span class="k">def</span> <span class="nf">setup_encoded_document</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-11"></a>    <span class="n">site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">(</span><span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;encodings&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-12"></a>    <span class="n">site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-13"></a>    <span class="no">Document</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;_encodings&quot;</span><span class="p">,</span> <span class="n">filename</span><span class="p">)),</span> <span class="p">{</span>
<a name="gbab-14"></a>      <span class="ss">:site</span>       <span class="o">=&gt;</span> <span class="n">site</span><span class="p">,</span>
<a name="gbab-15"></a>      <span class="ss">:collection</span> <span class="o">=&gt;</span> <span class="n">site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;encodings&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-16"></a>    <span class="p">})</span><span class="o">.</span><span class="n">tap</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:read</span><span class="p">)</span>
<a name="gbab-17"></a>  <span class="k">end</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>  <span class="k">def</span> <span class="nf">setup_document_with_dates</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-20"></a>    <span class="n">site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">(</span><span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;dates&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-21"></a>    <span class="n">site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-22"></a>    <span class="n">docs</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-23"></a>    <span class="n">with_env</span><span class="p">(</span><span class="s2">&quot;TZ&quot;</span><span class="p">,</span> <span class="s2">&quot;UTC&quot;</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-24"></a>      <span class="n">docs</span> <span class="o">=</span> <span class="no">Document</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;_dates&quot;</span><span class="p">,</span> <span class="n">filename</span><span class="p">)),</span> <span class="p">{</span>
<a name="gbab-25"></a>        <span class="ss">:site</span>       <span class="o">=&gt;</span> <span class="n">site</span><span class="p">,</span>
<a name="gbab-26"></a>        <span class="ss">:collection</span> <span class="o">=&gt;</span> <span class="n">site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;dates&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-27"></a>      <span class="p">})</span><span class="o">.</span><span class="n">tap</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:read</span><span class="p">)</span>
<a name="gbab-28"></a>    <span class="k">end</span>
<a name="gbab-29"></a>    <span class="n">docs</span>
<a name="gbab-30"></a>  <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>  <span class="n">context</span> <span class="s2">&quot;a document in a collection&quot;</span> <span class="k">do</span>
<a name="gbab-33"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-34"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-35"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-36"></a>      <span class="p">})</span>
<a name="gbab-37"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-38"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">detect</span> <span class="k">do</span> <span class="o">|</span><span class="n">d</span><span class="o">|</span>
<a name="gbab-39"></a>        <span class="n">d</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_methods/configuration.md&quot;</span>
<a name="gbab-40"></a>      <span class="k">end</span>
<a name="gbab-41"></a>    <span class="k">end</span>
<a name="gbab-42"></a>
<a name="gbab-43"></a>    <span class="n">should</span> <span class="s2">&quot;exist&quot;</span> <span class="k">do</span>
<a name="gbab-44"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@document</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-45"></a>    <span class="k">end</span>
<a name="gbab-46"></a>
<a name="gbab-47"></a>    <span class="n">should</span> <span class="s2">&quot;know its relative path&quot;</span> <span class="k">do</span>
<a name="gbab-48"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;_methods/configuration.md&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">relative_path</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>    <span class="n">should</span> <span class="s2">&quot;knows its extname&quot;</span> <span class="k">do</span>
<a name="gbab-52"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;.md&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">extname</span>
<a name="gbab-53"></a>    <span class="k">end</span>
<a name="gbab-54"></a>
<a name="gbab-55"></a>    <span class="n">should</span> <span class="s2">&quot;know its basename&quot;</span> <span class="k">do</span>
<a name="gbab-56"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;configuration.md&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">basename</span>
<a name="gbab-57"></a>    <span class="k">end</span>
<a name="gbab-58"></a>
<a name="gbab-59"></a>    <span class="n">should</span> <span class="s2">&quot;know its basename without extname&quot;</span> <span class="k">do</span>
<a name="gbab-60"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;configuration&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">basename_without_ext</span>
<a name="gbab-61"></a>    <span class="k">end</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>    <span class="n">should</span> <span class="s2">&quot;know whether it&#39;s a YAML file&quot;</span> <span class="k">do</span>
<a name="gbab-64"></a>      <span class="n">assert_equal</span> <span class="kp">false</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">yaml_file?</span>
<a name="gbab-65"></a>    <span class="k">end</span>
<a name="gbab-66"></a>
<a name="gbab-67"></a>    <span class="n">should</span> <span class="s2">&quot;know its data&quot;</span> <span class="k">do</span>
<a name="gbab-68"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;Jekyll.configuration&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-69"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;foo.bar&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;whatever&quot;</span><span class="o">]</span>
<a name="gbab-70"></a>    <span class="k">end</span>
<a name="gbab-71"></a>
<a name="gbab-72"></a>    <span class="n">should</span> <span class="s2">&quot;be jsonify-able&quot;</span> <span class="k">do</span>
<a name="gbab-73"></a>      <span class="n">page_json</span> <span class="o">=</span> <span class="vi">@document</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">.</span><span class="n">to_json</span>
<a name="gbab-74"></a>      <span class="n">parsed</span> <span class="o">=</span> <span class="no">JSON</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">page_json</span><span class="p">)</span>
<a name="gbab-75"></a>
<a name="gbab-76"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;Jekyll.configuration&quot;</span><span class="p">,</span> <span class="n">parsed</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-77"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;foo.bar&quot;</span><span class="p">,</span> <span class="n">parsed</span><span class="o">[</span><span class="s2">&quot;whatever&quot;</span><span class="o">]</span>
<a name="gbab-78"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;_methods/collection/entries&quot;</span><span class="p">,</span> <span class="n">parsed</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">][</span><span class="s2">&quot;path&quot;</span><span class="o">]</span>
<a name="gbab-79"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;Collection#entries&quot;</span><span class="p">,</span> <span class="n">parsed</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">][</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-80"></a>
<a name="gbab-81"></a>      <span class="n">next_doc</span> <span class="o">=</span> <span class="n">parsed</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">]</span>
<a name="gbab-82"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;_methods/escape-+ #%20[].md&quot;</span><span class="p">,</span> <span class="n">next_doc</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">]</span>
<a name="gbab-83"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;Jekyll.escape&quot;</span><span class="p">,</span> <span class="n">next_doc</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-84"></a>
<a name="gbab-85"></a>      <span class="n">next_prev_doc</span> <span class="o">=</span> <span class="n">next_doc</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">]</span>
<a name="gbab-86"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;Jekyll.configuration&quot;</span><span class="p">,</span> <span class="n">next_prev_doc</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-87"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;_methods/configuration.md&quot;</span><span class="p">,</span> <span class="n">next_prev_doc</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">]</span>
<a name="gbab-88"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;_methods/escape-+ #%20[].md&quot;</span><span class="p">,</span> <span class="n">next_prev_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;path&quot;</span><span class="o">]</span>
<a name="gbab-89"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;_methods/collection/entries&quot;</span><span class="p">,</span> <span class="n">next_prev_doc</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">][</span><span class="s2">&quot;path&quot;</span><span class="o">]</span>
<a name="gbab-90"></a>      <span class="n">assert_nil</span> <span class="n">next_prev_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;next&quot;</span><span class="o">]</span>
<a name="gbab-91"></a>      <span class="n">assert_nil</span> <span class="n">next_prev_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;previous&quot;</span><span class="o">]</span>
<a name="gbab-92"></a>      <span class="n">assert_nil</span> <span class="n">next_prev_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;content&quot;</span><span class="o">]</span>
<a name="gbab-93"></a>      <span class="n">assert_nil</span> <span class="n">next_prev_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span>
<a name="gbab-94"></a>      <span class="n">assert_nil</span> <span class="n">next_prev_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;output&quot;</span><span class="o">]</span>
<a name="gbab-95"></a>
<a name="gbab-96"></a>      <span class="n">next_next_doc</span> <span class="o">=</span> <span class="n">next_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">]</span>
<a name="gbab-97"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;Jekyll.sanitized_path&quot;</span><span class="p">,</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-98"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;_methods/sanitized_path.md&quot;</span><span class="p">,</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">]</span>
<a name="gbab-99"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;_methods/escape-+ #%20[].md&quot;</span><span class="p">,</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">][</span><span class="s2">&quot;path&quot;</span><span class="o">]</span>
<a name="gbab-100"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;_methods/site/generate.md&quot;</span><span class="p">,</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;path&quot;</span><span class="o">]</span>
<a name="gbab-101"></a>      <span class="n">assert_nil</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;next&quot;</span><span class="o">]</span>
<a name="gbab-102"></a>      <span class="n">assert_nil</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;previous&quot;</span><span class="o">]</span>
<a name="gbab-103"></a>      <span class="n">assert_nil</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;content&quot;</span><span class="o">]</span>
<a name="gbab-104"></a>      <span class="n">assert_nil</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span>
<a name="gbab-105"></a>      <span class="n">assert_nil</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;next&quot;</span><span class="o">][</span><span class="s2">&quot;output&quot;</span><span class="o">]</span>
<a name="gbab-106"></a>      <span class="n">assert_nil</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">][</span><span class="s2">&quot;next&quot;</span><span class="o">]</span>
<a name="gbab-107"></a>      <span class="n">assert_nil</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">][</span><span class="s2">&quot;previous&quot;</span><span class="o">]</span>
<a name="gbab-108"></a>      <span class="n">assert_nil</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">][</span><span class="s2">&quot;content&quot;</span><span class="o">]</span>
<a name="gbab-109"></a>      <span class="n">assert_nil</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">][</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span>
<a name="gbab-110"></a>      <span class="n">assert_nil</span> <span class="n">next_next_doc</span><span class="o">[</span><span class="s2">&quot;previous&quot;</span><span class="o">][</span><span class="s2">&quot;output&quot;</span><span class="o">]</span>
<a name="gbab-111"></a>    <span class="k">end</span>
<a name="gbab-112"></a>
<a name="gbab-113"></a>    <span class="n">context</span> <span class="s2">&quot;with YAML ending in three dots&quot;</span> <span class="k">do</span>
<a name="gbab-114"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-115"></a>        <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span><span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">]</span><span class="p">})</span>
<a name="gbab-116"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-117"></a>        <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">detect</span> <span class="k">do</span> <span class="o">|</span><span class="n">d</span><span class="o">|</span>
<a name="gbab-118"></a>          <span class="n">d</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_methods/yaml_with_dots.md&quot;</span>
<a name="gbab-119"></a>        <span class="k">end</span>
<a name="gbab-120"></a>      <span class="k">end</span>
<a name="gbab-121"></a>
<a name="gbab-122"></a>      <span class="n">should</span> <span class="s2">&quot;know its data&quot;</span> <span class="k">do</span>
<a name="gbab-123"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;YAML with Dots&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-124"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;foo.bar&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;whatever&quot;</span><span class="o">]</span>
<a name="gbab-125"></a>      <span class="k">end</span>
<a name="gbab-126"></a>    <span class="k">end</span>
<a name="gbab-127"></a>
<a name="gbab-128"></a>    <span class="n">should</span> <span class="s2">&quot;output the collection name in the #to_liquid method&quot;</span> <span class="k">do</span>
<a name="gbab-129"></a>      <span class="n">assert_equal</span> <span class="vi">@document</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;collection&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;methods&quot;</span>
<a name="gbab-130"></a>    <span class="k">end</span>
<a name="gbab-131"></a>
<a name="gbab-132"></a>    <span class="n">should</span> <span class="s2">&quot;output its relative path as path in Liquid&quot;</span> <span class="k">do</span>
<a name="gbab-133"></a>      <span class="n">assert_equal</span> <span class="vi">@document</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;_methods/configuration.md&quot;</span>
<a name="gbab-134"></a>    <span class="k">end</span>
<a name="gbab-135"></a>  <span class="k">end</span>
<a name="gbab-136"></a>
<a name="gbab-137"></a>  <span class="n">context</span> <span class="s2">&quot;a document as part of a collection with frontmatter defaults&quot;</span> <span class="k">do</span>
<a name="gbab-138"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-139"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-140"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-141"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-142"></a>          <span class="s2">&quot;scope&quot;</span><span class="o">=&gt;</span> <span class="p">{</span><span class="s2">&quot;path&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;type&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;slides&quot;</span><span class="p">},</span>
<a name="gbab-143"></a>          <span class="s2">&quot;values&quot;</span><span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-144"></a>            <span class="s2">&quot;nested&quot;</span><span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-145"></a>              <span class="s2">&quot;key&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;myval&quot;</span><span class="p">,</span>
<a name="gbab-146"></a>            <span class="p">},</span>
<a name="gbab-147"></a>          <span class="p">},</span>
<a name="gbab-148"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-149"></a>      <span class="p">})</span>
<a name="gbab-150"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-151"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">select</span><span class="p">{</span><span class="o">|</span><span class="n">d</span><span class="o">|</span> <span class="n">d</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Document</span><span class="p">)</span> <span class="p">}</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-152"></a>    <span class="k">end</span>
<a name="gbab-153"></a>
<a name="gbab-154"></a>    <span class="n">should</span> <span class="s2">&quot;know the frontmatter defaults&quot;</span> <span class="k">do</span>
<a name="gbab-155"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;Example slide&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-156"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;slide&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>
<a name="gbab-157"></a>      <span class="n">assert_equal</span><span class="p">({</span><span class="s2">&quot;key&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;myval&quot;</span><span class="p">},</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;nested&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-158"></a>    <span class="k">end</span>
<a name="gbab-159"></a>
<a name="gbab-160"></a>    <span class="n">should</span> <span class="s2">&quot;return front matter defaults via to_liquid&quot;</span> <span class="k">do</span>
<a name="gbab-161"></a>      <span class="nb">hash</span> <span class="o">=</span> <span class="vi">@document</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-162"></a>      <span class="n">assert</span> <span class="nb">hash</span><span class="o">.</span><span class="n">key?</span> <span class="s2">&quot;nested&quot;</span>
<a name="gbab-163"></a>      <span class="n">assert_equal</span><span class="p">({</span> <span class="s2">&quot;key&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;myval&quot;</span> <span class="p">},</span> <span class="nb">hash</span><span class="o">[</span><span class="s2">&quot;nested&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-164"></a>    <span class="k">end</span>
<a name="gbab-165"></a>  <span class="k">end</span>
<a name="gbab-166"></a>
<a name="gbab-167"></a>  <span class="n">context</span> <span class="s2">&quot;a document as part of a collection with overridden default values&quot;</span> <span class="k">do</span>
<a name="gbab-168"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-169"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-170"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-171"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-172"></a>          <span class="s2">&quot;scope&quot;</span><span class="o">=&gt;</span> <span class="p">{</span><span class="s2">&quot;path&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;type&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;slides&quot;</span><span class="p">},</span>
<a name="gbab-173"></a>          <span class="s2">&quot;values&quot;</span><span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-174"></a>            <span class="s2">&quot;nested&quot;</span><span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-175"></a>              <span class="s2">&quot;test1&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;default1&quot;</span><span class="p">,</span>
<a name="gbab-176"></a>              <span class="s2">&quot;test2&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;default1&quot;</span><span class="p">,</span>
<a name="gbab-177"></a>            <span class="p">},</span>
<a name="gbab-178"></a>          <span class="p">},</span>
<a name="gbab-179"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-180"></a>      <span class="p">})</span>
<a name="gbab-181"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-182"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">[</span><span class="mi">1</span><span class="o">]</span>
<a name="gbab-183"></a>    <span class="k">end</span>
<a name="gbab-184"></a>
<a name="gbab-185"></a>    <span class="n">should</span> <span class="s2">&quot;override default values in the document frontmatter&quot;</span> <span class="k">do</span>
<a name="gbab-186"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;Override title&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-187"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;slide&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>
<a name="gbab-188"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-189"></a>        <span class="p">{</span> <span class="s2">&quot;test1&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;override1&quot;</span><span class="p">,</span> <span class="s2">&quot;test2&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;override2&quot;</span> <span class="p">},</span>
<a name="gbab-190"></a>        <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;nested&quot;</span><span class="o">]</span>
<a name="gbab-191"></a>      <span class="p">)</span>
<a name="gbab-192"></a>    <span class="k">end</span>
<a name="gbab-193"></a>  <span class="k">end</span>
<a name="gbab-194"></a>
<a name="gbab-195"></a>  <span class="n">context</span> <span class="s2">&quot;a document as part of a collection with valid path&quot;</span> <span class="k">do</span>
<a name="gbab-196"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-197"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-198"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-199"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-200"></a>          <span class="s2">&quot;scope&quot;</span><span class="o">=&gt;</span> <span class="p">{</span><span class="s2">&quot;path&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;_slides&quot;</span><span class="p">,</span> <span class="s2">&quot;type&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;slides&quot;</span><span class="p">},</span>
<a name="gbab-201"></a>          <span class="s2">&quot;values&quot;</span><span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-202"></a>            <span class="s2">&quot;nested&quot;</span><span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-203"></a>              <span class="s2">&quot;key&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;value123&quot;</span><span class="p">,</span>
<a name="gbab-204"></a>            <span class="p">},</span>
<a name="gbab-205"></a>          <span class="p">},</span>
<a name="gbab-206"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-207"></a>      <span class="p">})</span>
<a name="gbab-208"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-209"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-210"></a>    <span class="k">end</span>
<a name="gbab-211"></a>
<a name="gbab-212"></a>    <span class="n">should</span> <span class="s2">&quot;know the frontmatter defaults&quot;</span> <span class="k">do</span>
<a name="gbab-213"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;Example slide&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-214"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;slide&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>
<a name="gbab-215"></a>      <span class="n">assert_equal</span><span class="p">({</span><span class="s2">&quot;key&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;value123&quot;</span><span class="p">},</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;nested&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-216"></a>    <span class="k">end</span>
<a name="gbab-217"></a>    <span class="k">end</span>
<a name="gbab-218"></a>
<a name="gbab-219"></a>  <span class="n">context</span> <span class="s2">&quot;a document as part of a collection with invalid path&quot;</span> <span class="k">do</span>
<a name="gbab-220"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-221"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-222"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-223"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-224"></a>          <span class="s2">&quot;scope&quot;</span><span class="o">=&gt;</span> <span class="p">{</span><span class="s2">&quot;path&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;somepath&quot;</span><span class="p">,</span> <span class="s2">&quot;type&quot;</span><span class="o">=&gt;</span><span class="s2">&quot;slides&quot;</span><span class="p">},</span>
<a name="gbab-225"></a>          <span class="s2">&quot;values&quot;</span><span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-226"></a>            <span class="s2">&quot;nested&quot;</span><span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-227"></a>              <span class="s2">&quot;key&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;myval&quot;</span><span class="p">,</span>
<a name="gbab-228"></a>            <span class="p">},</span>
<a name="gbab-229"></a>          <span class="p">},</span>
<a name="gbab-230"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-231"></a>      <span class="p">})</span>
<a name="gbab-232"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-233"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-234"></a>    <span class="k">end</span>
<a name="gbab-235"></a>
<a name="gbab-236"></a>    <span class="n">should</span> <span class="s2">&quot;not know the specified frontmatter defaults&quot;</span> <span class="k">do</span>
<a name="gbab-237"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;Example slide&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-238"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;slide&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>
<a name="gbab-239"></a>      <span class="n">assert_nil</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;nested&quot;</span><span class="o">]</span>
<a name="gbab-240"></a>    <span class="k">end</span>
<a name="gbab-241"></a>  <span class="k">end</span>
<a name="gbab-242"></a>
<a name="gbab-243"></a>  <span class="n">context</span> <span class="s2">&quot;a document in a collection with a custom permalink&quot;</span> <span class="k">do</span>
<a name="gbab-244"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-245"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-246"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-247"></a>      <span class="p">})</span>
<a name="gbab-248"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-249"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">[</span><span class="mi">2</span><span class="o">]</span>
<a name="gbab-250"></a>      <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;slide/3/index.html&quot;</span><span class="p">)</span>
<a name="gbab-251"></a>    <span class="k">end</span>
<a name="gbab-252"></a>
<a name="gbab-253"></a>    <span class="n">should</span> <span class="s2">&quot;know its permalink&quot;</span> <span class="k">do</span>
<a name="gbab-254"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/slide/3/&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">permalink</span>
<a name="gbab-255"></a>    <span class="k">end</span>
<a name="gbab-256"></a>
<a name="gbab-257"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right URL&quot;</span> <span class="k">do</span>
<a name="gbab-258"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/slide/3/&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-259"></a>    <span class="k">end</span>
<a name="gbab-260"></a>  <span class="k">end</span>
<a name="gbab-261"></a>
<a name="gbab-262"></a>  <span class="n">context</span> <span class="s2">&quot;a document in a collection with custom filename permalinks&quot;</span> <span class="k">do</span>
<a name="gbab-263"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-264"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-265"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-266"></a>          <span class="s2">&quot;slides&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-267"></a>            <span class="s2">&quot;output&quot;</span>    <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-268"></a>            <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/slides/test/:name&quot;</span><span class="p">,</span>
<a name="gbab-269"></a>        <span class="p">},</span>
<a name="gbab-270"></a>        <span class="p">},</span>
<a name="gbab-271"></a>        <span class="s2">&quot;permalink&quot;</span>   <span class="o">=&gt;</span> <span class="s2">&quot;pretty&quot;</span><span class="p">,</span>
<a name="gbab-272"></a>      <span class="p">})</span>
<a name="gbab-273"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-274"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span>
<a name="gbab-275"></a>      <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;slides/test/example-slide-1.html&quot;</span><span class="p">)</span>
<a name="gbab-276"></a>    <span class="k">end</span>
<a name="gbab-277"></a>
<a name="gbab-278"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right URL&quot;</span> <span class="k">do</span>
<a name="gbab-279"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/slides/test/example-slide-1&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-280"></a>    <span class="k">end</span>
<a name="gbab-281"></a>
<a name="gbab-282"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right destination file&quot;</span> <span class="k">do</span>
<a name="gbab-283"></a>      <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-284"></a>    <span class="k">end</span>
<a name="gbab-285"></a>
<a name="gbab-286"></a>    <span class="n">should</span> <span class="s2">&quot;honor the output extension of its permalink&quot;</span> <span class="k">do</span>
<a name="gbab-287"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;.html&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">output_ext</span>
<a name="gbab-288"></a>    <span class="k">end</span>
<a name="gbab-289"></a>  <span class="k">end</span>
<a name="gbab-290"></a>
<a name="gbab-291"></a>  <span class="n">context</span> <span class="s2">&quot;a document in a collection with pretty permalink style&quot;</span> <span class="k">do</span>
<a name="gbab-292"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-293"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-294"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-295"></a>          <span class="s2">&quot;slides&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-296"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-297"></a>          <span class="p">},</span>
<a name="gbab-298"></a>        <span class="p">},</span>
<a name="gbab-299"></a>      <span class="p">})</span>
<a name="gbab-300"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:pretty</span>
<a name="gbab-301"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-302"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span>
<a name="gbab-303"></a>      <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;slides/example-slide-1/index.html&quot;</span><span class="p">)</span>
<a name="gbab-304"></a>    <span class="k">end</span>
<a name="gbab-305"></a>
<a name="gbab-306"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right URL&quot;</span> <span class="k">do</span>
<a name="gbab-307"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/slides/example-slide-1/&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-308"></a>    <span class="k">end</span>
<a name="gbab-309"></a>
<a name="gbab-310"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right destination file&quot;</span> <span class="k">do</span>
<a name="gbab-311"></a>      <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-312"></a>    <span class="k">end</span>
<a name="gbab-313"></a>  <span class="k">end</span>
<a name="gbab-314"></a>
<a name="gbab-315"></a>  <span class="n">context</span> <span class="s2">&quot;a document in a collection with cased file name&quot;</span> <span class="k">do</span>
<a name="gbab-316"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-317"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-318"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-319"></a>          <span class="s2">&quot;slides&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-320"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-321"></a>          <span class="p">},</span>
<a name="gbab-322"></a>        <span class="p">},</span>
<a name="gbab-323"></a>      <span class="p">})</span>
<a name="gbab-324"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:pretty</span>
<a name="gbab-325"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-326"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">[</span><span class="mi">7</span><span class="o">]</span>
<a name="gbab-327"></a>      <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;slides/example-slide-Upper-Cased/index.html&quot;</span><span class="p">)</span>
<a name="gbab-328"></a>    <span class="k">end</span>
<a name="gbab-329"></a>
<a name="gbab-330"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right cased URL&quot;</span> <span class="k">do</span>
<a name="gbab-331"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/slides/example-slide-Upper-Cased/&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-332"></a>    <span class="k">end</span>
<a name="gbab-333"></a>  <span class="k">end</span>
<a name="gbab-334"></a>
<a name="gbab-335"></a>  <span class="n">context</span> <span class="s2">&quot;a document in a collection with cased file name&quot;</span> <span class="k">do</span>
<a name="gbab-336"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-337"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-338"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-339"></a>          <span class="s2">&quot;slides&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-340"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-341"></a>          <span class="p">},</span>
<a name="gbab-342"></a>        <span class="p">},</span>
<a name="gbab-343"></a>      <span class="p">})</span>
<a name="gbab-344"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-345"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">[</span><span class="mi">6</span><span class="o">]</span>
<a name="gbab-346"></a>      <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;slides/example-slide-7.php&quot;</span><span class="p">)</span>
<a name="gbab-347"></a>    <span class="k">end</span>
<a name="gbab-348"></a>
<a name="gbab-349"></a>    <span class="n">should</span> <span class="s2">&quot;be written out properly&quot;</span> <span class="k">do</span>
<a name="gbab-350"></a>      <span class="n">assert_exist</span> <span class="vi">@dest_file</span>
<a name="gbab-351"></a>    <span class="k">end</span>
<a name="gbab-352"></a>
<a name="gbab-353"></a>    <span class="n">should</span> <span class="s2">&quot;produce the permalink as the url&quot;</span> <span class="k">do</span>
<a name="gbab-354"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/slides/example-slide-7.php&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-355"></a>    <span class="k">end</span>
<a name="gbab-356"></a>
<a name="gbab-357"></a>    <span class="n">should</span> <span class="s2">&quot;be written to the proper directory&quot;</span> <span class="k">do</span>
<a name="gbab-358"></a>      <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-359"></a>    <span class="k">end</span>
<a name="gbab-360"></a>
<a name="gbab-361"></a>    <span class="n">should</span> <span class="s2">&quot;honor the output extension of its permalink&quot;</span> <span class="k">do</span>
<a name="gbab-362"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;.php&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">output_ext</span>
<a name="gbab-363"></a>    <span class="k">end</span>
<a name="gbab-364"></a>  <span class="k">end</span>
<a name="gbab-365"></a>
<a name="gbab-366"></a>  <span class="n">context</span> <span class="s2">&quot;a document in a collection with pretty permalink style&quot;</span> <span class="k">do</span>
<a name="gbab-367"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-368"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-369"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-370"></a>          <span class="s2">&quot;slides&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-371"></a>            <span class="s2">&quot;output&quot;</span>    <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-372"></a>            <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/slides/:title&quot;</span><span class="p">,</span>
<a name="gbab-373"></a>          <span class="p">},</span>
<a name="gbab-374"></a>        <span class="p">},</span>
<a name="gbab-375"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:pretty</span>
<a name="gbab-376"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-377"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span>
<a name="gbab-378"></a>      <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;slides/example-slide-1/index.html&quot;</span><span class="p">)</span>
<a name="gbab-379"></a>    <span class="k">end</span>
<a name="gbab-380"></a>
<a name="gbab-381"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right URL&quot;</span> <span class="k">do</span>
<a name="gbab-382"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/slides/example-slide-1/&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-383"></a>    <span class="k">end</span>
<a name="gbab-384"></a>
<a name="gbab-385"></a>
<a name="gbab-386"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right destination file&quot;</span> <span class="k">do</span>
<a name="gbab-387"></a>      <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-388"></a>    <span class="k">end</span>
<a name="gbab-389"></a>  <span class="k">end</span>
<a name="gbab-390"></a>
<a name="gbab-391"></a>  <span class="n">context</span> <span class="s2">&quot;documents in a collection with custom title permalinks&quot;</span> <span class="k">do</span>
<a name="gbab-392"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-393"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-394"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-395"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span>
<a name="gbab-396"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-397"></a>          <span class="s2">&quot;slides&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-398"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span>
<a name="gbab-399"></a>          <span class="p">}</span>
<a name="gbab-400"></a>      <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-401"></a>        <span class="s2">&quot;/slides/Well,-so-what-is-Jekyll,-then&quot;</span><span class="p">,</span>
<a name="gbab-402"></a>        <span class="vi">@document_with_strange_slug</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-403"></a>      <span class="p">)</span>
<a name="gbab-404"></a>      <span class="p">}))</span>
<a name="gbab-405"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-406"></a>      <span class="n">dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;/slides/Well,-so-what-is-Jekyll,-then.html&quot;</span><span class="p">)</span>
<a name="gbab-407"></a>      <span class="vi">@document_with_strange_slug</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">[</span><span class="mi">5</span><span class="o">]</span>
<a name="gbab-408"></a>    <span class="k">end</span>
<a name="gbab-409"></a>
<a name="gbab-410"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right URL if they have a slug&quot;</span> <span class="k">do</span>
<a name="gbab-411"></a>  <span class="n">context</span> <span class="s2">&quot;document with a permalink with dots &amp; a trailing slash&quot;</span> <span class="k">do</span>
<a name="gbab-412"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-413"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span><span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-414"></a>        <span class="s2">&quot;with.dots&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span> <span class="p">},</span>
<a name="gbab-415"></a>      <span class="p">},</span> <span class="p">})</span>
<a name="gbab-416"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-417"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;with.dots&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">last</span>
<a name="gbab-418"></a>      <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;with.dots&quot;</span><span class="p">,</span> <span class="s2">&quot;permalink.with.slash.tho&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-419"></a>    <span class="k">end</span>
<a name="gbab-420"></a>
<a name="gbab-421"></a>    <span class="n">should</span> <span class="s2">&quot;yield an HTML document&quot;</span> <span class="k">do</span>
<a name="gbab-422"></a>      <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-423"></a>    <span class="k">end</span>
<a name="gbab-424"></a>
<a name="gbab-425"></a>    <span class="n">should</span> <span class="s2">&quot;be written properly&quot;</span> <span class="k">do</span>
<a name="gbab-426"></a>      <span class="n">assert_exist</span> <span class="vi">@dest_file</span>
<a name="gbab-427"></a>    <span class="k">end</span>
<a name="gbab-428"></a>
<a name="gbab-429"></a>    <span class="n">should</span> <span class="s2">&quot;get the right output_ext&quot;</span> <span class="k">do</span>
<a name="gbab-430"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;.html&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">output_ext</span>
<a name="gbab-431"></a>    <span class="k">end</span>
<a name="gbab-432"></a>  <span class="k">end</span>
<a name="gbab-433"></a>
<a name="gbab-434"></a>      <span class="n">should</span> <span class="s2">&quot;be output according to collection defaults&quot;</span> <span class="k">do</span>
<a name="gbab-435"></a>        <span class="n">assert_not_nil</span> <span class="vi">@files</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span> <span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_slides/example-slide-4.html&quot;</span> <span class="p">}</span>
<a name="gbab-436"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right destination file if they have a slug&quot;</span> <span class="k">do</span>
<a name="gbab-437"></a>      <span class="n">dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;slides/so-what-is-jekyll-exactly.html&quot;</span><span class="p">)</span>
<a name="gbab-438"></a>      <span class="n">assert_equal</span> <span class="n">dest_file</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-439"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-440"></a>          <span class="p">},</span>
<a name="gbab-441"></a>        <span class="p">},</span>
<a name="gbab-442"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/slides/example-slide-5&quot;</span><span class="p">,</span> <span class="vi">@document_without_slug</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-443"></a>    <span class="k">end</span>
<a name="gbab-444"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right destination file if they don&#39;t have a slug&quot;</span> <span class="k">do</span>
<a name="gbab-445"></a>      <span class="n">dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;slides/example-slide-5.html&quot;</span><span class="p">)</span>
<a name="gbab-446"></a>      <span class="n">assert_equal</span> <span class="n">dest_file</span><span class="p">,</span> <span class="vi">@document_without_slug</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-447"></a>    <span class="k">end</span>
<a name="gbab-448"></a>
<a name="gbab-449"></a>        <span class="n">refute_nil</span> <span class="vi">@files</span><span class="o">.</span><span class="n">find</span> <span class="k">do</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span>
<a name="gbab-450"></a>          <span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_slides/example-slide-4.html&quot;</span>
<a name="gbab-451"></a>        <span class="k">end</span>
<a name="gbab-452"></a>        <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;slides/example-slide-4.html&quot;</span><span class="p">)</span>
<a name="gbab-453"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/slides/well-so-what-is-jekyll-then&quot;</span><span class="p">,</span> <span class="vi">@document_with_strange_slug</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-454"></a>    <span class="n">context</span> <span class="s2">&quot;with output overrides&quot;</span> <span class="k">do</span>
<a name="gbab-455"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right destination file if they have a wild slug&quot;</span> <span class="k">do</span>
<a name="gbab-456"></a>      <span class="n">dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;/slides/well-so-what-is-jekyll-then.html&quot;</span><span class="p">)</span>
<a name="gbab-457"></a>      <span class="n">assert_equal</span> <span class="n">dest_file</span><span class="p">,</span> <span class="vi">@document_with_strange_slug</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-458"></a>        <span class="n">assert</span> <span class="vi">@files</span><span class="o">.</span><span class="n">find</span> <span class="k">do</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span>
<a name="gbab-459"></a>          <span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_slides/non-outputted-slide.html&quot;</span>
<a name="gbab-460"></a>        <span class="k">end</span>
<a name="gbab-461"></a>        <span class="n">refute_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;slides/non-outputted-slide.html&quot;</span><span class="p">)</span>
<a name="gbab-462"></a>      <span class="n">should</span> <span class="s2">&quot;be output according its front matter&quot;</span> <span class="k">do</span>
<a name="gbab-463"></a>        <span class="n">assert_nil</span> <span class="vi">@files</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span> <span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_slides/non-outputted-slide.html&quot;</span> <span class="p">}</span>
<a name="gbab-464"></a>      <span class="k">end</span>
<a name="gbab-465"></a>    <span class="k">end</span>
<a name="gbab-466"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-467"></a>
<a name="gbab-468"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span>
<a name="gbab-469"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-470"></a>          <span class="s2">&quot;slides&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-471"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-472"></a>          <span class="p">},</span>
<a name="gbab-473"></a>        <span class="p">},</span>
<a name="gbab-474"></a>        <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span>
<a name="gbab-475"></a>        <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span>
<a name="gbab-476"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">files</span><span class="o">.</span><span class="n">find</span> <span class="k">do</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span>
<a name="gbab-477"></a>        <span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_slides/octojekyll.png&quot;</span>
<a name="gbab-478"></a>      <span class="k">end</span>
<a name="gbab-479"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-480"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">[</span><span class="mi">3</span><span class="o">]</span>
<a name="gbab-481"></a>        <span class="n">refute_nil</span> <span class="vi">@files</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span> <span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_slides/example-slide-4.html&quot;</span> <span class="p">}</span>
<a name="gbab-482"></a>    <span class="k">end</span>
<a name="gbab-483"></a>
<a name="gbab-484"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right URL if they have a title&quot;</span> <span class="k">do</span>
<a name="gbab-485"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/slides/so-what-is-jekyll-exactly&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-486"></a>    <span class="k">end</span>
<a name="gbab-487"></a>
<a name="gbab-488"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right URL if they don&#39;t have a title&quot;</span> <span class="k">do</span>
<a name="gbab-489"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/slides/example-slide-5&quot;</span><span class="p">,</span> <span class="vi">@document_without_title</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-490"></a>    <span class="k">end</span>
<a name="gbab-491"></a>  <span class="k">end</span>
<a name="gbab-492"></a>
<a name="gbab-493"></a>  <span class="n">context</span> <span class="s2">&quot;a static file in a collection&quot;</span> <span class="k">do</span>
<a name="gbab-494"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-495"></a>      <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">file?</span><span class="p">(</span><span class="vi">@dest_file</span><span class="p">)</span>
<a name="gbab-496"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-497"></a>          <span class="s2">&quot;slides&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-498"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span>
<a name="gbab-499"></a>        <span class="p">}</span>
<a name="gbab-500"></a>      <span class="p">})</span>
<a name="gbab-501"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-502"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;slides&quot;</span><span class="o">].</span><span class="n">files</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span> <span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_slides/octojekyll.png&quot;</span> <span class="p">}</span>
<a name="gbab-503"></a>  <span class="n">context</span> <span class="s2">&quot;a document in a collection with non-alphabetic file name&quot;</span> <span class="k">do</span>
<a name="gbab-504"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-505"></a>          <span class="p">},</span>
<a name="gbab-506"></a>        <span class="p">},</span>
<a name="gbab-507"></a>          <span class="s2">&quot;methods&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-508"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span>
<a name="gbab-509"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">find</span> <span class="k">do</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span>
<a name="gbab-510"></a>        <span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_methods/escape-+ #%20[].md&quot;</span>
<a name="gbab-511"></a>      <span class="k">end</span>
<a name="gbab-512"></a>        <span class="p">},</span>
<a name="gbab-513"></a>        <span class="s2">&quot;source&quot;</span>      <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">,</span>
<a name="gbab-514"></a>        <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span>
<a name="gbab-515"></a>      <span class="p">}))</span>
<a name="gbab-516"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-517"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span> <span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_methods/escape-+ #%20[].md&quot;</span> <span class="p">}</span>
<a name="gbab-518"></a>      <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;methods/escape-+ #%20[].html&quot;</span><span class="p">)</span>
<a name="gbab-519"></a>    <span class="k">end</span>
<a name="gbab-520"></a>
<a name="gbab-521"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right URL&quot;</span> <span class="k">do</span>
<a name="gbab-522"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/methods/escape-+%20%23%2520%5B%5D.html&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-523"></a>    <span class="k">end</span>
<a name="gbab-524"></a>
<a name="gbab-525"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right destination&quot;</span> <span class="k">do</span>
<a name="gbab-526"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-527"></a>
<a name="gbab-528"></a>  <span class="n">context</span> <span class="s2">&quot;a document in a collection with dash-separated numeric file name&quot;</span> <span class="k">do</span>
<a name="gbab-529"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-530"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-531"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-532"></a>          <span class="s2">&quot;methods&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-533"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-534"></a>          <span class="p">},</span>
<a name="gbab-535"></a>        <span class="p">},</span>
<a name="gbab-536"></a>      <span class="p">})</span>
<a name="gbab-537"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-538"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">collections</span><span class="o">[</span><span class="s2">&quot;methods&quot;</span><span class="o">].</span><span class="n">docs</span><span class="o">.</span><span class="n">find</span> <span class="k">do</span> <span class="o">|</span><span class="n">doc</span><span class="o">|</span>
<a name="gbab-539"></a>        <span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;_methods/3940394-21-9393050-fifif1323-test.md&quot;</span>
<a name="gbab-540"></a>      <span class="k">end</span>
<a name="gbab-541"></a>      <span class="vi">@dest_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;methods/3940394-21-9393050-fifif1323-test.html&quot;</span><span class="p">)</span>
<a name="gbab-542"></a>    <span class="k">end</span>
<a name="gbab-543"></a>
<a name="gbab-544"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right URL&quot;</span> <span class="k">do</span>
<a name="gbab-545"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;/methods/3940394-21-9393050-fifif1323-test.html&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-546"></a>    <span class="k">end</span>
<a name="gbab-547"></a>
<a name="gbab-548"></a>    <span class="n">should</span> <span class="s2">&quot;produce the right destination&quot;</span> <span class="k">do</span>
<a name="gbab-549"></a>      <span class="n">assert_equal</span> <span class="vi">@dest_file</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">)</span>
<a name="gbab-550"></a>    <span class="k">end</span>
<a name="gbab-551"></a>
<a name="gbab-552"></a>    <span class="n">should</span> <span class="s2">&quot;be output in the correct place&quot;</span> <span class="k">do</span>
<a name="gbab-553"></a>      <span class="n">assert_equal</span> <span class="kp">true</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">file?</span><span class="p">(</span><span class="vi">@dest_file</span><span class="p">)</span>
<a name="gbab-554"></a>    <span class="k">end</span>
<a name="gbab-555"></a>  <span class="k">end</span>
<a name="gbab-556"></a>
<a name="gbab-557"></a>  <span class="n">context</span> <span class="s2">&quot;a document with UTF-8 CLRF&quot;</span> <span class="k">do</span>
<a name="gbab-558"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-559"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="n">setup_encoded_document</span> <span class="s2">&quot;UTF8CRLFandBOM.md&quot;</span>
<a name="gbab-560"></a>    <span class="k">end</span>
<a name="gbab-561"></a>
<a name="gbab-562"></a>    <span class="n">should</span> <span class="s2">&quot;not throw an error&quot;</span> <span class="k">do</span>
<a name="gbab-563"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Renderer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@document</span><span class="o">.</span><span class="n">site</span><span class="p">,</span> <span class="vi">@document</span><span class="p">)</span><span class="o">.</span><span class="n">render_document</span>
<a name="gbab-564"></a>    <span class="k">end</span>
<a name="gbab-565"></a>  <span class="k">end</span>
<a name="gbab-566"></a>
<a name="gbab-567"></a>  <span class="n">context</span> <span class="s2">&quot;a document with UTF-16LE CLRF&quot;</span> <span class="k">do</span>
<a name="gbab-568"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-569"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="n">setup_encoded_document</span> <span class="s2">&quot;Unicode16LECRLFandBOM.md&quot;</span>
<a name="gbab-570"></a>    <span class="k">end</span>
<a name="gbab-571"></a>
<a name="gbab-572"></a>    <span class="n">should</span> <span class="s2">&quot;not throw an error&quot;</span> <span class="k">do</span>
<a name="gbab-573"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Renderer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@document</span><span class="o">.</span><span class="n">site</span><span class="p">,</span> <span class="vi">@document</span><span class="p">)</span><span class="o">.</span><span class="n">render_document</span>
<a name="gbab-574"></a>    <span class="k">end</span>
<a name="gbab-575"></a>  <span class="k">end</span>
<a name="gbab-576"></a>
<a name="gbab-577"></a>  <span class="n">context</span> <span class="s2">&quot;a document with a date with timezone&quot;</span> <span class="k">do</span>
<a name="gbab-578"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-579"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="n">setup_document_with_dates</span> <span class="s2">&quot;time_with_timezone.md&quot;</span>
<a name="gbab-580"></a>    <span class="k">end</span>
<a name="gbab-581"></a>
<a name="gbab-582"></a>    <span class="n">should</span> <span class="s2">&quot;have the expected date&quot;</span> <span class="k">do</span>
<a name="gbab-583"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;2015/09/30&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">].</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%Y/%m/%d&quot;</span><span class="p">)</span>
<a name="gbab-584"></a>    <span class="k">end</span>
<a name="gbab-585"></a>  <span class="k">end</span>
<a name="gbab-586"></a>
<a name="gbab-587"></a>  <span class="n">context</span> <span class="s2">&quot;a document with a date with time but without timezone&quot;</span> <span class="k">do</span>
<a name="gbab-588"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-589"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="n">setup_document_with_dates</span> <span class="s2">&quot;time_without_timezone.md&quot;</span>
<a name="gbab-590"></a>    <span class="k">end</span>
<a name="gbab-591"></a>
<a name="gbab-592"></a>    <span class="n">should</span> <span class="s2">&quot;have the expected date&quot;</span> <span class="k">do</span>
<a name="gbab-593"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;2015/10/01&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">].</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%Y/%m/%d&quot;</span><span class="p">)</span>
<a name="gbab-594"></a>    <span class="k">end</span>
<a name="gbab-595"></a>  <span class="k">end</span>
<a name="gbab-596"></a>
<a name="gbab-597"></a>  <span class="n">context</span> <span class="s2">&quot;a document with a date without time&quot;</span> <span class="k">do</span>
<a name="gbab-598"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-599"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="n">setup_document_with_dates</span> <span class="s2">&quot;date_without_time.md&quot;</span>
<a name="gbab-600"></a>    <span class="k">end</span>
<a name="gbab-601"></a>
<a name="gbab-602"></a>    <span class="n">should</span> <span class="s2">&quot;have the expected date&quot;</span> <span class="k">do</span>
<a name="gbab-603"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;2015/10/01&quot;</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">].</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%Y/%m/%d&quot;</span><span class="p">)</span>
<a name="gbab-604"></a>    <span class="k">end</span>
<a name="gbab-605"></a>  <span class="k">end</span>
<a name="gbab-606"></a>    <span class="n">should</span> <span class="s2">&quot;be output in the correct place&quot;</span> <span class="k">do</span>
<a name="gbab-607"></a>      <span class="n">assert_equal</span> <span class="kp">true</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">file?</span><span class="p">(</span><span class="vi">@dest_file</span><span class="p">)</span>
<a name="gbab-608"></a>    <span class="k">end</span>
<a name="gbab-609"></a>
<a name="gbab-610"></a>      <span class="p">})</span>
<a name="gbab-611"></a>    <span class="k">end</span>
<a name="gbab-612"></a>
<a name="gbab-613"></a>    <span class="n">should</span> <span class="s2">&quot;be a static file&quot;</span> <span class="k">do</span>
<a name="gbab-614"></a>      <span class="n">assert_equal</span> <span class="kp">true</span><span class="p">,</span> <span class="vi">@document</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">StaticFile</span><span class="p">)</span>
<a name="gbab-615"></a>    <span class="k">end</span>
<a name="gbab-616"></a>
<a name="gbab-617"></a>    <span class="n">should</span> <span class="s2">&quot;be set to write&quot;</span> <span class="k">do</span>
<a name="gbab-618"></a>      <span class="n">assert</span> <span class="vi">@document</span><span class="o">.</span><span class="n">write?</span>
<a name="gbab-619"></a>    <span class="k">end</span>
<a name="gbab-620"></a>
<a name="gbab-621"></a>    <span class="n">should</span> <span class="s2">&quot;be in the list of docs_to_write&quot;</span> <span class="k">do</span>
<a name="gbab-622"></a>      <span class="n">assert</span> <span class="vi">@site</span><span class="o">.</span><span class="n">docs_to_write</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="vi">@document</span><span class="p">)</span>
<a name="gbab-623"></a>    <span class="k">end</span>
<a name="gbab-624"></a>
<a name="gbab-625"></a>    <span class="n">should</span> <span class="s2">&quot;be output in the correct place&quot;</span> <span class="k">do</span>
<a name="gbab-626"></a>      <span class="n">assert_equal</span> <span class="kp">true</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">file?</span><span class="p">(</span><span class="vi">@dest_file</span><span class="p">)</span>
<a name="gbab-627"></a>    <span class="k">end</span>
<a name="gbab-628"></a>  <span class="k">end</span>
<a name="gbab-629"></a>
<a name="gbab-630"></a><span class="k">end</span>
</pre></div>
</td></tr></table>