<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestExcerpt</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="k">def</span> <span class="nf">setup_post</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-7"></a>    <span class="no">Document</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;_posts&quot;</span><span class="p">,</span> <span class="n">file</span><span class="p">)),</span> <span class="p">{</span>
<a name="gbab-8"></a>      <span class="ss">:site</span> <span class="o">=&gt;</span> <span class="vi">@site</span><span class="p">,</span>
<a name="gbab-9"></a>      <span class="ss">:collection</span> <span class="o">=&gt;</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="p">,</span>
<a name="gbab-10"></a>    <span class="p">})</span><span class="o">.</span><span class="n">tap</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:read</span><span class="p">)</span>
<a name="gbab-11"></a>  <span class="k">end</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>  <span class="k">def</span> <span class="nf">do_render</span><span class="p">(</span><span class="n">document</span><span class="p">)</span>
<a name="gbab-14"></a>    <span class="vi">@site</span><span class="o">.</span><span class="n">layouts</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-15"></a>      <span class="s2">&quot;default&quot;</span> <span class="o">=&gt;</span> <span class="no">Layout</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">,</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_layouts&quot;</span><span class="p">),</span> <span class="s2">&quot;simple.html&quot;</span><span class="p">),</span>
<a name="gbab-16"></a>    <span class="p">}</span>
<a name="gbab-17"></a>    <span class="n">document</span><span class="o">.</span><span class="n">output</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Renderer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">,</span> <span class="n">document</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">site_payload</span><span class="p">)</span><span class="o">.</span><span class="n">run</span>
<a name="gbab-18"></a>  <span class="k">end</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>  <span class="n">context</span> <span class="s2">&quot;With extraction disabled&quot;</span> <span class="k">do</span>
<a name="gbab-21"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-22"></a>      <span class="n">clear_dest</span>
<a name="gbab-23"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">(</span><span class="s2">&quot;excerpt_separator&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-24"></a>      <span class="vi">@post</span> <span class="o">=</span> <span class="n">setup_post</span><span class="p">(</span><span class="s2">&quot;2013-07-22-post-excerpt-with-layout.markdown&quot;</span><span class="p">)</span>
<a name="gbab-25"></a>    <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>    <span class="n">should</span> <span class="s2">&quot;not be generated&quot;</span> <span class="k">do</span>
<a name="gbab-28"></a>      <span class="n">refute</span> <span class="vi">@post</span><span class="o">.</span><span class="n">generate_excerpt?</span>
<a name="gbab-29"></a>    <span class="k">end</span>
<a name="gbab-30"></a>  <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>  <span class="n">context</span> <span class="s2">&quot;An extracted excerpt&quot;</span> <span class="k">do</span>
<a name="gbab-33"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-34"></a>      <span class="n">clear_dest</span>
<a name="gbab-35"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-36"></a>      <span class="vi">@post</span> <span class="o">=</span> <span class="n">setup_post</span><span class="p">(</span><span class="s2">&quot;2013-07-22-post-excerpt-with-layout.markdown&quot;</span><span class="p">)</span>
<a name="gbab-37"></a>      <span class="vi">@excerpt</span> <span class="o">=</span> <span class="vi">@post</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span>
<a name="gbab-38"></a>    <span class="k">end</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a>    <span class="n">context</span> <span class="s2">&quot;#include(string)&quot;</span> <span class="k">do</span>
<a name="gbab-41"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-42"></a>        <span class="vi">@excerpt</span><span class="o">.</span><span class="n">output</span> <span class="o">=</span> <span class="s2">&quot;Here is a fake output stub&quot;</span>
<a name="gbab-43"></a>      <span class="k">end</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>      <span class="n">should</span> <span class="s2">&quot;return true only if an excerpt output contains a specified string&quot;</span> <span class="k">do</span>
<a name="gbab-46"></a>        <span class="n">assert</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;fake output&quot;</span><span class="p">)</span>
<a name="gbab-47"></a>        <span class="n">refute</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;real output&quot;</span><span class="p">)</span>
<a name="gbab-48"></a>      <span class="k">end</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>    <span class="n">context</span> <span class="s2">&quot;#id&quot;</span> <span class="k">do</span>
<a name="gbab-52"></a>      <span class="n">should</span> <span class="s2">&quot;contain the UID for the post&quot;</span> <span class="k">do</span>
<a name="gbab-53"></a>        <span class="n">assert_equal</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">id</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="vi">@post</span><span class="o">.</span><span class="n">id</span><span class="si">}</span><span class="s2">#excerpt&quot;</span>
<a name="gbab-54"></a>      <span class="k">end</span>
<a name="gbab-55"></a>      <span class="n">should</span> <span class="s2">&quot;return a string&quot;</span> <span class="k">do</span>
<a name="gbab-56"></a>        <span class="n">assert_same</span> <span class="vi">@post</span><span class="o">.</span><span class="n">id</span><span class="o">.</span><span class="n">class</span><span class="p">,</span> <span class="nb">String</span>
<a name="gbab-57"></a>      <span class="k">end</span>
<a name="gbab-58"></a>    <span class="k">end</span>
<a name="gbab-59"></a>
<a name="gbab-60"></a>    <span class="n">context</span> <span class="s2">&quot;#to_s&quot;</span> <span class="k">do</span>
<a name="gbab-61"></a>      <span class="n">should</span> <span class="s2">&quot;return rendered output&quot;</span> <span class="k">do</span>
<a name="gbab-62"></a>        <span class="n">assert_equal</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">output</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-63"></a>      <span class="k">end</span>
<a name="gbab-64"></a>
<a name="gbab-65"></a>      <span class="n">should</span> <span class="s2">&quot;return its output if output present&quot;</span> <span class="k">do</span>  
<a name="gbab-66"></a>        <span class="vi">@excerpt</span><span class="o">.</span><span class="n">output</span> <span class="o">=</span> <span class="s2">&quot;Fake Output&quot;</span>
<a name="gbab-67"></a>        <span class="n">assert_equal</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">output</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-68"></a>      <span class="k">end</span>
<a name="gbab-69"></a>    <span class="k">end</span>
<a name="gbab-70"></a>
<a name="gbab-71"></a>    <span class="n">context</span> <span class="s2">&quot;#inspect&quot;</span> <span class="k">do</span>
<a name="gbab-72"></a>      <span class="n">should</span> <span class="s2">&quot;contain the excerpt id as a shorthand string identifier&quot;</span> <span class="k">do</span>
<a name="gbab-73"></a>        <span class="n">assert_equal</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">inspect</span><span class="p">,</span> <span class="s2">&quot;&lt;Excerpt: </span><span class="si">#{</span><span class="vi">@excerpt</span><span class="o">.</span><span class="n">id</span><span class="si">}</span><span class="s2">&gt;&quot;</span>
<a name="gbab-74"></a>      <span class="k">end</span>
<a name="gbab-75"></a>
<a name="gbab-76"></a>      <span class="n">should</span> <span class="s2">&quot;return a string&quot;</span> <span class="k">do</span>
<a name="gbab-77"></a>        <span class="n">assert_same</span> <span class="vi">@post</span><span class="o">.</span><span class="n">id</span><span class="o">.</span><span class="n">class</span><span class="p">,</span> <span class="nb">String</span>
<a name="gbab-78"></a>      <span class="k">end</span>
<a name="gbab-79"></a>    <span class="k">end</span>
<a name="gbab-80"></a>
<a name="gbab-81"></a>    <span class="n">context</span> <span class="s2">&quot;#relative_path&quot;</span> <span class="k">do</span>
<a name="gbab-82"></a>      <span class="n">should</span> <span class="s2">&quot;return its document&#39;s relative path with &#39;/#excerpt&#39; appended&quot;</span> <span class="k">do</span>
<a name="gbab-83"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="vi">@excerpt</span><span class="o">.</span><span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span><span class="si">}</span><span class="s2">/#excerpt&quot;</span><span class="p">,</span>
<a name="gbab-84"></a>          <span class="vi">@excerpt</span><span class="o">.</span><span class="n">relative_path</span>
<a name="gbab-85"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;_posts/2013-07-22-post-excerpt-with-layout.markdown/#excerpt&quot;</span><span class="p">,</span>
<a name="gbab-86"></a>          <span class="vi">@excerpt</span><span class="o">.</span><span class="n">relative_path</span>
<a name="gbab-87"></a>      <span class="k">end</span>
<a name="gbab-88"></a>    <span class="k">end</span>
<a name="gbab-89"></a>
<a name="gbab-90"></a>    <span class="n">context</span> <span class="s2">&quot;#to_liquid&quot;</span> <span class="k">do</span>
<a name="gbab-91"></a>      <span class="n">should</span> <span class="s2">&quot;contain the proper page data to mimic the post liquid&quot;</span> <span class="k">do</span>
<a name="gbab-92"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;Post Excerpt with Layout&quot;</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-93"></a>        <span class="n">url</span> <span class="o">=</span> <span class="s2">&quot;/bar/baz/z_category/mixedcase/2013/07/22/post-excerpt-with-layout.html&quot;</span>
<a name="gbab-94"></a>        <span class="n">assert_equal</span> <span class="n">url</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;url&quot;</span><span class="o">]</span>
<a name="gbab-95"></a>        <span class="n">assert_equal</span> <span class="no">Time</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="s2">&quot;2013-07-22&quot;</span><span class="p">),</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span>
<a name="gbab-96"></a>        <span class="n">assert_equal</span> <span class="sx">%w(bar baz z_category MixedCase)</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;categories&quot;</span><span class="o">]</span>
<a name="gbab-97"></a>        <span class="n">assert_equal</span> <span class="sx">%w(first second third jekyllrb.com)</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;tags&quot;</span><span class="o">]</span>
<a name="gbab-98"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;_posts/2013-07-22-post-excerpt-with-layout.markdown/#excerpt&quot;</span><span class="p">,</span>
<a name="gbab-99"></a>                     <span class="vi">@excerpt</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="s2">&quot;path&quot;</span><span class="o">]</span>
<a name="gbab-100"></a>      <span class="k">end</span>
<a name="gbab-101"></a>    <span class="k">end</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a>    <span class="n">context</span> <span class="s2">&quot;#content&quot;</span> <span class="k">do</span>
<a name="gbab-104"></a>      <span class="n">context</span> <span class="s2">&quot;before render&quot;</span> <span class="k">do</span>
<a name="gbab-105"></a>        <span class="n">should</span> <span class="s2">&quot;be the first paragraph of the page&quot;</span> <span class="k">do</span>
<a name="gbab-106"></a>          <span class="n">expected</span> <span class="o">=</span> <span class="s2">&quot;First paragraph with [link ref][link].</span><span class="se">\n\n</span><span class="s2">[link]: &quot;</span><span class="p">\</span>
<a name="gbab-107"></a>                     <span class="s2">&quot;https://jekyllrb.com/&quot;</span>
<a name="gbab-108"></a>          <span class="n">assert_equal</span> <span class="n">expected</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-109"></a>        <span class="k">end</span>
<a name="gbab-110"></a>
<a name="gbab-111"></a>        <span class="n">should</span> <span class="s2">&quot;contain any refs at the bottom of the page&quot;</span> <span class="k">do</span>
<a name="gbab-112"></a>          <span class="n">assert</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">content</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;[link]: https://jekyllrb.com/&quot;</span><span class="p">)</span>
<a name="gbab-113"></a>        <span class="k">end</span>
<a name="gbab-114"></a>      <span class="k">end</span>
<a name="gbab-115"></a>
<a name="gbab-116"></a>      <span class="n">context</span> <span class="s2">&quot;after render&quot;</span> <span class="k">do</span>
<a name="gbab-117"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-118"></a>          <span class="vi">@rendered_post</span> <span class="o">=</span> <span class="vi">@post</span><span class="o">.</span><span class="n">dup</span>
<a name="gbab-119"></a>          <span class="n">do_render</span><span class="p">(</span><span class="vi">@rendered_post</span><span class="p">)</span>
<a name="gbab-120"></a>          <span class="vi">@extracted_excerpt</span> <span class="o">=</span> <span class="vi">@rendered_post</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span>
<a name="gbab-121"></a>        <span class="k">end</span>
<a name="gbab-122"></a>
<a name="gbab-123"></a>        <span class="n">should</span> <span class="s2">&quot;be the first paragraph of the page&quot;</span> <span class="k">do</span>
<a name="gbab-124"></a>          <span class="n">expected</span> <span class="o">=</span> <span class="s2">&quot;&lt;p&gt;First paragraph with &lt;a href=</span><span class="se">\&quot;</span><span class="s2">https://jekyllrb.com/</span><span class="se">\&quot;</span><span class="s2">&gt;link &quot;</span><span class="p">\</span>
<a name="gbab-125"></a>                     <span class="s2">&quot;ref&lt;/a&gt;.&lt;/p&gt;</span><span class="se">\n\n</span><span class="s2">&quot;</span>
<a name="gbab-126"></a>          <span class="n">assert_equal</span> <span class="n">expected</span><span class="p">,</span> <span class="vi">@extracted_excerpt</span><span class="o">.</span><span class="n">output</span>
<a name="gbab-127"></a>        <span class="k">end</span>
<a name="gbab-128"></a>
<a name="gbab-129"></a>        <span class="n">should</span> <span class="s2">&quot;link properly&quot;</span> <span class="k">do</span>
<a name="gbab-130"></a>          <span class="n">assert</span> <span class="vi">@extracted_excerpt</span><span class="o">.</span><span class="n">content</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;https://jekyllrb.com/&quot;</span><span class="p">)</span>
<a name="gbab-131"></a>        <span class="k">end</span>
<a name="gbab-132"></a>      <span class="k">end</span>
<a name="gbab-133"></a>
<a name="gbab-134"></a>      <span class="n">context</span> <span class="s2">&quot;with indented link references&quot;</span> <span class="k">do</span>
<a name="gbab-135"></a>        <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-136"></a>          <span class="vi">@post</span> <span class="o">=</span> <span class="n">setup_post</span><span class="p">(</span><span class="s2">&quot;2016-08-16-indented-link-references.markdown&quot;</span><span class="p">)</span>
<a name="gbab-137"></a>          <span class="vi">@excerpt</span> <span class="o">=</span> <span class="vi">@post</span><span class="o">.</span><span class="n">excerpt</span>
<a name="gbab-138"></a>        <span class="k">end</span>
<a name="gbab-139"></a>
<a name="gbab-140"></a>        <span class="n">should</span> <span class="s2">&quot;contain all refs at the bottom of the page&quot;</span> <span class="k">do</span>
<a name="gbab-141"></a>          <span class="p">(</span><span class="mi">0</span><span class="o">..</span><span class="mi">3</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">i</span><span class="o">|</span>
<a name="gbab-142"></a>            <span class="n">assert_match</span> <span class="s2">&quot;[link_</span><span class="si">#{</span><span class="n">i</span><span class="si">}</span><span class="s2">]: www.example.com/</span><span class="si">#{</span><span class="n">i</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-143"></a>          <span class="k">end</span>
<a name="gbab-144"></a>        <span class="k">end</span>
<a name="gbab-145"></a>
<a name="gbab-146"></a>        <span class="n">should</span> <span class="s2">&quot;ignore indented code&quot;</span> <span class="k">do</span>
<a name="gbab-147"></a>          <span class="n">refute_match</span> <span class="s2">&quot;[fakelink]:&quot;</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-148"></a>        <span class="k">end</span>
<a name="gbab-149"></a>
<a name="gbab-150"></a>        <span class="n">should</span> <span class="s2">&quot;render links properly&quot;</span> <span class="k">do</span>
<a name="gbab-151"></a>          <span class="vi">@rendered_post</span> <span class="o">=</span> <span class="vi">@post</span><span class="o">.</span><span class="n">dup</span>
<a name="gbab-152"></a>          <span class="n">do_render</span><span class="p">(</span><span class="vi">@rendered_post</span><span class="p">)</span>
<a name="gbab-153"></a>          <span class="n">output</span> <span class="o">=</span> <span class="vi">@rendered_post</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;excerpt&quot;</span><span class="o">].</span><span class="n">output</span>
<a name="gbab-154"></a>          <span class="p">(</span><span class="mi">0</span><span class="o">..</span><span class="mi">3</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">i</span><span class="o">|</span>
<a name="gbab-155"></a>            <span class="n">assert_includes</span> <span class="n">output</span><span class="p">,</span> <span class="s2">&quot;&lt;a href=</span><span class="se">\&quot;</span><span class="s2">www.example.com/</span><span class="si">#{</span><span class="n">i</span><span class="si">}</span><span class="se">\&quot;</span><span class="s2">&gt;&quot;</span>
<a name="gbab-156"></a>          <span class="k">end</span>
<a name="gbab-157"></a>        <span class="k">end</span>
<a name="gbab-158"></a>      <span class="k">end</span>
<a name="gbab-159"></a>    <span class="k">end</span>
<a name="gbab-160"></a>  <span class="k">end</span>
<a name="gbab-161"></a>
<a name="gbab-162"></a>  <span class="n">context</span> <span class="s2">&quot;A whole-post excerpt&quot;</span> <span class="k">do</span>
<a name="gbab-163"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-164"></a>      <span class="n">clear_dest</span>
<a name="gbab-165"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-166"></a>      <span class="vi">@post</span> <span class="o">=</span> <span class="n">setup_post</span><span class="p">(</span><span class="s2">&quot;2008-02-02-published.markdown&quot;</span><span class="p">)</span>
<a name="gbab-167"></a>      <span class="vi">@excerpt</span> <span class="o">=</span> <span class="vi">@post</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span>
<a name="gbab-168"></a>    <span class="k">end</span>
<a name="gbab-169"></a>
<a name="gbab-170"></a>    <span class="n">should</span> <span class="s2">&quot;be generated&quot;</span> <span class="k">do</span>
<a name="gbab-171"></a>      <span class="n">assert_equal</span> <span class="kp">true</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Excerpt</span><span class="p">)</span>
<a name="gbab-172"></a>    <span class="k">end</span>
<a name="gbab-173"></a>
<a name="gbab-174"></a>    <span class="n">context</span> <span class="s2">&quot;#content&quot;</span> <span class="k">do</span>
<a name="gbab-175"></a>      <span class="n">should</span> <span class="s2">&quot;match the post content&quot;</span> <span class="k">do</span>
<a name="gbab-176"></a>        <span class="n">assert_equal</span> <span class="vi">@post</span><span class="o">.</span><span class="n">content</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-177"></a>      <span class="k">end</span>
<a name="gbab-178"></a>    <span class="k">end</span>
<a name="gbab-179"></a>  <span class="k">end</span>
<a name="gbab-180"></a>
<a name="gbab-181"></a>  <span class="n">context</span> <span class="s2">&quot;An excerpt with non-closed but valid Liquid block tag&quot;</span> <span class="k">do</span>
<a name="gbab-182"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-183"></a>      <span class="n">clear_dest</span>
<a name="gbab-184"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-185"></a>      <span class="vi">@post</span> <span class="o">=</span> <span class="n">setup_post</span><span class="p">(</span><span class="s2">&quot;2018-01-28-open-liquid-block-excerpt.markdown&quot;</span><span class="p">)</span>
<a name="gbab-186"></a>      <span class="vi">@excerpt</span> <span class="o">=</span> <span class="vi">@post</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span>
<a name="gbab-187"></a>
<a name="gbab-188"></a>      <span class="n">assert_includes</span> <span class="vi">@post</span><span class="o">.</span><span class="n">content</span><span class="p">,</span> <span class="s2">&quot;{% if&quot;</span>
<a name="gbab-189"></a>      <span class="n">refute_includes</span> <span class="vi">@post</span><span class="o">.</span><span class="n">content</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\n\n</span><span class="s2">&quot;</span><span class="p">)</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;{% endif %}&quot;</span>
<a name="gbab-190"></a>    <span class="k">end</span>
<a name="gbab-191"></a>
<a name="gbab-192"></a>    <span class="n">should</span> <span class="s2">&quot;be appended to as necessary and generated&quot;</span> <span class="k">do</span>
<a name="gbab-193"></a>      <span class="n">assert_includes</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">content</span><span class="p">,</span> <span class="s2">&quot;{% endif %}&quot;</span>
<a name="gbab-194"></a>      <span class="n">assert_equal</span> <span class="kp">true</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Excerpt</span><span class="p">)</span>
<a name="gbab-195"></a>    <span class="k">end</span>
<a name="gbab-196"></a>  <span class="k">end</span>
<a name="gbab-197"></a>
<a name="gbab-198"></a>  <span class="n">context</span> <span class="s2">&quot;An excerpt with valid closed Liquid block tag&quot;</span> <span class="k">do</span>
<a name="gbab-199"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-200"></a>      <span class="n">clear_dest</span>
<a name="gbab-201"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-202"></a>      <span class="vi">@post</span> <span class="o">=</span> <span class="n">setup_post</span><span class="p">(</span><span class="s2">&quot;2018-01-28-closed-liquid-block-excerpt.markdown&quot;</span><span class="p">)</span>
<a name="gbab-203"></a>      <span class="vi">@excerpt</span> <span class="o">=</span> <span class="vi">@post</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span>
<a name="gbab-204"></a>
<a name="gbab-205"></a>      <span class="n">assert_includes</span> <span class="vi">@post</span><span class="o">.</span><span class="n">content</span><span class="p">,</span> <span class="s2">&quot;{% if&quot;</span>
<a name="gbab-206"></a>      <span class="n">assert_includes</span> <span class="vi">@post</span><span class="o">.</span><span class="n">content</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\n\n</span><span class="s2">&quot;</span><span class="p">)</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;{% endif %}&quot;</span>
<a name="gbab-207"></a>    <span class="k">end</span>
<a name="gbab-208"></a>
<a name="gbab-209"></a>    <span class="n">should</span> <span class="s2">&quot;not be appended to but generated as is&quot;</span> <span class="k">do</span>
<a name="gbab-210"></a>      <span class="n">assert_includes</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">content</span><span class="p">,</span> <span class="s2">&quot;{% endif %}&quot;</span>
<a name="gbab-211"></a>      <span class="n">refute_includes</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">content</span><span class="p">,</span> <span class="s2">&quot;{% endif %}</span><span class="se">\n\n</span><span class="s2">{% endif %}&quot;</span>
<a name="gbab-212"></a>      <span class="n">assert_equal</span> <span class="kp">true</span><span class="p">,</span> <span class="vi">@excerpt</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Excerpt</span><span class="p">)</span>
<a name="gbab-213"></a>    <span class="k">end</span>
<a name="gbab-214"></a>  <span class="k">end</span>
<a name="gbab-215"></a><span class="k">end</span>
</pre></div>
</td></tr></table>