<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestKramdown</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a>  <span class="n">context</span> <span class="s2">&quot;kramdown&quot;</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@config</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-9"></a>        <span class="s2">&quot;markdown&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;kramdown&quot;</span><span class="p">,</span>
<a name="gbab-10"></a>        <span class="s2">&quot;kramdown&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-11"></a>          <span class="s2">&quot;smart_quotes&quot;</span>            <span class="o">=&gt;</span> <span class="s2">&quot;lsquo,rsquo,ldquo,rdquo&quot;</span><span class="p">,</span>
<a name="gbab-12"></a>          <span class="s2">&quot;entity_output&quot;</span>           <span class="o">=&gt;</span> <span class="s2">&quot;as_char&quot;</span><span class="p">,</span>
<a name="gbab-13"></a>          <span class="s2">&quot;toc_levels&quot;</span>              <span class="o">=&gt;</span> <span class="s2">&quot;1..6&quot;</span><span class="p">,</span>
<a name="gbab-14"></a>          <span class="s2">&quot;auto_ids&quot;</span>                <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-15"></a>          <span class="s2">&quot;footnote_nr&quot;</span>             <span class="o">=&gt;</span> <span class="mi">1</span><span class="p">,</span>
<a name="gbab-16"></a>          <span class="s2">&quot;show_warnings&quot;</span>           <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>          <span class="s2">&quot;syntax_highlighter&quot;</span>      <span class="o">=&gt;</span> <span class="s2">&quot;rouge&quot;</span><span class="p">,</span>
<a name="gbab-19"></a>          <span class="s2">&quot;syntax_highlighter_opts&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-20"></a>            <span class="s2">&quot;bold_every&quot;</span> <span class="o">=&gt;</span> <span class="mi">8</span><span class="p">,</span>
<a name="gbab-21"></a>            <span class="s2">&quot;css&quot;</span>        <span class="o">=&gt;</span> <span class="ss">:class</span><span class="p">,</span>
<a name="gbab-22"></a>            <span class="s2">&quot;css_class&quot;</span>  <span class="o">=&gt;</span> <span class="s2">&quot;highlight&quot;</span><span class="p">,</span>
<a name="gbab-23"></a>            <span class="s2">&quot;formatter&quot;</span>  <span class="o">=&gt;</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Rouge</span><span class="o">.</span><span class="n">html_formatter</span><span class="o">.</span><span class="n">class</span><span class="p">,</span>
<a name="gbab-24"></a>          <span class="p">},</span>
<a name="gbab-25"></a>        <span class="p">},</span>
<a name="gbab-26"></a>      <span class="p">}</span>
<a name="gbab-27"></a>      <span class="vi">@kramdown_config_keys</span> <span class="o">=</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;kramdown&quot;</span><span class="o">].</span><span class="n">keys</span>
<a name="gbab-28"></a>      <span class="vi">@syntax_highlighter_opts_config_keys</span> <span class="o">=</span> <span class="p">\</span>
<a name="gbab-29"></a>        <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;kramdown&quot;</span><span class="o">][</span><span class="s2">&quot;syntax_highlighter_opts&quot;</span><span class="o">].</span><span class="n">keys</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a>      <span class="vi">@config</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="vi">@config</span><span class="p">)</span>
<a name="gbab-32"></a>      <span class="vi">@markdown</span> <span class="o">=</span> <span class="no">Converters</span><span class="o">::</span><span class="no">Markdown</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@config</span><span class="p">)</span>
<a name="gbab-33"></a>      <span class="vi">@markdown</span><span class="o">.</span><span class="n">setup</span>
<a name="gbab-34"></a>    <span class="k">end</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>    <span class="n">should</span> <span class="s2">&quot;fill symbolized keys into config for compatibility with kramdown&quot;</span> <span class="k">do</span>
<a name="gbab-37"></a>      <span class="n">kramdown_config</span> <span class="o">=</span> <span class="vi">@markdown</span><span class="o">.</span><span class="n">instance_variable_get</span><span class="p">(</span><span class="ss">:@parser</span><span class="p">)</span>
<a name="gbab-38"></a>        <span class="o">.</span><span class="n">instance_variable_get</span><span class="p">(</span><span class="ss">:@config</span><span class="p">)</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a>      <span class="vi">@kramdown_config_keys</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="o">|</span>
<a name="gbab-41"></a>        <span class="n">assert</span> <span class="n">kramdown_config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="o">.</span><span class="n">to_sym</span><span class="p">),</span>
<a name="gbab-42"></a>          <span class="s2">&quot;Expected </span><span class="si">#{</span><span class="n">kramdown_config</span><span class="si">}</span><span class="s2"> to include key </span><span class="si">#{</span><span class="n">key</span><span class="o">.</span><span class="n">to_sym</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-43"></a>      <span class="k">end</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>      <span class="vi">@syntax_highlighter_opts_config_keys</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="o">|</span>
<a name="gbab-46"></a>        <span class="n">assert</span> <span class="n">kramdown_config</span><span class="o">[</span><span class="s2">&quot;syntax_highlighter_opts&quot;</span><span class="o">].</span><span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="o">.</span><span class="n">to_sym</span><span class="p">),</span>
<a name="gbab-47"></a>          <span class="s2">&quot;Expected </span><span class="si">#{</span><span class="n">kramdown_config</span><span class="o">[</span><span class="s2">&quot;syntax_highlighter_opts&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2"> to include &quot;</span> <span class="p">\</span>
<a name="gbab-48"></a>          <span class="s2">&quot;key </span><span class="si">#{</span><span class="n">key</span><span class="o">.</span><span class="n">to_sym</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-49"></a>      <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>      <span class="n">assert_equal</span> <span class="n">kramdown_config</span><span class="o">[</span><span class="s2">&quot;smart_quotes&quot;</span><span class="o">]</span><span class="p">,</span> <span class="n">kramdown_config</span><span class="o">[</span><span class="ss">:smart_quotes</span><span class="o">]</span>
<a name="gbab-52"></a>      <span class="n">assert_equal</span> <span class="n">kramdown_config</span><span class="o">[</span><span class="s2">&quot;syntax_highlighter_opts&quot;</span><span class="o">][</span><span class="s2">&quot;css&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-53"></a>        <span class="n">kramdown_config</span><span class="o">[</span><span class="ss">:syntax_highlighter_opts</span><span class="o">][</span><span class="ss">:css</span><span class="o">]</span>
<a name="gbab-54"></a>    <span class="k">end</span>
<a name="gbab-55"></a>
<a name="gbab-56"></a>    <span class="n">should</span> <span class="s2">&quot;run Kramdown&quot;</span> <span class="k">do</span>
<a name="gbab-57"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;&lt;h1&gt;Some Header&lt;/h1&gt;&quot;</span><span class="p">,</span> <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="s2">&quot;# Some Header #&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-58"></a>    <span class="k">end</span>
<a name="gbab-59"></a>
<a name="gbab-60"></a>    <span class="n">should</span> <span class="s2">&quot;should log kramdown warnings&quot;</span> <span class="k">do</span>
<a name="gbab-61"></a>      <span class="n">allow_any_instance_of</span><span class="p">(</span><span class="no">Kramdown</span><span class="o">::</span><span class="no">Document</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:warnings</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="o">[</span><span class="s2">&quot;foo&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-62"></a>      <span class="n">expect</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:warn</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;Kramdown warning:&quot;</span><span class="p">,</span> <span class="s2">&quot;foo&quot;</span><span class="p">)</span>
<a name="gbab-63"></a>      <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="s2">&quot;Something&quot;</span><span class="p">)</span>
<a name="gbab-64"></a>    <span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>    <span class="n">context</span> <span class="s2">&quot;when asked to convert smart quotes&quot;</span> <span class="k">do</span>
<a name="gbab-67"></a>      <span class="n">should</span> <span class="s2">&quot;convert&quot;</span> <span class="k">do</span>
<a name="gbab-68"></a>        <span class="n">assert_match</span><span class="p">(</span>
<a name="gbab-69"></a>          <span class="sr">%r!&lt;p&gt;(&amp;#8220;|“)Pit(&amp;#8217;|’)hy(&amp;#8221;|”)&lt;\/p&gt;!</span><span class="p">,</span>
<a name="gbab-70"></a>          <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="sx">%(&quot;Pit&#39;hy&quot;)</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-71"></a>        <span class="p">)</span>
<a name="gbab-72"></a>      <span class="k">end</span>
<a name="gbab-73"></a>
<a name="gbab-74"></a>      <span class="n">should</span> <span class="s2">&quot;support custom types&quot;</span> <span class="k">do</span>
<a name="gbab-75"></a>        <span class="n">override</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-76"></a>          <span class="s2">&quot;highlighter&quot;</span> <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span>
<a name="gbab-77"></a>          <span class="s2">&quot;kramdown&quot;</span>    <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-78"></a>            <span class="s2">&quot;smart_quotes&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;lsaquo,rsaquo,laquo,raquo&quot;</span><span class="p">,</span>
<a name="gbab-79"></a>          <span class="p">},</span>
<a name="gbab-80"></a>        <span class="p">}</span>
<a name="gbab-81"></a>          <span class="n">markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="sx">%(&quot;Pit&#39;hy&quot;)</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-82"></a>      <span class="k">end</span>
<a name="gbab-83"></a>
<a name="gbab-84"></a>    <span class="n">should</span> <span class="s2">&quot;render fenced code blocks with syntax highlighting&quot;</span> <span class="k">do</span>
<a name="gbab-85"></a>      <span class="n">result</span> <span class="o">=</span> <span class="n">nokogiri_fragment</span><span class="p">(</span><span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="no">Utils</span><span class="o">.</span><span class="n">strip_heredoc</span><span class="p">(</span><span class="o">&lt;&lt;-</span><span class="no">MARKDOWN</span><span class="p">)))</span>
<a name="gbab-86"></a><span class="sh">~~~ruby</span>
<a name="gbab-87"></a><span class="sh">        puts &quot;Hello World&quot;</span>
<a name="gbab-88"></a><span class="sh">~~~</span>
<a name="gbab-89"></a><span class="no">      MARKDOWN</span>
<a name="gbab-90"></a>      <span class="n">div_highlight</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-91"></a>      <span class="n">div_highlight</span> <span class="o">=</span> <span class="s2">&quot;&gt;div.highlight&quot;</span> <span class="k">unless</span> <span class="no">Utils</span><span class="o">::</span><span class="no">Rouge</span><span class="o">.</span><span class="n">old_api?</span>
<a name="gbab-92"></a>      <span class="n">selector</span> <span class="o">=</span> <span class="s2">&quot;div.highlighter-rouge</span><span class="si">#{</span><span class="n">div_highlight</span><span class="si">}</span><span class="s2">&gt;pre.highlight&gt;code&quot;</span>
<a name="gbab-93"></a>      <span class="n">refute</span> <span class="n">result</span><span class="o">.</span><span class="n">css</span><span class="p">(</span><span class="n">selector</span><span class="p">)</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-94"></a>      <span class="k">end</span>
<a name="gbab-95"></a>
<a name="gbab-96"></a>    <span class="n">context</span> <span class="s2">&quot;when a custom highlighter is chosen&quot;</span> <span class="k">do</span>
<a name="gbab-97"></a>      <span class="n">should</span> <span class="s2">&quot;use the chosen highlighter if it&#39;s available&quot;</span> <span class="k">do</span>
<a name="gbab-98"></a>        <span class="n">override</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-99"></a>          <span class="s2">&quot;highlighter&quot;</span> <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span>
<a name="gbab-100"></a>          <span class="s2">&quot;markdown&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;kramdown&quot;</span><span class="p">,</span>
<a name="gbab-101"></a>          <span class="s2">&quot;kramdown&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-102"></a>            <span class="s2">&quot;syntax_highlighter&quot;</span> <span class="o">=&gt;</span> <span class="ss">:coderay</span><span class="p">,</span>
<a name="gbab-103"></a>          <span class="p">},</span>
<a name="gbab-104"></a>        <span class="p">}</span>
<a name="gbab-105"></a>
<a name="gbab-106"></a>        <span class="n">markdown</span> <span class="o">=</span> <span class="no">Converters</span><span class="o">::</span><span class="no">Markdown</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="vi">@config</span><span class="p">,</span> <span class="n">override</span><span class="p">))</span>
<a name="gbab-107"></a>        <span class="n">result</span> <span class="o">=</span> <span class="n">nokogiri_fragment</span><span class="p">(</span><span class="n">markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="no">Utils</span><span class="o">.</span><span class="n">strip_heredoc</span><span class="p">(</span><span class="o">&lt;&lt;-</span><span class="no">MARKDOWN</span><span class="p">)))</span>
<a name="gbab-108"></a><span class="sh">          ~~~ruby</span>
<a name="gbab-109"></a><span class="sh">          puts &quot;Hello World&quot;</span>
<a name="gbab-110"></a><span class="sh">          ~~~</span>
<a name="gbab-111"></a><span class="no">        MARKDOWN</span>
<a name="gbab-112"></a>
<a name="gbab-113"></a>        <span class="n">selector</span> <span class="o">=</span> <span class="s2">&quot;div.highlighter-coderay&gt;div.CodeRay&gt;div.code&gt;pre&quot;</span>
<a name="gbab-114"></a>        <span class="n">refute</span> <span class="n">result</span><span class="o">.</span><span class="n">css</span><span class="p">(</span><span class="n">selector</span><span class="p">)</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-115"></a>      <span class="k">end</span>
<a name="gbab-116"></a>
<a name="gbab-117"></a>      <span class="n">should</span> <span class="s2">&quot;support legacy enable_coderay... for now&quot;</span> <span class="k">do</span>
<a name="gbab-118"></a>        <span class="n">override</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-119"></a>          <span class="s2">&quot;markdown&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;kramdown&quot;</span><span class="p">,</span>
<a name="gbab-120"></a>          <span class="s2">&quot;kramdown&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-121"></a>            <span class="s2">&quot;enable_coderay&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-122"></a>          <span class="p">},</span>
<a name="gbab-123"></a>        <span class="p">}</span>
<a name="gbab-124"></a>
<a name="gbab-125"></a>        <span class="vi">@config</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="s2">&quot;highlighter&quot;</span><span class="p">)</span>
<a name="gbab-126"></a>        <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;kramdown&quot;</span><span class="o">].</span><span class="n">delete</span><span class="p">(</span><span class="s2">&quot;syntax_highlighter&quot;</span><span class="p">)</span>
<a name="gbab-127"></a>        <span class="n">markdown</span> <span class="o">=</span> <span class="no">Converters</span><span class="o">::</span><span class="no">Markdown</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="vi">@config</span><span class="p">,</span> <span class="n">override</span><span class="p">))</span>
<a name="gbab-128"></a>        <span class="n">result</span> <span class="o">=</span> <span class="n">nokogiri_fragment</span><span class="p">(</span><span class="n">markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="no">Utils</span><span class="o">.</span><span class="n">strip_heredoc</span><span class="p">(</span><span class="o">&lt;&lt;-</span><span class="no">MARKDOWN</span><span class="p">)))</span>
<a name="gbab-129"></a><span class="sh">          ~~~ruby</span>
<a name="gbab-130"></a><span class="sh">          puts &quot;Hello World&quot;</span>
<a name="gbab-131"></a><span class="sh">          ~~~</span>
<a name="gbab-132"></a><span class="no">        MARKDOWN</span>
<a name="gbab-133"></a>
<a name="gbab-134"></a>        <span class="n">selector</span> <span class="o">=</span> <span class="s2">&quot;div.highlighter-coderay&gt;div.CodeRay&gt;div.code&gt;pre&quot;</span>
<a name="gbab-135"></a>        <span class="n">refute</span> <span class="n">result</span><span class="o">.</span><span class="n">css</span><span class="p">(</span><span class="n">selector</span><span class="p">)</span><span class="o">.</span><span class="n">empty?</span><span class="p">,</span> <span class="s2">&quot;pre tag should exist&quot;</span>
<a name="gbab-136"></a>      <span class="k">end</span>
<a name="gbab-137"></a>      <span class="k">end</span>
<a name="gbab-138"></a>
<a name="gbab-139"></a>    <span class="n">should</span> <span class="s2">&quot;move coderay to syntax_highlighter_opts&quot;</span> <span class="k">do</span>
<a name="gbab-140"></a>      <span class="n">original</span> <span class="o">=</span> <span class="no">Kramdown</span><span class="o">::</span><span class="no">Document</span><span class="o">.</span><span class="n">method</span><span class="p">(</span><span class="ss">:new</span><span class="p">)</span>
<a name="gbab-141"></a>      <span class="n">markdown</span> <span class="o">=</span> <span class="no">Converters</span><span class="o">::</span><span class="no">Markdown</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="vi">@config</span><span class="p">,</span> <span class="p">{</span>
<a name="gbab-142"></a>        <span class="s2">&quot;higlighter&quot;</span> <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span>
<a name="gbab-143"></a>        <span class="s2">&quot;markdown&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;kramdown&quot;</span><span class="p">,</span>
<a name="gbab-144"></a>        <span class="s2">&quot;kramdown&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-145"></a>          <span class="s2">&quot;syntax_highlighter&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;coderay&quot;</span><span class="p">,</span>
<a name="gbab-146"></a>          <span class="s2">&quot;coderay&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-147"></a>            <span class="s2">&quot;hello&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;world&quot;</span><span class="p">,</span>
<a name="gbab-148"></a>          <span class="p">},</span>
<a name="gbab-149"></a>        <span class="p">},</span>
<a name="gbab-150"></a>      <span class="p">}))</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a>      <span class="n">expect</span><span class="p">(</span><span class="no">Kramdown</span><span class="o">::</span><span class="no">Document</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:new</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">arg1</span><span class="p">,</span> <span class="nb">hash</span><span class="o">|</span>
<a name="gbab-153"></a>        <span class="n">assert_equal</span> <span class="nb">hash</span><span class="o">[</span><span class="s2">&quot;syntax_highlighter_opts&quot;</span><span class="o">][</span><span class="s2">&quot;hello&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;world&quot;</span>
<a name="gbab-154"></a>        <span class="n">original</span><span class="o">.</span><span class="n">call</span><span class="p">(</span><span class="n">arg1</span><span class="p">,</span> <span class="nb">hash</span><span class="p">)</span>
<a name="gbab-155"></a>      <span class="k">end</span>
<a name="gbab-156"></a>
<a name="gbab-157"></a>      <span class="n">markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="s2">&quot;hello world&quot;</span><span class="p">)</span>
<a name="gbab-158"></a>    <span class="k">end</span>
</pre></div>
</td></tr></table>