<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestFrontMatterDefaults</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;A site with full front matter defaults&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-9"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-10"></a>          <span class="s2">&quot;scope&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-11"></a>            <span class="s2">&quot;path&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;contacts&quot;</span><span class="p">,</span>
<a name="gbab-12"></a>            <span class="s2">&quot;type&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;page&quot;</span><span class="p">,</span>
<a name="gbab-13"></a>          <span class="p">},</span>
<a name="gbab-14"></a>          <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-15"></a>            <span class="s2">&quot;key&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;val&quot;</span><span class="p">,</span>
<a name="gbab-16"></a>          <span class="p">},</span>
<a name="gbab-17"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-18"></a>      <span class="p">})</span>
<a name="gbab-19"></a>      <span class="vi">@output</span> <span class="o">=</span> <span class="n">capture_output</span> <span class="p">{</span> <span class="vi">@site</span><span class="o">.</span><span class="n">process</span> <span class="p">}</span>
<a name="gbab-20"></a>      <span class="vi">@affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;/contacts/bar.html&quot;</span> <span class="p">}</span>
<a name="gbab-21"></a>      <span class="vi">@not_affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;about.html&quot;</span> <span class="p">}</span>
<a name="gbab-22"></a>      <span class="vi">@affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;contacts/bar.html&quot;</span> <span class="p">}</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>    <span class="n">should</span> <span class="s2">&quot;affect only the specified path and type&quot;</span> <span class="k">do</span>
<a name="gbab-25"></a>      <span class="n">assert_equal</span> <span class="vi">@affected</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;val&quot;</span>
<a name="gbab-26"></a>      <span class="n">assert_nil</span> <span class="vi">@not_affected</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span>
<a name="gbab-27"></a>    <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>    <span class="n">should</span> <span class="s2">&quot;not call Dir.glob block&quot;</span> <span class="k">do</span>
<a name="gbab-30"></a>      <span class="n">refute_includes</span> <span class="vi">@output</span><span class="p">,</span> <span class="s2">&quot;Globbed Scope Path:&quot;</span>
<a name="gbab-31"></a>    <span class="k">end</span>
<a name="gbab-32"></a>  <span class="k">end</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>  <span class="n">context</span> <span class="s2">&quot;A site with full front matter defaults (glob)&quot;</span> <span class="k">do</span>
<a name="gbab-35"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-36"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-37"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-38"></a>          <span class="s2">&quot;scope&quot;</span>  <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-39"></a>            <span class="s2">&quot;path&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;contacts/*.html&quot;</span><span class="p">,</span>
<a name="gbab-40"></a>            <span class="s2">&quot;type&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;page&quot;</span><span class="p">,</span>
<a name="gbab-41"></a>          <span class="p">},</span>
<a name="gbab-42"></a>          <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-43"></a>            <span class="s2">&quot;key&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;val&quot;</span><span class="p">,</span>
<a name="gbab-44"></a>          <span class="p">},</span>
<a name="gbab-45"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-46"></a>      <span class="p">})</span>
<a name="gbab-47"></a>      <span class="vi">@output</span> <span class="o">=</span> <span class="n">capture_output</span> <span class="p">{</span> <span class="vi">@site</span><span class="o">.</span><span class="n">process</span> <span class="p">}</span>
<a name="gbab-48"></a>      <span class="vi">@affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;contacts/bar.html&quot;</span> <span class="p">}</span>
<a name="gbab-49"></a>      <span class="vi">@not_affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;about.html&quot;</span> <span class="p">}</span>
<a name="gbab-50"></a>    <span class="k">end</span>
<a name="gbab-51"></a>
<a name="gbab-52"></a>    <span class="n">should</span> <span class="s2">&quot;affect only the specified path and type&quot;</span> <span class="k">do</span>
<a name="gbab-53"></a>      <span class="n">assert_equal</span> <span class="vi">@affected</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;val&quot;</span>
<a name="gbab-54"></a>      <span class="n">assert_nil</span> <span class="vi">@not_affected</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span>
<a name="gbab-55"></a>    <span class="k">end</span>
<a name="gbab-56"></a>
<a name="gbab-57"></a>    <span class="n">should</span> <span class="s2">&quot;call Dir.glob block&quot;</span> <span class="k">do</span>
<a name="gbab-58"></a>      <span class="n">assert_includes</span> <span class="vi">@output</span><span class="p">,</span> <span class="s2">&quot;Globbed Scope Path:&quot;</span>
<a name="gbab-59"></a>    <span class="k">end</span>
<a name="gbab-60"></a>  <span class="k">end</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>  <span class="n">context</span> <span class="s2">&quot;A site with front matter type pages and an extension&quot;</span> <span class="k">do</span>
<a name="gbab-63"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-64"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-65"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-66"></a>          <span class="s2">&quot;scope&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-67"></a>            <span class="s2">&quot;path&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;index.html&quot;</span><span class="p">,</span>
<a name="gbab-68"></a>          <span class="p">},</span>
<a name="gbab-69"></a>          <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-70"></a>            <span class="s2">&quot;key&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;val&quot;</span><span class="p">,</span>
<a name="gbab-71"></a>          <span class="p">},</span>
<a name="gbab-72"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-73"></a>      <span class="p">})</span>
<a name="gbab-74"></a>
<a name="gbab-75"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-76"></a>      <span class="vi">@affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;index.html&quot;</span> <span class="p">}</span>
<a name="gbab-77"></a>      <span class="vi">@not_affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;about.html&quot;</span> <span class="p">}</span>
<a name="gbab-78"></a>    <span class="k">end</span>
<a name="gbab-79"></a>
<a name="gbab-80"></a>    <span class="n">should</span> <span class="s2">&quot;affect only the specified path&quot;</span> <span class="k">do</span>
<a name="gbab-81"></a>      <span class="n">assert_equal</span> <span class="vi">@affected</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;val&quot;</span>
<a name="gbab-82"></a>      <span class="n">assert_nil</span> <span class="vi">@not_affected</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span>
<a name="gbab-83"></a>    <span class="k">end</span>
<a name="gbab-84"></a>  <span class="k">end</span>
<a name="gbab-85"></a>
<a name="gbab-86"></a>  <span class="n">context</span> <span class="s2">&quot;A site with front matter defaults with no type&quot;</span> <span class="k">do</span>
<a name="gbab-87"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-88"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-89"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-90"></a>          <span class="s2">&quot;scope&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-91"></a>            <span class="s2">&quot;path&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;win&quot;</span><span class="p">,</span>
<a name="gbab-92"></a>          <span class="p">},</span>
<a name="gbab-93"></a>          <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-94"></a>            <span class="s2">&quot;key&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;val&quot;</span><span class="p">,</span>
<a name="gbab-95"></a>          <span class="p">},</span>
<a name="gbab-96"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-97"></a>      <span class="p">})</span>
<a name="gbab-98"></a>
<a name="gbab-99"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-100"></a>      <span class="vi">@affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">=~</span> <span class="sr">%r!win\/!</span> <span class="p">}</span>
<a name="gbab-101"></a>      <span class="vi">@not_affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;about.html&quot;</span> <span class="p">}</span>
<a name="gbab-102"></a>    <span class="k">end</span>
<a name="gbab-103"></a>
<a name="gbab-104"></a>    <span class="n">should</span> <span class="s2">&quot;affect only the specified path and all types&quot;</span> <span class="k">do</span>
<a name="gbab-105"></a>      <span class="n">assert_equal</span> <span class="vi">@affected</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;val&quot;</span>
<a name="gbab-106"></a>      <span class="n">assert_nil</span> <span class="vi">@not_affected</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span>
<a name="gbab-107"></a>    <span class="k">end</span>
<a name="gbab-108"></a>  <span class="k">end</span>
<a name="gbab-109"></a>
<a name="gbab-110"></a>  <span class="n">context</span> <span class="s2">&quot;A site with front matter defaults with no path and a deprecated type&quot;</span> <span class="k">do</span>
<a name="gbab-111"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-112"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-113"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-114"></a>          <span class="s2">&quot;scope&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-115"></a>            <span class="s2">&quot;type&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;page&quot;</span><span class="p">,</span>
<a name="gbab-116"></a>          <span class="p">},</span>
<a name="gbab-117"></a>          <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-118"></a>            <span class="s2">&quot;key&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;val&quot;</span><span class="p">,</span>
<a name="gbab-119"></a>          <span class="p">},</span>
<a name="gbab-120"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-121"></a>      <span class="p">})</span>
<a name="gbab-122"></a>
<a name="gbab-123"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-124"></a>      <span class="vi">@affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span>
<a name="gbab-125"></a>      <span class="vi">@not_affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span>
<a name="gbab-126"></a>    <span class="k">end</span>
<a name="gbab-127"></a>
<a name="gbab-128"></a>    <span class="n">should</span> <span class="s2">&quot;affect only the specified type and all paths&quot;</span> <span class="k">do</span>
<a name="gbab-129"></a>      <span class="n">assert_equal</span> <span class="vi">@affected</span><span class="o">.</span><span class="n">reject</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;val&quot;</span> <span class="p">},</span> <span class="o">[]</span>
<a name="gbab-130"></a>      <span class="n">assert_equal</span> <span class="vi">@not_affected</span><span class="o">.</span><span class="n">reject</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;val&quot;</span> <span class="p">},</span>
<a name="gbab-131"></a>                   <span class="vi">@not_affected</span>
<a name="gbab-132"></a>    <span class="k">end</span>
<a name="gbab-133"></a>  <span class="k">end</span>
<a name="gbab-134"></a>
<a name="gbab-135"></a>  <span class="n">context</span> <span class="s2">&quot;A site with front matter defaults with no path&quot;</span> <span class="k">do</span>
<a name="gbab-136"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-137"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-138"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-139"></a>          <span class="s2">&quot;scope&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-140"></a>            <span class="s2">&quot;type&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;pages&quot;</span><span class="p">,</span>
<a name="gbab-141"></a>          <span class="p">},</span>
<a name="gbab-142"></a>          <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-143"></a>            <span class="s2">&quot;key&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;val&quot;</span><span class="p">,</span>
<a name="gbab-144"></a>          <span class="p">},</span>
<a name="gbab-145"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-146"></a>      <span class="p">})</span>
<a name="gbab-147"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-148"></a>      <span class="vi">@affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span>
<a name="gbab-149"></a>      <span class="vi">@not_affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span>
<a name="gbab-150"></a>    <span class="k">end</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a>    <span class="n">should</span> <span class="s2">&quot;affect only the specified type and all paths&quot;</span> <span class="k">do</span>
<a name="gbab-153"></a>      <span class="n">assert_equal</span> <span class="vi">@affected</span><span class="o">.</span><span class="n">reject</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;val&quot;</span> <span class="p">},</span> <span class="o">[]</span>
<a name="gbab-154"></a>      <span class="n">assert_equal</span> <span class="vi">@not_affected</span><span class="o">.</span><span class="n">reject</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;val&quot;</span> <span class="p">},</span>
<a name="gbab-155"></a>                   <span class="vi">@not_affected</span>
<a name="gbab-156"></a>    <span class="k">end</span>
<a name="gbab-157"></a>  <span class="k">end</span>
<a name="gbab-158"></a>
<a name="gbab-159"></a>  <span class="n">context</span> <span class="s2">&quot;A site with front matter defaults with no path or type&quot;</span> <span class="k">do</span>
<a name="gbab-160"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-161"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-162"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-163"></a>          <span class="s2">&quot;scope&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-164"></a>          <span class="p">},</span>
<a name="gbab-165"></a>          <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-166"></a>            <span class="s2">&quot;key&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;val&quot;</span><span class="p">,</span>
<a name="gbab-167"></a>          <span class="p">},</span>
<a name="gbab-168"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-169"></a>      <span class="p">})</span>
<a name="gbab-170"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-171"></a>      <span class="vi">@affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span>
<a name="gbab-172"></a>      <span class="vi">@not_affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span>
<a name="gbab-173"></a>    <span class="k">end</span>
<a name="gbab-174"></a>
<a name="gbab-175"></a>    <span class="n">should</span> <span class="s2">&quot;affect all types and paths&quot;</span> <span class="k">do</span>
<a name="gbab-176"></a>      <span class="n">assert_equal</span> <span class="vi">@affected</span><span class="o">.</span><span class="n">reject</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;val&quot;</span> <span class="p">},</span> <span class="o">[]</span>
<a name="gbab-177"></a>      <span class="n">assert_equal</span> <span class="vi">@not_affected</span><span class="o">.</span><span class="n">reject</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;val&quot;</span> <span class="p">},</span> <span class="o">[]</span>
<a name="gbab-178"></a>    <span class="k">end</span>
<a name="gbab-179"></a>  <span class="k">end</span>
<a name="gbab-180"></a>
<a name="gbab-181"></a>  <span class="n">context</span> <span class="s2">&quot;A site with front matter defaults with no scope&quot;</span> <span class="k">do</span>
<a name="gbab-182"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-183"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-184"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-185"></a>          <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-186"></a>            <span class="s2">&quot;key&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;val&quot;</span><span class="p">,</span>
<a name="gbab-187"></a>          <span class="p">},</span>
<a name="gbab-188"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-189"></a>      <span class="p">})</span>
<a name="gbab-190"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-191"></a>      <span class="vi">@affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span>
<a name="gbab-192"></a>      <span class="vi">@not_affected</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span>
<a name="gbab-193"></a>    <span class="k">end</span>
<a name="gbab-194"></a>
<a name="gbab-195"></a>    <span class="n">should</span> <span class="s2">&quot;affect all types and paths&quot;</span> <span class="k">do</span>
<a name="gbab-196"></a>      <span class="n">assert_equal</span> <span class="vi">@affected</span><span class="o">.</span><span class="n">reject</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;val&quot;</span> <span class="p">},</span> <span class="o">[]</span>
<a name="gbab-197"></a>      <span class="n">assert_equal</span> <span class="vi">@not_affected</span><span class="o">.</span><span class="n">reject</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;key&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;val&quot;</span> <span class="p">},</span> <span class="o">[]</span>
<a name="gbab-198"></a>    <span class="k">end</span>
<a name="gbab-199"></a>  <span class="k">end</span>
<a name="gbab-200"></a>
<a name="gbab-201"></a>  <span class="n">context</span> <span class="s2">&quot;A site with front matter defaults with quoted date&quot;</span> <span class="k">do</span>
<a name="gbab-202"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-203"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span>
<a name="gbab-204"></a>        <span class="s2">&quot;source&quot;</span>      <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">,</span>
<a name="gbab-205"></a>        <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span>
<a name="gbab-206"></a>        <span class="s2">&quot;defaults&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="p">{</span>
<a name="gbab-207"></a>          <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-208"></a>            <span class="s2">&quot;date&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;2015-01-01 00:00:01&quot;</span><span class="p">,</span>
<a name="gbab-209"></a>          <span class="p">},</span>
<a name="gbab-210"></a>        <span class="p">},</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-211"></a>      <span class="p">}))</span>
<a name="gbab-212"></a>    <span class="k">end</span>
<a name="gbab-213"></a>
<a name="gbab-214"></a>    <span class="n">should</span> <span class="s2">&quot;not raise error&quot;</span> <span class="k">do</span>
<a name="gbab-215"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-216"></a>    <span class="k">end</span>
<a name="gbab-217"></a>
<a name="gbab-218"></a>    <span class="n">should</span> <span class="s2">&quot;parse date&quot;</span> <span class="k">do</span>
<a name="gbab-219"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-220"></a>      <span class="n">date</span> <span class="o">=</span> <span class="no">Time</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="s2">&quot;2015-01-01 00:00:01&quot;</span><span class="p">)</span>
<a name="gbab-221"></a>      <span class="n">assert</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="n">date</span> <span class="p">})</span>
<a name="gbab-222"></a>      <span class="n">assert</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="n">date</span> <span class="p">})</span>
<a name="gbab-223"></a>    <span class="k">end</span>
<a name="gbab-224"></a>  <span class="k">end</span>
<a name="gbab-225"></a><span class="k">end</span>
</pre></div>
</td></tr></table>