<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestLiquidRenderer</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;profiler&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site_configuration</span><span class="p">)</span>
<a name="gbab-9"></a>      <span class="vi">@renderer</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">liquid_renderer</span>
<a name="gbab-10"></a>    <span class="k">end</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>    <span class="n">should</span> <span class="s2">&quot;return a table with profiling results&quot;</span> <span class="k">do</span>
<a name="gbab-13"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>      <span class="n">output</span> <span class="o">=</span> <span class="vi">@renderer</span><span class="o">.</span><span class="n">stats_table</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>      <span class="c1"># rubocop:disable Metrics/LineLength</span>
<a name="gbab-18"></a>      <span class="n">expected</span> <span class="o">=</span> <span class="o">[</span>
<a name="gbab-19"></a>        <span class="sr">%r!^Filename\s+|\s+Count\s+|\s+Bytes\s+|\s+Time$!</span><span class="p">,</span>
<a name="gbab-20"></a>        <span class="sr">%r!^-+\++-+\++-+\++-+$!</span><span class="p">,</span>
<a name="gbab-21"></a>        <span class="sr">%r!^_posts/2010-01-09-date-override\.markdown\s+|\s+\d+\s+|\s+\d+\.\d{2}K\s+|\s+\d+\.\d{3}$!</span><span class="p">,</span>
<a name="gbab-22"></a>      <span class="o">]</span>
<a name="gbab-23"></a>      <span class="c1"># rubocop:enable Metrics/LineLength</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>      <span class="n">expected</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">regexp</span><span class="o">|</span>
<a name="gbab-26"></a>        <span class="n">assert_match</span> <span class="n">regexp</span><span class="p">,</span> <span class="n">output</span>
<a name="gbab-27"></a>      <span class="k">end</span>
<a name="gbab-28"></a>    <span class="k">end</span>
<a name="gbab-29"></a>  <span class="k">end</span>
<a name="gbab-30"></a><span class="k">end</span>
</pre></div>
</td></tr></table>