<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Command</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-6"></a>      <span class="c1"># A list of subclasses of Jekyll::Command</span>
<a name="gbab-7"></a>      <span class="k">def</span> <span class="nf">subclasses</span>
<a name="gbab-8"></a>        <span class="vi">@subclasses</span> <span class="o">||=</span> <span class="o">[]</span>
<a name="gbab-9"></a>      <span class="k">end</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>      <span class="c1"># Keep a list of subclasses of Jekyll::Command every time it&#39;s inherited</span>
<a name="gbab-12"></a>      <span class="c1"># Called automatically.</span>
<a name="gbab-13"></a>      <span class="c1">#</span>
<a name="gbab-14"></a>      <span class="c1"># base - the subclass</span>
<a name="gbab-15"></a>      <span class="c1">#</span>
<a name="gbab-16"></a>      <span class="c1"># Returns nothing</span>
<a name="gbab-17"></a>      <span class="k">def</span> <span class="nf">inherited</span><span class="p">(</span><span class="n">base</span><span class="p">)</span>
<a name="gbab-18"></a>        <span class="n">subclasses</span> <span class="o">&lt;&lt;</span> <span class="n">base</span>
<a name="gbab-19"></a>        <span class="k">super</span><span class="p">(</span><span class="n">base</span><span class="p">)</span>
<a name="gbab-20"></a>      <span class="k">end</span>
<a name="gbab-21"></a>
<a name="gbab-22"></a>      <span class="c1"># Run Site#process and catch errors</span>
<a name="gbab-23"></a>    <span class="c1">#</span>
<a name="gbab-24"></a>    <span class="c1"># site - the Jekyll::Site object</span>
<a name="gbab-25"></a>    <span class="c1">#</span>
<a name="gbab-26"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-27"></a>      <span class="k">def</span> <span class="nf">process_site</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-28"></a>        <span class="n">site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-29"></a>      <span class="k">rescue</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">FatalException</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-30"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;ERROR:&quot;</span><span class="p">,</span> <span class="s2">&quot;YOUR SITE COULD NOT BE BUILT:&quot;</span>
<a name="gbab-31"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;------------------------------------&quot;</span>
<a name="gbab-32"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="n">e</span><span class="o">.</span><span class="n">message</span>
<a name="gbab-33"></a>        <span class="nb">exit</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span>
<a name="gbab-34"></a>      <span class="k">end</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>      <span class="c1"># Create a full Jekyll configuration with the options passed in as overrides</span>
<a name="gbab-37"></a>      <span class="c1">#</span>
<a name="gbab-38"></a>      <span class="c1"># options - the configuration overrides</span>
<a name="gbab-39"></a>      <span class="c1">#</span>
<a name="gbab-40"></a>      <span class="c1"># Returns a full Jekyll configuration</span>
<a name="gbab-41"></a>      <span class="k">def</span> <span class="nf">configuration_from_options</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-42"></a>        <span class="k">return</span> <span class="n">options</span> <span class="k">if</span> <span class="n">options</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Configuration</span><span class="p">)</span>
<a name="gbab-43"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-44"></a>      <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>      <span class="c1"># Add common options to a command for building configuration</span>
<a name="gbab-47"></a>      <span class="c1">#</span>
<a name="gbab-48"></a>      <span class="c1"># c - the Jekyll::Command to add these options to</span>
<a name="gbab-49"></a>      <span class="c1">#</span>
<a name="gbab-50"></a>      <span class="c1"># Returns nothing</span>
<a name="gbab-51"></a>      <span class="c1"># rubocop:disable Metrics/MethodLength</span>
<a name="gbab-52"></a>      <span class="k">def</span> <span class="nf">add_build_options</span><span class="p">(</span><span class="n">c</span><span class="p">)</span>
<a name="gbab-53"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;config&quot;</span><span class="p">,</span> <span class="s2">&quot;--config CONFIG_FILE[,CONFIG_FILE2,...]&quot;</span><span class="p">,</span>
<a name="gbab-54"></a>          <span class="nb">Array</span><span class="p">,</span> <span class="s2">&quot;Custom configuration file&quot;</span>
<a name="gbab-55"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;destination&quot;</span><span class="p">,</span> <span class="s2">&quot;-d&quot;</span><span class="p">,</span> <span class="s2">&quot;--destination DESTINATION&quot;</span><span class="p">,</span>
<a name="gbab-56"></a>          <span class="s2">&quot;The current folder will be generated into DESTINATION&quot;</span>
<a name="gbab-57"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;source&quot;</span><span class="p">,</span> <span class="s2">&quot;-s&quot;</span><span class="p">,</span> <span class="s2">&quot;--source SOURCE&quot;</span><span class="p">,</span> <span class="s2">&quot;Custom source directory&quot;</span>
<a name="gbab-58"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;future&quot;</span><span class="p">,</span> <span class="s2">&quot;--future&quot;</span><span class="p">,</span> <span class="s2">&quot;Publishes posts with a future date&quot;</span>
<a name="gbab-59"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;limit_posts&quot;</span><span class="p">,</span> <span class="s2">&quot;--limit_posts MAX_POSTS&quot;</span><span class="p">,</span> <span class="nb">Integer</span><span class="p">,</span>
<a name="gbab-60"></a>          <span class="s2">&quot;Limits the number of posts to parse and publish&quot;</span>
<a name="gbab-61"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;watch&quot;</span><span class="p">,</span> <span class="s2">&quot;-w&quot;</span><span class="p">,</span> <span class="s2">&quot;--[no-]watch&quot;</span><span class="p">,</span> <span class="s2">&quot;Watch for changes and rebuild&quot;</span>
<a name="gbab-62"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;baseurl&quot;</span><span class="p">,</span> <span class="s2">&quot;-b&quot;</span><span class="p">,</span> <span class="s2">&quot;--baseurl URL&quot;</span><span class="p">,</span>
<a name="gbab-63"></a>          <span class="s2">&quot;Serve the website from the given base URL&quot;</span>
<a name="gbab-64"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;force_polling&quot;</span><span class="p">,</span> <span class="s2">&quot;--force_polling&quot;</span><span class="p">,</span> <span class="s2">&quot;Force watch to use polling&quot;</span>
<a name="gbab-65"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;lsi&quot;</span><span class="p">,</span> <span class="s2">&quot;--lsi&quot;</span><span class="p">,</span> <span class="s2">&quot;Use LSI for improved related posts&quot;</span>
<a name="gbab-66"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;show_drafts&quot;</span><span class="p">,</span> <span class="s2">&quot;-D&quot;</span><span class="p">,</span> <span class="s2">&quot;--drafts&quot;</span><span class="p">,</span> <span class="s2">&quot;Render posts in the _drafts folder&quot;</span>
<a name="gbab-67"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;unpublished&quot;</span><span class="p">,</span> <span class="s2">&quot;--unpublished&quot;</span><span class="p">,</span>
<a name="gbab-68"></a>          <span class="s2">&quot;Render posts that were marked as unpublished&quot;</span>
<a name="gbab-69"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;quiet&quot;</span><span class="p">,</span> <span class="s2">&quot;-q&quot;</span><span class="p">,</span> <span class="s2">&quot;--quiet&quot;</span><span class="p">,</span> <span class="s2">&quot;Silence output.&quot;</span>
<a name="gbab-70"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;verbose&quot;</span><span class="p">,</span> <span class="s2">&quot;-V&quot;</span><span class="p">,</span> <span class="s2">&quot;--verbose&quot;</span><span class="p">,</span> <span class="s2">&quot;Print verbose output.&quot;</span>
<a name="gbab-71"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;incremental&quot;</span><span class="p">,</span> <span class="s2">&quot;-I&quot;</span><span class="p">,</span> <span class="s2">&quot;--incremental&quot;</span><span class="p">,</span> <span class="s2">&quot;Enable incremental rebuild.&quot;</span>
<a name="gbab-72"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;strict_front_matter&quot;</span><span class="p">,</span> <span class="s2">&quot;--strict_front_matter&quot;</span><span class="p">,</span>
<a name="gbab-73"></a>          <span class="s2">&quot;Fail if errors are present in front matter&quot;</span>
<a name="gbab-74"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s1">&#39;verbose&#39;</span><span class="p">,</span> <span class="s1">&#39;-V&#39;</span><span class="p">,</span> <span class="s1">&#39;--verbose&#39;</span><span class="p">,</span> <span class="s1">&#39;Print verbose output.&#39;</span>
<a name="gbab-75"></a>      <span class="c1"># rubocop:enable Metrics/MethodLength</span>
<a name="gbab-76"></a>      <span class="k">end</span>
<a name="gbab-77"></a>    <span class="k">end</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>    <span class="k">end</span>
<a name="gbab-80"></a>  <span class="k">end</span>
</pre></div>
</td></tr></table>