<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestLogAdapter</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="k">class</span> <span class="nc">LoggerDouble</span>
<a name="gbab-7"></a>    <span class="kp">attr_accessor</span> <span class="ss">:level</span>
<a name="gbab-8"></a>
<a name="gbab-9"></a>    <span class="k">def</span> <span class="nf">debug</span><span class="p">(</span><span class="o">*</span><span class="p">);</span> <span class="k">end</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>    <span class="k">def</span> <span class="nf">info</span><span class="p">(</span><span class="o">*</span><span class="p">);</span> <span class="k">end</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>    <span class="k">def</span> <span class="nf">warn</span><span class="p">(</span><span class="o">*</span><span class="p">);</span> <span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>    <span class="k">def</span> <span class="nf">error</span><span class="p">(</span><span class="o">*</span><span class="p">);</span> <span class="k">end</span>
<a name="gbab-16"></a>  <span class="k">end</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>  <span class="n">context</span> <span class="s2">&quot;#log_level=&quot;</span> <span class="k">do</span>
<a name="gbab-19"></a>    <span class="n">should</span> <span class="s2">&quot;set the writers logging level&quot;</span> <span class="k">do</span>
<a name="gbab-20"></a>      <span class="n">subject</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span><span class="p">)</span>
<a name="gbab-21"></a>      <span class="n">subject</span><span class="o">.</span><span class="n">log_level</span> <span class="o">=</span> <span class="ss">:error</span>
<a name="gbab-22"></a>      <span class="n">assert_equal</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">::</span><span class="no">LOG_LEVELS</span><span class="o">[</span><span class="ss">:error</span><span class="o">]</span><span class="p">,</span> <span class="n">subject</span><span class="o">.</span><span class="n">writer</span><span class="o">.</span><span class="n">level</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>  <span class="k">end</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a>  <span class="n">context</span> <span class="s2">&quot;#adjust_verbosity&quot;</span> <span class="k">do</span>
<a name="gbab-27"></a>    <span class="n">should</span> <span class="s2">&quot;set the writers logging level to error when quiet&quot;</span> <span class="k">do</span>
<a name="gbab-28"></a>      <span class="n">subject</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span><span class="p">)</span>
<a name="gbab-29"></a>      <span class="n">subject</span><span class="o">.</span><span class="n">adjust_verbosity</span><span class="p">(</span><span class="ss">:quiet</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-30"></a>      <span class="n">assert_equal</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">::</span><span class="no">LOG_LEVELS</span><span class="o">[</span><span class="ss">:error</span><span class="o">]</span><span class="p">,</span> <span class="n">subject</span><span class="o">.</span><span class="n">writer</span><span class="o">.</span><span class="n">level</span>
<a name="gbab-31"></a>    <span class="k">end</span>
<a name="gbab-32"></a>    
<a name="gbab-33"></a>    <span class="n">should</span> <span class="s2">&quot;set the writers logging level to debug when verbose&quot;</span> <span class="k">do</span>
<a name="gbab-34"></a>      <span class="n">subject</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span><span class="p">)</span>
<a name="gbab-35"></a>      <span class="n">subject</span><span class="o">.</span><span class="n">adjust_verbosity</span><span class="p">(</span><span class="ss">:verbose</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-36"></a>      <span class="n">assert_equal</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">::</span><span class="no">LOG_LEVELS</span><span class="o">[</span><span class="ss">:debug</span><span class="o">]</span><span class="p">,</span> <span class="n">subject</span><span class="o">.</span><span class="n">writer</span><span class="o">.</span><span class="n">level</span>
<a name="gbab-37"></a>    <span class="k">end</span>
<a name="gbab-38"></a>    
<a name="gbab-39"></a>    <span class="n">should</span> <span class="s2">&quot;set the writers logging level to error when quiet and verbose are both set&quot;</span> <span class="k">do</span>
<a name="gbab-40"></a>      <span class="n">subject</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span><span class="p">)</span>
<a name="gbab-41"></a>      <span class="n">subject</span><span class="o">.</span><span class="n">adjust_verbosity</span><span class="p">(</span><span class="ss">:quiet</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span> <span class="ss">:verbose</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-42"></a>      <span class="n">assert_equal</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">::</span><span class="no">LOG_LEVELS</span><span class="o">[</span><span class="ss">:error</span><span class="o">]</span><span class="p">,</span> <span class="n">subject</span><span class="o">.</span><span class="n">writer</span><span class="o">.</span><span class="n">level</span>
<a name="gbab-43"></a>    <span class="k">end</span>
<a name="gbab-44"></a>    
<a name="gbab-45"></a>    <span class="n">should</span> <span class="s2">&quot;not change the writer&#39;s logging level when neither verbose or quiet&quot;</span> <span class="k">do</span>
<a name="gbab-46"></a>      <span class="n">subject</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span><span class="p">)</span>
<a name="gbab-47"></a>      <span class="n">original_level</span> <span class="o">=</span> <span class="n">subject</span><span class="o">.</span><span class="n">writer</span><span class="o">.</span><span class="n">level</span>
<a name="gbab-48"></a>      <span class="n">refute_equal</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">::</span><span class="no">LOG_LEVELS</span><span class="o">[</span><span class="ss">:error</span><span class="o">]</span><span class="p">,</span> <span class="n">subject</span><span class="o">.</span><span class="n">writer</span><span class="o">.</span><span class="n">level</span>
<a name="gbab-49"></a>      <span class="n">refute_equal</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">::</span><span class="no">LOG_LEVELS</span><span class="o">[</span><span class="ss">:debug</span><span class="o">]</span><span class="p">,</span> <span class="n">subject</span><span class="o">.</span><span class="n">writer</span><span class="o">.</span><span class="n">level</span>
<a name="gbab-50"></a>      <span class="n">subject</span><span class="o">.</span><span class="n">adjust_verbosity</span><span class="p">(</span><span class="ss">:quiet</span> <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span> <span class="ss">:verbose</span> <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-51"></a>      <span class="n">assert_equal</span> <span class="n">original_level</span><span class="p">,</span> <span class="n">subject</span><span class="o">.</span><span class="n">writer</span><span class="o">.</span><span class="n">level</span>
<a name="gbab-52"></a>    <span class="k">end</span>
<a name="gbab-53"></a>    
<a name="gbab-54"></a>    <span class="n">should</span> <span class="s2">&quot;call #debug on writer return true&quot;</span> <span class="k">do</span>
<a name="gbab-55"></a>      <span class="n">writer</span> <span class="o">=</span> <span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-56"></a>      <span class="n">logger</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">writer</span><span class="p">,</span> <span class="ss">:debug</span><span class="p">)</span>
<a name="gbab-57"></a>      <span class="n">allow</span><span class="p">(</span><span class="n">writer</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:debug</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-58"></a>      <span class="n">assert</span> <span class="n">logger</span><span class="o">.</span><span class="n">adjust_verbosity</span>
<a name="gbab-59"></a>    <span class="k">end</span>
<a name="gbab-60"></a>  <span class="k">end</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>  <span class="n">context</span> <span class="s2">&quot;#debug&quot;</span> <span class="k">do</span>
<a name="gbab-63"></a>    <span class="n">should</span> <span class="s2">&quot;call #debug on writer return true&quot;</span> <span class="k">do</span>
<a name="gbab-64"></a>      <span class="n">writer</span> <span class="o">=</span> <span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-65"></a>      <span class="n">logger</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">writer</span><span class="p">,</span> <span class="ss">:debug</span><span class="p">)</span>
<a name="gbab-66"></a>      <span class="n">allow</span><span class="p">(</span><span class="n">writer</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:debug</span><span class="p">)</span>
<a name="gbab-67"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;topic &quot;</span><span class="o">.</span><span class="n">rjust</span><span class="p">(</span><span class="mi">20</span><span class="p">)</span> <span class="o">+</span> <span class="s2">&quot;log message&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-68"></a>      <span class="n">assert</span> <span class="n">logger</span><span class="o">.</span><span class="n">debug</span><span class="p">(</span><span class="s2">&quot;topic&quot;</span><span class="p">,</span> <span class="s2">&quot;log message&quot;</span><span class="p">)</span>
<a name="gbab-69"></a>    <span class="k">end</span>
<a name="gbab-70"></a>  <span class="k">end</span>
<a name="gbab-71"></a>
<a name="gbab-72"></a>  <span class="n">context</span> <span class="s2">&quot;#info&quot;</span> <span class="k">do</span>
<a name="gbab-73"></a>    <span class="n">should</span> <span class="s2">&quot;call #info on writer return true&quot;</span> <span class="k">do</span>
<a name="gbab-74"></a>      <span class="n">writer</span> <span class="o">=</span> <span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-75"></a>      <span class="n">logger</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">writer</span><span class="p">,</span> <span class="ss">:info</span><span class="p">)</span>
<a name="gbab-76"></a>      <span class="n">allow</span><span class="p">(</span><span class="n">writer</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:info</span><span class="p">)</span>
<a name="gbab-77"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;topic &quot;</span><span class="o">.</span><span class="n">rjust</span><span class="p">(</span><span class="mi">20</span><span class="p">)</span> <span class="o">+</span> <span class="s2">&quot;log message&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-78"></a>      <span class="n">assert</span> <span class="n">logger</span><span class="o">.</span><span class="n">info</span><span class="p">(</span><span class="s2">&quot;topic&quot;</span><span class="p">,</span> <span class="s2">&quot;log message&quot;</span><span class="p">)</span>
<a name="gbab-79"></a>    <span class="k">end</span>
<a name="gbab-80"></a>  <span class="k">end</span>
<a name="gbab-81"></a>
<a name="gbab-82"></a>  <span class="n">context</span> <span class="s2">&quot;#warn&quot;</span> <span class="k">do</span>
<a name="gbab-83"></a>    <span class="n">should</span> <span class="s2">&quot;call #warn on writer return true&quot;</span> <span class="k">do</span>
<a name="gbab-84"></a>      <span class="n">writer</span> <span class="o">=</span> <span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-85"></a>      <span class="n">logger</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">writer</span><span class="p">,</span> <span class="ss">:warn</span><span class="p">)</span>
<a name="gbab-86"></a>      <span class="n">allow</span><span class="p">(</span><span class="n">writer</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:warn</span><span class="p">)</span>
<a name="gbab-87"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;topic &quot;</span><span class="o">.</span><span class="n">rjust</span><span class="p">(</span><span class="mi">20</span><span class="p">)</span> <span class="o">+</span> <span class="s2">&quot;log message&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-88"></a>      <span class="n">assert</span> <span class="n">logger</span><span class="o">.</span><span class="n">warn</span><span class="p">(</span><span class="s2">&quot;topic&quot;</span><span class="p">,</span> <span class="s2">&quot;log message&quot;</span><span class="p">)</span>
<a name="gbab-89"></a>    <span class="k">end</span>
<a name="gbab-90"></a>  <span class="k">end</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>  <span class="n">context</span> <span class="s2">&quot;#error&quot;</span> <span class="k">do</span>
<a name="gbab-93"></a>    <span class="n">should</span> <span class="s2">&quot;call #error on writer return true&quot;</span> <span class="k">do</span>
<a name="gbab-94"></a>      <span class="n">writer</span> <span class="o">=</span> <span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-95"></a>      <span class="n">logger</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">writer</span><span class="p">,</span> <span class="ss">:error</span><span class="p">)</span>
<a name="gbab-96"></a>      <span class="n">allow</span><span class="p">(</span><span class="n">writer</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:error</span><span class="p">)</span>
<a name="gbab-97"></a>        <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;topic &quot;</span><span class="o">.</span><span class="n">rjust</span><span class="p">(</span><span class="mi">20</span><span class="p">)</span> <span class="o">+</span> <span class="s2">&quot;log message&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-98"></a>      <span class="n">assert</span> <span class="n">logger</span><span class="o">.</span><span class="n">error</span><span class="p">(</span><span class="s2">&quot;topic&quot;</span><span class="p">,</span> <span class="s2">&quot;log message&quot;</span><span class="p">)</span>
<a name="gbab-99"></a>    <span class="k">end</span>
<a name="gbab-100"></a>  <span class="k">end</span>
<a name="gbab-101"></a>
<a name="gbab-102"></a>  <span class="n">context</span> <span class="s2">&quot;#abort_with&quot;</span> <span class="k">do</span>
<a name="gbab-103"></a>    <span class="n">should</span> <span class="s2">&quot;call #error and abort&quot;</span> <span class="k">do</span>
<a name="gbab-104"></a>      <span class="n">logger</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span><span class="p">,</span> <span class="ss">:error</span><span class="p">)</span>
<a name="gbab-105"></a>      <span class="n">allow</span><span class="p">(</span><span class="n">logger</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:error</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;topic&quot;</span><span class="p">,</span> <span class="s2">&quot;log message&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-106"></a>      <span class="n">assert_raises</span><span class="p">(</span><span class="no">SystemExit</span><span class="p">)</span> <span class="p">{</span> <span class="n">logger</span><span class="o">.</span><span class="n">abort_with</span><span class="p">(</span><span class="s2">&quot;topic&quot;</span><span class="p">,</span> <span class="s2">&quot;log message&quot;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-107"></a>    <span class="k">end</span>
<a name="gbab-108"></a>  <span class="k">end</span>
<a name="gbab-109"></a>
<a name="gbab-110"></a>  <span class="n">context</span> <span class="s2">&quot;#messages&quot;</span> <span class="k">do</span>
<a name="gbab-111"></a>    <span class="n">should</span> <span class="s2">&quot;return an array&quot;</span> <span class="k">do</span>
<a name="gbab-112"></a>      <span class="n">assert_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span><span class="p">)</span><span class="o">.</span><span class="n">messages</span>
<a name="gbab-113"></a>    <span class="k">end</span>
<a name="gbab-114"></a>
<a name="gbab-115"></a>    <span class="n">should</span> <span class="s2">&quot;store each log value in the array&quot;</span> <span class="k">do</span>
<a name="gbab-116"></a>      <span class="n">logger</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span><span class="p">,</span> <span class="ss">:debug</span><span class="p">)</span>
<a name="gbab-117"></a>      <span class="n">values</span> <span class="o">=</span> <span class="sx">%w(one two three four)</span>
<a name="gbab-118"></a>      <span class="n">logger</span><span class="o">.</span><span class="n">debug</span><span class="p">(</span><span class="n">values</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-119"></a>      <span class="n">logger</span><span class="o">.</span><span class="n">info</span><span class="p">(</span><span class="n">values</span><span class="o">[</span><span class="mi">1</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-120"></a>      <span class="n">logger</span><span class="o">.</span><span class="n">warn</span><span class="p">(</span><span class="n">values</span><span class="o">[</span><span class="mi">2</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-121"></a>      <span class="n">logger</span><span class="o">.</span><span class="n">error</span><span class="p">(</span><span class="n">values</span><span class="o">[</span><span class="mi">3</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-122"></a>      <span class="n">assert_equal</span> <span class="n">values</span><span class="o">.</span><span class="n">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">value</span><span class="o">|</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">value</span><span class="si">}</span><span class="s2"> &quot;</span><span class="o">.</span><span class="n">rjust</span><span class="p">(</span><span class="mi">20</span><span class="p">)</span> <span class="p">},</span> <span class="n">logger</span><span class="o">.</span><span class="n">messages</span>
<a name="gbab-123"></a>    <span class="k">end</span>
<a name="gbab-124"></a>  <span class="k">end</span>
<a name="gbab-125"></a>
<a name="gbab-126"></a>  <span class="n">context</span> <span class="s2">&quot;#write_message?&quot;</span> <span class="k">do</span>
<a name="gbab-127"></a>    <span class="n">should</span> <span class="s2">&quot;return false up to the desired logging level&quot;</span> <span class="k">do</span>
<a name="gbab-128"></a>      <span class="n">subject</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">LogAdapter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">LoggerDouble</span><span class="o">.</span><span class="n">new</span><span class="p">,</span> <span class="ss">:warn</span><span class="p">)</span>
<a name="gbab-129"></a>      <span class="n">refute</span> <span class="n">subject</span><span class="o">.</span><span class="n">write_message?</span><span class="p">(</span><span class="ss">:debug</span><span class="p">),</span> <span class="s2">&quot;Should not print debug messages&quot;</span>
<a name="gbab-130"></a>      <span class="n">refute</span> <span class="n">subject</span><span class="o">.</span><span class="n">write_message?</span><span class="p">(</span><span class="ss">:info</span><span class="p">),</span> <span class="s2">&quot;Should not print info messages&quot;</span>
<a name="gbab-131"></a>      <span class="n">assert</span> <span class="n">subject</span><span class="o">.</span><span class="n">write_message?</span><span class="p">(</span><span class="ss">:warn</span><span class="p">),</span> <span class="s2">&quot;Should print warn messages&quot;</span>
<a name="gbab-132"></a>      <span class="n">assert</span> <span class="n">subject</span><span class="o">.</span><span class="n">write_message?</span><span class="p">(</span><span class="ss">:error</span><span class="p">),</span> <span class="s2">&quot;Should print error messages&quot;</span>
<a name="gbab-133"></a>    <span class="k">end</span>
<a name="gbab-134"></a>  <span class="k">end</span>
<a name="gbab-135"></a><span class="k">end</span>
</pre></div>
</td></tr></table>