<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestPluginManager</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="k">def</span> <span class="nf">with_no_gemfile</span>
<a name="gbab-7"></a>    <span class="no">FileUtils</span><span class="o">.</span><span class="n">mv</span> <span class="s2">&quot;Gemfile&quot;</span><span class="p">,</span> <span class="s2">&quot;Gemfile.old&quot;</span>
<a name="gbab-8"></a>    <span class="k">yield</span>
<a name="gbab-9"></a>  <span class="k">ensure</span>
<a name="gbab-10"></a>    <span class="no">FileUtils</span><span class="o">.</span><span class="n">mv</span> <span class="s2">&quot;Gemfile.old&quot;</span><span class="p">,</span> <span class="s2">&quot;Gemfile&quot;</span>
<a name="gbab-11"></a>  <span class="k">end</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>  <span class="n">context</span> <span class="s2">&quot;JEKYLL_NO_BUNDLER_REQUIRE set to `nil`&quot;</span> <span class="k">do</span>
<a name="gbab-14"></a>    <span class="n">should</span> <span class="s2">&quot;require from bundler&quot;</span> <span class="k">do</span>
<a name="gbab-15"></a>    <span class="n">with_env</span><span class="p">(</span><span class="s2">&quot;JEKYLL_NO_BUNDLER_REQUIRE&quot;</span><span class="p">,</span> <span class="kp">nil</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-16"></a>      <span class="n">assert</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">PluginManager</span><span class="o">.</span><span class="n">require_from_bundler</span><span class="p">,</span>
<a name="gbab-17"></a>             <span class="s2">&quot;require_from_bundler should return true.&quot;</span>
<a name="gbab-18"></a>      <span class="n">assert</span> <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;JEKYLL_NO_BUNDLER_REQUIRE&quot;</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;Gemfile plugins were not required.&quot;</span>
<a name="gbab-19"></a>  <span class="k">end</span>
<a name="gbab-20"></a><span class="k">end</span>
<a name="gbab-21"></a>  <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>  <span class="n">context</span> <span class="s2">&quot;JEKYLL_NO_BUNDLER_REQUIRE set to `true`&quot;</span> <span class="k">do</span>
<a name="gbab-24"></a>    <span class="n">should</span> <span class="s2">&quot;not require from bundler&quot;</span> <span class="k">do</span>
<a name="gbab-25"></a>    <span class="n">with_env</span><span class="p">(</span><span class="s2">&quot;JEKYLL_NO_BUNDLER_REQUIRE&quot;</span><span class="p">,</span> <span class="s2">&quot;true&quot;</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-26"></a>        <span class="n">refute</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">PluginManager</span><span class="o">.</span><span class="n">require_from_bundler</span><span class="p">,</span>
<a name="gbab-27"></a>                   <span class="s2">&quot;Gemfile plugins were required but shouldn&#39;t have been&quot;</span>
<a name="gbab-28"></a>      <span class="n">assert</span> <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;JEKYLL_NO_BUNDLER_REQUIRE&quot;</span><span class="o">]</span>
<a name="gbab-29"></a>    <span class="k">end</span>
<a name="gbab-30"></a>  <span class="k">end</span>
<a name="gbab-31"></a>  <span class="k">end</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>  <span class="n">context</span> <span class="s2">&quot;JEKYLL_NO_BUNDLER_REQUIRE set to `nil` and no Gemfile present&quot;</span> <span class="k">do</span>
<a name="gbab-34"></a>    <span class="n">should</span> <span class="s2">&quot;not require from bundler&quot;</span> <span class="k">do</span>
<a name="gbab-35"></a>    <span class="n">with_env</span><span class="p">(</span><span class="s2">&quot;JEKYLL_NO_BUNDLER_REQUIRE&quot;</span><span class="p">,</span> <span class="kp">nil</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-36"></a>      <span class="n">with_no_gemfile</span> <span class="k">do</span>
<a name="gbab-37"></a>          <span class="n">refute</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">PluginManager</span><span class="o">.</span><span class="n">require_from_bundler</span><span class="p">,</span>
<a name="gbab-38"></a>                     <span class="s2">&quot;Gemfile plugins were required but shouldn&#39;t have been&quot;</span>
<a name="gbab-39"></a>        <span class="n">assert_nil</span> <span class="no">ENV</span><span class="o">[</span><span class="s2">&quot;JEKYLL_NO_BUNDLER_REQUIRE&quot;</span><span class="o">]</span>
<a name="gbab-40"></a>      <span class="k">end</span>
<a name="gbab-41"></a>    <span class="k">end</span>
<a name="gbab-42"></a>  <span class="k">end</span>
<a name="gbab-43"></a><span class="k">end</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>  <span class="n">context</span> <span class="s2">&quot;require gems&quot;</span> <span class="k">do</span>
<a name="gbab-46"></a>    <span class="n">should</span> <span class="s2">&quot;invoke `require_with_graceful_fail`&quot;</span> <span class="k">do</span>
<a name="gbab-47"></a>      <span class="n">gems</span> <span class="o">=</span> <span class="sx">%w(jemojii foobar)</span>
<a name="gbab-48"></a>
<a name="gbab-49"></a>      <span class="n">expect</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="p">)</span><span class="o">.</span><span class="n">to</span><span class="p">(</span>
<a name="gbab-50"></a>        <span class="n">receive</span><span class="p">(</span><span class="ss">:require_with_graceful_fail</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="n">gems</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">nil</span><span class="p">)</span>
<a name="gbab-51"></a>      <span class="p">)</span>
<a name="gbab-52"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">double</span><span class="p">(</span><span class="ss">:gems</span> <span class="o">=&gt;</span> <span class="n">gems</span><span class="p">)</span>
<a name="gbab-53"></a>      <span class="n">plugin_manager</span> <span class="o">=</span> <span class="no">PluginManager</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-54"></a>
<a name="gbab-55"></a>      <span class="n">allow</span><span class="p">(</span><span class="n">plugin_manager</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:plugin_allowed?</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;foobar&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-56"></a>      <span class="n">allow</span><span class="p">(</span><span class="n">plugin_manager</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:plugin_allowed?</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;jemojii&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>      <span class="n">plugin_manager</span><span class="o">.</span><span class="n">require_gems</span>
<a name="gbab-59"></a>    <span class="k">end</span>
<a name="gbab-60"></a>  <span class="k">end</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>  <span class="n">context</span> <span class="s2">&quot;site is not marked as safe&quot;</span> <span class="k">do</span>
<a name="gbab-63"></a>    <span class="n">should</span> <span class="s2">&quot;allow all plugins&quot;</span> <span class="k">do</span>
<a name="gbab-64"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">double</span><span class="p">(</span><span class="ss">:safe</span> <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-65"></a>      <span class="n">plugin_manager</span> <span class="o">=</span> <span class="no">PluginManager</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-66"></a>
<a name="gbab-67"></a>      <span class="n">assert</span> <span class="n">plugin_manager</span><span class="o">.</span><span class="n">plugin_allowed?</span><span class="p">(</span><span class="s2">&quot;foobar&quot;</span><span class="p">)</span>
<a name="gbab-68"></a>    <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>    <span class="n">should</span> <span class="s2">&quot;require plugin files&quot;</span> <span class="k">do</span>
<a name="gbab-71"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">double</span><span class="p">({</span> <span class="ss">:safe</span>          <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-72"></a>                      <span class="ss">:config</span>        <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;plugins_dir&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;_plugins&quot;</span> <span class="p">},</span>
<a name="gbab-73"></a>                      <span class="ss">:in_source_dir</span> <span class="o">=&gt;</span> <span class="s2">&quot;/tmp/&quot;</span><span class="p">,</span> <span class="p">})</span>
<a name="gbab-74"></a>      <span class="n">plugin_manager</span> <span class="o">=</span> <span class="no">PluginManager</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-75"></a>
<a name="gbab-76"></a>      <span class="n">expect</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:require_with_graceful_fail</span><span class="p">)</span>
<a name="gbab-77"></a>      <span class="n">plugin_manager</span><span class="o">.</span><span class="n">require_plugin_files</span>
<a name="gbab-78"></a>    <span class="k">end</span>
<a name="gbab-79"></a>  <span class="k">end</span>
<a name="gbab-80"></a>
<a name="gbab-81"></a>  <span class="n">context</span> <span class="s2">&quot;site is marked as safe&quot;</span> <span class="k">do</span>
<a name="gbab-82"></a>    <span class="n">should</span> <span class="s2">&quot;allow plugins if they are whitelisted&quot;</span> <span class="k">do</span>
<a name="gbab-83"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">double</span><span class="p">({</span> <span class="ss">:safe</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span> <span class="ss">:config</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;whitelist&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;jemoji&quot;</span><span class="o">]</span> <span class="p">}</span> <span class="p">})</span>
<a name="gbab-84"></a>      <span class="n">plugin_manager</span> <span class="o">=</span> <span class="no">PluginManager</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-85"></a>
<a name="gbab-86"></a>      <span class="n">assert</span> <span class="n">plugin_manager</span><span class="o">.</span><span class="n">plugin_allowed?</span><span class="p">(</span><span class="s2">&quot;jemoji&quot;</span><span class="p">)</span>
<a name="gbab-87"></a>      <span class="n">assert</span> <span class="o">!</span><span class="n">plugin_manager</span><span class="o">.</span><span class="n">plugin_allowed?</span><span class="p">(</span><span class="s2">&quot;not_allowed_plugin&quot;</span><span class="p">)</span>
<a name="gbab-88"></a>    <span class="k">end</span>
<a name="gbab-89"></a>
<a name="gbab-90"></a>    <span class="n">should</span> <span class="s2">&quot;not require plugin files&quot;</span> <span class="k">do</span>
<a name="gbab-91"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">double</span><span class="p">({</span> <span class="ss">:safe</span> <span class="o">=&gt;</span> <span class="kp">true</span> <span class="p">})</span>
<a name="gbab-92"></a>      <span class="n">plugin_manager</span> <span class="o">=</span> <span class="no">PluginManager</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-93"></a>
<a name="gbab-94"></a>      <span class="n">expect</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="p">)</span><span class="o">.</span><span class="n">to_not</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:require_with_graceful_fail</span><span class="p">)</span>
<a name="gbab-95"></a>      <span class="n">plugin_manager</span><span class="o">.</span><span class="n">require_plugin_files</span>
<a name="gbab-96"></a>    <span class="k">end</span>
<a name="gbab-97"></a>  <span class="k">end</span>
<a name="gbab-98"></a>
<a name="gbab-99"></a>  <span class="n">context</span> <span class="s2">&quot;plugins_dir is set to the default&quot;</span> <span class="k">do</span>
<a name="gbab-100"></a>    <span class="n">should</span> <span class="s2">&quot;call site&#39;s in_source_dir&quot;</span> <span class="k">do</span>
<a name="gbab-101"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">double</span><span class="p">({</span>
<a name="gbab-102"></a>        <span class="ss">:config</span>        <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-103"></a>          <span class="s2">&quot;plugins_dir&quot;</span> <span class="o">=&gt;</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Configuration</span><span class="o">::</span><span class="no">DEFAULTS</span><span class="o">[</span><span class="s2">&quot;plugins_dir&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-104"></a>        <span class="p">},</span>
<a name="gbab-105"></a>        <span class="ss">:in_source_dir</span> <span class="o">=&gt;</span> <span class="s2">&quot;/tmp/&quot;</span><span class="p">,</span>
<a name="gbab-106"></a>      <span class="p">})</span>
<a name="gbab-107"></a>      <span class="n">plugin_manager</span> <span class="o">=</span> <span class="no">PluginManager</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-108"></a>
<a name="gbab-109"></a>      <span class="n">expect</span><span class="p">(</span><span class="n">site</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:in_source_dir</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;_plugins&quot;</span><span class="p">)</span>
<a name="gbab-110"></a>      <span class="n">plugin_manager</span><span class="o">.</span><span class="n">plugins_path</span>
<a name="gbab-111"></a>    <span class="k">end</span>
<a name="gbab-112"></a>  <span class="k">end</span>
<a name="gbab-113"></a>
<a name="gbab-114"></a>  <span class="n">context</span> <span class="s2">&quot;plugins_dir is set to a different dir&quot;</span> <span class="k">do</span>
<a name="gbab-115"></a>    <span class="n">should</span> <span class="s2">&quot;expand plugin path&quot;</span> <span class="k">do</span>
<a name="gbab-116"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">double</span><span class="p">({</span> <span class="ss">:config</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;plugins_dir&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;some_other_plugins_path&quot;</span> <span class="p">}</span> <span class="p">})</span>
<a name="gbab-117"></a>      <span class="n">plugin_manager</span> <span class="o">=</span> <span class="no">PluginManager</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-118"></a>
<a name="gbab-119"></a>      <span class="n">expect</span><span class="p">(</span><span class="no">File</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:expand_path</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;some_other_plugins_path&quot;</span><span class="p">)</span>
<a name="gbab-120"></a>      <span class="n">plugin_manager</span><span class="o">.</span><span class="n">plugins_path</span>
<a name="gbab-121"></a>    <span class="k">end</span>
<a name="gbab-122"></a>  <span class="k">end</span>
<a name="gbab-123"></a>
<a name="gbab-124"></a>  <span class="n">context</span> <span class="s2">&quot;`paginate` config is activated&quot;</span> <span class="k">do</span>
<a name="gbab-125"></a>    <span class="n">should</span> <span class="s2">&quot;print deprecation warning if jekyll-paginate is not present&quot;</span> <span class="k">do</span>
<a name="gbab-126"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">double</span><span class="p">({</span> <span class="ss">:config</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;paginate&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span> <span class="p">}</span> <span class="p">})</span>
<a name="gbab-127"></a>      <span class="n">plugin_manager</span> <span class="o">=</span> <span class="no">PluginManager</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-128"></a>
<a name="gbab-129"></a>      <span class="n">expect</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="p">)</span><span class="o">.</span><span class="n">to</span><span class="p">(</span>
<a name="gbab-130"></a>        <span class="n">receive</span><span class="p">(</span><span class="ss">:deprecation_message</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="sr">%r!jekyll-paginate!</span><span class="p">)</span>
<a name="gbab-131"></a>      <span class="p">)</span>
<a name="gbab-132"></a>      <span class="n">plugin_manager</span><span class="o">.</span><span class="n">deprecation_checks</span>
<a name="gbab-133"></a>    <span class="k">end</span>
<a name="gbab-134"></a>
<a name="gbab-135"></a>    <span class="n">should</span> <span class="s2">&quot;print no deprecation warning if jekyll-paginate is present&quot;</span> <span class="k">do</span>
<a name="gbab-136"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">double</span><span class="p">({</span>
<a name="gbab-137"></a>        <span class="ss">:config</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;paginate&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span> <span class="s2">&quot;plugins&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;jekyll-paginate&quot;</span><span class="o">]</span> <span class="p">},</span>
<a name="gbab-138"></a>      <span class="p">})</span>
<a name="gbab-139"></a>      <span class="n">plugin_manager</span> <span class="o">=</span> <span class="no">PluginManager</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-140"></a>
<a name="gbab-141"></a>      <span class="n">expect</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="p">)</span><span class="o">.</span><span class="n">to_not</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:deprecation_message</span><span class="p">)</span>
<a name="gbab-142"></a>      <span class="n">plugin_manager</span><span class="o">.</span><span class="n">deprecation_checks</span>
<a name="gbab-143"></a>    <span class="k">end</span>
<a name="gbab-144"></a>  <span class="k">end</span>
<a name="gbab-145"></a>
<a name="gbab-146"></a>  <span class="n">should</span> <span class="s2">&quot;conscientious require&quot;</span> <span class="k">do</span>
<a name="gbab-147"></a>    <span class="n">site</span> <span class="o">=</span> <span class="n">double</span><span class="p">({</span>
<a name="gbab-148"></a>      <span class="ss">:config</span>      <span class="o">=&gt;</span> <span class="p">{</span> <span class="s2">&quot;theme&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;test-dependency-theme&quot;</span> <span class="p">},</span>
<a name="gbab-149"></a>      <span class="ss">:in_dest_dir</span> <span class="o">=&gt;</span> <span class="s2">&quot;/tmp/_site/&quot;</span><span class="p">,</span>
<a name="gbab-150"></a>    <span class="p">})</span>
<a name="gbab-151"></a>    <span class="n">plugin_manager</span> <span class="o">=</span> <span class="no">PluginManager</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-152"></a>
<a name="gbab-153"></a>    <span class="n">expect</span><span class="p">(</span><span class="n">site</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:theme</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-154"></a>    <span class="n">expect</span><span class="p">(</span><span class="n">site</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:process</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="kp">true</span><span class="p">)</span>
<a name="gbab-155"></a>    <span class="n">expect</span><span class="p">(</span><span class="n">plugin_manager</span><span class="p">)</span><span class="o">.</span><span class="n">to</span><span class="p">(</span>
<a name="gbab-156"></a>      <span class="n">receive_messages</span><span class="p">(</span><span class="o">[</span>
<a name="gbab-157"></a>        <span class="ss">:require_theme_deps</span><span class="p">,</span>
<a name="gbab-158"></a>        <span class="ss">:require_plugin_files</span><span class="p">,</span>
<a name="gbab-159"></a>        <span class="ss">:require_gems</span><span class="p">,</span>
<a name="gbab-160"></a>        <span class="ss">:deprecation_checks</span><span class="p">,</span>
<a name="gbab-161"></a>      <span class="o">]</span><span class="p">)</span>
<a name="gbab-162"></a>    <span class="p">)</span>
<a name="gbab-163"></a>    <span class="n">plugin_manager</span><span class="o">.</span><span class="n">conscientious_require</span>
<a name="gbab-164"></a>    <span class="n">site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-165"></a>    <span class="n">assert</span> <span class="n">site</span><span class="o">.</span><span class="n">in_dest_dir</span><span class="p">(</span><span class="s2">&quot;test.txt&quot;</span><span class="p">)</span>
<a name="gbab-166"></a>  <span class="k">end</span>
<a name="gbab-167"></a><span class="k">end</span>
</pre></div>
</td></tr></table>