<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestPageWithoutAFile</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="k">def</span> <span class="nf">setup_page</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="ss">base</span><span class="p">:</span> <span class="n">source_dir</span><span class="p">,</span> <span class="ss">klass</span><span class="p">:</span> <span class="no">PageWithoutAFile</span><span class="p">)</span>
<a name="gbab-7"></a>    <span class="n">dir</span><span class="p">,</span> <span class="n">file</span> <span class="o">=</span> <span class="n">args</span>
<a name="gbab-8"></a>    <span class="k">if</span> <span class="n">file</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-9"></a>      <span class="n">file</span> <span class="o">=</span> <span class="n">dir</span>
<a name="gbab-10"></a>      <span class="n">dir</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-11"></a>    <span class="k">end</span>
<a name="gbab-12"></a>    <span class="n">klass</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">,</span> <span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="n">file</span><span class="p">)</span>
<a name="gbab-13"></a>  <span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>  <span class="k">def</span> <span class="nf">render_and_write</span>
<a name="gbab-16"></a>    <span class="vi">@site</span><span class="o">.</span><span class="n">render</span>
<a name="gbab-17"></a>    <span class="vi">@site</span><span class="o">.</span><span class="n">cleanup</span>
<a name="gbab-18"></a>    <span class="vi">@site</span><span class="o">.</span><span class="n">write</span>
<a name="gbab-19"></a>  <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>  <span class="n">context</span> <span class="s2">&quot;A PageWithoutAFile&quot;</span> <span class="k">do</span>
<a name="gbab-22"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-23"></a>      <span class="n">clear_dest</span>
<a name="gbab-24"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span>
<a name="gbab-25"></a>        <span class="s2">&quot;source&quot;</span>            <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">,</span>
<a name="gbab-26"></a>        <span class="s2">&quot;destination&quot;</span>       <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span>
<a name="gbab-27"></a>        <span class="s2">&quot;skip_config_files&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-28"></a>      <span class="p">}))</span>
<a name="gbab-29"></a>    <span class="k">end</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a>    <span class="n">context</span> <span class="s2">&quot;with default site configuration&quot;</span> <span class="k">do</span>
<a name="gbab-32"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-33"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;properties.html&quot;</span><span class="p">)</span>
<a name="gbab-34"></a>      <span class="k">end</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>      <span class="n">should</span> <span class="s2">&quot;not have page-content and page-data defined within it&quot;</span> <span class="k">do</span>
<a name="gbab-37"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;pages&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">type</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-38"></a>        <span class="n">assert_nil</span> <span class="vi">@page</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-39"></a>        <span class="n">assert_empty</span> <span class="vi">@page</span><span class="o">.</span><span class="n">data</span>
<a name="gbab-40"></a>      <span class="k">end</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>      <span class="n">should</span> <span class="s2">&quot;have basic attributes defined in it&quot;</span> <span class="k">do</span>
<a name="gbab-43"></a>        <span class="n">regular_page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;properties.html&quot;</span><span class="p">,</span> <span class="ss">:klass</span> <span class="o">=&gt;</span> <span class="no">Page</span><span class="p">)</span>
<a name="gbab-44"></a>        <span class="n">basic_attrs</span> <span class="o">=</span> <span class="sx">%w(dir name path url)</span>
<a name="gbab-45"></a>        <span class="n">attrs</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-46"></a>          <span class="s2">&quot;content&quot;</span>   <span class="o">=&gt;</span> <span class="s2">&quot;All the properties.</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">,</span>
<a name="gbab-47"></a>          <span class="s2">&quot;dir&quot;</span>       <span class="o">=&gt;</span> <span class="s2">&quot;/&quot;</span><span class="p">,</span>
<a name="gbab-48"></a>          <span class="s2">&quot;excerpt&quot;</span>   <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span>
<a name="gbab-49"></a>          <span class="s2">&quot;foo&quot;</span>       <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span>
<a name="gbab-50"></a>          <span class="s2">&quot;layout&quot;</span>    <span class="o">=&gt;</span> <span class="s2">&quot;default&quot;</span><span class="p">,</span>
<a name="gbab-51"></a>          <span class="s2">&quot;name&quot;</span>      <span class="o">=&gt;</span> <span class="s2">&quot;properties.html&quot;</span><span class="p">,</span>
<a name="gbab-52"></a>          <span class="s2">&quot;path&quot;</span>      <span class="o">=&gt;</span> <span class="s2">&quot;properties.html&quot;</span><span class="p">,</span>
<a name="gbab-53"></a>          <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/properties/&quot;</span><span class="p">,</span>
<a name="gbab-54"></a>          <span class="s2">&quot;published&quot;</span> <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span>
<a name="gbab-55"></a>          <span class="s2">&quot;title&quot;</span>     <span class="o">=&gt;</span> <span class="s2">&quot;Properties Page&quot;</span><span class="p">,</span>
<a name="gbab-56"></a>          <span class="s2">&quot;url&quot;</span>       <span class="o">=&gt;</span> <span class="s2">&quot;/properties.html&quot;</span><span class="p">,</span>
<a name="gbab-57"></a>        <span class="p">}</span>
<a name="gbab-58"></a>        <span class="n">attrs</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">prop</span><span class="p">,</span> <span class="n">value</span><span class="o">|</span>
<a name="gbab-59"></a>          <span class="c1"># assert the props being accessible in a Jekyll::Page instance</span>
<a name="gbab-60"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;All the properties.</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">,</span> <span class="n">regular_page</span><span class="o">[</span><span class="s2">&quot;content&quot;</span><span class="o">]</span>
<a name="gbab-61"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;properties.html&quot;</span><span class="p">,</span> <span class="n">regular_page</span><span class="o">[</span><span class="s2">&quot;name&quot;</span><span class="o">]</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>          <span class="c1"># assert differences with Jekyll::PageWithoutAFile instance</span>
<a name="gbab-64"></a>          <span class="k">if</span> <span class="n">basic_attrs</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">prop</span><span class="p">)</span>
<a name="gbab-65"></a>            <span class="n">assert_equal</span> <span class="vi">@page</span><span class="o">[</span><span class="n">prop</span><span class="o">]</span><span class="p">,</span> <span class="n">value</span><span class="p">,</span> <span class="s2">&quot;For &lt;page[</span><span class="se">\&quot;</span><span class="si">#{</span><span class="n">prop</span><span class="si">}</span><span class="se">\&quot;</span><span class="s2">]&gt;:&quot;</span>
<a name="gbab-66"></a>          <span class="k">else</span>
<a name="gbab-67"></a>            <span class="n">assert_nil</span> <span class="vi">@page</span><span class="o">[</span><span class="n">prop</span><span class="o">]</span>
<a name="gbab-68"></a>          <span class="k">end</span>
<a name="gbab-69"></a>        <span class="k">end</span>
<a name="gbab-70"></a>      <span class="k">end</span>
<a name="gbab-71"></a>    <span class="k">end</span>
<a name="gbab-72"></a>
<a name="gbab-73"></a>    <span class="n">context</span> <span class="s2">&quot;with site-wide permalink configuration&quot;</span> <span class="k">do</span>
<a name="gbab-74"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-75"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:title</span>
<a name="gbab-76"></a>      <span class="k">end</span>
<a name="gbab-77"></a>
<a name="gbab-78"></a>      <span class="n">should</span> <span class="s2">&quot;generate page url accordingly&quot;</span> <span class="k">do</span>
<a name="gbab-79"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;properties.html&quot;</span><span class="p">)</span>
<a name="gbab-80"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;/properties&quot;</span><span class="p">,</span> <span class="n">page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-81"></a>      <span class="k">end</span>
<a name="gbab-82"></a>    <span class="k">end</span>
<a name="gbab-83"></a>
<a name="gbab-84"></a>    <span class="n">context</span> <span class="s2">&quot;with default front matter configuration&quot;</span> <span class="k">do</span>
<a name="gbab-85"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-86"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;defaults&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="o">[</span>
<a name="gbab-87"></a>          <span class="p">{</span>
<a name="gbab-88"></a>            <span class="s2">&quot;scope&quot;</span>  <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-89"></a>              <span class="s2">&quot;path&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-90"></a>              <span class="s2">&quot;type&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;pages&quot;</span><span class="p">,</span>
<a name="gbab-91"></a>            <span class="p">},</span>
<a name="gbab-92"></a>            <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-93"></a>              <span class="s2">&quot;layout&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;default&quot;</span><span class="p">,</span>
<a name="gbab-94"></a>              <span class="s2">&quot;author&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;John Doe&quot;</span><span class="p">,</span>
<a name="gbab-95"></a>            <span class="p">},</span>
<a name="gbab-96"></a>          <span class="p">},</span>
<a name="gbab-97"></a>        <span class="o">]</span>
<a name="gbab-98"></a>
<a name="gbab-99"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;info.md&quot;</span><span class="p">)</span>
<a name="gbab-100"></a>      <span class="k">end</span>
<a name="gbab-101"></a>
<a name="gbab-102"></a>      <span class="n">should</span> <span class="s2">&quot;respect front matter defaults&quot;</span> <span class="k">do</span>
<a name="gbab-103"></a>        <span class="n">assert_nil</span> <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-104"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;John Doe&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;author&quot;</span><span class="o">]</span>
<a name="gbab-105"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;default&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>
<a name="gbab-106"></a>      <span class="k">end</span>
<a name="gbab-107"></a>    <span class="k">end</span>
<a name="gbab-108"></a>
<a name="gbab-109"></a>    <span class="n">context</span> <span class="s2">&quot;with a path outside site.source&quot;</span> <span class="k">do</span>
<a name="gbab-110"></a>      <span class="n">should</span> <span class="s2">&quot;not access its contents&quot;</span> <span class="k">do</span>
<a name="gbab-111"></a>        <span class="n">base</span> <span class="o">=</span> <span class="s2">&quot;../../../&quot;</span>
<a name="gbab-112"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;pwd&quot;</span><span class="p">,</span> <span class="ss">:base</span> <span class="o">=&gt;</span> <span class="n">base</span><span class="p">)</span>
<a name="gbab-113"></a>
<a name="gbab-114"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;pwd&quot;</span><span class="p">,</span> <span class="n">page</span><span class="o">.</span><span class="n">path</span>
<a name="gbab-115"></a>        <span class="n">assert_nil</span> <span class="n">page</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-116"></a>      <span class="k">end</span>
<a name="gbab-117"></a>    <span class="k">end</span>
<a name="gbab-118"></a>
<a name="gbab-119"></a>    <span class="n">context</span> <span class="s2">&quot;while processing&quot;</span> <span class="k">do</span>
<a name="gbab-120"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-121"></a>        <span class="n">clear_dest</span>
<a name="gbab-122"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;Test Site&quot;</span>
<a name="gbab-123"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;physical.html&quot;</span><span class="p">,</span> <span class="ss">:base</span> <span class="o">=&gt;</span> <span class="n">test_dir</span><span class="p">(</span><span class="s2">&quot;fixtures&quot;</span><span class="p">))</span>
<a name="gbab-124"></a>      <span class="k">end</span>
<a name="gbab-125"></a>
<a name="gbab-126"></a>      <span class="n">should</span> <span class="s2">&quot;receive content provided to it&quot;</span> <span class="k">do</span>
<a name="gbab-127"></a>        <span class="n">assert_nil</span> <span class="vi">@page</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-128"></a>
<a name="gbab-129"></a>        <span class="vi">@page</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="s2">&quot;{{ site.title }}&quot;</span>
<a name="gbab-130"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;{{ site.title }}&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-131"></a>      <span class="k">end</span>
<a name="gbab-132"></a>
<a name="gbab-133"></a>      <span class="n">should</span> <span class="s2">&quot;not be processed and written to disk at destination&quot;</span> <span class="k">do</span>
<a name="gbab-134"></a>        <span class="vi">@page</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="s2">&quot;Lorem ipsum dolor sit amet&quot;</span>
<a name="gbab-135"></a>        <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;permalink&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;/virtual-about/&quot;</span>
<a name="gbab-136"></a>
<a name="gbab-137"></a>        <span class="n">render_and_write</span>
<a name="gbab-138"></a>
<a name="gbab-139"></a>        <span class="n">refute_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;physical&quot;</span><span class="p">)</span>
<a name="gbab-140"></a>        <span class="n">refute_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;virtual-about&quot;</span><span class="p">)</span>
<a name="gbab-141"></a>        <span class="n">refute</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;virtual-about&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-142"></a>      <span class="k">end</span>
<a name="gbab-143"></a>
<a name="gbab-144"></a>      <span class="n">should</span> <span class="s2">&quot;be processed and written to destination when passed as &quot;</span><span class="p">\</span>
<a name="gbab-145"></a>        <span class="s2">&quot;an entry in &#39;site.pages&#39; array&quot;</span> <span class="k">do</span>
<a name="gbab-146"></a>        <span class="vi">@page</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="s2">&quot;{{ site.title }}&quot;</span>
<a name="gbab-147"></a>        <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;permalink&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;/virtual-about/&quot;</span>
<a name="gbab-148"></a>
<a name="gbab-149"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span> <span class="o">&lt;&lt;</span> <span class="vi">@page</span>
<a name="gbab-150"></a>        <span class="n">render_and_write</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a>        <span class="n">refute_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;physical&quot;</span><span class="p">)</span>
<a name="gbab-153"></a>        <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;virtual-about&quot;</span><span class="p">)</span>
<a name="gbab-154"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;virtual-about&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-155"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;Test Site&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;virtual-about&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-156"></a>      <span class="k">end</span>
<a name="gbab-157"></a>    <span class="k">end</span>
<a name="gbab-158"></a>  <span class="k">end</span>
<a name="gbab-159"></a><span class="k">end</span>
<a name="gbab-160"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-161"></a>
<a name="gbab-162"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-163"></a>
<a name="gbab-164"></a><span class="k">class</span> <span class="nc">TestPageWithoutAFile</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-165"></a>  <span class="k">def</span> <span class="nf">setup_page</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="ss">base</span><span class="p">:</span> <span class="n">source_dir</span><span class="p">,</span> <span class="ss">klass</span><span class="p">:</span> <span class="no">PageWithoutAFile</span><span class="p">)</span>
<a name="gbab-166"></a>    <span class="n">dir</span><span class="p">,</span> <span class="n">file</span> <span class="o">=</span> <span class="n">args</span>
<a name="gbab-167"></a>    <span class="k">if</span> <span class="n">file</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-168"></a>      <span class="n">file</span> <span class="o">=</span> <span class="n">dir</span>
<a name="gbab-169"></a>      <span class="n">dir</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-170"></a>    <span class="k">end</span>
<a name="gbab-171"></a>    <span class="n">klass</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">,</span> <span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="n">file</span><span class="p">)</span>
<a name="gbab-172"></a>  <span class="k">end</span>
<a name="gbab-173"></a>
<a name="gbab-174"></a>  <span class="k">def</span> <span class="nf">render_and_write</span>
<a name="gbab-175"></a>    <span class="vi">@site</span><span class="o">.</span><span class="n">render</span>
<a name="gbab-176"></a>    <span class="vi">@site</span><span class="o">.</span><span class="n">cleanup</span>
<a name="gbab-177"></a>    <span class="vi">@site</span><span class="o">.</span><span class="n">write</span>
<a name="gbab-178"></a>  <span class="k">end</span>
<a name="gbab-179"></a>
<a name="gbab-180"></a>  <span class="n">context</span> <span class="s2">&quot;A PageWithoutAFile&quot;</span> <span class="k">do</span>
<a name="gbab-181"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-182"></a>      <span class="n">clear_dest</span>
<a name="gbab-183"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span>
<a name="gbab-184"></a>        <span class="s2">&quot;source&quot;</span>            <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">,</span>
<a name="gbab-185"></a>        <span class="s2">&quot;destination&quot;</span>       <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span>
<a name="gbab-186"></a>        <span class="s2">&quot;skip_config_files&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-187"></a>      <span class="p">}))</span>
<a name="gbab-188"></a>    <span class="k">end</span>
<a name="gbab-189"></a>
<a name="gbab-190"></a>    <span class="n">context</span> <span class="s2">&quot;with default site configuration&quot;</span> <span class="k">do</span>
<a name="gbab-191"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-192"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;properties.html&quot;</span><span class="p">)</span>
<a name="gbab-193"></a>      <span class="k">end</span>
<a name="gbab-194"></a>
<a name="gbab-195"></a>      <span class="n">should</span> <span class="s2">&quot;not have page-content and page-data defined within it&quot;</span> <span class="k">do</span>
<a name="gbab-196"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;pages&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">type</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-197"></a>        <span class="n">assert_nil</span> <span class="vi">@page</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-198"></a>        <span class="n">assert_empty</span> <span class="vi">@page</span><span class="o">.</span><span class="n">data</span>
<a name="gbab-199"></a>      <span class="k">end</span>
<a name="gbab-200"></a>
<a name="gbab-201"></a>      <span class="n">should</span> <span class="s2">&quot;have basic attributes defined in it&quot;</span> <span class="k">do</span>
<a name="gbab-202"></a>        <span class="n">regular_page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;properties.html&quot;</span><span class="p">,</span> <span class="ss">:klass</span> <span class="o">=&gt;</span> <span class="no">Page</span><span class="p">)</span>
<a name="gbab-203"></a>        <span class="n">basic_attrs</span> <span class="o">=</span> <span class="sx">%w(dir name path url)</span>
<a name="gbab-204"></a>        <span class="n">attrs</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-205"></a>          <span class="s2">&quot;content&quot;</span>   <span class="o">=&gt;</span> <span class="s2">&quot;All the properties.</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">,</span>
<a name="gbab-206"></a>          <span class="s2">&quot;dir&quot;</span>       <span class="o">=&gt;</span> <span class="s2">&quot;/&quot;</span><span class="p">,</span>
<a name="gbab-207"></a>          <span class="s2">&quot;excerpt&quot;</span>   <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span>
<a name="gbab-208"></a>          <span class="s2">&quot;foo&quot;</span>       <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span><span class="p">,</span>
<a name="gbab-209"></a>          <span class="s2">&quot;layout&quot;</span>    <span class="o">=&gt;</span> <span class="s2">&quot;default&quot;</span><span class="p">,</span>
<a name="gbab-210"></a>          <span class="s2">&quot;name&quot;</span>      <span class="o">=&gt;</span> <span class="s2">&quot;properties.html&quot;</span><span class="p">,</span>
<a name="gbab-211"></a>          <span class="s2">&quot;path&quot;</span>      <span class="o">=&gt;</span> <span class="s2">&quot;properties.html&quot;</span><span class="p">,</span>
<a name="gbab-212"></a>          <span class="s2">&quot;permalink&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;/properties/&quot;</span><span class="p">,</span>
<a name="gbab-213"></a>          <span class="s2">&quot;published&quot;</span> <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span>
<a name="gbab-214"></a>          <span class="s2">&quot;title&quot;</span>     <span class="o">=&gt;</span> <span class="s2">&quot;Properties Page&quot;</span><span class="p">,</span>
<a name="gbab-215"></a>          <span class="s2">&quot;url&quot;</span>       <span class="o">=&gt;</span> <span class="s2">&quot;/properties.html&quot;</span><span class="p">,</span>
<a name="gbab-216"></a>        <span class="p">}</span>
<a name="gbab-217"></a>        <span class="n">attrs</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">prop</span><span class="p">,</span> <span class="n">value</span><span class="o">|</span>
<a name="gbab-218"></a>          <span class="c1"># assert the props being accessible in a Jekyll::Page instance</span>
<a name="gbab-219"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;All the properties.</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">,</span> <span class="n">regular_page</span><span class="o">[</span><span class="s2">&quot;content&quot;</span><span class="o">]</span>
<a name="gbab-220"></a>          <span class="n">assert_equal</span> <span class="s2">&quot;properties.html&quot;</span><span class="p">,</span> <span class="n">regular_page</span><span class="o">[</span><span class="s2">&quot;name&quot;</span><span class="o">]</span>
<a name="gbab-221"></a>
<a name="gbab-222"></a>          <span class="c1"># assert differences with Jekyll::PageWithoutAFile instance</span>
<a name="gbab-223"></a>          <span class="k">if</span> <span class="n">basic_attrs</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">prop</span><span class="p">)</span>
<a name="gbab-224"></a>            <span class="n">assert_equal</span> <span class="vi">@page</span><span class="o">[</span><span class="n">prop</span><span class="o">]</span><span class="p">,</span> <span class="n">value</span><span class="p">,</span> <span class="s2">&quot;For &lt;page[</span><span class="se">\&quot;</span><span class="si">#{</span><span class="n">prop</span><span class="si">}</span><span class="se">\&quot;</span><span class="s2">]&gt;:&quot;</span>
<a name="gbab-225"></a>          <span class="k">else</span>
<a name="gbab-226"></a>            <span class="n">assert_nil</span> <span class="vi">@page</span><span class="o">[</span><span class="n">prop</span><span class="o">]</span>
<a name="gbab-227"></a>          <span class="k">end</span>
<a name="gbab-228"></a>        <span class="k">end</span>
<a name="gbab-229"></a>      <span class="k">end</span>
<a name="gbab-230"></a>    <span class="k">end</span>
<a name="gbab-231"></a>
<a name="gbab-232"></a>    <span class="n">context</span> <span class="s2">&quot;with site-wide permalink configuration&quot;</span> <span class="k">do</span>
<a name="gbab-233"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-234"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">=</span> <span class="ss">:title</span>
<a name="gbab-235"></a>      <span class="k">end</span>
<a name="gbab-236"></a>
<a name="gbab-237"></a>      <span class="n">should</span> <span class="s2">&quot;generate page url accordingly&quot;</span> <span class="k">do</span>
<a name="gbab-238"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;properties.html&quot;</span><span class="p">)</span>
<a name="gbab-239"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;/properties&quot;</span><span class="p">,</span> <span class="n">page</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-240"></a>      <span class="k">end</span>
<a name="gbab-241"></a>    <span class="k">end</span>
<a name="gbab-242"></a>
<a name="gbab-243"></a>    <span class="n">context</span> <span class="s2">&quot;with default front matter configuration&quot;</span> <span class="k">do</span>
<a name="gbab-244"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-245"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;defaults&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="o">[</span>
<a name="gbab-246"></a>          <span class="p">{</span>
<a name="gbab-247"></a>            <span class="s2">&quot;scope&quot;</span>  <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-248"></a>              <span class="s2">&quot;path&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-249"></a>              <span class="s2">&quot;type&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;pages&quot;</span><span class="p">,</span>
<a name="gbab-250"></a>            <span class="p">},</span>
<a name="gbab-251"></a>            <span class="s2">&quot;values&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-252"></a>              <span class="s2">&quot;layout&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;default&quot;</span><span class="p">,</span>
<a name="gbab-253"></a>              <span class="s2">&quot;author&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;John Doe&quot;</span><span class="p">,</span>
<a name="gbab-254"></a>            <span class="p">},</span>
<a name="gbab-255"></a>          <span class="p">},</span>
<a name="gbab-256"></a>        <span class="o">]</span>
<a name="gbab-257"></a>
<a name="gbab-258"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;info.md&quot;</span><span class="p">)</span>
<a name="gbab-259"></a>      <span class="k">end</span>
<a name="gbab-260"></a>
<a name="gbab-261"></a>      <span class="n">should</span> <span class="s2">&quot;respect front matter defaults&quot;</span> <span class="k">do</span>
<a name="gbab-262"></a>        <span class="n">assert_nil</span> <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span>
<a name="gbab-263"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;John Doe&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;author&quot;</span><span class="o">]</span>
<a name="gbab-264"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;default&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>
<a name="gbab-265"></a>      <span class="k">end</span>
<a name="gbab-266"></a>    <span class="k">end</span>
<a name="gbab-267"></a>
<a name="gbab-268"></a>    <span class="n">context</span> <span class="s2">&quot;with a path outside site.source&quot;</span> <span class="k">do</span>
<a name="gbab-269"></a>      <span class="n">should</span> <span class="s2">&quot;not access its contents&quot;</span> <span class="k">do</span>
<a name="gbab-270"></a>        <span class="n">base</span> <span class="o">=</span> <span class="s2">&quot;../../../&quot;</span>
<a name="gbab-271"></a>        <span class="n">page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;pwd&quot;</span><span class="p">,</span> <span class="ss">:base</span> <span class="o">=&gt;</span> <span class="n">base</span><span class="p">)</span>
<a name="gbab-272"></a>
<a name="gbab-273"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;pwd&quot;</span><span class="p">,</span> <span class="n">page</span><span class="o">.</span><span class="n">path</span>
<a name="gbab-274"></a>        <span class="n">assert_nil</span> <span class="n">page</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-275"></a>      <span class="k">end</span>
<a name="gbab-276"></a>    <span class="k">end</span>
<a name="gbab-277"></a>
<a name="gbab-278"></a>    <span class="n">context</span> <span class="s2">&quot;while processing&quot;</span> <span class="k">do</span>
<a name="gbab-279"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-280"></a>        <span class="n">clear_dest</span>
<a name="gbab-281"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;Test Site&quot;</span>
<a name="gbab-282"></a>        <span class="vi">@page</span> <span class="o">=</span> <span class="n">setup_page</span><span class="p">(</span><span class="s2">&quot;physical.html&quot;</span><span class="p">,</span> <span class="ss">:base</span> <span class="o">=&gt;</span> <span class="n">test_dir</span><span class="p">(</span><span class="s2">&quot;fixtures&quot;</span><span class="p">))</span>
<a name="gbab-283"></a>      <span class="k">end</span>
<a name="gbab-284"></a>
<a name="gbab-285"></a>      <span class="n">should</span> <span class="s2">&quot;recieve content provided to it&quot;</span> <span class="k">do</span>
<a name="gbab-286"></a>        <span class="n">assert_nil</span> <span class="vi">@page</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-287"></a>
<a name="gbab-288"></a>        <span class="vi">@page</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="s2">&quot;{{ site.title }}&quot;</span>
<a name="gbab-289"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;{{ site.title }}&quot;</span><span class="p">,</span> <span class="vi">@page</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-290"></a>      <span class="k">end</span>
<a name="gbab-291"></a>
<a name="gbab-292"></a>      <span class="n">should</span> <span class="s2">&quot;not be processed and written to disk at destination&quot;</span> <span class="k">do</span>
<a name="gbab-293"></a>        <span class="vi">@page</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="s2">&quot;Lorem ipsum dolor sit amet&quot;</span>
<a name="gbab-294"></a>        <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;permalink&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;/virtual-about/&quot;</span>
<a name="gbab-295"></a>
<a name="gbab-296"></a>        <span class="n">render_and_write</span>
<a name="gbab-297"></a>
<a name="gbab-298"></a>        <span class="n">refute_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;physical&quot;</span><span class="p">)</span>
<a name="gbab-299"></a>        <span class="n">refute_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;virtual-about&quot;</span><span class="p">)</span>
<a name="gbab-300"></a>        <span class="n">refute</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;virtual-about&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-301"></a>      <span class="k">end</span>
<a name="gbab-302"></a>
<a name="gbab-303"></a>      <span class="n">should</span> <span class="s2">&quot;be processed and written to destination when passed as &quot;</span><span class="p">\</span>
<a name="gbab-304"></a>        <span class="s2">&quot;an entry in &#39;site.pages&#39; array&quot;</span> <span class="k">do</span>
<a name="gbab-305"></a>        <span class="vi">@page</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="s2">&quot;{{ site.title }}&quot;</span>
<a name="gbab-306"></a>        <span class="vi">@page</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;permalink&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;/virtual-about/&quot;</span>
<a name="gbab-307"></a>
<a name="gbab-308"></a>        <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span> <span class="o">&lt;&lt;</span> <span class="vi">@page</span>
<a name="gbab-309"></a>        <span class="n">render_and_write</span>
<a name="gbab-310"></a>
<a name="gbab-311"></a>        <span class="n">refute_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;physical&quot;</span><span class="p">)</span>
<a name="gbab-312"></a>        <span class="n">assert_exist</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;virtual-about&quot;</span><span class="p">)</span>
<a name="gbab-313"></a>        <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;virtual-about&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-314"></a>        <span class="n">assert_equal</span> <span class="s2">&quot;Test Site&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;virtual-about&quot;</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">))</span>
<a name="gbab-315"></a>      <span class="k">end</span>
<a name="gbab-316"></a>    <span class="k">end</span>
<a name="gbab-317"></a>  <span class="k">end</span>
<a name="gbab-318"></a><span class="k">end</span>
</pre></div>
</td></tr></table>