<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestRdiscount</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;rdiscount&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="k">if</span> <span class="n">jruby?</span>
<a name="gbab-9"></a>        <span class="k">then</span> <span class="n">skip</span><span class="p">(</span>
<a name="gbab-10"></a>          <span class="s2">&quot;JRuby does not perform well with CExt, test disabled.&quot;</span>
<a name="gbab-11"></a>        <span class="p">)</span>
<a name="gbab-12"></a>      <span class="k">end</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>      <span class="n">config</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-15"></a>        <span class="s2">&quot;markdown&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;rdiscount&quot;</span><span class="p">,</span>
<a name="gbab-16"></a>        <span class="s2">&quot;rdiscount&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-17"></a>          <span class="s2">&quot;toc_token&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;{:toc}&quot;</span><span class="p">,</span>
<a name="gbab-18"></a>          <span class="s2">&quot;extensions&quot;</span> <span class="o">=&gt;</span> <span class="sx">%w(smart generate_toc)</span><span class="p">,</span>
<a name="gbab-19"></a>        <span class="p">},</span>
<a name="gbab-20"></a>      <span class="p">}</span>
<a name="gbab-21"></a>
<a name="gbab-22"></a>      <span class="vi">@markdown</span> <span class="o">=</span> <span class="no">Converters</span><span class="o">::</span><span class="no">Markdown</span><span class="o">.</span><span class="n">new</span> <span class="n">config</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="n">should</span> <span class="s2">&quot;pass rdiscount extensions&quot;</span> <span class="k">do</span>
<a name="gbab-26"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;&lt;p&gt;&amp;ldquo;smart&amp;rdquo;&lt;/p&gt;&quot;</span><span class="p">,</span> <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="s1">&#39;&quot;smart&quot;&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-27"></a>    <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>    <span class="n">should</span> <span class="s2">&quot;render toc&quot;</span> <span class="k">do</span>
<a name="gbab-30"></a>      <span class="n">toc</span> <span class="o">=</span> <span class="o">&lt;&lt;-</span><span class="no">TOC</span>
<a name="gbab-31"></a><span class="sh">&lt;a name=&quot;Header.1&quot;&gt;&lt;/a&gt;</span>
<a name="gbab-32"></a><span class="sh">&lt;h1&gt;Header 1&lt;/h1&gt;</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a><span class="sh">&lt;a name=&quot;Header.2&quot;&gt;&lt;/a&gt;</span>
<a name="gbab-35"></a><span class="sh">&lt;h2&gt;Header 2&lt;/h2&gt;</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a><span class="sh">&lt;p&gt;&lt;ul&gt;</span>
<a name="gbab-38"></a><span class="sh"> &lt;li&gt;&lt;a href=&quot;#Header.1&quot;&gt;Header 1&lt;/a&gt;</span>
<a name="gbab-39"></a><span class="sh"> &lt;ul&gt;</span>
<a name="gbab-40"></a><span class="sh">  &lt;li&gt;&lt;a href=&quot;#Header.2&quot;&gt;Header 2&lt;/a&gt;&lt;/li&gt;</span>
<a name="gbab-41"></a><span class="sh"> &lt;/ul&gt;</span>
<a name="gbab-42"></a><span class="sh"> &lt;/li&gt;</span>
<a name="gbab-43"></a><span class="sh">&lt;/ul&gt;</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a><span class="sh">&lt;/p&gt;</span>
<a name="gbab-46"></a><span class="no">TOC</span>
<a name="gbab-47"></a>      <span class="n">assert_equal</span> <span class="n">toc</span><span class="o">.</span><span class="n">strip</span><span class="p">,</span>
<a name="gbab-48"></a>                   <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="s2">&quot;# Header 1</span><span class="se">\n\n</span><span class="s2">## Header 2</span><span class="se">\n\n</span><span class="s2">{:toc}&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>  <span class="k">end</span>
<a name="gbab-51"></a><span class="k">end</span>
</pre></div>
</td></tr></table>