<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestRedcarpet</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;redcarpet&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="k">if</span> <span class="n">jruby?</span>
<a name="gbab-9"></a>        <span class="k">then</span> <span class="n">skip</span><span class="p">(</span>
<a name="gbab-10"></a>          <span class="s2">&quot;JRuby does not perform well with CExt, test disabled.&quot;</span>
<a name="gbab-11"></a>        <span class="p">)</span>
<a name="gbab-12"></a>      <span class="k">end</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>      <span class="vi">@config</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-15"></a>        <span class="s2">&quot;markdown&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;redcarpet&quot;</span><span class="p">,</span>
<a name="gbab-16"></a>        <span class="s2">&quot;redcarpet&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-17"></a>          <span class="s2">&quot;extensions&quot;</span> <span class="o">=&gt;</span> <span class="sx">%w(smart strikethrough filter_html)</span><span class="p">,</span>
<a name="gbab-18"></a>        <span class="p">},</span>
<a name="gbab-19"></a>      <span class="p">}</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>      <span class="vi">@markdown</span> <span class="o">=</span> <span class="no">Converters</span><span class="o">::</span><span class="no">Markdown</span><span class="o">.</span><span class="n">new</span> <span class="vi">@config</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>      <span class="vi">@sample</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">strip_heredoc</span><span class="p">(</span><span class="o">&lt;&lt;-</span><span class="no">EOS</span>
<a name="gbab-24"></a><span class="sh">        ```ruby</span>
<a name="gbab-25"></a><span class="sh">        puts &quot;Hello world&quot;</span>
<a name="gbab-26"></a><span class="sh">        ```</span>
<a name="gbab-27"></a><span class="no">      EOS</span>
<a name="gbab-28"></a>                                           <span class="p">)</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a>      <span class="vi">@sample</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">strip_heredoc</span><span class="p">(</span><span class="o">&lt;&lt;-</span><span class="no">EOS</span>
<a name="gbab-31"></a><span class="sh">        ```ruby</span>
<a name="gbab-32"></a><span class="sh">        puts &quot;Hello world&quot;</span>
<a name="gbab-33"></a><span class="sh">        ```</span>
<a name="gbab-34"></a><span class="no">      EOS</span>
<a name="gbab-35"></a>                                           <span class="p">)</span>
<a name="gbab-36"></a>    <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>    <span class="n">should</span> <span class="s2">&quot;pass redcarpet options&quot;</span> <span class="k">do</span>
<a name="gbab-39"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;&lt;h1&gt;Some Header&lt;/h1&gt;&quot;</span><span class="p">,</span> <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="s2">&quot;# Some Header #&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-40"></a>    <span class="k">end</span>
<a name="gbab-41"></a>    
<a name="gbab-42"></a>    <span class="n">should</span> <span class="s2">&quot;pass redcarpet SmartyPants options&quot;</span> <span class="k">do</span>
<a name="gbab-43"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;&lt;p&gt;&amp;ldquo;smart&amp;rdquo;&lt;/p&gt;&quot;</span><span class="p">,</span> <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="s1">&#39;&quot;smart&quot;&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-44"></a>    <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>    <span class="n">should</span> <span class="s2">&quot;pass redcarpet extensions&quot;</span> <span class="k">do</span>
<a name="gbab-47"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;&lt;p&gt;&lt;del&gt;deleted&lt;/del&gt;&lt;/p&gt;&quot;</span><span class="p">,</span> <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="s2">&quot;~~deleted~~&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-48"></a>    <span class="k">end</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a>    <span class="n">should</span> <span class="s2">&quot;pass redcarpet render options&quot;</span> <span class="k">do</span>
<a name="gbab-51"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;&lt;p&gt;&lt;strong&gt;bad code not here&lt;/strong&gt;: i am bad&lt;/p&gt;&quot;</span><span class="p">,</span>
<a name="gbab-52"></a>              <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="s2">&quot;**bad code not here**: &lt;script&gt;i am bad&lt;/script&gt;&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-53"></a>    <span class="k">end</span>
<a name="gbab-54"></a>
<a name="gbab-55"></a>    <span class="n">context</span> <span class="s2">&quot;with pygments enabled&quot;</span> <span class="k">do</span>
<a name="gbab-56"></a>        <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-57"></a>          <span class="sx">%(&lt;div class=&quot;highlight&quot;&gt;&lt;pre&gt;&lt;code class=&quot;language-ruby&quot; )</span> <span class="o">+</span>
<a name="gbab-58"></a>          <span class="sx">%(data-lang=&quot;ruby&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;span class=&quot;nb&quot;&gt;puts&lt;/span&gt; &lt;span )</span> <span class="o">+</span>
<a name="gbab-59"></a>          <span class="sx">%(class=&quot;s2&quot;&gt;&amp;quot;Hello world&amp;quot;&lt;/span&gt;</span><span class="se">\n</span><span class="sx">&lt;/code&gt;&lt;/pre&gt;&lt;/div&gt;)</span><span class="p">,</span>
<a name="gbab-60"></a>          <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="vi">@sample</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-61"></a>        <span class="p">)</span>
<a name="gbab-62"></a>          <span class="sx">%(class=&quot;s2&quot;&gt;&amp;quot;Hello world&amp;quot;&lt;/span&gt;</span><span class="se">\n</span><span class="sx">&lt;/code&gt;&lt;/pre&gt;&lt;/div&gt;)</span><span class="p">,</span>
<a name="gbab-63"></a>          <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="vi">@sample</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-64"></a>        <span class="p">)</span>
<a name="gbab-65"></a>    <span class="k">end</span>
<a name="gbab-66"></a>  <span class="k">end</span>
<a name="gbab-67"></a>
<a name="gbab-68"></a>    <span class="n">context</span> <span class="s2">&quot;with rouge enabled&quot;</span> <span class="k">do</span>
<a name="gbab-69"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-70"></a>        <span class="vi">@markdown</span> <span class="o">=</span> <span class="no">Converters</span><span class="o">::</span><span class="no">Markdown</span><span class="o">.</span><span class="n">new</span> <span class="vi">@config</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span> <span class="s2">&quot;highlighter&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;rouge&quot;</span> <span class="p">})</span>
<a name="gbab-71"></a>        <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-72"></a>          <span class="sx">%(&lt;div class=&quot;highlight&quot;&gt;&lt;pre&gt;&lt;code class=&quot;language-ruby&quot; )</span> <span class="o">+</span>
<a name="gbab-73"></a>          <span class="sx">%(data-lang=&quot;ruby&quot;&gt;&lt;span class=&quot;nb&quot;&gt;puts&lt;/span&gt; &lt;span )</span> <span class="o">+</span>
<a name="gbab-74"></a>          <span class="sx">%(class=&quot;s2&quot;&gt;&quot;Hello world&quot;&lt;/span&gt;</span><span class="se">\n</span><span class="sx">&lt;/code&gt;&lt;/pre&gt;&lt;/div&gt;)</span><span class="p">,</span>
<a name="gbab-75"></a>          <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="vi">@sample</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-76"></a>        <span class="p">)</span>
<a name="gbab-77"></a>    <span class="k">end</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>    <span class="n">context</span> <span class="s2">&quot;without any highlighter&quot;</span> <span class="k">do</span>
<a name="gbab-80"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-81"></a>        <span class="vi">@markdown</span> <span class="o">=</span> <span class="no">Converters</span><span class="o">::</span><span class="no">Markdown</span><span class="o">.</span><span class="n">new</span> <span class="vi">@config</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span> <span class="s2">&quot;highlighter&quot;</span> <span class="o">=&gt;</span> <span class="kp">nil</span> <span class="p">})</span>
<a name="gbab-82"></a>      <span class="k">end</span>
<a name="gbab-83"></a>
<a name="gbab-84"></a>      <span class="n">should</span> <span class="s2">&quot;render fenced code blocks without syntax highlighting&quot;</span> <span class="k">do</span>
<a name="gbab-85"></a>        <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-86"></a>        <span class="n">assert_equal</span><span class="p">(</span>
<a name="gbab-87"></a>          <span class="sx">%(&lt;figure class=&quot;highlight&quot;&gt;&lt;pre&gt;&lt;code class=&quot;language-ruby&quot; )</span> <span class="o">+</span>
<a name="gbab-88"></a>          <span class="sx">%(data-lang=&quot;ruby&quot;&gt;puts &amp;quot;Hello world&amp;quot;</span><span class="se">\n</span><span class="sx">&lt;/code&gt;&lt;/pre&gt;&lt;/figure&gt;)</span><span class="p">,</span>
<a name="gbab-89"></a>          <span class="vi">@markdown</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="vi">@sample</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-90"></a>        <span class="p">)</span>
</pre></div>
</td></tr></table>