<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestSass</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;importing partials&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span>
<a name="gbab-9"></a>        <span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">,</span>
<a name="gbab-10"></a>        <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span>
<a name="gbab-11"></a>      <span class="p">}))</span>
<a name="gbab-12"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-13"></a>      <span class="vi">@test_css_file</span> <span class="o">=</span> <span class="n">dest_dir</span><span class="p">(</span><span class="s2">&quot;css/main.css&quot;</span><span class="p">)</span>
<a name="gbab-14"></a>    <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>    <span class="n">should</span> <span class="s2">&quot;import SCSS partial&quot;</span> <span class="k">do</span>
<a name="gbab-17"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;.half {</span><span class="se">\n</span><span class="s2">  width: 50%; }</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="vi">@test_css_file</span><span class="p">)</span>
<a name="gbab-18"></a>    <span class="k">end</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>    <span class="n">should</span> <span class="s2">&quot;register the SCSS converter&quot;</span> <span class="k">do</span>
<a name="gbab-21"></a>      <span class="n">message</span> <span class="o">=</span> <span class="s2">&quot;SCSS converter implementation should exist.&quot;</span>
<a name="gbab-22"></a>      <span class="n">assert</span> <span class="o">!!</span><span class="vi">@site</span><span class="o">.</span><span class="n">find_converter_instance</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Converters</span><span class="o">::</span><span class="no">Scss</span><span class="p">),</span> <span class="n">message</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="n">should</span> <span class="s2">&quot;register the Sass converter&quot;</span> <span class="k">do</span>
<a name="gbab-26"></a>      <span class="n">message</span> <span class="o">=</span> <span class="s2">&quot;Sass converter implementation should exist.&quot;</span>
<a name="gbab-27"></a>      <span class="n">assert</span> <span class="o">!!</span><span class="vi">@site</span><span class="o">.</span><span class="n">find_converter_instance</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Converters</span><span class="o">::</span><span class="no">Sass</span><span class="p">),</span> <span class="n">message</span>
<a name="gbab-28"></a>    <span class="k">end</span>
<a name="gbab-29"></a>  <span class="k">end</span>
<a name="gbab-30"></a><span class="k">end</span>
</pre></div>
</td></tr></table>