<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestRegenerator</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;The site regenerator&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;.jekyll-metadata&quot;</span><span class="p">))</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-11"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-12"></a>          <span class="s2">&quot;methods&quot;</span> <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-13"></a>            <span class="s2">&quot;output&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-14"></a>        <span class="p">},</span>
<a name="gbab-15"></a>        <span class="p">},</span>
<a name="gbab-16"></a>        <span class="s2">&quot;incremental&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-17"></a>      <span class="p">})</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-20"></a>      <span class="vi">@page</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-21"></a>      <span class="vi">@post</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-22"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">docs_to_write</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-23"></a>      <span class="vi">@asset_file</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:asset_file?</span><span class="p">)</span>
<a name="gbab-24"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">regenerator</span>
<a name="gbab-25"></a>    <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>    <span class="n">should</span> <span class="s2">&quot;regenerate documents and assets if changed or not in metadata&quot;</span> <span class="k">do</span>
<a name="gbab-28"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@page</span><span class="p">)</span>
<a name="gbab-29"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@post</span><span class="p">)</span>
<a name="gbab-30"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@document</span><span class="p">)</span>
<a name="gbab-31"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@asset_file</span><span class="p">)</span>
<a name="gbab-32"></a>    <span class="k">end</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>    <span class="n">should</span> <span class="s2">&quot;not regenerate if not changed&quot;</span> <span class="k">do</span>
<a name="gbab-35"></a>      <span class="c1"># Process files</span>
<a name="gbab-36"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@page</span><span class="p">)</span>
<a name="gbab-37"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@post</span><span class="p">)</span>
<a name="gbab-38"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@document</span><span class="p">)</span>
<a name="gbab-39"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@asset_file</span><span class="p">)</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>      <span class="c1"># we need to create the destinations for these files,</span>
<a name="gbab-42"></a>      <span class="c1"># because regenerate? checks if the destination exists</span>
<a name="gbab-43"></a>      <span class="o">[</span><span class="vi">@page</span><span class="p">,</span> <span class="vi">@post</span><span class="p">,</span> <span class="vi">@document</span><span class="p">,</span> <span class="vi">@asset_file</span><span class="o">].</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">item</span><span class="o">|</span>
<a name="gbab-44"></a>        <span class="k">next</span> <span class="k">unless</span> <span class="n">item</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:destination</span><span class="p">)</span>
<a name="gbab-45"></a>          <span class="n">dest</span> <span class="o">=</span> <span class="n">item</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-46"></a>          <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">dest</span><span class="p">))</span>
<a name="gbab-47"></a>          <span class="no">FileUtils</span><span class="o">.</span><span class="n">touch</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-48"></a>        <span class="k">end</span>
<a name="gbab-49"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">write_metadata</span>
<a name="gbab-50"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-51"></a>
<a name="gbab-52"></a>      <span class="c1"># these should pass, since nothing has changed, and the</span>
<a name="gbab-53"></a>      <span class="c1"># loop above made sure the designations exist</span>
<a name="gbab-54"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@page</span><span class="p">)</span>
<a name="gbab-55"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@post</span><span class="p">)</span>
<a name="gbab-56"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@document</span><span class="p">)</span>
<a name="gbab-57"></a>    <span class="k">end</span>
<a name="gbab-58"></a>
<a name="gbab-59"></a>    <span class="n">should</span> <span class="s2">&quot;regenerate if destination missing&quot;</span> <span class="k">do</span>
<a name="gbab-60"></a>      <span class="c1"># Process files</span>
<a name="gbab-61"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@page</span><span class="p">)</span>
<a name="gbab-62"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@post</span><span class="p">)</span>
<a name="gbab-63"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@document</span><span class="p">)</span>
<a name="gbab-64"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@asset_file</span><span class="p">)</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">write_metadata</span>
<a name="gbab-67"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-68"></a>
<a name="gbab-69"></a>      <span class="c1"># make sure the files don&#39;t actually exist</span>
<a name="gbab-70"></a>      <span class="o">[</span><span class="vi">@page</span><span class="p">,</span> <span class="vi">@post</span><span class="p">,</span> <span class="vi">@document</span><span class="p">,</span> <span class="vi">@asset_file</span><span class="o">].</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">item</span><span class="o">|</span>
<a name="gbab-71"></a>        <span class="k">if</span> <span class="n">item</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:destination</span><span class="p">)</span> 
<a name="gbab-72"></a>          <span class="n">dest</span> <span class="o">=</span> <span class="n">item</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-73"></a>          <span class="no">File</span><span class="o">.</span><span class="n">unlink</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span> <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-74"></a>        <span class="k">end</span>
<a name="gbab-75"></a>      <span class="k">end</span>
<a name="gbab-76"></a>
<a name="gbab-77"></a>      <span class="c1"># while nothing has changed, the output files were not</span>
<a name="gbab-78"></a>      <span class="c1"># generated, so they still need to be regenerated</span>
<a name="gbab-79"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@page</span><span class="p">)</span>
<a name="gbab-80"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@post</span><span class="p">)</span>
<a name="gbab-81"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@document</span><span class="p">)</span>
<a name="gbab-82"></a>    <span class="k">end</span>
<a name="gbab-83"></a>
<a name="gbab-84"></a>    <span class="n">should</span> <span class="s2">&quot;always regenerate asset files&quot;</span> <span class="k">do</span>
<a name="gbab-85"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@asset_file</span><span class="p">)</span>
<a name="gbab-86"></a>    <span class="k">end</span>
<a name="gbab-87"></a>
<a name="gbab-88"></a>    <span class="n">should</span> <span class="s2">&quot;always regenerate objects that don&#39;t respond to :path&quot;</span> <span class="k">do</span>
<a name="gbab-89"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="no">Object</span><span class="o">.</span><span class="n">new</span><span class="p">)</span>
<a name="gbab-90"></a>    <span class="k">end</span>
<a name="gbab-91"></a>  <span class="k">end</span>
<a name="gbab-92"></a>
<a name="gbab-93"></a>  <span class="n">context</span> <span class="s2">&quot;The site regenerator&quot;</span> <span class="k">do</span>
<a name="gbab-94"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-95"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;.jekyll-metadata&quot;</span><span class="p">))</span>
<a name="gbab-96"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-97"></a>        <span class="s2">&quot;incremental&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-98"></a>      <span class="p">})</span>
<a name="gbab-99"></a>
<a name="gbab-100"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-101"></a>      <span class="vi">@post</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-102"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">regenerator</span>
<a name="gbab-103"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@post</span><span class="p">)</span>
<a name="gbab-104"></a>
<a name="gbab-105"></a>      <span class="vi">@layout_path</span> <span class="o">=</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;_layouts/default.html&quot;</span><span class="p">)</span>
<a name="gbab-106"></a>    <span class="k">end</span>
<a name="gbab-107"></a>
<a name="gbab-108"></a>    <span class="n">teardown</span> <span class="k">do</span>
<a name="gbab-109"></a>      <span class="no">File</span><span class="o">.</span><span class="n">rename</span><span class="p">(</span><span class="vi">@layout_path</span> <span class="o">+</span> <span class="s2">&quot;.tmp&quot;</span><span class="p">,</span> <span class="vi">@layout_path</span><span class="p">)</span>
<a name="gbab-110"></a>    <span class="k">end</span>
<a name="gbab-111"></a>
<a name="gbab-112"></a>    <span class="n">should</span> <span class="s2">&quot;handle deleted/nonexistent dependencies&quot;</span> <span class="k">do</span>
<a name="gbab-113"></a>      <span class="n">assert_equal</span> <span class="mi">1</span><span class="p">,</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">.</span><span class="n">size</span>
<a name="gbab-114"></a>      <span class="n">path</span> <span class="o">=</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">.</span><span class="n">keys</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span>
<a name="gbab-115"></a>
<a name="gbab-116"></a>      <span class="n">assert_exist</span> <span class="vi">@layout_path</span>
<a name="gbab-117"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add_dependency</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="vi">@layout_path</span><span class="p">)</span>
<a name="gbab-118"></a>
<a name="gbab-119"></a>      <span class="no">File</span><span class="o">.</span><span class="n">rename</span><span class="p">(</span><span class="vi">@layout_path</span><span class="p">,</span> <span class="vi">@layout_path</span> <span class="o">+</span> <span class="s2">&quot;.tmp&quot;</span><span class="p">)</span>
<a name="gbab-120"></a>      <span class="n">refute</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="vi">@layout_path</span><span class="p">)</span>
<a name="gbab-121"></a>
<a name="gbab-122"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear_cache</span>
<a name="gbab-123"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="vi">@post</span><span class="p">)</span>
<a name="gbab-124"></a>    <span class="k">end</span>
<a name="gbab-125"></a>  <span class="k">end</span>
<a name="gbab-126"></a>
<a name="gbab-127"></a>  <span class="n">context</span> <span class="s2">&quot;The site metadata&quot;</span> <span class="k">do</span>
<a name="gbab-128"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-129"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;.jekyll-metadata&quot;</span><span class="p">))</span>
<a name="gbab-130"></a>
<a name="gbab-131"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span>
<a name="gbab-132"></a>        <span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">,</span>
<a name="gbab-133"></a>        <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span>
<a name="gbab-134"></a>        <span class="s2">&quot;incremental&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-135"></a>      <span class="p">}))</span>
<a name="gbab-136"></a>
<a name="gbab-137"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-138"></a>      <span class="vi">@path</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">first</span><span class="o">.</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-139"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">regenerator</span>
<a name="gbab-140"></a>    <span class="k">end</span>
<a name="gbab-141"></a>
<a name="gbab-142"></a>    <span class="n">should</span> <span class="s2">&quot;store modification times&quot;</span> <span class="k">do</span>
<a name="gbab-143"></a>      <span class="n">assert_equal</span> <span class="no">File</span><span class="o">.</span><span class="n">mtime</span><span class="p">(</span><span class="vi">@path</span><span class="p">),</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">[</span><span class="vi">@path</span><span class="o">][</span><span class="s2">&quot;mtime&quot;</span><span class="o">]</span>
<a name="gbab-144"></a>    <span class="k">end</span>
<a name="gbab-145"></a>
<a name="gbab-146"></a>    <span class="n">should</span> <span class="s2">&quot;cache processed entries&quot;</span> <span class="k">do</span>
<a name="gbab-147"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">cache</span><span class="o">[</span><span class="vi">@path</span><span class="o">]</span>
<a name="gbab-148"></a>    <span class="k">end</span>
<a name="gbab-149"></a>
<a name="gbab-150"></a>    <span class="n">should</span> <span class="s2">&quot;clear the cache on clear_cache&quot;</span> <span class="k">do</span>
<a name="gbab-151"></a>      <span class="c1"># @path will be in the cache because the</span>
<a name="gbab-152"></a>      <span class="c1"># site will have processed it</span>
<a name="gbab-153"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">cache</span><span class="o">[</span><span class="vi">@path</span><span class="o">]</span>
<a name="gbab-154"></a>
<a name="gbab-155"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear_cache</span>
<a name="gbab-156"></a>      <span class="n">assert_equal</span>  <span class="vi">@regenerator</span><span class="o">.</span><span class="n">cache</span><span class="p">,</span> <span class="p">{}</span>
<a name="gbab-157"></a>    <span class="k">end</span>
<a name="gbab-158"></a>
<a name="gbab-159"></a>    <span class="n">should</span> <span class="s2">&quot;write to the metadata file&quot;</span> <span class="k">do</span>
<a name="gbab-160"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-161"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-162"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">write_metadata</span>
<a name="gbab-163"></a>      <span class="n">assert</span> <span class="no">File</span><span class="o">.</span><span class="n">file?</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;.jekyll-metadata&quot;</span><span class="p">))</span>
<a name="gbab-164"></a>    <span class="k">end</span>
<a name="gbab-165"></a>
<a name="gbab-166"></a>    <span class="n">should</span> <span class="s2">&quot;read from the metadata file&quot;</span> <span class="k">do</span>
<a name="gbab-167"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-168"></a>      <span class="n">assert_equal</span> <span class="no">File</span><span class="o">.</span><span class="n">mtime</span><span class="p">(</span><span class="vi">@path</span><span class="p">),</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">[</span><span class="vi">@path</span><span class="o">][</span><span class="s2">&quot;mtime&quot;</span><span class="o">]</span>
<a name="gbab-169"></a>    <span class="k">end</span>
<a name="gbab-170"></a>
<a name="gbab-171"></a>    <span class="n">should</span> <span class="s2">&quot;read legacy YAML metadata&quot;</span> <span class="k">do</span>
<a name="gbab-172"></a>      <span class="n">metadata_file</span> <span class="o">=</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;.jekyll-metadata&quot;</span><span class="p">)</span>
<a name="gbab-173"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-174"></a>
<a name="gbab-175"></a>      <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">metadata_file</span><span class="p">,</span> <span class="s2">&quot;w&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
<a name="gbab-176"></a>        <span class="n">f</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">.</span><span class="n">to_yaml</span><span class="p">)</span>
<a name="gbab-177"></a>      <span class="k">end</span>
<a name="gbab-178"></a>
<a name="gbab-179"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-180"></a>      <span class="n">assert_equal</span> <span class="no">File</span><span class="o">.</span><span class="n">mtime</span><span class="p">(</span><span class="vi">@path</span><span class="p">),</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">[</span><span class="vi">@path</span><span class="o">][</span><span class="s2">&quot;mtime&quot;</span><span class="o">]</span>
<a name="gbab-181"></a>    <span class="k">end</span>
<a name="gbab-182"></a>
<a name="gbab-183"></a>    <span class="n">should</span> <span class="s2">&quot;not crash when reading corrupted marshal file&quot;</span> <span class="k">do</span>
<a name="gbab-184"></a>      <span class="n">metadata_file</span> <span class="o">=</span> <span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;.jekyll-metadata&quot;</span><span class="p">)</span>
<a name="gbab-185"></a>      <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">metadata_file</span><span class="p">,</span> <span class="s2">&quot;w&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">file</span><span class="o">|</span>
<a name="gbab-186"></a>        <span class="n">file</span><span class="o">.</span><span class="n">puts</span> <span class="no">Marshal</span><span class="o">.</span><span class="n">dump</span><span class="p">({</span> <span class="ss">:foo</span> <span class="o">=&gt;</span> <span class="s2">&quot;bar&quot;</span> <span class="p">})</span><span class="o">[</span><span class="mi">0</span><span class="p">,</span> <span class="mi">5</span><span class="o">]</span>
<a name="gbab-187"></a>      <span class="k">end</span>
<a name="gbab-188"></a>
<a name="gbab-189"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-190"></a>      <span class="n">assert_equal</span><span class="p">({},</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="p">)</span>
<a name="gbab-191"></a>    <span class="k">end</span>
<a name="gbab-192"></a>
<a name="gbab-193"></a>    <span class="c1"># Methods</span>
<a name="gbab-194"></a>
<a name="gbab-195"></a>    <span class="n">should</span> <span class="s2">&quot;be able to add a path to the metadata&quot;</span> <span class="k">do</span>
<a name="gbab-196"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-197"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-198"></a>      <span class="n">assert_equal</span> <span class="no">File</span><span class="o">.</span><span class="n">mtime</span><span class="p">(</span><span class="vi">@path</span><span class="p">),</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">[</span><span class="vi">@path</span><span class="o">][</span><span class="s2">&quot;mtime&quot;</span><span class="o">]</span>
<a name="gbab-199"></a>      <span class="n">assert_equal</span> <span class="o">[]</span><span class="p">,</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">[</span><span class="vi">@path</span><span class="o">][</span><span class="s2">&quot;deps&quot;</span><span class="o">]</span>
<a name="gbab-200"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">cache</span><span class="o">[</span><span class="vi">@path</span><span class="o">]</span>
<a name="gbab-201"></a>    <span class="k">end</span>
<a name="gbab-202"></a>
<a name="gbab-203"></a>    <span class="n">should</span> <span class="s2">&quot;return true on nonexistent path&quot;</span> <span class="k">do</span>
<a name="gbab-204"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-205"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="s2">&quot;/bogus/path.md&quot;</span><span class="p">)</span>
<a name="gbab-206"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="s2">&quot;/bogus/path.md&quot;</span><span class="p">)</span>
<a name="gbab-207"></a>    <span class="k">end</span>
<a name="gbab-208"></a>
<a name="gbab-209"></a>    <span class="n">should</span> <span class="s2">&quot;be able to force a path to regenerate&quot;</span> <span class="k">do</span>
<a name="gbab-210"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-211"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">force</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-212"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">cache</span><span class="o">[</span><span class="vi">@path</span><span class="o">]</span>
<a name="gbab-213"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-214"></a>    <span class="k">end</span>
<a name="gbab-215"></a>
<a name="gbab-216"></a>    <span class="n">should</span> <span class="s2">&quot;be able to clear metadata and cache&quot;</span> <span class="k">do</span>
<a name="gbab-217"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-218"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-219"></a>      <span class="n">assert_equal</span> <span class="mi">1</span><span class="p">,</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">.</span><span class="n">length</span>
<a name="gbab-220"></a>      <span class="n">assert_equal</span> <span class="mi">1</span><span class="p">,</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">cache</span><span class="o">.</span><span class="n">length</span>
<a name="gbab-221"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-222"></a>      <span class="n">assert_equal</span> <span class="mi">0</span><span class="p">,</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">.</span><span class="n">length</span>
<a name="gbab-223"></a>      <span class="n">assert_equal</span> <span class="mi">0</span><span class="p">,</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">cache</span><span class="o">.</span><span class="n">length</span>
<a name="gbab-224"></a>    <span class="k">end</span>
<a name="gbab-225"></a>
<a name="gbab-226"></a>    <span class="n">should</span> <span class="s2">&quot;not regenerate a path if it is not modified&quot;</span> <span class="k">do</span>
<a name="gbab-227"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-228"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-229"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">write_metadata</span>
<a name="gbab-230"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-231"></a>
<a name="gbab-232"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-233"></a>    <span class="k">end</span>
<a name="gbab-234"></a>
<a name="gbab-235"></a>    <span class="n">should</span> <span class="s2">&quot;not regenerate if path in cache is false&quot;</span> <span class="k">do</span>
<a name="gbab-236"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-237"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-238"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">write_metadata</span>
<a name="gbab-239"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-240"></a>
<a name="gbab-241"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-242"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@regenerator</span><span class="o">.</span><span class="n">cache</span><span class="o">[</span><span class="vi">@path</span><span class="o">]</span>
<a name="gbab-243"></a>      <span class="n">assert</span> <span class="o">!</span><span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-244"></a>    <span class="k">end</span>
<a name="gbab-245"></a>
<a name="gbab-246"></a>    <span class="n">should</span> <span class="s2">&quot;regenerate if path in not in metadata&quot;</span> <span class="k">do</span>
<a name="gbab-247"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-248"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-249"></a>    <span class="n">should</span> <span class="s2">&quot;not regenerate again if multiple dependencies&quot;</span> <span class="k">do</span>
<a name="gbab-250"></a>      <span class="n">multi_deps</span> <span class="o">=</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">.</span><span class="n">select</span> <span class="p">{</span><span class="o">|</span><span class="n">k</span><span class="p">,</span><span class="n">v</span><span class="o">|</span> <span class="n">v</span><span class="o">[</span><span class="s1">&#39;deps&#39;</span><span class="o">].</span><span class="n">length</span> <span class="o">&gt;</span> <span class="mi">2</span><span class="p">}</span>
<a name="gbab-251"></a>      <span class="n">multi_dep_path</span> <span class="o">=</span> <span class="n">multi_deps</span><span class="o">.</span><span class="n">keys</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-252"></a>
<a name="gbab-253"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">[</span><span class="n">multi_dep_path</span><span class="o">][</span><span class="s2">&quot;deps&quot;</span><span class="o">].</span><span class="n">length</span> <span class="o">&gt;</span> <span class="mi">2</span>
<a name="gbab-254"></a>
<a name="gbab-255"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="n">multi_dep_path</span><span class="p">)</span>
<a name="gbab-256"></a>
<a name="gbab-257"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-258"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear_cache</span>
<a name="gbab-259"></a>
<a name="gbab-260"></a>      <span class="n">refute</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="n">multi_dep_path</span><span class="p">)</span>
<a name="gbab-261"></a>    <span class="k">end</span>
<a name="gbab-262"></a>
<a name="gbab-263"></a>
<a name="gbab-264"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-265"></a>    <span class="k">end</span>
<a name="gbab-266"></a>
<a name="gbab-267"></a>    <span class="n">should</span> <span class="s2">&quot;regenerate if path in cache is true&quot;</span> <span class="k">do</span>
<a name="gbab-268"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-269"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-270"></a>
<a name="gbab-271"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-272"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">cache</span><span class="o">[</span><span class="vi">@path</span><span class="o">]</span>
<a name="gbab-273"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-274"></a>    <span class="k">end</span>
<a name="gbab-275"></a>
<a name="gbab-276"></a>    <span class="n">should</span> <span class="s2">&quot;regenerate if file is modified&quot;</span> <span class="k">do</span>
<a name="gbab-277"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-278"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-279"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">[</span><span class="vi">@path</span><span class="o">][</span><span class="s2">&quot;mtime&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="no">Time</span><span class="o">.</span><span class="n">at</span><span class="p">(</span><span class="mi">0</span><span class="p">)</span>
<a name="gbab-280"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">write_metadata</span>
<a name="gbab-281"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-282"></a>
<a name="gbab-283"></a>      <span class="n">refute_same</span> <span class="no">File</span><span class="o">.</span><span class="n">mtime</span><span class="p">(</span><span class="vi">@path</span><span class="p">),</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">[</span><span class="vi">@path</span><span class="o">][</span><span class="s2">&quot;mtime&quot;</span><span class="o">]</span>
<a name="gbab-284"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-285"></a>    <span class="k">end</span>
<a name="gbab-286"></a>      <span class="n">multi_deps</span> <span class="o">=</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">.</span><span class="n">select</span> <span class="p">{</span> <span class="o">|</span><span class="n">_k</span><span class="p">,</span> <span class="n">v</span><span class="o">|</span> <span class="n">v</span><span class="o">[</span><span class="s2">&quot;deps&quot;</span><span class="o">].</span><span class="n">length</span> <span class="o">&gt;</span> <span class="mi">2</span> <span class="p">}</span>
<a name="gbab-287"></a>    <span class="n">should</span> <span class="s2">&quot;regenerate if dependency is modified&quot;</span> <span class="k">do</span>
<a name="gbab-288"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-289"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-290"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">write_metadata</span>
<a name="gbab-291"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-292"></a>
<a name="gbab-293"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add_dependency</span><span class="p">(</span><span class="vi">@path</span><span class="p">,</span> <span class="s2">&quot;new.dependency&quot;</span><span class="p">)</span>
<a name="gbab-294"></a>      <span class="n">assert_equal</span> <span class="o">[</span><span class="s2">&quot;new.dependency&quot;</span><span class="o">]</span><span class="p">,</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">metadata</span><span class="o">[</span><span class="vi">@path</span><span class="o">][</span><span class="s2">&quot;deps&quot;</span><span class="o">]</span>
<a name="gbab-295"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="s2">&quot;new.dependency&quot;</span><span class="p">)</span>
<a name="gbab-296"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-297"></a>    <span class="k">end</span>
<a name="gbab-298"></a>
<a name="gbab-299"></a>    <span class="n">should</span> <span class="s2">&quot;regenerate everything if metadata is disabled&quot;</span> <span class="k">do</span>
<a name="gbab-300"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;incremental&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-301"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">clear</span>
<a name="gbab-302"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-303"></a>      <span class="vi">@regenerator</span><span class="o">.</span><span class="n">write_metadata</span>
<a name="gbab-304"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">)</span>
<a name="gbab-305"></a>
<a name="gbab-306"></a>      <span class="n">assert</span> <span class="vi">@regenerator</span><span class="o">.</span><span class="n">modified?</span><span class="p">(</span><span class="vi">@path</span><span class="p">)</span>
<a name="gbab-307"></a>    <span class="k">end</span>
<a name="gbab-308"></a>  <span class="k">end</span>
<a name="gbab-309"></a>
<a name="gbab-310"></a>  <span class="n">context</span> <span class="s2">&quot;when incremental regeneration is disabled&quot;</span> <span class="k">do</span>
<a name="gbab-311"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-312"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm_rf</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;.jekyll-metadata&quot;</span><span class="p">))</span>
<a name="gbab-313"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">configuration</span><span class="p">({</span>
<a name="gbab-314"></a>        <span class="s2">&quot;source&quot;</span> <span class="o">=&gt;</span> <span class="n">source_dir</span><span class="p">,</span>
<a name="gbab-315"></a>        <span class="s2">&quot;destination&quot;</span> <span class="o">=&gt;</span> <span class="n">dest_dir</span><span class="p">,</span>
<a name="gbab-316"></a>        <span class="s2">&quot;incremental&quot;</span> <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-317"></a>      <span class="p">}))</span>
<a name="gbab-318"></a>
<a name="gbab-319"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-320"></a>      <span class="vi">@path</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">first</span><span class="o">.</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-321"></a>      <span class="vi">@regenerator</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">regenerator</span>
<a name="gbab-322"></a>    <span class="k">end</span>
<a name="gbab-323"></a>
<a name="gbab-324"></a>    <span class="n">should</span> <span class="s2">&quot;not create .jekyll-metadata&quot;</span> <span class="k">do</span>
<a name="gbab-325"></a>      <span class="n">refute</span> <span class="no">File</span><span class="o">.</span><span class="n">file?</span><span class="p">(</span><span class="n">source_dir</span><span class="p">(</span><span class="s2">&quot;.jekyll-metadata&quot;</span><span class="p">))</span>
<a name="gbab-326"></a>    <span class="k">end</span>
<a name="gbab-327"></a>  <span class="k">end</span>
<a name="gbab-328"></a><span class="k">end</span>
</pre></div>
</td></tr></table>