<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestRelatedPosts</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;building related posts without lsi&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span>
<a name="gbab-9"></a>    <span class="k">end</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>    <span class="n">should</span> <span class="s2">&quot;use the most recent posts for related posts&quot;</span> <span class="k">do</span>
<a name="gbab-12"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">reset</span>
<a name="gbab-13"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>      <span class="n">last_post</span>     <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">last</span>
<a name="gbab-16"></a>      <span class="n">related_posts</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">RelatedPosts</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">last_post</span><span class="p">)</span><span class="o">.</span><span class="n">build</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>      <span class="n">last_ten_recent_posts</span> <span class="o">=</span> <span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">reverse</span> <span class="o">-</span> <span class="o">[</span><span class="n">last_post</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">first</span><span class="p">(</span><span class="mi">10</span><span class="p">)</span>
<a name="gbab-19"></a>      <span class="n">assert_equal</span> <span class="n">last_ten_recent_posts</span><span class="p">,</span> <span class="n">related_posts</span>
<a name="gbab-20"></a>    <span class="k">end</span>
<a name="gbab-21"></a>  <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>  <span class="n">context</span> <span class="s2">&quot;building related posts with LSI&quot;</span> <span class="k">do</span>
<a name="gbab-24"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-25"></a>      <span class="k">if</span> <span class="n">jruby?</span>
<a name="gbab-26"></a>        <span class="n">skip</span><span class="p">(</span>
<a name="gbab-27"></a>          <span class="s2">&quot;JRuby does not perform well with CExt, test disabled.&quot;</span>
<a name="gbab-28"></a>        <span class="p">)</span>
<a name="gbab-29"></a>      <span class="k">end</span>
<a name="gbab-30"></a>
<a name="gbab-31"></a>      <span class="n">allow_any_instance_of</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">RelatedPosts</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:display</span><span class="p">)</span>
<a name="gbab-32"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-33"></a>        <span class="s2">&quot;lsi&quot;</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-34"></a>      <span class="p">})</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">reset</span>
<a name="gbab-37"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-38"></a>      <span class="nb">require</span> <span class="s2">&quot;classifier-reborn&quot;</span>
<a name="gbab-39"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">RelatedPosts</span><span class="o">.</span><span class="n">lsi</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-40"></a>    <span class="k">end</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>    <span class="n">should</span> <span class="s2">&quot;index Jekyll::Post objects&quot;</span> <span class="k">do</span>
<a name="gbab-43"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">first</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span>
<a name="gbab-44"></a>      <span class="n">expect_any_instance_of</span><span class="p">(</span><span class="o">::</span><span class="no">ClassifierReborn</span><span class="o">::</span><span class="no">LSI</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="p">\</span>
<a name="gbab-45"></a>        <span class="n">receive</span><span class="p">(</span><span class="ss">:add_item</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="n">kind_of</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Document</span><span class="p">))</span>
<a name="gbab-46"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">RelatedPosts</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">last</span><span class="p">)</span><span class="o">.</span><span class="n">build_index</span>
<a name="gbab-47"></a>    <span class="k">end</span>
<a name="gbab-48"></a>
<a name="gbab-49"></a>    <span class="n">should</span> <span class="s2">&quot;find related Jekyll::Post objects, given a Jekyll::Post object&quot;</span> <span class="k">do</span>
<a name="gbab-50"></a>      <span class="n">post</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">last</span>
<a name="gbab-51"></a>      <span class="n">allow_any_instance_of</span><span class="p">(</span><span class="o">::</span><span class="no">ClassifierReborn</span><span class="o">::</span><span class="no">LSI</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:build_index</span><span class="p">)</span>
<a name="gbab-52"></a>      <span class="n">expect_any_instance_of</span><span class="p">(</span><span class="o">::</span><span class="no">ClassifierReborn</span><span class="o">::</span><span class="no">LSI</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="p">\</span>
<a name="gbab-53"></a>        <span class="n">receive</span><span class="p">(</span><span class="ss">:find_related</span><span class="p">)</span><span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="n">post</span><span class="p">,</span> <span class="mi">11</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">[-</span><span class="mi">1</span><span class="o">..-</span><span class="mi">9</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-54"></a>      
<a name="gbab-55"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">RelatedPosts</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">post</span><span class="p">)</span><span class="o">.</span><span class="n">build</span>
<a name="gbab-56"></a>    <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>    <span class="n">should</span> <span class="s2">&quot;use LSI for the related posts&quot;</span> <span class="k">do</span>
<a name="gbab-59"></a>      <span class="n">allow_any_instance_of</span><span class="p">(</span><span class="o">::</span><span class="no">ClassifierReborn</span><span class="o">::</span><span class="no">LSI</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="p">\</span>
<a name="gbab-60"></a>        <span class="n">receive</span><span class="p">(</span><span class="ss">:find_related</span><span class="p">)</span><span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">[-</span><span class="mi">1</span><span class="o">..-</span><span class="mi">9</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-61"></a>      <span class="n">allow_any_instance_of</span><span class="p">(</span><span class="o">::</span><span class="no">ClassifierReborn</span><span class="o">::</span><span class="no">LSI</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:build_index</span><span class="p">)</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>      <span class="n">assert_equal</span> <span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">[-</span><span class="mi">1</span><span class="o">..-</span><span class="mi">9</span><span class="o">]</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">RelatedPosts</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">last</span><span class="p">)</span><span class="o">.</span><span class="n">build</span>
<a name="gbab-64"></a>    <span class="k">end</span>
<a name="gbab-65"></a>  <span class="k">end</span>
<a name="gbab-66"></a><span class="k">end</span>
</pre></div>
</td></tr></table>