<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;addressable/uri&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-6"></a>  <span class="k">module</span> <span class="nn">Commands</span>
<a name="gbab-7"></a>    <span class="k">class</span> <span class="nc">Doctor</span> <span class="o">&lt;</span> <span class="no">Command</span>
<a name="gbab-8"></a>      <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-9"></a>        <span class="k">def</span> <span class="nf">init_with_program</span><span class="p">(</span><span class="n">prog</span><span class="p">)</span>
<a name="gbab-10"></a>          <span class="n">prog</span><span class="o">.</span><span class="n">command</span><span class="p">(</span><span class="ss">:doctor</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-11"></a>            <span class="n">c</span><span class="o">.</span><span class="n">syntax</span> <span class="s2">&quot;doctor&quot;</span>
<a name="gbab-12"></a>            <span class="n">c</span><span class="o">.</span><span class="n">description</span> <span class="s2">&quot;Search site and print specific deprecation warnings&quot;</span>
<a name="gbab-13"></a>            <span class="n">c</span><span class="o">.</span><span class="n">alias</span><span class="p">(</span><span class="ss">:hyde</span><span class="p">)</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>            <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;config&quot;</span><span class="p">,</span> <span class="s2">&quot;--config CONFIG_FILE[,CONFIG_FILE2,...]&quot;</span><span class="p">,</span> <span class="nb">Array</span><span class="p">,</span>
<a name="gbab-16"></a>                            <span class="s2">&quot;Custom configuration file&quot;</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>            <span class="n">c</span><span class="o">.</span><span class="n">action</span> <span class="k">do</span> <span class="o">|</span><span class="n">_</span><span class="p">,</span> <span class="n">options</span><span class="o">|</span>
<a name="gbab-19"></a>              <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">Doctor</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-20"></a>            <span class="k">end</span>
<a name="gbab-21"></a>          <span class="k">end</span>
<a name="gbab-22"></a>        <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>        <span class="k">def</span> <span class="nf">process</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-25"></a>          <span class="n">site</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">configuration_from_options</span><span class="p">(</span><span class="n">options</span><span class="p">))</span>
<a name="gbab-26"></a>          <span class="n">site</span><span class="o">.</span><span class="n">reset</span>
<a name="gbab-27"></a>          <span class="n">site</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-28"></a>          <span class="n">site</span><span class="o">.</span><span class="n">generate</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a>          <span class="k">if</span> <span class="n">healthy?</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-31"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Your test results&quot;</span><span class="p">,</span> <span class="s2">&quot;are in. Everything looks fine.&quot;</span>
<a name="gbab-32"></a>          <span class="k">else</span>
<a name="gbab-33"></a>            <span class="nb">abort</span>
<a name="gbab-34"></a>          <span class="k">end</span>
<a name="gbab-35"></a>        <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>        <span class="k">def</span> <span class="nf">healthy?</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-38"></a>          <span class="o">[</span>
<a name="gbab-39"></a>            <span class="n">fsnotify_buggy?</span><span class="p">(</span><span class="n">site</span><span class="p">),</span>
<a name="gbab-40"></a>            <span class="o">!</span><span class="n">deprecated_relative_permalinks</span><span class="p">(</span><span class="n">site</span><span class="p">),</span>
<a name="gbab-41"></a>            <span class="o">!</span><span class="n">conflicting_urls</span><span class="p">(</span><span class="n">site</span><span class="p">),</span>
<a name="gbab-42"></a>            <span class="o">!</span><span class="n">urls_only_differ_by_case</span><span class="p">(</span><span class="n">site</span><span class="p">),</span>
<a name="gbab-43"></a>            <span class="n">proper_site_url?</span><span class="p">(</span><span class="n">site</span><span class="p">),</span>
<a name="gbab-44"></a>            <span class="n">properly_gathered_posts?</span><span class="p">(</span><span class="n">site</span><span class="p">),</span>
<a name="gbab-45"></a>          <span class="o">].</span><span class="n">all?</span>
<a name="gbab-46"></a>        <span class="k">end</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>        <span class="k">def</span> <span class="nf">properly_gathered_posts?</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-49"></a>          <span class="k">return</span> <span class="kp">true</span> <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections_dir&quot;</span><span class="o">].</span><span class="n">empty?</span>
<a name="gbab-50"></a>          <span class="n">posts_at_root</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="s2">&quot;_posts&quot;</span><span class="p">)</span>
<a name="gbab-51"></a>          <span class="k">return</span> <span class="kp">true</span> <span class="k">unless</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">posts_at_root</span><span class="p">)</span>
<a name="gbab-52"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Warning:&quot;</span><span class="p">,</span>
<a name="gbab-53"></a>            <span class="s2">&quot;Detected &#39;_posts&#39; directory outside custom `collections_dir`!&quot;</span>
<a name="gbab-54"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-55"></a>            <span class="s2">&quot;Please move &#39;</span><span class="si">#{</span><span class="n">posts_at_root</span><span class="si">}</span><span class="s2">&#39; into the custom directory at &quot;</span> <span class="p">\</span>
<a name="gbab-56"></a>            <span class="s2">&quot;&#39;</span><span class="si">#{</span><span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections_dir&quot;</span><span class="o">]</span><span class="p">)</span><span class="si">}</span><span class="s2">&#39;&quot;</span>
<a name="gbab-57"></a>          <span class="kp">false</span>
<a name="gbab-58"></a>        <span class="k">end</span>
<a name="gbab-59"></a>
<a name="gbab-60"></a>          <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s1">&#39;relative_permalinks&#39;</span><span class="o">]</span>
<a name="gbab-61"></a>          <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;relative_permalinks&quot;</span><span class="o">]</span>
<a name="gbab-62"></a>            <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span> <span class="s2">&quot;Your site still uses relative&quot;</span> <span class="p">\</span>
<a name="gbab-63"></a>                                <span class="s2">&quot; permalinks, which was removed in&quot;</span> <span class="p">\</span>
<a name="gbab-64"></a>            <span class="k">return</span> <span class="kp">true</span>
<a name="gbab-65"></a>              <span class="n">contains_deprecated_pages</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-66"></a>            <span class="k">end</span>
<a name="gbab-67"></a>        <span class="k">end</span>
<a name="gbab-68"></a>
<a name="gbab-69"></a>        <span class="k">def</span> <span class="nf">conflicting_urls</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-70"></a>          <span class="n">conflicting_urls</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-71"></a>          <span class="n">urls</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-72"></a>          <span class="n">urls</span> <span class="o">=</span> <span class="n">collect_urls</span><span class="p">(</span><span class="n">urls</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-73"></a>          <span class="n">urls</span> <span class="o">=</span> <span class="n">collect_urls</span><span class="p">(</span><span class="n">urls</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">posts</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-74"></a>          <span class="n">urls</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">url</span><span class="p">,</span> <span class="n">paths</span><span class="o">|</span>
<a name="gbab-75"></a>            <span class="k">next</span> <span class="k">unless</span> <span class="n">paths</span><span class="o">.</span><span class="n">size</span> <span class="o">&gt;</span> <span class="mi">1</span>
<a name="gbab-76"></a>              <span class="n">conflicting_urls</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-77"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Conflict:&quot;</span><span class="p">,</span> <span class="s2">&quot;The URL &#39;</span><span class="si">#{</span><span class="n">url</span><span class="si">}</span><span class="s2">&#39; is the destination&quot;</span> <span class="p">\</span>
<a name="gbab-78"></a>                <span class="s2">&quot; for the following pages: </span><span class="si">#{</span><span class="n">paths</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;, &quot;</span><span class="p">)</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-79"></a>            <span class="k">end</span>
<a name="gbab-80"></a>          <span class="n">conflicting_urls</span>
<a name="gbab-81"></a>        <span class="k">end</span>
<a name="gbab-82"></a>        <span class="k">def</span> <span class="nf">fsnotify_buggy?</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-83"></a>        <span class="k">def</span> <span class="nf">fsnotify_buggy?</span><span class="p">(</span><span class="n">_site</span><span class="p">)</span>
<a name="gbab-84"></a>          <span class="k">return</span> <span class="kp">true</span> <span class="k">unless</span> <span class="no">Utils</span><span class="o">::</span><span class="no">Platforms</span><span class="o">.</span><span class="n">osx?</span>
<a name="gbab-85"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;  &quot;</span> <span class="o">+</span> <span class="o">&lt;&lt;-</span><span class="no">STR</span><span class="o">.</span><span class="n">strip</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">/\n\s+/</span><span class="p">,</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="s2">  &quot;</span><span class="p">)</span>
<a name="gbab-86"></a><span class="sh">            Jekyll.logger.error &quot;  &quot; + &lt;&lt;-STR.strip.gsub(%r!\n\s+!, &quot;\n  &quot;)</span>
<a name="gbab-87"></a><span class="sh">              operating system, you can read https://github.com/thibaudgg/rb-fsevent/wiki/no-fsevents-fired-(OSX-bug)</span>
<a name="gbab-88"></a><span class="sh">              for possible work arounds or you can work around it immediately</span>
<a name="gbab-89"></a><span class="sh">              with `--force-polling`.</span>
<a name="gbab-90"></a><span class="no">            STR</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>            <span class="kp">false</span>
<a name="gbab-93"></a>          <span class="k">end</span>
<a name="gbab-94"></a>
<a name="gbab-95"></a>          <span class="kp">true</span>
<a name="gbab-96"></a>        <span class="k">end</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a>
<a name="gbab-99"></a>          <span class="n">urls_only_differ_by_case</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-100"></a>          <span class="n">urls</span> <span class="o">=</span> <span class="n">case_insensitive_urls</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">pages</span> <span class="o">+</span> <span class="n">site</span><span class="o">.</span><span class="n">posts</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-101"></a>          <span class="n">urls</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">case_insensitive_url</span><span class="p">,</span> <span class="n">real_urls</span><span class="o">|</span>
<a name="gbab-102"></a>          <span class="n">urls</span><span class="o">.</span><span class="n">each_value</span> <span class="k">do</span> <span class="o">|</span><span class="n">real_urls</span><span class="o">|</span>
<a name="gbab-103"></a>            <span class="k">next</span> <span class="k">unless</span> <span class="n">real_urls</span><span class="o">.</span><span class="n">uniq</span><span class="o">.</span><span class="n">size</span> <span class="o">&gt;</span> <span class="mi">1</span>
<a name="gbab-104"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Warning:&quot;</span><span class="p">,</span> <span class="s2">&quot;The following URLs only differ&quot;</span> <span class="o">+</span>
<a name="gbab-105"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Warning:&quot;</span><span class="p">,</span> <span class="s2">&quot;The following URLs only differ&quot;</span> <span class="p">\</span>
<a name="gbab-106"></a>                <span class="s2">&quot; by case. On a case-insensitive file system one of the URLs&quot;</span> <span class="p">\</span>
<a name="gbab-107"></a>            <span class="k">end</span>
<a name="gbab-108"></a>          <span class="k">end</span>
<a name="gbab-109"></a>        <span class="k">end</span>
<a name="gbab-110"></a>
<a name="gbab-111"></a>        <span class="kp">private</span>
<a name="gbab-112"></a>        <span class="k">def</span> <span class="nf">proper_site_url?</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-113"></a>          <span class="n">url</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;url&quot;</span><span class="o">]</span>
<a name="gbab-114"></a>          <span class="o">[</span>
<a name="gbab-115"></a>            <span class="n">url_exists?</span><span class="p">(</span><span class="n">url</span><span class="p">),</span>
<a name="gbab-116"></a>            <span class="n">url_valid?</span><span class="p">(</span><span class="n">url</span><span class="p">),</span>
<a name="gbab-117"></a>            <span class="n">url_absolute</span><span class="p">(</span><span class="n">url</span><span class="p">),</span>
<a name="gbab-118"></a>          <span class="o">].</span><span class="n">all?</span>
<a name="gbab-119"></a>        <span class="k">end</span>
<a name="gbab-120"></a>
<a name="gbab-121"></a>
<a name="gbab-122"></a>        <span class="k">def</span> <span class="nf">collect_urls</span><span class="p">(</span><span class="n">urls</span><span class="p">,</span> <span class="n">things</span><span class="p">,</span> <span class="n">destination</span><span class="p">)</span>
<a name="gbab-123"></a>          <span class="n">things</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">thing</span><span class="o">|</span>
<a name="gbab-124"></a>            <span class="n">dest</span> <span class="o">=</span> <span class="n">thing</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">destination</span><span class="p">)</span>
<a name="gbab-125"></a>            <span class="k">if</span> <span class="n">urls</span><span class="o">[</span><span class="n">dest</span><span class="o">]</span>
<a name="gbab-126"></a>              <span class="n">urls</span><span class="o">[</span><span class="n">dest</span><span class="o">]</span> <span class="o">&lt;&lt;</span> <span class="n">thing</span><span class="o">.</span><span class="n">path</span>
<a name="gbab-127"></a>            <span class="k">else</span>
<a name="gbab-128"></a>              <span class="n">urls</span><span class="o">[</span><span class="n">dest</span><span class="o">]</span> <span class="o">=</span> <span class="o">[</span><span class="n">thing</span><span class="o">.</span><span class="n">path</span><span class="o">]</span>
<a name="gbab-129"></a>            <span class="k">end</span>
<a name="gbab-130"></a>          <span class="k">end</span>
<a name="gbab-131"></a>          <span class="n">urls</span>
<a name="gbab-132"></a>        <span class="k">end</span>
<a name="gbab-133"></a>
<a name="gbab-134"></a>        <span class="k">def</span> <span class="nf">case_insensitive_urls</span><span class="p">(</span><span class="n">things</span><span class="p">,</span> <span class="n">destination</span><span class="p">)</span>
<a name="gbab-135"></a>          <span class="n">things</span><span class="o">.</span><span class="n">each_with_object</span><span class="p">({})</span> <span class="k">do</span> <span class="o">|</span><span class="n">thing</span><span class="p">,</span> <span class="n">memo</span><span class="o">|</span>
<a name="gbab-136"></a>            <span class="n">dest</span> <span class="o">=</span> <span class="n">thing</span><span class="o">.</span><span class="n">destination</span><span class="p">(</span><span class="n">destination</span><span class="p">)</span> 
<a name="gbab-137"></a>            <span class="p">(</span><span class="n">memo</span><span class="o">[</span><span class="n">dest</span><span class="o">.</span><span class="n">downcase</span><span class="o">]</span> <span class="o">||=</span> <span class="o">[]</span><span class="p">)</span> <span class="o">&lt;&lt;</span> <span class="n">dest</span>
<a name="gbab-138"></a>          <span class="k">end</span>
<a name="gbab-139"></a>        <span class="k">end</span>
<a name="gbab-140"></a>
<a name="gbab-141"></a>        <span class="k">def</span> <span class="nf">url_exists?</span><span class="p">(</span><span class="n">url</span><span class="p">)</span>
<a name="gbab-142"></a>          <span class="k">return</span> <span class="kp">true</span> <span class="k">unless</span> <span class="n">url</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">url</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-143"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Warning:&quot;</span><span class="p">,</span> <span class="s2">&quot;You didn&#39;t set an URL in the config file, &quot;</span><span class="p">\</span>
<a name="gbab-144"></a>              <span class="s2">&quot;you may encounter problems with some plugins.&quot;</span>
<a name="gbab-145"></a>          <span class="kp">false</span>
<a name="gbab-146"></a>        <span class="k">end</span>
<a name="gbab-147"></a>
<a name="gbab-148"></a>        <span class="k">def</span> <span class="nf">url_valid?</span><span class="p">(</span><span class="n">url</span><span class="p">)</span>
<a name="gbab-149"></a>          <span class="no">Addressable</span><span class="o">::</span><span class="no">URI</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">url</span><span class="p">)</span>
<a name="gbab-150"></a>          <span class="kp">true</span>
<a name="gbab-151"></a>        <span class="c1"># Addressable::URI#parse only raises a TypeError</span>
<a name="gbab-152"></a>        <span class="c1"># https://git.io/vFfbx</span>
<a name="gbab-153"></a>        <span class="k">rescue</span> <span class="no">TypeError</span>
<a name="gbab-154"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Warning:&quot;</span><span class="p">,</span> <span class="s2">&quot;The site URL does not seem to be valid, &quot;</span><span class="p">\</span>
<a name="gbab-155"></a>              <span class="s2">&quot;check the value of `url` in your config file.&quot;</span>
<a name="gbab-156"></a>          <span class="kp">false</span>
<a name="gbab-157"></a>        <span class="k">end</span>
<a name="gbab-158"></a>
<a name="gbab-159"></a>        <span class="k">def</span> <span class="nf">url_absolute</span><span class="p">(</span><span class="n">url</span><span class="p">)</span>
<a name="gbab-160"></a>          <span class="k">return</span> <span class="kp">true</span> <span class="k">if</span> <span class="no">Addressable</span><span class="o">::</span><span class="no">URI</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">url</span><span class="p">)</span><span class="o">.</span><span class="n">absolute?</span>
<a name="gbab-161"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Warning:&quot;</span><span class="p">,</span> <span class="s2">&quot;Your site URL does not seem to be absolute, &quot;</span><span class="p">\</span>
<a name="gbab-162"></a>              <span class="s2">&quot;check the value of `url` in your config file.&quot;</span>
<a name="gbab-163"></a>          <span class="kp">false</span>
<a name="gbab-164"></a>        <span class="k">end</span>
<a name="gbab-165"></a>      <span class="k">end</span>
<a name="gbab-166"></a>    <span class="k">end</span>
<a name="gbab-167"></a>  <span class="k">end</span>
<a name="gbab-168"></a><span class="k">end</span>
</pre></div>
</td></tr></table>