<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestSiteDrop</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="n">context</span> <span class="s2">&quot;a site drop&quot;</span> <span class="k">do</span>
<a name="gbab-7"></a>    <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-8"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">fixture_site</span><span class="p">({</span>
<a name="gbab-9"></a>        <span class="s2">&quot;collections&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;thanksgiving&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-10"></a>      <span class="p">})</span>
<a name="gbab-11"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">process</span>
<a name="gbab-12"></a>      <span class="vi">@drop</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">.</span><span class="n">site</span>
<a name="gbab-13"></a>    <span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>    <span class="n">should</span> <span class="s2">&quot;respond to `key?`&quot;</span> <span class="k">do</span>
<a name="gbab-16"></a>      <span class="n">assert</span> <span class="vi">@drop</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:key?</span><span class="p">)</span>
<a name="gbab-17"></a>    <span class="k">end</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>    <span class="n">should</span> <span class="s2">&quot;find a key if it&#39;s in the collection of the drop&quot;</span> <span class="k">do</span>
<a name="gbab-20"></a>      <span class="n">assert</span> <span class="vi">@drop</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;thanksgiving&quot;</span><span class="p">)</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>  <span class="k">end</span>
<a name="gbab-23"></a><span class="k">end</span>
</pre></div>
</td></tr></table>