<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;helper&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">TestTheme</span> <span class="o">&lt;</span> <span class="no">JekyllUnitTest</span>
<a name="gbab-6"></a>  <span class="k">def</span> <span class="nf">setup</span>
<a name="gbab-7"></a>    <span class="vi">@theme</span> <span class="o">=</span> <span class="no">Theme</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;test-theme&quot;</span><span class="p">)</span>
<a name="gbab-8"></a>  <span class="k">end</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>  <span class="n">context</span> <span class="s2">&quot;initializing&quot;</span> <span class="k">do</span>
<a name="gbab-11"></a>    <span class="n">should</span> <span class="s2">&quot;normalize the theme name&quot;</span> <span class="k">do</span>
<a name="gbab-12"></a>      <span class="n">theme</span> <span class="o">=</span> <span class="no">Theme</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot; Test-Theme &quot;</span><span class="p">)</span>
<a name="gbab-13"></a>      <span class="n">assert_equal</span> <span class="s2">&quot;test-theme&quot;</span><span class="p">,</span> <span class="n">theme</span><span class="o">.</span><span class="n">name</span>
<a name="gbab-14"></a>    <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>    <span class="n">should</span> <span class="s2">&quot;know the theme root&quot;</span> <span class="k">do</span>
<a name="gbab-17"></a>      <span class="n">assert_equal</span> <span class="n">theme_dir</span><span class="p">,</span> <span class="vi">@theme</span><span class="o">.</span><span class="n">root</span>
<a name="gbab-18"></a>    <span class="k">end</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>    <span class="n">should</span> <span class="s2">&quot;know the theme version&quot;</span> <span class="k">do</span>
<a name="gbab-21"></a>      <span class="n">assert_equal</span> <span class="no">Gem</span><span class="o">::</span><span class="no">Version</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;0.1.0&quot;</span><span class="p">),</span> <span class="vi">@theme</span><span class="o">.</span><span class="n">version</span>
<a name="gbab-22"></a>    <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>    <span class="n">should</span> <span class="s2">&quot;raise an error for invalid themes&quot;</span> <span class="k">do</span>
<a name="gbab-25"></a>      <span class="n">assert_raises</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">MissingDependencyException</span> <span class="k">do</span>
<a name="gbab-26"></a>        <span class="no">Theme</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;foo&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">version</span>
<a name="gbab-27"></a>      <span class="k">end</span>
<a name="gbab-28"></a>    <span class="k">end</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a>    <span class="n">should</span> <span class="s2">&quot;add itself to sass&#39;s load path&quot;</span> <span class="k">do</span>
<a name="gbab-31"></a>      <span class="vi">@theme</span><span class="o">.</span><span class="n">configure_sass</span>
<a name="gbab-32"></a>      <span class="n">message</span> <span class="o">=</span> <span class="s2">&quot;Sass load paths should include the theme sass dir&quot;</span>
<a name="gbab-33"></a>      <span class="n">assert</span> <span class="no">Sass</span><span class="o">.</span><span class="n">load_paths</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="vi">@theme</span><span class="o">.</span><span class="n">sass_path</span><span class="p">),</span> <span class="n">message</span>
<a name="gbab-34"></a>    <span class="k">end</span>
<a name="gbab-35"></a>  <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>  <span class="n">context</span> <span class="s2">&quot;path generation&quot;</span> <span class="k">do</span>
<a name="gbab-38"></a>    <span class="o">[</span><span class="ss">:assets</span><span class="p">,</span> <span class="ss">:_layouts</span><span class="p">,</span> <span class="ss">:_includes</span><span class="p">,</span> <span class="ss">:_sass</span><span class="o">].</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">folder</span><span class="o">|</span>
<a name="gbab-39"></a>      <span class="n">should</span> <span class="s2">&quot;know the </span><span class="si">#{</span><span class="n">folder</span><span class="si">}</span><span class="s2"> path&quot;</span> <span class="k">do</span>
<a name="gbab-40"></a>        <span class="n">expected</span> <span class="o">=</span> <span class="n">theme_dir</span><span class="p">(</span><span class="n">folder</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<a name="gbab-41"></a>        <span class="n">assert_equal</span> <span class="n">expected</span><span class="p">,</span> <span class="vi">@theme</span><span class="o">.</span><span class="n">public_send</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">folder</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">tr</span><span class="p">(</span><span class="s2">&quot;_&quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span><span class="si">}</span><span class="s2">_path&quot;</span><span class="p">)</span>
<a name="gbab-42"></a>      <span class="k">end</span>
<a name="gbab-43"></a>    <span class="k">end</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>    <span class="n">should</span> <span class="s2">&quot;generate folder paths&quot;</span> <span class="k">do</span>
<a name="gbab-46"></a>      <span class="n">expected</span> <span class="o">=</span> <span class="n">theme_dir</span><span class="p">(</span><span class="s2">&quot;_sass&quot;</span><span class="p">)</span>
<a name="gbab-47"></a>      <span class="n">assert_equal</span> <span class="n">expected</span><span class="p">,</span> <span class="vi">@theme</span><span class="o">.</span><span class="n">send</span><span class="p">(</span><span class="ss">:path_for</span><span class="p">,</span> <span class="ss">:_sass</span><span class="p">)</span>
<a name="gbab-48"></a>    <span class="k">end</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a>    <span class="n">should</span> <span class="s2">&quot;not allow paths outside of the theme root&quot;</span> <span class="k">do</span>
<a name="gbab-51"></a>      <span class="n">assert_nil</span> <span class="vi">@theme</span><span class="o">.</span><span class="n">send</span><span class="p">(</span><span class="ss">:path_for</span><span class="p">,</span> <span class="s2">&quot;../../source&quot;</span><span class="p">)</span>
<a name="gbab-52"></a>    <span class="k">end</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>    <span class="n">should</span> <span class="s2">&quot;return nil for paths that don&#39;t exist&quot;</span> <span class="k">do</span>
<a name="gbab-55"></a>      <span class="n">assert_nil</span> <span class="vi">@theme</span><span class="o">.</span><span class="n">send</span><span class="p">(</span><span class="ss">:path_for</span><span class="p">,</span> <span class="s2">&quot;foo&quot;</span><span class="p">)</span>
<a name="gbab-56"></a>    <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>    <span class="n">should</span> <span class="s2">&quot;return the resolved path when a symlink &amp; resolved path exists&quot;</span> <span class="k">do</span>
<a name="gbab-59"></a>      <span class="c1"># no support for symlinks on Windows</span>
<a name="gbab-60"></a>      <span class="n">skip_if_windows</span> <span class="s2">&quot;Jekyll does not currently support symlinks on Windows.&quot;</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>      <span class="n">expected</span> <span class="o">=</span> <span class="n">theme_dir</span><span class="p">(</span><span class="s2">&quot;_layouts&quot;</span><span class="p">)</span>
<a name="gbab-63"></a>      <span class="n">assert_equal</span> <span class="n">expected</span><span class="p">,</span> <span class="vi">@theme</span><span class="o">.</span><span class="n">send</span><span class="p">(</span><span class="ss">:path_for</span><span class="p">,</span> <span class="ss">:_symlink</span><span class="p">)</span>
<a name="gbab-64"></a>    <span class="k">end</span>
<a name="gbab-65"></a>  <span class="k">end</span>
<a name="gbab-66"></a>
<a name="gbab-67"></a>  <span class="n">context</span> <span class="s2">&quot;invalid theme&quot;</span> <span class="k">do</span>
<a name="gbab-68"></a>    <span class="n">context</span> <span class="s2">&quot;initializing&quot;</span> <span class="k">do</span>
<a name="gbab-69"></a>      <span class="n">setup</span> <span class="k">do</span>
<a name="gbab-70"></a>        <span class="n">stub_gemspec</span> <span class="o">=</span> <span class="no">Object</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-71"></a>
<a name="gbab-72"></a>        <span class="c1"># the directory for this theme should not exist</span>
<a name="gbab-73"></a>        <span class="n">allow</span><span class="p">(</span><span class="n">stub_gemspec</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:full_gem_path</span><span class="p">)</span>
<a name="gbab-74"></a>          <span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;test/fixtures/test-non-existent-theme&quot;</span><span class="p">,</span> <span class="n">__dir__</span><span class="p">))</span>
<a name="gbab-75"></a>
<a name="gbab-76"></a>        <span class="n">allow</span><span class="p">(</span><span class="no">Gem</span><span class="o">::</span><span class="no">Specification</span><span class="p">)</span><span class="o">.</span><span class="n">to</span> <span class="n">receive</span><span class="p">(</span><span class="ss">:find_by_name</span><span class="p">)</span>
<a name="gbab-77"></a>          <span class="o">.</span><span class="n">with</span><span class="p">(</span><span class="s2">&quot;test-non-existent-theme&quot;</span><span class="p">)</span>
<a name="gbab-78"></a>          <span class="o">.</span><span class="n">and_return</span><span class="p">(</span><span class="n">stub_gemspec</span><span class="p">)</span>
<a name="gbab-79"></a>      <span class="k">end</span>
<a name="gbab-80"></a>
<a name="gbab-81"></a>      <span class="n">should</span> <span class="s2">&quot;raise when getting theme root&quot;</span> <span class="k">do</span>
<a name="gbab-82"></a>        <span class="n">error</span> <span class="o">=</span> <span class="n">assert_raises</span><span class="p">(</span><span class="no">RuntimeError</span><span class="p">)</span> <span class="p">{</span> <span class="no">Theme</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;test-non-existent-theme&quot;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-83"></a>        <span class="n">assert_match</span><span class="p">(</span><span class="sr">%r!fixtures\/test-non-existent-theme does not exist!</span><span class="p">,</span> <span class="n">error</span><span class="o">.</span><span class="n">message</span><span class="p">)</span>
<a name="gbab-84"></a>      <span class="k">end</span>
<a name="gbab-85"></a>    <span class="k">end</span>
<a name="gbab-86"></a>  <span class="k">end</span>
<a name="gbab-87"></a>
<a name="gbab-88"></a>  <span class="n">should</span> <span class="s2">&quot;retrieve the gemspec&quot;</span> <span class="k">do</span>
<a name="gbab-89"></a>    <span class="n">assert_equal</span> <span class="s2">&quot;test-theme-0.1.0&quot;</span><span class="p">,</span> <span class="vi">@theme</span><span class="o">.</span><span class="n">send</span><span class="p">(</span><span class="ss">:gemspec</span><span class="p">)</span><span class="o">.</span><span class="n">full_name</span>
<a name="gbab-90"></a>  <span class="k">end</span>
<a name="gbab-91"></a><span class="k">end</span>
</pre></div>
</td></tr></table>