<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Commands</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">Help</span> <span class="o">&lt;</span> <span class="no">Command</span>
<a name="gbab-6"></a>      <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-7"></a>        <span class="k">def</span> <span class="nf">init_with_program</span><span class="p">(</span><span class="n">prog</span><span class="p">)</span>
<a name="gbab-8"></a>          <span class="n">prog</span><span class="o">.</span><span class="n">command</span><span class="p">(</span><span class="ss">:help</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-9"></a>            <span class="n">c</span><span class="o">.</span><span class="n">syntax</span> <span class="s2">&quot;help [subcommand]&quot;</span>
<a name="gbab-10"></a>            <span class="n">c</span><span class="o">.</span><span class="n">description</span> <span class="s2">&quot;Show the help message, optionally for a given subcommand.&quot;</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>            <span class="n">c</span><span class="o">.</span><span class="n">action</span> <span class="k">do</span> <span class="o">|</span><span class="n">args</span><span class="p">,</span> <span class="n">_</span><span class="o">|</span>
<a name="gbab-13"></a>              <span class="n">cmd</span> <span class="o">=</span> <span class="p">(</span><span class="n">args</span><span class="o">.</span><span class="n">first</span> <span class="o">||</span> <span class="s2">&quot;&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">to_sym</span>
<a name="gbab-14"></a>              <span class="k">if</span> <span class="n">args</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-15"></a>                <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="n">prog</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-16"></a>              <span class="k">elsif</span> <span class="n">prog</span><span class="o">.</span><span class="n">has_command?</span> <span class="n">cmd</span>
<a name="gbab-17"></a>                <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="n">prog</span><span class="o">.</span><span class="n">commands</span><span class="o">[</span><span class="n">cmd</span><span class="o">].</span><span class="n">to_s</span>
<a name="gbab-18"></a>              <span class="k">else</span>
<a name="gbab-19"></a>                <span class="n">invalid_command</span><span class="p">(</span><span class="n">prog</span><span class="p">,</span> <span class="n">cmd</span><span class="p">)</span>
<a name="gbab-20"></a>                <span class="nb">abort</span>
<a name="gbab-21"></a>              <span class="k">end</span>
<a name="gbab-22"></a>            <span class="k">end</span>
<a name="gbab-23"></a>          <span class="k">end</span>
<a name="gbab-24"></a>        <span class="k">end</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a>        <span class="k">def</span> <span class="nf">invalid_command</span><span class="p">(</span><span class="n">prog</span><span class="p">,</span> <span class="n">cmd</span><span class="p">)</span>
<a name="gbab-27"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Error:&quot;</span><span class="p">,</span>
<a name="gbab-28"></a>                <span class="s2">&quot;Hmm... we don&#39;t know what the &#39;</span><span class="si">#{</span><span class="n">cmd</span><span class="si">}</span><span class="s2">&#39; command is.&quot;</span>
<a name="gbab-29"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span>  <span class="s2">&quot;Valid commands:&quot;</span><span class="p">,</span> <span class="n">prog</span><span class="o">.</span><span class="n">commands</span><span class="o">.</span><span class="n">keys</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;, &quot;</span><span class="p">)</span>
<a name="gbab-30"></a>        <span class="k">end</span>
<a name="gbab-31"></a>      <span class="k">end</span>
<a name="gbab-32"></a>    <span class="k">end</span>
<a name="gbab-33"></a>  <span class="k">end</span>
<a name="gbab-34"></a><span class="k">end</span>
</pre></div>
</td></tr></table>