<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Commands</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">Build</span> <span class="o">&lt;</span> <span class="no">Command</span>
<a name="gbab-6"></a>      <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-7"></a>        <span class="c1"># Create the Mercenary command for the Jekyll CLI for this Command</span>
<a name="gbab-8"></a>        <span class="k">def</span> <span class="nf">init_with_program</span><span class="p">(</span><span class="n">prog</span><span class="p">)</span>
<a name="gbab-9"></a>          <span class="n">prog</span><span class="o">.</span><span class="n">command</span><span class="p">(</span><span class="ss">:build</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-10"></a>            <span class="n">c</span><span class="o">.</span><span class="n">syntax</span>      <span class="s2">&quot;build [options]&quot;</span>
<a name="gbab-11"></a>            <span class="n">c</span><span class="o">.</span><span class="n">description</span> <span class="s2">&quot;Build your site&quot;</span>
<a name="gbab-12"></a>            <span class="n">c</span><span class="o">.</span><span class="n">alias</span> <span class="ss">:b</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>            <span class="n">add_build_options</span><span class="p">(</span><span class="n">c</span><span class="p">)</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>            <span class="n">c</span><span class="o">.</span><span class="n">action</span> <span class="k">do</span> <span class="o">|</span><span class="n">_</span><span class="p">,</span> <span class="n">options</span><span class="o">|</span>
<a name="gbab-17"></a>              <span class="n">options</span><span class="o">[</span><span class="s2">&quot;serving&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-18"></a>              <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">Build</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-19"></a>            <span class="k">end</span>
<a name="gbab-20"></a>          <span class="k">end</span>
<a name="gbab-21"></a>        <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>        <span class="c1"># Build your jekyll site</span>
<a name="gbab-24"></a>        <span class="c1"># Continuously watch if `watch` is set to true in the config.</span>
<a name="gbab-25"></a>        <span class="k">def</span> <span class="nf">process</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-26"></a>          <span class="c1"># Adjust verbosity quickly</span>
<a name="gbab-27"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">adjust_verbosity</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>          <span class="n">options</span> <span class="o">=</span> <span class="n">configuration_from_options</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-30"></a>      <span class="n">site</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Site</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>          <span class="k">if</span> <span class="n">options</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;skip_initial_build&quot;</span><span class="p">,</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-33"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Build Warning:&quot;</span><span class="p">,</span> <span class="s2">&quot;Skipping the initial build.&quot;</span> <span class="p">\</span>
<a name="gbab-34"></a>                        <span class="s2">&quot; This may result in an out-of-date site.&quot;</span>
<a name="gbab-35"></a>          <span class="k">else</span>
<a name="gbab-36"></a>        <span class="n">build</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-37"></a>          <span class="k">end</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>          <span class="k">if</span> <span class="n">options</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;detach&quot;</span><span class="p">,</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-40"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Auto-regeneration:&quot;</span><span class="p">,</span>
<a name="gbab-41"></a>              <span class="s2">&quot;disabled when running server detached.&quot;</span>
<a name="gbab-42"></a>          <span class="k">elsif</span> <span class="n">options</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;watch&quot;</span><span class="p">,</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-43"></a>            <span class="n">watch</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-44"></a>          <span class="k">else</span>
<a name="gbab-45"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Auto-regeneration:&quot;</span><span class="p">,</span> <span class="s2">&quot;disabled. Use --watch to enable.&quot;</span>
<a name="gbab-46"></a>          <span class="k">end</span>
<a name="gbab-47"></a>    <span class="k">end</span>
<a name="gbab-48"></a>
<a name="gbab-49"></a>        <span class="c1"># Build your Jekyll site.</span>
<a name="gbab-50"></a>    <span class="c1">#</span>
<a name="gbab-51"></a>        <span class="c1"># site - the Jekyll::Site instance to build</span>
<a name="gbab-52"></a>        <span class="c1"># options - A Hash of options passed to the command</span>
<a name="gbab-53"></a>    <span class="c1">#</span>
<a name="gbab-54"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-55"></a>        <span class="k">def</span> <span class="nf">build</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-56"></a>          <span class="n">t</span> <span class="o">=</span> <span class="no">Time</span><span class="o">.</span><span class="n">now</span>
<a name="gbab-57"></a>          <span class="n">source</span>      <span class="o">=</span> <span class="n">options</span><span class="o">[</span><span class="s2">&quot;source&quot;</span><span class="o">]</span>
<a name="gbab-58"></a>          <span class="n">destination</span> <span class="o">=</span> <span class="n">options</span><span class="o">[</span><span class="s2">&quot;destination&quot;</span><span class="o">]</span>
<a name="gbab-59"></a>          <span class="n">incremental</span> <span class="o">=</span> <span class="n">options</span><span class="o">[</span><span class="s2">&quot;incremental&quot;</span><span class="o">]</span>
<a name="gbab-60"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Source:&quot;</span><span class="p">,</span> <span class="n">source</span>
<a name="gbab-61"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Destination:&quot;</span><span class="p">,</span> <span class="n">destination</span>
<a name="gbab-62"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Incremental build:&quot;</span><span class="p">,</span>
<a name="gbab-63"></a>            <span class="p">(</span><span class="n">incremental</span> <span class="p">?</span> <span class="s2">&quot;enabled&quot;</span> <span class="p">:</span> <span class="s2">&quot;disabled. Enable with --incremental&quot;</span><span class="p">)</span>
<a name="gbab-64"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Generating...&quot;</span>
<a name="gbab-65"></a>        <span class="n">process_site</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-66"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;done in </span><span class="si">#{</span><span class="p">(</span><span class="no">Time</span><span class="o">.</span><span class="n">now</span> <span class="o">-</span> <span class="n">t</span><span class="p">)</span><span class="o">.</span><span class="n">round</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span><span class="si">}</span><span class="s2"> seconds.&quot;</span>
<a name="gbab-67"></a>      <span class="k">end</span>
<a name="gbab-68"></a>        <span class="nb">puts</span> <span class="s2">&quot;done.&quot;</span>
<a name="gbab-69"></a>    <span class="k">end</span>
<a name="gbab-70"></a>
<a name="gbab-71"></a>    <span class="c1"># Private: Watch for file changes and rebuild the site.</span>
<a name="gbab-72"></a>    <span class="c1">#</span>
<a name="gbab-73"></a>    <span class="c1"># site - A Jekyll::Site instance</span>
<a name="gbab-74"></a>              <span class="c1"># Could not find a relative path</span>
<a name="gbab-75"></a>        <span class="k">def</span> <span class="nf">watch</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
<a name="gbab-76"></a>          <span class="c1"># Warn Windows users that they might need to upgrade.</span>
<a name="gbab-77"></a>          <span class="k">if</span> <span class="no">Utils</span><span class="o">::</span><span class="no">Platforms</span><span class="o">.</span><span class="n">bash_on_windows?</span>
<a name="gbab-78"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-79"></a>              <span class="s2">&quot;Auto-regeneration may not work on some Windows versions.&quot;</span>
<a name="gbab-80"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-81"></a>              <span class="s2">&quot;Please see: https://github.com/Microsoft/BashOnWindows/issues/216&quot;</span>
<a name="gbab-82"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-83"></a>              <span class="s2">&quot;If it does not work, please upgrade Bash on Windows or &quot;</span><span class="p">\</span>
<a name="gbab-84"></a>                <span class="s2">&quot;run Jekyll with --no-watch.&quot;</span>
<a name="gbab-85"></a>          <span class="k">end</span>
<a name="gbab-86"></a>
<a name="gbab-87"></a>          <span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span> <span class="s2">&quot;jekyll-watch&quot;</span>
<a name="gbab-88"></a>          <span class="n">watch_method</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Watcher</span><span class="o">.</span><span class="n">method</span><span class="p">(</span><span class="ss">:watch</span><span class="p">)</span>
<a name="gbab-89"></a>          <span class="k">if</span> <span class="n">watch_method</span><span class="o">.</span><span class="n">parameters</span><span class="o">.</span><span class="n">size</span> <span class="o">==</span> <span class="mi">1</span>
<a name="gbab-90"></a>              <span class="n">watch_method</span><span class="o">.</span><span class="n">call</span><span class="p">(</span>
<a name="gbab-91"></a>                <span class="n">options</span>
<a name="gbab-92"></a>              <span class="p">)</span>
<a name="gbab-93"></a>          <span class="k">else</span>
<a name="gbab-94"></a>              <span class="n">watch_method</span><span class="o">.</span><span class="n">call</span><span class="p">(</span>
<a name="gbab-95"></a>                <span class="n">options</span><span class="p">,</span> <span class="n">site</span>
<a name="gbab-96"></a>              <span class="p">)</span>
<a name="gbab-97"></a>            <span class="k">end</span>
<a name="gbab-98"></a>          <span class="k">end</span>
<a name="gbab-99"></a>      <span class="k">end</span>
<a name="gbab-100"></a>
<a name="gbab-101"></a>        <span class="kp">loop</span> <span class="p">{</span> <span class="nb">sleep</span> <span class="mi">1000</span> <span class="p">}</span>
<a name="gbab-102"></a>      <span class="k">end</span>
<a name="gbab-103"></a>    <span class="k">end</span>
<a name="gbab-104"></a>  <span class="k">end</span>
<a name="gbab-105"></a>  <span class="k">end</span>
<a name="gbab-106"></a><span class="k">end</span>
</pre></div>
</td></tr></table>