<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1">#!/usr/bin/env ruby</span>
<a name="gbab-2"></a><span class="nb">require</span> <span class="s2">&quot;liquid&quot;</span>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;benchmark/ips&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="nb">puts</span> <span class="s2">&quot;Ruby </span><span class="si">#{</span><span class="no">RUBY_VERSION</span><span class="si">}</span><span class="s2">-p</span><span class="si">#{</span><span class="no">RUBY_PATCHLEVEL</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-6"></a><span class="nb">puts</span> <span class="s2">&quot;Liquid </span><span class="si">#{</span><span class="no">Liquid</span><span class="o">::</span><span class="no">VERSION</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a><span class="n">template1</span> <span class="o">=</span> <span class="s1">&#39;{% capture foobar %}foo{{ bar }}{% endcapture %}{{ foo }}{{ foobar }}&#39;</span>
<a name="gbab-9"></a><span class="n">template2</span> <span class="o">=</span> <span class="s1">&#39;{% assign foobar = &quot;foo&quot; | append: bar %}{{ foobar }}&#39;</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a><span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="n">template</span><span class="p">)</span>
<a name="gbab-12"></a>    <span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">template</span><span class="p">)</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="s2">&quot;bar&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;42&quot;</span><span class="p">)</span>
<a name="gbab-13"></a><span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a><span class="nb">puts</span> <span class="n">render</span><span class="p">(</span><span class="n">template1</span><span class="p">)</span>
<a name="gbab-16"></a><span class="nb">puts</span> <span class="n">render</span><span class="p">(</span><span class="n">template2</span><span class="p">)</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a><span class="no">Benchmark</span><span class="o">.</span><span class="n">ips</span> <span class="k">do</span> <span class="o">|</span><span class="n">x</span><span class="o">|</span>
<a name="gbab-19"></a>  <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s1">&#39;capture&#39;</span><span class="p">)</span> <span class="p">{</span> <span class="n">render</span><span class="p">(</span><span class="n">template1</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-20"></a>  <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s1">&#39;assign&#39;</span><span class="p">)</span>  <span class="p">{</span> <span class="n">render</span><span class="p">(</span><span class="n">template2</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-21"></a><span class="k">end</span>
</pre></div>
</td></tr></table>