<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;http/parser&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-6"></a>  <span class="k">module</span> <span class="nn">Commands</span>
<a name="gbab-7"></a>    <span class="k">class</span> <span class="nc">Serve</span>
<a name="gbab-8"></a>      <span class="c1"># The LiveReload protocol requires the server to serve livereload.js over HTTP</span>
<a name="gbab-9"></a>      <span class="c1"># despite the fact that the protocol itself uses WebSockets.  This custom connection</span>
<a name="gbab-10"></a>      <span class="c1"># class addresses the dual protocols that the server needs to understand.</span>
<a name="gbab-11"></a>      <span class="k">class</span> <span class="nc">HttpAwareConnection</span> <span class="o">&lt;</span> <span class="no">EventMachine</span><span class="o">::</span><span class="no">WebSocket</span><span class="o">::</span><span class="no">Connection</span>
<a name="gbab-12"></a>        <span class="kp">attr_reader</span> <span class="ss">:reload_body</span><span class="p">,</span> <span class="ss">:reload_size</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>        <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">_opts</span><span class="p">)</span>
<a name="gbab-15"></a>          <span class="c1"># If EventMachine SSL support on Windows ever gets better, the code below will</span>
<a name="gbab-16"></a>          <span class="c1"># set up the reactor to handle SSL</span>
<a name="gbab-17"></a>          <span class="c1">#</span>
<a name="gbab-18"></a>          <span class="c1"># @ssl_enabled = opts[&quot;ssl_cert&quot;] &amp;&amp; opts[&quot;ssl_key&quot;]</span>
<a name="gbab-19"></a>          <span class="c1"># if @ssl_enabled</span>
<a name="gbab-20"></a>          <span class="c1">#   em_opts[:tls_options] = {</span>
<a name="gbab-21"></a>          <span class="c1">#   :private_key_file =&gt; Jekyll.sanitized_path(opts[&quot;source&quot;], opts[&quot;ssl_key&quot;]),</span>
<a name="gbab-22"></a>          <span class="c1">#   :cert_chain_file  =&gt; Jekyll.sanitized_path(opts[&quot;source&quot;], opts[&quot;ssl_cert&quot;])</span>
<a name="gbab-23"></a>          <span class="c1">#   }</span>
<a name="gbab-24"></a>          <span class="c1">#   em_opts[:secure] = true</span>
<a name="gbab-25"></a>          <span class="c1"># end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>          <span class="c1"># This is too noisy even for --verbose, but uncomment if you need it for</span>
<a name="gbab-28"></a>          <span class="c1"># a specific WebSockets issue.  Adding ?LR-verbose=true onto the URL will</span>
<a name="gbab-29"></a>          <span class="c1"># enable logging on the client side.</span>
<a name="gbab-30"></a>          <span class="c1"># em_opts[:debug] = true</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>          <span class="n">em_opts</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-33"></a>          <span class="k">super</span><span class="p">(</span><span class="n">em_opts</span><span class="p">)</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>          <span class="n">reload_file</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="no">Serve</span><span class="o">.</span><span class="n">singleton_class</span><span class="o">::</span><span class="no">LIVERELOAD_DIR</span><span class="p">,</span> <span class="s2">&quot;livereload.js&quot;</span><span class="p">)</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>          <span class="vi">@reload_body</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">reload_file</span><span class="p">)</span>
<a name="gbab-38"></a>          <span class="vi">@reload_size</span> <span class="o">=</span> <span class="vi">@reload_body</span><span class="o">.</span><span class="n">bytesize</span>
<a name="gbab-39"></a>        <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>        <span class="c1"># rubocop:disable Metrics/MethodLength</span>
<a name="gbab-42"></a>        <span class="k">def</span> <span class="nf">dispatch</span><span class="p">(</span><span class="n">data</span><span class="p">)</span>
<a name="gbab-43"></a>          <span class="n">parser</span> <span class="o">=</span> <span class="no">Http</span><span class="o">::</span><span class="no">Parser</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-44"></a>          <span class="n">parser</span> <span class="o">&lt;&lt;</span> <span class="n">data</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>          <span class="c1"># WebSockets requests will have a Connection: Upgrade header</span>
<a name="gbab-47"></a>          <span class="k">if</span> <span class="n">parser</span><span class="o">.</span><span class="n">http_method</span> <span class="o">!=</span> <span class="s2">&quot;GET&quot;</span> <span class="o">||</span> <span class="n">parser</span><span class="o">.</span><span class="n">upgrade?</span>
<a name="gbab-48"></a>            <span class="k">super</span>
<a name="gbab-49"></a>          <span class="k">elsif</span> <span class="n">parser</span><span class="o">.</span><span class="n">request_url</span> <span class="o">=~</span> <span class="sr">%r!^\/livereload.js!</span>
<a name="gbab-50"></a>            <span class="n">headers</span> <span class="o">=</span> <span class="o">[</span>
<a name="gbab-51"></a>              <span class="s2">&quot;HTTP/1.1 200 OK&quot;</span><span class="p">,</span>
<a name="gbab-52"></a>              <span class="s2">&quot;Content-Type: application/javascript&quot;</span><span class="p">,</span>
<a name="gbab-53"></a>              <span class="s2">&quot;Content-Length: </span><span class="si">#{</span><span class="n">reload_size</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span>
<a name="gbab-54"></a>              <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-55"></a>              <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-56"></a>            <span class="o">].</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\r\n</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-57"></a>            <span class="n">send_data</span><span class="p">(</span><span class="n">headers</span><span class="p">)</span>
<a name="gbab-58"></a>
<a name="gbab-59"></a>            <span class="c1"># stream_file_data would free us from keeping livereload.js in memory</span>
<a name="gbab-60"></a>            <span class="c1"># but JRuby blocks on that call and never returns</span>
<a name="gbab-61"></a>            <span class="n">send_data</span><span class="p">(</span><span class="n">reload_body</span><span class="p">)</span>
<a name="gbab-62"></a>            <span class="n">close_connection_after_writing</span>
<a name="gbab-63"></a>          <span class="k">else</span>
<a name="gbab-64"></a>            <span class="n">body</span> <span class="o">=</span> <span class="s2">&quot;This port only serves livereload.js over HTTP.</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-65"></a>            <span class="n">headers</span> <span class="o">=</span> <span class="o">[</span>
<a name="gbab-66"></a>              <span class="s2">&quot;HTTP/1.1 400 Bad Request&quot;</span><span class="p">,</span>
<a name="gbab-67"></a>              <span class="s2">&quot;Content-Type: text/plain&quot;</span><span class="p">,</span>
<a name="gbab-68"></a>              <span class="s2">&quot;Content-Length: </span><span class="si">#{</span><span class="n">body</span><span class="o">.</span><span class="n">bytesize</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span>
<a name="gbab-69"></a>              <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-70"></a>              <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-71"></a>            <span class="o">].</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\r\n</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-72"></a>            <span class="n">send_data</span><span class="p">(</span><span class="n">headers</span><span class="p">)</span>
<a name="gbab-73"></a>            <span class="n">send_data</span><span class="p">(</span><span class="n">body</span><span class="p">)</span>
<a name="gbab-74"></a>            <span class="n">close_connection_after_writing</span>
<a name="gbab-75"></a>          <span class="k">end</span>
<a name="gbab-76"></a>        <span class="k">end</span>
<a name="gbab-77"></a>      <span class="k">end</span>
<a name="gbab-78"></a>    <span class="k">end</span>
<a name="gbab-79"></a>  <span class="k">end</span>
<a name="gbab-80"></a><span class="k">end</span>
<a name="gbab-81"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-82"></a>
<a name="gbab-83"></a><span class="nb">require</span> <span class="s2">&quot;http/parser&quot;</span>
<a name="gbab-84"></a>
<a name="gbab-85"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-86"></a>  <span class="k">module</span> <span class="nn">Commands</span>
<a name="gbab-87"></a>    <span class="k">class</span> <span class="nc">Serve</span>
<a name="gbab-88"></a>      <span class="c1"># The LiveReload protocol requires the server to serve livereload.js over HTTP</span>
<a name="gbab-89"></a>      <span class="c1"># despite the fact that the protocol itself uses WebSockets.  This custom connection</span>
<a name="gbab-90"></a>      <span class="c1"># class addresses the dual protocols that the server needs to understand.</span>
<a name="gbab-91"></a>      <span class="k">class</span> <span class="nc">HttpAwareConnection</span> <span class="o">&lt;</span> <span class="no">EventMachine</span><span class="o">::</span><span class="no">WebSocket</span><span class="o">::</span><span class="no">Connection</span>
<a name="gbab-92"></a>        <span class="kp">attr_reader</span> <span class="ss">:reload_body</span><span class="p">,</span> <span class="ss">:reload_size</span>
<a name="gbab-93"></a>
<a name="gbab-94"></a>        <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">_opts</span><span class="p">)</span>
<a name="gbab-95"></a>          <span class="c1"># If EventMachine SSL support on Windows ever gets better, the code below will</span>
<a name="gbab-96"></a>          <span class="c1"># set up the reactor to handle SSL</span>
<a name="gbab-97"></a>          <span class="c1">#</span>
<a name="gbab-98"></a>          <span class="c1"># @ssl_enabled = opts[&quot;ssl_cert&quot;] &amp;&amp; opts[&quot;ssl_key&quot;]</span>
<a name="gbab-99"></a>          <span class="c1"># if @ssl_enabled</span>
<a name="gbab-100"></a>          <span class="c1">#   em_opts[:tls_options] = {</span>
<a name="gbab-101"></a>          <span class="c1">#   :private_key_file =&gt; Jekyll.sanitized_path(opts[&quot;source&quot;], opts[&quot;ssl_key&quot;]),</span>
<a name="gbab-102"></a>          <span class="c1">#   :cert_chain_file  =&gt; Jekyll.sanitized_path(opts[&quot;source&quot;], opts[&quot;ssl_cert&quot;])</span>
<a name="gbab-103"></a>          <span class="c1">#   }</span>
<a name="gbab-104"></a>          <span class="c1">#   em_opts[:secure] = true</span>
<a name="gbab-105"></a>          <span class="c1"># end</span>
<a name="gbab-106"></a>
<a name="gbab-107"></a>          <span class="c1"># This is too noisy even for --verbose, but uncomment if you need it for</span>
<a name="gbab-108"></a>          <span class="c1"># a specific WebSockets issue.  Adding ?LR-verbose=true onto the URL will</span>
<a name="gbab-109"></a>          <span class="c1"># enable logging on the client side.</span>
<a name="gbab-110"></a>          <span class="c1"># em_opts[:debug] = true</span>
<a name="gbab-111"></a>
<a name="gbab-112"></a>          <span class="n">em_opts</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-113"></a>          <span class="k">super</span><span class="p">(</span><span class="n">em_opts</span><span class="p">)</span>
<a name="gbab-114"></a>
<a name="gbab-115"></a>          <span class="n">reload_file</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="no">Serve</span><span class="o">.</span><span class="n">singleton_class</span><span class="o">::</span><span class="no">LIVERELOAD_DIR</span><span class="p">,</span> <span class="s2">&quot;livereload.js&quot;</span><span class="p">)</span>
<a name="gbab-116"></a>
<a name="gbab-117"></a>          <span class="vi">@reload_body</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">reload_file</span><span class="p">)</span>
<a name="gbab-118"></a>          <span class="vi">@reload_size</span> <span class="o">=</span> <span class="vi">@reload_body</span><span class="o">.</span><span class="n">bytesize</span>
<a name="gbab-119"></a>        <span class="k">end</span>
<a name="gbab-120"></a>
<a name="gbab-121"></a>        <span class="c1"># rubocop:disable Metrics/MethodLength</span>
<a name="gbab-122"></a>        <span class="k">def</span> <span class="nf">dispatch</span><span class="p">(</span><span class="n">data</span><span class="p">)</span>
<a name="gbab-123"></a>          <span class="n">parser</span> <span class="o">=</span> <span class="no">Http</span><span class="o">::</span><span class="no">Parser</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-124"></a>          <span class="n">parser</span> <span class="o">&lt;&lt;</span> <span class="n">data</span>
<a name="gbab-125"></a>
<a name="gbab-126"></a>          <span class="c1"># WebSockets requests will have a Connection: Upgrade header</span>
<a name="gbab-127"></a>          <span class="k">if</span> <span class="n">parser</span><span class="o">.</span><span class="n">http_method</span> <span class="o">!=</span> <span class="s2">&quot;GET&quot;</span> <span class="o">||</span> <span class="n">parser</span><span class="o">.</span><span class="n">upgrade?</span>
<a name="gbab-128"></a>            <span class="k">super</span>
<a name="gbab-129"></a>          <span class="k">elsif</span> <span class="n">parser</span><span class="o">.</span><span class="n">request_url</span> <span class="o">=~</span> <span class="sr">%r!^\/livereload.js!</span>
<a name="gbab-130"></a>            <span class="n">headers</span> <span class="o">=</span> <span class="o">[</span>
<a name="gbab-131"></a>              <span class="s2">&quot;HTTP/1.1 200 OK&quot;</span><span class="p">,</span>
<a name="gbab-132"></a>              <span class="s2">&quot;Content-Type: application/javascript&quot;</span><span class="p">,</span>
<a name="gbab-133"></a>              <span class="s2">&quot;Content-Length: </span><span class="si">#{</span><span class="n">reload_size</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span>
<a name="gbab-134"></a>              <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-135"></a>              <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-136"></a>            <span class="o">].</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\r\n</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-137"></a>            <span class="n">send_data</span><span class="p">(</span><span class="n">headers</span><span class="p">)</span>
<a name="gbab-138"></a>
<a name="gbab-139"></a>            <span class="c1"># stream_file_data would free us from keeping livereload.js in memory</span>
<a name="gbab-140"></a>            <span class="c1"># but JRuby blocks on that call and never returns</span>
<a name="gbab-141"></a>            <span class="n">send_data</span><span class="p">(</span><span class="n">reload_body</span><span class="p">)</span>
<a name="gbab-142"></a>            <span class="n">close_connection_after_writing</span>
<a name="gbab-143"></a>          <span class="k">else</span>
<a name="gbab-144"></a>            <span class="n">body</span> <span class="o">=</span> <span class="s2">&quot;This port only serves livereload.js over HTTP.</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-145"></a>            <span class="n">headers</span> <span class="o">=</span> <span class="o">[</span>
<a name="gbab-146"></a>              <span class="s2">&quot;HTTP/1.1 400 Bad Request&quot;</span><span class="p">,</span>
<a name="gbab-147"></a>              <span class="s2">&quot;Content-Type: text/plain&quot;</span><span class="p">,</span>
<a name="gbab-148"></a>              <span class="s2">&quot;Content-Length: </span><span class="si">#{</span><span class="n">body</span><span class="o">.</span><span class="n">bytesize</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span>
<a name="gbab-149"></a>              <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-150"></a>              <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-151"></a>            <span class="o">].</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\r\n</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-152"></a>            <span class="n">send_data</span><span class="p">(</span><span class="n">headers</span><span class="p">)</span>
<a name="gbab-153"></a>            <span class="n">send_data</span><span class="p">(</span><span class="n">body</span><span class="p">)</span>
<a name="gbab-154"></a>            <span class="n">close_connection_after_writing</span>
<a name="gbab-155"></a>          <span class="k">end</span>
<a name="gbab-156"></a>        <span class="k">end</span>
<a name="gbab-157"></a>      <span class="k">end</span>
<a name="gbab-158"></a>    <span class="k">end</span>
<a name="gbab-159"></a>  <span class="k">end</span>
<a name="gbab-160"></a><span class="k">end</span>
</pre></div>
</td></tr></table>