<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;erb&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">class</span> <span class="nc">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">NewTheme</span> <span class="o">&lt;</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Command</span>
<a name="gbab-6"></a>      <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-7"></a>        <span class="k">def</span> <span class="nf">init_with_program</span><span class="p">(</span><span class="n">prog</span><span class="p">)</span>
<a name="gbab-8"></a>          <span class="n">prog</span><span class="o">.</span><span class="n">command</span><span class="p">(</span><span class="ss">:&quot;new-theme&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-9"></a>        <span class="n">c</span><span class="o">.</span><span class="n">syntax</span> <span class="s2">&quot;new-theme NAME&quot;</span>
<a name="gbab-10"></a>        <span class="n">c</span><span class="o">.</span><span class="n">description</span> <span class="s2">&quot;Creates a new Jekyll theme scaffold&quot;</span>
<a name="gbab-11"></a>        <span class="n">c</span><span class="o">.</span><span class="n">option</span> <span class="s2">&quot;code_of_conduct&quot;</span><span class="p">,</span> <span class="p">\</span>
<a name="gbab-12"></a>          <span class="s2">&quot;-c&quot;</span><span class="p">,</span> <span class="s2">&quot;--code-of-conduct&quot;</span><span class="p">,</span> <span class="p">\</span>
<a name="gbab-13"></a>          <span class="s2">&quot;Include a Code of Conduct. (defaults to false)&quot;</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>        <span class="n">c</span><span class="o">.</span><span class="n">action</span> <span class="k">do</span> <span class="o">|</span><span class="n">args</span><span class="p">,</span> <span class="n">opts</span><span class="o">|</span>
<a name="gbab-16"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">Commands</span><span class="o">::</span><span class="no">NewTheme</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="n">args</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-17"></a>            <span class="k">end</span>
<a name="gbab-18"></a>          <span class="k">end</span>
<a name="gbab-19"></a>        <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>    <span class="c1"># rubocop:disable Metrics/AbcSize</span>
<a name="gbab-22"></a>    <span class="k">def</span> <span class="nf">process</span><span class="p">(</span><span class="n">args</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-23"></a>      <span class="k">if</span> <span class="o">!</span><span class="n">args</span> <span class="o">||</span> <span class="n">args</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-24"></a>        <span class="k">raise</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">InvalidThemeName</span><span class="p">,</span> <span class="s2">&quot;You must specify a theme name.&quot;</span>
<a name="gbab-25"></a>      <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>          <span class="n">new_theme_name</span> <span class="o">=</span> <span class="n">args</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;_&quot;</span><span class="p">)</span>
<a name="gbab-28"></a>      <span class="n">theme</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">ThemeBuilder</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">new_theme_name</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-29"></a>          <span class="k">if</span> <span class="n">theme</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">exist?</span>
<a name="gbab-30"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">abort_with</span> <span class="s2">&quot;Conflict:&quot;</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">theme</span><span class="o">.</span><span class="n">path</span><span class="si">}</span><span class="s2"> already exists.&quot;</span>
<a name="gbab-31"></a>          <span class="k">end</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>          <span class="n">theme</span><span class="o">.</span><span class="n">create!</span>
<a name="gbab-34"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Your new Jekyll theme, </span><span class="si">#{</span><span class="n">theme</span><span class="o">.</span><span class="n">name</span><span class="o">.</span><span class="n">cyan</span><span class="si">}</span><span class="s2">,&quot;</span> <span class="p">\</span>
<a name="gbab-35"></a>        <span class="s2">&quot; is ready for you in </span><span class="si">#{</span><span class="n">theme</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">cyan</span><span class="si">}</span><span class="s2">!&quot;</span>
<a name="gbab-36"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;For help getting started, read </span><span class="si">#{</span><span class="n">theme</span><span class="o">.</span><span class="n">path</span><span class="si">}</span><span class="s2">/README.md.&quot;</span>
<a name="gbab-37"></a>    <span class="k">end</span>
<a name="gbab-38"></a>    <span class="c1"># rubocop:enable Metrics/AbcSize</span>
<a name="gbab-39"></a>  <span class="k">end</span>
<a name="gbab-40"></a><span class="k">end</span>
</pre></div>
</td></tr></table>