<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;json&quot;</span>
<a name="gbab-4"></a><span class="nb">require</span> <span class="s2">&quot;em-websocket&quot;</span>
<a name="gbab-5"></a>
<a name="gbab-6"></a><span class="n">require_relative</span> <span class="s2">&quot;websockets&quot;</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-9"></a>  <span class="k">module</span> <span class="nn">Commands</span>
<a name="gbab-10"></a>    <span class="k">class</span> <span class="nc">Serve</span>
<a name="gbab-11"></a>      <span class="k">class</span> <span class="nc">LiveReloadReactor</span>
<a name="gbab-12"></a>        <span class="kp">attr_reader</span> <span class="ss">:started_event</span>
<a name="gbab-13"></a>        <span class="kp">attr_reader</span> <span class="ss">:stopped_event</span>
<a name="gbab-14"></a>        <span class="kp">attr_reader</span> <span class="ss">:thread</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>        <span class="k">def</span> <span class="nf">initialize</span>
<a name="gbab-17"></a>          <span class="vi">@websockets</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-18"></a>          <span class="vi">@connections_count</span> <span class="o">=</span> <span class="mi">0</span>
<a name="gbab-19"></a>          <span class="vi">@started_event</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">::</span><span class="no">ThreadEvent</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-20"></a>          <span class="vi">@stopped_event</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">::</span><span class="no">ThreadEvent</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-21"></a>        <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>        <span class="k">def</span> <span class="nf">stop</span>
<a name="gbab-24"></a>          <span class="c1"># There is only one EventMachine instance per Ruby process so stopping</span>
<a name="gbab-25"></a>          <span class="c1"># it here will stop the reactor thread we have running.</span>
<a name="gbab-26"></a>          <span class="no">EM</span><span class="o">.</span><span class="n">stop</span> <span class="k">if</span> <span class="no">EM</span><span class="o">.</span><span class="n">reactor_running?</span>
<a name="gbab-27"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;LiveReload Server:&quot;</span><span class="p">,</span> <span class="s2">&quot;halted&quot;</span>
<a name="gbab-28"></a>        <span class="k">end</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a>        <span class="k">def</span> <span class="nf">running?</span>
<a name="gbab-31"></a>          <span class="no">EM</span><span class="o">.</span><span class="n">reactor_running?</span>
<a name="gbab-32"></a>        <span class="k">end</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>        <span class="k">def</span> <span class="nf">handle_websockets_event</span><span class="p">(</span><span class="n">ws</span><span class="p">)</span>
<a name="gbab-35"></a>          <span class="n">ws</span><span class="o">.</span><span class="n">onopen</span> <span class="p">{</span> <span class="o">|</span><span class="n">handshake</span><span class="o">|</span> <span class="n">connect</span><span class="p">(</span><span class="n">ws</span><span class="p">,</span> <span class="n">handshake</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-36"></a>          <span class="n">ws</span><span class="o">.</span><span class="n">onclose</span> <span class="p">{</span> <span class="n">disconnect</span><span class="p">(</span><span class="n">ws</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-37"></a>          <span class="n">ws</span><span class="o">.</span><span class="n">onmessage</span> <span class="p">{</span> <span class="o">|</span><span class="n">msg</span><span class="o">|</span> <span class="n">print_message</span><span class="p">(</span><span class="n">msg</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-38"></a>          <span class="n">ws</span><span class="o">.</span><span class="n">onerror</span> <span class="p">{</span> <span class="o">|</span><span class="n">error</span><span class="o">|</span> <span class="n">log_error</span><span class="p">(</span><span class="n">error</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-39"></a>          <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>        <span class="k">def</span> <span class="nf">start</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-42"></a>          <span class="vi">@thread</span> <span class="o">=</span> <span class="no">Thread</span><span class="o">.</span><span class="n">new</span> <span class="k">do</span>
<a name="gbab-43"></a>            <span class="c1"># Use epoll if the kernel supports it</span>
<a name="gbab-44"></a>            <span class="no">EM</span><span class="o">.</span><span class="n">epoll</span>
<a name="gbab-45"></a>            <span class="no">EM</span><span class="o">.</span><span class="n">run</span> <span class="k">do</span>
<a name="gbab-46"></a>              <span class="no">EM</span><span class="o">.</span><span class="n">error_handler</span> <span class="p">{</span> <span class="o">|</span><span class="n">e</span><span class="o">|</span> <span class="n">log_error</span><span class="p">(</span><span class="n">e</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>              <span class="no">EM</span><span class="o">.</span><span class="n">start_server</span><span class="p">(</span>
<a name="gbab-49"></a>                <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;host&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-50"></a>                <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload_port&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-51"></a>                <span class="no">HttpAwareConnection</span><span class="p">,</span>
<a name="gbab-52"></a>                <span class="n">opts</span>
<a name="gbab-53"></a>              <span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">ws</span><span class="o">|</span>
<a name="gbab-54"></a>                <span class="n">handle_websockets_event</span><span class="p">(</span><span class="n">ws</span><span class="p">)</span>
<a name="gbab-55"></a>              <span class="k">end</span>
<a name="gbab-56"></a>
<a name="gbab-57"></a>              <span class="c1"># Notify blocked threads that EventMachine has started or shutdown</span>
<a name="gbab-58"></a>              <span class="no">EM</span><span class="o">.</span><span class="n">schedule</span> <span class="p">{</span> <span class="vi">@started_event</span><span class="o">.</span><span class="n">set</span> <span class="p">}</span>
<a name="gbab-59"></a>              <span class="no">EM</span><span class="o">.</span><span class="n">add_shutdown_hook</span> <span class="p">{</span> <span class="vi">@stopped_event</span><span class="o">.</span><span class="n">set</span> <span class="p">}</span>
<a name="gbab-60"></a>
<a name="gbab-61"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;LiveReload address:&quot;</span><span class="p">,</span>
<a name="gbab-62"></a>                <span class="s2">&quot;http://</span><span class="si">#{</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;host&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">:</span><span class="si">#{</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload_port&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-63"></a>            <span class="k">end</span>
<a name="gbab-64"></a>          <span class="k">end</span>
<a name="gbab-65"></a>          <span class="vi">@thread</span><span class="o">.</span><span class="n">abort_on_exception</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-66"></a>        <span class="k">end</span>
<a name="gbab-67"></a>
<a name="gbab-68"></a>        <span class="c1"># For a description of the protocol see</span>
<a name="gbab-69"></a>        <span class="c1"># http://feedback.livereload.com/knowledgebase/articles/86174-livereload-protocol</span>
<a name="gbab-70"></a>        <span class="k">def</span> <span class="nf">reload</span><span class="p">(</span><span class="n">pages</span><span class="p">)</span>
<a name="gbab-71"></a>          <span class="n">pages</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="nb">p</span><span class="o">|</span>
<a name="gbab-72"></a>            <span class="n">json_message</span> <span class="o">=</span> <span class="no">JSON</span><span class="o">.</span><span class="n">dump</span><span class="p">({</span>
<a name="gbab-73"></a>              <span class="ss">:command</span> <span class="o">=&gt;</span> <span class="s2">&quot;reload&quot;</span><span class="p">,</span>
<a name="gbab-74"></a>              <span class="ss">:path</span>    <span class="o">=&gt;</span> <span class="nb">p</span><span class="o">.</span><span class="n">url</span><span class="p">,</span>
<a name="gbab-75"></a>              <span class="ss">:liveCSS</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-76"></a>            <span class="p">})</span>
<a name="gbab-77"></a>
<a name="gbab-78"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;LiveReload:&quot;</span><span class="p">,</span> <span class="s2">&quot;Reloading </span><span class="si">#{</span><span class="nb">p</span><span class="o">.</span><span class="n">url</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-79"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="n">json_message</span>
<a name="gbab-80"></a>            <span class="vi">@websockets</span><span class="o">.</span><span class="n">each</span> <span class="p">{</span> <span class="o">|</span><span class="n">ws</span><span class="o">|</span> <span class="n">ws</span><span class="o">.</span><span class="n">send</span><span class="p">(</span><span class="n">json_message</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-81"></a>          <span class="k">end</span>
<a name="gbab-82"></a>        <span class="k">end</span>
<a name="gbab-83"></a>
<a name="gbab-84"></a>        <span class="kp">private</span>
<a name="gbab-85"></a>        <span class="k">def</span> <span class="nf">connect</span><span class="p">(</span><span class="n">ws</span><span class="p">,</span> <span class="n">handshake</span><span class="p">)</span>
<a name="gbab-86"></a>          <span class="vi">@connections_count</span> <span class="o">+=</span> <span class="mi">1</span>
<a name="gbab-87"></a>          <span class="k">if</span> <span class="vi">@connections_count</span> <span class="o">==</span> <span class="mi">1</span>
<a name="gbab-88"></a>            <span class="n">message</span> <span class="o">=</span> <span class="s2">&quot;Browser connected&quot;</span>
<a name="gbab-89"></a>            <span class="n">message</span> <span class="o">+=</span> <span class="s2">&quot; over SSL/TLS&quot;</span> <span class="k">if</span> <span class="n">handshake</span><span class="o">.</span><span class="n">secure?</span>
<a name="gbab-90"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;LiveReload:&quot;</span><span class="p">,</span> <span class="n">message</span>
<a name="gbab-91"></a>          <span class="k">end</span>
<a name="gbab-92"></a>          <span class="n">ws</span><span class="o">.</span><span class="n">send</span><span class="p">(</span>
<a name="gbab-93"></a>            <span class="no">JSON</span><span class="o">.</span><span class="n">dump</span><span class="p">(</span>
<a name="gbab-94"></a>              <span class="ss">:command</span>    <span class="o">=&gt;</span> <span class="s2">&quot;hello&quot;</span><span class="p">,</span>
<a name="gbab-95"></a>              <span class="ss">:protocols</span>  <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;http://livereload.com/protocols/official-7&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-96"></a>              <span class="ss">:serverName</span> <span class="o">=&gt;</span> <span class="s2">&quot;jekyll&quot;</span>
<a name="gbab-97"></a>            <span class="p">)</span>
<a name="gbab-98"></a>          <span class="p">)</span>
<a name="gbab-99"></a>
<a name="gbab-100"></a>          <span class="vi">@websockets</span> <span class="o">&lt;&lt;</span> <span class="n">ws</span>
<a name="gbab-101"></a>        <span class="k">end</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a>        <span class="kp">private</span>
<a name="gbab-104"></a>        <span class="k">def</span> <span class="nf">disconnect</span><span class="p">(</span><span class="n">ws</span><span class="p">)</span>
<a name="gbab-105"></a>          <span class="vi">@websockets</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="n">ws</span><span class="p">)</span>
<a name="gbab-106"></a>        <span class="k">end</span>
<a name="gbab-107"></a>
<a name="gbab-108"></a>        <span class="kp">private</span>
<a name="gbab-109"></a>        <span class="k">def</span> <span class="nf">print_message</span><span class="p">(</span><span class="n">json_message</span><span class="p">)</span>
<a name="gbab-110"></a>          <span class="n">msg</span> <span class="o">=</span> <span class="no">JSON</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">json_message</span><span class="p">)</span>
<a name="gbab-111"></a>          <span class="c1"># Not sure what the &#39;url&#39; command even does in LiveReload.  The spec is silent</span>
<a name="gbab-112"></a>          <span class="c1"># on its purpose.</span>
<a name="gbab-113"></a>          <span class="k">if</span> <span class="n">msg</span><span class="o">[</span><span class="s2">&quot;command&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;url&quot;</span>
<a name="gbab-114"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;LiveReload:&quot;</span><span class="p">,</span> <span class="s2">&quot;Browser URL: </span><span class="si">#{</span><span class="n">msg</span><span class="o">[</span><span class="s2">&quot;url&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-115"></a>          <span class="k">end</span>
<a name="gbab-116"></a>        <span class="k">end</span>
<a name="gbab-117"></a>
<a name="gbab-118"></a>        <span class="kp">private</span>
<a name="gbab-119"></a>        <span class="k">def</span> <span class="nf">log_error</span><span class="p">(</span><span class="n">e</span><span class="p">)</span>
<a name="gbab-120"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;LiveReload experienced an error. &quot;</span> <span class="p">\</span>
<a name="gbab-121"></a>            <span class="s2">&quot;Run with --trace for more information.&quot;</span>
<a name="gbab-122"></a>          <span class="k">raise</span> <span class="n">e</span>
<a name="gbab-123"></a>        <span class="k">end</span>
<a name="gbab-124"></a>      <span class="k">end</span>
<a name="gbab-125"></a>    <span class="k">end</span>
<a name="gbab-126"></a>  <span class="k">end</span>
<a name="gbab-127"></a><span class="k">end</span>
<a name="gbab-128"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-129"></a>
<a name="gbab-130"></a><span class="nb">require</span> <span class="s2">&quot;json&quot;</span>
<a name="gbab-131"></a><span class="nb">require</span> <span class="s2">&quot;em-websocket&quot;</span>
<a name="gbab-132"></a>
<a name="gbab-133"></a><span class="n">require_relative</span> <span class="s2">&quot;websockets&quot;</span>
<a name="gbab-134"></a>
<a name="gbab-135"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-136"></a>  <span class="k">module</span> <span class="nn">Commands</span>
<a name="gbab-137"></a>    <span class="k">class</span> <span class="nc">Serve</span>
<a name="gbab-138"></a>      <span class="k">class</span> <span class="nc">LiveReloadReactor</span>
<a name="gbab-139"></a>        <span class="kp">attr_reader</span> <span class="ss">:started_event</span>
<a name="gbab-140"></a>        <span class="kp">attr_reader</span> <span class="ss">:stopped_event</span>
<a name="gbab-141"></a>        <span class="kp">attr_reader</span> <span class="ss">:thread</span>
<a name="gbab-142"></a>
<a name="gbab-143"></a>        <span class="k">def</span> <span class="nf">initialize</span>
<a name="gbab-144"></a>          <span class="vi">@thread</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-145"></a>          <span class="vi">@websockets</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-146"></a>          <span class="vi">@connections_count</span> <span class="o">=</span> <span class="mi">0</span>
<a name="gbab-147"></a>          <span class="vi">@started_event</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">::</span><span class="no">ThreadEvent</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-148"></a>          <span class="vi">@stopped_event</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">::</span><span class="no">ThreadEvent</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-149"></a>        <span class="k">end</span>
<a name="gbab-150"></a>
<a name="gbab-151"></a>        <span class="k">def</span> <span class="nf">stop</span>
<a name="gbab-152"></a>          <span class="c1"># There is only one EventMachine instance per Ruby process so stopping</span>
<a name="gbab-153"></a>          <span class="c1"># it here will stop the reactor thread we have running.</span>
<a name="gbab-154"></a>          <span class="no">EM</span><span class="o">.</span><span class="n">stop</span> <span class="k">if</span> <span class="no">EM</span><span class="o">.</span><span class="n">reactor_running?</span>
<a name="gbab-155"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span><span class="p">(</span><span class="s2">&quot;LiveReload Server:&quot;</span><span class="p">,</span> <span class="s2">&quot;halted&quot;</span><span class="p">)</span>
<a name="gbab-156"></a>        <span class="k">end</span>
<a name="gbab-157"></a>
<a name="gbab-158"></a>        <span class="k">def</span> <span class="nf">running?</span>
<a name="gbab-159"></a>          <span class="no">EM</span><span class="o">.</span><span class="n">reactor_running?</span>
<a name="gbab-160"></a>        <span class="k">end</span>
<a name="gbab-161"></a>
<a name="gbab-162"></a>        <span class="k">def</span> <span class="nf">handle_websockets_event</span><span class="p">(</span><span class="n">ws</span><span class="p">)</span>
<a name="gbab-163"></a>          <span class="n">ws</span><span class="o">.</span><span class="n">onopen</span> <span class="k">do</span> <span class="o">|</span><span class="n">handshake</span><span class="o">|</span>
<a name="gbab-164"></a>            <span class="n">connect</span><span class="p">(</span><span class="n">ws</span><span class="p">,</span> <span class="n">handshake</span><span class="p">)</span>
<a name="gbab-165"></a>          <span class="k">end</span>
<a name="gbab-166"></a>
<a name="gbab-167"></a>          <span class="n">ws</span><span class="o">.</span><span class="n">onclose</span> <span class="k">do</span>
<a name="gbab-168"></a>            <span class="n">disconnect</span><span class="p">(</span><span class="n">ws</span><span class="p">)</span>
<a name="gbab-169"></a>          <span class="k">end</span>
<a name="gbab-170"></a>
<a name="gbab-171"></a>          <span class="n">ws</span><span class="o">.</span><span class="n">onmessage</span> <span class="k">do</span> <span class="o">|</span><span class="n">msg</span><span class="o">|</span>
<a name="gbab-172"></a>            <span class="n">print_message</span><span class="p">(</span><span class="n">msg</span><span class="p">)</span>
<a name="gbab-173"></a>          <span class="k">end</span>
<a name="gbab-174"></a>
<a name="gbab-175"></a>          <span class="n">ws</span><span class="o">.</span><span class="n">onerror</span> <span class="k">do</span> <span class="o">|</span><span class="n">error</span><span class="o">|</span>
<a name="gbab-176"></a>            <span class="n">log_error</span><span class="p">(</span><span class="n">error</span><span class="p">)</span>
<a name="gbab-177"></a>          <span class="k">end</span>
<a name="gbab-178"></a>        <span class="k">end</span>
<a name="gbab-179"></a>
<a name="gbab-180"></a>        <span class="c1"># rubocop:disable Metrics/MethodLength</span>
<a name="gbab-181"></a>        <span class="k">def</span> <span class="nf">start</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-182"></a>          <span class="vi">@thread</span> <span class="o">=</span> <span class="no">Thread</span><span class="o">.</span><span class="n">new</span> <span class="k">do</span>
<a name="gbab-183"></a>            <span class="c1"># Use epoll if the kernel supports it</span>
<a name="gbab-184"></a>            <span class="no">EM</span><span class="o">.</span><span class="n">epoll</span>
<a name="gbab-185"></a>            <span class="no">EM</span><span class="o">.</span><span class="n">run</span> <span class="k">do</span>
<a name="gbab-186"></a>              <span class="no">EM</span><span class="o">.</span><span class="n">error_handler</span> <span class="k">do</span> <span class="o">|</span><span class="n">e</span><span class="o">|</span>
<a name="gbab-187"></a>                <span class="n">log_error</span><span class="p">(</span><span class="n">e</span><span class="p">)</span>
<a name="gbab-188"></a>              <span class="k">end</span>
<a name="gbab-189"></a>
<a name="gbab-190"></a>              <span class="no">EM</span><span class="o">.</span><span class="n">start_server</span><span class="p">(</span>
<a name="gbab-191"></a>                <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;host&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-192"></a>                <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload_port&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-193"></a>                <span class="no">HttpAwareConnection</span><span class="p">,</span>
<a name="gbab-194"></a>                <span class="n">opts</span>
<a name="gbab-195"></a>              <span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">ws</span><span class="o">|</span>
<a name="gbab-196"></a>                <span class="n">handle_websockets_event</span><span class="p">(</span><span class="n">ws</span><span class="p">)</span>
<a name="gbab-197"></a>              <span class="k">end</span>
<a name="gbab-198"></a>
<a name="gbab-199"></a>              <span class="c1"># Notify blocked threads that EventMachine has started or shutdown</span>
<a name="gbab-200"></a>              <span class="no">EM</span><span class="o">.</span><span class="n">schedule</span> <span class="k">do</span>
<a name="gbab-201"></a>                <span class="vi">@started_event</span><span class="o">.</span><span class="n">set</span>
<a name="gbab-202"></a>              <span class="k">end</span>
<a name="gbab-203"></a>
<a name="gbab-204"></a>              <span class="no">EM</span><span class="o">.</span><span class="n">add_shutdown_hook</span> <span class="k">do</span>
<a name="gbab-205"></a>                <span class="vi">@stopped_event</span><span class="o">.</span><span class="n">set</span>
<a name="gbab-206"></a>              <span class="k">end</span>
<a name="gbab-207"></a>
<a name="gbab-208"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span><span class="p">(</span>
<a name="gbab-209"></a>                <span class="s2">&quot;LiveReload address:&quot;</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;host&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">:</span><span class="si">#{</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload_port&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-210"></a>              <span class="p">)</span>
<a name="gbab-211"></a>            <span class="k">end</span>
<a name="gbab-212"></a>          <span class="k">end</span>
<a name="gbab-213"></a>          <span class="vi">@thread</span><span class="o">.</span><span class="n">abort_on_exception</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-214"></a>        <span class="k">end</span>
<a name="gbab-215"></a>
<a name="gbab-216"></a>        <span class="c1"># For a description of the protocol see</span>
<a name="gbab-217"></a>        <span class="c1"># http://feedback.livereload.com/knowledgebase/articles/86174-livereload-protocol</span>
<a name="gbab-218"></a>        <span class="k">def</span> <span class="nf">reload</span><span class="p">(</span><span class="n">pages</span><span class="p">)</span>
<a name="gbab-219"></a>          <span class="n">pages</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="nb">p</span><span class="o">|</span>
<a name="gbab-220"></a>            <span class="n">msg</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-221"></a>              <span class="ss">:command</span> <span class="o">=&gt;</span> <span class="s2">&quot;reload&quot;</span><span class="p">,</span>
<a name="gbab-222"></a>              <span class="ss">:path</span>    <span class="o">=&gt;</span> <span class="nb">p</span><span class="o">.</span><span class="n">url</span><span class="p">,</span>
<a name="gbab-223"></a>              <span class="ss">:liveCSS</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-224"></a>            <span class="p">}</span>
<a name="gbab-225"></a>
<a name="gbab-226"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span><span class="p">(</span><span class="s2">&quot;LiveReload:&quot;</span><span class="p">,</span> <span class="s2">&quot;Reloading </span><span class="si">#{</span><span class="nb">p</span><span class="o">.</span><span class="n">url</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-227"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span><span class="p">(</span><span class="no">JSON</span><span class="o">.</span><span class="n">dump</span><span class="p">(</span><span class="n">msg</span><span class="p">))</span>
<a name="gbab-228"></a>            <span class="vi">@websockets</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">ws</span><span class="o">|</span>
<a name="gbab-229"></a>              <span class="n">ws</span><span class="o">.</span><span class="n">send</span><span class="p">(</span><span class="no">JSON</span><span class="o">.</span><span class="n">dump</span><span class="p">(</span><span class="n">msg</span><span class="p">))</span>
<a name="gbab-230"></a>            <span class="k">end</span>
<a name="gbab-231"></a>          <span class="k">end</span>
<a name="gbab-232"></a>        <span class="k">end</span>
<a name="gbab-233"></a>
<a name="gbab-234"></a>        <span class="kp">private</span>
<a name="gbab-235"></a>        <span class="k">def</span> <span class="nf">connect</span><span class="p">(</span><span class="n">ws</span><span class="p">,</span> <span class="n">handshake</span><span class="p">)</span>
<a name="gbab-236"></a>          <span class="vi">@connections_count</span> <span class="o">+=</span> <span class="mi">1</span>
<a name="gbab-237"></a>          <span class="k">if</span> <span class="vi">@connections_count</span> <span class="o">==</span> <span class="mi">1</span>
<a name="gbab-238"></a>            <span class="n">message</span> <span class="o">=</span> <span class="s2">&quot;Browser connected&quot;</span>
<a name="gbab-239"></a>            <span class="n">message</span> <span class="o">+=</span> <span class="s2">&quot; over SSL/TLS&quot;</span> <span class="k">if</span> <span class="n">handshake</span><span class="o">.</span><span class="n">secure?</span>
<a name="gbab-240"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span><span class="p">(</span><span class="s2">&quot;LiveReload:&quot;</span><span class="p">,</span> <span class="n">message</span><span class="p">)</span>
<a name="gbab-241"></a>          <span class="k">end</span>
<a name="gbab-242"></a>          <span class="n">ws</span><span class="o">.</span><span class="n">send</span><span class="p">(</span>
<a name="gbab-243"></a>            <span class="no">JSON</span><span class="o">.</span><span class="n">dump</span><span class="p">(</span>
<a name="gbab-244"></a>              <span class="ss">:command</span>    <span class="o">=&gt;</span> <span class="s2">&quot;hello&quot;</span><span class="p">,</span>
<a name="gbab-245"></a>              <span class="ss">:protocols</span>  <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;http://livereload.com/protocols/official-7&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-246"></a>              <span class="ss">:serverName</span> <span class="o">=&gt;</span> <span class="s2">&quot;jekyll&quot;</span>
<a name="gbab-247"></a>            <span class="p">)</span>
<a name="gbab-248"></a>          <span class="p">)</span>
<a name="gbab-249"></a>
<a name="gbab-250"></a>          <span class="vi">@websockets</span> <span class="o">&lt;&lt;</span> <span class="n">ws</span>
<a name="gbab-251"></a>        <span class="k">end</span>
<a name="gbab-252"></a>
<a name="gbab-253"></a>        <span class="kp">private</span>
<a name="gbab-254"></a>        <span class="k">def</span> <span class="nf">disconnect</span><span class="p">(</span><span class="n">ws</span><span class="p">)</span>
<a name="gbab-255"></a>          <span class="vi">@websockets</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="n">ws</span><span class="p">)</span>
<a name="gbab-256"></a>        <span class="k">end</span>
<a name="gbab-257"></a>
<a name="gbab-258"></a>        <span class="kp">private</span>
<a name="gbab-259"></a>        <span class="k">def</span> <span class="nf">print_message</span><span class="p">(</span><span class="n">json_message</span><span class="p">)</span>
<a name="gbab-260"></a>          <span class="n">msg</span> <span class="o">=</span> <span class="no">JSON</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">json_message</span><span class="p">)</span>
<a name="gbab-261"></a>          <span class="c1"># Not sure what the &#39;url&#39; command even does in LiveReload.  The spec is silent</span>
<a name="gbab-262"></a>          <span class="c1"># on its purpose.</span>
<a name="gbab-263"></a>          <span class="k">if</span> <span class="n">msg</span><span class="o">[</span><span class="s2">&quot;command&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;url&quot;</span>
<a name="gbab-264"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span><span class="p">(</span><span class="s2">&quot;LiveReload:&quot;</span><span class="p">,</span> <span class="s2">&quot;Browser URL: </span><span class="si">#{</span><span class="n">msg</span><span class="o">[</span><span class="s2">&quot;url&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-265"></a>          <span class="k">end</span>
<a name="gbab-266"></a>        <span class="k">end</span>
<a name="gbab-267"></a>
<a name="gbab-268"></a>        <span class="kp">private</span>
<a name="gbab-269"></a>        <span class="k">def</span> <span class="nf">log_error</span><span class="p">(</span><span class="n">e</span><span class="p">)</span>
<a name="gbab-270"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span><span class="p">(</span>
<a name="gbab-271"></a>            <span class="s2">&quot;LiveReload experienced an error. &quot;</span><span class="p">\</span>
<a name="gbab-272"></a>            <span class="s2">&quot;Run with --verbose for more information.&quot;</span>
<a name="gbab-273"></a>          <span class="p">)</span>
<a name="gbab-274"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span><span class="p">(</span><span class="s2">&quot;LiveReload Error:&quot;</span><span class="p">,</span> <span class="n">e</span><span class="o">.</span><span class="n">message</span><span class="p">)</span>
<a name="gbab-275"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span><span class="p">(</span><span class="s2">&quot;LiveReload Error:&quot;</span><span class="p">,</span> <span class="n">e</span><span class="o">.</span><span class="n">backtrace</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">))</span>
<a name="gbab-276"></a>        <span class="k">end</span>
<a name="gbab-277"></a>      <span class="k">end</span>
<a name="gbab-278"></a>    <span class="k">end</span>
<a name="gbab-279"></a>  <span class="k">end</span>
<a name="gbab-280"></a><span class="k">end</span>
</pre></div>
</td></tr></table>