<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Configuration</span> <span class="o">&lt;</span> <span class="no">Hash</span>
<a name="gbab-5"></a>    <span class="c1"># Default options. Overridden by values in _config.yml.</span>
<a name="gbab-6"></a>    <span class="c1"># Strings rather than symbols are used for compatibility with YAML.</span>
<a name="gbab-7"></a>    <span class="no">DEFAULTS</span> <span class="o">=</span> <span class="no">Configuration</span><span class="o">[</span><span class="p">{</span>
<a name="gbab-8"></a>      <span class="c1"># Where things are</span>
<a name="gbab-9"></a>      <span class="s2">&quot;source&quot;</span>            <span class="o">=&gt;</span> <span class="no">Dir</span><span class="o">.</span><span class="n">pwd</span><span class="p">,</span>
<a name="gbab-10"></a>      <span class="s2">&quot;destination&quot;</span>       <span class="o">=&gt;</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="no">Dir</span><span class="o">.</span><span class="n">pwd</span><span class="p">,</span> <span class="s2">&quot;_site&quot;</span><span class="p">),</span>
<a name="gbab-11"></a>      <span class="s2">&quot;collections_dir&quot;</span>     <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-12"></a>      <span class="s2">&quot;plugins_dir&quot;</span>       <span class="o">=&gt;</span> <span class="s2">&quot;_plugins&quot;</span><span class="p">,</span>
<a name="gbab-13"></a>      <span class="s2">&quot;layouts_dir&quot;</span>       <span class="o">=&gt;</span> <span class="s2">&quot;_layouts&quot;</span><span class="p">,</span>
<a name="gbab-14"></a>      <span class="s2">&quot;data_dir&quot;</span>          <span class="o">=&gt;</span> <span class="s2">&quot;_data&quot;</span><span class="p">,</span>
<a name="gbab-15"></a>      <span class="s2">&quot;includes_dir&quot;</span>      <span class="o">=&gt;</span> <span class="s2">&quot;_includes&quot;</span><span class="p">,</span>
<a name="gbab-16"></a>      <span class="s2">&quot;collections&quot;</span>       <span class="o">=&gt;</span> <span class="p">{},</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>      <span class="c1"># Handling Reading</span>
<a name="gbab-19"></a>      <span class="s2">&quot;safe&quot;</span>              <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-20"></a>      <span class="s2">&quot;include&quot;</span>           <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;.htaccess&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-21"></a>      <span class="s2">&quot;exclude&quot;</span>           <span class="o">=&gt;</span> <span class="sx">%w(</span>
<a name="gbab-22"></a><span class="sx">        Gemfile Gemfile.lock node_modules vendor/bundle/ vendor/cache/ vendor/gems/</span>
<a name="gbab-23"></a><span class="sx">        vendor/ruby/</span>
<a name="gbab-24"></a><span class="sx">      )</span><span class="p">,</span>
<a name="gbab-25"></a>      <span class="s2">&quot;keep_files&quot;</span>        <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;.git&quot;</span><span class="p">,</span> <span class="s2">&quot;.svn&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-26"></a>      <span class="s2">&quot;encoding&quot;</span>          <span class="o">=&gt;</span> <span class="s2">&quot;utf-8&quot;</span><span class="p">,</span>
<a name="gbab-27"></a>      <span class="s2">&quot;markdown_ext&quot;</span>      <span class="o">=&gt;</span> <span class="s2">&quot;markdown,mkdown,mkdn,mkd,md&quot;</span><span class="p">,</span>
<a name="gbab-28"></a>      <span class="s2">&quot;strict_front_matter&quot;</span> <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a>      <span class="c1"># Filtering Content</span>
<a name="gbab-31"></a>      <span class="s2">&quot;show_drafts&quot;</span>       <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span>
<a name="gbab-32"></a>      <span class="s2">&quot;limit_posts&quot;</span>       <span class="o">=&gt;</span> <span class="mi">0</span><span class="p">,</span>
<a name="gbab-33"></a>      <span class="s2">&quot;future&quot;</span>            <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-34"></a>      <span class="s2">&quot;unpublished&quot;</span>       <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>      <span class="c1"># Plugins</span>
<a name="gbab-37"></a>      <span class="s2">&quot;whitelist&quot;</span>         <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-38"></a>      <span class="s2">&quot;plugins&quot;</span>           <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a>      <span class="c1"># Conversion</span>
<a name="gbab-41"></a>      <span class="s2">&quot;markdown&quot;</span>          <span class="o">=&gt;</span> <span class="s2">&quot;kramdown&quot;</span><span class="p">,</span>
<a name="gbab-42"></a>      <span class="s2">&quot;highlighter&quot;</span>       <span class="o">=&gt;</span> <span class="s2">&quot;rouge&quot;</span><span class="p">,</span>
<a name="gbab-43"></a>      <span class="s2">&quot;lsi&quot;</span>               <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-44"></a>      <span class="s2">&quot;excerpt_separator&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;</span><span class="se">\n\n</span><span class="s2">&quot;</span><span class="p">,</span>
<a name="gbab-45"></a>      <span class="s2">&quot;incremental&quot;</span>       <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-46"></a>
<a name="gbab-47"></a>      <span class="c1"># Serving</span>
<a name="gbab-48"></a>      <span class="s2">&quot;detach&quot;</span>            <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span> <span class="c1"># default to not detaching the server</span>
<a name="gbab-49"></a>      <span class="s2">&quot;port&quot;</span>              <span class="o">=&gt;</span> <span class="s2">&quot;4000&quot;</span><span class="p">,</span>
<a name="gbab-50"></a>      <span class="s2">&quot;host&quot;</span>              <span class="o">=&gt;</span> <span class="s2">&quot;127.0.0.1&quot;</span><span class="p">,</span>
<a name="gbab-51"></a>      <span class="s2">&quot;baseurl&quot;</span>             <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span> <span class="c1"># this mounts at /, i.e. no subdirectory</span>
<a name="gbab-52"></a>      <span class="s2">&quot;show_dir_listing&quot;</span>  <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>      <span class="c1"># Output Configuration</span>
<a name="gbab-55"></a>      <span class="s2">&quot;permalink&quot;</span>         <span class="o">=&gt;</span> <span class="s2">&quot;date&quot;</span><span class="p">,</span>
<a name="gbab-56"></a>      <span class="s2">&quot;paginate_path&quot;</span>     <span class="o">=&gt;</span> <span class="s2">&quot;/page:num&quot;</span><span class="p">,</span>
<a name="gbab-57"></a>      <span class="s2">&quot;timezone&quot;</span>          <span class="o">=&gt;</span> <span class="kp">nil</span><span class="p">,</span> <span class="c1"># use the local timezone</span>
<a name="gbab-58"></a>
<a name="gbab-59"></a>      <span class="s2">&quot;quiet&quot;</span>             <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-60"></a>      <span class="s2">&quot;verbose&quot;</span>           <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-61"></a>      <span class="s2">&quot;defaults&quot;</span>          <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>      <span class="s2">&quot;liquid&quot;</span>            <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-64"></a>        <span class="s2">&quot;error_mode&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;warn&quot;</span><span class="p">,</span>
<a name="gbab-65"></a>        <span class="s2">&quot;strict_filters&quot;</span>   <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-66"></a>        <span class="s2">&quot;strict_variables&quot;</span> <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-67"></a>      <span class="p">},</span>
<a name="gbab-68"></a>
<a name="gbab-69"></a>      <span class="s2">&quot;rdiscount&quot;</span>         <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-70"></a>        <span class="s2">&quot;extensions&quot;</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-71"></a>      <span class="p">},</span>
<a name="gbab-72"></a>
<a name="gbab-73"></a>      <span class="s2">&quot;redcarpet&quot;</span>         <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-74"></a>        <span class="s2">&quot;extensions&quot;</span> <span class="o">=&gt;</span> <span class="o">[]</span><span class="p">,</span>
<a name="gbab-75"></a>      <span class="p">},</span>
<a name="gbab-76"></a>
<a name="gbab-77"></a>      <span class="s2">&quot;kramdown&quot;</span>          <span class="o">=&gt;</span> <span class="p">{</span>
<a name="gbab-78"></a>        <span class="s2">&quot;auto_ids&quot;</span>      <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-79"></a>        <span class="s2">&quot;toc_levels&quot;</span>    <span class="o">=&gt;</span> <span class="s2">&quot;1..6&quot;</span><span class="p">,</span>
<a name="gbab-80"></a>        <span class="s2">&quot;entity_output&quot;</span> <span class="o">=&gt;</span> <span class="s2">&quot;as_char&quot;</span><span class="p">,</span>
<a name="gbab-81"></a>        <span class="s2">&quot;smart_quotes&quot;</span>  <span class="o">=&gt;</span> <span class="s2">&quot;lsquo,rsquo,ldquo,rdquo&quot;</span><span class="p">,</span>
<a name="gbab-82"></a>        <span class="s2">&quot;input&quot;</span>         <span class="o">=&gt;</span> <span class="s2">&quot;GFM&quot;</span><span class="p">,</span>
<a name="gbab-83"></a>        <span class="s2">&quot;hard_wrap&quot;</span>     <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-84"></a>        <span class="s2">&quot;footnote_nr&quot;</span>   <span class="o">=&gt;</span> <span class="mi">1</span><span class="p">,</span>
<a name="gbab-85"></a>        <span class="s2">&quot;show_warnings&quot;</span> <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-86"></a>      <span class="p">},</span>
<a name="gbab-87"></a>    <span class="p">}</span><span class="o">.</span><span class="n">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">k</span><span class="p">,</span> <span class="n">v</span><span class="o">|</span> <span class="o">[</span><span class="n">k</span><span class="p">,</span> <span class="n">v</span><span class="o">.</span><span class="n">freeze</span><span class="o">]</span> <span class="p">}</span><span class="o">].</span><span class="n">freeze</span>
<a name="gbab-88"></a>
<a name="gbab-89"></a>    <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-90"></a>      <span class="c1"># Static: Produce a Configuration ready for use in a Site.</span>
<a name="gbab-91"></a>      <span class="c1"># It takes the input, fills in the defaults where values do not</span>
<a name="gbab-92"></a>      <span class="c1"># exist, and patches common issues including migrating options for</span>
<a name="gbab-93"></a>      <span class="c1"># backwards compatiblity. Except where a key or value is being fixed,</span>
<a name="gbab-94"></a>      <span class="c1"># the user configuration will override the defaults.</span>
<a name="gbab-95"></a>      <span class="c1">#</span>
<a name="gbab-96"></a>      <span class="c1"># user_config - a Hash or Configuration of overrides.</span>
<a name="gbab-97"></a>      <span class="c1">#</span>
<a name="gbab-98"></a>      <span class="c1"># Returns a Configuration filled with defaults and fixed for common</span>
<a name="gbab-99"></a>      <span class="c1"># problems and backwards-compatibility.</span>
<a name="gbab-100"></a>      <span class="k">def</span> <span class="nf">from</span><span class="p">(</span><span class="n">user_config</span><span class="p">)</span>
<a name="gbab-101"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="no">DEFAULTS</span><span class="p">,</span> <span class="no">Configuration</span><span class="o">[</span><span class="n">user_config</span><span class="o">].</span><span class="n">stringify_keys</span><span class="p">)</span>
<a name="gbab-102"></a>          <span class="o">.</span><span class="n">add_default_collections</span>
<a name="gbab-103"></a>      <span class="k">end</span>
<a name="gbab-104"></a>    <span class="k">end</span>
<a name="gbab-105"></a>
<a name="gbab-106"></a>    <span class="c1"># Public: Turn all keys into string</span>
<a name="gbab-107"></a>    <span class="c1">#</span>
<a name="gbab-108"></a>    <span class="c1"># Return a copy of the hash where all its keys are strings</span>
<a name="gbab-109"></a>    <span class="k">def</span> <span class="nf">stringify_keys</span>
<a name="gbab-110"></a>      <span class="n">reduce</span><span class="p">({})</span> <span class="p">{</span> <span class="o">|</span><span class="n">hsh</span><span class="p">,(</span><span class="n">k</span><span class="p">,</span><span class="n">v</span><span class="p">)</span><span class="o">|</span> <span class="n">hsh</span><span class="o">.</span><span class="n">merge</span><span class="p">(</span><span class="n">k</span><span class="o">.</span><span class="n">to_s</span> <span class="o">=&gt;</span> <span class="n">v</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-111"></a>    <span class="k">end</span>
<a name="gbab-112"></a>
<a name="gbab-113"></a>    <span class="k">def</span> <span class="nf">get_config_value_with_override</span><span class="p">(</span><span class="n">config_key</span><span class="p">,</span> <span class="n">override</span><span class="p">)</span>
<a name="gbab-114"></a>      <span class="n">override</span><span class="o">[</span><span class="n">config_key</span><span class="o">]</span> <span class="o">||</span> <span class="nb">self</span><span class="o">[</span><span class="n">config_key</span><span class="o">]</span> <span class="o">||</span> <span class="no">DEFAULTS</span><span class="o">[</span><span class="n">config_key</span><span class="o">]</span>
<a name="gbab-115"></a>    <span class="k">end</span>
<a name="gbab-116"></a>
<a name="gbab-117"></a>    <span class="c1"># Public: Directory of the Jekyll source folder</span>
<a name="gbab-118"></a>    <span class="c1">#</span>
<a name="gbab-119"></a>    <span class="c1"># override - the command-line options hash</span>
<a name="gbab-120"></a>    <span class="c1">#</span>
<a name="gbab-121"></a>    <span class="c1"># Returns the path to the Jekyll source directory</span>
<a name="gbab-122"></a>    <span class="k">def</span> <span class="nf">source</span><span class="p">(</span><span class="n">override</span><span class="p">)</span>
<a name="gbab-123"></a>      <span class="n">get_config_value_with_override</span><span class="p">(</span><span class="s2">&quot;source&quot;</span><span class="p">,</span> <span class="n">override</span><span class="p">)</span>
<a name="gbab-124"></a>    <span class="k">def</span> <span class="nf">safe_load_file</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-125"></a>      <span class="k">case</span> <span class="no">File</span><span class="o">.</span><span class="n">extname</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-126"></a>    <span class="k">def</span> <span class="nf">quiet</span><span class="p">(</span><span class="n">override</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-127"></a>      <span class="n">get_config_value_with_override</span><span class="p">(</span><span class="s2">&quot;quiet&quot;</span><span class="p">,</span> <span class="n">override</span><span class="p">)</span>
<a name="gbab-128"></a>    <span class="k">end</span>
<a name="gbab-129"></a>    <span class="n">alias_method</span> <span class="ss">:quiet?</span><span class="p">,</span> <span class="ss">:quiet</span>
<a name="gbab-130"></a>
<a name="gbab-131"></a>    <span class="k">def</span> <span class="nf">verbose</span><span class="p">(</span><span class="n">override</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-132"></a>      <span class="n">get_config_value_with_override</span><span class="p">(</span><span class="s2">&quot;verbose&quot;</span><span class="p">,</span> <span class="n">override</span><span class="p">)</span>
<a name="gbab-133"></a>    <span class="k">end</span>
<a name="gbab-134"></a>    <span class="n">alias_method</span> <span class="ss">:verbose?</span><span class="p">,</span> <span class="ss">:verbose</span>
<a name="gbab-135"></a>
<a name="gbab-136"></a>      <span class="k">when</span> <span class="s1">&#39;.toml&#39;</span>
<a name="gbab-137"></a>        <span class="no">TOML</span><span class="o">.</span><span class="n">load_file</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-138"></a>      <span class="k">when</span> <span class="sr">%r!\.toml!i</span>
<a name="gbab-139"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="s2">&quot;tomlrb&quot;</span><span class="p">)</span> <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="no">Tomlrb</span><span class="p">)</span>
<a name="gbab-140"></a>        <span class="no">Tomlrb</span><span class="o">.</span><span class="n">load_file</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>
<a name="gbab-141"></a>      <span class="k">when</span> <span class="sr">%r!\.ya?ml!i</span>
<a name="gbab-142"></a>        <span class="no">SafeYAML</span><span class="o">.</span><span class="n">load_file</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span> <span class="o">||</span> <span class="p">{}</span>
<a name="gbab-143"></a>      <span class="k">end</span>
<a name="gbab-144"></a>        <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="s2">&quot;No parser for &#39;</span><span class="si">#{</span><span class="n">filename</span><span class="si">}</span><span class="s2">&#39; is available.</span>
<a name="gbab-145"></a><span class="s2">          Use a .y(a)ml or .toml file instead.&quot;</span>
<a name="gbab-146"></a>
<a name="gbab-147"></a>    <span class="k">end</span>
<a name="gbab-148"></a>
<a name="gbab-149"></a>    <span class="c1"># Public: Generate list of configuration files from the override</span>
<a name="gbab-150"></a>    <span class="c1">#</span>
<a name="gbab-151"></a>    <span class="c1"># override - the command-line options hash</span>
<a name="gbab-152"></a>    <span class="c1">#</span>
<a name="gbab-153"></a>    <span class="c1"># Returns an Array of config files</span>
<a name="gbab-154"></a>    <span class="k">def</span> <span class="nf">config_files</span><span class="p">(</span><span class="n">override</span><span class="p">)</span>
<a name="gbab-155"></a>      <span class="c1"># Adjust verbosity quickly</span>
<a name="gbab-156"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">adjust_verbosity</span><span class="p">(</span>
<a name="gbab-157"></a>        <span class="ss">:quiet</span>   <span class="o">=&gt;</span> <span class="n">quiet?</span><span class="p">(</span><span class="n">override</span><span class="p">),</span>
<a name="gbab-158"></a>        <span class="ss">:verbose</span> <span class="o">=&gt;</span> <span class="n">verbose?</span><span class="p">(</span><span class="n">override</span><span class="p">)</span>
<a name="gbab-159"></a>      <span class="p">)</span>
<a name="gbab-160"></a>
<a name="gbab-161"></a>      <span class="c1"># Get configuration from &lt;source&gt;/_config.yml or &lt;source&gt;/&lt;config_file&gt;</span>
<a name="gbab-162"></a>      <span class="n">config_files</span> <span class="o">=</span> <span class="n">override</span><span class="o">[</span><span class="s2">&quot;config&quot;</span><span class="o">]</span>
<a name="gbab-163"></a>      <span class="k">if</span> <span class="n">config_files</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-164"></a>        <span class="n">default</span> <span class="o">=</span> <span class="sx">%w(yml yaml)</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="o">-&gt;</span> <span class="p">{</span> <span class="s2">&quot;yml&quot;</span> <span class="p">})</span> <span class="k">do</span> <span class="o">|</span><span class="n">ext</span><span class="o">|</span>
<a name="gbab-165"></a>          <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="n">source</span><span class="p">(</span><span class="n">override</span><span class="p">),</span> <span class="s2">&quot;_config.</span><span class="si">#{</span><span class="n">ext</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">))</span>
<a name="gbab-166"></a>        <span class="k">end</span>
<a name="gbab-167"></a>        <span class="n">config_files</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="n">source</span><span class="p">(</span><span class="n">override</span><span class="p">),</span> <span class="s2">&quot;_config.</span><span class="si">#{</span><span class="n">default</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-168"></a>        <span class="vi">@default_config_file</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-169"></a>      <span class="k">end</span>
<a name="gbab-170"></a>      <span class="nb">Array</span><span class="p">(</span><span class="n">config_files</span><span class="p">)</span>
<a name="gbab-171"></a>    <span class="k">end</span>
<a name="gbab-172"></a>
<a name="gbab-173"></a>    <span class="c1"># Public: Read configuration and return merged Hash</span>
<a name="gbab-174"></a>    <span class="c1">#</span>
<a name="gbab-175"></a>    <span class="c1"># file - the path to the YAML file to be read in</span>
<a name="gbab-176"></a>      <span class="k">raise</span> <span class="s2">&quot;Configuration file: (INVALID) </span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="s2">&quot;</span><span class="o">.</span><span class="n">yellow</span> <span class="k">if</span> <span class="o">!</span><span class="n">next_config</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span>
<a name="gbab-177"></a>      <span class="n">next_config</span> <span class="o">=</span> <span class="n">safe_load_file</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-178"></a>      <span class="k">raise</span> <span class="no">ArgumentError</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;Configuration file: (INVALID) </span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="s2">&quot;</span><span class="o">.</span><span class="n">yellow</span><span class="p">)</span> <span class="k">unless</span> <span class="n">next_config</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span>
<a name="gbab-179"></a>      <span class="n">next_config</span> <span class="o">=</span> <span class="no">YAML</span><span class="o">.</span><span class="n">safe_load_file</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-180"></a>      <span class="n">check_config_is_hash!</span><span class="p">(</span><span class="n">next_config</span><span class="p">,</span> <span class="n">file</span><span class="p">)</span>
<a name="gbab-181"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Configuration file:&quot;</span><span class="p">,</span> <span class="n">file</span>
<a name="gbab-182"></a>      <span class="n">next_config</span>
<a name="gbab-183"></a>      <span class="k">if</span> <span class="vi">@default_config_file</span> <span class="o">||=</span> <span class="kp">nil</span>
<a name="gbab-184"></a>      <span class="k">if</span> <span class="vi">@default_config_file</span>
<a name="gbab-185"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Configuration file:&quot;</span><span class="p">,</span> <span class="s2">&quot;none&quot;</span>
<a name="gbab-186"></a>        <span class="p">{}</span>
<a name="gbab-187"></a>        <span class="k">raise</span> <span class="no">LoadError</span><span class="p">,</span> <span class="s2">&quot;The Configuration file &#39;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="s2">&#39; could not be found.&quot;</span>
<a name="gbab-188"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Fatal:&quot;</span><span class="p">,</span> <span class="s2">&quot;The configuration file &#39;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="s2">&#39;</span>
<a name="gbab-189"></a><span class="s2">          could not be found.&quot;</span>
<a name="gbab-190"></a>        <span class="k">raise</span> <span class="no">LoadError</span>
<a name="gbab-191"></a>      <span class="k">end</span>
<a name="gbab-192"></a>    <span class="k">end</span>
<a name="gbab-193"></a>    
<a name="gbab-194"></a>    <span class="c1"># Public: Read in a list of configuration files and merge with this hash</span>
<a name="gbab-195"></a>    <span class="c1">#</span>
<a name="gbab-196"></a>    <span class="c1"># files - the list of configuration file paths</span>
<a name="gbab-197"></a>    <span class="c1">#</span>
<a name="gbab-198"></a>    <span class="c1"># Returns the full configuration, with the defaults overridden by the values in the</span>
<a name="gbab-199"></a>    <span class="c1"># configuration files</span>
<a name="gbab-200"></a>    <span class="k">def</span> <span class="nf">read_config_files</span><span class="p">(</span><span class="n">files</span><span class="p">)</span>
<a name="gbab-201"></a>      <span class="n">configuration</span> <span class="o">=</span> <span class="nb">clone</span>
<a name="gbab-202"></a>
<a name="gbab-203"></a>      <span class="k">begin</span>
<a name="gbab-204"></a>          <span class="n">configuration</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">configuration</span><span class="p">,</span> <span class="n">new_config</span><span class="p">)</span>
<a name="gbab-205"></a>          <span class="k">next</span> <span class="k">if</span> <span class="n">config_file</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">config_file</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-206"></a>          <span class="n">new_config</span> <span class="o">=</span> <span class="n">read_config_file</span><span class="p">(</span><span class="n">config_file</span><span class="p">)</span>
<a name="gbab-207"></a>          <span class="n">configuration</span> <span class="o">=</span> <span class="n">configuration</span><span class="o">.</span><span class="n">deep_merge</span><span class="p">(</span><span class="n">new_config</span><span class="p">)</span>
<a name="gbab-208"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;WARNING:&quot;</span><span class="p">,</span> <span class="s2">&quot;Error reading configuration. &quot;</span> <span class="o">+</span>
<a name="gbab-209"></a>      <span class="k">rescue</span> <span class="no">ArgumentError</span> <span class="o">=&gt;</span> <span class="n">err</span>
<a name="gbab-210"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;WARNING:&quot;</span><span class="p">,</span> <span class="s2">&quot;Error reading configuration. &quot;</span> <span class="p">\</span>
<a name="gbab-211"></a>                     <span class="s2">&quot;Using defaults (and options).&quot;</span>
<a name="gbab-212"></a>        <span class="nb">warn</span> <span class="n">err</span>
<a name="gbab-213"></a>      <span class="k">end</span>
<a name="gbab-214"></a>      
<a name="gbab-215"></a>      <span class="n">configuration</span><span class="o">.</span><span class="n">backwards_compatibilize</span><span class="o">.</span><span class="n">add_default_collections</span>
<a name="gbab-216"></a>    <span class="k">end</span>
<a name="gbab-217"></a>    
<a name="gbab-218"></a>    <span class="c1"># Public: Split a CSV string into an array containing its values</span>
<a name="gbab-219"></a>    <span class="c1">#</span>
<a name="gbab-220"></a>    <span class="c1"># csv - the string of comma-separated values</span>
<a name="gbab-221"></a>    <span class="c1">#</span>
<a name="gbab-222"></a>    <span class="c1"># Returns an array of the values contained in the CSV</span>
<a name="gbab-223"></a>    <span class="k">def</span> <span class="nf">csv_to_array</span><span class="p">(</span><span class="n">csv</span><span class="p">)</span>
<a name="gbab-224"></a>      <span class="n">csv</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;,&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:strip</span><span class="p">)</span>
<a name="gbab-225"></a>    <span class="k">end</span>
<a name="gbab-226"></a>
<a name="gbab-227"></a>    <span class="c1"># Public: Ensure the proper options are set in the configuration to allow for</span>
<a name="gbab-228"></a>    <span class="c1"># backwards-compatibility with Jekyll pre-1.0</span>
<a name="gbab-229"></a>    <span class="c1">#</span>
<a name="gbab-230"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Deprecation:&quot;</span><span class="p">,</span> <span class="s2">&quot;&#39;auto&#39; has been changed to &quot;</span> <span class="o">+</span>
<a name="gbab-231"></a>    <span class="k">def</span> <span class="nf">backwards_compatibilize</span>
<a name="gbab-232"></a>      <span class="n">config</span> <span class="o">=</span> <span class="nb">clone</span>
<a name="gbab-233"></a>      <span class="c1"># Provide backwards-compatibility</span>
<a name="gbab-234"></a>      <span class="n">check_auto</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-235"></a>      <span class="n">check_server</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-236"></a>      <span class="n">check_plugins</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-237"></a>                            <span class="s2">&quot; has been renamed to &#39;port&#39;. Please update your config&quot;</span> <span class="o">+</span>
<a name="gbab-238"></a>      <span class="n">renamed_key</span> <span class="s2">&quot;server_port&quot;</span><span class="p">,</span> <span class="s2">&quot;port&quot;</span><span class="p">,</span> <span class="n">config</span>
<a name="gbab-239"></a>      <span class="n">renamed_key</span> <span class="s2">&quot;gems&quot;</span><span class="p">,</span> <span class="s2">&quot;plugins&quot;</span><span class="p">,</span> <span class="n">config</span>
<a name="gbab-240"></a>      <span class="n">renamed_key</span> <span class="s2">&quot;layouts&quot;</span><span class="p">,</span> <span class="s2">&quot;layouts_dir&quot;</span><span class="p">,</span> <span class="n">config</span>
<a name="gbab-241"></a>      <span class="n">renamed_key</span> <span class="s2">&quot;data_source&quot;</span><span class="p">,</span> <span class="s2">&quot;data_dir&quot;</span><span class="p">,</span> <span class="n">config</span>
<a name="gbab-242"></a>                            <span class="s2">&quot; has been renamed to &#39;highlighter&#39;. Please update your&quot;</span> <span class="o">+</span>
<a name="gbab-243"></a>      <span class="n">check_pygments</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-244"></a>      <span class="n">check_include_exclude</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-245"></a>      <span class="n">check_coderay</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-246"></a>      <span class="n">check_maruku</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-247"></a>
<a name="gbab-248"></a>      <span class="n">config</span>
<a name="gbab-249"></a>    <span class="k">end</span>
<a name="gbab-250"></a>
<a name="gbab-251"></a>    <span class="c1"># DEPRECATED.</span>
<a name="gbab-252"></a>    <span class="k">def</span> <span class="nf">fix_common_issues</span>
<a name="gbab-253"></a>      <span class="nb">self</span>
<a name="gbab-254"></a>    <span class="k">end</span>
<a name="gbab-255"></a>
<a name="gbab-256"></a>    <span class="k">def</span> <span class="nf">add_default_collections</span>
<a name="gbab-257"></a>      <span class="n">config</span> <span class="o">=</span> <span class="nb">clone</span>
<a name="gbab-258"></a>
<a name="gbab-259"></a>      <span class="c1"># It defaults to `{}`, so this is only if someone sets it to null manually.</span>
<a name="gbab-260"></a>      <span class="k">return</span> <span class="n">config</span> <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">].</span><span class="n">nil?</span>
<a name="gbab-261"></a>
<a name="gbab-262"></a>      <span class="c1"># Ensure we have a hash.</span>
<a name="gbab-263"></a>      <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">].</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Array</span><span class="p">)</span>
<a name="gbab-264"></a>        <span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="no">Hash</span><span class="o">[</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">].</span><span class="n">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span> <span class="o">[</span><span class="n">c</span><span class="p">,</span> <span class="p">{}</span><span class="o">]</span> <span class="p">}</span><span class="o">]</span>
<a name="gbab-265"></a>      <span class="k">end</span>
<a name="gbab-266"></a>
<a name="gbab-267"></a>      <span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span>
<a name="gbab-268"></a>        <span class="p">{</span> <span class="s2">&quot;posts&quot;</span> <span class="o">=&gt;</span> <span class="p">{}</span> <span class="p">},</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections&quot;</span><span class="o">]</span>
<a name="gbab-269"></a>      <span class="p">)</span><span class="o">.</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">collections</span><span class="o">|</span>
<a name="gbab-270"></a>        <span class="n">collections</span><span class="o">[</span><span class="s2">&quot;posts&quot;</span><span class="o">][</span><span class="s2">&quot;output&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-271"></a>        <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;permalink&quot;</span><span class="o">]</span>
<a name="gbab-272"></a>          <span class="n">collections</span><span class="o">[</span><span class="s2">&quot;posts&quot;</span><span class="o">][</span><span class="s2">&quot;permalink&quot;</span><span class="o">]</span> <span class="o">||=</span> <span class="n">style_to_permalink</span><span class="p">(</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;permalink&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-273"></a>        <span class="k">end</span>
<a name="gbab-274"></a>      <span class="k">end</span>
<a name="gbab-275"></a>
<a name="gbab-276"></a>      <span class="n">config</span>
<a name="gbab-277"></a>    <span class="k">end</span>
<a name="gbab-278"></a>
<a name="gbab-279"></a>    <span class="k">def</span> <span class="nf">renamed_key</span><span class="p">(</span><span class="n">old</span><span class="p">,</span> <span class="kp">new</span><span class="p">,</span> <span class="n">config</span><span class="p">,</span> <span class="n">_</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-280"></a>      <span class="k">if</span> <span class="n">config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">old</span><span class="p">)</span>
<a name="gbab-281"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span> <span class="s2">&quot;The &#39;</span><span class="si">#{</span><span class="n">old</span><span class="si">}</span><span class="s2">&#39; configuration&quot;</span> <span class="p">\</span>
<a name="gbab-282"></a>          <span class="s2">&quot;option has been renamed to &#39;</span><span class="si">#{</span><span class="kp">new</span><span class="si">}</span><span class="s2">&#39;. Please update your config &quot;</span> <span class="p">\</span>
<a name="gbab-283"></a>          <span class="s2">&quot;file accordingly.&quot;</span>
<a name="gbab-284"></a>        <span class="n">config</span><span class="o">[</span><span class="kp">new</span><span class="o">]</span> <span class="o">=</span> <span class="n">config</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="n">old</span><span class="p">)</span>
<a name="gbab-285"></a>      <span class="k">end</span>
<a name="gbab-286"></a>    <span class="k">end</span>
<a name="gbab-287"></a>
<a name="gbab-288"></a>    <span class="kp">private</span>
<a name="gbab-289"></a>    <span class="k">def</span> <span class="nf">style_to_permalink</span><span class="p">(</span><span class="n">permalink_style</span><span class="p">)</span>
<a name="gbab-290"></a>      <span class="k">case</span> <span class="n">permalink_style</span><span class="o">.</span><span class="n">to_sym</span>
<a name="gbab-291"></a>      <span class="k">when</span> <span class="ss">:pretty</span>
<a name="gbab-292"></a>        <span class="s2">&quot;/:categories/:year/:month/:day/:title/&quot;</span>
<a name="gbab-293"></a>      <span class="k">when</span> <span class="ss">:none</span>
<a name="gbab-294"></a>        <span class="s2">&quot;/:categories/:title:output_ext&quot;</span>
<a name="gbab-295"></a>      <span class="k">when</span> <span class="ss">:date</span>
<a name="gbab-296"></a>        <span class="s2">&quot;/:categories/:year/:month/:day/:title:output_ext&quot;</span>
<a name="gbab-297"></a>      <span class="k">when</span> <span class="ss">:ordinal</span>
<a name="gbab-298"></a>        <span class="s2">&quot;/:categories/:year/:y_day/:title:output_ext&quot;</span>
<a name="gbab-299"></a>      <span class="k">else</span>
<a name="gbab-300"></a>        <span class="n">permalink_style</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-301"></a>      <span class="k">end</span>
<a name="gbab-302"></a>    <span class="k">end</span>
<a name="gbab-303"></a>
<a name="gbab-304"></a>    <span class="c1"># Private: Checks if a given config is a hash</span>
<a name="gbab-305"></a>    <span class="c1">#</span>
<a name="gbab-306"></a>    <span class="c1"># extracted_config - the value to check</span>
<a name="gbab-307"></a>    <span class="c1"># file - the file from which the config was extracted</span>
<a name="gbab-308"></a>    <span class="c1">#</span>
<a name="gbab-309"></a>    <span class="c1"># Raises an ArgumentError if given config is not a hash</span>
<a name="gbab-310"></a>    <span class="kp">private</span>
<a name="gbab-311"></a>    <span class="k">def</span> <span class="nf">check_config_is_hash!</span><span class="p">(</span><span class="n">extracted_config</span><span class="p">,</span> <span class="n">file</span><span class="p">)</span>
<a name="gbab-312"></a>      <span class="k">unless</span> <span class="n">extracted_config</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span>
<a name="gbab-313"></a>        <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="s2">&quot;Configuration file: (INVALID) </span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="s2">&quot;</span><span class="o">.</span><span class="n">yellow</span>
<a name="gbab-314"></a>      <span class="k">end</span>
<a name="gbab-315"></a>    <span class="k">end</span>
<a name="gbab-316"></a>
<a name="gbab-317"></a>    <span class="kp">private</span>
<a name="gbab-318"></a>    <span class="k">def</span> <span class="nf">check_auto</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-319"></a>      <span class="k">if</span> <span class="n">config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;auto&quot;</span><span class="p">)</span> <span class="o">||</span> <span class="n">config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;watch&quot;</span><span class="p">)</span>
<a name="gbab-320"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span> <span class="s2">&quot;Auto-regeneration can no longer&quot;</span> <span class="p">\</span>
<a name="gbab-321"></a>                            <span class="s2">&quot; be set from your configuration file(s). Use the&quot;</span> <span class="p">\</span>
<a name="gbab-322"></a>                            <span class="s2">&quot; --[no-]watch/-w command-line option instead.&quot;</span>
<a name="gbab-323"></a>        <span class="n">config</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="s2">&quot;auto&quot;</span><span class="p">)</span>
<a name="gbab-324"></a>        <span class="n">config</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="s2">&quot;watch&quot;</span><span class="p">)</span>
<a name="gbab-325"></a>      <span class="k">end</span>
<a name="gbab-326"></a>    <span class="k">end</span>
<a name="gbab-327"></a>
<a name="gbab-328"></a>    <span class="kp">private</span>
<a name="gbab-329"></a>    <span class="k">def</span> <span class="nf">check_server</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-330"></a>      <span class="k">if</span> <span class="n">config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;server&quot;</span><span class="p">)</span>
<a name="gbab-331"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span> <span class="s2">&quot;The &#39;server&#39; configuration option&quot;</span> <span class="p">\</span>
<a name="gbab-332"></a>                            <span class="s2">&quot; is no longer accepted. Use the &#39;jekyll serve&#39;&quot;</span> <span class="p">\</span>
<a name="gbab-333"></a>                            <span class="s2">&quot; subcommand to serve your site with WEBrick.&quot;</span>
<a name="gbab-334"></a>        <span class="n">config</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="s2">&quot;server&quot;</span><span class="p">)</span>
<a name="gbab-335"></a>      <span class="k">end</span>
<a name="gbab-336"></a>    <span class="k">end</span>
<a name="gbab-337"></a>
<a name="gbab-338"></a>    <span class="kp">private</span>
<a name="gbab-339"></a>    <span class="k">def</span> <span class="nf">check_pygments</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-340"></a>      <span class="k">if</span> <span class="n">config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;pygments&quot;</span><span class="p">)</span>
<a name="gbab-341"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span> <span class="s2">&quot;The &#39;pygments&#39; configuration option&quot;</span> <span class="p">\</span>
<a name="gbab-342"></a>                            <span class="s2">&quot; has been renamed to &#39;highlighter&#39;. Please update your&quot;</span> <span class="p">\</span>
<a name="gbab-343"></a>                            <span class="s2">&quot; config file accordingly. The allowed values are &#39;rouge&#39;, &quot;</span> <span class="p">\</span>
<a name="gbab-344"></a>                            <span class="s2">&quot;&#39;pygments&#39; or null.&quot;</span>
<a name="gbab-345"></a>
<a name="gbab-346"></a>        <span class="n">config</span><span class="o">[</span><span class="s2">&quot;highlighter&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;pygments&quot;</span> <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;pygments&quot;</span><span class="o">]</span>
<a name="gbab-347"></a>        <span class="n">config</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="s2">&quot;pygments&quot;</span><span class="p">)</span>
<a name="gbab-348"></a>      <span class="k">end</span>
<a name="gbab-349"></a>    <span class="k">end</span>
<a name="gbab-350"></a>
<a name="gbab-351"></a>    <span class="kp">private</span>
<a name="gbab-352"></a>    <span class="k">def</span> <span class="nf">check_include_exclude</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-353"></a>      <span class="sx">%w(include exclude)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">option</span><span class="o">|</span>
<a name="gbab-354"></a>        <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="n">option</span><span class="o">].</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">String</span><span class="p">)</span>
<a name="gbab-355"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span> <span class="s2">&quot;The &#39;</span><span class="si">#{</span><span class="n">option</span><span class="si">}</span><span class="s2">&#39; configuration option&quot;</span> <span class="p">\</span>
<a name="gbab-356"></a>            <span class="s2">&quot; must now be specified as an array, but you specified&quot;</span> <span class="p">\</span>
<a name="gbab-357"></a>            <span class="s2">&quot; a string. For now, we&#39;ve treated the string you provided&quot;</span> <span class="p">\</span>
<a name="gbab-358"></a>            <span class="s2">&quot; as a list of comma-separated values.&quot;</span>
<a name="gbab-359"></a>          <span class="n">config</span><span class="o">[</span><span class="n">option</span><span class="o">]</span> <span class="o">=</span> <span class="n">csv_to_array</span><span class="p">(</span><span class="n">config</span><span class="o">[</span><span class="n">option</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-360"></a>        <span class="k">end</span>
<a name="gbab-361"></a>        <span class="n">config</span><span class="o">[</span><span class="n">option</span><span class="o">].</span><span class="n">map!</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:to_s</span><span class="p">)</span> <span class="k">if</span> <span class="n">config</span><span class="o">[</span><span class="n">option</span><span class="o">]</span>
<a name="gbab-362"></a>      <span class="k">end</span>
<a name="gbab-363"></a>    <span class="k">end</span>
<a name="gbab-364"></a>
<a name="gbab-365"></a>    <span class="kp">private</span>
<a name="gbab-366"></a>    <span class="k">def</span> <span class="nf">check_coderay</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-367"></a>      <span class="k">if</span> <span class="p">(</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;kramdown&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="p">{})</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;use_coderay&quot;</span><span class="p">)</span>
<a name="gbab-368"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span> <span class="s2">&quot;Please change &#39;use_coderay&#39;&quot;</span> <span class="p">\</span>
<a name="gbab-369"></a>          <span class="s2">&quot; to &#39;enable_coderay&#39; in your configuration file.&quot;</span>
<a name="gbab-370"></a>        <span class="n">config</span><span class="o">[</span><span class="s2">&quot;kramdown&quot;</span><span class="o">][</span><span class="s2">&quot;use_coderay&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;kramdown&quot;</span><span class="o">].</span><span class="n">delete</span><span class="p">(</span><span class="s2">&quot;enable_coderay&quot;</span><span class="p">)</span>
<a name="gbab-371"></a>      <span class="k">end</span>
<a name="gbab-372"></a>    <span class="k">end</span>
<a name="gbab-373"></a>
<a name="gbab-374"></a>    <span class="kp">private</span>
<a name="gbab-375"></a>    <span class="k">def</span> <span class="nf">check_maruku</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-376"></a>      <span class="k">if</span> <span class="n">config</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;markdown&quot;</span><span class="p">,</span> <span class="s2">&quot;kramdown&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">casecmp</span><span class="p">(</span><span class="s2">&quot;maruku&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">zero?</span>
<a name="gbab-377"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">abort_with</span> <span class="s2">&quot;Error:&quot;</span><span class="p">,</span> <span class="s2">&quot;You&#39;re using the &#39;maruku&#39; &quot;</span> <span class="p">\</span>
<a name="gbab-378"></a>          <span class="s2">&quot;Markdown processor, which has been removed as of 3.0.0. &quot;</span> <span class="p">\</span>
<a name="gbab-379"></a>          <span class="s2">&quot;We recommend you switch to Kramdown. To do this, replace &quot;</span> <span class="p">\</span>
<a name="gbab-380"></a>          <span class="s2">&quot;`markdown: maruku` with `markdown: kramdown` in your &quot;</span> <span class="p">\</span>
<a name="gbab-381"></a>          <span class="s2">&quot;`_config.yml` file.&quot;</span>
<a name="gbab-382"></a>      <span class="k">end</span>
<a name="gbab-383"></a>    <span class="k">end</span>
<a name="gbab-384"></a>
<a name="gbab-385"></a>    <span class="c1"># Private: Checks if the `plugins` config is a String</span>
<a name="gbab-386"></a>    <span class="c1">#</span>
<a name="gbab-387"></a>    <span class="c1"># config - the config hash</span>
<a name="gbab-388"></a>    <span class="c1">#</span>
<a name="gbab-389"></a>    <span class="c1"># Raises a Jekyll::Errors::InvalidConfigurationError if the config `plugins`</span>
<a name="gbab-390"></a>    <span class="c1"># is a string</span>
<a name="gbab-391"></a>    <span class="kp">private</span>
<a name="gbab-392"></a>    <span class="k">def</span> <span class="nf">check_plugins</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-393"></a>      <span class="k">if</span> <span class="n">config</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;plugins&quot;</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;plugins&quot;</span><span class="o">].</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">String</span><span class="p">)</span>
<a name="gbab-394"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Configuration Error:&quot;</span><span class="p">,</span> <span class="s2">&quot;You specified the&quot;</span> <span class="p">\</span>
<a name="gbab-395"></a>          <span class="s2">&quot; `plugins` config in your configuration file as a string, please&quot;</span> <span class="p">\</span>
<a name="gbab-396"></a>          <span class="s2">&quot; use an array instead. If you wanted to set the directory of your&quot;</span> <span class="p">\</span>
<a name="gbab-397"></a>          <span class="s2">&quot; plugins, use the config key `plugins_dir` instead.&quot;</span>
<a name="gbab-398"></a>        <span class="k">raise</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">InvalidConfigurationError</span><span class="p">,</span>
<a name="gbab-399"></a>          <span class="s2">&quot;&#39;plugins&#39; should not be a string, but was: &quot;</span> <span class="p">\</span>
<a name="gbab-400"></a>          <span class="s2">&quot;</span><span class="si">#{</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;plugins&quot;</span><span class="o">].</span><span class="n">inspect</span><span class="si">}</span><span class="s2">. Use &#39;plugins_dir&#39; instead.&quot;</span>
<a name="gbab-401"></a>      <span class="k">end</span>
<a name="gbab-402"></a>    <span class="k">end</span>
<a name="gbab-403"></a>  <span class="k">end</span>
<a name="gbab-404"></a><span class="k">end</span>
</pre></div>
</td></tr></table>