<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;thread&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="nb">require</span> <span class="s2">&quot;thread&quot;</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-8"></a>      <span class="c1"># Similar to the pattern in Utils::ThreadEvent except we are maintaining the</span>
<a name="gbab-9"></a>      <span class="c1"># state of @running instead of just signaling an event.  We have to maintain this</span>
<a name="gbab-10"></a>      <span class="c1"># state since Serve is just called via class methods instead of an instance</span>
<a name="gbab-11"></a>      <span class="c1"># being created each time.</span>
<a name="gbab-12"></a>      <span class="vi">@mutex</span> <span class="o">=</span> <span class="no">Mutex</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-13"></a>      <span class="vi">@run_cond</span> <span class="o">=</span> <span class="no">ConditionVariable</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-14"></a>      <span class="vi">@running</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>  <span class="k">module</span> <span class="nn">Commands</span>
<a name="gbab-17"></a>    <span class="k">class</span> <span class="nc">Serve</span> <span class="o">&lt;</span> <span class="no">Command</span>
<a name="gbab-18"></a>      <span class="c1"># Similar to the pattern in Utils::ThreadEvent except we are maintaining the</span>
<a name="gbab-19"></a>      <span class="c1"># state of @running instead of just signaling an event.  We have to maintain this</span>
<a name="gbab-20"></a>      <span class="c1"># state since Serve is just called via class methods instead of an instance</span>
<a name="gbab-21"></a>          <span class="s2">&quot;detach&quot;</span>               <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;-B&quot;</span><span class="p">,</span> <span class="s2">&quot;--detach&quot;</span><span class="p">,</span>
<a name="gbab-22"></a>            <span class="s2">&quot;Run the server in the background&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-23"></a>      <span class="vi">@mutex</span> <span class="o">=</span> <span class="no">Mutex</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-24"></a>      <span class="vi">@run_cond</span> <span class="o">=</span> <span class="no">ConditionVariable</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-25"></a>      <span class="vi">@running</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>      <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-28"></a>        <span class="no">COMMAND_OPTIONS</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-29"></a>          <span class="s2">&quot;livereload&quot;</span>           <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;-l&quot;</span><span class="p">,</span> <span class="s2">&quot;--livereload&quot;</span><span class="p">,</span>
<a name="gbab-30"></a>            <span class="s2">&quot;Use LiveReload to automatically refresh browsers&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-31"></a>          <span class="s2">&quot;livereload_ignore&quot;</span>    <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;--livereload-ignore ignore GLOB1[,GLOB2[,...]]&quot;</span><span class="p">,</span>
<a name="gbab-32"></a>            <span class="nb">Array</span><span class="p">,</span>
<a name="gbab-33"></a>            <span class="s2">&quot;Files for LiveReload to ignore. Remember to quote the values so your shell &quot;</span><span class="p">\</span>
<a name="gbab-34"></a>            <span class="s2">&quot;won&#39;t expand them&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-35"></a>          <span class="s2">&quot;livereload_min_delay&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;--livereload-min-delay [SECONDS]&quot;</span><span class="p">,</span>
<a name="gbab-36"></a>            <span class="s2">&quot;Minimum reload delay&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-37"></a>          <span class="s2">&quot;livereload_max_delay&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;--livereload-max-delay [SECONDS]&quot;</span><span class="p">,</span>
<a name="gbab-38"></a>            <span class="s2">&quot;Maximum reload delay&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-39"></a>          <span class="s2">&quot;livereload_port&quot;</span>      <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;--livereload-port [PORT]&quot;</span><span class="p">,</span> <span class="nb">Integer</span><span class="p">,</span>
<a name="gbab-40"></a>            <span class="s2">&quot;Port for LiveReload to listen on&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-41"></a>          <span class="s2">&quot;ssl_cert&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;--ssl-cert [CERT]&quot;</span><span class="p">,</span> <span class="s2">&quot;X.509 (SSL) certificate.&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-42"></a>          <span class="s2">&quot;host&quot;</span>     <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;host&quot;</span><span class="p">,</span> <span class="s2">&quot;-H&quot;</span><span class="p">,</span> <span class="s2">&quot;--host [HOST]&quot;</span><span class="p">,</span> <span class="s2">&quot;Host to bind to&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-43"></a>        <span class="no">DIRECTORY_INDEX</span> <span class="o">=</span> <span class="sx">%w(</span>
<a name="gbab-44"></a><span class="sx">          index.htm</span>
<a name="gbab-45"></a><span class="sx">          index.html</span>
<a name="gbab-46"></a><span class="sx">          index.rhtml</span>
<a name="gbab-47"></a><span class="sx">          index.cgi</span>
<a name="gbab-48"></a><span class="sx">          index.xml</span>
<a name="gbab-49"></a><span class="sx">          index.json</span>
<a name="gbab-50"></a><span class="sx">        )</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-51"></a>
<a name="gbab-52"></a>        <span class="no">LIVERELOAD_PORT</span> <span class="o">=</span> <span class="mi">35_729</span>
<a name="gbab-53"></a>        <span class="no">LIVERELOAD_DIR</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">__dir__</span><span class="p">,</span> <span class="s2">&quot;serve&quot;</span><span class="p">,</span> <span class="s2">&quot;livereload_assets&quot;</span><span class="p">)</span>
<a name="gbab-54"></a>
<a name="gbab-55"></a>        <span class="kp">attr_reader</span> <span class="ss">:mutex</span><span class="p">,</span> <span class="ss">:run_cond</span><span class="p">,</span> <span class="ss">:running</span>
<a name="gbab-56"></a>        <span class="n">alias_method</span> <span class="ss">:running?</span><span class="p">,</span> <span class="ss">:running</span>
<a name="gbab-57"></a>          <span class="s2">&quot;detach&quot;</span>               <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;-B&quot;</span><span class="p">,</span> <span class="s2">&quot;--detach&quot;</span><span class="p">,</span>
<a name="gbab-58"></a>            <span class="s2">&quot;Run the server in the background&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-59"></a>          <span class="s2">&quot;ssl_key&quot;</span>  <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;--ssl-key [KEY]&quot;</span><span class="p">,</span> <span class="s2">&quot;X.509 (SSL) Private Key.&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-60"></a>          <span class="s2">&quot;port&quot;</span>     <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;-P&quot;</span><span class="p">,</span> <span class="s2">&quot;--port [PORT]&quot;</span><span class="p">,</span> <span class="s2">&quot;Port to listen on&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-61"></a>          <span class="s2">&quot;show_dir_listing&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;--show-dir-listing&quot;</span><span class="p">,</span>
<a name="gbab-62"></a>            <span class="s2">&quot;Show a directory listing instead of loading your index file.&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-63"></a>          <span class="s2">&quot;skip_initial_build&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;skip_initial_build&quot;</span><span class="p">,</span> <span class="s2">&quot;--skip-initial-build&quot;</span><span class="p">,</span>
<a name="gbab-64"></a>            <span class="s2">&quot;Skips the initial site build which occurs before the server is started.&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-65"></a>          <span class="s2">&quot;livereload&quot;</span>           <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;-l&quot;</span><span class="p">,</span> <span class="s2">&quot;--livereload&quot;</span><span class="p">,</span>
<a name="gbab-66"></a>            <span class="s2">&quot;Use LiveReload to automatically refresh browsers&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-67"></a>          <span class="s2">&quot;livereload_ignore&quot;</span>    <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;--livereload-ignore ignore GLOB1[,GLOB2[,...]]&quot;</span><span class="p">,</span>
<a name="gbab-68"></a>            <span class="nb">Array</span><span class="p">,</span>
<a name="gbab-69"></a>            <span class="s2">&quot;Files for LiveReload to ignore. Remember to quote the values so your shell &quot;</span><span class="p">\</span>
<a name="gbab-70"></a>            <span class="s2">&quot;won&#39;t expand them&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-71"></a>              <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload_port&quot;</span><span class="o">]</span> <span class="o">||=</span> <span class="no">LIVERELOAD_PORT</span>
<a name="gbab-72"></a>          <span class="s2">&quot;livereload_min_delay&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;--livereload-min-delay [SECONDS]&quot;</span><span class="p">,</span>
<a name="gbab-73"></a>            <span class="s2">&quot;Minimum reload delay&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-74"></a>          <span class="s2">&quot;livereload_max_delay&quot;</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;--livereload-max-delay [SECONDS]&quot;</span><span class="p">,</span>
<a name="gbab-75"></a>              <span class="n">start</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-76"></a>            <span class="k">end</span>
<a name="gbab-77"></a>          <span class="k">end</span>
<a name="gbab-78"></a>        <span class="k">end</span>
<a name="gbab-79"></a>
<a name="gbab-80"></a>        <span class="c1">#</span>
<a name="gbab-81"></a>
<a name="gbab-82"></a>        <span class="k">def</span> <span class="nf">start</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-83"></a>          <span class="c1"># Set the reactor to nil so any old reactor will be GCed.</span>
<a name="gbab-84"></a>          <span class="c1"># We can&#39;t unregister a hook so in testing when Serve.start is</span>
<a name="gbab-85"></a>          <span class="c1"># called multiple times we don&#39;t want to inadvertently keep using</span>
<a name="gbab-86"></a>          <span class="c1"># a reactor created by a previous test when our test might not</span>
<a name="gbab-87"></a>          <span class="vi">@reload_reactor</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-88"></a>
<a name="gbab-89"></a>            <span class="s2">&quot;Maximum reload delay&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-90"></a>          <span class="s2">&quot;livereload_port&quot;</span>      <span class="o">=&gt;</span> <span class="o">[</span><span class="s2">&quot;--livereload-port [PORT]&quot;</span><span class="p">,</span> <span class="nb">Integer</span><span class="p">,</span>
<a name="gbab-91"></a>            <span class="s2">&quot;Port for LiveReload to listen on&quot;</span><span class="p">,</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-92"></a>        <span class="p">}</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-93"></a>
<a name="gbab-94"></a>        <span class="no">DIRECTORY_INDEX</span> <span class="o">=</span> <span class="sx">%w(</span>
<a name="gbab-95"></a><span class="sx">          index.rhtml</span>
<a name="gbab-96"></a><span class="sx">          index.cgi</span>
<a name="gbab-97"></a><span class="sx">          index.xml</span>
<a name="gbab-98"></a><span class="sx">          index.json</span>
<a name="gbab-99"></a><span class="sx">        )</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-100"></a>
<a name="gbab-101"></a>          <span class="n">register_reload_hooks</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span> <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload&quot;</span><span class="o">]</span>
<a name="gbab-102"></a>        <span class="no">LIVERELOAD_PORT</span> <span class="o">=</span> <span class="mi">35_729</span>
<a name="gbab-103"></a>        <span class="no">LIVERELOAD_DIR</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">__dir__</span><span class="p">,</span> <span class="s2">&quot;serve&quot;</span><span class="p">,</span> <span class="s2">&quot;livereload_assets&quot;</span><span class="p">)</span>
<a name="gbab-104"></a>
<a name="gbab-105"></a>        <span class="kp">attr_reader</span> <span class="ss">:mutex</span><span class="p">,</span> <span class="ss">:run_cond</span><span class="p">,</span> <span class="ss">:running</span>
<a name="gbab-106"></a>        <span class="n">alias_method</span> <span class="ss">:running?</span><span class="p">,</span> <span class="ss">:running</span>
<a name="gbab-107"></a>        <span class="k">def</span> <span class="nf">shutdown</span>
<a name="gbab-108"></a>          <span class="vi">@server</span><span class="o">.</span><span class="n">shutdown</span> <span class="k">if</span> <span class="n">running?</span>
<a name="gbab-109"></a>        <span class="k">end</span>
<a name="gbab-110"></a>
<a name="gbab-111"></a>        <span class="c1"># Perform logical validation of CLI options</span>
<a name="gbab-112"></a>
<a name="gbab-113"></a>        <span class="kp">private</span>
<a name="gbab-114"></a>        <span class="k">def</span> <span class="nf">validate_options</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-115"></a>          <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload&quot;</span><span class="o">]</span>
<a name="gbab-116"></a>            <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;detach&quot;</span><span class="o">]</span>
<a name="gbab-117"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Warning:&quot;</span><span class="p">,</span>
<a name="gbab-118"></a>                <span class="s2">&quot;--detach and --livereload are mutually exclusive. Choosing --livereload&quot;</span>
<a name="gbab-119"></a>              <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;detach&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-120"></a>            <span class="k">end</span>
<a name="gbab-121"></a>            <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;ssl_cert&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;ssl_key&quot;</span><span class="o">]</span>
<a name="gbab-122"></a>              <span class="c1"># This is not technically true.  LiveReload works fine over SSL, but</span>
<a name="gbab-123"></a>              <span class="c1"># EventMachine&#39;s SSL support in Windows requires building the gem&#39;s</span>
<a name="gbab-124"></a>              <span class="c1"># native extensions against OpenSSL and that proved to be a process</span>
<a name="gbab-125"></a>              <span class="c1"># so tedious that expecting users to do it is a non-starter.</span>
<a name="gbab-126"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">abort_with</span> <span class="s2">&quot;Error:&quot;</span><span class="p">,</span> <span class="s2">&quot;LiveReload does not support SSL&quot;</span>
<a name="gbab-127"></a>            <span class="k">end</span>
<a name="gbab-128"></a>            <span class="k">unless</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;watch&quot;</span><span class="o">]</span>
<a name="gbab-129"></a>              <span class="c1"># Using livereload logically implies you want to watch the files</span>
<a name="gbab-130"></a>              <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;watch&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-131"></a>            <span class="k">end</span>
<a name="gbab-132"></a>          <span class="k">elsif</span> <span class="sx">%w(livereload_min_delay</span>
<a name="gbab-133"></a><span class="sx">              livereload_max_delay</span>
<a name="gbab-134"></a><span class="sx">              livereload_ignore</span>
<a name="gbab-135"></a><span class="sx">              livereload_port)</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">o</span><span class="o">|</span> <span class="n">opts</span><span class="o">[</span><span class="n">o</span><span class="o">]</span> <span class="p">}</span>
<a name="gbab-136"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">abort_with</span> <span class="s2">&quot;--livereload-min-delay, &quot;</span><span class="p">\</span>
<a name="gbab-137"></a>               <span class="s2">&quot;--livereload-max-delay, --livereload-ignore, and &quot;</span><span class="p">\</span>
<a name="gbab-138"></a>               <span class="s2">&quot;--livereload-port require the --livereload option.&quot;</span>
<a name="gbab-139"></a>          <span class="k">end</span>
<a name="gbab-140"></a>        <span class="k">end</span>
<a name="gbab-141"></a>
<a name="gbab-142"></a>        <span class="c1">#</span>
<a name="gbab-143"></a>
<a name="gbab-144"></a>        <span class="kp">private</span>
<a name="gbab-145"></a>        <span class="c1"># rubocop:disable Metrics/AbcSize</span>
<a name="gbab-146"></a>        <span class="k">def</span> <span class="nf">register_reload_hooks</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-147"></a>          <span class="n">require_relative</span> <span class="s2">&quot;serve/live_reload_reactor&quot;</span>
<a name="gbab-148"></a>          <span class="vi">@reload_reactor</span> <span class="o">=</span> <span class="no">LiveReloadReactor</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-149"></a>
<a name="gbab-150"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">register</span><span class="p">(</span><span class="ss">:site</span><span class="p">,</span> <span class="ss">:post_render</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">site</span><span class="o">|</span>
<a name="gbab-151"></a>            <span class="n">regenerator</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-152"></a>            <span class="vi">@changed_pages</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">select</span> <span class="k">do</span> <span class="o">|</span><span class="nb">p</span><span class="o">|</span>
<a name="gbab-153"></a>              <span class="n">regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="nb">p</span><span class="p">)</span>
<a name="gbab-154"></a>            <span class="k">end</span>
<a name="gbab-155"></a>          <span class="k">end</span>
<a name="gbab-156"></a>
<a name="gbab-157"></a>          <span class="c1"># A note on ignoring files: LiveReload errs on the side of reloading when it</span>
<a name="gbab-158"></a>          <span class="c1"># comes to the message it gets.  If, for example, a page is ignored but a CSS</span>
<a name="gbab-159"></a>          <span class="c1"># file linked in the page isn&#39;t, the page will still be reloaded if the CSS</span>
<a name="gbab-160"></a>          <span class="c1"># file is contained in the message sent to LiveReload.  Additionally, the</span>
<a name="gbab-161"></a>          <span class="c1"># path matching is very loose so that a message to reload &quot;/&quot; will always</span>
<a name="gbab-162"></a>          <span class="c1"># lead the page to reload since every page starts with &quot;/&quot;.</span>
<a name="gbab-163"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">register</span><span class="p">(</span><span class="ss">:site</span><span class="p">,</span> <span class="ss">:post_write</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-164"></a>            <span class="k">if</span> <span class="vi">@changed_pages</span> <span class="o">&amp;&amp;</span> <span class="vi">@reload_reactor</span> <span class="o">&amp;&amp;</span> <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">running?</span>
<a name="gbab-165"></a>              <span class="n">ignore</span><span class="p">,</span> <span class="vi">@changed_pages</span> <span class="o">=</span> <span class="vi">@changed_pages</span><span class="o">.</span><span class="n">partition</span> <span class="k">do</span> <span class="o">|</span><span class="nb">p</span><span class="o">|</span>
<a name="gbab-166"></a>                <span class="nb">Array</span><span class="p">(</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload_ignore&quot;</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">any?</span> <span class="k">do</span> <span class="o">|</span><span class="n">filter</span><span class="o">|</span>
<a name="gbab-167"></a>                  <span class="no">File</span><span class="o">.</span><span class="n">fnmatch</span><span class="p">(</span><span class="n">filter</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="nb">p</span><span class="o">.</span><span class="n">relative_path</span><span class="p">))</span>
<a name="gbab-168"></a>                <span class="k">end</span>
<a name="gbab-169"></a>              <span class="k">end</span>
<a name="gbab-170"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;LiveReload:&quot;</span><span class="p">,</span> <span class="s2">&quot;Ignoring </span><span class="si">#{</span><span class="n">ignore</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:relative_path</span><span class="p">)</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-171"></a>              <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">reload</span><span class="p">(</span><span class="vi">@changed_pages</span><span class="p">)</span>
<a name="gbab-172"></a>            <span class="k">end</span>
<a name="gbab-173"></a>            <span class="vi">@changed_pages</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-174"></a>          <span class="k">end</span>
<a name="gbab-175"></a>        <span class="k">end</span>
<a name="gbab-176"></a>
<a name="gbab-177"></a>
<a name="gbab-178"></a>        <span class="k">def</span> <span class="nf">init_with_program</span><span class="p">(</span><span class="n">prog</span><span class="p">)</span>
<a name="gbab-179"></a>          <span class="n">prog</span><span class="o">.</span><span class="n">command</span><span class="p">(</span><span class="ss">:serve</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">cmd</span><span class="o">|</span>
<a name="gbab-180"></a>            <span class="n">cmd</span><span class="o">.</span><span class="n">description</span> <span class="s2">&quot;Serve your site locally&quot;</span>
<a name="gbab-181"></a>            <span class="n">cmd</span><span class="o">.</span><span class="n">syntax</span> <span class="s2">&quot;serve [options]&quot;</span>
<a name="gbab-182"></a>            <span class="n">cmd</span><span class="o">.</span><span class="n">alias</span> <span class="ss">:server</span>
<a name="gbab-183"></a>            <span class="n">cmd</span><span class="o">.</span><span class="n">alias</span> <span class="ss">:s</span>
<a name="gbab-184"></a>
<a name="gbab-185"></a>            <span class="n">add_build_options</span><span class="p">(</span><span class="n">cmd</span><span class="p">)</span>
<a name="gbab-186"></a>            <span class="no">COMMAND_OPTIONS</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">key</span><span class="p">,</span> <span class="n">val</span><span class="o">|</span>
<a name="gbab-187"></a>              <span class="n">cmd</span><span class="o">.</span><span class="n">option</span> <span class="n">key</span><span class="p">,</span> <span class="o">*</span><span class="n">val</span>
<a name="gbab-188"></a>            <span class="k">end</span>
<a name="gbab-189"></a>
<a name="gbab-190"></a>            <span class="n">cmd</span><span class="o">.</span><span class="n">action</span> <span class="k">do</span> <span class="o">|</span><span class="n">_</span><span class="p">,</span> <span class="n">opts</span><span class="o">|</span>
<a name="gbab-191"></a>              <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload_port&quot;</span><span class="o">]</span> <span class="o">||=</span> <span class="no">LIVERELOAD_PORT</span>
<a name="gbab-192"></a>              <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;serving&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-193"></a>              <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;watch&quot;</span>  <span class="o">]</span> <span class="o">=</span> <span class="kp">true</span> <span class="k">unless</span> <span class="n">opts</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;watch&quot;</span><span class="p">)</span>
<a name="gbab-194"></a>
<a name="gbab-195"></a>              <span class="n">start</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-196"></a>            <span class="k">end</span>
<a name="gbab-197"></a>          <span class="k">end</span>
<a name="gbab-198"></a>        <span class="k">end</span>
<a name="gbab-199"></a>
<a name="gbab-200"></a>        <span class="c1">#</span>
<a name="gbab-201"></a>
<a name="gbab-202"></a>        <span class="k">def</span> <span class="nf">start</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-203"></a>          <span class="c1"># Set the reactor to nil so any old reactor will be GCed.</span>
<a name="gbab-204"></a>          <span class="c1"># We can&#39;t unregister a hook so in testing when Serve.start is</span>
<a name="gbab-205"></a>          <span class="c1"># called multiple times we don&#39;t want to inadvertently keep using</span>
<a name="gbab-206"></a>            <span class="ss">:StopCallback</span>       <span class="o">=&gt;</span> <span class="n">stop_callback</span><span class="p">(</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;detach&quot;</span><span class="o">]</span><span class="p">),</span>
<a name="gbab-207"></a>          <span class="c1"># a reactor created by a previous test when our test might not</span>
<a name="gbab-208"></a>          <span class="vi">@reload_reactor</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-209"></a>            <span class="ss">:DirectoryIndex</span>     <span class="o">=&gt;</span> <span class="no">DIRECTORY_INDEX</span><span class="p">,</span>
<a name="gbab-210"></a>            <span class="k">end</span>
<a name="gbab-211"></a>
<a name="gbab-212"></a>        <span class="c1">#</span>
<a name="gbab-213"></a>
<a name="gbab-214"></a>        <span class="k">def</span> <span class="nf">process</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-215"></a>          <span class="n">opts</span> <span class="o">=</span> <span class="n">configuration_from_options</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-216"></a>          <span class="n">destination</span> <span class="o">=</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;destination&quot;</span><span class="o">]</span>
<a name="gbab-217"></a>          <span class="n">setup</span><span class="p">(</span><span class="n">destination</span><span class="p">)</span>
<a name="gbab-218"></a>
<a name="gbab-219"></a>          <span class="n">start_up_webrick</span><span class="p">(</span><span class="n">opts</span><span class="p">,</span> <span class="n">destination</span><span class="p">)</span>
<a name="gbab-220"></a>            <span class="k">end</span>
<a name="gbab-221"></a>
<a name="gbab-222"></a>        <span class="k">def</span> <span class="nf">shutdown</span>
<a name="gbab-223"></a>          <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload&quot;</span><span class="o">]</span>
<a name="gbab-224"></a>            <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">start</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-225"></a>          <span class="k">end</span>
<a name="gbab-226"></a>
<a name="gbab-227"></a>          <span class="vi">@server</span> <span class="o">=</span> <span class="no">WEBrick</span><span class="o">::</span><span class="no">HTTPServer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">webrick_opts</span><span class="p">(</span><span class="n">opts</span><span class="p">))</span><span class="o">.</span><span class="n">tap</span> <span class="p">{</span> <span class="o">|</span><span class="n">o</span><span class="o">|</span> <span class="n">o</span><span class="o">.</span><span class="n">unmount</span><span class="p">(</span><span class="s2">&quot;&quot;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-228"></a>          <span class="vi">@server</span><span class="o">.</span><span class="n">mount</span><span class="p">(</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;baseurl&quot;</span><span class="o">].</span><span class="n">to_s</span><span class="p">,</span> <span class="no">Servlet</span><span class="p">,</span> <span class="n">destination</span><span class="p">,</span> <span class="n">file_handler_opts</span><span class="p">)</span>
<a name="gbab-229"></a>
<a name="gbab-230"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Server address:&quot;</span><span class="p">,</span> <span class="n">server_address</span><span class="p">(</span><span class="vi">@server</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-231"></a>          <span class="n">launch_browser</span> <span class="vi">@server</span><span class="p">,</span> <span class="n">opts</span> <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;open_url&quot;</span><span class="o">]</span>
<a name="gbab-232"></a>          <span class="n">boot_or_detach</span> <span class="vi">@server</span><span class="p">,</span> <span class="n">opts</span>
<a name="gbab-233"></a>        <span class="kp">private</span>
<a name="gbab-234"></a>        <span class="k">def</span> <span class="nf">validate_options</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-235"></a>          <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload&quot;</span><span class="o">]</span>
<a name="gbab-236"></a>            <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;detach&quot;</span><span class="o">]</span>
<a name="gbab-237"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Warning:&quot;</span><span class="p">,</span>
<a name="gbab-238"></a>                <span class="s2">&quot;--detach and --livereload are mutually exclusive. Choosing --livereload&quot;</span>
<a name="gbab-239"></a>              <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;detach&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-240"></a>            <span class="k">end</span>
<a name="gbab-241"></a>            <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;ssl_cert&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;ssl_key&quot;</span><span class="o">]</span>
<a name="gbab-242"></a>              <span class="c1"># This is not technically true.  LiveReload works fine over SSL, but</span>
<a name="gbab-243"></a>              <span class="c1"># EventMachine&#39;s SSL support in Windows requires building the gem&#39;s</span>
<a name="gbab-244"></a>              <span class="c1"># native extensions against OpenSSL and that proved to be a process</span>
<a name="gbab-245"></a>              <span class="c1"># so tedious that expecting users to do it is a non-starter.</span>
<a name="gbab-246"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">abort_with</span> <span class="s2">&quot;Error:&quot;</span><span class="p">,</span> <span class="s2">&quot;LiveReload does not support SSL&quot;</span>
<a name="gbab-247"></a>            <span class="k">end</span>
<a name="gbab-248"></a>            <span class="k">unless</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;watch&quot;</span><span class="o">]</span>
<a name="gbab-249"></a>              <span class="c1"># Using livereload logically implies you want to watch the files</span>
<a name="gbab-250"></a>              <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;watch&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-251"></a>            <span class="k">end</span>
<a name="gbab-252"></a>          <span class="k">elsif</span> <span class="sx">%w(livereload_min_delay</span>
<a name="gbab-253"></a><span class="sx">              livereload_max_delay</span>
<a name="gbab-254"></a><span class="sx">              livereload_ignore</span>
<a name="gbab-255"></a><span class="sx">              livereload_port)</span><span class="o">.</span><span class="n">any?</span> <span class="p">{</span> <span class="o">|</span><span class="n">o</span><span class="o">|</span> <span class="n">opts</span><span class="o">[</span><span class="n">o</span><span class="o">]</span> <span class="p">}</span>
<a name="gbab-256"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">abort_with</span> <span class="s2">&quot;--livereload-min-delay, &quot;</span><span class="p">\</span>
<a name="gbab-257"></a>               <span class="s2">&quot;--livereload-max-delay, --livereload-ignore, and &quot;</span><span class="p">\</span>
<a name="gbab-258"></a>               <span class="s2">&quot;--livereload-port require the --livereload option.&quot;</span>
<a name="gbab-259"></a>          <span class="k">end</span>
<a name="gbab-260"></a>        <span class="k">end</span>
<a name="gbab-261"></a>
<a name="gbab-262"></a>        <span class="c1">#</span>
<a name="gbab-263"></a>
<a name="gbab-264"></a>        <span class="kp">private</span>
<a name="gbab-265"></a>        <span class="c1"># rubocop:disable Metrics/AbcSize</span>
<a name="gbab-266"></a>        <span class="k">def</span> <span class="nf">register_reload_hooks</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-267"></a>          <span class="n">require_relative</span> <span class="s2">&quot;serve/live_reload_reactor&quot;</span>
<a name="gbab-268"></a>          <span class="vi">@reload_reactor</span> <span class="o">=</span> <span class="no">LiveReloadReactor</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-269"></a>
<a name="gbab-270"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">register</span><span class="p">(</span><span class="ss">:site</span><span class="p">,</span> <span class="ss">:post_render</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">site</span><span class="o">|</span>
<a name="gbab-271"></a>            <span class="n">regenerator</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Regenerator</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-272"></a>            <span class="vi">@changed_pages</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">pages</span><span class="o">.</span><span class="n">select</span> <span class="k">do</span> <span class="o">|</span><span class="nb">p</span><span class="o">|</span>
<a name="gbab-273"></a>              <span class="n">regenerator</span><span class="o">.</span><span class="n">regenerate?</span><span class="p">(</span><span class="nb">p</span><span class="p">)</span>
<a name="gbab-274"></a>            <span class="k">end</span>
<a name="gbab-275"></a>          <span class="k">end</span>
<a name="gbab-276"></a>
<a name="gbab-277"></a>          <span class="c1"># A note on ignoring files: LiveReload errs on the side of reloading when it</span>
<a name="gbab-278"></a>          <span class="c1"># comes to the message it gets.  If, for example, a page is ignored but a CSS</span>
<a name="gbab-279"></a>          <span class="c1"># file linked in the page isn&#39;t, the page will still be reloaded if the CSS</span>
<a name="gbab-280"></a>          <span class="c1"># file is contained in the message sent to LiveReload.  Additionally, the</span>
<a name="gbab-281"></a>          <span class="c1"># path matching is very loose so that a message to reload &quot;/&quot; will always</span>
<a name="gbab-282"></a>          <span class="c1"># lead the page to reload since every page starts with &quot;/&quot;.</span>
<a name="gbab-283"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">register</span><span class="p">(</span><span class="ss">:site</span><span class="p">,</span> <span class="ss">:post_write</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-284"></a>            <span class="k">if</span> <span class="vi">@changed_pages</span> <span class="o">&amp;&amp;</span> <span class="vi">@reload_reactor</span> <span class="o">&amp;&amp;</span> <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">running?</span>
<a name="gbab-285"></a>              <span class="n">ignore</span><span class="p">,</span> <span class="vi">@changed_pages</span> <span class="o">=</span> <span class="vi">@changed_pages</span><span class="o">.</span><span class="n">partition</span> <span class="k">do</span> <span class="o">|</span><span class="nb">p</span><span class="o">|</span>
<a name="gbab-286"></a>                <span class="nb">Array</span><span class="p">(</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload_ignore&quot;</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">any?</span> <span class="k">do</span> <span class="o">|</span><span class="n">filter</span><span class="o">|</span>
<a name="gbab-287"></a>                  <span class="no">File</span><span class="o">.</span><span class="n">fnmatch</span><span class="p">(</span><span class="n">filter</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="nb">p</span><span class="o">.</span><span class="n">relative_path</span><span class="p">))</span>
<a name="gbab-288"></a>                <span class="k">end</span>
<a name="gbab-289"></a>              <span class="k">end</span>
<a name="gbab-290"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;LiveReload:&quot;</span><span class="p">,</span> <span class="s2">&quot;Ignoring </span><span class="si">#{</span><span class="n">ignore</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:relative_path</span><span class="p">)</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-291"></a>              <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">reload</span><span class="p">(</span><span class="vi">@changed_pages</span><span class="p">)</span>
<a name="gbab-292"></a>            <span class="k">end</span>
<a name="gbab-293"></a>            <span class="vi">@changed_pages</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-294"></a>          <span class="k">end</span>
<a name="gbab-295"></a>        <span class="k">end</span>
<a name="gbab-296"></a>
<a name="gbab-297"></a>        <span class="c1"># Do a base pre-setup of WEBRick so that everything is in place</span>
<a name="gbab-298"></a>        <span class="c1"># when we get ready to party, checking for an setting up an error page</span>
<a name="gbab-299"></a>        <span class="c1"># and making sure our destination exists.</span>
<a name="gbab-300"></a>
<a name="gbab-301"></a>        <span class="kp">private</span>
<a name="gbab-302"></a>        <span class="k">def</span> <span class="nf">setup</span><span class="p">(</span><span class="n">destination</span><span class="p">)</span>
<a name="gbab-303"></a>          <span class="n">require_relative</span> <span class="s2">&quot;serve/servlet&quot;</span>
<a name="gbab-304"></a>
<a name="gbab-305"></a>          <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="n">destination</span><span class="p">)</span>
<a name="gbab-306"></a>          <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">destination</span><span class="p">,</span> <span class="s2">&quot;404.html&quot;</span><span class="p">))</span>
<a name="gbab-307"></a>            <span class="no">WEBrick</span><span class="o">::</span><span class="no">HTTPResponse</span><span class="o">.</span><span class="n">class_eval</span> <span class="k">do</span>
<a name="gbab-308"></a>              <span class="k">def</span> <span class="nf">create_error_page</span>
<a name="gbab-309"></a>                <span class="vi">@header</span><span class="o">[</span><span class="s2">&quot;Content-Type&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;text/html; charset=UTF-8&quot;</span>
<a name="gbab-310"></a>                <span class="vi">@body</span> <span class="o">=</span> <span class="no">IO</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="vi">@config</span><span class="o">[</span><span class="ss">:DocumentRoot</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot;404.html&quot;</span><span class="p">))</span>
<a name="gbab-311"></a>              <span class="k">end</span>
<a name="gbab-312"></a>            <span class="k">end</span>
<a name="gbab-313"></a>          <span class="k">end</span>
<a name="gbab-314"></a>        <span class="k">end</span>
<a name="gbab-315"></a>
<a name="gbab-316"></a>        <span class="c1">#</span>
<a name="gbab-317"></a>
<a name="gbab-318"></a>        <span class="kp">private</span>
<a name="gbab-319"></a>        <span class="k">def</span> <span class="nf">webrick_opts</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-320"></a>        <span class="n">opts</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-321"></a>            <span class="ss">:JekyllOptions</span>      <span class="o">=&gt;</span> <span class="n">opts</span><span class="p">,</span>
<a name="gbab-322"></a>          <span class="ss">:DoNotReverseLookup</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-323"></a>            <span class="ss">:MimeTypes</span>          <span class="o">=&gt;</span> <span class="n">mime_types</span><span class="p">,</span>
<a name="gbab-324"></a>            <span class="ss">:DocumentRoot</span>       <span class="o">=&gt;</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;destination&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-325"></a>            <span class="ss">:StartCallback</span>      <span class="o">=&gt;</span> <span class="n">start_callback</span><span class="p">(</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;detach&quot;</span><span class="o">]</span><span class="p">),</span>
<a name="gbab-326"></a>            <span class="ss">:StopCallback</span>       <span class="o">=&gt;</span> <span class="n">stop_callback</span><span class="p">(</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;detach&quot;</span><span class="o">]</span><span class="p">),</span>
<a name="gbab-327"></a>            <span class="ss">:BindAddress</span>        <span class="o">=&gt;</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;host&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-328"></a>            <span class="ss">:Port</span>               <span class="o">=&gt;</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;port&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-329"></a>            <span class="ss">:DirectoryIndex</span>     <span class="o">=&gt;</span> <span class="no">DIRECTORY_INDEX</span><span class="p">,</span>
<a name="gbab-330"></a>        <span class="p">}</span>
<a name="gbab-331"></a>
<a name="gbab-332"></a>          <span class="n">opts</span><span class="o">[</span><span class="ss">:DirectoryIndex</span><span class="o">]</span> <span class="o">=</span> <span class="o">[]</span> <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="ss">:JekyllOptions</span><span class="o">][</span><span class="s2">&quot;show_dir_listing&quot;</span><span class="o">]</span>
<a name="gbab-333"></a>
<a name="gbab-334"></a>          <span class="n">enable_ssl</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-335"></a>          <span class="n">enable_logging</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-336"></a>        <span class="n">opts</span>
<a name="gbab-337"></a>      <span class="k">end</span>
<a name="gbab-338"></a>
<a name="gbab-339"></a>        <span class="c1">#</span>
<a name="gbab-340"></a>
<a name="gbab-341"></a>        <span class="kp">private</span>
<a name="gbab-342"></a>        <span class="k">def</span> <span class="nf">start_up_webrick</span><span class="p">(</span><span class="n">opts</span><span class="p">,</span> <span class="n">destination</span><span class="p">)</span>
<a name="gbab-343"></a>          <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;livereload&quot;</span><span class="o">]</span>
<a name="gbab-344"></a>            <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">start</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-345"></a>          <span class="k">end</span>
<a name="gbab-346"></a>
<a name="gbab-347"></a>              <span class="n">mutex</span><span class="o">.</span><span class="n">synchronize</span> <span class="k">do</span>
<a name="gbab-348"></a>                <span class="c1"># Block until EventMachine reactor starts</span>
<a name="gbab-349"></a>                <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">started_event</span><span class="o">.</span><span class="n">wait</span> <span class="k">unless</span> <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-350"></a>                <span class="vi">@running</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-351"></a>          <span class="vi">@server</span> <span class="o">=</span> <span class="no">WEBrick</span><span class="o">::</span><span class="no">HTTPServer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">webrick_opts</span><span class="p">(</span><span class="n">opts</span><span class="p">))</span><span class="o">.</span><span class="n">tap</span> <span class="p">{</span> <span class="o">|</span><span class="n">o</span><span class="o">|</span> <span class="n">o</span><span class="o">.</span><span class="n">unmount</span><span class="p">(</span><span class="s2">&quot;&quot;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-352"></a>                <span class="vi">@run_cond</span><span class="o">.</span><span class="n">broadcast</span>
<a name="gbab-353"></a>              <span class="k">end</span>
<a name="gbab-354"></a>            <span class="k">end</span>
<a name="gbab-355"></a>          <span class="k">end</span>
<a name="gbab-356"></a>        <span class="k">end</span>
<a name="gbab-357"></a>
<a name="gbab-358"></a>        <span class="kp">private</span>
<a name="gbab-359"></a>        <span class="k">def</span> <span class="nf">stop_callback</span><span class="p">(</span><span class="n">detached</span><span class="p">)</span>
<a name="gbab-360"></a>          <span class="k">unless</span> <span class="n">detached</span>
<a name="gbab-361"></a>            <span class="nb">proc</span> <span class="k">do</span>
<a name="gbab-362"></a>              <span class="n">mutex</span><span class="o">.</span><span class="n">synchronize</span> <span class="k">do</span>
<a name="gbab-363"></a>                <span class="k">unless</span> <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-364"></a>                  <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">stop</span>
<a name="gbab-365"></a>                  <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">stopped_event</span><span class="o">.</span><span class="n">wait</span>
<a name="gbab-366"></a>                <span class="k">end</span>
<a name="gbab-367"></a>                <span class="vi">@running</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-368"></a>                <span class="vi">@run_cond</span><span class="o">.</span><span class="n">broadcast</span>
<a name="gbab-369"></a>              <span class="k">end</span>
<a name="gbab-370"></a>          <span class="vi">@server</span><span class="o">.</span><span class="n">mount</span><span class="p">(</span><span class="n">opts</span><span class="o">[</span><span class="s2">&quot;baseurl&quot;</span><span class="o">].</span><span class="n">to_s</span><span class="p">,</span> <span class="no">Servlet</span><span class="p">,</span> <span class="n">destination</span><span class="p">,</span> <span class="n">file_handler_opts</span><span class="p">)</span>
<a name="gbab-371"></a>
<a name="gbab-372"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Server address:&quot;</span><span class="p">,</span> <span class="n">server_address</span><span class="p">(</span><span class="vi">@server</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-373"></a>          <span class="n">launch_browser</span> <span class="vi">@server</span><span class="p">,</span> <span class="n">opts</span> <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;open_url&quot;</span><span class="o">]</span>
<a name="gbab-374"></a>          <span class="n">boot_or_detach</span> <span class="vi">@server</span><span class="p">,</span> <span class="n">opts</span>
<a name="gbab-375"></a>        <span class="k">end</span>
<a name="gbab-376"></a>
<a name="gbab-377"></a>        <span class="c1"># Recreate NondisclosureName under utf-8 circumstance</span>
<a name="gbab-378"></a>
<a name="gbab-379"></a>        <span class="kp">private</span>
<a name="gbab-380"></a>        <span class="k">def</span> <span class="nf">file_handler_opts</span>
<a name="gbab-381"></a>          <span class="no">WEBrick</span><span class="o">::</span><span class="no">Config</span><span class="o">::</span><span class="no">FileHandler</span><span class="o">.</span><span class="n">merge</span><span class="p">({</span>
<a name="gbab-382"></a>            <span class="ss">:FancyIndexing</span>     <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-383"></a>            <span class="ss">:NondisclosureName</span> <span class="o">=&gt;</span> <span class="o">[</span>
<a name="gbab-384"></a>              <span class="s2">&quot;.ht*&quot;</span><span class="p">,</span> <span class="s2">&quot;~*&quot;</span><span class="p">,</span>
<a name="gbab-385"></a>            <span class="o">]</span><span class="p">,</span>
<a name="gbab-386"></a>          <span class="p">})</span>
<a name="gbab-387"></a>        <span class="k">end</span>
<a name="gbab-388"></a>
<a name="gbab-389"></a>        <span class="c1">#</span>
<a name="gbab-390"></a>
<a name="gbab-391"></a>        <span class="kp">private</span>
<a name="gbab-392"></a>        <span class="k">def</span> <span class="nf">server_address</span><span class="p">(</span><span class="n">server</span><span class="p">,</span> <span class="n">options</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-393"></a>          <span class="n">format_url</span><span class="p">(</span>
<a name="gbab-394"></a>            <span class="n">server</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="ss">:SSLEnable</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-395"></a>            <span class="n">server</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="ss">:BindAddress</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-396"></a>            <span class="n">server</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="ss">:Port</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-397"></a>            <span class="n">options</span><span class="o">[</span><span class="s2">&quot;baseurl&quot;</span><span class="o">]</span>
<a name="gbab-398"></a>          <span class="p">)</span>
<a name="gbab-399"></a>        <span class="k">end</span>
<a name="gbab-400"></a>
<a name="gbab-401"></a>        <span class="kp">private</span>
<a name="gbab-402"></a>        <span class="k">def</span> <span class="nf">format_url</span><span class="p">(</span><span class="n">ssl_enabled</span><span class="p">,</span> <span class="n">address</span><span class="p">,</span> <span class="n">port</span><span class="p">,</span> <span class="n">baseurl</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-403"></a>          <span class="nb">format</span><span class="p">(</span><span class="s2">&quot;%&lt;prefix&gt;s://%&lt;address&gt;s:%&lt;port&gt;i%&lt;baseurl&gt;s&quot;</span><span class="p">,</span> <span class="p">{</span>
<a name="gbab-404"></a>            <span class="ss">:prefix</span>  <span class="o">=&gt;</span> <span class="n">ssl_enabled</span> <span class="p">?</span> <span class="s2">&quot;https&quot;</span> <span class="p">:</span> <span class="s2">&quot;http&quot;</span><span class="p">,</span>
<a name="gbab-405"></a>            <span class="ss">:address</span> <span class="o">=&gt;</span> <span class="n">address</span><span class="p">,</span>
<a name="gbab-406"></a>            <span class="ss">:port</span>    <span class="o">=&gt;</span> <span class="n">port</span><span class="p">,</span>
<a name="gbab-407"></a>            <span class="ss">:baseurl</span> <span class="o">=&gt;</span> <span class="n">baseurl</span> <span class="p">?</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">baseurl</span><span class="si">}</span><span class="s2">/&quot;</span> <span class="p">:</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-408"></a>          <span class="p">})</span>
<a name="gbab-409"></a>        <span class="k">end</span>
<a name="gbab-410"></a>
<a name="gbab-411"></a>        <span class="c1">#</span>
<a name="gbab-412"></a>
<a name="gbab-413"></a>        <span class="kp">private</span>
<a name="gbab-414"></a>        <span class="k">def</span> <span class="nf">default_url</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-415"></a>          <span class="n">config</span> <span class="o">=</span> <span class="n">configuration_from_options</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-416"></a>          <span class="n">format_url</span><span class="p">(</span>
<a name="gbab-417"></a>            <span class="n">config</span><span class="o">[</span><span class="s2">&quot;ssl_cert&quot;</span><span class="o">]</span> <span class="o">&amp;&amp;</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;ssl_key&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-418"></a>            <span class="n">config</span><span class="o">[</span><span class="s2">&quot;host&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;127.0.0.1&quot;</span> <span class="p">?</span> <span class="s2">&quot;localhost&quot;</span> <span class="p">:</span> <span class="n">config</span><span class="o">[</span><span class="s2">&quot;host&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-419"></a>            <span class="n">config</span><span class="o">[</span><span class="s2">&quot;port&quot;</span><span class="o">]</span>
<a name="gbab-420"></a>          <span class="p">)</span>
<a name="gbab-421"></a>        <span class="k">end</span>
<a name="gbab-422"></a>
<a name="gbab-423"></a>        <span class="c1">#</span>
<a name="gbab-424"></a>
<a name="gbab-425"></a>        <span class="kp">private</span>
<a name="gbab-426"></a>        <span class="k">def</span> <span class="nf">launch_browser</span><span class="p">(</span><span class="n">server</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-427"></a>          <span class="n">address</span> <span class="o">=</span> <span class="n">server_address</span><span class="p">(</span><span class="n">server</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-428"></a>          <span class="k">return</span> <span class="nb">system</span> <span class="s2">&quot;start&quot;</span><span class="p">,</span> <span class="n">address</span> <span class="k">if</span> <span class="no">Utils</span><span class="o">::</span><span class="no">Platforms</span><span class="o">.</span><span class="n">windows?</span>
<a name="gbab-429"></a>          <span class="k">return</span> <span class="nb">system</span> <span class="s2">&quot;xdg-open&quot;</span><span class="p">,</span> <span class="n">address</span> <span class="k">if</span> <span class="no">Utils</span><span class="o">::</span><span class="no">Platforms</span><span class="o">.</span><span class="n">linux?</span>
<a name="gbab-430"></a>          <span class="k">return</span> <span class="nb">system</span> <span class="s2">&quot;open&quot;</span><span class="p">,</span> <span class="n">address</span> <span class="k">if</span> <span class="no">Utils</span><span class="o">::</span><span class="no">Platforms</span><span class="o">.</span><span class="n">osx?</span>
<a name="gbab-431"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Refusing to launch browser; &quot;</span> <span class="p">\</span>
<a name="gbab-432"></a>            <span class="s2">&quot;Platform launcher unknown.&quot;</span>
<a name="gbab-433"></a>        <span class="k">end</span>
<a name="gbab-434"></a>
<a name="gbab-435"></a>        <span class="c1"># Keep in our area with a thread or detach the server as requested</span>
<a name="gbab-436"></a>        <span class="c1"># by the user.  This method determines what we do based on what you</span>
<a name="gbab-437"></a>        <span class="c1"># ask us to do.</span>
<a name="gbab-438"></a>
<a name="gbab-439"></a>        <span class="kp">private</span>
<a name="gbab-440"></a>        <span class="k">def</span> <span class="nf">boot_or_detach</span><span class="p">(</span><span class="n">server</span><span class="p">,</span> <span class="n">opts</span><span class="p">)</span>
<a name="gbab-441"></a>          <span class="k">if</span> <span class="n">opts</span><span class="o">[</span><span class="s2">&quot;detach&quot;</span><span class="o">]</span>
<a name="gbab-442"></a>            <span class="n">pid</span> <span class="o">=</span> <span class="no">Process</span><span class="o">.</span><span class="n">fork</span> <span class="k">do</span>
<a name="gbab-443"></a>              <span class="n">server</span><span class="o">.</span><span class="n">start</span>
<a name="gbab-444"></a>            <span class="k">end</span>
<a name="gbab-445"></a>
<a name="gbab-446"></a>            <span class="no">Process</span><span class="o">.</span><span class="n">detach</span><span class="p">(</span><span class="n">pid</span><span class="p">)</span>
<a name="gbab-447"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Server detached with pid &#39;</span><span class="si">#{</span><span class="n">pid</span><span class="si">}</span><span class="s2">&#39;.&quot;</span><span class="p">,</span> <span class="p">\</span>
<a name="gbab-448"></a>              <span class="s2">&quot;Run `pkill -f jekyll&#39; or `kill -9 </span><span class="si">#{</span><span class="n">pid</span><span class="si">}</span><span class="s2">&#39; to stop the server.&quot;</span>
<a name="gbab-449"></a>              <span class="k">else</span>
<a name="gbab-450"></a>            <span class="n">t</span> <span class="o">=</span> <span class="no">Thread</span><span class="o">.</span><span class="n">new</span> <span class="p">{</span> <span class="n">server</span><span class="o">.</span><span class="n">start</span> <span class="p">}</span>
<a name="gbab-451"></a>            <span class="nb">trap</span><span class="p">(</span><span class="s2">&quot;INT&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="n">server</span><span class="o">.</span><span class="n">shutdown</span> <span class="p">}</span>
<a name="gbab-452"></a>            <span class="n">t</span><span class="o">.</span><span class="n">join</span>
<a name="gbab-453"></a>              <span class="k">end</span>
<a name="gbab-454"></a>            <span class="k">end</span>
<a name="gbab-455"></a>
<a name="gbab-456"></a>        <span class="c1"># Make the stack verbose if the user requests it.</span>
<a name="gbab-457"></a>
<a name="gbab-458"></a>        <span class="kp">private</span>
<a name="gbab-459"></a>        <span class="k">def</span> <span class="nf">enable_logging</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-460"></a>          <span class="n">opts</span><span class="o">[</span><span class="ss">:AccessLog</span><span class="o">]</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-461"></a>          <span class="n">level</span> <span class="o">=</span> <span class="no">WEBrick</span><span class="o">::</span><span class="no">Log</span><span class="o">.</span><span class="n">const_get</span><span class="p">(</span><span class="n">opts</span><span class="o">[</span><span class="ss">:JekyllOptions</span><span class="o">][</span><span class="s2">&quot;verbose&quot;</span><span class="o">]</span> <span class="p">?</span> <span class="ss">:DEBUG</span> <span class="p">:</span> <span class="ss">:WARN</span><span class="p">)</span>
<a name="gbab-462"></a>          <span class="n">opts</span><span class="o">[</span><span class="ss">:Logger</span><span class="o">]</span> <span class="o">=</span> <span class="no">WEBrick</span><span class="o">::</span><span class="no">Log</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vg">$stdout</span><span class="p">,</span> <span class="n">level</span><span class="p">)</span>
<a name="gbab-463"></a>        <span class="k">end</span>
<a name="gbab-464"></a>
<a name="gbab-465"></a>        <span class="c1"># Add SSL to the stack if the user triggers --enable-ssl and they</span>
<a name="gbab-466"></a>        <span class="c1"># provide both types of certificates commonly needed.  Raise if they</span>
<a name="gbab-467"></a>        <span class="c1"># forget to add one of the certificates.</span>
<a name="gbab-468"></a>
<a name="gbab-469"></a>        <span class="kp">private</span>
<a name="gbab-470"></a>        <span class="k">def</span> <span class="nf">enable_ssl</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-471"></a>          <span class="n">cert</span><span class="p">,</span> <span class="n">key</span><span class="p">,</span> <span class="n">src</span> <span class="o">=</span>
<a name="gbab-472"></a>            <span class="n">opts</span><span class="o">[</span><span class="ss">:JekyllOptions</span><span class="o">].</span><span class="n">values_at</span><span class="p">(</span><span class="s2">&quot;ssl_cert&quot;</span><span class="p">,</span> <span class="s2">&quot;ssl_key&quot;</span><span class="p">,</span> <span class="s2">&quot;source&quot;</span><span class="p">)</span>
<a name="gbab-473"></a>
<a name="gbab-474"></a>          <span class="k">return</span> <span class="k">if</span> <span class="n">cert</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="n">key</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-475"></a>          <span class="k">raise</span> <span class="s2">&quot;Missing --ssl_cert or --ssl_key. Both are required.&quot;</span> <span class="k">unless</span> <span class="n">cert</span> <span class="o">&amp;&amp;</span> <span class="n">key</span>
<a name="gbab-476"></a>
<a name="gbab-477"></a>          <span class="nb">require</span> <span class="s2">&quot;openssl&quot;</span>
<a name="gbab-478"></a>          <span class="nb">require</span> <span class="s2">&quot;webrick/https&quot;</span>
<a name="gbab-479"></a>
<a name="gbab-480"></a>          <span class="n">opts</span><span class="o">[</span><span class="ss">:SSLCertificate</span><span class="o">]</span> <span class="o">=</span> <span class="no">OpenSSL</span><span class="o">::</span><span class="no">X509</span><span class="o">::</span><span class="no">Certificate</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">read_file</span><span class="p">(</span><span class="n">src</span><span class="p">,</span> <span class="n">cert</span><span class="p">))</span>
<a name="gbab-481"></a>          <span class="n">opts</span><span class="o">[</span><span class="ss">:SSLPrivateKey</span> <span class="o">]</span> <span class="o">=</span> <span class="no">OpenSSL</span><span class="o">::</span><span class="no">PKey</span><span class="o">::</span><span class="no">RSA</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">read_file</span><span class="p">(</span><span class="n">src</span><span class="p">,</span> <span class="n">key</span><span class="p">))</span>
<a name="gbab-482"></a>          <span class="n">opts</span><span class="o">[</span><span class="ss">:SSLEnable</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-483"></a>        <span class="k">end</span>
<a name="gbab-484"></a>
<a name="gbab-485"></a>        <span class="kp">private</span>
<a name="gbab-486"></a>        <span class="k">def</span> <span class="nf">start_callback</span><span class="p">(</span><span class="n">detached</span><span class="p">)</span>
<a name="gbab-487"></a>        <span class="k">unless</span> <span class="n">detached</span>
<a name="gbab-488"></a>            <span class="nb">proc</span> <span class="k">do</span>
<a name="gbab-489"></a>              <span class="n">mutex</span><span class="o">.</span><span class="n">synchronize</span> <span class="k">do</span>
<a name="gbab-490"></a>                <span class="c1"># Block until EventMachine reactor starts</span>
<a name="gbab-491"></a>                <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">started_event</span><span class="o">.</span><span class="n">wait</span> <span class="k">unless</span> <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-492"></a>                <span class="vi">@running</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-493"></a>              <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span><span class="p">(</span><span class="s2">&quot;Server running...&quot;</span><span class="p">,</span> <span class="s2">&quot;press ctrl-c to stop.&quot;</span><span class="p">)</span>
<a name="gbab-494"></a>                <span class="vi">@run_cond</span><span class="o">.</span><span class="n">broadcast</span>
<a name="gbab-495"></a>              <span class="k">end</span>
<a name="gbab-496"></a>            <span class="k">end</span>
<a name="gbab-497"></a>          <span class="k">end</span>
<a name="gbab-498"></a>        <span class="k">end</span>
<a name="gbab-499"></a>
<a name="gbab-500"></a>        <span class="kp">private</span>
<a name="gbab-501"></a>        <span class="k">def</span> <span class="nf">stop_callback</span><span class="p">(</span><span class="n">detached</span><span class="p">)</span>
<a name="gbab-502"></a>          <span class="k">unless</span> <span class="n">detached</span>
<a name="gbab-503"></a>            <span class="nb">proc</span> <span class="k">do</span>
<a name="gbab-504"></a>              <span class="n">mutex</span><span class="o">.</span><span class="n">synchronize</span> <span class="k">do</span>
<a name="gbab-505"></a>                <span class="k">unless</span> <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-506"></a>                  <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">stop</span>
<a name="gbab-507"></a>                  <span class="vi">@reload_reactor</span><span class="o">.</span><span class="n">stopped_event</span><span class="o">.</span><span class="n">wait</span>
<a name="gbab-508"></a>                <span class="k">end</span>
<a name="gbab-509"></a>                <span class="vi">@running</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-510"></a>                <span class="vi">@run_cond</span><span class="o">.</span><span class="n">broadcast</span>
<a name="gbab-511"></a>              <span class="k">end</span>
<a name="gbab-512"></a>            <span class="k">end</span>
<a name="gbab-513"></a>        <span class="k">end</span>
<a name="gbab-514"></a>      <span class="k">end</span>
<a name="gbab-515"></a>
<a name="gbab-516"></a>        <span class="kp">private</span>
<a name="gbab-517"></a>        <span class="k">def</span> <span class="nf">mime_types</span>
<a name="gbab-518"></a>          <span class="n">file</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;../mime.types&quot;</span><span class="p">,</span> <span class="n">__dir__</span><span class="p">)</span>
<a name="gbab-519"></a>          <span class="no">WEBrick</span><span class="o">::</span><span class="no">HTTPUtils</span><span class="o">.</span><span class="n">load_mime_types</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-520"></a>      <span class="k">end</span>
<a name="gbab-521"></a>
<a name="gbab-522"></a>        <span class="kp">private</span>
<a name="gbab-523"></a>        <span class="k">def</span> <span class="nf">read_file</span><span class="p">(</span><span class="n">source_dir</span><span class="p">,</span> <span class="n">file_path</span><span class="p">)</span>
<a name="gbab-524"></a>          <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">.</span><span class="n">sanitized_path</span><span class="p">(</span><span class="n">source_dir</span><span class="p">,</span> <span class="n">file_path</span><span class="p">))</span>
<a name="gbab-525"></a>        <span class="k">end</span>
<a name="gbab-526"></a>        <span class="k">end</span>
<a name="gbab-527"></a>  <span class="k">end</span>
<a name="gbab-528"></a>  <span class="k">end</span>
<a name="gbab-529"></a><span class="k">end</span>
</pre></div>
</td></tr></table>