<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Converters</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">Markdown</span> <span class="o">&lt;</span> <span class="no">Converter</span>
<a name="gbab-6"></a>      <span class="n">highlighter_prefix</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-7"></a>      <span class="n">highlighter_suffix</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-8"></a>      <span class="n">safe</span> <span class="kp">true</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>    <span class="k">def</span> <span class="nf">setup</span>
<a name="gbab-11"></a>        <span class="k">return</span> <span class="k">if</span> <span class="vi">@setup</span> <span class="o">||=</span> <span class="kp">false</span>
<a name="gbab-12"></a>        <span class="k">unless</span> <span class="p">(</span><span class="vi">@parser</span> <span class="o">=</span> <span class="n">get_processor</span><span class="p">)</span>
<a name="gbab-13"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Invalid Markdown processor given:&quot;</span><span class="p">,</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;markdown&quot;</span><span class="o">]</span>
<a name="gbab-14"></a>          <span class="k">if</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;safe&quot;</span><span class="o">]</span>
<a name="gbab-15"></a>            <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;Custom processors are not loaded in safe mode&quot;</span>
<a name="gbab-16"></a>          <span class="k">end</span>
<a name="gbab-17"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span><span class="p">(</span>
<a name="gbab-18"></a>            <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-19"></a>            <span class="s2">&quot;Available processors are: </span><span class="si">#{</span><span class="n">valid_processors</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;, &quot;</span><span class="p">)</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-20"></a>          <span class="p">)</span>
<a name="gbab-21"></a>          <span class="k">raise</span> <span class="no">Errors</span><span class="o">::</span><span class="no">FatalException</span><span class="p">,</span> <span class="s2">&quot;Bailing out; invalid Markdown processor.&quot;</span>
<a name="gbab-22"></a>          <span class="k">raise</span> <span class="no">FatalException</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;Invalid Markdown process: </span><span class="si">#{</span><span class="vi">@config</span><span class="o">[</span><span class="s1">&#39;markdown&#39;</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>        <span class="vi">@setup</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-25"></a>      <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>      <span class="c1"># Rubocop does not allow reader methods to have names starting with `get_`</span>
<a name="gbab-28"></a>      <span class="c1"># To ensure compatibility, this check has been disabled on this method</span>
<a name="gbab-29"></a>      <span class="c1">#</span>
<a name="gbab-30"></a>      <span class="c1"># rubocop:disable Naming/AccessorMethodName</span>
<a name="gbab-31"></a>      <span class="k">def</span> <span class="nf">get_processor</span>
<a name="gbab-32"></a>        <span class="k">case</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;markdown&quot;</span><span class="o">].</span><span class="n">downcase</span>
<a name="gbab-33"></a>          <span class="k">when</span> <span class="s2">&quot;redcarpet&quot;</span> <span class="k">then</span> <span class="k">return</span> <span class="no">RedcarpetParser</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@config</span><span class="p">)</span>
<a name="gbab-34"></a>          <span class="k">when</span> <span class="s2">&quot;kramdown&quot;</span>  <span class="k">then</span> <span class="k">return</span> <span class="no">KramdownParser</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@config</span><span class="p">)</span>
<a name="gbab-35"></a>          <span class="k">when</span> <span class="s2">&quot;rdiscount&quot;</span> <span class="k">then</span> <span class="k">return</span> <span class="no">RDiscountParser</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@config</span><span class="p">)</span>
<a name="gbab-36"></a>        <span class="k">else</span>
<a name="gbab-37"></a>          <span class="n">custom_processor</span>
<a name="gbab-38"></a>          <span class="k">end</span>
<a name="gbab-39"></a>      <span class="vi">@setup</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-40"></a>      <span class="c1"># rubocop:enable Naming/AccessorMethodName</span>
<a name="gbab-41"></a>    <span class="k">end</span>
<a name="gbab-42"></a>      <span class="c1"># Public: Provides you with a list of processors, the ones we</span>
<a name="gbab-43"></a>      <span class="c1"># support internally and the ones that you have provided to us (if you</span>
<a name="gbab-44"></a>      <span class="c1"># are not in safe mode.)</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>      <span class="k">def</span> <span class="nf">valid_processors</span>
<a name="gbab-47"></a>        <span class="sx">%w(rdiscount kramdown redcarpet)</span> <span class="o">+</span> <span class="n">third_party_processors</span>
<a name="gbab-48"></a>      <span class="k">end</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a>      <span class="c1"># Public: A list of processors that you provide via plugins.</span>
<a name="gbab-51"></a>      <span class="c1"># This is really only available if you are not in safe mode, if you are</span>
<a name="gbab-52"></a>      <span class="c1"># in safe mode (re: GitHub) then there will be none.</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>      <span class="k">def</span> <span class="nf">third_party_processors</span>
<a name="gbab-55"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">constants</span> <span class="o">-</span> <span class="p">\</span>
<a name="gbab-56"></a>        <span class="sx">%w(KramdownParser RDiscountParser RedcarpetParser PRIORITIES)</span><span class="o">.</span><span class="n">map</span><span class="p">(</span>
<a name="gbab-57"></a>          <span class="o">&amp;</span><span class="ss">:to_sym</span>
<a name="gbab-58"></a>        <span class="p">)</span>
<a name="gbab-59"></a>      <span class="k">end</span>
<a name="gbab-60"></a>
<a name="gbab-61"></a>      <span class="k">def</span> <span class="nf">extname_list</span>
<a name="gbab-62"></a>        <span class="vi">@extname_list</span> <span class="o">||=</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;markdown_ext&quot;</span><span class="o">].</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;,&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">map</span> <span class="k">do</span> <span class="o">|</span><span class="n">e</span><span class="o">|</span>
<a name="gbab-63"></a>          <span class="s2">&quot;.</span><span class="si">#{</span><span class="n">e</span><span class="o">.</span><span class="n">downcase</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-64"></a>        <span class="k">end</span>
<a name="gbab-65"></a>      <span class="k">end</span>
<a name="gbab-66"></a>
<a name="gbab-67"></a>
<a name="gbab-68"></a>        <span class="n">extname_list</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">ext</span><span class="o">.</span><span class="n">downcase</span><span class="p">)</span>
<a name="gbab-69"></a>      <span class="n">ext</span> <span class="o">=~</span> <span class="sr">/(markdown|mkdn?|md)/i</span>
<a name="gbab-70"></a>    <span class="k">end</span>
<a name="gbab-71"></a>      <span class="k">def</span> <span class="nf">output_ext</span><span class="p">(</span><span class="n">_ext</span><span class="p">)</span>
<a name="gbab-72"></a>    <span class="k">def</span> <span class="nf">output_ext</span><span class="p">(</span><span class="n">ext</span><span class="p">)</span>
<a name="gbab-73"></a>      <span class="s2">&quot;.html&quot;</span>
<a name="gbab-74"></a>    <span class="k">end</span>
<a name="gbab-75"></a>
<a name="gbab-76"></a>    <span class="k">def</span> <span class="nf">convert</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-77"></a>        <span class="vi">@parser</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-78"></a>          <span class="no">RDiscount</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="o">*</span><span class="vi">@rdiscount_extensions</span><span class="p">)</span><span class="o">.</span><span class="n">to_html</span>
<a name="gbab-79"></a>
<a name="gbab-80"></a>      <span class="kp">private</span>
<a name="gbab-81"></a>      <span class="k">def</span> <span class="nf">custom_processor</span>
<a name="gbab-82"></a>        <span class="n">converter_name</span> <span class="o">=</span> <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;markdown&quot;</span><span class="o">]</span>
<a name="gbab-83"></a>        <span class="k">if</span> <span class="n">custom_class_allowed?</span><span class="p">(</span><span class="n">converter_name</span><span class="p">)</span>
<a name="gbab-84"></a>          <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">const_get</span><span class="p">(</span><span class="n">converter_name</span><span class="p">)</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@config</span><span class="p">)</span>
<a name="gbab-85"></a>        <span class="k">end</span>
<a name="gbab-86"></a>      <span class="k">end</span>
<a name="gbab-87"></a>
<a name="gbab-88"></a>      <span class="c1"># Private: Determine whether a class name is an allowed custom</span>
<a name="gbab-89"></a>      <span class="c1">#   markdown class name.</span>
<a name="gbab-90"></a>      <span class="c1">#</span>
<a name="gbab-91"></a>      <span class="c1"># parser_name - the name of the parser class</span>
<a name="gbab-92"></a>      <span class="c1">#</span>
<a name="gbab-93"></a>      <span class="c1"># Returns true if the parser name contains only alphanumeric</span>
<a name="gbab-94"></a>      <span class="c1"># characters and is defined within Jekyll::Converters::Markdown</span>
<a name="gbab-95"></a>
<a name="gbab-96"></a>      <span class="kp">private</span>
<a name="gbab-97"></a>      <span class="k">def</span> <span class="nf">custom_class_allowed?</span><span class="p">(</span><span class="n">parser_name</span><span class="p">)</span>
<a name="gbab-98"></a>        <span class="n">parser_name</span> <span class="o">!~</span> <span class="sr">%r![^A-Za-z0-9_]!</span> <span class="o">&amp;&amp;</span> <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">constants</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span>
<a name="gbab-99"></a>          <span class="n">parser_name</span><span class="o">.</span><span class="n">to_sym</span>
<a name="gbab-100"></a>        <span class="p">)</span>
<a name="gbab-101"></a>      <span class="k">end</span>
<a name="gbab-102"></a>        <span class="k">when</span> <span class="s1">&#39;maruku&#39;</span>
<a name="gbab-103"></a>  <span class="k">end</span>
<a name="gbab-104"></a>      <span class="k">end</span>
<a name="gbab-105"></a>    <span class="k">end</span>
<a name="gbab-106"></a>  <span class="k">end</span>
<a name="gbab-107"></a>
<a name="gbab-108"></a><span class="k">end</span>
</pre></div>
</td></tr></table>