<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">class</span> <span class="nc">Jekyll</span><span class="o">::</span><span class="no">Converters</span><span class="o">::</span><span class="no">Markdown</span><span class="o">::</span><span class="no">RedcarpetParser</span>
<a name="gbab-4"></a>        <span class="k">module</span> <span class="nn">CommonMethods</span>
<a name="gbab-5"></a>          <span class="k">def</span> <span class="nf">add_code_tags</span><span class="p">(</span><span class="n">code</span><span class="p">,</span> <span class="n">lang</span><span class="p">)</span>
<a name="gbab-6"></a>            <span class="n">code</span> <span class="o">=</span> <span class="n">code</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-7"></a>      <span class="n">code</span> <span class="o">=</span> <span class="n">code</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span>
<a name="gbab-8"></a>        <span class="sr">%r!&lt;pre&gt;!</span><span class="p">,</span>
<a name="gbab-9"></a>        <span class="s2">&quot;&lt;pre&gt;&lt;code class=</span><span class="se">\&quot;</span><span class="s2">language-</span><span class="si">#{</span><span class="n">lang</span><span class="si">}</span><span class="se">\&quot;</span><span class="s2"> data-lang=</span><span class="se">\&quot;</span><span class="si">#{</span><span class="n">lang</span><span class="si">}</span><span class="se">\&quot;</span><span class="s2">&gt;&quot;</span>
<a name="gbab-10"></a>      <span class="p">)</span>
<a name="gbab-11"></a>      <span class="n">code</span> <span class="o">=</span> <span class="n">code</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="sr">%r!&lt;/pre&gt;!</span><span class="p">,</span> <span class="s2">&quot;&lt;/code&gt;&lt;/pre&gt;&quot;</span><span class="p">)</span>
<a name="gbab-12"></a>            <span class="n">code</span>
<a name="gbab-13"></a>          <span class="k">end</span>
<a name="gbab-14"></a>        <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>        <span class="k">module</span> <span class="nn">WithPygments</span>
<a name="gbab-17"></a>          <span class="kp">include</span> <span class="no">CommonMethods</span>
<a name="gbab-18"></a>          <span class="k">def</span> <span class="nf">block_code</span><span class="p">(</span><span class="n">code</span><span class="p">,</span> <span class="n">lang</span><span class="p">)</span>
<a name="gbab-19"></a>      <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="no">Pygments</span><span class="p">)</span>
<a name="gbab-20"></a>            <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="s2">&quot;pygments&quot;</span><span class="p">)</span>
<a name="gbab-21"></a>      <span class="k">end</span>
<a name="gbab-22"></a>            <span class="n">lang</span> <span class="o">=</span> <span class="n">lang</span> <span class="o">&amp;&amp;</span> <span class="n">lang</span><span class="o">.</span><span class="n">split</span><span class="o">.</span><span class="n">first</span> <span class="o">||</span> <span class="s2">&quot;text&quot;</span>
<a name="gbab-23"></a>            <span class="n">add_code_tags</span><span class="p">(</span>
<a name="gbab-24"></a>        <span class="no">Pygments</span><span class="o">.</span><span class="n">highlight</span><span class="p">(</span>
<a name="gbab-25"></a>          <span class="n">code</span><span class="p">,</span>
<a name="gbab-26"></a>          <span class="p">{</span>
<a name="gbab-27"></a>            <span class="ss">:lexer</span>   <span class="o">=&gt;</span> <span class="n">lang</span><span class="p">,</span>
<a name="gbab-28"></a>            <span class="ss">:options</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="ss">:encoding</span> <span class="o">=&gt;</span> <span class="s2">&quot;utf-8&quot;</span> <span class="p">},</span>
<a name="gbab-29"></a>          <span class="p">}</span>
<a name="gbab-30"></a>        <span class="p">),</span>
<a name="gbab-31"></a>              <span class="n">lang</span>
<a name="gbab-32"></a>            <span class="p">)</span>
<a name="gbab-33"></a>          <span class="k">end</span>
<a name="gbab-34"></a>        <span class="k">end</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>        <span class="k">module</span> <span class="nn">WithoutHighlighting</span>
<a name="gbab-37"></a>    <span class="nb">require</span> <span class="s2">&quot;cgi&quot;</span>
<a name="gbab-38"></a>
<a name="gbab-39"></a>          <span class="kp">include</span> <span class="no">CommonMethods</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>          <span class="k">def</span> <span class="nf">code_wrap</span><span class="p">(</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-42"></a>      <span class="s2">&quot;&lt;figure class=</span><span class="se">\&quot;</span><span class="s2">highlight</span><span class="se">\&quot;</span><span class="s2">&gt;&lt;pre&gt;</span><span class="si">#{</span><span class="no">CGI</span><span class="o">.</span><span class="n">escapeHTML</span><span class="p">(</span><span class="n">code</span><span class="p">)</span><span class="si">}</span><span class="s2">&lt;/pre&gt;&lt;/figure&gt;&quot;</span>
<a name="gbab-43"></a>          <span class="k">end</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>          <span class="k">def</span> <span class="nf">block_code</span><span class="p">(</span><span class="n">code</span><span class="p">,</span> <span class="n">lang</span><span class="p">)</span>
<a name="gbab-46"></a>            <span class="n">lang</span> <span class="o">=</span> <span class="n">lang</span> <span class="o">&amp;&amp;</span> <span class="n">lang</span><span class="o">.</span><span class="n">split</span><span class="o">.</span><span class="n">first</span> <span class="o">||</span> <span class="s2">&quot;text&quot;</span>
<a name="gbab-47"></a>            <span class="n">add_code_tags</span><span class="p">(</span><span class="n">code_wrap</span><span class="p">(</span><span class="n">code</span><span class="p">),</span> <span class="n">lang</span><span class="p">)</span>
<a name="gbab-48"></a>          <span class="k">end</span>
<a name="gbab-49"></a>        <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>        <span class="k">module</span> <span class="nn">WithRouge</span>
<a name="gbab-52"></a>    <span class="k">def</span> <span class="nf">block_code</span><span class="p">(</span><span class="n">_code</span><span class="p">,</span> <span class="n">lang</span><span class="p">)</span>
<a name="gbab-53"></a>            <span class="n">code</span> <span class="o">=</span> <span class="s2">&quot;&lt;pre&gt;</span><span class="si">#{</span><span class="k">super</span><span class="si">}</span><span class="s2">&lt;/pre&gt;&quot;</span>
<a name="gbab-54"></a>
<a name="gbab-55"></a>      <span class="s2">&quot;&lt;div class=</span><span class="se">\&quot;</span><span class="s2">highlight</span><span class="se">\&quot;</span><span class="s2">&gt;</span><span class="si">#{</span><span class="n">add_code_tags</span><span class="p">(</span><span class="n">code</span><span class="p">,</span> <span class="n">lang</span><span class="p">)</span><span class="si">}</span><span class="s2">&lt;/div&gt;&quot;</span>
<a name="gbab-56"></a>          <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>          <span class="kp">protected</span>
<a name="gbab-59"></a>          <span class="k">def</span> <span class="nf">rouge_formatter</span><span class="p">(</span><span class="n">_lexer</span><span class="p">)</span>
<a name="gbab-60"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Rouge</span><span class="o">.</span><span class="n">html_formatter</span><span class="p">(</span><span class="ss">:wrap</span> <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-61"></a>          <span class="k">end</span>
<a name="gbab-62"></a>        <span class="k">end</span>
<a name="gbab-63"></a>
<a name="gbab-64"></a>        <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">config</span><span class="p">)</span>
<a name="gbab-65"></a>    <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="no">Redcarpet</span><span class="p">)</span>
<a name="gbab-66"></a>    <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="s2">&quot;redcarpet&quot;</span><span class="p">)</span>
<a name="gbab-67"></a>    <span class="k">end</span>
<a name="gbab-68"></a>            <span class="vi">@config</span> <span class="o">=</span> <span class="n">config</span>
<a name="gbab-69"></a>            <span class="vi">@redcarpet_extensions</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-70"></a>    <span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;redcarpet&quot;</span><span class="o">][</span><span class="s2">&quot;extensions&quot;</span><span class="o">].</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">e</span><span class="o">|</span>
<a name="gbab-71"></a>      <span class="vi">@redcarpet_extensions</span><span class="o">[</span><span class="n">e</span><span class="o">.</span><span class="n">to_sym</span><span class="o">]</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-72"></a>    <span class="k">end</span>
<a name="gbab-73"></a>
<a name="gbab-74"></a>    <span class="vi">@renderer</span> <span class="o">||=</span> <span class="n">class_with_proper_highlighter</span><span class="p">(</span><span class="vi">@config</span><span class="o">[</span><span class="s2">&quot;highlighter&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-75"></a>        <span class="k">end</span>
<a name="gbab-76"></a>
<a name="gbab-77"></a>        <span class="k">def</span> <span class="nf">class_with_proper_highlighter</span><span class="p">(</span><span class="n">highlighter</span><span class="p">)</span>
<a name="gbab-78"></a>    <span class="no">Class</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Redcarpet</span><span class="o">::</span><span class="no">Render</span><span class="o">::</span><span class="no">HTML</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-79"></a>          <span class="k">case</span> <span class="n">highlighter</span>
<a name="gbab-80"></a>          <span class="k">when</span> <span class="s2">&quot;pygments&quot;</span>
<a name="gbab-81"></a>                            <span class="kp">include</span> <span class="no">WithPygments</span>
<a name="gbab-82"></a>          <span class="k">when</span> <span class="s2">&quot;rouge&quot;</span>
<a name="gbab-83"></a>              <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="sx">%w(</span>
<a name="gbab-84"></a><span class="sx">          rouge rouge/plugins/redcarpet</span>
<a name="gbab-85"></a><span class="sx">              )</span><span class="p">)</span>
<a name="gbab-86"></a>
<a name="gbab-87"></a>              <span class="k">unless</span> <span class="no">Gem</span><span class="o">::</span><span class="no">Version</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Rouge</span><span class="o">.</span><span class="n">version</span><span class="p">)</span> <span class="o">&gt;</span> <span class="no">Gem</span><span class="o">::</span><span class="no">Version</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;1.3.0&quot;</span><span class="p">)</span>
<a name="gbab-88"></a>                              <span class="nb">abort</span> <span class="s2">&quot;Please install Rouge 1.3.0 or greater and try running Jekyll again.&quot;</span>
<a name="gbab-89"></a>                            <span class="k">end</span>
<a name="gbab-90"></a>
<a name="gbab-91"></a>                            <span class="kp">include</span> <span class="no">Rouge</span><span class="o">::</span><span class="no">Plugins</span><span class="o">::</span><span class="no">Redcarpet</span>
<a name="gbab-92"></a>                            <span class="kp">include</span> <span class="no">CommonMethods</span>
<a name="gbab-93"></a>                            <span class="kp">include</span> <span class="no">WithRouge</span>
<a name="gbab-94"></a>                        <span class="k">else</span>
<a name="gbab-95"></a>                            <span class="kp">include</span> <span class="no">WithoutHighlighting</span>
<a name="gbab-96"></a>              <span class="k">end</span>
<a name="gbab-97"></a>            <span class="k">end</span>
<a name="gbab-98"></a>          <span class="k">end</span>
<a name="gbab-99"></a>
<a name="gbab-100"></a>        <span class="k">def</span> <span class="nf">convert</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-101"></a>    <span class="vi">@redcarpet_extensions</span><span class="o">[</span><span class="ss">:fenced_code_blocks</span><span class="o">]</span> <span class="o">=</span> <span class="p">\</span>
<a name="gbab-102"></a>      <span class="o">!</span><span class="vi">@redcarpet_extensions</span><span class="o">[</span><span class="ss">:no_fenced_code_blocks</span><span class="o">]</span>
<a name="gbab-103"></a>    <span class="k">if</span> <span class="vi">@redcarpet_extensions</span><span class="o">[</span><span class="ss">:smart</span><span class="o">]</span>
<a name="gbab-104"></a>      <span class="vi">@renderer</span><span class="o">.</span><span class="n">send</span> <span class="ss">:include</span><span class="p">,</span> <span class="no">Redcarpet</span><span class="o">::</span><span class="no">Render</span><span class="o">::</span><span class="no">SmartyPants</span>
<a name="gbab-105"></a>    <span class="k">end</span>
<a name="gbab-106"></a>    <span class="n">markdown</span> <span class="o">=</span> <span class="no">Redcarpet</span><span class="o">::</span><span class="no">Markdown</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-107"></a>      <span class="vi">@renderer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@redcarpet_extensions</span><span class="p">),</span>
<a name="gbab-108"></a>      <span class="vi">@redcarpet_extensions</span>
<a name="gbab-109"></a>    <span class="p">)</span>
<a name="gbab-110"></a>          <span class="n">markdown</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-111"></a>        <span class="k">end</span>
<a name="gbab-112"></a>      <span class="k">end</span>
</pre></div>
</td></tr></table>