<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Deprecator</span>
<a name="gbab-5"></a>    <span class="kp">extend</span> <span class="nb">self</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a>    <span class="k">def</span> <span class="nf">process</span><span class="p">(</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-8"></a>      <span class="n">arg_is_present?</span> <span class="n">args</span><span class="p">,</span> <span class="s2">&quot;--server&quot;</span><span class="p">,</span> <span class="s2">&quot;The --server command has been replaced by the \</span>
<a name="gbab-9"></a><span class="s2">                          &#39;serve&#39; subcommand.&quot;</span>
<a name="gbab-10"></a>      <span class="n">arg_is_present?</span> <span class="n">args</span><span class="p">,</span> <span class="s2">&quot;--serve&quot;</span><span class="p">,</span> <span class="s2">&quot;The --serve command has been replaced by the \</span>
<a name="gbab-11"></a><span class="s2">                          &#39;serve&#39; subcommand.&quot;</span>
<a name="gbab-12"></a>      <span class="n">arg_is_present?</span> <span class="n">args</span><span class="p">,</span> <span class="s2">&quot;--no-server&quot;</span><span class="p">,</span> <span class="s2">&quot;To build Jekyll without launching a server, \</span>
<a name="gbab-13"></a><span class="s2">                          use the &#39;build&#39; subcommand.&quot;</span>
<a name="gbab-14"></a>      <span class="n">arg_is_present?</span> <span class="n">args</span><span class="p">,</span> <span class="s2">&quot;--auto&quot;</span><span class="p">,</span> <span class="s2">&quot;The switch &#39;--auto&#39; has been replaced with \</span>
<a name="gbab-15"></a><span class="s2">                          &#39;--watch&#39;.&quot;</span>
<a name="gbab-16"></a>      <span class="n">arg_is_present?</span> <span class="n">args</span><span class="p">,</span> <span class="s2">&quot;--no-auto&quot;</span><span class="p">,</span> <span class="s2">&quot;To disable auto-replication, simply leave off \</span>
<a name="gbab-17"></a><span class="s2">                          the &#39;--watch&#39; switch.&quot;</span>
<a name="gbab-18"></a>      <span class="n">arg_is_present?</span> <span class="n">args</span><span class="p">,</span> <span class="s2">&quot;--pygments&quot;</span><span class="p">,</span> <span class="s2">&quot;The &#39;pygments&#39;settings has been removed in \</span>
<a name="gbab-19"></a><span class="s2">                          favour of &#39;highlighter&#39;.&quot;</span>
<a name="gbab-20"></a>      <span class="n">arg_is_present?</span> <span class="n">args</span><span class="p">,</span> <span class="s2">&quot;--paginate&quot;</span><span class="p">,</span> <span class="s2">&quot;The &#39;paginate&#39; setting can only be set in \</span>
<a name="gbab-21"></a><span class="s2">                          your config files.&quot;</span>
<a name="gbab-22"></a>      <span class="n">arg_is_present?</span> <span class="n">args</span><span class="p">,</span> <span class="s2">&quot;--url&quot;</span><span class="p">,</span> <span class="s2">&quot;The &#39;url&#39; setting can only be set in your \</span>
<a name="gbab-23"></a><span class="s2">                          config files.&quot;</span>
<a name="gbab-24"></a>      <span class="n">no_subcommand</span><span class="p">(</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-25"></a>    <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>    <span class="k">def</span> <span class="nf">no_subcommand</span><span class="p">(</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-28"></a>      <span class="k">unless</span> <span class="n">args</span><span class="o">.</span><span class="n">empty?</span> <span class="o">||</span>
<a name="gbab-29"></a>          <span class="n">args</span><span class="o">.</span><span class="n">first</span> <span class="o">!~</span> <span class="sr">%r(!/^--/!)</span> <span class="o">||</span> <span class="sx">%w(--help --version)</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">args</span><span class="o">.</span><span class="n">first</span><span class="p">)</span>
<a name="gbab-30"></a>        <span class="n">deprecation_message</span> <span class="s2">&quot;Jekyll now uses subcommands instead of just switches. \</span>
<a name="gbab-31"></a><span class="s2">                          Run `jekyll help` to find out more.&quot;</span>
<a name="gbab-32"></a>        <span class="nb">abort</span>
<a name="gbab-33"></a>      <span class="k">end</span>
<a name="gbab-34"></a>    <span class="k">end</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>    <span class="k">def</span> <span class="nf">arg_is_present?</span><span class="p">(</span><span class="n">args</span><span class="p">,</span> <span class="n">deprecated_argument</span><span class="p">,</span> <span class="n">message</span><span class="p">)</span>
<a name="gbab-37"></a>      <span class="k">if</span> <span class="n">args</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">deprecated_argument</span><span class="p">)</span>
<a name="gbab-38"></a>        <span class="n">deprecation_message</span><span class="p">(</span><span class="n">message</span><span class="p">)</span>
<a name="gbab-39"></a>      <span class="k">end</span>
<a name="gbab-40"></a>    <span class="k">end</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>    <span class="k">def</span> <span class="nf">deprecation_message</span><span class="p">(</span><span class="n">message</span><span class="p">)</span>
<a name="gbab-43"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Deprecation:&quot;</span><span class="p">,</span> <span class="n">message</span>
<a name="gbab-44"></a>      <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>    <span class="k">def</span> <span class="nf">defaults_deprecate_type</span><span class="p">(</span><span class="n">old</span><span class="p">,</span> <span class="n">current</span><span class="p">)</span>
<a name="gbab-47"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Defaults:&quot;</span><span class="p">,</span> <span class="s2">&quot;The &#39;</span><span class="si">#{</span><span class="n">old</span><span class="si">}</span><span class="s2">&#39; type has become &#39;</span><span class="si">#{</span><span class="n">current</span><span class="si">}</span><span class="s2">&#39;.&quot;</span>
<a name="gbab-48"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Defaults:&quot;</span><span class="p">,</span> <span class="s2">&quot;Please update your front-matter defaults to use \</span>
<a name="gbab-49"></a><span class="s2">                        &#39;type: </span><span class="si">#{</span><span class="n">current</span><span class="si">}</span><span class="s2">&#39;.&quot;</span>
<a name="gbab-50"></a>    <span class="k">end</span>
<a name="gbab-51"></a>    <span class="k">end</span>
<a name="gbab-52"></a>  <span class="k">end</span>
</pre></div>
</td></tr></table>