<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Drops</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">StaticFileDrop</span> <span class="o">&lt;</span> <span class="no">Drop</span>
<a name="gbab-6"></a>      <span class="kp">extend</span> <span class="no">Forwardable</span>
<a name="gbab-7"></a>      <span class="n">def_delegators</span> <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:name</span><span class="p">,</span> <span class="ss">:extname</span><span class="p">,</span> <span class="ss">:modified_time</span><span class="p">,</span> <span class="ss">:basename</span>
<a name="gbab-8"></a>      <span class="n">def_delegator</span> <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:relative_path</span><span class="p">,</span> <span class="ss">:path</span>
<a name="gbab-9"></a>      <span class="n">def_delegator</span> <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:type</span><span class="p">,</span> <span class="ss">:collection</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>      <span class="kp">private</span> <span class="n">def_delegator</span> <span class="ss">:@obj</span><span class="p">,</span> <span class="ss">:data</span><span class="p">,</span> <span class="ss">:fallback_data</span>
<a name="gbab-12"></a>    <span class="k">end</span>
<a name="gbab-13"></a>  <span class="k">end</span>
<a name="gbab-14"></a><span class="k">end</span>
</pre></div>
</td></tr></table>