<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a><span class="k">class</span> <span class="nc">EntryFilter</span>
<a name="gbab-5"></a>  <span class="kp">attr_reader</span> <span class="ss">:site</span>
<a name="gbab-6"></a>    <span class="no">SPECIAL_LEADING_CHARACTERS</span> <span class="o">=</span> <span class="o">[</span>
<a name="gbab-7"></a>      <span class="s2">&quot;.&quot;</span><span class="p">,</span> <span class="s2">&quot;_&quot;</span><span class="p">,</span> <span class="s2">&quot;#&quot;</span><span class="p">,</span> <span class="s2">&quot;~&quot;</span><span class="p">,</span>
<a name="gbab-8"></a>    <span class="o">].</span><span class="n">freeze</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">base_directory</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-11"></a>    <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-12"></a>      <span class="vi">@base_directory</span> <span class="o">=</span> <span class="n">derive_base_directory</span><span class="p">(</span>
<a name="gbab-13"></a>        <span class="vi">@site</span><span class="p">,</span> <span class="n">base_directory</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">dup</span>
<a name="gbab-14"></a>      <span class="p">)</span>
<a name="gbab-15"></a>    <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>    <span class="k">def</span> <span class="nf">base_directory</span>
<a name="gbab-18"></a>      <span class="vi">@base_directory</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-19"></a>    <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>    <span class="k">def</span> <span class="nf">derive_base_directory</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">base_dir</span><span class="p">)</span>
<a name="gbab-22"></a>      <span class="n">base_dir</span><span class="o">[</span><span class="n">site</span><span class="o">.</span><span class="n">source</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span> <span class="k">if</span> <span class="n">base_dir</span><span class="o">.</span><span class="n">start_with?</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">source</span><span class="p">)</span>
<a name="gbab-23"></a>      <span class="n">base_dir</span>
<a name="gbab-24"></a>    <span class="k">end</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a>    <span class="k">def</span> <span class="nf">relative_to_source</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
<a name="gbab-27"></a>      <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span>
<a name="gbab-28"></a>        <span class="n">base_directory</span><span class="p">,</span> <span class="n">entry</span>
<a name="gbab-29"></a>      <span class="p">)</span>
<a name="gbab-30"></a>  <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>  <span class="k">def</span> <span class="nf">filter</span><span class="p">(</span><span class="n">entries</span><span class="p">)</span>
<a name="gbab-33"></a>    <span class="n">entries</span><span class="o">.</span><span class="n">reject</span> <span class="k">do</span> <span class="o">|</span><span class="n">e</span><span class="o">|</span>
<a name="gbab-34"></a>      <span class="k">unless</span> <span class="n">included?</span><span class="p">(</span><span class="n">e</span><span class="p">)</span>
<a name="gbab-35"></a>        <span class="n">special?</span><span class="p">(</span><span class="n">e</span><span class="p">)</span> <span class="o">||</span> <span class="n">backup?</span><span class="p">(</span><span class="n">e</span><span class="p">)</span> <span class="o">||</span> <span class="n">excluded?</span><span class="p">(</span><span class="n">e</span><span class="p">)</span> <span class="o">||</span> <span class="n">symlink?</span><span class="p">(</span><span class="n">e</span><span class="p">)</span>
<a name="gbab-36"></a>      <span class="k">end</span>
<a name="gbab-37"></a>    <span class="k">end</span>
<a name="gbab-38"></a>  <span class="k">end</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a>  <span class="k">def</span> <span class="nf">included?</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
<a name="gbab-41"></a>      <span class="n">glob_include?</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">include</span><span class="p">,</span> <span class="n">entry</span><span class="p">)</span> <span class="o">||</span>
<a name="gbab-42"></a>        <span class="n">glob_include?</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">include</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">basename</span><span class="p">(</span><span class="n">entry</span><span class="p">))</span>
<a name="gbab-43"></a>  <span class="k">end</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>  <span class="k">def</span> <span class="nf">special?</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
<a name="gbab-46"></a>      <span class="no">SPECIAL_LEADING_CHARACTERS</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">entry</span><span class="o">[</span><span class="mi">0</span><span class="o">..</span><span class="mi">0</span><span class="o">]</span><span class="p">)</span> <span class="o">||</span>
<a name="gbab-47"></a>        <span class="no">SPECIAL_LEADING_CHARACTERS</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">basename</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span><span class="o">[</span><span class="mi">0</span><span class="o">..</span><span class="mi">0</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-48"></a>  <span class="k">end</span>
<a name="gbab-49"></a>
<a name="gbab-50"></a>  <span class="k">def</span> <span class="nf">backup?</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
<a name="gbab-51"></a>      <span class="n">entry</span><span class="o">[-</span><span class="mi">1</span><span class="o">..-</span><span class="mi">1</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;~&quot;</span>
<a name="gbab-52"></a>  <span class="k">end</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>  <span class="k">def</span> <span class="nf">excluded?</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
<a name="gbab-55"></a>      <span class="n">glob_include?</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">exclude</span><span class="p">,</span> <span class="n">relative_to_source</span><span class="p">(</span><span class="n">entry</span><span class="p">))</span><span class="o">.</span><span class="n">tap</span> <span class="k">do</span> <span class="o">|</span><span class="n">excluded</span><span class="o">|</span>
<a name="gbab-56"></a>      <span class="k">if</span> <span class="n">excluded</span>
<a name="gbab-57"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span><span class="p">(</span>
<a name="gbab-58"></a>          <span class="s2">&quot;EntryFilter:&quot;</span><span class="p">,</span>
<a name="gbab-59"></a>          <span class="s2">&quot;excluded </span><span class="si">#{</span><span class="n">relative_to_source</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-60"></a>        <span class="p">)</span>
<a name="gbab-61"></a>      <span class="k">end</span>
<a name="gbab-62"></a>      <span class="k">end</span>
<a name="gbab-63"></a>  <span class="k">end</span>
<a name="gbab-64"></a>
<a name="gbab-65"></a>    <span class="c1"># --</span>
<a name="gbab-66"></a>    <span class="c1"># Check if a file is a symlink.</span>
<a name="gbab-67"></a>    <span class="c1"># NOTE: This can be converted to allowing even in safe,</span>
<a name="gbab-68"></a>    <span class="c1">#   since we use Pathutil#in_path? now.</span>
<a name="gbab-69"></a>    <span class="c1"># --</span>
<a name="gbab-70"></a>  <span class="k">def</span> <span class="nf">symlink?</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
<a name="gbab-71"></a>      <span class="n">site</span><span class="o">.</span><span class="n">safe</span> <span class="o">&amp;&amp;</span> <span class="no">File</span><span class="o">.</span><span class="n">symlink?</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">symlink_outside_site_source?</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
<a name="gbab-72"></a>    <span class="k">end</span>
<a name="gbab-73"></a>
<a name="gbab-74"></a>    <span class="c1"># --</span>
<a name="gbab-75"></a>    <span class="c1"># NOTE: Pathutil#in_path? gets the realpath.</span>
<a name="gbab-76"></a>    <span class="c1"># @param [&lt;Anything&gt;] entry the entry you want to validate.</span>
<a name="gbab-77"></a>    <span class="c1"># Check if a path is outside of our given root.</span>
<a name="gbab-78"></a>    <span class="c1"># --</span>
<a name="gbab-79"></a>    <span class="k">def</span> <span class="nf">symlink_outside_site_source?</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
<a name="gbab-80"></a>      <span class="o">!</span><span class="no">Pathutil</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span><span class="o">.</span><span class="n">in_path?</span><span class="p">(</span>
<a name="gbab-81"></a>        <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span>
<a name="gbab-82"></a>      <span class="p">)</span>
<a name="gbab-83"></a>    <span class="k">end</span>
<a name="gbab-84"></a>
<a name="gbab-85"></a>    <span class="c1"># --</span>
<a name="gbab-86"></a>    <span class="c1"># Check if an entry matches a specific pattern and return true,false.</span>
<a name="gbab-87"></a>    <span class="c1"># Returns true if path matches against any glob pattern.</span>
<a name="gbab-88"></a>    <span class="c1"># --</span>
<a name="gbab-89"></a>    <span class="k">def</span> <span class="nf">glob_include?</span><span class="p">(</span><span class="n">enum</span><span class="p">,</span> <span class="n">e</span><span class="p">)</span>
<a name="gbab-90"></a>      <span class="n">entry</span> <span class="o">=</span> <span class="no">Pathutil</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">)</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">e</span><span class="p">)</span>
<a name="gbab-91"></a>      <span class="n">enum</span><span class="o">.</span><span class="n">any?</span> <span class="k">do</span> <span class="o">|</span><span class="n">exp</span><span class="o">|</span>
<a name="gbab-92"></a>        <span class="c1"># Users who send a Regexp knows what they want to</span>
<a name="gbab-93"></a>        <span class="c1"># exclude, so let them send a Regexp to exclude files,</span>
<a name="gbab-94"></a>        <span class="c1"># we will not bother caring if it works or not, it&#39;s</span>
<a name="gbab-95"></a>        <span class="c1"># on them at this point.</span>
<a name="gbab-96"></a>
<a name="gbab-97"></a>        <span class="k">if</span> <span class="n">exp</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Regexp</span><span class="p">)</span>
<a name="gbab-98"></a>          <span class="n">entry</span> <span class="o">=~</span> <span class="n">exp</span>
<a name="gbab-99"></a>
<a name="gbab-100"></a>        <span class="k">else</span>
<a name="gbab-101"></a>          <span class="n">item</span> <span class="o">=</span> <span class="no">Pathutil</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">)</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">exp</span><span class="p">)</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a>          <span class="c1"># If it&#39;s a directory they want to exclude, AKA</span>
<a name="gbab-104"></a>          <span class="c1"># ends with a &quot;/&quot; then we will go on to check and</span>
<a name="gbab-105"></a>          <span class="c1"># see if the entry falls within that path and</span>
<a name="gbab-106"></a>          <span class="c1"># exclude it if that&#39;s the case.</span>
<a name="gbab-107"></a>
<a name="gbab-108"></a>          <span class="k">if</span> <span class="n">e</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-109"></a>            <span class="n">entry</span><span class="o">.</span><span class="n">in_path?</span><span class="p">(</span>
<a name="gbab-110"></a>              <span class="n">item</span>
<a name="gbab-111"></a>            <span class="p">)</span>
<a name="gbab-112"></a>
<a name="gbab-113"></a>          <span class="k">else</span>
<a name="gbab-114"></a>            <span class="no">File</span><span class="o">.</span><span class="n">fnmatch?</span><span class="p">(</span><span class="n">item</span><span class="p">,</span> <span class="n">entry</span><span class="p">)</span> <span class="o">||</span>
<a name="gbab-115"></a>              <span class="n">entry</span><span class="o">.</span><span class="n">to_path</span><span class="o">.</span><span class="n">start_with?</span><span class="p">(</span>
<a name="gbab-116"></a>                <span class="n">item</span>
<a name="gbab-117"></a>              <span class="p">)</span>
<a name="gbab-118"></a>          <span class="k">end</span>
<a name="gbab-119"></a>        <span class="k">end</span>
<a name="gbab-120"></a>      <span class="k">end</span>
<a name="gbab-121"></a>    <span class="k">end</span>
<a name="gbab-122"></a>  <span class="k">end</span>
<a name="gbab-123"></a><span class="k">end</span>
</pre></div>
</td></tr></table>