<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Drops</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">UnifiedPayloadDrop</span> <span class="o">&lt;</span> <span class="no">Drop</span>
<a name="gbab-6"></a>      <span class="n">mutable</span> <span class="kp">true</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>      <span class="kp">attr_accessor</span> <span class="ss">:page</span><span class="p">,</span> <span class="ss">:layout</span><span class="p">,</span> <span class="ss">:content</span><span class="p">,</span> <span class="ss">:paginator</span>
<a name="gbab-9"></a>      <span class="kp">attr_accessor</span> <span class="ss">:highlighter_prefix</span><span class="p">,</span> <span class="ss">:highlighter_suffix</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>      <span class="k">def</span> <span class="nf">jekyll</span>
<a name="gbab-12"></a>        <span class="no">JekyllDrop</span><span class="o">.</span><span class="n">global</span>
<a name="gbab-13"></a>      <span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>      <span class="k">def</span> <span class="nf">site</span>
<a name="gbab-16"></a>        <span class="vi">@site_drop</span> <span class="o">||=</span> <span class="no">SiteDrop</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@obj</span><span class="p">)</span>
<a name="gbab-17"></a>      <span class="k">end</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>      <span class="kp">private</span>
<a name="gbab-20"></a>      <span class="k">def</span> <span class="nf">fallback_data</span>
<a name="gbab-21"></a>        <span class="vi">@fallback_data</span> <span class="o">||=</span> <span class="p">{}</span>
<a name="gbab-22"></a>      <span class="k">end</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>  <span class="k">end</span>
<a name="gbab-25"></a><span class="k">end</span>
</pre></div>
</td></tr></table>