<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Document</span>
<a name="gbab-5"></a>    <span class="kp">include</span> <span class="no">Comparable</span>
<a name="gbab-6"></a>    <span class="kp">extend</span> <span class="no">Forwardable</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>    <span class="kp">attr_reader</span> <span class="ss">:path</span><span class="p">,</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:extname</span><span class="p">,</span> <span class="ss">:collection</span>
<a name="gbab-9"></a>    <span class="kp">attr_accessor</span> <span class="ss">:content</span><span class="p">,</span> <span class="ss">:output</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>    <span class="n">def_delegator</span> <span class="ss">:self</span><span class="p">,</span> <span class="ss">:read_post_data</span><span class="p">,</span> <span class="ss">:post_read</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>    <span class="no">YAML_FRONT_MATTER_REGEXP</span> <span class="o">=</span> <span class="sr">%r!\A(---\s*\n.*?\n?)^((---|\.\.\.)\s*$\n?)!m</span>
<a name="gbab-14"></a>    <span class="no">DATELESS_FILENAME_MATCHER</span> <span class="o">=</span> <span class="sr">%r!^(?:.+/)*(.*)(\.[^.]+)$!</span>
<a name="gbab-15"></a>    <span class="no">DATE_FILENAME_MATCHER</span> <span class="o">=</span> <span class="sr">%r!^(?:.+/)*(\d{2,4}-\d{1,2}-\d{1,2})-(.*)(\.[^.]+)$!</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>    <span class="c1"># Create a new Document.</span>
<a name="gbab-18"></a>    <span class="c1">#</span>
<a name="gbab-19"></a>    <span class="c1"># path - the path to the file</span>
<a name="gbab-20"></a>    <span class="c1"># relations - a hash with keys :site and :collection, the values of which</span>
<a name="gbab-21"></a>    <span class="c1">#             are the Jekyll::Site and Jekyll::Collection to which this</span>
<a name="gbab-22"></a>    <span class="c1">#             Document belong.</span>
<a name="gbab-23"></a>    <span class="c1">#</span>
<a name="gbab-24"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-25"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">relations</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-26"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">relations</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-27"></a>      <span class="vi">@path</span> <span class="o">=</span> <span class="n">path</span>
<a name="gbab-28"></a>      <span class="vi">@extname</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">extname</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-29"></a>      <span class="vi">@collection</span> <span class="o">=</span> <span class="n">relations</span><span class="o">[</span><span class="ss">:collection</span><span class="o">]</span>
<a name="gbab-30"></a>      <span class="vi">@has_yaml_header</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>      <span class="k">if</span> <span class="n">draft?</span>
<a name="gbab-33"></a>        <span class="n">categories_from_path</span><span class="p">(</span><span class="s2">&quot;_drafts&quot;</span><span class="p">)</span>
<a name="gbab-34"></a>      <span class="k">else</span>
<a name="gbab-35"></a>        <span class="n">categories_from_path</span><span class="p">(</span><span class="n">collection</span><span class="o">.</span><span class="n">relative_directory</span><span class="p">)</span>
<a name="gbab-36"></a>      <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>      <span class="n">data</span><span class="o">.</span><span class="n">default_proc</span> <span class="o">=</span> <span class="nb">proc</span> <span class="k">do</span> <span class="o">|</span><span class="n">_</span><span class="p">,</span> <span class="n">key</span><span class="o">|</span>
<a name="gbab-39"></a>        <span class="n">site</span><span class="o">.</span><span class="n">frontmatter_defaults</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="n">relative_path</span><span class="p">,</span> <span class="n">collection</span><span class="o">.</span><span class="n">label</span><span class="p">,</span> <span class="n">key</span><span class="p">)</span>
<a name="gbab-40"></a>      <span class="k">end</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>      <span class="n">trigger_hooks</span><span class="p">(</span><span class="ss">:post_init</span><span class="p">)</span>
<a name="gbab-43"></a>    <span class="k">end</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>    <span class="c1"># Fetch the Document&#39;s data.</span>
<a name="gbab-46"></a>    <span class="c1">#</span>
<a name="gbab-47"></a>    <span class="c1"># Returns a Hash containing the data. An empty hash is returned if</span>
<a name="gbab-48"></a>    <span class="c1">#   no data was read.</span>
<a name="gbab-49"></a>    <span class="k">def</span> <span class="nf">data</span>
<a name="gbab-50"></a>      <span class="vi">@data</span> <span class="o">||=</span> <span class="p">{}</span>
<a name="gbab-51"></a>    <span class="k">end</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>    <span class="c1"># Merge some data in with this document&#39;s data.</span>
<a name="gbab-54"></a>    <span class="c1">#</span>
<a name="gbab-55"></a>    <span class="c1"># Returns the merged data.</span>
<a name="gbab-56"></a>    <span class="k">def</span> <span class="nf">merge_data!</span><span class="p">(</span><span class="n">other</span><span class="p">,</span> <span class="ss">source</span><span class="p">:</span> <span class="s2">&quot;YAML front matter&quot;</span><span class="p">)</span>
<a name="gbab-57"></a>      <span class="n">merge_categories!</span><span class="p">(</span><span class="n">other</span><span class="p">)</span>
<a name="gbab-58"></a>      <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes!</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="n">other</span><span class="p">)</span>
<a name="gbab-59"></a>      <span class="n">merge_date!</span><span class="p">(</span><span class="n">source</span><span class="p">)</span>
<a name="gbab-60"></a>      <span class="n">data</span>
<a name="gbab-61"></a>    <span class="k">end</span>
<a name="gbab-62"></a>
<a name="gbab-63"></a>    <span class="k">def</span> <span class="nf">date</span>
<a name="gbab-64"></a>      <span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span> <span class="o">||=</span> <span class="p">(</span><span class="n">draft?</span> <span class="p">?</span> <span class="n">source_file_mtime</span> <span class="p">:</span> <span class="n">site</span><span class="o">.</span><span class="n">time</span><span class="p">)</span>
<a name="gbab-65"></a>    <span class="k">end</span>
<a name="gbab-66"></a>
<a name="gbab-67"></a>    <span class="k">def</span> <span class="nf">source_file_mtime</span>
<a name="gbab-68"></a>      <span class="vi">@source_file_mtime</span> <span class="o">||=</span> <span class="no">File</span><span class="o">.</span><span class="n">mtime</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-69"></a>    <span class="k">end</span>
<a name="gbab-70"></a>
<a name="gbab-71"></a>    <span class="c1"># Returns whether the document is a draft. This is only the case if</span>
<a name="gbab-72"></a>    <span class="c1"># the document is in the &#39;posts&#39; collection but in a different</span>
<a name="gbab-73"></a>    <span class="c1"># directory than &#39;_posts&#39;.</span>
<a name="gbab-74"></a>    <span class="c1">#</span>
<a name="gbab-75"></a>    <span class="c1"># Returns whether the document is a draft.</span>
<a name="gbab-76"></a>    <span class="k">def</span> <span class="nf">draft?</span>
<a name="gbab-77"></a>      <span class="n">data</span><span class="o">[</span><span class="s2">&quot;draft&quot;</span><span class="o">]</span> <span class="o">||=</span> <span class="n">relative_path</span><span class="o">.</span><span class="n">index</span><span class="p">(</span><span class="n">collection</span><span class="o">.</span><span class="n">relative_directory</span><span class="p">)</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span>
<a name="gbab-78"></a>        <span class="n">collection</span><span class="o">.</span><span class="n">label</span> <span class="o">==</span> <span class="s2">&quot;posts&quot;</span>
<a name="gbab-79"></a>    <span class="k">end</span>
<a name="gbab-80"></a>
<a name="gbab-81"></a>    <span class="c1"># The path to the document, relative to the collections_dir.</span>
<a name="gbab-82"></a>    <span class="c1">#</span>
<a name="gbab-83"></a>    <span class="c1"># Returns a String path which represents the relative path from the collections_dir</span>
<a name="gbab-84"></a>    <span class="c1"># to this document.</span>
<a name="gbab-85"></a>    <span class="k">def</span> <span class="nf">relative_path</span>
<a name="gbab-86"></a>      <span class="vi">@relative_path</span> <span class="o">||=</span> <span class="n">path</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">site</span><span class="o">.</span><span class="n">collections_path</span><span class="si">}</span><span class="s2">/&quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-87"></a>    <span class="k">end</span>
<a name="gbab-88"></a>
<a name="gbab-89"></a>    <span class="c1"># The output extension of the document.</span>
<a name="gbab-90"></a>    <span class="c1">#</span>
<a name="gbab-91"></a>    <span class="c1"># Returns the output extension</span>
<a name="gbab-92"></a>    <span class="k">def</span> <span class="nf">output_ext</span>
<a name="gbab-93"></a>      <span class="vi">@output_ext</span> <span class="o">||=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Renderer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="nb">self</span><span class="p">)</span><span class="o">.</span><span class="n">output_ext</span>
<a name="gbab-94"></a>    <span class="k">end</span>
<a name="gbab-95"></a>
<a name="gbab-96"></a>    <span class="c1"># The base filename of the document, without the file extname.</span>
<a name="gbab-97"></a>    <span class="c1">#</span>
<a name="gbab-98"></a>    <span class="c1"># Returns the basename without the file extname.</span>
<a name="gbab-99"></a>    <span class="k">def</span> <span class="nf">basename_without_ext</span>
<a name="gbab-100"></a>      <span class="vi">@basename_without_ext</span> <span class="o">||=</span> <span class="no">File</span><span class="o">.</span><span class="n">basename</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="s2">&quot;.*&quot;</span><span class="p">)</span>
<a name="gbab-101"></a>    <span class="k">end</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a>    <span class="c1"># The base filename of the document.</span>
<a name="gbab-104"></a>    <span class="c1">#</span>
<a name="gbab-105"></a>    <span class="c1"># Returns the base filename of the document.</span>
<a name="gbab-106"></a>    <span class="k">def</span> <span class="nf">basename</span>
<a name="gbab-107"></a>      <span class="vi">@basename</span> <span class="o">||=</span> <span class="no">File</span><span class="o">.</span><span class="n">basename</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-108"></a>    <span class="k">end</span>
<a name="gbab-109"></a>
<a name="gbab-110"></a>    <span class="c1"># Produces a &quot;cleaned&quot; relative path.</span>
<a name="gbab-111"></a>    <span class="c1"># The &quot;cleaned&quot; relative path is the relative path without the extname</span>
<a name="gbab-112"></a>    <span class="c1">#   and with the collection&#39;s directory removed as well.</span>
<a name="gbab-113"></a>    <span class="c1"># This method is useful when building the URL of the document.</span>
<a name="gbab-114"></a>    <span class="c1">#</span>
<a name="gbab-115"></a>    <span class="c1"># Examples:</span>
<a name="gbab-116"></a>    <span class="c1">#   When relative_path is &quot;_methods/site/generate.md&quot;:</span>
<a name="gbab-117"></a>    <span class="c1">#     cleaned_relative_path</span>
<a name="gbab-118"></a>    <span class="c1">#     # =&gt; &quot;/site/generate&quot;</span>
<a name="gbab-119"></a>    <span class="c1">#</span>
<a name="gbab-120"></a>    <span class="c1"># Returns the cleaned relative path of the document.</span>
<a name="gbab-121"></a>    <span class="k">def</span> <span class="nf">cleaned_relative_path</span>
<a name="gbab-122"></a>      <span class="vi">@cleaned_relative_path</span> <span class="o">||=</span>
<a name="gbab-123"></a>      <span class="n">relative_path</span><span class="o">[</span><span class="mi">0</span> <span class="o">..</span> <span class="o">-</span><span class="n">extname</span><span class="o">.</span><span class="n">length</span> <span class="o">-</span> <span class="mi">1</span><span class="o">].</span><span class="n">sub</span><span class="p">(</span><span class="n">collection</span><span class="o">.</span><span class="n">relative_directory</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-124"></a>    <span class="k">end</span>
<a name="gbab-125"></a>
<a name="gbab-126"></a>    <span class="c1"># Determine whether the document is a YAML file.</span>
<a name="gbab-127"></a>    <span class="c1">#</span>
<a name="gbab-128"></a>    <span class="c1"># Returns true if the extname is either .yml or .yaml, false otherwise.</span>
<a name="gbab-129"></a>    <span class="k">def</span> <span class="nf">yaml_file?</span>
<a name="gbab-130"></a>      <span class="sx">%w(.yaml .yml)</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">extname</span><span class="p">)</span>
<a name="gbab-131"></a>    <span class="k">end</span>
<a name="gbab-132"></a>
<a name="gbab-133"></a>    <span class="c1"># Determine whether the document is an asset file.</span>
<a name="gbab-134"></a>    <span class="c1"># Asset files include CoffeeScript files and Sass/SCSS files.</span>
<a name="gbab-135"></a>    <span class="c1">#</span>
<a name="gbab-136"></a>    <span class="c1"># Returns true if the extname belongs to the set of extensions</span>
<a name="gbab-137"></a>    <span class="c1">#   that asset files use.</span>
<a name="gbab-138"></a>    <span class="k">def</span> <span class="nf">asset_file?</span>
<a name="gbab-139"></a>      <span class="n">sass_file?</span> <span class="o">||</span> <span class="n">coffeescript_file?</span>
<a name="gbab-140"></a>    <span class="k">end</span>
<a name="gbab-141"></a>
<a name="gbab-142"></a>    <span class="c1"># Determine whether the document is a Sass file.</span>
<a name="gbab-143"></a>    <span class="c1">#</span>
<a name="gbab-144"></a>    <span class="c1"># Returns true if extname == .sass or .scss, false otherwise.</span>
<a name="gbab-145"></a>    <span class="k">def</span> <span class="nf">sass_file?</span>
<a name="gbab-146"></a>      <span class="sx">%w(.sass .scss)</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">extname</span><span class="p">)</span>
<a name="gbab-147"></a>    <span class="k">end</span>
<a name="gbab-148"></a>
<a name="gbab-149"></a>    <span class="c1"># Determine whether the document is a CoffeeScript file.</span>
<a name="gbab-150"></a>    <span class="c1">#</span>
<a name="gbab-151"></a>    <span class="c1"># Returns true if extname == .coffee, false otherwise.</span>
<a name="gbab-152"></a>    <span class="k">def</span> <span class="nf">coffeescript_file?</span>
<a name="gbab-153"></a>      <span class="n">extname</span> <span class="o">==</span> <span class="s2">&quot;.coffee&quot;</span>
<a name="gbab-154"></a>    <span class="k">end</span>
<a name="gbab-155"></a>
<a name="gbab-156"></a>    <span class="c1"># Determine whether the file should be rendered with Liquid.</span>
<a name="gbab-157"></a>    <span class="c1">#</span>
<a name="gbab-158"></a>    <span class="c1"># Returns false if the document is either an asset file or a yaml file,</span>
<a name="gbab-159"></a>    <span class="c1">#   or if the document doesn&#39;t contain any Liquid Tags or Variables,</span>
<a name="gbab-160"></a>    <span class="c1">#   true otherwise.</span>
<a name="gbab-161"></a>    <span class="k">def</span> <span class="nf">render_with_liquid?</span>
<a name="gbab-162"></a>      <span class="o">!</span><span class="p">(</span><span class="n">coffeescript_file?</span> <span class="o">||</span> <span class="n">yaml_file?</span> <span class="o">||</span> <span class="o">!</span><span class="no">Utils</span><span class="o">.</span><span class="n">has_liquid_construct?</span><span class="p">(</span><span class="n">content</span><span class="p">))</span>
<a name="gbab-163"></a>    <span class="k">end</span>
<a name="gbab-164"></a>
<a name="gbab-165"></a>    <span class="c1"># Determine whether the file should be rendered with a layout.</span>
<a name="gbab-166"></a>    <span class="c1">#</span>
<a name="gbab-167"></a>    <span class="c1"># Returns true if the Front Matter specifies that `layout` is set to `none`.</span>
<a name="gbab-168"></a>    <span class="k">def</span> <span class="nf">no_layout?</span>
<a name="gbab-169"></a>      <span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;none&quot;</span>
<a name="gbab-170"></a>    <span class="k">end</span>
<a name="gbab-171"></a>
<a name="gbab-172"></a>    <span class="c1"># Determine whether the file should be placed into layouts.</span>
<a name="gbab-173"></a>    <span class="c1">#</span>
<a name="gbab-174"></a>    <span class="c1"># Returns false if the document is set to `layouts: none`, or is either an</span>
<a name="gbab-175"></a>    <span class="c1">#   asset file or a yaml file. Returns true otherwise.</span>
<a name="gbab-176"></a>    <span class="k">def</span> <span class="nf">place_in_layout?</span>
<a name="gbab-177"></a>      <span class="o">!</span><span class="p">(</span><span class="n">asset_file?</span> <span class="o">||</span> <span class="n">yaml_file?</span> <span class="o">||</span> <span class="n">no_layout?</span><span class="p">)</span>
<a name="gbab-178"></a>    <span class="k">end</span>
<a name="gbab-179"></a>
<a name="gbab-180"></a>    <span class="c1"># The URL template where the document would be accessible.</span>
<a name="gbab-181"></a>    <span class="c1">#</span>
<a name="gbab-182"></a>    <span class="c1"># Returns the URL template for the document.</span>
<a name="gbab-183"></a>    <span class="k">def</span> <span class="nf">url_template</span>
<a name="gbab-184"></a>      <span class="n">collection</span><span class="o">.</span><span class="n">url_template</span>
<a name="gbab-185"></a>    <span class="k">end</span>
<a name="gbab-186"></a>
<a name="gbab-187"></a>    <span class="c1"># Construct a Hash of key-value pairs which contain a mapping between</span>
<a name="gbab-188"></a>    <span class="c1">#   a key in the URL template and the corresponding value for this document.</span>
<a name="gbab-189"></a>    <span class="c1">#</span>
<a name="gbab-190"></a>    <span class="c1"># Returns the Hash of key-value pairs for replacement in the URL.</span>
<a name="gbab-191"></a>    <span class="k">def</span> <span class="nf">url_placeholders</span>
<a name="gbab-192"></a>      <span class="vi">@url_placeholders</span> <span class="o">||=</span> <span class="no">Drops</span><span class="o">::</span><span class="no">UrlDrop</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-193"></a>    <span class="k">end</span>
<a name="gbab-194"></a>
<a name="gbab-195"></a>    <span class="c1"># The permalink for this Document.</span>
<a name="gbab-196"></a>    <span class="c1"># Permalink is set via the data Hash.</span>
<a name="gbab-197"></a>    <span class="c1">#</span>
<a name="gbab-198"></a>    <span class="c1"># Returns the permalink or nil if no permalink was set in the data.</span>
<a name="gbab-199"></a>    <span class="k">def</span> <span class="nf">permalink</span>
<a name="gbab-200"></a>      <span class="n">data</span> <span class="o">&amp;&amp;</span> <span class="n">data</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">data</span><span class="o">[</span><span class="s2">&quot;permalink&quot;</span><span class="o">]</span>
<a name="gbab-201"></a>    <span class="k">end</span>
<a name="gbab-202"></a>
<a name="gbab-203"></a>    <span class="c1"># The computed URL for the document. See `Jekyll::URL#to_s` for more details.</span>
<a name="gbab-204"></a>    <span class="c1">#</span>
<a name="gbab-205"></a>    <span class="c1"># Returns the computed URL for the document.</span>
<a name="gbab-206"></a>    <span class="k">def</span> <span class="nf">url</span>
<a name="gbab-207"></a>      <span class="vi">@url</span> <span class="o">||=</span> <span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">({</span>
<a name="gbab-208"></a>        <span class="ss">:template</span> <span class="o">=&gt;</span> <span class="n">url_template</span><span class="p">,</span>
<a name="gbab-209"></a>        <span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="n">url_placeholders</span><span class="p">,</span>
<a name="gbab-210"></a>        <span class="ss">:permalink</span>    <span class="o">=&gt;</span> <span class="n">permalink</span><span class="p">,</span>
<a name="gbab-211"></a>      <span class="p">})</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-212"></a>    <span class="k">end</span>
<a name="gbab-213"></a>
<a name="gbab-214"></a>    <span class="k">def</span> <span class="nf">[]</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-215"></a>      <span class="n">data</span><span class="o">[</span><span class="n">key</span><span class="o">]</span>
<a name="gbab-216"></a>    <span class="k">end</span>
<a name="gbab-217"></a>
<a name="gbab-218"></a>    <span class="c1"># The full path to the output file.</span>
<a name="gbab-219"></a>    <span class="c1">#</span>
<a name="gbab-220"></a>    <span class="c1"># base_directory - the base path of the output directory</span>
<a name="gbab-221"></a>    <span class="c1">#</span>
<a name="gbab-222"></a>    <span class="c1"># Returns the full path to the output file of this document.</span>
<a name="gbab-223"></a>    <span class="k">def</span> <span class="nf">destination</span><span class="p">(</span><span class="n">base_directory</span><span class="p">)</span>
<a name="gbab-224"></a>      <span class="n">dest</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_dest_dir</span><span class="p">(</span><span class="n">base_directory</span><span class="p">)</span>
<a name="gbab-225"></a>      <span class="n">path</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_dest_dir</span><span class="p">(</span><span class="n">dest</span><span class="p">,</span> <span class="no">URL</span><span class="o">.</span><span class="n">unescape_path</span><span class="p">(</span><span class="n">url</span><span class="p">))</span>
<a name="gbab-226"></a>      <span class="k">if</span> <span class="n">url</span><span class="o">.</span><span class="n">end_with?</span> <span class="s2">&quot;/&quot;</span>
<a name="gbab-227"></a>        <span class="n">path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-228"></a>      <span class="k">else</span>
<a name="gbab-229"></a>      <span class="n">path</span> <span class="o">&lt;&lt;</span> <span class="n">output_ext</span> <span class="k">unless</span> <span class="n">path</span><span class="o">.</span><span class="n">end_with?</span> <span class="n">output_ext</span>
<a name="gbab-230"></a>      <span class="k">end</span>
<a name="gbab-231"></a>      <span class="n">path</span>
<a name="gbab-232"></a>    <span class="k">end</span>
<a name="gbab-233"></a>
<a name="gbab-234"></a>    <span class="c1"># Write the generated Document file to the destination directory.</span>
<a name="gbab-235"></a>    <span class="c1">#</span>
<a name="gbab-236"></a>    <span class="c1"># dest - The String path to the destination dir.</span>
<a name="gbab-237"></a>    <span class="c1">#</span>
<a name="gbab-238"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-239"></a>    <span class="k">def</span> <span class="nf">write</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-240"></a>      <span class="n">path</span> <span class="o">=</span> <span class="n">destination</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-241"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">path</span><span class="p">))</span>
<a name="gbab-242"></a>      <span class="no">File</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">output</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="s2">&quot;wb&quot;</span><span class="p">)</span>
<a name="gbab-243"></a>
<a name="gbab-244"></a>      <span class="n">trigger_hooks</span><span class="p">(</span><span class="ss">:post_write</span><span class="p">)</span>
<a name="gbab-245"></a>    <span class="k">end</span>
<a name="gbab-246"></a>
<a name="gbab-247"></a>    <span class="c1"># Whether the file is published or not, as indicated in YAML front-matter</span>
<a name="gbab-248"></a>    <span class="c1">#</span>
<a name="gbab-249"></a>    <span class="c1"># Returns &#39;false&#39; if the &#39;published&#39; key is specified in the</span>
<a name="gbab-250"></a>    <span class="c1"># YAML front-matter and is &#39;false&#39;. Otherwise returns &#39;true&#39;.</span>
<a name="gbab-251"></a>    <span class="k">def</span> <span class="nf">published?</span>
<a name="gbab-252"></a>      <span class="o">!</span><span class="p">(</span><span class="n">data</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;published&quot;</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">data</span><span class="o">[</span><span class="s2">&quot;published&quot;</span><span class="o">]</span> <span class="o">==</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-253"></a>    <span class="k">end</span>
<a name="gbab-254"></a>
<a name="gbab-255"></a>    <span class="c1"># Read in the file and assign the content and data based on the file contents.</span>
<a name="gbab-256"></a>    <span class="c1"># Merge the frontmatter of the file with the frontmatter default</span>
<a name="gbab-257"></a>    <span class="c1"># values</span>
<a name="gbab-258"></a>    <span class="c1">#</span>
<a name="gbab-259"></a>      <span class="vi">@to_liquid</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-260"></a>
<a name="gbab-261"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Reading:&quot;</span><span class="p">,</span> <span class="n">relative_path</span>
<a name="gbab-262"></a>
<a name="gbab-263"></a>      <span class="k">if</span> <span class="n">yaml_file?</span>
<a name="gbab-264"></a>        <span class="vi">@data</span> <span class="o">=</span> <span class="no">SafeYAML</span><span class="o">.</span><span class="n">load_file</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-265"></a>          <span class="k">if</span> <span class="n">content</span> <span class="o">=~</span> <span class="no">YAML_FRONT_MATTER_REGEXP</span>
<a name="gbab-266"></a>        <span class="k">begin</span>
<a name="gbab-267"></a>          <span class="n">merge_defaults</span>
<a name="gbab-268"></a>          <span class="n">read_content</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-269"></a>          <span class="n">read_post_data</span>
<a name="gbab-270"></a>        <span class="k">rescue</span> <span class="no">StandardError</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-271"></a>          <span class="n">handle_read_error</span><span class="p">(</span><span class="n">e</span><span class="p">)</span>
<a name="gbab-272"></a>        <span class="k">end</span>
<a name="gbab-273"></a>      <span class="k">end</span>
<a name="gbab-274"></a>    <span class="k">end</span>
<a name="gbab-275"></a>
<a name="gbab-276"></a>    <span class="c1"># Create a Liquid-understandable version of this Document.</span>
<a name="gbab-277"></a>          <span class="s2">&quot;url&quot;</span>           <span class="o">=&gt;</span> <span class="n">url</span><span class="p">,</span>
<a name="gbab-278"></a>      <span class="vi">@to_liquid</span> <span class="o">||=</span> <span class="k">if</span> <span class="n">data</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span>
<a name="gbab-279"></a>    <span class="c1"># Returns a Hash representing this Document&#39;s data.</span>
<a name="gbab-280"></a>      <span class="vi">@to_liquid</span> <span class="o">||=</span> <span class="no">Drops</span><span class="o">::</span><span class="no">DocumentDrop</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-281"></a>      <span class="k">end</span>
<a name="gbab-282"></a>    <span class="k">end</span>
<a name="gbab-283"></a>
<a name="gbab-284"></a>    <span class="c1"># The inspect string for this document.</span>
<a name="gbab-285"></a>    <span class="c1"># Includes the relative path and the collection label.</span>
<a name="gbab-286"></a>    <span class="c1">#</span>
<a name="gbab-287"></a>    <span class="c1"># Returns the inspect string for this document.</span>
<a name="gbab-288"></a>    <span class="k">def</span> <span class="nf">inspect</span>
<a name="gbab-289"></a>      <span class="s2">&quot;#&lt;Jekyll::Document </span><span class="si">#{</span><span class="n">relative_path</span><span class="si">}</span><span class="s2"> collection=</span><span class="si">#{</span><span class="n">collection</span><span class="o">.</span><span class="n">label</span><span class="si">}</span><span class="s2">&gt;&quot;</span>
<a name="gbab-290"></a>    <span class="k">end</span>
<a name="gbab-291"></a>
<a name="gbab-292"></a>    <span class="c1"># The string representation for this document.</span>
<a name="gbab-293"></a>    <span class="c1">#</span>
<a name="gbab-294"></a>    <span class="c1"># Returns the content of the document</span>
<a name="gbab-295"></a>      <span class="n">output</span> <span class="o">||</span> <span class="n">content</span> <span class="o">||</span> <span class="s2">&quot;NO CONTENT&quot;</span>
<a name="gbab-296"></a>      <span class="n">output</span> <span class="o">||</span> <span class="n">content</span>
<a name="gbab-297"></a>    <span class="k">end</span>
<a name="gbab-298"></a>
<a name="gbab-299"></a>    <span class="c1"># Compare this document against another document.</span>
<a name="gbab-300"></a>    <span class="c1"># Comparison is a comparison between the 2 paths of the documents.</span>
<a name="gbab-301"></a>    <span class="c1">#</span>
<a name="gbab-302"></a>    <span class="c1"># Returns -1, 0, +1 or nil depending on whether this doc&#39;s path is less than,</span>
<a name="gbab-303"></a>    <span class="k">def</span> <span class="nf">&lt;=&gt;</span><span class="p">(</span><span class="n">other</span><span class="p">)</span>
<a name="gbab-304"></a>      <span class="k">return</span> <span class="kp">nil</span> <span class="k">unless</span> <span class="n">other</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:data</span><span class="p">)</span>
<a name="gbab-305"></a>      <span class="n">cmp</span> <span class="o">=</span> <span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span> <span class="o">&lt;=&gt;</span> <span class="n">other</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span>
<a name="gbab-306"></a>      <span class="n">cmp</span> <span class="o">=</span> <span class="n">path</span> <span class="o">&lt;=&gt;</span> <span class="n">other</span><span class="o">.</span><span class="n">path</span> <span class="k">if</span> <span class="n">cmp</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">cmp</span><span class="o">.</span><span class="n">zero?</span>
<a name="gbab-307"></a>      <span class="n">cmp</span>
<a name="gbab-308"></a>      <span class="n">path</span> <span class="o">&lt;=&gt;</span> <span class="n">anotherDocument</span><span class="o">.</span><span class="n">path</span>
<a name="gbab-309"></a>    <span class="k">end</span>
<a name="gbab-310"></a>
<a name="gbab-311"></a>    <span class="c1"># Determine whether this document should be written.</span>
<a name="gbab-312"></a>    <span class="c1"># Based on the Collection to which it belongs.</span>
<a name="gbab-313"></a>    <span class="c1">#</span>
<a name="gbab-314"></a>    <span class="c1"># method returns true, and if the site&#39;s Publisher will publish the document.</span>
<a name="gbab-315"></a>    <span class="c1"># False otherwise.</span>
<a name="gbab-316"></a>    <span class="c1">#   method returns true, otherwise false.</span>
<a name="gbab-317"></a>      <span class="n">collection</span> <span class="o">&amp;&amp;</span> <span class="n">collection</span><span class="o">.</span><span class="n">write?</span> <span class="o">&amp;&amp;</span> <span class="n">site</span><span class="o">.</span><span class="n">publisher</span><span class="o">.</span><span class="n">publish?</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-318"></a>    <span class="k">end</span>
<a name="gbab-319"></a>
<a name="gbab-320"></a>    <span class="c1"># The Document excerpt_separator, from the YAML Front-Matter or site</span>
<a name="gbab-321"></a>    <span class="c1"># default excerpt_separator value</span>
<a name="gbab-322"></a>    <span class="c1">#</span>
<a name="gbab-323"></a>    <span class="c1"># Returns the document excerpt_separator</span>
<a name="gbab-324"></a>    <span class="k">def</span> <span class="nf">excerpt_separator</span>
<a name="gbab-325"></a>      <span class="p">(</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;excerpt_separator&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;excerpt_separator&quot;</span><span class="o">]</span><span class="p">)</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-326"></a>    <span class="k">end</span>
<a name="gbab-327"></a>
<a name="gbab-328"></a>    <span class="c1"># Whether to generate an excerpt</span>
<a name="gbab-329"></a>    <span class="c1">#</span>
<a name="gbab-330"></a>    <span class="c1"># Returns true if the excerpt separator is configured.</span>
<a name="gbab-331"></a>    <span class="k">def</span> <span class="nf">generate_excerpt?</span>
<a name="gbab-332"></a>      <span class="o">!</span><span class="n">excerpt_separator</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-333"></a>    <span class="k">end</span>
<a name="gbab-334"></a>
<a name="gbab-335"></a>    <span class="k">def</span> <span class="nf">next_doc</span>
<a name="gbab-336"></a>      <span class="n">pos</span> <span class="o">=</span> <span class="n">collection</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">index</span> <span class="p">{</span><span class="o">|</span><span class="n">post</span><span class="o">|</span> <span class="n">post</span><span class="o">.</span><span class="n">equal?</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-337"></a>      <span class="k">if</span> <span class="n">pos</span> <span class="o">&amp;&amp;</span> <span class="n">pos</span> <span class="o">&lt;</span> <span class="n">collection</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">length</span> <span class="o">-</span> <span class="mi">1</span>
<a name="gbab-338"></a>        <span class="n">collection</span><span class="o">.</span><span class="n">docs</span><span class="o">[</span><span class="n">pos</span> <span class="o">+</span> <span class="mi">1</span><span class="o">]</span>
<a name="gbab-339"></a>      <span class="k">end</span>
<a name="gbab-340"></a>    <span class="k">end</span>
<a name="gbab-341"></a>
<a name="gbab-342"></a>    <span class="k">def</span> <span class="nf">previous_doc</span>
<a name="gbab-343"></a>      <span class="n">pos</span> <span class="o">=</span> <span class="n">collection</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">index</span> <span class="p">{</span><span class="o">|</span><span class="n">post</span><span class="o">|</span> <span class="n">post</span><span class="o">.</span><span class="n">equal?</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-344"></a>      <span class="k">if</span> <span class="n">pos</span> <span class="o">&amp;&amp;</span> <span class="n">pos</span> <span class="o">&gt;</span> <span class="mi">0</span>
<a name="gbab-345"></a>        <span class="n">collection</span><span class="o">.</span><span class="n">docs</span><span class="o">[</span><span class="n">pos</span> <span class="o">-</span> <span class="mi">1</span><span class="o">]</span>
<a name="gbab-346"></a>      <span class="k">end</span>
<a name="gbab-347"></a>    <span class="k">end</span>
<a name="gbab-348"></a>
<a name="gbab-349"></a>    <span class="k">def</span> <span class="nf">trigger_hooks</span><span class="p">(</span><span class="n">hook_name</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-350"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="n">collection</span><span class="o">.</span><span class="n">label</span><span class="o">.</span><span class="n">to_sym</span><span class="p">,</span> <span class="n">hook_name</span><span class="p">,</span> <span class="nb">self</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span> <span class="k">if</span> <span class="n">collection</span>
<a name="gbab-351"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="ss">:documents</span><span class="p">,</span> <span class="n">hook_name</span><span class="p">,</span> <span class="nb">self</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span>
<a name="gbab-352"></a>    <span class="k">end</span>
<a name="gbab-353"></a>
<a name="gbab-354"></a>    <span class="k">def</span> <span class="nf">id</span>
<a name="gbab-355"></a>      <span class="vi">@id</span> <span class="o">||=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">url</span><span class="p">),</span> <span class="p">(</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;slug&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="n">basename_without_ext</span><span class="p">)</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<a name="gbab-356"></a>    <span class="k">end</span>
<a name="gbab-357"></a>
<a name="gbab-358"></a>    <span class="c1"># Calculate related posts.</span>
<a name="gbab-359"></a>    <span class="c1">#</span>
<a name="gbab-360"></a>    <span class="c1"># Returns an Array of related Posts.</span>
<a name="gbab-361"></a>    <span class="k">def</span> <span class="nf">related_posts</span>
<a name="gbab-362"></a>      <span class="vi">@related_posts</span> <span class="o">||=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">RelatedPosts</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span><span class="o">.</span><span class="n">build</span>
<a name="gbab-363"></a>    <span class="k">end</span>
<a name="gbab-364"></a>
<a name="gbab-365"></a>    <span class="c1"># Override of normal respond_to? to match method_missing&#39;s logic for</span>
<a name="gbab-366"></a>    <span class="c1"># looking in @data.</span>
<a name="gbab-367"></a>    <span class="k">def</span> <span class="nf">respond_to?</span><span class="p">(</span><span class="nb">method</span><span class="p">,</span> <span class="n">include_private</span> <span class="o">=</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-368"></a>      <span class="n">data</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="nb">method</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span> <span class="o">||</span> <span class="k">super</span>
<a name="gbab-369"></a>    <span class="k">end</span>
<a name="gbab-370"></a>
<a name="gbab-371"></a>    <span class="c1"># Override of method_missing to check in @data for the key.</span>
<a name="gbab-372"></a>    <span class="k">def</span> <span class="nf">method_missing</span><span class="p">(</span><span class="nb">method</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">blck</span><span class="p">)</span>
<a name="gbab-373"></a>      <span class="k">if</span> <span class="n">data</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="nb">method</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<a name="gbab-374"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span> <span class="s2">&quot;Document#</span><span class="si">#{</span><span class="nb">method</span><span class="si">}</span><span class="s2"> is now a key &quot;</span><span class="p">\</span>
<a name="gbab-375"></a>                           <span class="s2">&quot;in the #data hash.&quot;</span>
<a name="gbab-376"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span> <span class="s2">&quot;Called by </span><span class="si">#{</span><span class="nb">caller</span><span class="p">(</span><span class="mi">0</span><span class="o">..</span><span class="mi">0</span><span class="p">)</span><span class="si">}</span><span class="s2">.&quot;</span>
<a name="gbab-377"></a>        <span class="n">data</span><span class="o">[</span><span class="nb">method</span><span class="o">.</span><span class="n">to_s</span><span class="o">]</span>
<a name="gbab-378"></a>      <span class="k">else</span>
<a name="gbab-379"></a>        <span class="k">super</span>
<a name="gbab-380"></a>      <span class="k">end</span>
<a name="gbab-381"></a>    <span class="k">end</span>
<a name="gbab-382"></a>    <span class="kp">private</span> <span class="c1"># :nodoc:</span>
<a name="gbab-383"></a>    <span class="k">def</span> <span class="nf">respond_to_missing?</span><span class="p">(</span><span class="nb">method</span><span class="p">,</span> <span class="o">*</span><span class="p">)</span>
<a name="gbab-384"></a>      <span class="n">data</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="nb">method</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span> <span class="o">||</span> <span class="k">super</span>
<a name="gbab-385"></a>    <span class="k">end</span>
<a name="gbab-386"></a>
<a name="gbab-387"></a>    <span class="c1"># Add superdirectories of the special_dir to categories.</span>
<a name="gbab-388"></a>    <span class="c1"># In the case of es/_posts, &#39;es&#39; is added as a category.</span>
<a name="gbab-389"></a>    <span class="c1"># In the case of _posts/es, &#39;es&#39; is NOT added as a category.</span>
<a name="gbab-390"></a>    <span class="c1">#</span>
<a name="gbab-391"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-392"></a>    <span class="k">def</span> <span class="nf">categories_from_path</span><span class="p">(</span><span class="n">special_dir</span><span class="p">)</span>
<a name="gbab-393"></a>      <span class="n">superdirs</span> <span class="o">=</span> <span class="n">relative_path</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="sr">%r!</span><span class="si">#{</span><span class="n">special_dir</span><span class="si">}</span><span class="sr">(.*)!</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-394"></a>        <span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="no">File</span><span class="o">::</span><span class="no">SEPARATOR</span><span class="p">)</span>
<a name="gbab-395"></a>        <span class="o">.</span><span class="n">reject</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-396"></a>        <span class="n">c</span><span class="o">.</span><span class="n">empty?</span> <span class="o">||</span> <span class="n">c</span> <span class="o">==</span> <span class="n">special_dir</span> <span class="o">||</span> <span class="n">c</span> <span class="o">==</span> <span class="n">basename</span>
<a name="gbab-397"></a>      <span class="k">end</span>
<a name="gbab-398"></a>      <span class="n">merge_data!</span><span class="p">({</span> <span class="s2">&quot;categories&quot;</span> <span class="o">=&gt;</span> <span class="n">superdirs</span> <span class="p">},</span> <span class="ss">:source</span> <span class="o">=&gt;</span> <span class="s2">&quot;file path&quot;</span><span class="p">)</span>
<a name="gbab-399"></a>    <span class="k">end</span>
<a name="gbab-400"></a>
<a name="gbab-401"></a>    <span class="k">def</span> <span class="nf">populate_categories</span>
<a name="gbab-402"></a>      <span class="n">merge_data!</span><span class="p">({</span>
<a name="gbab-403"></a>        <span class="s2">&quot;categories&quot;</span> <span class="o">=&gt;</span> <span class="p">(</span>
<a name="gbab-404"></a>        <span class="nb">Array</span><span class="p">(</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;categories&quot;</span><span class="o">]</span><span class="p">)</span> <span class="o">+</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span>
<a name="gbab-405"></a>            <span class="n">data</span><span class="p">,</span> <span class="s2">&quot;category&quot;</span><span class="p">,</span> <span class="s2">&quot;categories&quot;</span>
<a name="gbab-406"></a>        <span class="p">)</span>
<a name="gbab-407"></a>        <span class="p">)</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:to_s</span><span class="p">)</span><span class="o">.</span><span class="n">flatten</span><span class="o">.</span><span class="n">uniq</span><span class="p">,</span>
<a name="gbab-408"></a>      <span class="p">})</span>
<a name="gbab-409"></a>    <span class="k">end</span>
<a name="gbab-410"></a>
<a name="gbab-411"></a>    <span class="k">def</span> <span class="nf">populate_tags</span>
<a name="gbab-412"></a>      <span class="n">merge_data!</span><span class="p">({</span>
<a name="gbab-413"></a>        <span class="s2">&quot;tags&quot;</span> <span class="o">=&gt;</span> <span class="no">Utils</span><span class="o">.</span><span class="n">pluralized_array_from_hash</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="s2">&quot;tag&quot;</span><span class="p">,</span> <span class="s2">&quot;tags&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">flatten</span><span class="p">,</span>
<a name="gbab-414"></a>      <span class="p">})</span>
<a name="gbab-415"></a>    <span class="k">end</span>
<a name="gbab-416"></a>
<a name="gbab-417"></a>    <span class="kp">private</span>
<a name="gbab-418"></a>    <span class="k">def</span> <span class="nf">merge_categories!</span><span class="p">(</span><span class="n">other</span><span class="p">)</span>
<a name="gbab-419"></a>      <span class="k">if</span> <span class="n">other</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;categories&quot;</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">other</span><span class="o">[</span><span class="s2">&quot;categories&quot;</span><span class="o">].</span><span class="n">nil?</span>
<a name="gbab-420"></a>        <span class="k">if</span> <span class="n">other</span><span class="o">[</span><span class="s2">&quot;categories&quot;</span><span class="o">].</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">String</span><span class="p">)</span>
<a name="gbab-421"></a>          <span class="n">other</span><span class="o">[</span><span class="s2">&quot;categories&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">other</span><span class="o">[</span><span class="s2">&quot;categories&quot;</span><span class="o">].</span><span class="n">split</span>
<a name="gbab-422"></a>        <span class="k">end</span>
<a name="gbab-423"></a>        <span class="n">other</span><span class="o">[</span><span class="s2">&quot;categories&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="p">(</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;categories&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="o">[]</span><span class="p">)</span> <span class="o">|</span> <span class="n">other</span><span class="o">[</span><span class="s2">&quot;categories&quot;</span><span class="o">]</span>
<a name="gbab-424"></a>      <span class="k">end</span>
<a name="gbab-425"></a>    <span class="k">end</span>
<a name="gbab-426"></a>
<a name="gbab-427"></a>    <span class="kp">private</span>
<a name="gbab-428"></a>    <span class="k">def</span> <span class="nf">merge_date!</span><span class="p">(</span><span class="n">source</span><span class="p">)</span>
<a name="gbab-429"></a>      <span class="k">if</span> <span class="n">data</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;date&quot;</span><span class="p">)</span>
<a name="gbab-430"></a>        <span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">parse_date</span><span class="p">(</span>
<a name="gbab-431"></a>          <span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">].</span><span class="n">to_s</span><span class="p">,</span>
<a name="gbab-432"></a>          <span class="s2">&quot;Document &#39;</span><span class="si">#{</span><span class="n">relative_path</span><span class="si">}</span><span class="s2">&#39; does not have a valid date in the </span><span class="si">#{</span><span class="n">source</span><span class="si">}</span><span class="s2">.&quot;</span>
<a name="gbab-433"></a>        <span class="p">)</span>
<a name="gbab-434"></a>      <span class="k">end</span>
<a name="gbab-435"></a>    <span class="k">end</span>
<a name="gbab-436"></a>
<a name="gbab-437"></a>    <span class="kp">private</span>
<a name="gbab-438"></a>    <span class="k">def</span> <span class="nf">merge_defaults</span>
<a name="gbab-439"></a>      <span class="n">defaults</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">frontmatter_defaults</span><span class="o">.</span><span class="n">all</span><span class="p">(</span>
<a name="gbab-440"></a>        <span class="n">relative_path</span><span class="p">,</span>
<a name="gbab-441"></a>        <span class="n">collection</span><span class="o">.</span><span class="n">label</span><span class="o">.</span><span class="n">to_sym</span>
<a name="gbab-442"></a>      <span class="p">)</span>
<a name="gbab-443"></a>      <span class="n">merge_data!</span><span class="p">(</span><span class="n">defaults</span><span class="p">,</span> <span class="ss">:source</span> <span class="o">=&gt;</span> <span class="s2">&quot;front matter defaults&quot;</span><span class="p">)</span> <span class="k">unless</span> <span class="n">defaults</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-444"></a>    <span class="k">end</span>
<a name="gbab-445"></a>
<a name="gbab-446"></a>    <span class="kp">private</span>
<a name="gbab-447"></a>    <span class="k">def</span> <span class="nf">read_content</span><span class="p">(</span><span class="n">opts</span><span class="p">)</span>
<a name="gbab-448"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="no">Utils</span><span class="o">.</span><span class="n">merged_file_read_opts</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">opts</span><span class="p">))</span>
<a name="gbab-449"></a>      <span class="k">if</span> <span class="n">content</span> <span class="o">=~</span> <span class="no">YAML_FRONT_MATTER_REGEXP</span>
<a name="gbab-450"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="vg">$POSTMATCH</span>
<a name="gbab-451"></a>        <span class="n">data_file</span> <span class="o">=</span> <span class="no">SafeYAML</span><span class="o">.</span><span class="n">load</span><span class="p">(</span><span class="no">Regexp</span><span class="o">.</span><span class="n">last_match</span><span class="p">(</span><span class="mi">1</span><span class="p">))</span>
<a name="gbab-452"></a>        <span class="n">merge_data!</span><span class="p">(</span><span class="n">data_file</span><span class="p">,</span> <span class="ss">:source</span> <span class="o">=&gt;</span> <span class="s2">&quot;YAML front matter&quot;</span><span class="p">)</span> <span class="k">if</span> <span class="n">data_file</span>
<a name="gbab-453"></a>      <span class="k">end</span>
<a name="gbab-454"></a>    <span class="k">end</span>
<a name="gbab-455"></a>
<a name="gbab-456"></a>    <span class="kp">private</span>
<a name="gbab-457"></a>    <span class="k">def</span> <span class="nf">read_post_data</span>
<a name="gbab-458"></a>      <span class="n">populate_title</span>
<a name="gbab-459"></a>      <span class="n">populate_categories</span>
<a name="gbab-460"></a>      <span class="n">populate_tags</span>
<a name="gbab-461"></a>      <span class="n">generate_excerpt</span>
<a name="gbab-462"></a>    <span class="k">end</span>
<a name="gbab-463"></a>
<a name="gbab-464"></a>    <span class="kp">private</span>
<a name="gbab-465"></a>    <span class="k">def</span> <span class="nf">handle_read_error</span><span class="p">(</span><span class="n">error</span><span class="p">)</span>
<a name="gbab-466"></a>      <span class="k">if</span> <span class="n">error</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Psych</span><span class="o">::</span><span class="no">SyntaxError</span>
<a name="gbab-467"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Error:&quot;</span><span class="p">,</span> <span class="s2">&quot;YAML Exception reading </span><span class="si">#{</span><span class="n">path</span><span class="si">}</span><span class="s2">: </span><span class="si">#{</span><span class="n">error</span><span class="o">.</span><span class="n">message</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-468"></a>      <span class="k">else</span>
<a name="gbab-469"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Error:&quot;</span><span class="p">,</span> <span class="s2">&quot;could not read file </span><span class="si">#{</span><span class="n">path</span><span class="si">}</span><span class="s2">: </span><span class="si">#{</span><span class="n">error</span><span class="o">.</span><span class="n">message</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-470"></a>      <span class="k">end</span>
<a name="gbab-471"></a>
<a name="gbab-472"></a>      <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;strict_front_matter&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="n">error</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">FatalException</span><span class="p">)</span>
<a name="gbab-473"></a>        <span class="k">raise</span> <span class="n">error</span>
<a name="gbab-474"></a>      <span class="k">end</span>
<a name="gbab-475"></a>    <span class="k">end</span>
<a name="gbab-476"></a>
<a name="gbab-477"></a>    <span class="kp">private</span>
<a name="gbab-478"></a>    <span class="k">def</span> <span class="nf">populate_title</span>
<a name="gbab-479"></a>      <span class="k">if</span> <span class="n">relative_path</span> <span class="o">=~</span> <span class="no">DATE_FILENAME_MATCHER</span>
<a name="gbab-480"></a>        <span class="n">date</span><span class="p">,</span> <span class="n">slug</span><span class="p">,</span> <span class="n">ext</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">last_match</span><span class="o">.</span><span class="n">captures</span>
<a name="gbab-481"></a>        <span class="n">modify_date</span><span class="p">(</span><span class="n">date</span><span class="p">)</span>
<a name="gbab-482"></a>      <span class="k">elsif</span> <span class="n">relative_path</span> <span class="o">=~</span> <span class="no">DATELESS_FILENAME_MATCHER</span>
<a name="gbab-483"></a>        <span class="n">slug</span><span class="p">,</span> <span class="n">ext</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">last_match</span><span class="o">.</span><span class="n">captures</span>
<a name="gbab-484"></a>      <span class="k">end</span>
<a name="gbab-485"></a>
<a name="gbab-486"></a>      <span class="c1"># Try to ensure the user gets a title.</span>
<a name="gbab-487"></a>      <span class="n">data</span><span class="o">[</span><span class="s2">&quot;title&quot;</span><span class="o">]</span> <span class="o">||=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">titleize_slug</span><span class="p">(</span><span class="n">slug</span><span class="p">)</span>
<a name="gbab-488"></a>      <span class="c1"># Only overwrite slug &amp; ext if they aren&#39;t specified.</span>
<a name="gbab-489"></a>      <span class="n">data</span><span class="o">[</span><span class="s2">&quot;slug&quot;</span><span class="o">]</span>  <span class="o">||=</span> <span class="n">slug</span>
<a name="gbab-490"></a>      <span class="n">data</span><span class="o">[</span><span class="s2">&quot;ext&quot;</span><span class="o">]</span>   <span class="o">||=</span> <span class="n">ext</span>
<a name="gbab-491"></a>    <span class="k">end</span>
<a name="gbab-492"></a>
<a name="gbab-493"></a>    <span class="kp">private</span>
<a name="gbab-494"></a>    <span class="k">def</span> <span class="nf">modify_date</span><span class="p">(</span><span class="n">date</span><span class="p">)</span>
<a name="gbab-495"></a>      <span class="k">if</span> <span class="o">!</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="n">data</span><span class="o">[</span><span class="s2">&quot;date&quot;</span><span class="o">].</span><span class="n">to_i</span> <span class="o">==</span> <span class="n">site</span><span class="o">.</span><span class="n">time</span><span class="o">.</span><span class="n">to_i</span>
<a name="gbab-496"></a>        <span class="n">merge_data!</span><span class="p">({</span> <span class="s2">&quot;date&quot;</span> <span class="o">=&gt;</span> <span class="n">date</span> <span class="p">},</span> <span class="ss">:source</span> <span class="o">=&gt;</span> <span class="s2">&quot;filename&quot;</span><span class="p">)</span>
<a name="gbab-497"></a>      <span class="k">end</span>
<a name="gbab-498"></a>    <span class="k">end</span>
<a name="gbab-499"></a>
<a name="gbab-500"></a>    <span class="kp">private</span>
<a name="gbab-501"></a>    <span class="k">end</span>
<a name="gbab-502"></a>    
<a name="gbab-503"></a>    <span class="kp">private</span> <span class="c1"># :nodoc:</span>
<a name="gbab-504"></a>    <span class="k">def</span> <span class="nf">generate_excerpt</span>
<a name="gbab-505"></a>      <span class="k">if</span> <span class="n">generate_excerpt?</span>
<a name="gbab-506"></a>        <span class="n">data</span><span class="o">[</span><span class="s2">&quot;excerpt&quot;</span><span class="o">]</span> <span class="o">||=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Excerpt</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-507"></a>      <span class="k">end</span>
<a name="gbab-508"></a>    <span class="k">end</span>
<a name="gbab-509"></a>
<a name="gbab-510"></a>  <span class="k">end</span>
<a name="gbab-511"></a><span class="k">end</span>
</pre></div>
</td></tr></table>