<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Filters</span>
<a name="gbab-5"></a>    <span class="k">module</span> <span class="nn">GroupingFilters</span>
<a name="gbab-6"></a>      <span class="c1"># Group an array of items by a property</span>
<a name="gbab-7"></a>      <span class="c1">#</span>
<a name="gbab-8"></a>      <span class="c1"># input - the inputted Enumerable</span>
<a name="gbab-9"></a>      <span class="c1"># property - the property</span>
<a name="gbab-10"></a>      <span class="c1">#</span>
<a name="gbab-11"></a>      <span class="c1"># Returns an array of Hashes, each looking something like this:</span>
<a name="gbab-12"></a>      <span class="c1">#  {&quot;name&quot;  =&gt; &quot;larry&quot;</span>
<a name="gbab-13"></a>      <span class="c1">#   &quot;items&quot; =&gt; [...] } # all the items where `property` == &quot;larry&quot;</span>
<a name="gbab-14"></a>      <span class="k">def</span> <span class="nf">group_by</span><span class="p">(</span><span class="n">input</span><span class="p">,</span> <span class="n">property</span><span class="p">)</span>
<a name="gbab-15"></a>        <span class="k">if</span> <span class="n">groupable?</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-16"></a>          <span class="n">groups</span> <span class="o">=</span> <span class="n">input</span><span class="o">.</span><span class="n">group_by</span> <span class="p">{</span> <span class="o">|</span><span class="n">item</span><span class="o">|</span> <span class="n">item_property</span><span class="p">(</span><span class="n">item</span><span class="p">,</span> <span class="n">property</span><span class="p">)</span><span class="o">.</span><span class="n">to_s</span> <span class="p">}</span>
<a name="gbab-17"></a>          <span class="n">grouped_array</span><span class="p">(</span><span class="n">groups</span><span class="p">)</span>
<a name="gbab-18"></a>        <span class="k">else</span>
<a name="gbab-19"></a>          <span class="n">input</span>
<a name="gbab-20"></a>        <span class="k">end</span>
<a name="gbab-21"></a>      <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>      <span class="c1"># Group an array of items by an expression</span>
<a name="gbab-24"></a>      <span class="c1">#</span>
<a name="gbab-25"></a>      <span class="c1"># input - the object array</span>
<a name="gbab-26"></a>      <span class="c1"># variable - the variable to assign each item to in the expression</span>
<a name="gbab-27"></a>      <span class="c1"># expression -a Liquid comparison expression passed in as a string</span>
<a name="gbab-28"></a>      <span class="c1">#</span>
<a name="gbab-29"></a>      <span class="c1"># Returns the filtered array of objects</span>
<a name="gbab-30"></a>      <span class="k">def</span> <span class="nf">group_by_exp</span><span class="p">(</span><span class="n">input</span><span class="p">,</span> <span class="n">variable</span><span class="p">,</span> <span class="n">expression</span><span class="p">)</span>
<a name="gbab-31"></a>        <span class="k">return</span> <span class="n">input</span> <span class="k">unless</span> <span class="n">groupable?</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>        <span class="n">parsed_expr</span> <span class="o">=</span> <span class="n">parse_expression</span><span class="p">(</span><span class="n">expression</span><span class="p">)</span>
<a name="gbab-34"></a>        <span class="vi">@context</span><span class="o">.</span><span class="n">stack</span> <span class="k">do</span>
<a name="gbab-35"></a>          <span class="n">groups</span> <span class="o">=</span> <span class="n">input</span><span class="o">.</span><span class="n">group_by</span> <span class="k">do</span> <span class="o">|</span><span class="n">item</span><span class="o">|</span>
<a name="gbab-36"></a>            <span class="vi">@context</span><span class="o">[</span><span class="n">variable</span><span class="o">]</span> <span class="o">=</span> <span class="n">item</span>
<a name="gbab-37"></a>            <span class="n">parsed_expr</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="vi">@context</span><span class="p">)</span>
<a name="gbab-38"></a>          <span class="k">end</span>
<a name="gbab-39"></a>          <span class="n">grouped_array</span><span class="p">(</span><span class="n">groups</span><span class="p">)</span>
<a name="gbab-40"></a>        <span class="k">end</span>
<a name="gbab-41"></a>      <span class="k">end</span>
<a name="gbab-42"></a>
<a name="gbab-43"></a>      <span class="kp">private</span>
<a name="gbab-44"></a>      <span class="k">def</span> <span class="nf">parse_expression</span><span class="p">(</span><span class="n">str</span><span class="p">)</span>
<a name="gbab-45"></a>        <span class="no">Liquid</span><span class="o">::</span><span class="no">Variable</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">str</span><span class="p">,</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">ParseContext</span><span class="o">.</span><span class="n">new</span><span class="p">)</span>
<a name="gbab-46"></a>      <span class="k">end</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>      <span class="kp">private</span>
<a name="gbab-49"></a>      <span class="k">def</span> <span class="nf">groupable?</span><span class="p">(</span><span class="n">element</span><span class="p">)</span>
<a name="gbab-50"></a>        <span class="n">element</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:group_by</span><span class="p">)</span>
<a name="gbab-51"></a>      <span class="k">end</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>      <span class="kp">private</span>
<a name="gbab-54"></a>      <span class="k">def</span> <span class="nf">grouped_array</span><span class="p">(</span><span class="n">groups</span><span class="p">)</span>
<a name="gbab-55"></a>        <span class="n">groups</span><span class="o">.</span><span class="n">each_with_object</span><span class="p">(</span><span class="o">[]</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">item</span><span class="p">,</span> <span class="n">array</span><span class="o">|</span>
<a name="gbab-56"></a>          <span class="n">array</span> <span class="o">&lt;&lt;</span> <span class="p">{</span>
<a name="gbab-57"></a>            <span class="s2">&quot;name&quot;</span>  <span class="o">=&gt;</span> <span class="n">item</span><span class="o">.</span><span class="n">first</span><span class="p">,</span>
<a name="gbab-58"></a>            <span class="s2">&quot;items&quot;</span> <span class="o">=&gt;</span> <span class="n">item</span><span class="o">.</span><span class="n">last</span><span class="p">,</span>
<a name="gbab-59"></a>            <span class="s2">&quot;size&quot;</span>  <span class="o">=&gt;</span> <span class="n">item</span><span class="o">.</span><span class="n">last</span><span class="o">.</span><span class="n">size</span><span class="p">,</span>
<a name="gbab-60"></a>          <span class="p">}</span>
<a name="gbab-61"></a>        <span class="k">end</span>
<a name="gbab-62"></a>      <span class="k">end</span>
<a name="gbab-63"></a>    <span class="k">end</span>
<a name="gbab-64"></a>  <span class="k">end</span>
<a name="gbab-65"></a><span class="k">end</span>
</pre></div>
</td></tr></table>