<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Excerpt</span>
<a name="gbab-5"></a>    <span class="kp">extend</span> <span class="no">Forwardable</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a>    <span class="kp">attr_accessor</span> <span class="ss">:doc</span>
<a name="gbab-8"></a>    <span class="kp">attr_accessor</span> <span class="ss">:content</span><span class="p">,</span> <span class="ss">:ext</span>
<a name="gbab-9"></a>    <span class="kp">attr_writer</span>   <span class="ss">:output</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>    <span class="n">def_delegators</span> <span class="ss">:@doc</span><span class="p">,</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:name</span><span class="p">,</span> <span class="ss">:ext</span><span class="p">,</span> <span class="ss">:extname</span><span class="p">,</span>
<a name="gbab-12"></a>                          <span class="ss">:render_with_liquid?</span><span class="p">,</span> <span class="ss">:collection</span><span class="p">,</span> <span class="ss">:related_posts</span><span class="p">,</span>
<a name="gbab-13"></a>                          <span class="ss">:url</span><span class="p">,</span> <span class="ss">:next_doc</span><span class="p">,</span> <span class="ss">:previous_doc</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>    <span class="c1"># Initialize this Excerpt instance.</span>
<a name="gbab-16"></a>    <span class="c1">#</span>
<a name="gbab-17"></a>    <span class="c1"># doc - The Document.</span>
<a name="gbab-18"></a>    <span class="c1">#</span>
<a name="gbab-19"></a>    <span class="c1"># Returns the new Excerpt.</span>
<a name="gbab-20"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">doc</span><span class="p">)</span>
<a name="gbab-21"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">doc</span> <span class="o">=</span> <span class="n">doc</span>
<a name="gbab-22"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="n">extract_excerpt</span><span class="p">(</span><span class="n">doc</span><span class="o">.</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="c1"># Fetch YAML front-matter data from related doc, without layout key</span>
<a name="gbab-26"></a>    <span class="c1">#</span>
<a name="gbab-27"></a>    <span class="c1"># Returns Hash of doc data</span>
<a name="gbab-28"></a>    <span class="k">def</span> <span class="nf">data</span>
<a name="gbab-29"></a>      <span class="vi">@data</span> <span class="o">||=</span> <span class="n">doc</span><span class="o">.</span><span class="n">data</span><span class="o">.</span><span class="n">dup</span>
<a name="gbab-30"></a>      <span class="vi">@data</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="s2">&quot;layout&quot;</span><span class="p">)</span>
<a name="gbab-31"></a>      <span class="vi">@data</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="s2">&quot;excerpt&quot;</span><span class="p">)</span>
<a name="gbab-32"></a>      <span class="vi">@data</span>
<a name="gbab-33"></a>    <span class="k">end</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>    <span class="k">def</span> <span class="nf">trigger_hooks</span><span class="p">(</span><span class="o">*</span><span class="p">);</span> <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>    <span class="c1"># &#39;Path&#39; of the excerpt.</span>
<a name="gbab-38"></a>    <span class="c1"># </span>
<a name="gbab-39"></a>    <span class="c1"># Returns the path for the doc this excerpt belongs to with #excerpt appended</span>
<a name="gbab-40"></a>    <span class="k">def</span> <span class="nf">path</span>
<a name="gbab-41"></a>      <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">doc</span><span class="o">.</span><span class="n">path</span><span class="p">,</span> <span class="s2">&quot;#excerpt&quot;</span><span class="p">)</span>
<a name="gbab-42"></a>    <span class="k">end</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a>    <span class="c1"># &#39;Relative Path&#39; of the excerpt.</span>
<a name="gbab-45"></a>    <span class="c1">#</span>
<a name="gbab-46"></a>    <span class="c1"># Returns the relative_path for the doc this excerpt belongs to with #excerpt appended</span>
<a name="gbab-47"></a>    <span class="k">def</span> <span class="nf">relative_path</span>
<a name="gbab-48"></a>      <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span><span class="p">,</span> <span class="s2">&quot;#excerpt&quot;</span><span class="p">)</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>    <span class="c1"># Check if excerpt includes a string</span>
<a name="gbab-52"></a>    <span class="c1">#</span>
<a name="gbab-53"></a>    <span class="c1"># Returns true if the string passed in </span>
<a name="gbab-54"></a>    <span class="k">def</span> <span class="nf">include?</span><span class="p">(</span><span class="n">something</span><span class="p">)</span>
<a name="gbab-55"></a>      <span class="p">(</span><span class="n">output</span> <span class="o">&amp;&amp;</span> <span class="n">output</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">something</span><span class="p">))</span> <span class="o">||</span> <span class="n">content</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">something</span><span class="p">)</span>
<a name="gbab-56"></a>    <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>    <span class="c1"># The UID for this doc (useful in feeds).</span>
<a name="gbab-59"></a>    <span class="c1"># e.g. /2008/11/05/my-awesome-doc</span>
<a name="gbab-60"></a>    <span class="c1">#</span>
<a name="gbab-61"></a>    <span class="c1"># Returns the String UID.</span>
<a name="gbab-62"></a>    <span class="k">def</span> <span class="nf">id</span>
<a name="gbab-63"></a>      <span class="s2">&quot;</span><span class="si">#{</span><span class="n">doc</span><span class="o">.</span><span class="n">id</span><span class="si">}</span><span class="s2">#excerpt&quot;</span>
<a name="gbab-64"></a>    <span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>    <span class="k">def</span> <span class="nf">to_s</span>
<a name="gbab-67"></a>      <span class="n">output</span> <span class="o">||</span> <span class="n">content</span>
<a name="gbab-68"></a>    <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>    <span class="k">def</span> <span class="nf">to_liquid</span>
<a name="gbab-71"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Drops</span><span class="o">::</span><span class="no">ExcerptDrop</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-72"></a>    <span class="k">end</span>
<a name="gbab-73"></a>
<a name="gbab-74"></a>    <span class="c1"># Returns the shorthand String identifier of this doc.</span>
<a name="gbab-75"></a>    <span class="k">def</span> <span class="nf">inspect</span>
<a name="gbab-76"></a>      <span class="s2">&quot;&lt;Excerpt: </span><span class="si">#{</span><span class="nb">self</span><span class="o">.</span><span class="n">id</span><span class="si">}</span><span class="s2">&gt;&quot;</span>
<a name="gbab-77"></a>    <span class="k">end</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>    <span class="k">def</span> <span class="nf">output</span>
<a name="gbab-80"></a>      <span class="vi">@output</span> <span class="o">||=</span> <span class="no">Renderer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">doc</span><span class="o">.</span><span class="n">site</span><span class="p">,</span> <span class="nb">self</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">site_payload</span><span class="p">)</span><span class="o">.</span><span class="n">run</span>
<a name="gbab-81"></a>    <span class="k">end</span>
<a name="gbab-82"></a>
<a name="gbab-83"></a>    <span class="k">def</span> <span class="nf">place_in_layout?</span>
<a name="gbab-84"></a>      <span class="kp">false</span>
<a name="gbab-85"></a>    <span class="k">end</span>
<a name="gbab-86"></a>
<a name="gbab-87"></a>    <span class="kp">protected</span>
<a name="gbab-88"></a>
<a name="gbab-89"></a>    <span class="c1"># Internal: Extract excerpt from the content</span>
<a name="gbab-90"></a>    <span class="c1">#</span>
<a name="gbab-91"></a>    <span class="c1"># By default excerpt is your first paragraph of a doc: everything before</span>
<a name="gbab-92"></a>    <span class="c1"># the first two new lines:</span>
<a name="gbab-93"></a>    <span class="c1">#</span>
<a name="gbab-94"></a>    <span class="c1">#     ---</span>
<a name="gbab-95"></a>    <span class="c1">#     title: Example</span>
<a name="gbab-96"></a>    <span class="c1">#     ---</span>
<a name="gbab-97"></a>    <span class="c1">#</span>
<a name="gbab-98"></a>    <span class="c1">#     First paragraph with [link][1].</span>
<a name="gbab-99"></a>    <span class="c1">#</span>
<a name="gbab-100"></a>    <span class="c1">#     Second paragraph.</span>
<a name="gbab-101"></a>    <span class="c1">#</span>
<a name="gbab-102"></a>    <span class="c1">#     [1]: http://example.com/</span>
<a name="gbab-103"></a>    <span class="c1">#</span>
<a name="gbab-104"></a>    <span class="c1"># This is fairly good option for Markdown and Textile files. But might cause</span>
<a name="gbab-105"></a>    <span class="c1"># problems for HTML docs (which is quite unusual for Jekyll). If default</span>
<a name="gbab-106"></a>    <span class="c1"># excerpt delimiter is not good for you, you might want to set your own via</span>
<a name="gbab-107"></a>    <span class="c1"># configuration option `excerpt_separator`. For example, following is a good</span>
<a name="gbab-108"></a>    <span class="c1"># alternative for HTML docs:</span>
<a name="gbab-109"></a>    <span class="c1">#</span>
<a name="gbab-110"></a>    <span class="c1">#     # file: _config.yml</span>
<a name="gbab-111"></a>    <span class="c1">#     excerpt_separator: &quot;&lt;!-- more --&gt;&quot;</span>
<a name="gbab-112"></a>    <span class="c1">#</span>
<a name="gbab-113"></a>    <span class="c1"># Notice that all markdown-style link references will be appended to the</span>
<a name="gbab-114"></a>    <span class="c1"># excerpt. So the example doc above will have this excerpt source:</span>
<a name="gbab-115"></a>    <span class="c1">#</span>
<a name="gbab-116"></a>    <span class="c1">#     First paragraph with [link][1].</span>
<a name="gbab-117"></a>    <span class="c1">#</span>
<a name="gbab-118"></a>    <span class="c1">#     [1]: http://example.com/</span>
<a name="gbab-119"></a>    <span class="c1">#</span>
<a name="gbab-120"></a>    <span class="c1"># Excerpts are rendered same time as content is rendered.</span>
<a name="gbab-121"></a>    <span class="c1">#</span>
<a name="gbab-122"></a>    <span class="c1"># Returns excerpt String</span>
<a name="gbab-123"></a>    <span class="k">def</span> <span class="nf">extract_excerpt</span><span class="p">(</span><span class="n">doc_content</span><span class="p">)</span>
<a name="gbab-124"></a>      <span class="n">head</span><span class="p">,</span> <span class="n">_</span><span class="p">,</span> <span class="n">tail</span> <span class="o">=</span> <span class="n">doc_content</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">partition</span><span class="p">(</span><span class="n">doc</span><span class="o">.</span><span class="n">excerpt_separator</span><span class="p">)</span>
<a name="gbab-125"></a>
<a name="gbab-126"></a>      <span class="c1"># append appropriate closing tag (to a Liquid block), to the &quot;head&quot; if the</span>
<a name="gbab-127"></a>      <span class="c1"># partitioning resulted in leaving the closing tag somewhere in the &quot;tail&quot;</span>
<a name="gbab-128"></a>      <span class="c1"># partition.</span>
<a name="gbab-129"></a>      <span class="k">if</span> <span class="n">head</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;{%&quot;</span><span class="p">)</span>
<a name="gbab-130"></a>        <span class="n">head</span> <span class="o">=~</span> <span class="sr">%r!{%\s*(\w+).+\s*%}!</span>
<a name="gbab-131"></a>        <span class="n">tag_name</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">last_match</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span>
<a name="gbab-132"></a>
<a name="gbab-133"></a>        <span class="k">if</span> <span class="n">liquid_block?</span><span class="p">(</span><span class="n">tag_name</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">head</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="sr">%r!{%\s*end</span><span class="si">#{</span><span class="n">tag_name</span><span class="si">}</span><span class="sr">\s*%}!</span><span class="p">)</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-134"></a>          <span class="n">print_build_warning</span>
<a name="gbab-135"></a>          <span class="n">head</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="s2">{% end</span><span class="si">#{</span><span class="n">tag_name</span><span class="si">}</span><span class="s2"> %}&quot;</span>
<a name="gbab-136"></a>        <span class="k">end</span>
<a name="gbab-137"></a>      <span class="k">end</span>
<a name="gbab-138"></a>
<a name="gbab-139"></a>      <span class="k">if</span> <span class="n">tail</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-140"></a>        <span class="n">head</span>
<a name="gbab-141"></a>      <span class="k">else</span>
<a name="gbab-142"></a>        <span class="n">head</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">dup</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;</span><span class="se">\n\n</span><span class="s2">&quot;</span> <span class="o">&lt;&lt;</span> <span class="n">tail</span><span class="o">.</span><span class="n">scan</span><span class="p">(</span><span class="sr">%r!^ {0,3}\[[^\]]+\]:.+$!</span><span class="p">)</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-143"></a>    <span class="k">end</span>
<a name="gbab-144"></a>  <span class="k">end</span>
<a name="gbab-145"></a>
<a name="gbab-146"></a>    <span class="kp">private</span>
<a name="gbab-147"></a>
<a name="gbab-148"></a>    <span class="k">def</span> <span class="nf">liquid_block?</span><span class="p">(</span><span class="n">tag_name</span><span class="p">)</span>
<a name="gbab-149"></a>      <span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">tags</span><span class="o">[</span><span class="n">tag_name</span><span class="o">].</span><span class="n">superclass</span> <span class="o">==</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Block</span>
<a name="gbab-150"></a>    <span class="k">end</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a>    <span class="k">def</span> <span class="nf">print_build_warning</span>
<a name="gbab-153"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Warning:&quot;</span><span class="p">,</span> <span class="s2">&quot;Excerpt modified in </span><span class="si">#{</span><span class="n">doc</span><span class="o">.</span><span class="n">relative_path</span><span class="si">}</span><span class="s2">!&quot;</span>
<a name="gbab-154"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-155"></a>        <span class="s2">&quot;Found a Liquid block containing separator &#39;</span><span class="si">#{</span><span class="n">doc</span><span class="o">.</span><span class="n">excerpt_separator</span><span class="si">}</span><span class="s2">&#39; and has &quot;</span> <span class="p">\</span>
<a name="gbab-156"></a>        <span class="s2">&quot;been modified with the appropriate closing tag.&quot;</span>
<a name="gbab-157"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-158"></a>        <span class="s2">&quot;Feel free to define a custom excerpt or excerpt_separator in the document&#39;s &quot;</span> <span class="p">\</span>
<a name="gbab-159"></a>        <span class="s2">&quot;Front Matter if the generated excerpt is unsatisfactory.&quot;</span>
<a name="gbab-160"></a>    <span class="k">end</span>
<a name="gbab-161"></a><span class="k">end</span>
<a name="gbab-162"></a><span class="k">end</span>
</pre></div>
</td></tr></table>