<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Filters</span>
<a name="gbab-5"></a>    <span class="k">module</span> <span class="nn">DateFilters</span>
<a name="gbab-6"></a>      <span class="c1"># Format a date in short format e.g. &quot;27 Jan 2011&quot;.</span>
<a name="gbab-7"></a>      <span class="c1"># Ordinal format is also supported, in both the UK</span>
<a name="gbab-8"></a>      <span class="c1"># (e.g. &quot;27th Jan 2011&quot;) and US (&quot;e.g. Jan 27th, 2011&quot;) formats.</span>
<a name="gbab-9"></a>      <span class="c1"># UK format is the default.</span>
<a name="gbab-10"></a>      <span class="c1">#</span>
<a name="gbab-11"></a>      <span class="c1"># date - the Time to format.</span>
<a name="gbab-12"></a>      <span class="c1"># type - if &quot;ordinal&quot; the returned String will be in ordinal format</span>
<a name="gbab-13"></a>      <span class="c1"># style - if &quot;US&quot; the returned String will be in US format.</span>
<a name="gbab-14"></a>      <span class="c1">#         Otherwise it will be in UK format.</span>
<a name="gbab-15"></a>      <span class="c1">#</span>
<a name="gbab-16"></a>      <span class="c1"># Returns the formatting String.</span>
<a name="gbab-17"></a>      <span class="k">def</span> <span class="nf">date_to_string</span><span class="p">(</span><span class="n">date</span><span class="p">,</span> <span class="n">type</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="n">style</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-18"></a>        <span class="n">stringify_date</span><span class="p">(</span><span class="n">date</span><span class="p">,</span> <span class="s2">&quot;%b&quot;</span><span class="p">,</span> <span class="n">type</span><span class="p">,</span> <span class="n">style</span><span class="p">)</span>
<a name="gbab-19"></a>      <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>      <span class="c1"># Format a date in long format e.g. &quot;27 January 2011&quot;.</span>
<a name="gbab-22"></a>      <span class="c1"># Ordinal format is also supported, in both the UK</span>
<a name="gbab-23"></a>      <span class="c1"># (e.g. &quot;27th January 2011&quot;) and US (&quot;e.g. January 27th, 2011&quot;) formats.</span>
<a name="gbab-24"></a>      <span class="c1"># UK format is the default.</span>
<a name="gbab-25"></a>      <span class="c1">#</span>
<a name="gbab-26"></a>      <span class="c1"># date - the Time to format.</span>
<a name="gbab-27"></a>      <span class="c1"># type - if &quot;ordinal&quot; the returned String will be in ordinal format</span>
<a name="gbab-28"></a>      <span class="c1"># style - if &quot;US&quot; the returned String will be in US format.</span>
<a name="gbab-29"></a>      <span class="c1">#         Otherwise it will be in UK format.</span>
<a name="gbab-30"></a>      <span class="c1">#</span>
<a name="gbab-31"></a>      <span class="c1"># Returns the formatted String.</span>
<a name="gbab-32"></a>      <span class="k">def</span> <span class="nf">date_to_long_string</span><span class="p">(</span><span class="n">date</span><span class="p">,</span> <span class="n">type</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="n">style</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-33"></a>        <span class="n">stringify_date</span><span class="p">(</span><span class="n">date</span><span class="p">,</span> <span class="s2">&quot;%B&quot;</span><span class="p">,</span> <span class="n">type</span><span class="p">,</span> <span class="n">style</span><span class="p">)</span>
<a name="gbab-34"></a>      <span class="k">end</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>      <span class="c1"># Format a date for use in XML.</span>
<a name="gbab-37"></a>      <span class="c1">#</span>
<a name="gbab-38"></a>      <span class="c1"># date - The Time to format.</span>
<a name="gbab-39"></a>      <span class="c1">#</span>
<a name="gbab-40"></a>      <span class="c1"># Examples</span>
<a name="gbab-41"></a>      <span class="c1">#</span>
<a name="gbab-42"></a>      <span class="c1">#   date_to_xmlschema(Time.now)</span>
<a name="gbab-43"></a>      <span class="c1">#   # =&gt; &quot;2011-04-24T20:34:46+08:00&quot;</span>
<a name="gbab-44"></a>      <span class="c1">#</span>
<a name="gbab-45"></a>      <span class="c1"># Returns the formatted String.</span>
<a name="gbab-46"></a>      <span class="k">def</span> <span class="nf">date_to_xmlschema</span><span class="p">(</span><span class="n">date</span><span class="p">)</span>
<a name="gbab-47"></a>        <span class="k">return</span> <span class="n">date</span> <span class="k">if</span> <span class="n">date</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-48"></a>        <span class="n">time</span><span class="p">(</span><span class="n">date</span><span class="p">)</span><span class="o">.</span><span class="n">xmlschema</span>
<a name="gbab-49"></a>      <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>      <span class="c1"># Format a date according to RFC-822</span>
<a name="gbab-52"></a>      <span class="c1">#</span>
<a name="gbab-53"></a>      <span class="c1"># date - The Time to format.</span>
<a name="gbab-54"></a>      <span class="c1">#</span>
<a name="gbab-55"></a>      <span class="c1"># Examples</span>
<a name="gbab-56"></a>      <span class="c1">#</span>
<a name="gbab-57"></a>      <span class="c1">#   date_to_rfc822(Time.now)</span>
<a name="gbab-58"></a>      <span class="c1">#   # =&gt; &quot;Sun, 24 Apr 2011 12:34:46 +0000&quot;</span>
<a name="gbab-59"></a>      <span class="c1">#</span>
<a name="gbab-60"></a>      <span class="c1"># Returns the formatted String.</span>
<a name="gbab-61"></a>      <span class="k">def</span> <span class="nf">date_to_rfc822</span><span class="p">(</span><span class="n">date</span><span class="p">)</span>
<a name="gbab-62"></a>        <span class="k">return</span> <span class="n">date</span> <span class="k">if</span> <span class="n">date</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-63"></a>        <span class="n">time</span><span class="p">(</span><span class="n">date</span><span class="p">)</span><span class="o">.</span><span class="n">rfc822</span>
<a name="gbab-64"></a>      <span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>      <span class="kp">private</span>
<a name="gbab-67"></a>      <span class="c1"># month_type: Notations that evaluate to &#39;Month&#39; via `Time#strftime` (&quot;%b&quot;, &quot;%B&quot;)</span>
<a name="gbab-68"></a>      <span class="c1"># type: nil (default) or &quot;ordinal&quot;</span>
<a name="gbab-69"></a>      <span class="c1"># style: nil (default) or &quot;US&quot;</span>
<a name="gbab-70"></a>      <span class="c1">#</span>
<a name="gbab-71"></a>      <span class="c1"># Returns a stringified date or the empty input.</span>
<a name="gbab-72"></a>      <span class="k">def</span> <span class="nf">stringify_date</span><span class="p">(</span><span class="n">date</span><span class="p">,</span> <span class="n">month_type</span><span class="p">,</span> <span class="n">type</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="n">style</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-73"></a>        <span class="k">return</span> <span class="n">date</span> <span class="k">if</span> <span class="n">date</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-74"></a>        <span class="n">time</span> <span class="o">=</span> <span class="n">time</span><span class="p">(</span><span class="n">date</span><span class="p">)</span>
<a name="gbab-75"></a>        <span class="k">if</span> <span class="n">type</span> <span class="o">==</span> <span class="s2">&quot;ordinal&quot;</span>
<a name="gbab-76"></a>          <span class="n">day</span> <span class="o">=</span> <span class="n">time</span><span class="o">.</span><span class="n">day</span>
<a name="gbab-77"></a>          <span class="n">ordinal_day</span> <span class="o">=</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">day</span><span class="si">}#{</span><span class="n">ordinal</span><span class="p">(</span><span class="n">day</span><span class="p">)</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-78"></a>          <span class="k">return</span> <span class="n">time</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">month_type</span><span class="si">}</span><span class="s2"> </span><span class="si">#{</span><span class="n">ordinal_day</span><span class="si">}</span><span class="s2">, %Y&quot;</span><span class="p">)</span> <span class="k">if</span> <span class="n">style</span> <span class="o">==</span> <span class="s2">&quot;US&quot;</span>
<a name="gbab-79"></a>          <span class="k">return</span> <span class="n">time</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">ordinal_day</span><span class="si">}</span><span class="s2"> </span><span class="si">#{</span><span class="n">month_type</span><span class="si">}</span><span class="s2"> %Y&quot;</span><span class="p">)</span>
<a name="gbab-80"></a>        <span class="k">end</span>
<a name="gbab-81"></a>        <span class="n">time</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%d </span><span class="si">#{</span><span class="n">month_type</span><span class="si">}</span><span class="s2"> %Y&quot;</span><span class="p">)</span>
<a name="gbab-82"></a>      <span class="k">end</span>
<a name="gbab-83"></a>
<a name="gbab-84"></a>      <span class="kp">private</span>
<a name="gbab-85"></a>      <span class="k">def</span> <span class="nf">ordinal</span><span class="p">(</span><span class="n">number</span><span class="p">)</span>
<a name="gbab-86"></a>        <span class="k">return</span> <span class="s2">&quot;th&quot;</span> <span class="k">if</span> <span class="p">(</span><span class="mi">11</span><span class="o">..</span><span class="mi">13</span><span class="p">)</span><span class="o">.</span><span class="n">cover?</span><span class="p">(</span><span class="n">number</span><span class="p">)</span>
<a name="gbab-87"></a>
<a name="gbab-88"></a>        <span class="k">case</span> <span class="n">number</span> <span class="o">%</span> <span class="mi">10</span>
<a name="gbab-89"></a>        <span class="k">when</span> <span class="mi">1</span> <span class="k">then</span> <span class="s2">&quot;st&quot;</span>
<a name="gbab-90"></a>        <span class="k">when</span> <span class="mi">2</span> <span class="k">then</span> <span class="s2">&quot;nd&quot;</span>
<a name="gbab-91"></a>        <span class="k">when</span> <span class="mi">3</span> <span class="k">then</span> <span class="s2">&quot;rd&quot;</span>
<a name="gbab-92"></a>        <span class="k">else</span> <span class="s2">&quot;th&quot;</span>
<a name="gbab-93"></a>        <span class="k">end</span>
<a name="gbab-94"></a>      <span class="k">end</span>
<a name="gbab-95"></a>
<a name="gbab-96"></a>      <span class="kp">private</span>
<a name="gbab-97"></a>      <span class="k">def</span> <span class="nf">time</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-98"></a>        <span class="n">date</span> <span class="o">=</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">to_date</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-99"></a>        <span class="k">unless</span> <span class="n">date</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:to_time</span><span class="p">)</span>
<a name="gbab-100"></a>          <span class="k">raise</span> <span class="no">Errors</span><span class="o">::</span><span class="no">InvalidDateError</span><span class="p">,</span>
<a name="gbab-101"></a>            <span class="s2">&quot;Invalid Date: &#39;</span><span class="si">#{</span><span class="n">input</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&#39; is not a valid datetime.&quot;</span>
<a name="gbab-102"></a>        <span class="k">end</span>
<a name="gbab-103"></a>        <span class="n">date</span><span class="o">.</span><span class="n">to_time</span><span class="o">.</span><span class="n">dup</span><span class="o">.</span><span class="n">localtime</span>
<a name="gbab-104"></a>      <span class="k">end</span>
<a name="gbab-105"></a>    <span class="k">end</span>
<a name="gbab-106"></a>  <span class="k">end</span>
<a name="gbab-107"></a><span class="k">end</span>
</pre></div>
</td></tr></table>