<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">LiquidExtensions</span>
<a name="gbab-5"></a>
<a name="gbab-6"></a>    <span class="c1"># Lookup a Liquid variable in the given context.</span>
<a name="gbab-7"></a>    <span class="c1">#</span>
<a name="gbab-8"></a>    <span class="c1"># context  - the Liquid context in question.</span>
<a name="gbab-9"></a>    <span class="c1"># variable - the variable name, as a string.</span>
<a name="gbab-10"></a>    <span class="c1">#</span>
<a name="gbab-11"></a>    <span class="c1"># Returns the value of the variable in the context</span>
<a name="gbab-12"></a>    <span class="c1">#   or the variable name if not found.</span>
<a name="gbab-13"></a>    <span class="k">def</span> <span class="nf">lookup_variable</span><span class="p">(</span><span class="n">context</span><span class="p">,</span> <span class="n">variable</span><span class="p">)</span>
<a name="gbab-14"></a>      <span class="n">lookup</span> <span class="o">=</span> <span class="n">context</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>      <span class="n">variable</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;.&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">value</span><span class="o">|</span>
<a name="gbab-17"></a>        <span class="n">lookup</span> <span class="o">=</span> <span class="n">lookup</span><span class="o">[</span><span class="n">value</span><span class="o">]</span>
<a name="gbab-18"></a>      <span class="k">end</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>      <span class="n">lookup</span> <span class="o">||</span> <span class="n">variable</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>  <span class="k">end</span>
<a name="gbab-24"></a><span class="k">end</span>
</pre></div>
</td></tr></table>