<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;addressable/uri&quot;</span>
<a name="gbab-4"></a><span class="nb">require</span> <span class="s2">&quot;json&quot;</span>
<a name="gbab-5"></a><span class="nb">require</span> <span class="s2">&quot;liquid&quot;</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a><span class="n">require_all</span> <span class="s2">&quot;jekyll/filters&quot;</span>
<a name="gbab-8"></a>
<a name="gbab-9"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-10"></a>  <span class="k">module</span> <span class="nn">Filters</span>
<a name="gbab-11"></a>    <span class="kp">include</span> <span class="no">URLFilters</span>
<a name="gbab-12"></a>    <span class="kp">include</span> <span class="no">GroupingFilters</span>
<a name="gbab-13"></a>    <span class="kp">include</span> <span class="no">DateFilters</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>    <span class="c1"># Convert a Markdown string into HTML output.</span>
<a name="gbab-16"></a>    <span class="c1">#</span>
<a name="gbab-17"></a>    <span class="c1"># date - the Time to format.</span>
<a name="gbab-18"></a>    <span class="c1">#</span>
<a name="gbab-19"></a>    <span class="c1"># Returns the formatting String.</span>
<a name="gbab-20"></a>    <span class="k">def</span> <span class="nf">markdownify</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-21"></a>      <span class="n">site</span> <span class="o">=</span> <span class="vi">@context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-22"></a>      <span class="n">converter</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">find_converter_instance</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Converters</span><span class="o">::</span><span class="no">Markdown</span><span class="p">)</span>
<a name="gbab-23"></a>      <span class="n">converter</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="n">input</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<a name="gbab-24"></a>    <span class="k">end</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a>    <span class="c1"># Convert quotes into smart quotes.</span>
<a name="gbab-27"></a>    <span class="c1">#</span>
<a name="gbab-28"></a>    <span class="c1"># input - The String to convert.</span>
<a name="gbab-29"></a>    <span class="c1">#</span>
<a name="gbab-30"></a>    <span class="c1"># Returns the smart-quotified String.</span>
<a name="gbab-31"></a>    <span class="k">def</span> <span class="nf">smartify</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-32"></a>      <span class="n">site</span> <span class="o">=</span> <span class="vi">@context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-33"></a>      <span class="n">converter</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">find_converter_instance</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Converters</span><span class="o">::</span><span class="no">SmartyPants</span><span class="p">)</span>
<a name="gbab-34"></a>      <span class="n">converter</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="n">input</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<a name="gbab-35"></a>    <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>    <span class="c1"># Convert a Sass string into CSS output.</span>
<a name="gbab-38"></a>    <span class="c1">#</span>
<a name="gbab-39"></a>    <span class="c1"># input - The Sass String to convert.</span>
<a name="gbab-40"></a>    <span class="c1">#</span>
<a name="gbab-41"></a>    <span class="c1"># Returns the CSS formatted String.</span>
<a name="gbab-42"></a>    <span class="k">def</span> <span class="nf">sassify</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-43"></a>      <span class="n">site</span> <span class="o">=</span> <span class="vi">@context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-44"></a>      <span class="n">converter</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">find_converter_instance</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Converters</span><span class="o">::</span><span class="no">Sass</span><span class="p">)</span>
<a name="gbab-45"></a>      <span class="n">converter</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-46"></a>    <span class="k">end</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>    <span class="c1"># Convert a Scss string into CSS output.</span>
<a name="gbab-49"></a>    <span class="c1">#</span>
<a name="gbab-50"></a>    <span class="c1"># input - The Scss String to convert.</span>
<a name="gbab-51"></a>    <span class="c1">#</span>
<a name="gbab-52"></a>    <span class="c1"># Returns the CSS formatted String.</span>
<a name="gbab-53"></a>    <span class="k">def</span> <span class="nf">scssify</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-54"></a>      <span class="n">site</span> <span class="o">=</span> <span class="vi">@context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-55"></a>      <span class="n">converter</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">find_converter_instance</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Converters</span><span class="o">::</span><span class="no">Scss</span><span class="p">)</span>
<a name="gbab-56"></a>      <span class="n">converter</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-57"></a>    <span class="k">end</span>
<a name="gbab-58"></a>
<a name="gbab-59"></a>    <span class="c1"># Slugify a filename or title.</span>
<a name="gbab-60"></a>    <span class="c1">#</span>
<a name="gbab-61"></a>    <span class="c1"># input - The filename or title to slugify.</span>
<a name="gbab-62"></a>    <span class="c1"># mode - how string is slugified</span>
<a name="gbab-63"></a>    <span class="c1">#</span>
<a name="gbab-64"></a>    <span class="c1"># Returns the given filename or title as a lowercase URL String.</span>
<a name="gbab-65"></a>    <span class="c1"># See Utils.slugify for more detail.</span>
<a name="gbab-66"></a>    <span class="k">def</span> <span class="nf">slugify</span><span class="p">(</span><span class="n">input</span><span class="p">,</span> <span class="n">mode</span><span class="o">=</span><span class="kp">nil</span><span class="p">)</span>
<a name="gbab-67"></a>      <span class="no">Utils</span><span class="o">.</span><span class="n">slugify</span><span class="p">(</span><span class="n">input</span><span class="p">,</span> <span class="ss">:mode</span> <span class="o">=&gt;</span> <span class="n">mode</span><span class="p">)</span>
<a name="gbab-68"></a>    <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>    <span class="c1"># XML escape a string for use. Replaces any special characters with</span>
<a name="gbab-71"></a>    <span class="c1"># appropriate HTML entity replacements.</span>
<a name="gbab-72"></a>    <span class="c1">#</span>
<a name="gbab-73"></a>    <span class="c1"># input - The String to escape.</span>
<a name="gbab-74"></a>    <span class="c1">#</span>
<a name="gbab-75"></a>    <span class="c1"># Examples</span>
<a name="gbab-76"></a>    <span class="c1">#</span>
<a name="gbab-77"></a>    <span class="c1">#   xml_escape(&#39;foo &quot;bar&quot; &lt;baz&gt;&#39;)</span>
<a name="gbab-78"></a>    <span class="c1">#   # =&gt; &quot;foo &amp;quot;bar&amp;quot; &amp;lt;baz&amp;gt;&quot;</span>
<a name="gbab-79"></a>    <span class="c1">#</span>
<a name="gbab-80"></a>    <span class="c1"># Returns the escaped String.</span>
<a name="gbab-81"></a>    <span class="c1"># Examples</span>
<a name="gbab-82"></a>      <span class="n">input</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">encode</span><span class="p">(</span><span class="ss">:xml</span> <span class="o">=&gt;</span> <span class="ss">:attr</span><span class="p">)</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!\A&quot;|&quot;\Z!</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-83"></a>    <span class="c1">#   cgi_escape(&#39;foo,bar;baz?&#39;)</span>
<a name="gbab-84"></a>    <span class="c1">#   # =&gt; &quot;foo%2Cbar%3Bbaz%3F&quot;</span>
<a name="gbab-85"></a>    <span class="c1">#</span>
<a name="gbab-86"></a>    <span class="c1"># Returns the escaped String.</span>
<a name="gbab-87"></a>    <span class="k">def</span> <span class="nf">xml_escape</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-88"></a>      <span class="no">CGI</span><span class="o">.</span><span class="n">escapeHTML</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-89"></a>    <span class="k">end</span>
<a name="gbab-90"></a>    
<a name="gbab-91"></a>    <span class="k">def</span> <span class="nf">cgi_escape</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-92"></a>      <span class="no">CGI</span><span class="o">::</span><span class="n">escape</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-93"></a>    <span class="k">end</span>
<a name="gbab-94"></a>
<a name="gbab-95"></a>    <span class="c1"># Count the number of words in the input string.</span>
<a name="gbab-96"></a>    <span class="c1">#</span>
<a name="gbab-97"></a>      <span class="no">CGI</span><span class="o">.</span><span class="n">escape</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-98"></a>    <span class="c1">#</span>
<a name="gbab-99"></a>    <span class="c1"># Returns the Integer word count.</span>
<a name="gbab-100"></a>    <span class="c1"># URI escape a string.</span>
<a name="gbab-101"></a>    <span class="c1">#</span>
<a name="gbab-102"></a>    <span class="c1"># input - The String to escape.</span>
<a name="gbab-103"></a>    <span class="c1">#</span>
<a name="gbab-104"></a>    <span class="c1"># Examples</span>
<a name="gbab-105"></a>    <span class="c1">#</span>
<a name="gbab-106"></a>    <span class="c1">#   uri_escape(&#39;foo, bar \\baz?&#39;)</span>
<a name="gbab-107"></a>    <span class="c1">#   # =&gt; &quot;foo,%20bar%20%5Cbaz?&quot;</span>
<a name="gbab-108"></a>    <span class="c1">#</span>
<a name="gbab-109"></a>    <span class="c1"># Returns the escaped String.</span>
<a name="gbab-110"></a>    <span class="k">def</span> <span class="nf">uri_escape</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-111"></a>      <span class="no">Addressable</span><span class="o">::</span><span class="no">URI</span><span class="o">.</span><span class="n">normalize_component</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-112"></a>    <span class="k">end</span>
<a name="gbab-113"></a>
<a name="gbab-114"></a>    <span class="c1"># Replace any whitespace in the input string with a single space</span>
<a name="gbab-115"></a>    <span class="c1">#</span>
<a name="gbab-116"></a>    <span class="c1"># input - The String on which to operate.</span>
<a name="gbab-117"></a>    <span class="c1">#</span>
<a name="gbab-118"></a>    <span class="c1"># Returns the formatted String</span>
<a name="gbab-119"></a>    <span class="k">def</span> <span class="nf">normalize_whitespace</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-120"></a>      <span class="n">input</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!\s+!</span><span class="p">,</span> <span class="s2">&quot; &quot;</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-121"></a>    <span class="k">end</span>
<a name="gbab-122"></a>
<a name="gbab-123"></a>    <span class="c1"># Join an array of things into a string by separating with commes and the</span>
<a name="gbab-124"></a>    <span class="c1"># word &quot;and&quot; for the last one.</span>
<a name="gbab-125"></a>    <span class="c1">#</span>
<a name="gbab-126"></a>    <span class="c1"># array - The Array of Strings to join.</span>
<a name="gbab-127"></a>    <span class="c1">#</span>
<a name="gbab-128"></a>    <span class="c1"># Examples</span>
<a name="gbab-129"></a>    <span class="c1">#</span>
<a name="gbab-130"></a>    <span class="c1">#   array_to_sentence_string([&quot;apples&quot;, &quot;oranges&quot;, &quot;grapes&quot;])</span>
<a name="gbab-131"></a>    <span class="c1">#   # =&gt; &quot;apples, oranges, and grapes&quot;</span>
<a name="gbab-132"></a>    <span class="c1"># Join an array of things into a string by separating with commas and the</span>
<a name="gbab-133"></a>    <span class="c1"># Returns the formatted String.</span>
<a name="gbab-134"></a>    <span class="c1"># connector - Word used to connect the last 2 items in the array</span>
<a name="gbab-135"></a>    <span class="k">def</span> <span class="nf">number_of_words</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-136"></a>      <span class="n">input</span><span class="o">.</span><span class="n">split</span><span class="o">.</span><span class="n">length</span>
<a name="gbab-137"></a>    <span class="k">end</span>
<a name="gbab-138"></a>    
<a name="gbab-139"></a>    <span class="k">def</span> <span class="nf">array_to_sentence_string</span><span class="p">(</span><span class="n">array</span><span class="p">)</span>
<a name="gbab-140"></a>      <span class="n">connector</span> <span class="o">=</span> <span class="s2">&quot;and&quot;</span>
<a name="gbab-141"></a>      <span class="k">case</span> <span class="n">array</span><span class="o">.</span><span class="n">length</span>
<a name="gbab-142"></a>    <span class="k">def</span> <span class="nf">array_to_sentence_string</span><span class="p">(</span><span class="n">array</span><span class="p">,</span> <span class="n">connector</span> <span class="o">=</span> <span class="s2">&quot;and&quot;</span><span class="p">)</span>
<a name="gbab-143"></a>      <span class="k">when</span> <span class="mi">1</span>
<a name="gbab-144"></a>        <span class="s2">&quot;</span><span class="si">#{</span><span class="n">array</span><span class="o">[</span><span class="mi">0</span><span class="o">...-</span><span class="mi">1</span><span class="o">].</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;, &quot;</span><span class="p">)</span><span class="si">}</span><span class="s2">, </span><span class="si">#{</span><span class="n">connector</span><span class="si">}</span><span class="s2"> </span><span class="si">#{</span><span class="n">array</span><span class="o">[-</span><span class="mi">1</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-145"></a>      <span class="k">when</span> <span class="mi">2</span>
<a name="gbab-146"></a>        <span class="s2">&quot;</span><span class="si">#{</span><span class="n">array</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span><span class="si">}</span><span class="s2"> </span><span class="si">#{</span><span class="n">connector</span><span class="si">}</span><span class="s2"> </span><span class="si">#{</span><span class="n">array</span><span class="o">[</span><span class="mi">1</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-147"></a>      <span class="k">else</span>
<a name="gbab-148"></a>        <span class="s2">&quot;</span><span class="si">#{</span><span class="n">array</span><span class="o">[</span><span class="mi">0</span><span class="o">...-</span><span class="mi">1</span><span class="o">].</span><span class="n">join</span><span class="p">(</span><span class="s1">&#39;, &#39;</span><span class="p">)</span><span class="si">}</span><span class="s2">, </span><span class="si">#{</span><span class="n">connector</span><span class="si">}</span><span class="s2"> </span><span class="si">#{</span><span class="n">array</span><span class="o">[-</span><span class="mi">1</span><span class="o">]</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-149"></a>      <span class="k">end</span>
<a name="gbab-150"></a>    <span class="k">end</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a>  <span class="k">end</span>
<a name="gbab-153"></a><span class="k">end</span>
<a name="gbab-154"></a>
<a name="gbab-155"></a>    <span class="c1"># Convert the input into json string</span>
<a name="gbab-156"></a>    <span class="c1">#</span>
<a name="gbab-157"></a>    <span class="c1"># input - The Array or Hash to be converted</span>
<a name="gbab-158"></a>    <span class="c1">#</span>
<a name="gbab-159"></a>    <span class="c1"># Returns the converted json string</span>
<a name="gbab-160"></a>    <span class="k">def</span> <span class="nf">jsonify</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-161"></a>      <span class="n">as_liquid</span><span class="p">(</span><span class="n">input</span><span class="p">)</span><span class="o">.</span><span class="n">to_json</span>
<a name="gbab-162"></a>    <span class="k">end</span>
<a name="gbab-163"></a>
<a name="gbab-164"></a>    <span class="c1"># Filter an array of objects</span>
<a name="gbab-165"></a>      <span class="n">input</span><span class="o">.</span><span class="n">select</span> <span class="k">do</span> <span class="o">|</span><span class="n">object</span><span class="o">|</span>
<a name="gbab-166"></a>        <span class="nb">Array</span><span class="p">(</span><span class="n">item_property</span><span class="p">(</span><span class="n">object</span><span class="p">,</span> <span class="n">property</span><span class="p">))</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:to_s</span><span class="p">)</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">value</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<a name="gbab-167"></a>      <span class="k">end</span>
<a name="gbab-168"></a>    <span class="c1"># input - the object array</span>
<a name="gbab-169"></a>    <span class="c1"># property - property within each object to filter by</span>
<a name="gbab-170"></a>    <span class="c1"># value - desired value</span>
<a name="gbab-171"></a>    <span class="c1">#</span>
<a name="gbab-172"></a>      <span class="k">return</span> <span class="n">input</span> <span class="k">unless</span> <span class="n">input</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:select</span><span class="p">)</span>
<a name="gbab-173"></a>    <span class="k">def</span> <span class="nf">where</span><span class="p">(</span><span class="n">input</span><span class="p">,</span> <span class="n">property</span><span class="p">,</span> <span class="n">value</span><span class="p">)</span>
<a name="gbab-174"></a>      <span class="k">return</span> <span class="n">input</span> <span class="k">unless</span> <span class="n">input</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Enumerable</span><span class="p">)</span>
<a name="gbab-175"></a>      <span class="n">input</span> <span class="o">=</span> <span class="n">input</span><span class="o">.</span><span class="n">values</span> <span class="k">if</span> <span class="n">input</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span>
<a name="gbab-176"></a>      <span class="k">end</span> <span class="o">||</span> <span class="o">[]</span>
<a name="gbab-177"></a>    <span class="k">end</span>
<a name="gbab-178"></a>
<a name="gbab-179"></a>    <span class="c1"># Filters an array of objects against an expression</span>
<a name="gbab-180"></a>    <span class="c1">#</span>
<a name="gbab-181"></a>    <span class="c1"># input - the object array</span>
<a name="gbab-182"></a>    <span class="c1"># variable - the variable to assign each item to in the expression</span>
<a name="gbab-183"></a>    <span class="c1"># expression - a Liquid comparison expression passed in as a string</span>
<a name="gbab-184"></a>    <span class="c1">#</span>
<a name="gbab-185"></a>    <span class="c1"># Returns the filtered array of objects</span>
<a name="gbab-186"></a>    <span class="k">def</span> <span class="nf">where_exp</span><span class="p">(</span><span class="n">input</span><span class="p">,</span> <span class="n">variable</span><span class="p">,</span> <span class="n">expression</span><span class="p">)</span>
<a name="gbab-187"></a>      <span class="k">return</span> <span class="n">input</span> <span class="k">unless</span> <span class="n">input</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:select</span><span class="p">)</span>
<a name="gbab-188"></a>      <span class="n">input</span> <span class="o">=</span> <span class="n">input</span><span class="o">.</span><span class="n">values</span> <span class="k">if</span> <span class="n">input</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="no">Hash</span><span class="p">)</span> <span class="c1"># FIXME</span>
<a name="gbab-189"></a>
<a name="gbab-190"></a>      <span class="n">condition</span> <span class="o">=</span> <span class="n">parse_condition</span><span class="p">(</span><span class="n">expression</span><span class="p">)</span>
<a name="gbab-191"></a>      <span class="vi">@context</span><span class="o">.</span><span class="n">stack</span> <span class="k">do</span>
<a name="gbab-192"></a>        <span class="n">input</span><span class="o">.</span><span class="n">select</span> <span class="k">do</span> <span class="o">|</span><span class="n">object</span><span class="o">|</span>
<a name="gbab-193"></a>          <span class="vi">@context</span><span class="o">[</span><span class="n">variable</span><span class="o">]</span> <span class="o">=</span> <span class="n">object</span>
<a name="gbab-194"></a>          <span class="n">condition</span><span class="o">.</span><span class="n">evaluate</span><span class="p">(</span><span class="vi">@context</span><span class="p">)</span>
<a name="gbab-195"></a>        <span class="k">end</span>
<a name="gbab-196"></a>      <span class="k">end</span> <span class="o">||</span> <span class="o">[]</span>
<a name="gbab-197"></a>    <span class="k">end</span>
<a name="gbab-198"></a>
<a name="gbab-199"></a>    <span class="c1"># Convert the input into integer</span>
<a name="gbab-200"></a>    <span class="c1">#</span>
<a name="gbab-201"></a>    <span class="c1"># input - the object string</span>
<a name="gbab-202"></a>    <span class="c1">#</span>
<a name="gbab-203"></a>    <span class="c1"># Returns the integer value</span>
<a name="gbab-204"></a>    <span class="k">def</span> <span class="nf">to_integer</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-205"></a>      <span class="k">return</span> <span class="mi">1</span> <span class="k">if</span> <span class="n">input</span> <span class="o">==</span> <span class="kp">true</span>
<a name="gbab-206"></a>      <span class="k">return</span> <span class="mi">0</span> <span class="k">if</span> <span class="n">input</span> <span class="o">==</span> <span class="kp">false</span>
<a name="gbab-207"></a>      <span class="n">input</span><span class="o">.</span><span class="n">to_i</span>
<a name="gbab-208"></a>    <span class="k">end</span>
<a name="gbab-209"></a>
<a name="gbab-210"></a>    <span class="c1"># Convert the input into integer</span>
<a name="gbab-211"></a>    <span class="c1">#</span>
<a name="gbab-212"></a>    <span class="c1"># input - the object string</span>
<a name="gbab-213"></a>    <span class="c1">#</span>
<a name="gbab-214"></a>    <span class="c1"># Returns the integer value</span>
<a name="gbab-215"></a>    <span class="k">def</span> <span class="nf">to_integer</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-216"></a>      <span class="k">return</span> <span class="mi">1</span> <span class="k">if</span> <span class="n">input</span> <span class="o">==</span> <span class="kp">true</span>
<a name="gbab-217"></a>      <span class="k">return</span> <span class="mi">0</span> <span class="k">if</span> <span class="n">input</span> <span class="o">==</span> <span class="kp">false</span>
<a name="gbab-218"></a>      <span class="n">input</span><span class="o">.</span><span class="n">to_i</span>
<a name="gbab-219"></a>    <span class="k">end</span>
<a name="gbab-220"></a>
<a name="gbab-221"></a>        <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="s2">&quot;Cannot sort a null object.&quot;</span>
<a name="gbab-222"></a>    <span class="c1">#</span>
<a name="gbab-223"></a>    <span class="c1"># input - the object array</span>
<a name="gbab-224"></a>    <span class="c1"># property - property within each object to filter by</span>
<a name="gbab-225"></a>    <span class="c1"># nils (&#39;first&#39; | &#39;last&#39;) - nils appear before or after non-nil values</span>
<a name="gbab-226"></a>        <span class="k">if</span> <span class="n">nils</span> <span class="o">==</span> <span class="s2">&quot;first&quot;</span>
<a name="gbab-227"></a>    <span class="k">def</span> <span class="nf">sort</span><span class="p">(</span><span class="n">input</span><span class="p">,</span> <span class="n">property</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="n">nils</span> <span class="o">=</span> <span class="s2">&quot;first&quot;</span><span class="p">)</span>
<a name="gbab-228"></a>        <span class="k">elsif</span> <span class="n">nils</span> <span class="o">==</span> <span class="s2">&quot;last&quot;</span>
<a name="gbab-229"></a>          <span class="k">raise</span> <span class="no">ArgumentError</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;Cannot sort a null object.&quot;</span><span class="p">)</span>
<a name="gbab-230"></a>      <span class="k">end</span>
<a name="gbab-231"></a>          <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="s2">&quot;Invalid nils order: &quot;</span> <span class="p">\</span>
<a name="gbab-232"></a>            <span class="s2">&quot;&#39;</span><span class="si">#{</span><span class="n">nils</span><span class="si">}</span><span class="s2">&#39; is not a valid nils order. It must be &#39;first&#39; or &#39;last&#39;.&quot;</span>
<a name="gbab-233"></a>      <span class="k">end</span>
<a name="gbab-234"></a>      <span class="k">if</span> <span class="n">property</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-235"></a>        <span class="n">sort_input</span><span class="p">(</span><span class="n">input</span><span class="p">,</span> <span class="n">property</span><span class="p">,</span> <span class="n">order</span><span class="p">)</span>
<a name="gbab-236"></a>        <span class="n">input</span><span class="o">.</span><span class="n">sort</span> <span class="p">{</span> <span class="o">|</span><span class="n">apple</span><span class="p">,</span> <span class="n">orange</span><span class="o">|</span>
<a name="gbab-237"></a>    <span class="k">def</span> <span class="nf">pop</span><span class="p">(</span><span class="n">array</span><span class="p">,</span> <span class="n">num</span> <span class="o">=</span> <span class="mi">1</span><span class="p">)</span>
<a name="gbab-238"></a>          <span class="n">orange_property</span> <span class="o">=</span> <span class="n">item_property</span><span class="p">(</span><span class="n">orange</span><span class="p">,</span> <span class="n">property</span><span class="p">)</span>
<a name="gbab-239"></a>      <span class="n">num</span> <span class="o">=</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">to_integer</span><span class="p">(</span><span class="n">num</span><span class="p">)</span>
<a name="gbab-240"></a>
<a name="gbab-241"></a>      <span class="n">new_ary</span><span class="o">.</span><span class="n">pop</span><span class="p">(</span><span class="n">num</span><span class="p">)</span>
<a name="gbab-242"></a>            <span class="o">-</span> <span class="n">order</span>
<a name="gbab-243"></a>          <span class="k">elsif</span> <span class="n">apple_property</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">orange_property</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-244"></a>            <span class="o">+</span> <span class="n">order</span>
<a name="gbab-245"></a>        <span class="k">end</span>
<a name="gbab-246"></a>            <span class="n">apple_property</span> <span class="o">&lt;=&gt;</span> <span class="n">orange_property</span>
<a name="gbab-247"></a>          <span class="k">end</span>
<a name="gbab-248"></a>        <span class="p">}</span>
<a name="gbab-249"></a>      <span class="k">end</span>
<a name="gbab-250"></a>    <span class="k">end</span>
<a name="gbab-251"></a>
<a name="gbab-252"></a>    <span class="k">def</span> <span class="nf">shift</span><span class="p">(</span><span class="n">array</span><span class="p">,</span> <span class="n">num</span> <span class="o">=</span> <span class="mi">1</span><span class="p">)</span>
<a name="gbab-253"></a>      <span class="k">return</span> <span class="n">array</span> <span class="k">unless</span> <span class="n">array</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Array</span><span class="p">)</span>
<a name="gbab-254"></a>      <span class="n">num</span> <span class="o">=</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">to_integer</span><span class="p">(</span><span class="n">num</span><span class="p">)</span>
<a name="gbab-255"></a>      <span class="n">new_ary</span> <span class="o">=</span> <span class="n">array</span><span class="o">.</span><span class="n">dup</span>
<a name="gbab-256"></a>      <span class="n">new_ary</span><span class="o">.</span><span class="n">shift</span><span class="p">(</span><span class="n">num</span><span class="p">)</span>
<a name="gbab-257"></a>      <span class="n">new_ary</span>
<a name="gbab-258"></a>    <span class="k">end</span>
<a name="gbab-259"></a>
<a name="gbab-260"></a>    <span class="k">def</span> <span class="nf">push</span><span class="p">(</span><span class="n">array</span><span class="p">,</span> <span class="n">input</span><span class="p">)</span>
<a name="gbab-261"></a>      <span class="k">return</span> <span class="n">array</span> <span class="k">unless</span> <span class="n">array</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Array</span><span class="p">)</span>
<a name="gbab-262"></a>      <span class="n">new_ary</span> <span class="o">=</span> <span class="n">array</span><span class="o">.</span><span class="n">dup</span>
<a name="gbab-263"></a>      <span class="n">new_ary</span><span class="o">.</span><span class="n">push</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-264"></a>      <span class="n">new_ary</span>
<a name="gbab-265"></a>    <span class="k">end</span>
<a name="gbab-266"></a>
<a name="gbab-267"></a>    <span class="k">def</span> <span class="nf">shift</span><span class="p">(</span><span class="n">array</span><span class="p">,</span> <span class="n">input</span> <span class="o">=</span> <span class="mi">1</span><span class="p">)</span>
<a name="gbab-268"></a>      <span class="k">return</span> <span class="n">array</span> <span class="k">unless</span> <span class="n">array</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Array</span><span class="p">)</span>
<a name="gbab-269"></a>      <span class="n">num</span> <span class="o">=</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Utils</span><span class="o">.</span><span class="n">to_integer</span><span class="p">(</span><span class="n">num</span><span class="p">)</span> <span class="k">rescue</span> <span class="mi">1</span>
<a name="gbab-270"></a>      <span class="k">if</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">1</span>
<a name="gbab-271"></a>      <span class="n">new_ary</span>
<a name="gbab-272"></a>    <span class="k">end</span>
<a name="gbab-273"></a>        <span class="n">input</span><span class="o">.</span><span class="n">sample</span><span class="p">(</span><span class="n">num</span><span class="p">)</span>
<a name="gbab-274"></a>    <span class="k">def</span> <span class="nf">unshift</span><span class="p">(</span><span class="n">array</span><span class="p">,</span> <span class="n">input</span><span class="p">)</span>
<a name="gbab-275"></a>      <span class="k">return</span> <span class="n">array</span> <span class="k">unless</span> <span class="n">array</span><span class="o">.</span><span class="n">is_a?</span><span class="p">(</span><span class="nb">Array</span><span class="p">)</span>
<a name="gbab-276"></a>      <span class="n">new_ary</span> <span class="o">=</span> <span class="n">array</span><span class="o">.</span><span class="n">dup</span>
<a name="gbab-277"></a>      <span class="n">new_ary</span><span class="o">.</span><span class="n">unshift</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-278"></a>    <span class="k">def</span> <span class="nf">sample</span><span class="p">(</span><span class="n">input</span><span class="p">,</span> <span class="n">num</span> <span class="o">=</span> <span class="mi">1</span><span class="p">)</span>
<a name="gbab-279"></a>      <span class="k">return</span> <span class="n">input</span> <span class="k">unless</span> <span class="n">input</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:sample</span><span class="p">)</span>
<a name="gbab-280"></a>      <span class="n">n</span> <span class="o">=</span> <span class="n">num</span><span class="o">.</span><span class="n">to_i</span> <span class="k">rescue</span> <span class="mi">1</span>
<a name="gbab-281"></a>      <span class="k">if</span> <span class="n">n</span> <span class="o">==</span> <span class="mi">1</span>
<a name="gbab-282"></a>        <span class="n">input</span><span class="o">.</span><span class="n">sample</span>
<a name="gbab-283"></a>      <span class="k">else</span>
<a name="gbab-284"></a>        <span class="n">input</span><span class="o">.</span><span class="n">sample</span><span class="p">(</span><span class="n">n</span><span class="p">)</span>
<a name="gbab-285"></a>      <span class="k">end</span>
<a name="gbab-286"></a>    <span class="k">end</span>
<a name="gbab-287"></a>
<a name="gbab-288"></a>    <span class="c1"># Sort the input Enumerable by the given property.</span>
<a name="gbab-289"></a>    <span class="c1"># If the property doesn&#39;t exist, return the sort order respective of</span>
<a name="gbab-290"></a>    <span class="c1"># which item doesn&#39;t have the property.</span>
<a name="gbab-291"></a>    <span class="c1"># We also utilize the Schwartzian transform to make this more efficient.</span>
<a name="gbab-292"></a>
<a name="gbab-293"></a>      <span class="n">input</span><span class="o">.</span><span class="n">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">item</span><span class="o">|</span> <span class="o">[</span><span class="n">item_property</span><span class="p">(</span><span class="n">item</span><span class="p">,</span> <span class="n">property</span><span class="p">),</span> <span class="n">item</span><span class="o">]</span> <span class="p">}</span>
<a name="gbab-294"></a>        <span class="o">.</span><span class="n">sort!</span> <span class="k">do</span> <span class="o">|</span><span class="n">apple_info</span><span class="p">,</span> <span class="n">orange_info</span><span class="o">|</span>
<a name="gbab-295"></a>          <span class="n">apple_property</span> <span class="o">=</span> <span class="n">apple_info</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-296"></a>          <span class="n">orange_property</span> <span class="o">=</span> <span class="n">orange_info</span><span class="o">.</span><span class="n">first</span>
<a name="gbab-297"></a>        <span class="n">apple_property</span> <span class="o">=</span> <span class="n">item_property</span><span class="p">(</span><span class="n">apple</span><span class="p">,</span> <span class="n">property</span><span class="p">)</span>
<a name="gbab-298"></a>        <span class="n">orange_property</span> <span class="o">=</span> <span class="n">item_property</span><span class="p">(</span><span class="n">orange</span><span class="p">,</span> <span class="n">property</span><span class="p">)</span>
<a name="gbab-299"></a>
<a name="gbab-300"></a>        <span class="k">if</span> <span class="o">!</span><span class="n">apple_property</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="n">orange_property</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-301"></a>          <span class="o">-</span> <span class="n">order</span>
<a name="gbab-302"></a>        <span class="k">elsif</span> <span class="n">apple_property</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">orange_property</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-303"></a>          <span class="o">+</span> <span class="n">order</span>
<a name="gbab-304"></a>        <span class="k">else</span>
<a name="gbab-305"></a>          <span class="n">apple_property</span> <span class="o">&lt;=&gt;</span> <span class="n">orange_property</span>
<a name="gbab-306"></a>        <span class="o">.</span><span class="n">map!</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:last</span><span class="p">)</span>
<a name="gbab-307"></a>        <span class="k">end</span>
<a name="gbab-308"></a>      <span class="k">end</span>
<a name="gbab-309"></a>      <span class="k">when</span> <span class="nb">String</span>
<a name="gbab-310"></a>        <span class="no">Time</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">input</span><span class="p">)</span> <span class="k">rescue</span> <span class="no">Time</span><span class="o">.</span><span class="n">at</span><span class="p">(</span><span class="n">input</span><span class="o">.</span><span class="n">to_i</span><span class="p">)</span>
<a name="gbab-311"></a>    <span class="kp">private</span>
<a name="gbab-312"></a>        <span class="n">property</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;.&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">reduce</span><span class="p">(</span><span class="n">item</span><span class="o">.</span><span class="n">to_liquid</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">subvalue</span><span class="p">,</span> <span class="n">attribute</span><span class="o">|</span>
<a name="gbab-313"></a>          <span class="n">subvalue</span><span class="o">[</span><span class="n">attribute</span><span class="o">]</span>
<a name="gbab-314"></a>        <span class="k">end</span>
<a name="gbab-315"></a>        <span class="no">Time</span><span class="o">.</span><span class="n">at</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-316"></a>      <span class="k">else</span>
<a name="gbab-317"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Invalid Date:&quot;</span><span class="p">,</span> <span class="s2">&quot;&#39;</span><span class="si">#{</span><span class="n">input</span><span class="si">}</span><span class="s2">&#39; is not a valid datetime.&quot;</span>
<a name="gbab-318"></a>        <span class="nb">exit</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span>
<a name="gbab-319"></a>      <span class="k">end</span><span class="o">.</span><span class="n">localtime</span>
<a name="gbab-320"></a>    <span class="k">end</span>
<a name="gbab-321"></a>
<a name="gbab-322"></a>    <span class="k">def</span> <span class="nf">groupable?</span><span class="p">(</span><span class="n">element</span><span class="p">)</span>
<a name="gbab-323"></a>      <span class="n">element</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:group_by</span><span class="p">)</span>
<a name="gbab-324"></a>    <span class="kp">private</span>
<a name="gbab-325"></a>    <span class="k">end</span>
<a name="gbab-326"></a>
<a name="gbab-327"></a>    <span class="k">def</span> <span class="nf">item_property</span><span class="p">(</span><span class="n">item</span><span class="p">,</span> <span class="n">property</span><span class="p">)</span>
<a name="gbab-328"></a>      <span class="k">if</span> <span class="n">item</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:to_liquid</span><span class="p">)</span>
<a name="gbab-329"></a>        <span class="n">item</span><span class="o">.</span><span class="n">to_liquid</span><span class="o">[</span><span class="n">property</span><span class="o">.</span><span class="n">to_s</span><span class="o">]</span>
<a name="gbab-330"></a>      <span class="k">elsif</span> <span class="n">item</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:data</span><span class="p">)</span>
<a name="gbab-331"></a>        <span class="n">item</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="n">property</span><span class="o">.</span><span class="n">to_s</span><span class="o">]</span>
<a name="gbab-332"></a>      <span class="k">else</span>
<a name="gbab-333"></a>        <span class="n">item</span><span class="o">[</span><span class="n">property</span><span class="o">.</span><span class="n">to_s</span><span class="o">]</span>
<a name="gbab-334"></a>      <span class="k">end</span>
<a name="gbab-335"></a>    <span class="k">end</span>
<a name="gbab-336"></a>
<a name="gbab-337"></a>    <span class="k">def</span> <span class="nf">as_liquid</span><span class="p">(</span><span class="n">item</span><span class="p">)</span>
<a name="gbab-338"></a>      <span class="k">case</span> <span class="n">item</span>
<a name="gbab-339"></a>      <span class="k">when</span> <span class="no">Hash</span>
<a name="gbab-340"></a>        <span class="n">pairs</span> <span class="o">=</span> <span class="n">item</span><span class="o">.</span><span class="n">map</span> <span class="p">{</span> <span class="o">|</span><span class="n">k</span><span class="p">,</span> <span class="n">v</span><span class="o">|</span> <span class="n">as_liquid</span><span class="p">(</span><span class="o">[</span><span class="n">k</span><span class="p">,</span> <span class="n">v</span><span class="o">]</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-341"></a>        <span class="no">Hash</span><span class="o">[</span><span class="n">pairs</span><span class="o">]</span>
<a name="gbab-342"></a>      <span class="k">when</span> <span class="nb">Array</span>
<a name="gbab-343"></a>        <span class="n">item</span><span class="o">.</span><span class="n">map</span><span class="p">{</span> <span class="o">|</span><span class="n">i</span><span class="o">|</span> <span class="n">as_liquid</span><span class="p">(</span><span class="n">i</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-344"></a>      <span class="k">else</span>
<a name="gbab-345"></a>        <span class="k">if</span> <span class="n">item</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:to_liquid</span><span class="p">)</span>
<a name="gbab-346"></a>          <span class="n">liquidated</span> <span class="o">=</span> <span class="n">item</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-347"></a>        <span class="c1"># prevent infinite recursion for simple types (which return `self`)</span>
<a name="gbab-348"></a>    <span class="kp">private</span>
<a name="gbab-349"></a>          <span class="k">if</span> <span class="n">liquidated</span> <span class="o">==</span> <span class="n">item</span>
<a name="gbab-350"></a>            <span class="n">item</span>
<a name="gbab-351"></a>      <span class="k">else</span>
<a name="gbab-352"></a>            <span class="n">as_liquid</span><span class="p">(</span><span class="n">liquidated</span><span class="p">)</span>
<a name="gbab-353"></a>          <span class="no">Liquid</span><span class="o">::</span><span class="no">Condition</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Liquid</span><span class="o">::</span><span class="no">Expression</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">left_expr</span><span class="p">),</span>
<a name="gbab-354"></a>                                <span class="n">operator</span><span class="p">,</span>
<a name="gbab-355"></a>                                <span class="no">Liquid</span><span class="o">::</span><span class="no">Expression</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">parser</span><span class="o">.</span><span class="n">expression</span><span class="p">))</span>
<a name="gbab-356"></a>        <span class="k">else</span>
<a name="gbab-357"></a>          <span class="no">Liquid</span><span class="o">::</span><span class="no">Condition</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="no">Liquid</span><span class="o">::</span><span class="no">Expression</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">left_expr</span><span class="p">))</span>
<a name="gbab-358"></a>
<a name="gbab-359"></a>    <span class="c1"># Parse a string to a Liquid Condition</span>
<a name="gbab-360"></a>    <span class="k">def</span> <span class="nf">parse_condition</span><span class="p">(</span><span class="n">exp</span><span class="p">)</span>
<a name="gbab-361"></a>      <span class="n">parser</span> <span class="o">=</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Parser</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">exp</span><span class="p">)</span>
<a name="gbab-362"></a>      <span class="n">left_expr</span> <span class="o">=</span> <span class="n">parser</span><span class="o">.</span><span class="n">expression</span>
<a name="gbab-363"></a>
<a name="gbab-364"></a>      <span class="n">operator</span> <span class="o">=</span> <span class="n">parser</span><span class="o">.</span><span class="n">consume?</span><span class="p">(</span><span class="ss">:comparison</span><span class="p">)</span>
<a name="gbab-365"></a>      <span class="n">condition</span> <span class="o">=</span>
<a name="gbab-366"></a>        <span class="k">if</span> <span class="n">operator</span>
<a name="gbab-367"></a>          <span class="no">Liquid</span><span class="o">::</span><span class="no">Condition</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">left_expr</span><span class="p">,</span> <span class="n">operator</span><span class="p">,</span> <span class="n">parser</span><span class="o">.</span><span class="n">expression</span><span class="p">)</span>
<a name="gbab-368"></a>      <span class="k">else</span>
<a name="gbab-369"></a>          <span class="no">Liquid</span><span class="o">::</span><span class="no">Condition</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">left_expr</span><span class="p">)</span>
<a name="gbab-370"></a>      <span class="k">end</span>
<a name="gbab-371"></a>      <span class="n">parser</span><span class="o">.</span><span class="n">consume</span><span class="p">(</span><span class="ss">:end_of_string</span><span class="p">)</span>
<a name="gbab-372"></a>
<a name="gbab-373"></a>      <span class="n">condition</span>
<a name="gbab-374"></a>    <span class="k">end</span>
<a name="gbab-375"></a>        <span class="k">end</span>
<a name="gbab-376"></a>    <span class="k">end</span>
<a name="gbab-377"></a>
<a name="gbab-378"></a><span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">register_filter</span><span class="p">(</span>
<a name="gbab-379"></a>  <span class="no">Jekyll</span><span class="o">::</span><span class="no">Filters</span>
<a name="gbab-380"></a><span class="p">)</span>
<a name="gbab-381"></a><span class="k">end</span>
</pre></div>
</td></tr></table>