<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">LiquidRenderer</span><span class="o">::</span><span class="no">Table</span>
<a name="gbab-5"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">stats</span><span class="p">)</span>
<a name="gbab-6"></a>      <span class="vi">@stats</span> <span class="o">=</span> <span class="n">stats</span>
<a name="gbab-7"></a>    <span class="k">end</span>
<a name="gbab-8"></a>
<a name="gbab-9"></a>    <span class="k">def</span> <span class="nf">to_s</span><span class="p">(</span><span class="n">n</span> <span class="o">=</span> <span class="mi">50</span><span class="p">)</span>
<a name="gbab-10"></a>      <span class="n">data</span> <span class="o">=</span> <span class="n">data_for_table</span><span class="p">(</span><span class="n">n</span><span class="p">)</span>
<a name="gbab-11"></a>      <span class="n">widths</span> <span class="o">=</span> <span class="n">table_widths</span><span class="p">(</span><span class="n">data</span><span class="p">)</span>
<a name="gbab-12"></a>      <span class="n">generate_table</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="n">widths</span><span class="p">)</span>
<a name="gbab-13"></a>    <span class="k">end</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>    <span class="kp">private</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>    <span class="k">def</span> <span class="nf">generate_table</span><span class="p">(</span><span class="n">data</span><span class="p">,</span> <span class="n">widths</span><span class="p">)</span>
<a name="gbab-18"></a>      <span class="n">str</span> <span class="o">=</span> <span class="nb">String</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a>      <span class="n">table_head</span> <span class="o">=</span> <span class="n">data</span><span class="o">.</span><span class="n">shift</span>
<a name="gbab-21"></a>      <span class="n">str</span> <span class="o">&lt;&lt;</span> <span class="n">generate_row</span><span class="p">(</span><span class="n">table_head</span><span class="p">,</span> <span class="n">widths</span><span class="p">)</span>
<a name="gbab-22"></a>      <span class="n">str</span> <span class="o">&lt;&lt;</span> <span class="n">generate_table_head_border</span><span class="p">(</span><span class="n">table_head</span><span class="p">,</span> <span class="n">widths</span><span class="p">)</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>      <span class="n">data</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">row_data</span><span class="o">|</span>
<a name="gbab-25"></a>        <span class="n">str</span> <span class="o">&lt;&lt;</span> <span class="n">generate_row</span><span class="p">(</span><span class="n">row_data</span><span class="p">,</span> <span class="n">widths</span><span class="p">)</span>
<a name="gbab-26"></a>      <span class="k">end</span>
<a name="gbab-27"></a>
<a name="gbab-28"></a>      <span class="n">str</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-29"></a>      <span class="n">str</span>
<a name="gbab-30"></a>    <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>    <span class="k">def</span> <span class="nf">generate_table_head_border</span><span class="p">(</span><span class="n">row_data</span><span class="p">,</span> <span class="n">widths</span><span class="p">)</span>
<a name="gbab-33"></a>      <span class="n">str</span> <span class="o">=</span> <span class="nb">String</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-34"></a>
<a name="gbab-35"></a>      <span class="n">row_data</span><span class="o">.</span><span class="n">each_index</span> <span class="k">do</span> <span class="o">|</span><span class="n">cell_index</span><span class="o">|</span>
<a name="gbab-36"></a>        <span class="n">str</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;-&quot;</span> <span class="o">*</span> <span class="n">widths</span><span class="o">[</span><span class="n">cell_index</span><span class="o">]</span>
<a name="gbab-37"></a>        <span class="n">str</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;-+-&quot;</span> <span class="k">unless</span> <span class="n">cell_index</span> <span class="o">==</span> <span class="n">row_data</span><span class="o">.</span><span class="n">length</span><span class="o">-</span><span class="mi">1</span>
<a name="gbab-38"></a>      <span class="k">end</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a>      <span class="n">str</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-41"></a>      <span class="n">str</span>
<a name="gbab-42"></a>    <span class="k">end</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a>    <span class="k">def</span> <span class="nf">generate_row</span><span class="p">(</span><span class="n">row_data</span><span class="p">,</span> <span class="n">widths</span><span class="p">)</span>
<a name="gbab-45"></a>      <span class="n">str</span> <span class="o">=</span> <span class="nb">String</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-46"></a>
<a name="gbab-47"></a>      <span class="n">row_data</span><span class="o">.</span><span class="n">each_with_index</span> <span class="k">do</span> <span class="o">|</span><span class="n">cell_data</span><span class="p">,</span> <span class="n">cell_index</span><span class="o">|</span>
<a name="gbab-48"></a>        <span class="n">str</span> <span class="o">&lt;&lt;</span> <span class="k">if</span> <span class="n">cell_index</span><span class="o">.</span><span class="n">zero?</span>
<a name="gbab-49"></a>                 <span class="n">cell_data</span><span class="o">.</span><span class="n">ljust</span><span class="p">(</span><span class="n">widths</span><span class="o">[</span><span class="n">cell_index</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot; &quot;</span><span class="p">)</span>
<a name="gbab-50"></a>        <span class="k">else</span>
<a name="gbab-51"></a>                 <span class="n">cell_data</span><span class="o">.</span><span class="n">rjust</span><span class="p">(</span><span class="n">widths</span><span class="o">[</span><span class="n">cell_index</span><span class="o">]</span><span class="p">,</span> <span class="s2">&quot; &quot;</span><span class="p">)</span>
<a name="gbab-52"></a>        <span class="k">end</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>        <span class="n">str</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot; | &quot;</span> <span class="k">unless</span> <span class="n">cell_index</span> <span class="o">==</span> <span class="n">row_data</span><span class="o">.</span><span class="n">length</span><span class="o">-</span><span class="mi">1</span>
<a name="gbab-55"></a>      <span class="k">end</span>
<a name="gbab-56"></a>
<a name="gbab-57"></a>      <span class="n">str</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span>
<a name="gbab-58"></a>      <span class="n">str</span>
<a name="gbab-59"></a>    <span class="k">end</span>
<a name="gbab-60"></a>
<a name="gbab-61"></a>    <span class="k">def</span> <span class="nf">table_widths</span><span class="p">(</span><span class="n">data</span><span class="p">)</span>
<a name="gbab-62"></a>      <span class="n">widths</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-63"></a>
<a name="gbab-64"></a>      <span class="n">data</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">row</span><span class="o">|</span>
<a name="gbab-65"></a>        <span class="n">row</span><span class="o">.</span><span class="n">each_with_index</span> <span class="k">do</span> <span class="o">|</span><span class="n">cell</span><span class="p">,</span> <span class="n">index</span><span class="o">|</span>
<a name="gbab-66"></a>          <span class="n">widths</span><span class="o">[</span><span class="n">index</span><span class="o">]</span> <span class="o">=</span> <span class="o">[</span> <span class="n">cell</span><span class="o">.</span><span class="n">length</span><span class="p">,</span> <span class="n">widths</span><span class="o">[</span><span class="n">index</span><span class="o">]</span> <span class="o">].</span><span class="n">compact</span><span class="o">.</span><span class="n">max</span>
<a name="gbab-67"></a>        <span class="k">end</span>
<a name="gbab-68"></a>      <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>      <span class="n">widths</span>
<a name="gbab-71"></a>    <span class="k">end</span>
<a name="gbab-72"></a>
<a name="gbab-73"></a>    <span class="k">def</span> <span class="nf">data_for_table</span><span class="p">(</span><span class="n">n</span><span class="p">)</span>
<a name="gbab-74"></a>      <span class="n">sorted</span> <span class="o">=</span> <span class="vi">@stats</span><span class="o">.</span><span class="n">sort_by</span> <span class="p">{</span> <span class="o">|</span><span class="n">_</span><span class="p">,</span> <span class="n">file_stats</span><span class="o">|</span> <span class="o">-</span><span class="n">file_stats</span><span class="o">[</span><span class="ss">:time</span><span class="o">]</span> <span class="p">}</span>
<a name="gbab-75"></a>      <span class="n">sorted</span> <span class="o">=</span> <span class="n">sorted</span><span class="o">.</span><span class="n">slice</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="n">n</span><span class="p">)</span>
<a name="gbab-76"></a>
<a name="gbab-77"></a>      <span class="n">table</span> <span class="o">=</span> <span class="o">[</span><span class="sx">%w(Filename Count Bytes Time)</span><span class="o">]</span>
<a name="gbab-78"></a>
<a name="gbab-79"></a>      <span class="n">sorted</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">filename</span><span class="p">,</span> <span class="n">file_stats</span><span class="o">|</span>
<a name="gbab-80"></a>        <span class="n">row</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-81"></a>        <span class="n">row</span> <span class="o">&lt;&lt;</span> <span class="n">filename</span>
<a name="gbab-82"></a>        <span class="n">row</span> <span class="o">&lt;&lt;</span> <span class="n">file_stats</span><span class="o">[</span><span class="ss">:count</span><span class="o">].</span><span class="n">to_s</span>
<a name="gbab-83"></a>        <span class="n">row</span> <span class="o">&lt;&lt;</span> <span class="n">format_bytes</span><span class="p">(</span><span class="n">file_stats</span><span class="o">[</span><span class="ss">:bytes</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-84"></a>        <span class="n">row</span> <span class="o">&lt;&lt;</span> <span class="nb">format</span><span class="p">(</span><span class="s2">&quot;%.3f&quot;</span><span class="p">,</span> <span class="n">file_stats</span><span class="o">[</span><span class="ss">:time</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-85"></a>        <span class="n">table</span> <span class="o">&lt;&lt;</span> <span class="n">row</span>
<a name="gbab-86"></a>      <span class="k">end</span>
<a name="gbab-87"></a>
<a name="gbab-88"></a>      <span class="n">table</span>
<a name="gbab-89"></a>    <span class="k">end</span>
<a name="gbab-90"></a>
<a name="gbab-91"></a>    <span class="k">def</span> <span class="nf">format_bytes</span><span class="p">(</span><span class="n">bytes</span><span class="p">)</span>
<a name="gbab-92"></a>      <span class="n">bytes</span> <span class="o">/=</span> <span class="mi">1024</span><span class="o">.</span><span class="mi">0</span>
<a name="gbab-93"></a>      <span class="nb">format</span><span class="p">(</span><span class="s2">&quot;%.2fK&quot;</span><span class="p">,</span> <span class="n">bytes</span><span class="p">)</span>
<a name="gbab-94"></a>    <span class="k">end</span>
<a name="gbab-95"></a>  <span class="k">end</span>
<a name="gbab-96"></a><span class="k">end</span>
</pre></div>
</td></tr></table>