<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1">#!/usr/bin/env ruby</span>
<a name="gbab-2"></a><span class="nb">require</span> <span class="s1">&#39;benchmark/ips&#39;</span>
<a name="gbab-3"></a>
<a name="gbab-4"></a><span class="c1"># For this pull request, which changes Page#dir</span>
<a name="gbab-5"></a><span class="c1"># https://github.com/jekyll/jekyll/pull/4403</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a><span class="no">CONTENT_CONTAINING</span> <span class="o">=</span> <span class="o">&lt;&lt;-</span><span class="no">HTML</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-8"></a><span class="sh">&lt;!DOCTYPE HTML&gt;</span>
<a name="gbab-9"></a><span class="sh">&lt;html lang=&quot;en-US&quot;&gt;</span>
<a name="gbab-10"></a><span class="sh">  &lt;head&gt;</span>
<a name="gbab-11"></a><span class="sh">&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=UTF-8&quot;&gt;</span>
<a name="gbab-12"></a><span class="sh">    &lt;meta charset=&quot;UTF-8&quot;&gt;</span>
<a name="gbab-13"></a><span class="sh">    &lt;title&gt;Jemoji&lt;/title&gt;</span>
<a name="gbab-14"></a><span class="sh">    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width,initial-scale=1&quot;&gt;</span>
<a name="gbab-15"></a><span class="sh">    &lt;link rel=&quot;stylesheet&quot; href=&quot;/css/screen.css&quot;&gt;</span>
<a name="gbab-16"></a><span class="sh">  &lt;/head&gt;</span>
<a name="gbab-17"></a><span class="sh">  &lt;body class=&quot;wrap&quot;&gt;</span>
<a name="gbab-18"></a><span class="sh">    &lt;p&gt;&lt;img class=&quot;emoji&quot; title=&quot;:+1:&quot; alt=&quot;:+1:&quot; src=&quot;https://assets.github.com/images/icons/emoji/unicode/1f44d.png&quot; height=&quot;20&quot; width=&quot;20&quot; align=&quot;absmiddle&quot;&gt;&lt;/p&gt;</span>
<a name="gbab-19"></a>
<a name="gbab-20"></a><span class="sh">  &lt;/body&gt;</span>
<a name="gbab-21"></a><span class="sh">&lt;/html&gt;</span>
<a name="gbab-22"></a><span class="no">HTML</span>
<a name="gbab-23"></a><span class="no">CONTENT_NOT_CONTAINING</span> <span class="o">=</span> <span class="o">&lt;&lt;-</span><span class="no">HTML</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-24"></a><span class="sh">&lt;!DOCTYPE HTML&gt;</span>
<a name="gbab-25"></a><span class="sh">&lt;html lang=&quot;en-US&quot;&gt;</span>
<a name="gbab-26"></a><span class="sh">  &lt;head&gt;</span>
<a name="gbab-27"></a><span class="sh">&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=UTF-8&quot;&gt;</span>
<a name="gbab-28"></a><span class="sh">    &lt;meta charset=&quot;UTF-8&quot;&gt;</span>
<a name="gbab-29"></a><span class="sh">    &lt;title&gt;Jemoji&lt;/title&gt;</span>
<a name="gbab-30"></a><span class="sh">    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width,initial-scale=1&quot;&gt;</span>
<a name="gbab-31"></a><span class="sh">    &lt;link rel=&quot;stylesheet&quot; href=&quot;/css/screen.css&quot;&gt;</span>
<a name="gbab-32"></a><span class="sh">  &lt;/head&gt;</span>
<a name="gbab-33"></a><span class="sh">  &lt;body class=&quot;wrap&quot;&gt;</span>
<a name="gbab-34"></a><span class="sh">    &lt;p&gt;&lt;img class=&quot;emoji&quot; title=&quot;:+1:&quot; alt=&quot;:+1:&quot; src=&quot;https://assets.github.com/images/icons/emoji/unicode/1f44d.png&quot; height=&quot;20&quot; width=&quot;20&quot; align=&quot;absmiddle&quot;&gt;&lt;/p&gt;</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a><span class="sh">  &lt;/body&gt;</span>
<a name="gbab-37"></a><span class="sh">&lt;/html&gt;</span>
<a name="gbab-38"></a><span class="no">HTML</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a><span class="no">Benchmark</span><span class="o">.</span><span class="n">ips</span> <span class="k">do</span> <span class="o">|</span><span class="n">x</span><span class="o">|</span>
<a name="gbab-41"></a>  <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s2">&quot;no body include?&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="no">CONTENT_NOT_CONTAINING</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s1">&#39;&lt;body&#39;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-42"></a>  <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s2">&quot;no body regexp&quot;</span><span class="p">)</span>   <span class="p">{</span> <span class="no">CONTENT_NOT_CONTAINING</span> <span class="o">=~</span> <span class="sr">/&lt;\s*body/</span> <span class="p">}</span>
<a name="gbab-43"></a>  <span class="n">x</span><span class="o">.</span><span class="n">compare!</span>
<a name="gbab-44"></a><span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a><span class="c1"># No trailing slash</span>
<a name="gbab-47"></a><span class="no">Benchmark</span><span class="o">.</span><span class="n">ips</span> <span class="k">do</span> <span class="o">|</span><span class="n">x</span><span class="o">|</span>
<a name="gbab-48"></a>  <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s2">&quot;with body include?&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="no">CONTENT_CONTAINING</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s1">&#39;&lt;body&#39;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-49"></a>  <span class="n">x</span><span class="o">.</span><span class="n">report</span><span class="p">(</span><span class="s2">&quot;with body regexp&quot;</span><span class="p">)</span>   <span class="p">{</span> <span class="no">CONTENT_CONTAINING</span> <span class="o">=~</span> <span class="sr">/&lt;\s*body/</span> <span class="p">}</span>
<a name="gbab-50"></a>  <span class="n">x</span><span class="o">.</span><span class="n">compare!</span>
<a name="gbab-51"></a><span class="k">end</span>
</pre></div>
</td></tr></table>