<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">LogAdapter</span>
<a name="gbab-5"></a>    <span class="kp">attr_reader</span> <span class="ss">:writer</span><span class="p">,</span> <span class="ss">:messages</span><span class="p">,</span> <span class="ss">:level</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a>    <span class="no">LOG_LEVELS</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-8"></a>      <span class="ss">:debug</span> <span class="o">=&gt;</span> <span class="o">::</span><span class="no">Logger</span><span class="o">::</span><span class="no">DEBUG</span><span class="p">,</span>
<a name="gbab-9"></a>      <span class="ss">:info</span>  <span class="o">=&gt;</span> <span class="o">::</span><span class="no">Logger</span><span class="o">::</span><span class="no">INFO</span><span class="p">,</span>
<a name="gbab-10"></a>      <span class="ss">:warn</span>  <span class="o">=&gt;</span> <span class="o">::</span><span class="no">Logger</span><span class="o">::</span><span class="no">WARN</span><span class="p">,</span>
<a name="gbab-11"></a>      <span class="ss">:error</span> <span class="o">=&gt;</span> <span class="o">::</span><span class="no">Logger</span><span class="o">::</span><span class="no">ERROR</span><span class="p">,</span>
<a name="gbab-12"></a>    <span class="p">}</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>    <span class="c1"># Public: Create a new instance of a log writer</span>
<a name="gbab-15"></a>    <span class="c1">#</span>
<a name="gbab-16"></a>    <span class="c1"># writer - Logger compatible instance</span>
<a name="gbab-17"></a>    <span class="c1"># log_level - (optional, symbol) the log level</span>
<a name="gbab-18"></a>    <span class="c1">#</span>
<a name="gbab-19"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-20"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">writer</span><span class="p">,</span> <span class="n">level</span> <span class="o">=</span> <span class="ss">:info</span><span class="p">)</span>
<a name="gbab-21"></a>      <span class="vi">@messages</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-22"></a>      <span class="vi">@writer</span> <span class="o">=</span> <span class="n">writer</span>
<a name="gbab-23"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">log_level</span> <span class="o">=</span> <span class="n">level</span>
<a name="gbab-24"></a>    <span class="k">end</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a>    <span class="c1"># Public: Set the log level on the writer</span>
<a name="gbab-27"></a>    <span class="c1">#</span>
<a name="gbab-28"></a>    <span class="c1"># level - (symbol) the log level</span>
<a name="gbab-29"></a>    <span class="c1">#</span>
<a name="gbab-30"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-31"></a>    <span class="k">def</span> <span class="nf">log_level</span><span class="o">=</span><span class="p">(</span><span class="n">level</span><span class="p">)</span>
<a name="gbab-32"></a>      <span class="n">writer</span><span class="o">.</span><span class="n">level</span> <span class="o">=</span> <span class="no">LOG_LEVELS</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="n">level</span><span class="p">)</span>
<a name="gbab-33"></a>      <span class="vi">@level</span> <span class="o">=</span> <span class="n">level</span>
<a name="gbab-34"></a>    <span class="k">end</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>    <span class="k">def</span> <span class="nf">adjust_verbosity</span><span class="p">(</span><span class="n">options</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-37"></a>      <span class="c1"># Quiet always wins.</span>
<a name="gbab-38"></a>      <span class="k">if</span> <span class="n">options</span><span class="o">[</span><span class="ss">:quiet</span><span class="o">]</span>
<a name="gbab-39"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">log_level</span> <span class="o">=</span> <span class="ss">:error</span>
<a name="gbab-40"></a>      <span class="k">elsif</span> <span class="n">options</span><span class="o">[</span><span class="ss">:verbose</span><span class="o">]</span>
<a name="gbab-41"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">log_level</span> <span class="o">=</span> <span class="ss">:debug</span>
<a name="gbab-42"></a>      <span class="k">end</span>
<a name="gbab-43"></a>      <span class="n">debug</span> <span class="s2">&quot;Logging at level:&quot;</span><span class="p">,</span> <span class="no">LOG_LEVELS</span><span class="o">.</span><span class="n">key</span><span class="p">(</span><span class="n">writer</span><span class="o">.</span><span class="n">level</span><span class="p">)</span><span class="o">.</span><span class="n">to_s</span>
<a name="gbab-44"></a>    <span class="k">end</span>
<a name="gbab-45"></a>
<a name="gbab-46"></a>    <span class="c1"># Public: Print a debug message</span>
<a name="gbab-47"></a>    <span class="c1">#</span>
<a name="gbab-48"></a>    <span class="c1"># topic - the topic of the message, e.g. &quot;Configuration file&quot;, &quot;Deprecation&quot;, etc.</span>
<a name="gbab-49"></a>    <span class="c1"># message - the message detail</span>
<a name="gbab-50"></a>    <span class="c1">#</span>
<a name="gbab-51"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-52"></a>    <span class="k">def</span> <span class="nf">debug</span><span class="p">(</span><span class="n">topic</span><span class="p">,</span> <span class="n">message</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-53"></a>      <span class="n">write</span><span class="p">(</span><span class="ss">:debug</span><span class="p">,</span> <span class="n">topic</span><span class="p">,</span> <span class="n">message</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-54"></a>    <span class="k">end</span>
<a name="gbab-55"></a>
<a name="gbab-56"></a>    <span class="c1"># Public: Print a message</span>
<a name="gbab-57"></a>    <span class="c1">#</span>
<a name="gbab-58"></a>    <span class="c1"># topic - the topic of the message, e.g. &quot;Configuration file&quot;, &quot;Deprecation&quot;, etc.</span>
<a name="gbab-59"></a>    <span class="c1"># message - the message detail</span>
<a name="gbab-60"></a>    <span class="c1">#</span>
<a name="gbab-61"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-62"></a>    <span class="k">def</span> <span class="nf">info</span><span class="p">(</span><span class="n">topic</span><span class="p">,</span> <span class="n">message</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-63"></a>      <span class="n">write</span><span class="p">(</span><span class="ss">:info</span><span class="p">,</span> <span class="n">topic</span><span class="p">,</span> <span class="n">message</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-64"></a>    <span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>    <span class="c1"># Public: Print a message</span>
<a name="gbab-67"></a>    <span class="c1">#</span>
<a name="gbab-68"></a>    <span class="c1"># topic - the topic of the message, e.g. &quot;Configuration file&quot;, &quot;Deprecation&quot;, etc.</span>
<a name="gbab-69"></a>    <span class="c1"># message - the message detail</span>
<a name="gbab-70"></a>    <span class="c1">#</span>
<a name="gbab-71"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-72"></a>    <span class="k">def</span> <span class="nf">warn</span><span class="p">(</span><span class="n">topic</span><span class="p">,</span> <span class="n">message</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-73"></a>      <span class="n">write</span><span class="p">(</span><span class="ss">:warn</span><span class="p">,</span> <span class="n">topic</span><span class="p">,</span> <span class="n">message</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-74"></a>    <span class="k">end</span>
<a name="gbab-75"></a>
<a name="gbab-76"></a>    <span class="c1"># Public: Print an error message</span>
<a name="gbab-77"></a>    <span class="c1">#</span>
<a name="gbab-78"></a>    <span class="c1"># topic - the topic of the message, e.g. &quot;Configuration file&quot;, &quot;Deprecation&quot;, etc.</span>
<a name="gbab-79"></a>    <span class="c1"># message - the message detail</span>
<a name="gbab-80"></a>    <span class="c1">#</span>
<a name="gbab-81"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-82"></a>    <span class="k">def</span> <span class="nf">error</span><span class="p">(</span><span class="n">topic</span><span class="p">,</span> <span class="n">message</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-83"></a>      <span class="n">write</span><span class="p">(</span><span class="ss">:error</span><span class="p">,</span> <span class="n">topic</span><span class="p">,</span> <span class="n">message</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-84"></a>    <span class="k">end</span>
<a name="gbab-85"></a>
<a name="gbab-86"></a>    <span class="c1"># Public: Print an error message and immediately abort the process</span>
<a name="gbab-87"></a>    <span class="c1">#</span>
<a name="gbab-88"></a>    <span class="c1"># topic - the topic of the message, e.g. &quot;Configuration file&quot;, &quot;Deprecation&quot;, etc.</span>
<a name="gbab-89"></a>    <span class="c1"># message - the message detail (can be omitted)</span>
<a name="gbab-90"></a>    <span class="c1">#</span>
<a name="gbab-91"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-92"></a>    <span class="k">def</span> <span class="nf">abort_with</span><span class="p">(</span><span class="n">topic</span><span class="p">,</span> <span class="n">message</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-93"></a>      <span class="n">error</span><span class="p">(</span><span class="n">topic</span><span class="p">,</span> <span class="n">message</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-94"></a>      <span class="nb">abort</span>
<a name="gbab-95"></a>    <span class="k">end</span>
<a name="gbab-96"></a>
<a name="gbab-97"></a>    <span class="c1"># Internal: Build a topic method</span>
<a name="gbab-98"></a>    <span class="c1"># message - the message detail</span>
<a name="gbab-99"></a>    <span class="c1">#</span>
<a name="gbab-100"></a>    <span class="c1"># Returns the formatted message</span>
<a name="gbab-101"></a>    <span class="k">def</span> <span class="nf">message</span><span class="p">(</span><span class="n">topic</span><span class="p">,</span> <span class="n">message</span><span class="p">)</span>
<a name="gbab-102"></a>      <span class="n">formatted_topic</span><span class="p">(</span><span class="n">topic</span><span class="p">)</span> <span class="o">+</span> <span class="n">message</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">/\s+/</span><span class="p">,</span> <span class="s1">&#39; &#39;</span><span class="p">)</span>
<a name="gbab-103"></a>    <span class="k">def</span> <span class="nf">message</span><span class="p">(</span><span class="n">topic</span><span class="p">,</span> <span class="n">message</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-104"></a>      <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="s2">&quot;block or message, not both&quot;</span> <span class="k">if</span> <span class="nb">block_given?</span> <span class="o">&amp;&amp;</span> <span class="n">message</span>
<a name="gbab-105"></a>
<a name="gbab-106"></a>      <span class="n">message</span> <span class="o">=</span> <span class="k">yield</span> <span class="k">if</span> <span class="nb">block_given?</span>
<a name="gbab-107"></a>      <span class="n">message</span> <span class="o">=</span> <span class="n">message</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!\s+!</span><span class="p">,</span> <span class="s2">&quot; &quot;</span><span class="p">)</span>
<a name="gbab-108"></a>      <span class="n">topic</span> <span class="o">=</span> <span class="n">formatted_topic</span><span class="p">(</span><span class="n">topic</span><span class="p">,</span> <span class="nb">block_given?</span><span class="p">)</span>
<a name="gbab-109"></a>      <span class="n">out</span> <span class="o">=</span> <span class="n">topic</span> <span class="o">+</span> <span class="n">message</span>
<a name="gbab-110"></a>      <span class="n">messages</span> <span class="o">&lt;&lt;</span> <span class="n">out</span>
<a name="gbab-111"></a>      <span class="n">out</span>
<a name="gbab-112"></a>    <span class="c1"># Internal: Format the topic</span>
<a name="gbab-113"></a>    <span class="c1">#</span>
<a name="gbab-114"></a>    <span class="c1"># topic - the topic of the message, e.g. &quot;Configuration file&quot;, &quot;Deprecation&quot;, etc.</span>
<a name="gbab-115"></a>    <span class="c1">#</span>
<a name="gbab-116"></a>    <span class="c1"># Returns the formatted topic statement</span>
<a name="gbab-117"></a>    <span class="c1"># colon -</span>
<a name="gbab-118"></a>    <span class="k">def</span> <span class="nf">formatted_topic</span><span class="p">(</span><span class="n">topic</span><span class="p">)</span>
<a name="gbab-119"></a>      <span class="s2">&quot;</span><span class="si">#{</span><span class="n">topic</span><span class="si">}</span><span class="s2"> &quot;</span><span class="o">.</span><span class="n">rjust</span><span class="p">(</span><span class="mi">20</span><span class="p">)</span>
<a name="gbab-120"></a>    <span class="k">def</span> <span class="nf">formatted_topic</span><span class="p">(</span><span class="n">topic</span><span class="p">,</span> <span class="n">colon</span> <span class="o">=</span> <span class="kp">false</span><span class="p">)</span>
<a name="gbab-121"></a>      <span class="s2">&quot;</span><span class="si">#{</span><span class="n">topic</span><span class="si">}#{</span><span class="n">colon</span> <span class="p">?</span> <span class="s2">&quot;: &quot;</span> <span class="p">:</span> <span class="s2">&quot; &quot;</span><span class="si">}</span><span class="s2">&quot;</span><span class="o">.</span><span class="n">rjust</span><span class="p">(</span><span class="mi">20</span><span class="p">)</span>
<a name="gbab-122"></a>    <span class="k">end</span>
<a name="gbab-123"></a>
<a name="gbab-124"></a>    <span class="c1"># Internal: Check if the message should be written given the log level.</span>
<a name="gbab-125"></a>    <span class="c1">#</span>
<a name="gbab-126"></a>    <span class="c1"># level_of_message - the Symbol level of message, one of :debug, :info, :warn, :error</span>
<a name="gbab-127"></a>    <span class="c1">#</span>
<a name="gbab-128"></a>    <span class="c1"># Returns whether the message should be written.</span>
<a name="gbab-129"></a>    <span class="k">def</span> <span class="nf">write_message?</span><span class="p">(</span><span class="n">level_of_message</span><span class="p">)</span>
<a name="gbab-130"></a>      <span class="no">LOG_LEVELS</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="n">level</span><span class="p">)</span> <span class="o">&lt;=</span> <span class="no">LOG_LEVELS</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="n">level_of_message</span><span class="p">)</span>
<a name="gbab-131"></a>    <span class="k">end</span>
<a name="gbab-132"></a>
<a name="gbab-133"></a>    <span class="c1"># Internal: Log a message.</span>
<a name="gbab-134"></a>    <span class="c1">#</span>
<a name="gbab-135"></a>    <span class="c1"># level_of_message - the Symbol level of message, one of :debug, :info, :warn, :error</span>
<a name="gbab-136"></a>    <span class="c1"># topic - the String topic or full message</span>
<a name="gbab-137"></a>    <span class="c1"># message - the String message (optional)</span>
<a name="gbab-138"></a>    <span class="c1"># block - a block containing the message (optional)</span>
<a name="gbab-139"></a>    <span class="c1">#</span>
<a name="gbab-140"></a>    <span class="c1"># Returns false if the message was not written, otherwise returns the value of calling</span>
<a name="gbab-141"></a>    <span class="c1"># the appropriate writer method, e.g. writer.info.</span>
<a name="gbab-142"></a>    <span class="k">def</span> <span class="nf">write</span><span class="p">(</span><span class="n">level_of_message</span><span class="p">,</span> <span class="n">topic</span><span class="p">,</span> <span class="n">message</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">)</span>
<a name="gbab-143"></a>      <span class="k">return</span> <span class="kp">false</span> <span class="k">unless</span> <span class="n">write_message?</span><span class="p">(</span><span class="n">level_of_message</span><span class="p">)</span>
<a name="gbab-144"></a>      <span class="n">writer</span><span class="o">.</span><span class="n">public_send</span><span class="p">(</span><span class="n">level_of_message</span><span class="p">,</span> <span class="n">message</span><span class="p">(</span><span class="n">topic</span><span class="p">,</span> <span class="n">message</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">block</span><span class="p">))</span>
<a name="gbab-145"></a><span class="k">end</span>
</pre></div>
</td></tr></table>