<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Plugin</span>
<a name="gbab-5"></a>    <span class="no">PRIORITIES</span> <span class="o">=</span> <span class="p">{</span>
<a name="gbab-6"></a>                   <span class="ss">:low</span> <span class="o">=&gt;</span> <span class="o">-</span><span class="mi">10</span><span class="p">,</span>
<a name="gbab-7"></a>      <span class="ss">:highest</span> <span class="o">=&gt;</span> <span class="mi">100</span><span class="p">,</span>
<a name="gbab-8"></a>      <span class="ss">:lowest</span> <span class="o">=&gt;</span> <span class="o">-</span><span class="mi">100</span><span class="p">,</span>
<a name="gbab-9"></a>                   <span class="ss">:normal</span> <span class="o">=&gt;</span> <span class="mi">0</span><span class="p">,</span>
<a name="gbab-10"></a>      <span class="ss">:high</span>    <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span>
<a name="gbab-11"></a>    <span class="p">}</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>    <span class="c1">#</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">inherited</span><span class="p">(</span><span class="n">const</span><span class="p">)</span>
<a name="gbab-16"></a>      <span class="k">return</span> <span class="n">catch_inheritance</span><span class="p">(</span><span class="n">const</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">const_</span><span class="o">|</span>
<a name="gbab-17"></a>        <span class="n">catch_inheritance</span><span class="p">(</span><span class="n">const_</span><span class="p">)</span>
<a name="gbab-18"></a>      <span class="k">end</span>
<a name="gbab-19"></a>    <span class="k">end</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>    <span class="c1">#</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">catch_inheritance</span><span class="p">(</span><span class="n">const</span><span class="p">)</span>
<a name="gbab-24"></a>      <span class="n">const</span><span class="o">.</span><span class="n">define_singleton_method</span> <span class="ss">:inherited</span> <span class="k">do</span> <span class="o">|</span><span class="n">const_</span><span class="o">|</span>
<a name="gbab-25"></a>        <span class="p">(</span><span class="vi">@children</span> <span class="o">||=</span> <span class="no">Set</span><span class="o">.</span><span class="n">new</span><span class="p">)</span><span class="o">.</span><span class="n">add</span> <span class="n">const_</span>
<a name="gbab-26"></a>        <span class="k">if</span> <span class="nb">block_given?</span>
<a name="gbab-27"></a>          <span class="k">yield</span> <span class="n">const_</span>
<a name="gbab-28"></a>        <span class="k">end</span>
<a name="gbab-29"></a>      <span class="k">end</span>
<a name="gbab-30"></a>    <span class="k">end</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>    <span class="c1">#</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">descendants</span>
<a name="gbab-35"></a>      <span class="vi">@children</span> <span class="o">||=</span> <span class="no">Set</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-36"></a>      <span class="n">out</span> <span class="o">=</span> <span class="vi">@children</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:descendants</span><span class="p">)</span>
<a name="gbab-37"></a>      <span class="n">out</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span> <span class="k">unless</span> <span class="n">superclass</span> <span class="o">==</span> <span class="no">Plugin</span>
<a name="gbab-38"></a>      <span class="no">Set</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">out</span><span class="p">)</span><span class="o">.</span><span class="n">flatten</span>
<a name="gbab-39"></a>      <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>    <span class="c1"># Get or set the priority of this plugin. When called without an</span>
<a name="gbab-42"></a>    <span class="c1"># argument it returns the priority. When an argument is given, it will</span>
<a name="gbab-43"></a>    <span class="c1"># set the priority.</span>
<a name="gbab-44"></a>    <span class="c1">#</span>
<a name="gbab-45"></a>    <span class="c1"># priority - The Symbol priority (default: nil). Valid options are:</span>
<a name="gbab-46"></a>    <span class="c1">#            :lowest, :low, :normal, :high, :highest</span>
<a name="gbab-47"></a>    <span class="c1">#</span>
<a name="gbab-48"></a>    <span class="c1"># Returns the Symbol priority.</span>
<a name="gbab-49"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">priority</span><span class="p">(</span><span class="n">priority</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-50"></a>      <span class="vi">@priority</span> <span class="o">||=</span> <span class="kp">nil</span>
<a name="gbab-51"></a>      <span class="k">if</span> <span class="n">priority</span> <span class="o">&amp;&amp;</span> <span class="no">PRIORITIES</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">priority</span><span class="p">)</span>
<a name="gbab-52"></a>          <span class="vi">@priority</span> <span class="o">=</span> <span class="n">priority</span>
<a name="gbab-53"></a>        <span class="k">end</span>
<a name="gbab-54"></a>        <span class="vi">@priority</span> <span class="o">||</span> <span class="ss">:normal</span>
<a name="gbab-55"></a>      <span class="k">end</span>
<a name="gbab-56"></a>
<a name="gbab-57"></a>    <span class="c1"># Get or set the safety of this plugin. When called without an argument</span>
<a name="gbab-58"></a>    <span class="c1"># it returns the safety. When an argument is given, it will set the</span>
<a name="gbab-59"></a>    <span class="c1"># safety.</span>
<a name="gbab-60"></a>    <span class="c1">#</span>
<a name="gbab-61"></a>    <span class="c1"># safe - The Boolean safety (default: nil).</span>
<a name="gbab-62"></a>    <span class="c1">#</span>
<a name="gbab-63"></a>    <span class="c1"># Returns the safety Boolean.</span>
<a name="gbab-64"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">safe</span><span class="p">(</span><span class="n">safe</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-65"></a>      <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="vi">@safe</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">safe</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-66"></a>        <span class="vi">@safe</span> <span class="o">=</span> <span class="n">safe</span>
<a name="gbab-67"></a>      <span class="k">end</span>
<a name="gbab-68"></a>      <span class="vi">@safe</span> <span class="o">||</span> <span class="kp">false</span>
<a name="gbab-69"></a>    <span class="k">end</span>
<a name="gbab-70"></a>
<a name="gbab-71"></a>      <span class="c1"># Spaceship is priority [higher -&gt; lower]</span>
<a name="gbab-72"></a>      <span class="c1">#</span>
<a name="gbab-73"></a>    <span class="c1"># other - The class to be compared.</span>
<a name="gbab-74"></a>    <span class="c1">#</span>
<a name="gbab-75"></a>    <span class="c1"># Returns -1, 0, 1.</span>
<a name="gbab-76"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">&lt;=&gt;</span><span class="p">(</span><span class="n">other</span><span class="p">)</span>
<a name="gbab-77"></a>      <span class="no">PRIORITIES</span><span class="o">[</span><span class="n">other</span><span class="o">.</span><span class="n">priority</span><span class="o">]</span> <span class="o">&lt;=&gt;</span> <span class="no">PRIORITIES</span><span class="o">[</span><span class="nb">self</span><span class="o">.</span><span class="n">priority</span><span class="o">]</span>
<a name="gbab-78"></a>    <span class="k">end</span>
<a name="gbab-79"></a>
<a name="gbab-80"></a>    <span class="c1"># Spaceship is priority [higher -&gt; lower]</span>
<a name="gbab-81"></a>    <span class="c1">#</span>
<a name="gbab-82"></a>    <span class="c1"># other - The class to be compared.</span>
<a name="gbab-83"></a>    <span class="c1">#</span>
<a name="gbab-84"></a>    <span class="c1"># Returns -1, 0, 1.</span>
<a name="gbab-85"></a>    <span class="k">def</span> <span class="nf">&lt;=&gt;</span><span class="p">(</span><span class="n">other</span><span class="p">)</span>
<a name="gbab-86"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">class</span> <span class="o">&lt;=&gt;</span> <span class="n">other</span><span class="o">.</span><span class="n">class</span>
<a name="gbab-87"></a>    <span class="k">end</span>
<a name="gbab-88"></a>
<a name="gbab-89"></a>    <span class="c1"># Initialize a new plugin. This should be overridden by the subclass.</span>
<a name="gbab-90"></a>    <span class="c1">#</span>
<a name="gbab-91"></a>    <span class="c1"># config - The Hash of configuration options.</span>
<a name="gbab-92"></a>    <span class="c1">#</span>
<a name="gbab-93"></a>    <span class="c1"># Returns a new instance.</span>
<a name="gbab-94"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">config</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-95"></a>      <span class="c1">#no-op for default</span>
<a name="gbab-96"></a>    <span class="k">end</span>
<a name="gbab-97"></a>  <span class="k">end</span>
<a name="gbab-98"></a><span class="k">end</span>
</pre></div>
</td></tr></table>