<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Publisher</span>
<a name="gbab-5"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-6"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-7"></a>    <span class="k">end</span>
<a name="gbab-8"></a>
<a name="gbab-9"></a>    <span class="k">def</span> <span class="nf">publish?</span><span class="p">(</span><span class="n">thing</span><span class="p">)</span>
<a name="gbab-10"></a>      <span class="n">can_be_published?</span><span class="p">(</span><span class="n">thing</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">hidden_in_the_future?</span><span class="p">(</span><span class="n">thing</span><span class="p">)</span>
<a name="gbab-11"></a>    <span class="k">end</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>    <span class="k">def</span> <span class="nf">hidden_in_the_future?</span><span class="p">(</span><span class="n">thing</span><span class="p">)</span>
<a name="gbab-14"></a>      <span class="n">thing</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:date</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="vi">@site</span><span class="o">.</span><span class="n">future</span> <span class="o">&amp;&amp;</span> <span class="n">thing</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">to_i</span> <span class="o">&gt;</span> <span class="vi">@site</span><span class="o">.</span><span class="n">time</span><span class="o">.</span><span class="n">to_i</span>
<a name="gbab-15"></a>    <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>    <span class="kp">private</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>    <span class="k">def</span> <span class="nf">can_be_published?</span><span class="p">(</span><span class="n">thing</span><span class="p">)</span>
<a name="gbab-20"></a>      <span class="n">thing</span><span class="o">.</span><span class="n">data</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;published&quot;</span><span class="p">,</span> <span class="kp">true</span><span class="p">)</span> <span class="o">||</span> <span class="vi">@site</span><span class="o">.</span><span class="n">unpublished</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>  <span class="k">end</span>
<a name="gbab-23"></a><span class="k">end</span>
</pre></div>
</td></tr></table>