<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Page</span>
<a name="gbab-5"></a>    <span class="kp">include</span> <span class="no">Convertible</span>
<a name="gbab-6"></a>    
<a name="gbab-7"></a>    <span class="kp">attr_writer</span> <span class="ss">:dir</span>
<a name="gbab-8"></a>    <span class="kp">attr_accessor</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:pager</span>
<a name="gbab-9"></a>    <span class="kp">attr_accessor</span> <span class="ss">:name</span><span class="p">,</span> <span class="ss">:ext</span><span class="p">,</span> <span class="ss">:basename</span>
<a name="gbab-10"></a>    <span class="kp">attr_accessor</span> <span class="ss">:data</span><span class="p">,</span> <span class="ss">:content</span><span class="p">,</span> <span class="ss">:output</span>
<a name="gbab-11"></a>    <span class="c1"># Attributes for Liquid templates</span>
<a name="gbab-12"></a>    <span class="n">alias_method</span> <span class="ss">:extname</span><span class="p">,</span> <span class="ss">:ext</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>    <span class="no">FORWARD_SLASH</span> <span class="o">=</span> <span class="s2">&quot;/&quot;</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>    <span class="no">ATTRIBUTES_FOR_LIQUID</span> <span class="o">=</span> <span class="sx">%w[</span>
<a name="gbab-17"></a><span class="sx">    ATTRIBUTES_FOR_LIQUID = %w(</span>
<a name="gbab-18"></a><span class="sx">      path</span>
<a name="gbab-19"></a><span class="sx">      dir</span>
<a name="gbab-20"></a><span class="sx">      name</span>
<a name="gbab-21"></a><span class="sx">    ]</span>
<a name="gbab-22"></a>      <span class="n">url</span>
<a name="gbab-23"></a>    <span class="p">)</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-24"></a>    
<a name="gbab-25"></a>    <span class="c1"># A set of extensions that are considered HTML or HTML-like so we</span>
<a name="gbab-26"></a>    <span class="c1"># should not alter them,  this includes .xhtml through XHTM5.</span>
<a name="gbab-27"></a>
<a name="gbab-28"></a>    <span class="no">HTML_EXTENSIONS</span> <span class="o">=</span> <span class="sx">%w(</span>
<a name="gbab-29"></a><span class="sx">      .html</span>
<a name="gbab-30"></a><span class="sx">      .xhtml</span>
<a name="gbab-31"></a><span class="sx">      .htm</span>
<a name="gbab-32"></a><span class="sx">    )</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>    <span class="c1"># Initialize a new Page.</span>
<a name="gbab-35"></a>    <span class="c1">#</span>
<a name="gbab-36"></a>    <span class="c1"># site - The Site object.</span>
<a name="gbab-37"></a>    <span class="c1"># base - The String path to the source.</span>
<a name="gbab-38"></a>    <span class="c1"># dir  - The String path between the source and the file.</span>
<a name="gbab-39"></a>    <span class="c1"># name - The String filename of the file.</span>
<a name="gbab-40"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-41"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-42"></a>      <span class="vi">@base</span> <span class="o">=</span> <span class="n">base</span>
<a name="gbab-43"></a>      <span class="vi">@dir</span> <span class="o">=</span> <span class="n">dir</span>
<a name="gbab-44"></a>      <span class="vi">@name</span> <span class="o">=</span> <span class="nb">name</span>
<a name="gbab-45"></a>      <span class="vi">@path</span> <span class="o">=</span> <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">in_theme_dir</span><span class="p">(</span><span class="n">base</span><span class="p">)</span> <span class="o">==</span> <span class="n">base</span> <span class="c1"># we&#39;re in a theme</span>
<a name="gbab-46"></a>                <span class="n">site</span><span class="o">.</span><span class="n">in_theme_dir</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-47"></a>      <span class="k">else</span>
<a name="gbab-48"></a>                <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-49"></a>      <span class="k">end</span>
<a name="gbab-50"></a>      
<a name="gbab-51"></a>      <span class="n">read_yaml</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">),</span> <span class="nb">name</span><span class="p">)</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">data</span><span class="o">.</span><span class="n">default_proc</span> <span class="o">=</span> <span class="nb">proc</span> <span class="k">do</span> <span class="o">|</span><span class="nb">hash</span><span class="p">,</span> <span class="n">key</span><span class="o">|</span>
<a name="gbab-54"></a>      <span class="n">data</span><span class="o">.</span><span class="n">default_proc</span> <span class="o">=</span> <span class="nb">proc</span> <span class="k">do</span> <span class="o">|</span><span class="n">_</span><span class="p">,</span> <span class="n">key</span><span class="o">|</span>
<a name="gbab-55"></a>      <span class="k">end</span>
<a name="gbab-56"></a>    <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="ss">:pages</span><span class="p">,</span> <span class="ss">:post_init</span><span class="p">,</span> <span class="nb">self</span>
<a name="gbab-59"></a>
<a name="gbab-60"></a>    <span class="c1"># The generated directory into which the page will be placed</span>
<a name="gbab-61"></a>    <span class="c1"># upon generation. This is derived from the permalink or, if</span>
<a name="gbab-62"></a>    <span class="c1"># permalink is absent, we be &#39;/&#39;</span>
<a name="gbab-63"></a>    <span class="c1"># permalink is absent, will be &#39;/&#39;</span>
<a name="gbab-64"></a>    <span class="c1"># Returns the String destination directory.</span>
<a name="gbab-65"></a>    <span class="k">def</span> <span class="nf">dir</span>
<a name="gbab-66"></a>      <span class="n">url</span><span class="o">[-</span><span class="mi">1</span><span class="p">,</span> <span class="mi">1</span><span class="o">]</span> <span class="o">==</span> <span class="s1">&#39;/&#39;</span> <span class="p">?</span> <span class="n">url</span> <span class="p">:</span> <span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">url</span><span class="p">)</span>
<a name="gbab-67"></a>      <span class="k">if</span> <span class="n">url</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="no">FORWARD_SLASH</span><span class="p">)</span>
<a name="gbab-68"></a>        <span class="n">url</span>
<a name="gbab-69"></a>      <span class="k">else</span>
<a name="gbab-70"></a>        <span class="n">url_dir</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">url</span><span class="p">)</span>
<a name="gbab-71"></a>        <span class="n">url_dir</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="no">FORWARD_SLASH</span><span class="p">)</span> <span class="p">?</span> <span class="n">url_dir</span> <span class="p">:</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">url_dir</span><span class="si">}</span><span class="s2">/&quot;</span>
<a name="gbab-72"></a>      <span class="k">end</span>
<a name="gbab-73"></a>
<a name="gbab-74"></a>    <span class="c1"># The full path and filename of the post. Defined in the YAML of the post</span>
<a name="gbab-75"></a>      <span class="k">return</span> <span class="kp">nil</span> <span class="k">if</span> <span class="n">data</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">data</span><span class="o">[</span><span class="s1">&#39;permalink&#39;</span><span class="o">].</span><span class="n">nil?</span>
<a name="gbab-76"></a>        <span class="k">if</span> <span class="n">index?</span> <span class="o">&amp;&amp;</span> <span class="n">html?</span>
<a name="gbab-77"></a>        <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="vi">@dir</span><span class="p">,</span> <span class="n">data</span><span class="o">[</span><span class="s1">&#39;permalink&#39;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-78"></a>	<span class="k">elsif</span> <span class="n">html?</span>
<a name="gbab-79"></a>        <span class="n">data</span><span class="o">[</span><span class="s1">&#39;permalink&#39;</span><span class="o">]</span>
<a name="gbab-80"></a>      <span class="n">data</span><span class="o">.</span><span class="n">nil?</span> <span class="p">?</span> <span class="kp">nil</span> <span class="p">:</span> <span class="n">data</span><span class="o">[</span><span class="s2">&quot;permalink&quot;</span><span class="o">]</span>
<a name="gbab-81"></a>      <span class="k">end</span>
<a name="gbab-82"></a>      <span class="k">if</span> <span class="n">site</span><span class="o">.</span><span class="n">permalink_style</span> <span class="o">==</span> <span class="ss">:pretty</span>
<a name="gbab-83"></a>    <span class="c1"># The template of the permalink.</span>
<a name="gbab-84"></a>    <span class="c1">#</span>
<a name="gbab-85"></a>    <span class="c1"># Returns the template String.</span>
<a name="gbab-86"></a>    <span class="k">def</span> <span class="nf">template</span>
<a name="gbab-87"></a>      <span class="k">if</span> <span class="o">!</span><span class="n">html?</span>
<a name="gbab-88"></a>        <span class="s2">&quot;/:path/:basename:output_ext&quot;</span>
<a name="gbab-89"></a>      <span class="k">elsif</span> <span class="n">index?</span>
<a name="gbab-90"></a>      <span class="k">elsif</span> <span class="n">index?</span>
<a name="gbab-91"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:path/:basename&quot;</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">permalink_style</span><span class="p">)</span>
<a name="gbab-92"></a>        <span class="no">Utils</span><span class="o">.</span><span class="n">add_permalink_suffix</span><span class="p">(</span><span class="s2">&quot;/:path/:basename&quot;</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">permalink_style</span><span class="p">)</span>
<a name="gbab-93"></a>    <span class="k">end</span>
<a name="gbab-94"></a>
<a name="gbab-95"></a>    <span class="c1"># Returns a hash of URL placeholder names (as symbols) mapping to the</span>
<a name="gbab-96"></a>    <span class="c1"># desired placeholder replacements. For details see &quot;url.rb&quot;</span>
<a name="gbab-97"></a>
<a name="gbab-98"></a>    <span class="c1"># See url.rb for an explanation</span>
<a name="gbab-99"></a>        <span class="ss">:path</span>       <span class="o">=&gt;</span> <span class="vi">@dir</span><span class="p">,</span>
<a name="gbab-100"></a>        <span class="ss">:basename</span>   <span class="o">=&gt;</span> <span class="nb">self</span><span class="o">.</span><span class="n">basename</span><span class="p">,</span>
<a name="gbab-101"></a>        <span class="ss">:output_ext</span> <span class="o">=&gt;</span> <span class="nb">self</span><span class="o">.</span><span class="n">output_ext</span>
<a name="gbab-102"></a>        <span class="ss">:path</span>       <span class="o">=&gt;</span> <span class="vi">@dir</span><span class="p">,</span>
<a name="gbab-103"></a>        <span class="ss">:permalink</span>    <span class="o">=&gt;</span> <span class="n">permalink</span><span class="p">,</span>
<a name="gbab-104"></a>        <span class="ss">:output_ext</span> <span class="o">=&gt;</span> <span class="n">output_ext</span>
<a name="gbab-105"></a>          <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="vi">@dir</span><span class="p">,</span> <span class="n">permalink</span><span class="p">)</span>
<a name="gbab-106"></a>        <span class="k">else</span>
<a name="gbab-107"></a>      <span class="p">}</span>
<a name="gbab-108"></a>        <span class="k">end</span>
<a name="gbab-109"></a>    <span class="k">end</span>
<a name="gbab-110"></a>
<a name="gbab-111"></a>    <span class="c1"># Extract information from the page filename.</span>
<a name="gbab-112"></a>    <span class="c1">#</span>
<a name="gbab-113"></a>        <span class="ss">:output_ext</span> <span class="o">=&gt;</span> <span class="n">output_ext</span><span class="p">,</span>
<a name="gbab-114"></a>    <span class="c1">#</span>
<a name="gbab-115"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">basename</span> <span class="o">=</span> <span class="nb">name</span><span class="o">[</span><span class="mi">0</span> <span class="o">..</span> <span class="o">-</span><span class="n">ext</span><span class="o">.</span><span class="n">length</span> <span class="o">-</span> <span class="mi">1</span><span class="o">]</span>
<a name="gbab-116"></a>    <span class="k">def</span> <span class="nf">process</span><span class="p">(</span><span class="nb">name</span><span class="p">)</span>
<a name="gbab-117"></a>      <span class="c1"># Is it a dotfile ?</span>
<a name="gbab-118"></a>      <span class="k">if</span> <span class="nb">name</span><span class="o">[</span><span class="sr">/^\./</span><span class="o">]</span>
<a name="gbab-119"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">ext</span> <span class="o">=</span> <span class="s1">&#39;&#39;</span>
<a name="gbab-120"></a>        <span class="nb">self</span><span class="o">.</span><span class="n">basename</span> <span class="o">=</span> <span class="nb">name</span>
<a name="gbab-121"></a>      <span class="k">else</span>
<a name="gbab-122"></a>      <span class="vi">@url</span><span class="o">.</span><span class="n">gsub!</span><span class="p">(</span><span class="sr">/\A([^\/])/</span><span class="p">,</span> <span class="s1">&#39;/\1&#39;</span><span class="p">)</span>
<a name="gbab-123"></a>    <span class="k">end</span>
<a name="gbab-124"></a>    <span class="c1"># layouts      - The Hash of {&quot;name&quot; =&gt; &quot;layout&quot;}.</span>
<a name="gbab-125"></a>      <span class="n">payload</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">({</span>
<a name="gbab-126"></a>        <span class="s2">&quot;page&quot;</span> <span class="o">=&gt;</span> <span class="n">to_liquid</span><span class="p">,</span>
<a name="gbab-127"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-128"></a>      <span class="p">},</span> <span class="n">site_payload</span><span class="p">)</span>
<a name="gbab-129"></a>    <span class="c1"># Add any necessary layouts to this post</span>
<a name="gbab-130"></a>    <span class="c1">#   +layouts+ is a Hash of {&quot;name&quot; =&gt; &quot;layout&quot;}</span>
<a name="gbab-131"></a>    <span class="c1">#   +site_payload+ is the site payload hash</span>
<a name="gbab-132"></a>    <span class="c1"># Returns String rendered page.</span>
<a name="gbab-133"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-134"></a>      <span class="n">site_payload</span><span class="o">[</span><span class="s2">&quot;page&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">to_liquid</span>
<a name="gbab-135"></a>      <span class="n">site_payload</span><span class="o">[</span><span class="s2">&quot;paginator&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">pager</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-136"></a>
<a name="gbab-137"></a>      <span class="n">do_layout</span><span class="p">(</span><span class="n">site_payload</span><span class="p">,</span> <span class="n">layouts</span><span class="p">)</span>
<a name="gbab-138"></a>        <span class="s1">&#39;paginator&#39;</span> <span class="o">=&gt;</span> <span class="n">pager</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-139"></a>      <span class="p">}</span><span class="o">.</span><span class="n">deep_merge</span><span class="p">(</span><span class="n">site_payload</span><span class="p">)</span>
<a name="gbab-140"></a>      <span class="n">data</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s1">&#39;path&#39;</span><span class="p">)</span> <span class="p">{</span> <span class="n">relative_path</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="sr">/\A\//</span><span class="p">,</span> <span class="s1">&#39;&#39;</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-141"></a>      <span class="n">do_layout</span><span class="p">(</span><span class="n">payload</span><span class="p">,</span> <span class="n">layouts</span><span class="p">)</span>
<a name="gbab-142"></a>    <span class="k">end</span>
<a name="gbab-143"></a>    
<a name="gbab-144"></a>      <span class="n">data</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;path&quot;</span><span class="p">)</span> <span class="p">{</span> <span class="n">relative_path</span> <span class="p">}</span>
<a name="gbab-145"></a>        <span class="s2">&quot;content&quot;</span>    <span class="o">=&gt;</span> <span class="nb">self</span><span class="o">.</span><span class="n">content</span> <span class="p">})</span>
<a name="gbab-146"></a>    <span class="c1"># dest - The String path to the destination dir.</span>
<a name="gbab-147"></a>    <span class="c1">#</span>
<a name="gbab-148"></a>    <span class="c1"># Returns the destination file path String.</span>
<a name="gbab-149"></a>      <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="o">*[</span><span class="vi">@dir</span><span class="p">,</span> <span class="vi">@name</span><span class="o">].</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:to_s</span><span class="p">)</span><span class="o">.</span><span class="n">reject</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:empty?</span><span class="p">))</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="sr">%r!\A\/!</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-150"></a>      <span class="n">path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span> <span class="k">if</span> <span class="n">url</span> <span class="o">=~</span> <span class="sr">/\/$/</span>
<a name="gbab-151"></a>    <span class="c1"># Returns the path to the source file</span>
<a name="gbab-152"></a>    <span class="k">def</span> <span class="nf">path</span>
<a name="gbab-153"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">data</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s1">&#39;path&#39;</span><span class="p">,</span> <span class="nb">self</span><span class="o">.</span><span class="n">relative_path</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="sr">/\A\//</span><span class="p">,</span> <span class="s1">&#39;&#39;</span><span class="p">))</span>
<a name="gbab-154"></a>      <span class="n">path</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_dest_dir</span><span class="p">(</span><span class="n">dest</span><span class="p">,</span> <span class="no">URL</span><span class="o">.</span><span class="n">unescape_path</span><span class="p">(</span><span class="n">url</span><span class="p">))</span>
<a name="gbab-155"></a>      <span class="n">path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span> <span class="k">if</span> <span class="n">url</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-156"></a>      <span class="n">path</span> <span class="o">&lt;&lt;</span> <span class="n">output_ext</span> <span class="k">unless</span> <span class="n">path</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="n">output_ext</span><span class="p">)</span>
<a name="gbab-157"></a>      <span class="s2">&quot;#&lt;Jekyll:Page @name=</span><span class="si">#{</span><span class="nb">name</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&gt;&quot;</span>
<a name="gbab-158"></a>      <span class="n">path</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_dest_dir</span><span class="p">(</span><span class="n">dest</span><span class="p">,</span> <span class="no">URL</span><span class="o">.</span><span class="n">unescape_path</span><span class="p">(</span><span class="n">url</span><span class="p">))</span>
<a name="gbab-159"></a>      <span class="n">path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="s2">&quot;index&quot;</span><span class="p">)</span> <span class="k">if</span> <span class="n">url</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-160"></a>      <span class="n">path</span> <span class="o">&lt;&lt;</span> <span class="n">output_ext</span> <span class="k">unless</span> <span class="n">path</span><span class="o">.</span><span class="n">end_with?</span> <span class="n">output_ext</span>
<a name="gbab-161"></a>    <span class="c1"># Write the generated page file to the destination directory.</span>
<a name="gbab-162"></a>    <span class="c1">#</span>
<a name="gbab-163"></a>    <span class="c1"># dest - The String path to the destination dir.</span>
<a name="gbab-164"></a>    <span class="c1">#</span>
<a name="gbab-165"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-166"></a>      <span class="s2">&quot;#&lt;Jekyll::Page @name=</span><span class="si">#{</span><span class="nb">name</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&gt;&quot;</span>
<a name="gbab-167"></a>      <span class="n">path</span> <span class="o">=</span> <span class="n">destination</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-168"></a>      <span class="n">path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dest</span><span class="p">,</span> <span class="nb">self</span><span class="o">.</span><span class="n">url</span><span class="p">)</span>
<a name="gbab-169"></a>        <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-170"></a>        <span class="n">path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="s2">&quot;index.html&quot;</span><span class="p">)</span>
<a name="gbab-171"></a>      <span class="no">HTML_EXTENSIONS</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">output_ext</span><span class="p">)</span>
<a name="gbab-172"></a>    <span class="c1"># Returns the object as a debug String.</span>
<a name="gbab-173"></a>
<a name="gbab-174"></a>      <span class="k">def</span> <span class="nf">index?</span>
<a name="gbab-175"></a>        <span class="n">basename</span> <span class="o">==</span> <span class="s1">&#39;index&#39;</span>
<a name="gbab-176"></a>      <span class="n">basename</span> <span class="o">==</span> <span class="s2">&quot;index&quot;</span>
<a name="gbab-177"></a>
<a name="gbab-178"></a>
<a name="gbab-179"></a>    <span class="k">def</span> <span class="nf">trigger_hooks</span><span class="p">(</span><span class="n">hook_name</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-180"></a>      <span class="no">Jekyll</span><span class="o">::</span><span class="no">Hooks</span><span class="o">.</span><span class="n">trigger</span> <span class="ss">:pages</span><span class="p">,</span> <span class="n">hook_name</span><span class="p">,</span> <span class="nb">self</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span>
<a name="gbab-181"></a>    <span class="k">end</span>
<a name="gbab-182"></a>
<a name="gbab-183"></a>    <span class="k">def</span> <span class="nf">write?</span>
<a name="gbab-184"></a>      <span class="kp">true</span>
<a name="gbab-185"></a>    <span class="k">end</span>
<a name="gbab-186"></a>
<a name="gbab-187"></a>    <span class="k">def</span> <span class="nf">uses_relative_permalinks</span>
<a name="gbab-188"></a>      <span class="n">permalink</span> <span class="o">&amp;&amp;</span> <span class="vi">@dir</span> <span class="o">!=</span> <span class="s2">&quot;&quot;</span> <span class="o">&amp;&amp;</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s1">&#39;relative_permalinks&#39;</span><span class="o">]</span>
<a name="gbab-189"></a>    <span class="k">end</span>
</pre></div>
</td></tr></table>