<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">DataReader</span>
<a name="gbab-5"></a>    <span class="kp">attr_reader</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:content</span>
<a name="gbab-6"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-7"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-8"></a>      <span class="vi">@content</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-9"></a>      <span class="vi">@entry_filter</span> <span class="o">=</span> <span class="no">EntryFilter</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-10"></a>    <span class="k">end</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>    <span class="c1"># Read all the files in &lt;dir&gt; and adds them to @content</span>
<a name="gbab-13"></a>    <span class="c1">#</span>
<a name="gbab-14"></a>    <span class="c1"># dir - The String relative path of the directory to read.</span>
<a name="gbab-15"></a>    <span class="c1">#</span>
<a name="gbab-16"></a>    <span class="c1"># Returns @content, a Hash of the .yaml, .yml,</span>
<a name="gbab-17"></a>    <span class="c1"># .json, and .csv files in the base directory</span>
<a name="gbab-18"></a>    <span class="k">def</span> <span class="nf">read</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-19"></a>      <span class="n">base</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-20"></a>      <span class="n">read_data_to</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="vi">@content</span><span class="p">)</span>
<a name="gbab-21"></a>      <span class="vi">@content</span>
<a name="gbab-22"></a>    <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>    <span class="c1"># Read and parse all .yaml, .yml, .json, .csv and .tsv</span>
<a name="gbab-25"></a>    <span class="c1"># files under &lt;dir&gt; and add them to the &lt;data&gt; variable.</span>
<a name="gbab-26"></a>    <span class="c1">#</span>
<a name="gbab-27"></a>    <span class="c1"># dir - The string absolute path of the directory to read.</span>
<a name="gbab-28"></a>    <span class="c1"># data - The variable to which data will be added.</span>
<a name="gbab-29"></a>    <span class="c1">#</span>
<a name="gbab-30"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-31"></a>    <span class="k">def</span> <span class="nf">read_data_to</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">data</span><span class="p">)</span>
<a name="gbab-32"></a>      <span class="k">return</span> <span class="k">unless</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="vi">@entry_filter</span><span class="o">.</span><span class="n">symlink?</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span>
<a name="gbab-33"></a>
<a name="gbab-34"></a>      <span class="n">entries</span> <span class="o">=</span> <span class="no">Dir</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="n">dir</span><span class="p">)</span> <span class="k">do</span>
<a name="gbab-35"></a>        <span class="no">Dir</span><span class="o">[</span><span class="s2">&quot;*.{yaml,yml,json,csv,tsv}&quot;</span><span class="o">]</span> <span class="o">+</span> <span class="no">Dir</span><span class="o">[</span><span class="s2">&quot;*&quot;</span><span class="o">].</span><span class="n">select</span> <span class="p">{</span> <span class="o">|</span><span class="n">fn</span><span class="o">|</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">fn</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-36"></a>      <span class="k">end</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>      <span class="n">entries</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">entry</span><span class="o">|</span>
<a name="gbab-39"></a>        <span class="n">path</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">entry</span><span class="p">)</span>
<a name="gbab-40"></a>        <span class="k">next</span> <span class="k">if</span> <span class="vi">@entry_filter</span><span class="o">.</span><span class="n">symlink?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>        <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">directory?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-43"></a>          <span class="n">read_data_to</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">data</span><span class="o">[</span><span class="n">sanitize_filename</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span><span class="o">]</span> <span class="o">=</span> <span class="p">{})</span>
<a name="gbab-44"></a>        <span class="k">else</span>
<a name="gbab-45"></a>          <span class="n">key</span> <span class="o">=</span> <span class="n">sanitize_filename</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">basename</span><span class="p">(</span><span class="n">entry</span><span class="p">,</span> <span class="s2">&quot;.*&quot;</span><span class="p">))</span>
<a name="gbab-46"></a>          <span class="n">data</span><span class="o">[</span><span class="n">key</span><span class="o">]</span> <span class="o">=</span> <span class="n">read_data_file</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-47"></a>        <span class="k">end</span>
<a name="gbab-48"></a>      <span class="k">end</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>    <span class="c1"># Determines how to read a data file.</span>
<a name="gbab-52"></a>    <span class="c1">#</span>
<a name="gbab-53"></a>    <span class="c1"># Returns the contents of the data file.</span>
<a name="gbab-54"></a>    <span class="k">def</span> <span class="nf">read_data_file</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-55"></a>      <span class="k">case</span> <span class="no">File</span><span class="o">.</span><span class="n">extname</span><span class="p">(</span><span class="n">path</span><span class="p">)</span><span class="o">.</span><span class="n">downcase</span>
<a name="gbab-56"></a>      <span class="k">when</span> <span class="s2">&quot;.csv&quot;</span>
<a name="gbab-57"></a>          <span class="no">CSV</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="p">{</span>
<a name="gbab-58"></a>                           <span class="ss">:headers</span> <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-59"></a>          <span class="ss">:encoding</span> <span class="o">=&gt;</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-60"></a>                       <span class="p">})</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:to_hash</span><span class="p">)</span>
<a name="gbab-61"></a>      <span class="k">when</span> <span class="s2">&quot;.tsv&quot;</span>
<a name="gbab-62"></a>        <span class="no">CSV</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="p">{</span>
<a name="gbab-63"></a>          <span class="ss">:col_sep</span>  <span class="o">=&gt;</span> <span class="s2">&quot;</span><span class="se">\t</span><span class="s2">&quot;</span><span class="p">,</span>
<a name="gbab-64"></a>          <span class="ss">:headers</span>  <span class="o">=&gt;</span> <span class="kp">true</span><span class="p">,</span>
<a name="gbab-65"></a>          <span class="ss">:encoding</span> <span class="o">=&gt;</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;encoding&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-66"></a>        <span class="p">})</span><span class="o">.</span><span class="n">map</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:to_hash</span><span class="p">)</span>
<a name="gbab-67"></a>        <span class="k">else</span>
<a name="gbab-68"></a>          <span class="no">SafeYAML</span><span class="o">.</span><span class="n">load_file</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-69"></a>      <span class="k">end</span>
<a name="gbab-70"></a>    <span class="k">end</span>
<a name="gbab-71"></a>
<a name="gbab-72"></a>    <span class="k">def</span> <span class="nf">sanitize_filename</span><span class="p">(</span><span class="nb">name</span><span class="p">)</span>
<a name="gbab-73"></a>      <span class="nb">name</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r![^\w\s-]+|(?&lt;=^|\b\s)\s+(?=$|\s?\b)!</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-74"></a>        <span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!\s+!</span><span class="p">,</span> <span class="s2">&quot;_&quot;</span><span class="p">)</span>
<a name="gbab-75"></a>    <span class="k">end</span>
<a name="gbab-76"></a>  <span class="k">end</span>
<a name="gbab-77"></a><span class="k">end</span>
</pre></div>
</td></tr></table>