<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">CollectionReader</span>
<a name="gbab-5"></a>    <span class="no">SPECIAL_COLLECTIONS</span> <span class="o">=</span> <span class="sx">%w(posts data)</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a>    <span class="kp">attr_reader</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:content</span>
<a name="gbab-8"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">)</span>
<a name="gbab-9"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-10"></a>      <span class="vi">@content</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-11"></a>    <span class="k">end</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>    <span class="c1"># Read in all collections specified in the configuration</span>
<a name="gbab-14"></a>    <span class="c1">#</span>
<a name="gbab-15"></a>    <span class="c1"># Returns nothing.</span>
<a name="gbab-16"></a>    <span class="k">def</span> <span class="nf">read</span>
<a name="gbab-17"></a>      <span class="n">site</span><span class="o">.</span><span class="n">collections</span><span class="o">.</span><span class="n">each_value</span> <span class="k">do</span> <span class="o">|</span><span class="n">collection</span><span class="o">|</span>
<a name="gbab-18"></a>        <span class="n">collection</span><span class="o">.</span><span class="n">read</span> <span class="k">unless</span> <span class="no">SPECIAL_COLLECTIONS</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">collection</span><span class="o">.</span><span class="n">label</span><span class="p">)</span>
<a name="gbab-19"></a>      <span class="k">end</span>
<a name="gbab-20"></a>    <span class="k">end</span>
<a name="gbab-21"></a>  <span class="k">end</span>
<a name="gbab-22"></a><span class="k">end</span>
</pre></div>
</td></tr></table>