<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">PageReader</span>
<a name="gbab-5"></a>    <span class="kp">attr_reader</span> <span class="ss">:site</span><span class="p">,</span> <span class="ss">:dir</span><span class="p">,</span> <span class="ss">:unfiltered_content</span>
<a name="gbab-6"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">dir</span><span class="p">)</span>
<a name="gbab-7"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-8"></a>      <span class="vi">@dir</span> <span class="o">=</span> <span class="n">dir</span>
<a name="gbab-9"></a>      <span class="vi">@unfiltered_content</span> <span class="o">=</span> <span class="o">[]</span>
<a name="gbab-10"></a>    <span class="k">end</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>    <span class="c1"># Read all the files in &lt;source&gt;/&lt;dir&gt;/ for Yaml header and create a new Page</span>
<a name="gbab-13"></a>    <span class="c1"># object for each file.</span>
<a name="gbab-14"></a>    <span class="c1">#</span>
<a name="gbab-15"></a>    <span class="c1"># dir - The String relative path of the directory to read.</span>
<a name="gbab-16"></a>    <span class="c1">#</span>
<a name="gbab-17"></a>    <span class="c1"># Returns an array of static pages.</span>
<a name="gbab-18"></a>    <span class="k">def</span> <span class="nf">read</span><span class="p">(</span><span class="n">files</span><span class="p">)</span>
<a name="gbab-19"></a>      <span class="n">files</span><span class="o">.</span><span class="n">map</span> <span class="k">do</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span>
<a name="gbab-20"></a>        <span class="vi">@unfiltered_content</span> <span class="o">&lt;&lt;</span> <span class="no">Page</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@site</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">source</span><span class="p">,</span> <span class="vi">@dir</span><span class="p">,</span> <span class="n">page</span><span class="p">)</span>
<a name="gbab-21"></a>      <span class="k">end</span>
<a name="gbab-22"></a>      <span class="vi">@unfiltered_content</span><span class="o">.</span><span class="n">select</span><span class="p">{</span> <span class="o">|</span><span class="n">page</span><span class="o">|</span> <span class="n">site</span><span class="o">.</span><span class="n">publisher</span><span class="o">.</span><span class="n">publish?</span><span class="p">(</span><span class="n">page</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-23"></a>    <span class="k">end</span>
<a name="gbab-24"></a>  <span class="k">end</span>
<a name="gbab-25"></a><span class="k">end</span>
</pre></div>
</td></tr></table>