<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Tags</span>
<a name="gbab-5"></a>  <span class="k">class</span> <span class="nc">HighlightBlock</span> <span class="o">&lt;</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Block</span>
<a name="gbab-6"></a>    <span class="kp">include</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">StandardFilters</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>    <span class="c1"># The regular expression syntax checker. Start with the language specifier.</span>
<a name="gbab-9"></a>      <span class="c1"># Follow that by zero or more space separated options that take one of three</span>
<a name="gbab-10"></a>      <span class="c1"># forms: name, name=value, or name=&quot;&lt;quoted list&gt;&quot;</span>
<a name="gbab-11"></a>      <span class="c1">#</span>
<a name="gbab-12"></a>      <span class="c1"># &lt;quoted list&gt; is a space-separated list of numbers</span>
<a name="gbab-13"></a>      <span class="no">SYNTAX</span> <span class="o">=</span> <span class="sr">%r!^([a-zA-Z0-9.+#_-]+)((\s+\w+(=(\w+|&quot;([0-9]+\s)*[0-9]+&quot;))?)*)$!</span>
<a name="gbab-14"></a>    
<a name="gbab-15"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">tag_name</span><span class="p">,</span> <span class="n">markup</span><span class="p">,</span> <span class="n">tokens</span><span class="p">)</span>
<a name="gbab-16"></a>      <span class="k">super</span>
<a name="gbab-17"></a>        <span class="k">if</span> <span class="n">markup</span><span class="o">.</span><span class="n">strip</span> <span class="o">=~</span> <span class="no">SYNTAX</span>
<a name="gbab-18"></a>          <span class="vi">@lang</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">last_match</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span><span class="o">.</span><span class="n">downcase</span>
<a name="gbab-19"></a>          <span class="vi">@highlight_options</span> <span class="o">=</span> <span class="n">parse_options</span><span class="p">(</span><span class="no">Regexp</span><span class="o">.</span><span class="n">last_match</span><span class="p">(</span><span class="mi">2</span><span class="p">))</span>
<a name="gbab-20"></a>        <span class="k">end</span>
<a name="gbab-21"></a>          <span class="k">raise</span> <span class="no">SyntaxError</span><span class="p">,</span> <span class="o">&lt;&lt;-</span><span class="no">MSG</span>
<a name="gbab-22"></a><span class="sh">Syntax Error in tag &#39;highlight&#39; while parsing the following markup:</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a><span class="sh">  #{markup}</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a><span class="sh">Valid syntax: highlight &lt;lang&gt; [linenos]</span>
<a name="gbab-27"></a><span class="no">MSG</span>
<a name="gbab-28"></a>        <span class="k">raise</span> <span class="no">SyntaxError</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;Syntax Error in &#39;highlight&#39; - Valid syntax: highlight &lt;lang&gt; [lineno]&quot;</span><span class="p">)</span>
<a name="gbab-29"></a>      <span class="n">output</span> <span class="o">=</span> <span class="n">context</span><span class="o">[</span><span class="s2">&quot;pygments_prefix&quot;</span><span class="o">]</span> <span class="o">+</span> <span class="n">output</span> <span class="k">if</span> <span class="n">context</span><span class="o">[</span><span class="s2">&quot;pygments_prefix&quot;</span><span class="o">]</span>
<a name="gbab-30"></a>      <span class="n">output</span> <span class="o">=</span> <span class="n">output</span> <span class="o">+</span> <span class="n">context</span><span class="o">[</span><span class="s2">&quot;pygments_suffix&quot;</span><span class="o">]</span> <span class="k">if</span> <span class="n">context</span><span class="o">[</span><span class="s2">&quot;pygments_suffix&quot;</span><span class="o">]</span>
<a name="gbab-31"></a>      <span class="n">output</span>
<a name="gbab-32"></a>        <span class="n">prefix</span> <span class="o">=</span> <span class="n">context</span><span class="o">[</span><span class="s2">&quot;highlighter_prefix&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-33"></a>        <span class="n">suffix</span> <span class="o">=</span> <span class="n">context</span><span class="o">[</span><span class="s2">&quot;highlighter_suffix&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-34"></a>        <span class="n">code</span> <span class="o">=</span> <span class="k">super</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!\A(\n|\r)+|(\n|\r)+\z!</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>        <span class="n">is_safe</span> <span class="o">=</span> <span class="o">!!</span><span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">].</span><span class="n">safe</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>        <span class="n">output</span> <span class="o">=</span>
<a name="gbab-39"></a>          <span class="k">case</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">].</span><span class="n">highlighter</span>
<a name="gbab-40"></a>          <span class="k">when</span> <span class="s2">&quot;pygments&quot;</span>
<a name="gbab-41"></a>          <span class="n">render_pygments</span><span class="p">(</span><span class="n">code</span><span class="p">,</span> <span class="n">is_safe</span><span class="p">)</span>
<a name="gbab-42"></a>          <span class="k">when</span> <span class="s2">&quot;rouge&quot;</span>
<a name="gbab-43"></a>          <span class="n">render_rouge</span><span class="p">(</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-44"></a>        <span class="n">render_codehighlighter</span><span class="p">(</span><span class="n">context</span><span class="p">,</span> <span class="k">super</span><span class="o">.</span><span class="n">join</span><span class="p">)</span>
<a name="gbab-45"></a>          <span class="n">render_codehighlighter</span><span class="p">(</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-46"></a>    
<a name="gbab-47"></a>    <span class="k">def</span> <span class="nf">render_pygments</span><span class="p">(</span><span class="n">context</span><span class="p">,</span> <span class="n">code</span><span class="p">)</span>
<a name="gbab-48"></a>        <span class="n">rendered_output</span> <span class="o">=</span> <span class="n">add_code_tag</span><span class="p">(</span><span class="n">output</span><span class="p">)</span>
<a name="gbab-49"></a>        <span class="n">prefix</span> <span class="o">+</span> <span class="n">rendered_output</span> <span class="o">+</span> <span class="n">suffix</span>
<a name="gbab-50"></a>      <span class="k">end</span>
<a name="gbab-51"></a>
<a name="gbab-52"></a>      <span class="k">def</span> <span class="nf">sanitized_opts</span><span class="p">(</span><span class="n">opts</span><span class="p">,</span> <span class="n">is_safe</span><span class="p">)</span>
<a name="gbab-53"></a>        <span class="k">if</span> <span class="n">is_safe</span>
<a name="gbab-54"></a>          <span class="no">Hash</span><span class="o">[[</span>
<a name="gbab-55"></a>            <span class="o">[</span><span class="ss">:startinline</span><span class="p">,</span> <span class="n">opts</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="ss">:startinline</span><span class="p">,</span> <span class="kp">nil</span><span class="p">)</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-56"></a>            <span class="o">[</span><span class="ss">:hl_lines</span><span class="p">,</span>    <span class="n">opts</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="ss">:hl_lines</span><span class="p">,</span> <span class="kp">nil</span><span class="p">)</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-57"></a>            <span class="o">[</span><span class="ss">:linenos</span><span class="p">,</span>     <span class="n">opts</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="ss">:linenos</span><span class="p">,</span> <span class="kp">nil</span><span class="p">)</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-58"></a>            <span class="o">[</span><span class="ss">:encoding</span><span class="p">,</span>    <span class="n">opts</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="ss">:encoding</span><span class="p">,</span> <span class="s2">&quot;utf-8&quot;</span><span class="p">)</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-59"></a>            <span class="o">[</span><span class="ss">:cssclass</span><span class="p">,</span>    <span class="n">opts</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="ss">:cssclass</span><span class="p">,</span> <span class="kp">nil</span><span class="p">)</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-60"></a>          <span class="o">].</span><span class="n">reject</span> <span class="p">{</span><span class="o">|</span><span class="n">f</span><span class="o">|</span> <span class="n">f</span><span class="o">.</span><span class="n">last</span><span class="o">.</span><span class="n">nil?</span> <span class="p">}</span><span class="o">]</span>
<a name="gbab-61"></a>        <span class="k">else</span>
<a name="gbab-62"></a>          <span class="n">opts</span>
<a name="gbab-63"></a>        <span class="k">end</span>
<a name="gbab-64"></a>      <span class="k">end</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a>      <span class="kp">private</span>
<a name="gbab-67"></a>
<a name="gbab-68"></a>      <span class="k">def</span> <span class="nf">parse_options</span><span class="p">(</span><span class="n">input</span><span class="p">)</span>
<a name="gbab-69"></a>        <span class="n">options</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-70"></a>        <span class="k">unless</span> <span class="n">input</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-71"></a>          <span class="c1"># Split along 3 possible forms -- key=&quot;&lt;quoted list&gt;&quot;, key=value, or key</span>
<a name="gbab-72"></a>          <span class="n">input</span><span class="o">.</span><span class="n">scan</span><span class="p">(</span><span class="sr">%r!(?:\w=&quot;[^&quot;]*&quot;|\w=\w|\w)+!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">opt</span><span class="o">|</span>
<a name="gbab-73"></a>            <span class="n">key</span><span class="p">,</span> <span class="n">value</span> <span class="o">=</span> <span class="n">opt</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;=&quot;</span><span class="p">)</span>
<a name="gbab-74"></a>            <span class="c1"># If a quoted list, convert to array</span>
<a name="gbab-75"></a>            <span class="k">if</span> <span class="n">value</span> <span class="o">&amp;&amp;</span> <span class="n">value</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="s2">&quot;</span><span class="se">\&quot;</span><span class="s2">&quot;</span><span class="p">)</span>
<a name="gbab-76"></a>              <span class="n">value</span><span class="o">.</span><span class="n">delete!</span><span class="p">(</span><span class="s1">&#39;&quot;&#39;</span><span class="p">)</span>
<a name="gbab-77"></a>              <span class="n">value</span> <span class="o">=</span> <span class="n">value</span><span class="o">.</span><span class="n">split</span>
<a name="gbab-78"></a>            <span class="k">end</span>
<a name="gbab-79"></a>            <span class="n">options</span><span class="o">[</span><span class="n">key</span><span class="o">.</span><span class="n">to_sym</span><span class="o">]</span> <span class="o">=</span> <span class="n">value</span> <span class="o">||</span> <span class="kp">true</span>
<a name="gbab-80"></a>          <span class="k">end</span>
<a name="gbab-81"></a>        <span class="k">end</span>
<a name="gbab-82"></a>        <span class="k">if</span> <span class="n">options</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="ss">:linenos</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="n">options</span><span class="o">[</span><span class="ss">:linenos</span><span class="o">]</span> <span class="o">==</span> <span class="kp">true</span>
<a name="gbab-83"></a>          <span class="n">options</span><span class="o">[</span><span class="ss">:linenos</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;inline&quot;</span>
<a name="gbab-84"></a>        <span class="k">end</span>
<a name="gbab-85"></a>        <span class="n">options</span>
<a name="gbab-86"></a>      <span class="k">end</span>
<a name="gbab-87"></a>
<a name="gbab-88"></a>      <span class="k">def</span> <span class="nf">render_pygments</span><span class="p">(</span><span class="n">code</span><span class="p">,</span> <span class="n">is_safe</span><span class="p">)</span>
<a name="gbab-89"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="s2">&quot;pygments&quot;</span><span class="p">)</span> <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="no">Pygments</span><span class="p">)</span>
<a name="gbab-90"></a>
<a name="gbab-91"></a>        <span class="n">highlighted_code</span> <span class="o">=</span> <span class="no">Pygments</span><span class="o">.</span><span class="n">highlight</span><span class="p">(</span>
<a name="gbab-92"></a>          <span class="n">code</span><span class="p">,</span>
<a name="gbab-93"></a>          <span class="ss">:lexer</span>   <span class="o">=&gt;</span> <span class="vi">@lang</span><span class="p">,</span>
<a name="gbab-94"></a>          <span class="ss">:options</span> <span class="o">=&gt;</span> <span class="n">sanitized_opts</span><span class="p">(</span><span class="vi">@highlight_options</span><span class="p">,</span> <span class="n">is_safe</span><span class="p">)</span>
<a name="gbab-95"></a>        <span class="p">)</span>
<a name="gbab-96"></a>
<a name="gbab-97"></a>        <span class="k">if</span> <span class="n">highlighted_code</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-98"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="o">&lt;&lt;-</span><span class="no">MSG</span>
<a name="gbab-99"></a><span class="sh">There was an error highlighting your code:</span>
<a name="gbab-100"></a>
<a name="gbab-101"></a><span class="sh">#{code}</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a><span class="sh">While attempting to convert the above code, Pygments.rb returned an unacceptable value.</span>
<a name="gbab-104"></a><span class="sh">This is usually a timeout problem solved by running `jekyll build` again.</span>
<a name="gbab-105"></a><span class="no">MSG</span>
<a name="gbab-106"></a>          <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="s2">&quot;Pygments.rb returned an unacceptable value &quot;</span><span class="p">\</span>
<a name="gbab-107"></a>          <span class="s2">&quot;when attempting to highlight some code.&quot;</span>
<a name="gbab-108"></a>        <span class="k">end</span>
<a name="gbab-109"></a>
<a name="gbab-110"></a>        <span class="n">highlighted_code</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="s1">&#39;&lt;div class=&quot;highlight&quot;&gt;&lt;pre&gt;&#39;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="s2">&quot;&lt;/pre&gt;&lt;/div&gt;&quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-111"></a>    <span class="k">end</span>
<a name="gbab-112"></a>    <span class="k">end</span>
<a name="gbab-113"></a>      <span class="k">def</span> <span class="nf">render_rouge</span><span class="p">(</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-114"></a>        <span class="n">formatter</span> <span class="o">=</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Utils</span><span class="o">::</span><span class="no">Rouge</span><span class="o">.</span><span class="n">html_formatter</span><span class="p">(</span>
<a name="gbab-115"></a>          <span class="ss">:line_numbers</span> <span class="o">=&gt;</span> <span class="vi">@highlight_options</span><span class="o">[</span><span class="ss">:linenos</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-116"></a>          <span class="ss">:wrap</span>         <span class="o">=&gt;</span> <span class="kp">false</span><span class="p">,</span>
<a name="gbab-117"></a>          <span class="ss">:css_class</span>    <span class="o">=&gt;</span> <span class="s2">&quot;highlight&quot;</span><span class="p">,</span>
<a name="gbab-118"></a>          <span class="ss">:gutter_class</span> <span class="o">=&gt;</span> <span class="s2">&quot;gutter&quot;</span><span class="p">,</span>
<a name="gbab-119"></a>          <span class="ss">:code_class</span>   <span class="o">=&gt;</span> <span class="s2">&quot;code&quot;</span>
<a name="gbab-120"></a>        <span class="p">)</span>
<a name="gbab-121"></a>        <span class="n">lexer</span> <span class="o">=</span> <span class="o">::</span><span class="no">Rouge</span><span class="o">::</span><span class="no">Lexer</span><span class="o">.</span><span class="n">find_fancy</span><span class="p">(</span><span class="vi">@lang</span><span class="p">,</span> <span class="n">code</span><span class="p">)</span> <span class="o">||</span> <span class="no">Rouge</span><span class="o">::</span><span class="no">Lexers</span><span class="o">::</span><span class="no">PlainText</span>
<a name="gbab-122"></a>        <span class="n">formatter</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">lexer</span><span class="o">.</span><span class="n">lex</span><span class="p">(</span><span class="n">code</span><span class="p">))</span>
<a name="gbab-123"></a>      <span class="k">end</span>
<a name="gbab-124"></a>
<a name="gbab-125"></a>      <span class="k">def</span> <span class="nf">render_codehighlighter</span><span class="p">(</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-126"></a>        <span class="n">h</span><span class="p">(</span><span class="n">code</span><span class="p">)</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-127"></a>      <span class="no">HTML</span>
<a name="gbab-128"></a>    <span class="k">end</span>    
<a name="gbab-129"></a>      <span class="k">def</span> <span class="nf">add_code_tag</span><span class="p">(</span><span class="n">code</span><span class="p">)</span>
<a name="gbab-130"></a>        <span class="n">code_attributes</span> <span class="o">=</span> <span class="o">[</span>
<a name="gbab-131"></a>          <span class="s2">&quot;class=</span><span class="se">\&quot;</span><span class="s2">language-</span><span class="si">#{</span><span class="vi">@lang</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">tr</span><span class="p">(</span><span class="s2">&quot;+&quot;</span><span class="p">,</span> <span class="s2">&quot;-&quot;</span><span class="p">)</span><span class="si">}</span><span class="se">\&quot;</span><span class="s2">&quot;</span><span class="p">,</span>
<a name="gbab-132"></a>          <span class="s2">&quot;data-lang=</span><span class="se">\&quot;</span><span class="si">#{</span><span class="vi">@lang</span><span class="si">}</span><span class="se">\&quot;</span><span class="s2">&quot;</span><span class="p">,</span>
<a name="gbab-133"></a>        <span class="o">].</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">)</span>
<a name="gbab-134"></a>        <span class="s2">&quot;&lt;figure class=</span><span class="se">\&quot;</span><span class="s2">highlight</span><span class="se">\&quot;</span><span class="s2">&gt;&lt;pre&gt;&lt;code </span><span class="si">#{</span><span class="n">code_attributes</span><span class="si">}</span><span class="s2">&gt;&quot;</span><span class="p">\</span>
<a name="gbab-135"></a>        <span class="s2">&quot;</span><span class="si">#{</span><span class="n">code</span><span class="o">.</span><span class="n">chomp</span><span class="si">}</span><span class="s2">&lt;/code&gt;&lt;/pre&gt;&lt;/figure&gt;&quot;</span>
<a name="gbab-136"></a>      <span class="n">code</span> <span class="o">=</span> <span class="n">code</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="sr">/&lt;\/pre&gt;/</span><span class="p">,</span><span class="s2">&quot;&lt;/code&gt;&lt;/pre&gt;&quot;</span><span class="p">)</span>
<a name="gbab-137"></a>    
<a name="gbab-138"></a>  <span class="k">end</span>
<a name="gbab-139"></a>  
<a name="gbab-140"></a><span class="k">end</span>
<a name="gbab-141"></a><span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">register_tag</span><span class="p">(</span><span class="s2">&quot;highlight&quot;</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Tags</span><span class="o">::</span><span class="no">HighlightBlock</span><span class="p">)</span>
<a name="gbab-142"></a><span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">register_tag</span><span class="p">(</span><span class="s1">&#39;highlight&#39;</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">HighlightBlock</span><span class="p">)</span>
</pre></div>
</td></tr></table>