<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">Renderer</span>
<a name="gbab-5"></a>    <span class="kp">attr_reader</span> <span class="ss">:document</span><span class="p">,</span> <span class="ss">:site</span>
<a name="gbab-6"></a>    <span class="kp">attr_writer</span> <span class="ss">:layouts</span><span class="p">,</span> <span class="ss">:payload</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">document</span><span class="p">,</span> <span class="n">site_payload</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-9"></a>      <span class="vi">@site</span>     <span class="o">=</span> <span class="n">site</span>
<a name="gbab-10"></a>      <span class="vi">@document</span> <span class="o">=</span> <span class="n">document</span>
<a name="gbab-11"></a>      <span class="vi">@payload</span>  <span class="o">=</span> <span class="n">site_payload</span>
<a name="gbab-12"></a>    <span class="k">end</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>    <span class="c1"># Fetches the payload used in Liquid rendering.</span>
<a name="gbab-15"></a>    <span class="c1"># It can be written with #payload=(new_payload)</span>
<a name="gbab-16"></a>    <span class="c1"># Falls back to site.site_payload if no payload is set.</span>
<a name="gbab-17"></a>    <span class="c1">#</span>
<a name="gbab-18"></a>    <span class="c1"># Returns a Jekyll::Drops::UnifiedPayloadDrop</span>
<a name="gbab-19"></a>    <span class="k">def</span> <span class="nf">payload</span>
<a name="gbab-20"></a>      <span class="vi">@payload</span> <span class="o">||=</span> <span class="n">site</span><span class="o">.</span><span class="n">site_payload</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>
<a name="gbab-23"></a>    <span class="c1"># The list of layouts registered for this Renderer.</span>
<a name="gbab-24"></a>    <span class="c1"># It can be written with #layouts=(new_layouts)</span>
<a name="gbab-25"></a>    <span class="c1"># Falls back to site.layouts if no layouts are registered.</span>
<a name="gbab-26"></a>    <span class="c1">#</span>
<a name="gbab-27"></a>    <span class="c1"># Returns a Hash of String =&gt; Jekyll::Layout identified</span>
<a name="gbab-28"></a>    <span class="c1"># as basename without the extension name.</span>
<a name="gbab-29"></a>    <span class="k">def</span> <span class="nf">layouts</span>
<a name="gbab-30"></a>      <span class="vi">@layouts</span> <span class="o">||</span> <span class="n">site</span><span class="o">.</span><span class="n">layouts</span>
<a name="gbab-31"></a>    <span class="k">end</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>    <span class="c1"># Determine which converters to use based on this document&#39;s</span>
<a name="gbab-34"></a>    <span class="c1"># extension.</span>
<a name="gbab-35"></a>    <span class="c1">#</span>
<a name="gbab-36"></a>    <span class="c1"># Returns Array of Converter instances.</span>
<a name="gbab-37"></a>    <span class="k">def</span> <span class="nf">converters</span>
<a name="gbab-38"></a>      <span class="vi">@converters</span> <span class="o">||=</span> <span class="n">site</span><span class="o">.</span><span class="n">converters</span><span class="o">.</span><span class="n">select</span> <span class="p">{</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span> <span class="n">c</span><span class="o">.</span><span class="n">matches</span><span class="p">(</span><span class="n">document</span><span class="o">.</span><span class="n">extname</span><span class="p">)</span> <span class="p">}</span><span class="o">.</span><span class="n">sort</span>
<a name="gbab-39"></a>    <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>    <span class="c1"># Determine the extname the outputted file should have</span>
<a name="gbab-42"></a>    <span class="c1">#</span>
<a name="gbab-43"></a>    <span class="c1"># Returns String the output extname including the leading period.</span>
<a name="gbab-44"></a>    <span class="k">def</span> <span class="nf">output_ext</span>
<a name="gbab-45"></a>      <span class="vi">@output_ext</span> <span class="o">||=</span> <span class="p">(</span><span class="n">permalink_ext</span> <span class="o">||</span> <span class="n">converter_output_ext</span><span class="p">)</span>
<a name="gbab-46"></a>    <span class="k">end</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>    <span class="c1"># Prepare payload and render the document</span>
<a name="gbab-49"></a>    <span class="c1">#</span>
<a name="gbab-50"></a>    <span class="c1"># Returns String rendered document output</span>
<a name="gbab-51"></a>    <span class="k">def</span> <span class="nf">run</span>
<a name="gbab-52"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Rendering:&quot;</span><span class="p">,</span> <span class="n">document</span><span class="o">.</span><span class="n">relative_path</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>      <span class="n">assign_pages!</span>
<a name="gbab-55"></a>      <span class="n">assign_current_document!</span>
<a name="gbab-56"></a>      <span class="n">assign_highlighter_options!</span>
<a name="gbab-57"></a>      <span class="n">assign_layout_data!</span>
<a name="gbab-58"></a>
<a name="gbab-59"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Pre-Render Hooks:&quot;</span><span class="p">,</span> <span class="n">document</span><span class="o">.</span><span class="n">relative_path</span>
<a name="gbab-60"></a>      <span class="n">document</span><span class="o">.</span><span class="n">trigger_hooks</span><span class="p">(</span><span class="ss">:pre_render</span><span class="p">,</span> <span class="n">payload</span><span class="p">)</span>
<a name="gbab-61"></a>
<a name="gbab-62"></a>      <span class="n">render_document</span>
<a name="gbab-63"></a>    <span class="k">end</span>
<a name="gbab-64"></a>
<a name="gbab-65"></a>    <span class="c1"># Render the document.</span>
<a name="gbab-66"></a>    <span class="c1">#</span>
<a name="gbab-67"></a>    <span class="c1"># Returns String rendered document output</span>
<a name="gbab-68"></a>    <span class="c1"># rubocop: disable AbcSize</span>
<a name="gbab-69"></a>    <span class="k">def</span> <span class="nf">render_document</span>
<a name="gbab-70"></a>      <span class="n">info</span>    <span class="o">=</span> <span class="p">{</span>
<a name="gbab-71"></a>        <span class="ss">:registers</span> <span class="o">=&gt;</span> <span class="p">{</span> <span class="ss">:site</span> <span class="o">=&gt;</span> <span class="n">site</span><span class="p">,</span> <span class="ss">:page</span> <span class="o">=&gt;</span> <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;page&quot;</span><span class="o">]</span> <span class="p">},</span>
<a name="gbab-72"></a>        <span class="ss">:strict_filters</span>   <span class="o">=&gt;</span> <span class="n">liquid_options</span><span class="o">[</span><span class="s2">&quot;strict_filters&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-73"></a>        <span class="ss">:strict_variables</span> <span class="o">=&gt;</span> <span class="n">liquid_options</span><span class="o">[</span><span class="s2">&quot;strict_variables&quot;</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-74"></a>      <span class="p">}</span>
<a name="gbab-75"></a>
<a name="gbab-76"></a>      <span class="n">output</span> <span class="o">=</span> <span class="n">document</span><span class="o">.</span><span class="n">content</span>
<a name="gbab-77"></a>      <span class="k">if</span> <span class="n">document</span><span class="o">.</span><span class="n">render_with_liquid?</span>
<a name="gbab-78"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Rendering Liquid:&quot;</span><span class="p">,</span> <span class="n">document</span><span class="o">.</span><span class="n">relative_path</span>
<a name="gbab-79"></a>        <span class="n">output</span> <span class="o">=</span> <span class="n">render_liquid</span><span class="p">(</span><span class="n">output</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">,</span> <span class="n">document</span><span class="o">.</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-80"></a>      <span class="k">end</span>
<a name="gbab-81"></a>
<a name="gbab-82"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Rendering Markup:&quot;</span><span class="p">,</span> <span class="n">document</span><span class="o">.</span><span class="n">relative_path</span>
<a name="gbab-83"></a>      <span class="n">output</span> <span class="o">=</span> <span class="n">convert</span><span class="p">(</span><span class="n">output</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<a name="gbab-84"></a>      <span class="n">document</span><span class="o">.</span><span class="n">content</span> <span class="o">=</span> <span class="n">output</span>
<a name="gbab-85"></a>
<a name="gbab-86"></a>      <span class="k">if</span> <span class="n">document</span><span class="o">.</span><span class="n">place_in_layout?</span>
<a name="gbab-87"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Rendering Layout:&quot;</span><span class="p">,</span> <span class="n">document</span><span class="o">.</span><span class="n">relative_path</span>
<a name="gbab-88"></a>        <span class="n">output</span> <span class="o">=</span> <span class="n">place_in_layouts</span><span class="p">(</span><span class="n">output</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">)</span>
<a name="gbab-89"></a>      <span class="k">end</span>
<a name="gbab-90"></a>
<a name="gbab-91"></a>        <span class="n">output</span>
<a name="gbab-92"></a>      <span class="k">end</span>
<a name="gbab-93"></a>    <span class="c1"># rubocop: enable AbcSize</span>
<a name="gbab-94"></a>
<a name="gbab-95"></a>    <span class="c1"># Convert the document using the converters which match this renderer&#39;s document.</span>
<a name="gbab-96"></a>    <span class="c1">#</span>
<a name="gbab-97"></a>    <span class="c1"># Returns String the converted content.</span>
<a name="gbab-98"></a>    <span class="k">def</span> <span class="nf">convert</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-99"></a>      <span class="n">converters</span><span class="o">.</span><span class="n">reduce</span><span class="p">(</span><span class="n">content</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">output</span><span class="p">,</span> <span class="n">converter</span><span class="o">|</span>
<a name="gbab-100"></a>        <span class="k">begin</span>
<a name="gbab-101"></a>          <span class="n">converter</span><span class="o">.</span><span class="n">convert</span> <span class="n">output</span>
<a name="gbab-102"></a>        <span class="k">rescue</span> <span class="no">StandardError</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-103"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Conversion error:&quot;</span><span class="p">,</span>
<a name="gbab-104"></a>            <span class="s2">&quot;</span><span class="si">#{</span><span class="n">converter</span><span class="o">.</span><span class="n">class</span><span class="si">}</span><span class="s2"> encountered an error while &quot;</span><span class="p">\</span>
<a name="gbab-105"></a>            <span class="s2">&quot;converting &#39;</span><span class="si">#{</span><span class="n">document</span><span class="o">.</span><span class="n">relative_path</span><span class="si">}</span><span class="s2">&#39;:&quot;</span>
<a name="gbab-106"></a>          <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span><span class="p">(</span><span class="s2">&quot;&quot;</span><span class="p">,</span> <span class="n">e</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<a name="gbab-107"></a>          <span class="k">raise</span> <span class="n">e</span>
<a name="gbab-108"></a>        <span class="k">end</span>
<a name="gbab-109"></a>      <span class="k">end</span>
<a name="gbab-110"></a>    <span class="k">end</span>
<a name="gbab-111"></a>
<a name="gbab-112"></a>    <span class="c1"># Render the given content with the payload and info</span>
<a name="gbab-113"></a>    <span class="c1">#</span>
<a name="gbab-114"></a>    <span class="c1"># content -</span>
<a name="gbab-115"></a>    <span class="c1"># payload -</span>
<a name="gbab-116"></a>    <span class="c1"># info    -</span>
<a name="gbab-117"></a>    <span class="c1"># path    - (optional) the path to the file, for use in ex</span>
<a name="gbab-118"></a>    <span class="c1">#</span>
<a name="gbab-119"></a>    <span class="c1"># Returns String the content, rendered by Liquid.</span>
<a name="gbab-120"></a>    <span class="k">def</span> <span class="nf">render_liquid</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">,</span> <span class="n">path</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-121"></a>      <span class="n">template</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">liquid_renderer</span><span class="o">.</span><span class="n">file</span><span class="p">(</span><span class="n">path</span><span class="p">)</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">content</span><span class="p">)</span>
<a name="gbab-122"></a>      <span class="n">template</span><span class="o">.</span><span class="n">warnings</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">e</span><span class="o">|</span>
<a name="gbab-123"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span> <span class="s2">&quot;Liquid Warning:&quot;</span><span class="p">,</span>
<a name="gbab-124"></a>          <span class="no">LiquidRenderer</span><span class="o">.</span><span class="n">format_error</span><span class="p">(</span><span class="n">e</span><span class="p">,</span> <span class="n">path</span> <span class="o">||</span> <span class="n">document</span><span class="o">.</span><span class="n">relative_path</span><span class="p">)</span>
<a name="gbab-125"></a>      <span class="k">end</span>
<a name="gbab-126"></a>      <span class="n">template</span><span class="o">.</span><span class="n">render!</span><span class="p">(</span><span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">)</span>
<a name="gbab-127"></a>    <span class="c1"># rubocop: disable RescueException</span>
<a name="gbab-128"></a>    <span class="k">rescue</span> <span class="no">Exception</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-129"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">error</span> <span class="s2">&quot;Liquid Exception:&quot;</span><span class="p">,</span>
<a name="gbab-130"></a>        <span class="no">LiquidRenderer</span><span class="o">.</span><span class="n">format_error</span><span class="p">(</span><span class="n">e</span><span class="p">,</span> <span class="n">path</span> <span class="o">||</span> <span class="n">document</span><span class="o">.</span><span class="n">relative_path</span><span class="p">)</span>
<a name="gbab-131"></a>      <span class="k">raise</span> <span class="n">e</span>
<a name="gbab-132"></a>    <span class="k">end</span>
<a name="gbab-133"></a>    <span class="c1"># rubocop: enable RescueException</span>
<a name="gbab-134"></a>
<a name="gbab-135"></a>    <span class="c1"># Checks if the layout specified in the document actually exists</span>
<a name="gbab-136"></a>    <span class="c1">#</span>
<a name="gbab-137"></a>    <span class="c1"># layout - the layout to check</span>
<a name="gbab-138"></a>    <span class="c1">#</span>
<a name="gbab-139"></a>    <span class="c1"># Returns Boolean true if the layout is invalid, false if otherwise</span>
<a name="gbab-140"></a>    <span class="k">def</span> <span class="nf">invalid_layout?</span><span class="p">(</span><span class="n">layout</span><span class="p">)</span>
<a name="gbab-141"></a>      <span class="o">!</span><span class="n">document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">].</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="n">layout</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="p">(</span><span class="n">document</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Excerpt</span><span class="p">)</span>
<a name="gbab-142"></a>    <span class="k">end</span>
<a name="gbab-143"></a>
<a name="gbab-144"></a>    <span class="c1"># Render layouts and place document content inside.</span>
<a name="gbab-145"></a>    <span class="c1">#</span>
<a name="gbab-146"></a>    <span class="c1"># Returns String rendered content</span>
<a name="gbab-147"></a>    <span class="k">def</span> <span class="nf">place_in_layouts</span><span class="p">(</span><span class="n">content</span><span class="p">,</span> <span class="n">payload</span><span class="p">,</span> <span class="n">info</span><span class="p">)</span>
<a name="gbab-148"></a>      <span class="n">output</span> <span class="o">=</span> <span class="n">content</span><span class="o">.</span><span class="n">dup</span>
<a name="gbab-149"></a>      <span class="n">layout</span> <span class="o">=</span> <span class="n">layouts</span><span class="o">[</span><span class="n">document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">].</span><span class="n">to_s</span><span class="o">]</span>
<a name="gbab-150"></a>      <span class="n">validate_layout</span><span class="p">(</span><span class="n">layout</span><span class="p">)</span>
<a name="gbab-151"></a>
<a name="gbab-152"></a>      <span class="n">used</span>   <span class="o">=</span> <span class="no">Set</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="o">[</span><span class="n">layout</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-153"></a>
<a name="gbab-154"></a>      <span class="c1"># Reset the payload layout data to ensure it starts fresh for each page.</span>
<a name="gbab-155"></a>      <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-156"></a>
<a name="gbab-157"></a>      <span class="k">while</span> <span class="n">layout</span>
<a name="gbab-158"></a>        <span class="n">output</span> <span class="o">=</span> <span class="n">render_layout</span><span class="p">(</span><span class="n">output</span><span class="p">,</span> <span class="n">layout</span><span class="p">,</span> <span class="n">info</span><span class="p">)</span>
<a name="gbab-159"></a>        <span class="n">add_regenerator_dependencies</span><span class="p">(</span><span class="n">layout</span><span class="p">)</span>
<a name="gbab-160"></a>
<a name="gbab-161"></a>        <span class="k">if</span> <span class="p">(</span><span class="n">layout</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">layouts</span><span class="o">[</span><span class="n">layout</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]]</span><span class="p">)</span>
<a name="gbab-162"></a>          <span class="k">break</span> <span class="k">if</span> <span class="n">used</span><span class="o">.</span><span class="n">include?</span><span class="p">(</span><span class="n">layout</span><span class="p">)</span>
<a name="gbab-163"></a>          <span class="n">used</span> <span class="o">&lt;&lt;</span> <span class="n">layout</span>
<a name="gbab-164"></a>        <span class="k">end</span>
<a name="gbab-165"></a>      <span class="k">end</span>
<a name="gbab-166"></a>      <span class="n">output</span>
<a name="gbab-167"></a>    <span class="k">end</span>
<a name="gbab-168"></a>
<a name="gbab-169"></a>    <span class="c1"># Checks if the layout specified in the document actually exists</span>
<a name="gbab-170"></a>    <span class="c1">#</span>
<a name="gbab-171"></a>    <span class="c1"># layout - the layout to check</span>
<a name="gbab-172"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-173"></a>    <span class="kp">private</span>
<a name="gbab-174"></a>    <span class="k">def</span> <span class="nf">validate_layout</span><span class="p">(</span><span class="n">layout</span><span class="p">)</span>
<a name="gbab-175"></a>      <span class="k">if</span> <span class="n">invalid_layout?</span><span class="p">(</span><span class="n">layout</span><span class="p">)</span>
<a name="gbab-176"></a>      <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">warn</span><span class="p">(</span>
<a name="gbab-177"></a>        <span class="s2">&quot;Build Warning:&quot;</span><span class="p">,</span>
<a name="gbab-178"></a>        <span class="s2">&quot;Layout &#39;</span><span class="si">#{</span><span class="n">document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span><span class="si">}</span><span class="s2">&#39; requested &quot;</span><span class="p">\</span>
<a name="gbab-179"></a>        <span class="s2">&quot;in </span><span class="si">#{</span><span class="n">document</span><span class="o">.</span><span class="n">relative_path</span><span class="si">}</span><span class="s2"> does not exist.&quot;</span>
<a name="gbab-180"></a>      <span class="p">)</span>
<a name="gbab-181"></a>      <span class="k">elsif</span> <span class="o">!</span><span class="n">layout</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-182"></a>        <span class="n">layout_source</span> <span class="o">=</span> <span class="n">layout</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">start_with?</span><span class="p">(</span><span class="n">site</span><span class="o">.</span><span class="n">source</span><span class="p">)</span> <span class="p">?</span> <span class="ss">:site</span> <span class="p">:</span> <span class="ss">:theme</span>
<a name="gbab-183"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Layout source:&quot;</span><span class="p">,</span> <span class="n">layout_source</span>
<a name="gbab-184"></a>      <span class="k">end</span>
<a name="gbab-185"></a>    <span class="k">end</span>
<a name="gbab-186"></a>
<a name="gbab-187"></a>    <span class="c1"># Render layout content into document.output</span>
<a name="gbab-188"></a>    <span class="c1">#</span>
<a name="gbab-189"></a>    <span class="c1"># Returns String rendered content</span>
<a name="gbab-190"></a>    <span class="kp">private</span>
<a name="gbab-191"></a>    <span class="k">def</span> <span class="nf">render_layout</span><span class="p">(</span><span class="n">output</span><span class="p">,</span> <span class="n">layout</span><span class="p">,</span> <span class="n">info</span><span class="p">)</span>
<a name="gbab-192"></a>        <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;content&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">output</span>
<a name="gbab-193"></a>        <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span>  <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">layout</span><span class="o">.</span><span class="n">data</span><span class="p">,</span> <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="p">{})</span>
<a name="gbab-194"></a>
<a name="gbab-195"></a>      <span class="n">render_liquid</span><span class="p">(</span>
<a name="gbab-196"></a>          <span class="n">layout</span><span class="o">.</span><span class="n">content</span><span class="p">,</span>
<a name="gbab-197"></a>          <span class="n">payload</span><span class="p">,</span>
<a name="gbab-198"></a>          <span class="n">info</span><span class="p">,</span>
<a name="gbab-199"></a>          <span class="n">layout</span><span class="o">.</span><span class="n">relative_path</span>
<a name="gbab-200"></a>        <span class="p">)</span>
<a name="gbab-201"></a>    <span class="k">end</span>
<a name="gbab-202"></a>
<a name="gbab-203"></a>    <span class="kp">private</span>
<a name="gbab-204"></a>    <span class="k">def</span> <span class="nf">add_regenerator_dependencies</span><span class="p">(</span><span class="n">layout</span><span class="p">)</span>
<a name="gbab-205"></a>      <span class="k">return</span> <span class="k">unless</span> <span class="n">document</span><span class="o">.</span><span class="n">write?</span>
<a name="gbab-206"></a>        <span class="n">site</span><span class="o">.</span><span class="n">regenerator</span><span class="o">.</span><span class="n">add_dependency</span><span class="p">(</span>
<a name="gbab-207"></a>          <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">document</span><span class="o">.</span><span class="n">path</span><span class="p">),</span>
<a name="gbab-208"></a>        <span class="n">layout</span><span class="o">.</span><span class="n">path</span>
<a name="gbab-209"></a>      <span class="p">)</span>
<a name="gbab-210"></a>    <span class="k">end</span>
<a name="gbab-211"></a>
<a name="gbab-212"></a>    <span class="c1"># Set page content to payload and assign pager if document has one.</span>
<a name="gbab-213"></a>    <span class="c1">#</span>
<a name="gbab-214"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-215"></a>    <span class="kp">private</span>
<a name="gbab-216"></a>    <span class="k">def</span> <span class="nf">assign_pages!</span>
<a name="gbab-217"></a>      <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;page&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">document</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-218"></a>      <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;paginator&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="k">if</span> <span class="n">document</span><span class="o">.</span><span class="n">respond_to?</span><span class="p">(</span><span class="ss">:pager</span><span class="p">)</span>
<a name="gbab-219"></a>                               <span class="n">document</span><span class="o">.</span><span class="n">pager</span><span class="o">.</span><span class="n">to_liquid</span>
<a name="gbab-220"></a>          <span class="k">end</span>
<a name="gbab-221"></a>        <span class="k">end</span>
<a name="gbab-222"></a>
<a name="gbab-223"></a>    <span class="c1"># Set related posts to payload if document is a post.</span>
<a name="gbab-224"></a>    <span class="c1">#</span>
<a name="gbab-225"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-226"></a>    <span class="kp">private</span>
<a name="gbab-227"></a>    <span class="k">def</span> <span class="nf">assign_current_document!</span>
<a name="gbab-228"></a>      <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;site&quot;</span><span class="o">].</span><span class="n">current_document</span> <span class="o">=</span> <span class="n">document</span>
<a name="gbab-229"></a>    <span class="k">end</span>
<a name="gbab-230"></a>
<a name="gbab-231"></a>    <span class="c1"># Set highlighter prefix and suffix</span>
<a name="gbab-232"></a>    <span class="c1">#</span>
<a name="gbab-233"></a>    <span class="c1"># Returns nothing</span>
<a name="gbab-234"></a>    <span class="kp">private</span>
<a name="gbab-235"></a>    <span class="k">def</span> <span class="nf">assign_highlighter_options!</span>
<a name="gbab-236"></a>      <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;highlighter_prefix&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">converters</span><span class="o">.</span><span class="n">first</span><span class="o">.</span><span class="n">highlighter_prefix</span>
<a name="gbab-237"></a>      <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;highlighter_suffix&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">converters</span><span class="o">.</span><span class="n">first</span><span class="o">.</span><span class="n">highlighter_suffix</span>
<a name="gbab-238"></a>    <span class="k">end</span>
<a name="gbab-239"></a>
<a name="gbab-240"></a>    <span class="kp">private</span>
<a name="gbab-241"></a>    <span class="k">def</span> <span class="nf">assign_layout_data!</span>
<a name="gbab-242"></a>      <span class="n">layout</span> <span class="o">=</span> <span class="n">layouts</span><span class="o">[</span><span class="n">document</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]]</span>
<a name="gbab-243"></a>      <span class="k">if</span> <span class="n">layout</span>
<a name="gbab-244"></a>        <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">deep_merge_hashes</span><span class="p">(</span><span class="n">layout</span><span class="o">.</span><span class="n">data</span><span class="p">,</span> <span class="n">payload</span><span class="o">[</span><span class="s2">&quot;layout&quot;</span><span class="o">]</span> <span class="o">||</span> <span class="p">{})</span>
<a name="gbab-245"></a>      <span class="k">end</span>
<a name="gbab-246"></a>    <span class="k">end</span>
<a name="gbab-247"></a>
<a name="gbab-248"></a>    <span class="kp">private</span>
<a name="gbab-249"></a>    <span class="k">def</span> <span class="nf">permalink_ext</span>
<a name="gbab-250"></a>      <span class="k">if</span> <span class="n">document</span><span class="o">.</span><span class="n">permalink</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">document</span><span class="o">.</span><span class="n">permalink</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-251"></a>        <span class="n">permalink_ext</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">extname</span><span class="p">(</span><span class="n">document</span><span class="o">.</span><span class="n">permalink</span><span class="p">)</span>
<a name="gbab-252"></a>        <span class="n">permalink_ext</span> <span class="k">unless</span> <span class="n">permalink_ext</span><span class="o">.</span><span class="n">empty?</span>
<a name="gbab-253"></a>      <span class="k">end</span>
<a name="gbab-254"></a>    <span class="k">end</span>
<a name="gbab-255"></a>
<a name="gbab-256"></a>    <span class="kp">private</span>
<a name="gbab-257"></a>    <span class="k">def</span> <span class="nf">converter_output_ext</span>
<a name="gbab-258"></a>      <span class="k">if</span> <span class="n">output_exts</span><span class="o">.</span><span class="n">size</span> <span class="o">==</span> <span class="mi">1</span>
<a name="gbab-259"></a>        <span class="n">output_exts</span><span class="o">.</span><span class="n">last</span>
<a name="gbab-260"></a>      <span class="k">else</span>
<a name="gbab-261"></a>        <span class="n">output_exts</span><span class="o">[-</span><span class="mi">2</span><span class="o">]</span>
<a name="gbab-262"></a>      <span class="k">end</span>
<a name="gbab-263"></a>    <span class="k">end</span>
<a name="gbab-264"></a>
<a name="gbab-265"></a>    <span class="kp">private</span>
<a name="gbab-266"></a>    <span class="k">def</span> <span class="nf">output_exts</span>
<a name="gbab-267"></a>      <span class="vi">@output_exts</span> <span class="o">||=</span> <span class="n">converters</span><span class="o">.</span><span class="n">map</span> <span class="k">do</span> <span class="o">|</span><span class="n">c</span><span class="o">|</span>
<a name="gbab-268"></a>        <span class="n">c</span><span class="o">.</span><span class="n">output_ext</span><span class="p">(</span><span class="n">document</span><span class="o">.</span><span class="n">extname</span><span class="p">)</span>
<a name="gbab-269"></a>      <span class="k">end</span><span class="o">.</span><span class="n">compact</span>
<a name="gbab-270"></a>    <span class="k">end</span>
<a name="gbab-271"></a>
<a name="gbab-272"></a>    <span class="kp">private</span>
<a name="gbab-273"></a>    <span class="k">def</span> <span class="nf">liquid_options</span>
<a name="gbab-274"></a>      <span class="vi">@liquid_options</span> <span class="o">||=</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;liquid&quot;</span><span class="o">]</span>
<a name="gbab-275"></a>    <span class="k">end</span>
<a name="gbab-276"></a>  <span class="k">end</span>
<a name="gbab-277"></a><span class="k">end</span>
</pre></div>
</td></tr></table>