<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">class</span> <span class="nc">StaticFile</span>
<a name="gbab-5"></a>    <span class="kp">extend</span> <span class="no">Forwardable</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a>    <span class="kp">attr_reader</span> <span class="ss">:relative_path</span><span class="p">,</span> <span class="ss">:extname</span><span class="p">,</span> <span class="ss">:name</span><span class="p">,</span> <span class="ss">:data</span>
<a name="gbab-8"></a>
<a name="gbab-9"></a>    <span class="n">def_delegator</span> <span class="ss">:to_liquid</span><span class="p">,</span> <span class="ss">:to_json</span><span class="p">,</span> <span class="ss">:to_json</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>    <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-12"></a>      <span class="c1"># The cache of last modification times [path] -&gt; mtime.</span>
<a name="gbab-13"></a>      <span class="k">def</span> <span class="nf">mtimes</span>
<a name="gbab-14"></a>        <span class="vi">@mtimes</span> <span class="o">||=</span> <span class="p">{}</span>
<a name="gbab-15"></a>      <span class="k">end</span>
<a name="gbab-16"></a>
<a name="gbab-17"></a>      <span class="k">def</span> <span class="nf">reset_cache</span>
<a name="gbab-18"></a>        <span class="vi">@mtimes</span> <span class="o">=</span> <span class="kp">nil</span>
<a name="gbab-19"></a>      <span class="k">end</span>
<a name="gbab-20"></a>    <span class="k">end</span>
<a name="gbab-21"></a>
<a name="gbab-22"></a>    <span class="c1"># Initialize a new StaticFile.</span>
<a name="gbab-23"></a>    <span class="c1">#</span>
<a name="gbab-24"></a>    <span class="c1"># site - The Site.</span>
<a name="gbab-25"></a>    <span class="c1"># base - The String path to the &lt;source&gt;.</span>
<a name="gbab-26"></a>    <span class="c1"># dir  - The String path between &lt;source&gt; and the file.</span>
<a name="gbab-27"></a>    <span class="c1"># name - The String filename of the file.</span>
<a name="gbab-28"></a>    <span class="c1"># rubocop: disable ParameterLists</span>
<a name="gbab-29"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="nb">name</span><span class="p">,</span> <span class="n">collection</span> <span class="o">=</span> <span class="kp">nil</span><span class="p">)</span>
<a name="gbab-30"></a>      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
<a name="gbab-31"></a>      <span class="vi">@base</span> <span class="o">=</span> <span class="n">base</span>
<a name="gbab-32"></a>      <span class="vi">@dir</span>  <span class="o">=</span> <span class="n">dir</span>
<a name="gbab-33"></a>      <span class="vi">@name</span> <span class="o">=</span> <span class="nb">name</span>
<a name="gbab-34"></a>      <span class="vi">@collection</span> <span class="o">=</span> <span class="n">collection</span>
<a name="gbab-35"></a>      <span class="vi">@relative_path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="o">*[</span><span class="vi">@dir</span><span class="p">,</span> <span class="vi">@name</span><span class="o">].</span><span class="n">compact</span><span class="p">)</span>
<a name="gbab-36"></a>      <span class="vi">@extname</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">extname</span><span class="p">(</span><span class="vi">@name</span><span class="p">)</span>
<a name="gbab-37"></a>      <span class="vi">@data</span> <span class="o">=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">frontmatter_defaults</span><span class="o">.</span><span class="n">all</span><span class="p">(</span><span class="n">relative_path</span><span class="p">,</span> <span class="n">type</span><span class="p">)</span>
<a name="gbab-38"></a>    <span class="k">end</span>
<a name="gbab-39"></a>    <span class="c1"># rubocop: enable ParameterLists</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>    <span class="c1"># Returns source file path.</span>
<a name="gbab-42"></a>    <span class="k">def</span> <span class="nf">path</span>
<a name="gbab-43"></a>      <span class="c1"># Static file is from a collection inside custom collections directory</span>
<a name="gbab-44"></a>      <span class="k">if</span> <span class="o">!</span><span class="vi">@collection</span><span class="o">.</span><span class="n">nil?</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="vi">@site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections_dir&quot;</span><span class="o">].</span><span class="n">empty?</span>
<a name="gbab-45"></a>        <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="o">*[</span><span class="vi">@base</span><span class="p">,</span> <span class="vi">@site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s2">&quot;collections_dir&quot;</span><span class="o">]</span><span class="p">,</span> <span class="vi">@dir</span><span class="p">,</span> <span class="vi">@name</span><span class="o">].</span><span class="n">compact</span><span class="p">)</span>
<a name="gbab-46"></a>      <span class="k">else</span>
<a name="gbab-47"></a>      <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="o">*[</span><span class="vi">@base</span><span class="p">,</span> <span class="vi">@dir</span><span class="p">,</span> <span class="vi">@name</span><span class="o">].</span><span class="n">compact</span><span class="p">)</span>
<a name="gbab-48"></a>    <span class="k">end</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>    <span class="c1"># Obtain destination path.</span>
<a name="gbab-52"></a>    <span class="c1">#</span>
<a name="gbab-53"></a>    <span class="c1"># dest - The String path to the destination dir.</span>
<a name="gbab-54"></a>    <span class="c1">#</span>
<a name="gbab-55"></a>    <span class="c1"># Returns destination file path.</span>
<a name="gbab-56"></a>    <span class="k">def</span> <span class="nf">destination</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-57"></a>      <span class="vi">@site</span><span class="o">.</span><span class="n">in_dest_dir</span><span class="p">(</span><span class="o">*[</span><span class="n">dest</span><span class="p">,</span> <span class="n">destination_rel_dir</span><span class="p">,</span> <span class="vi">@name</span><span class="o">].</span><span class="n">compact</span><span class="p">)</span>
<a name="gbab-58"></a>    <span class="k">end</span>
<a name="gbab-59"></a>
<a name="gbab-60"></a>    <span class="k">def</span> <span class="nf">destination_rel_dir</span>
<a name="gbab-61"></a>      <span class="k">if</span> <span class="vi">@collection</span>
<a name="gbab-62"></a>        <span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">url</span><span class="p">)</span>
<a name="gbab-63"></a>      <span class="k">else</span>
<a name="gbab-64"></a>        <span class="vi">@dir</span>
<a name="gbab-65"></a>    <span class="k">end</span>
<a name="gbab-66"></a>    <span class="k">end</span>
<a name="gbab-67"></a>
<a name="gbab-68"></a>    <span class="k">def</span> <span class="nf">modified_time</span>
<a name="gbab-69"></a>      <span class="vi">@modified_time</span> <span class="o">||=</span> <span class="no">File</span><span class="o">.</span><span class="n">stat</span><span class="p">(</span><span class="n">path</span><span class="p">)</span><span class="o">.</span><span class="n">mtime</span>
<a name="gbab-70"></a>    <span class="k">end</span>
<a name="gbab-71"></a>
<a name="gbab-72"></a>    <span class="c1"># Returns last modification time for this file.</span>
<a name="gbab-73"></a>    <span class="k">def</span> <span class="nf">mtime</span>
<a name="gbab-74"></a>      <span class="n">modified_time</span><span class="o">.</span><span class="n">to_i</span>
<a name="gbab-75"></a>    <span class="k">end</span>
<a name="gbab-76"></a>
<a name="gbab-77"></a>    <span class="c1"># Is source path modified?</span>
<a name="gbab-78"></a>    <span class="c1">#</span>
<a name="gbab-79"></a>    <span class="c1"># Returns true if modified since last write.</span>
<a name="gbab-80"></a>    <span class="k">def</span> <span class="nf">modified?</span>
<a name="gbab-81"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">mtimes</span><span class="o">[</span><span class="n">path</span><span class="o">]</span> <span class="o">!=</span> <span class="n">mtime</span>
<a name="gbab-82"></a>    <span class="k">end</span>
<a name="gbab-83"></a>
<a name="gbab-84"></a>    <span class="c1"># Whether to write the file to the filesystem</span>
<a name="gbab-85"></a>    <span class="c1">#</span>
<a name="gbab-86"></a>    <span class="c1"># Returns true unless the defaults for the destination path from</span>
<a name="gbab-87"></a>    <span class="c1"># _config.yml contain `published: false`.</span>
<a name="gbab-88"></a>    <span class="k">def</span> <span class="nf">write?</span>
<a name="gbab-89"></a>      <span class="n">defaults</span><span class="o">.</span><span class="n">fetch</span><span class="p">(</span><span class="s2">&quot;published&quot;</span><span class="p">,</span> <span class="kp">true</span><span class="p">)</span>
<a name="gbab-90"></a>    <span class="k">end</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>    <span class="c1"># Write the static file to the destination directory (if modified).</span>
<a name="gbab-93"></a>    <span class="c1">#</span>
<a name="gbab-94"></a>    <span class="c1"># dest - The String path to the destination dir.</span>
<a name="gbab-95"></a>    <span class="c1">#</span>
<a name="gbab-96"></a>    <span class="c1"># Returns false if the file was not modified since last time (no-op).</span>
<a name="gbab-97"></a>    <span class="k">def</span> <span class="nf">write</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-98"></a>      <span class="n">dest_path</span> <span class="o">=</span> <span class="n">destination</span><span class="p">(</span><span class="n">dest</span><span class="p">)</span>
<a name="gbab-99"></a>
<a name="gbab-100"></a>      <span class="k">return</span> <span class="kp">false</span> <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">dest_path</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">modified?</span>
<a name="gbab-101"></a>      <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">mtimes</span><span class="o">[</span><span class="n">path</span><span class="o">]</span> <span class="o">=</span> <span class="n">mtime</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">dest_path</span><span class="p">))</span>
<a name="gbab-104"></a>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">rm</span><span class="p">(</span><span class="n">dest_path</span><span class="p">)</span> <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span><span class="p">(</span><span class="n">dest_path</span><span class="p">)</span>
<a name="gbab-105"></a>      <span class="n">copy_file</span><span class="p">(</span><span class="n">dest_path</span><span class="p">)</span>
<a name="gbab-106"></a>
<a name="gbab-107"></a>      <span class="kp">true</span>
<a name="gbab-108"></a>    <span class="k">end</span>
<a name="gbab-109"></a>
<a name="gbab-110"></a>    <span class="k">def</span> <span class="nf">to_liquid</span>
<a name="gbab-111"></a>      <span class="vi">@to_liquid</span> <span class="o">||=</span> <span class="no">Drops</span><span class="o">::</span><span class="no">StaticFileDrop</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="nb">self</span><span class="p">)</span>
<a name="gbab-112"></a>    <span class="k">end</span>
<a name="gbab-113"></a>
<a name="gbab-114"></a>    <span class="k">def</span> <span class="nf">basename</span>
<a name="gbab-115"></a>      <span class="no">File</span><span class="o">.</span><span class="n">basename</span><span class="p">(</span><span class="nb">name</span><span class="p">,</span> <span class="n">extname</span><span class="p">)</span>
<a name="gbab-116"></a>    <span class="k">end</span>
<a name="gbab-117"></a>
<a name="gbab-118"></a>    <span class="k">def</span> <span class="nf">placeholders</span>
<a name="gbab-119"></a>      <span class="p">{</span>
<a name="gbab-120"></a>        <span class="ss">:collection</span> <span class="o">=&gt;</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">label</span><span class="p">,</span>
<a name="gbab-121"></a>        <span class="ss">:path</span>       <span class="o">=&gt;</span> <span class="n">relative_path</span><span class="o">[</span>
<a name="gbab-122"></a>          <span class="vi">@collection</span><span class="o">.</span><span class="n">relative_directory</span><span class="o">.</span><span class="n">size</span><span class="o">..</span><span class="n">relative_path</span><span class="o">.</span><span class="n">size</span><span class="o">]</span><span class="p">,</span>
<a name="gbab-123"></a>        <span class="ss">:output_ext</span> <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-124"></a>        <span class="ss">:name</span>       <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-125"></a>        <span class="ss">:title</span>      <span class="o">=&gt;</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
<a name="gbab-126"></a>      <span class="p">}</span>
<a name="gbab-127"></a>    <span class="k">end</span>
<a name="gbab-128"></a>
<a name="gbab-129"></a>    <span class="c1"># Applies a similar URL-building technique as Jekyll::Document that takes</span>
<a name="gbab-130"></a>    <span class="c1"># the collection&#39;s URL template into account. The default URL template can</span>
<a name="gbab-131"></a>    <span class="c1"># be overriden in the collection&#39;s configuration in _config.yml.</span>
<a name="gbab-132"></a>    <span class="k">def</span> <span class="nf">url</span>
<a name="gbab-133"></a>      <span class="vi">@url</span> <span class="o">||=</span> <span class="k">if</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-134"></a>        <span class="n">relative_path</span>
<a name="gbab-135"></a>      <span class="k">else</span>
<a name="gbab-136"></a>        <span class="o">::</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">URL</span><span class="o">.</span><span class="n">new</span><span class="p">({</span>
<a name="gbab-137"></a>          <span class="ss">:template</span> <span class="o">=&gt;</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">url_template</span><span class="p">,</span>
<a name="gbab-138"></a>                   <span class="ss">:placeholders</span> <span class="o">=&gt;</span> <span class="n">placeholders</span><span class="p">,</span>
<a name="gbab-139"></a>        <span class="p">})</span>
<a name="gbab-140"></a>               <span class="k">end</span><span class="o">.</span><span class="n">to_s</span><span class="o">.</span><span class="n">chomp</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-141"></a>    <span class="k">end</span>
<a name="gbab-142"></a>
<a name="gbab-143"></a>    <span class="c1"># Returns the type of the collection if present, nil otherwise.</span>
<a name="gbab-144"></a>    <span class="k">def</span> <span class="nf">type</span>
<a name="gbab-145"></a>      <span class="vi">@type</span> <span class="o">||=</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">nil?</span> <span class="p">?</span> <span class="kp">nil</span> <span class="p">:</span> <span class="vi">@collection</span><span class="o">.</span><span class="n">label</span><span class="o">.</span><span class="n">to_sym</span>
<a name="gbab-146"></a>    <span class="k">end</span>
<a name="gbab-147"></a>
<a name="gbab-148"></a>    <span class="c1"># Returns the front matter defaults defined for the file&#39;s URL and/or type</span>
<a name="gbab-149"></a>    <span class="c1"># as defined in _config.yml.</span>
<a name="gbab-150"></a>    <span class="k">def</span> <span class="nf">defaults</span>
<a name="gbab-151"></a>      <span class="vi">@defaults</span> <span class="o">||=</span> <span class="vi">@site</span><span class="o">.</span><span class="n">frontmatter_defaults</span><span class="o">.</span><span class="n">all</span> <span class="n">url</span><span class="p">,</span> <span class="n">type</span>
<a name="gbab-152"></a>    <span class="k">end</span>
<a name="gbab-153"></a>
<a name="gbab-154"></a>    <span class="kp">private</span>
<a name="gbab-155"></a>    <span class="k">def</span> <span class="nf">copy_file</span><span class="p">(</span><span class="n">dest_path</span><span class="p">)</span>
<a name="gbab-156"></a>      <span class="k">if</span> <span class="vi">@site</span><span class="o">.</span><span class="n">safe</span> <span class="o">||</span> <span class="no">Jekyll</span><span class="o">.</span><span class="n">env</span> <span class="o">==</span> <span class="s2">&quot;production&quot;</span>
<a name="gbab-157"></a>        <span class="no">FileUtils</span><span class="o">.</span><span class="n">cp</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">dest_path</span><span class="p">)</span>
<a name="gbab-158"></a>      <span class="k">else</span>
<a name="gbab-159"></a>
<a name="gbab-160"></a>      <span class="k">unless</span> <span class="no">File</span><span class="o">.</span><span class="n">symlink?</span><span class="p">(</span><span class="n">dest_path</span><span class="p">)</span>
<a name="gbab-161"></a>        <span class="no">FileUtils</span><span class="o">.</span><span class="n">copy_entry</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">dest_path</span><span class="p">)</span>
<a name="gbab-162"></a>      <span class="k">end</span>
<a name="gbab-163"></a>      <span class="no">File</span><span class="o">.</span><span class="n">utime</span><span class="p">(</span><span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">mtimes</span><span class="o">[</span><span class="n">path</span><span class="o">]</span><span class="p">,</span> <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">mtimes</span><span class="o">[</span><span class="n">path</span><span class="o">]</span><span class="p">,</span> <span class="n">dest_path</span><span class="p">)</span>
<a name="gbab-164"></a>    <span class="k">end</span>
<a name="gbab-165"></a><span class="k">end</span>
<a name="gbab-166"></a>  <span class="k">end</span>
<a name="gbab-167"></a><span class="k">end</span>
</pre></div>
</td></tr></table>