<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Tags</span>
<a name="gbab-5"></a>  <span class="k">class</span> <span class="nc">PostComparer</span>
<a name="gbab-6"></a>      <span class="no">MATCHER</span> <span class="o">=</span> <span class="sr">%r!^(.+/)*(\d+-\d+-\d+)-(.*)$!</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>      <span class="kp">attr_reader</span> <span class="ss">:path</span><span class="p">,</span> <span class="ss">:date</span><span class="p">,</span> <span class="ss">:slug</span><span class="p">,</span> <span class="ss">:name</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="nb">name</span><span class="p">)</span>
<a name="gbab-11"></a>        <span class="vi">@name</span> <span class="o">=</span> <span class="nb">name</span>
<a name="gbab-12"></a>
<a name="gbab-13"></a>        <span class="n">all</span><span class="p">,</span> <span class="vi">@path</span><span class="p">,</span> <span class="vi">@date</span><span class="p">,</span> <span class="vi">@slug</span> <span class="o">=</span> <span class="o">*</span><span class="nb">name</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="sr">%r!^/!</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="no">MATCHER</span><span class="p">)</span>
<a name="gbab-14"></a>        <span class="k">unless</span> <span class="n">all</span>
<a name="gbab-15"></a>          <span class="k">raise</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">InvalidPostNameError</span><span class="p">,</span>
<a name="gbab-16"></a>            <span class="s2">&quot;&#39;</span><span class="si">#{</span><span class="nb">name</span><span class="si">}</span><span class="s2">&#39; does not contain valid date and/or title.&quot;</span>
<a name="gbab-17"></a>        <span class="k">end</span>
<a name="gbab-18"></a>
<a name="gbab-19"></a>        <span class="n">escaped_slug</span> <span class="o">=</span> <span class="no">Regexp</span><span class="o">.</span><span class="n">escape</span><span class="p">(</span><span class="n">slug</span><span class="p">)</span>
<a name="gbab-20"></a>        <span class="vi">@name_regex</span> <span class="o">=</span> <span class="sr">%r!^_posts/</span><span class="si">#{</span><span class="n">path</span><span class="si">}#{</span><span class="n">date</span><span class="si">}</span><span class="sr">-</span><span class="si">#{</span><span class="n">escaped_slug</span><span class="si">}</span><span class="sr">\.[^.]+|</span>
<a name="gbab-21"></a><span class="sr">          ^</span><span class="si">#{</span><span class="n">path</span><span class="si">}</span><span class="sr">_posts/?</span><span class="si">#{</span><span class="n">date</span><span class="si">}</span><span class="sr">-</span><span class="si">#{</span><span class="n">escaped_slug</span><span class="si">}</span><span class="sr">\.[^.]+!x</span>
<a name="gbab-22"></a>    <span class="k">end</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>      <span class="k">def</span> <span class="nf">post_date</span>
<a name="gbab-25"></a>        <span class="vi">@post_date</span> <span class="o">||=</span> <span class="no">Utils</span><span class="o">.</span><span class="n">parse_date</span><span class="p">(</span><span class="n">date</span><span class="p">,</span>
<a name="gbab-26"></a>          <span class="s2">&quot;</span><span class="se">\&quot;</span><span class="si">#{</span><span class="n">date</span><span class="si">}</span><span class="se">\&quot;</span><span class="s2"> does not contain valid date and/or title.&quot;</span><span class="p">)</span>
<a name="gbab-27"></a>      <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>      <span class="k">def</span> <span class="nf">==</span><span class="p">(</span><span class="n">other</span><span class="p">)</span>
<a name="gbab-30"></a>        <span class="n">other</span><span class="o">.</span><span class="n">relative_path</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="vi">@name_regex</span><span class="p">)</span>
<a name="gbab-31"></a>      <span class="k">end</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>      <span class="k">def</span> <span class="nf">deprecated_equality</span><span class="p">(</span><span class="n">other</span><span class="p">)</span>
<a name="gbab-34"></a>        <span class="n">slug</span> <span class="o">==</span> <span class="n">post_slug</span><span class="p">(</span><span class="n">other</span><span class="p">)</span> <span class="o">&amp;&amp;</span>
<a name="gbab-35"></a>          <span class="n">post_date</span><span class="o">.</span><span class="n">year</span>  <span class="o">==</span> <span class="n">other</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">year</span> <span class="o">&amp;&amp;</span>
<a name="gbab-36"></a>          <span class="n">post_date</span><span class="o">.</span><span class="n">month</span> <span class="o">==</span> <span class="n">other</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">month</span> <span class="o">&amp;&amp;</span>
<a name="gbab-37"></a>          <span class="n">post_date</span><span class="o">.</span><span class="n">day</span>   <span class="o">==</span> <span class="n">other</span><span class="o">.</span><span class="n">date</span><span class="o">.</span><span class="n">day</span>
<a name="gbab-38"></a>      <span class="k">end</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a>      <span class="kp">private</span>
<a name="gbab-41"></a>      <span class="c1"># Construct the directory-aware post slug for a Jekyll::Post</span>
<a name="gbab-42"></a>      <span class="c1">#</span>
<a name="gbab-43"></a>      <span class="c1"># other - the Jekyll::Post</span>
<a name="gbab-44"></a>      <span class="c1">#</span>
<a name="gbab-45"></a>      <span class="c1"># Returns the post slug with the subdirectory (relative to _posts)</span>
<a name="gbab-46"></a>      <span class="k">def</span> <span class="nf">post_slug</span><span class="p">(</span><span class="n">other</span><span class="p">)</span>
<a name="gbab-47"></a>        <span class="n">path</span> <span class="o">=</span> <span class="n">other</span><span class="o">.</span><span class="n">basename</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span><span class="o">[</span><span class="mi">0</span><span class="o">...-</span><span class="mi">1</span><span class="o">].</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-48"></a>        <span class="k">if</span> <span class="n">path</span><span class="o">.</span><span class="n">nil?</span> <span class="o">||</span> <span class="n">path</span> <span class="o">==</span> <span class="s2">&quot;&quot;</span>
<a name="gbab-49"></a>          <span class="n">other</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;slug&quot;</span><span class="o">]</span>
<a name="gbab-50"></a>        <span class="k">else</span>
<a name="gbab-51"></a>          <span class="n">path</span> <span class="o">+</span> <span class="s2">&quot;/&quot;</span> <span class="o">+</span> <span class="n">other</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s2">&quot;slug&quot;</span><span class="o">]</span>
<a name="gbab-52"></a>        <span class="k">end</span>
<a name="gbab-53"></a>      <span class="k">end</span>
<a name="gbab-54"></a>  <span class="k">end</span>
<a name="gbab-55"></a>
<a name="gbab-56"></a>  <span class="k">class</span> <span class="nc">PostUrl</span> <span class="o">&lt;</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Tag</span>
<a name="gbab-57"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">tag_name</span><span class="p">,</span> <span class="n">post</span><span class="p">,</span> <span class="n">tokens</span><span class="p">)</span>
<a name="gbab-58"></a>      <span class="k">super</span>
<a name="gbab-59"></a>      <span class="vi">@orig_post</span> <span class="o">=</span> <span class="n">post</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-60"></a>        <span class="k">begin</span>
<a name="gbab-61"></a>      <span class="vi">@post</span> <span class="o">=</span> <span class="no">PostComparer</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="vi">@orig_post</span><span class="p">)</span>
<a name="gbab-62"></a>        <span class="k">rescue</span> <span class="no">StandardError</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-63"></a>          <span class="k">raise</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">PostURLError</span><span class="p">,</span> <span class="o">&lt;&lt;-</span><span class="no">MSG</span>
<a name="gbab-64"></a><span class="sh">Could not parse name of post &quot;#{@orig_post}&quot; in tag &#39;post_url&#39;.</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a><span class="sh">Make sure the post exists and the name is correct.</span>
<a name="gbab-67"></a>
<a name="gbab-68"></a><span class="sh">#{e.class}: #{e.message}</span>
<a name="gbab-69"></a><span class="no">MSG</span>
<a name="gbab-70"></a>        <span class="k">end</span>
<a name="gbab-71"></a>    <span class="k">end</span>
<a name="gbab-72"></a>
<a name="gbab-73"></a>    <span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-74"></a>      <span class="n">site</span> <span class="o">=</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-75"></a>      
<a name="gbab-76"></a>        <span class="n">site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="nb">p</span><span class="o">|</span>
<a name="gbab-77"></a>          <span class="k">return</span> <span class="nb">p</span><span class="o">.</span><span class="n">url</span> <span class="k">if</span> <span class="vi">@post</span> <span class="o">==</span> <span class="nb">p</span>
<a name="gbab-78"></a>      <span class="k">end</span>
<a name="gbab-79"></a>
<a name="gbab-80"></a>        <span class="c1"># New matching method did not match, fall back to old method</span>
<a name="gbab-81"></a>        <span class="c1"># with deprecation warning if this matches</span>
<a name="gbab-82"></a>
<a name="gbab-83"></a>        <span class="n">site</span><span class="o">.</span><span class="n">posts</span><span class="o">.</span><span class="n">docs</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="nb">p</span><span class="o">|</span>
<a name="gbab-84"></a>          <span class="k">next</span> <span class="k">unless</span> <span class="vi">@post</span><span class="o">.</span><span class="n">deprecated_equality</span> <span class="nb">p</span>
<a name="gbab-85"></a>          <span class="no">Jekyll</span><span class="o">::</span><span class="no">Deprecator</span><span class="o">.</span><span class="n">deprecation_message</span> <span class="s2">&quot;A call to &quot;</span><span class="p">\</span>
<a name="gbab-86"></a>            <span class="s2">&quot;&#39;{% post_url </span><span class="si">#{</span><span class="vi">@post</span><span class="o">.</span><span class="n">name</span><span class="si">}</span><span class="s2"> %}&#39; did not match &quot;</span> <span class="p">\</span>
<a name="gbab-87"></a>              <span class="s2">&quot;a post using the new matching method of checking name &quot;</span> <span class="p">\</span>
<a name="gbab-88"></a>              <span class="s2">&quot;(path-date-slug) equality. Please make sure that you &quot;</span> <span class="p">\</span>
<a name="gbab-89"></a>              <span class="s2">&quot;change this tag to match the post&#39;s name exactly.&quot;</span>
<a name="gbab-90"></a>          <span class="k">return</span> <span class="nb">p</span><span class="o">.</span><span class="n">url</span>
<a name="gbab-91"></a>        <span class="k">end</span>
<a name="gbab-92"></a>
<a name="gbab-93"></a>        <span class="k">raise</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Errors</span><span class="o">::</span><span class="no">PostURLError</span><span class="p">,</span> <span class="o">&lt;&lt;-</span><span class="no">MSG</span>
<a name="gbab-94"></a><span class="sh">Could not find post &quot;#{@orig_post}&quot; in tag &#39;post_url&#39;.</span>
<a name="gbab-95"></a>
<a name="gbab-96"></a><span class="sh">Make sure the post exists and the name is correct.</span>
<a name="gbab-97"></a><span class="no">MSG</span>
<a name="gbab-98"></a>    <span class="k">end</span>
<a name="gbab-99"></a>  <span class="k">end</span>
<a name="gbab-100"></a><span class="k">end</span>
<a name="gbab-101"></a><span class="k">end</span>
<a name="gbab-102"></a>
<a name="gbab-103"></a><span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">register_tag</span><span class="p">(</span><span class="s2">&quot;post_url&quot;</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Tags</span><span class="o">::</span><span class="no">PostUrl</span><span class="p">)</span>
</pre></div>
</td></tr></table>