<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Tags</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">Link</span> <span class="o">&lt;</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Tag</span>
<a name="gbab-6"></a>      <span class="k">class</span> <span class="o">&lt;&lt;</span> <span class="nb">self</span>
<a name="gbab-7"></a>        <span class="k">def</span> <span class="nf">tag_name</span>
<a name="gbab-8"></a>          <span class="nb">self</span><span class="o">.</span><span class="n">name</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;::&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">last</span><span class="o">.</span><span class="n">downcase</span>
<a name="gbab-9"></a>        <span class="k">end</span>
<a name="gbab-10"></a>      <span class="k">end</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>      <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">tag_name</span><span class="p">,</span> <span class="n">relative_path</span><span class="p">,</span> <span class="n">tokens</span><span class="p">)</span>
<a name="gbab-13"></a>        <span class="k">super</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>        <span class="vi">@relative_path</span> <span class="o">=</span> <span class="n">relative_path</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-16"></a>      <span class="k">end</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>      <span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-19"></a>        <span class="n">site</span> <span class="o">=</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>        <span class="n">site</span><span class="o">.</span><span class="n">each_site_file</span> <span class="k">do</span> <span class="o">|</span><span class="n">item</span><span class="o">|</span>
<a name="gbab-22"></a>          <span class="k">return</span> <span class="n">item</span><span class="o">.</span><span class="n">url</span> <span class="k">if</span> <span class="n">item</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="vi">@relative_path</span>
<a name="gbab-23"></a>          <span class="c1"># This takes care of the case for static files that have a leading /</span>
<a name="gbab-24"></a>          <span class="k">return</span> <span class="n">item</span><span class="o">.</span><span class="n">url</span> <span class="k">if</span> <span class="n">item</span><span class="o">.</span><span class="n">relative_path</span> <span class="o">==</span> <span class="s2">&quot;/</span><span class="si">#{</span><span class="vi">@relative_path</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-25"></a>        <span class="k">end</span>
<a name="gbab-26"></a>
<a name="gbab-27"></a>        <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="o">&lt;&lt;-</span><span class="no">MSG</span>
<a name="gbab-28"></a><span class="sh">Could not find document &#39;#{@relative_path}&#39; in tag &#39;#{self.class.tag_name}&#39;.</span>
<a name="gbab-29"></a>
<a name="gbab-30"></a><span class="sh">Make sure the document exists and the path is correct.</span>
<a name="gbab-31"></a><span class="no">MSG</span>
<a name="gbab-32"></a>      <span class="k">end</span>
<a name="gbab-33"></a>    <span class="k">end</span>
<a name="gbab-34"></a>  <span class="k">end</span>
<a name="gbab-35"></a><span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a><span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">register_tag</span><span class="p">(</span><span class="no">Jekyll</span><span class="o">::</span><span class="no">Tags</span><span class="o">::</span><span class="no">Link</span><span class="o">.</span><span class="n">tag_name</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Tags</span><span class="o">::</span><span class="no">Link</span><span class="p">)</span>
</pre></div>
</td></tr></table>