<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Tags</span>
<a name="gbab-5"></a>    <span class="k">class</span> <span class="nc">IncludeTagError</span> <span class="o">&lt;</span> <span class="no">StandardError</span>
<a name="gbab-6"></a>      <span class="kp">attr_accessor</span> <span class="ss">:path</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>      <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">msg</span><span class="p">,</span> <span class="n">path</span><span class="p">)</span>
<a name="gbab-9"></a>        <span class="k">super</span><span class="p">(</span><span class="n">msg</span><span class="p">)</span>
<a name="gbab-10"></a>        <span class="vi">@path</span> <span class="o">=</span> <span class="n">path</span>
<a name="gbab-11"></a>      <span class="k">end</span>
<a name="gbab-12"></a>    <span class="k">end</span>
<a name="gbab-13"></a>
<a name="gbab-14"></a>  <span class="k">class</span> <span class="nc">IncludeTag</span> <span class="o">&lt;</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Tag</span>
<a name="gbab-15"></a>      <span class="no">VALID_SYNTAX</span> <span class="o">=</span> <span class="sr">%r!</span>
<a name="gbab-16"></a><span class="sr">        ([\w-]+)\s*=\s*</span>
<a name="gbab-17"></a><span class="sr">        (?:&quot;([^&quot;\\]*(?:\\.[^&quot;\\]*)*)&quot;|&#39;([^&#39;\\]*(?:\\.[^&#39;\\]*)*)&#39;|([\w\.-]+))</span>
<a name="gbab-18"></a><span class="sr">      !x</span>
<a name="gbab-19"></a>      <span class="no">VARIABLE_SYNTAX</span> <span class="o">=</span> <span class="sr">%r!</span>
<a name="gbab-20"></a><span class="sr">        (?&lt;variable&gt;[^{]*(\{\{\s*[\w\-\.]+\s*(\|.*)?\}\}[^\s{}]*)+)</span>
<a name="gbab-21"></a><span class="sr">        (?&lt;params&gt;.*)</span>
<a name="gbab-22"></a><span class="sr">      !x</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>      <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">tag_name</span><span class="p">,</span> <span class="n">markup</span><span class="p">,</span> <span class="n">tokens</span><span class="p">)</span>
<a name="gbab-25"></a>      <span class="k">super</span>
<a name="gbab-26"></a>        <span class="n">matched</span> <span class="o">=</span> <span class="n">markup</span><span class="o">.</span><span class="n">strip</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="no">VARIABLE_SYNTAX</span><span class="p">)</span>
<a name="gbab-27"></a>        <span class="k">if</span> <span class="n">matched</span>
<a name="gbab-28"></a>          <span class="vi">@file</span> <span class="o">=</span> <span class="n">matched</span><span class="o">[</span><span class="s2">&quot;variable&quot;</span><span class="o">].</span><span class="n">strip</span>
<a name="gbab-29"></a>          <span class="vi">@params</span> <span class="o">=</span> <span class="n">matched</span><span class="o">[</span><span class="s2">&quot;params&quot;</span><span class="o">].</span><span class="n">strip</span>
<a name="gbab-30"></a>        <span class="k">else</span>
<a name="gbab-31"></a>          <span class="vi">@file</span><span class="p">,</span> <span class="vi">@params</span> <span class="o">=</span> <span class="n">markup</span><span class="o">.</span><span class="n">strip</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="sr">%r!\s+!</span><span class="p">,</span> <span class="mi">2</span><span class="p">)</span>
<a name="gbab-32"></a>        <span class="k">end</span>
<a name="gbab-33"></a>        <span class="n">validate_params</span> <span class="k">if</span> <span class="vi">@params</span>
<a name="gbab-34"></a>        <span class="vi">@tag_name</span> <span class="o">=</span> <span class="n">tag_name</span>
<a name="gbab-35"></a>      <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>      <span class="k">def</span> <span class="nf">syntax_example</span>
<a name="gbab-38"></a>        <span class="s2">&quot;{% </span><span class="si">#{</span><span class="vi">@tag_name</span><span class="si">}</span><span class="s2"> file.ext param=&#39;value&#39; param2=&#39;value&#39; %}&quot;</span>
<a name="gbab-39"></a>      <span class="k">end</span>
<a name="gbab-40"></a>
<a name="gbab-41"></a>      <span class="k">def</span> <span class="nf">parse_params</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-42"></a>        <span class="n">params</span> <span class="o">=</span> <span class="p">{}</span>
<a name="gbab-43"></a>        <span class="n">markup</span> <span class="o">=</span> <span class="vi">@params</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>        <span class="k">while</span> <span class="p">(</span><span class="n">match</span> <span class="o">=</span> <span class="no">VALID_SYNTAX</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="n">markup</span><span class="p">))</span>
<a name="gbab-46"></a>          <span class="n">markup</span> <span class="o">=</span> <span class="n">markup</span><span class="o">[</span><span class="n">match</span><span class="o">.</span><span class="n">end</span><span class="p">(</span><span class="mi">0</span><span class="p">)</span><span class="o">..-</span><span class="mi">1</span><span class="o">]</span>
<a name="gbab-47"></a>
<a name="gbab-48"></a>          <span class="n">value</span> <span class="o">=</span> <span class="k">if</span> <span class="n">match</span><span class="o">[</span><span class="mi">2</span><span class="o">]</span>
<a name="gbab-49"></a>                    <span class="n">match</span><span class="o">[</span><span class="mi">2</span><span class="o">].</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!\\&quot;!</span><span class="p">,</span> <span class="s1">&#39;&quot;&#39;</span><span class="p">)</span>
<a name="gbab-50"></a>          <span class="k">elsif</span> <span class="n">match</span><span class="o">[</span><span class="mi">3</span><span class="o">]</span>
<a name="gbab-51"></a>                    <span class="n">match</span><span class="o">[</span><span class="mi">3</span><span class="o">].</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!\\&#39;!</span><span class="p">,</span> <span class="s2">&quot;&#39;&quot;</span><span class="p">)</span>
<a name="gbab-52"></a>          <span class="k">elsif</span> <span class="n">match</span><span class="o">[</span><span class="mi">4</span><span class="o">]</span>
<a name="gbab-53"></a>            <span class="n">context</span><span class="o">[</span><span class="n">match</span><span class="o">[</span><span class="mi">4</span><span class="o">]]</span>
<a name="gbab-54"></a>          <span class="k">end</span>
<a name="gbab-55"></a>
<a name="gbab-56"></a>          <span class="n">params</span><span class="o">[</span><span class="n">match</span><span class="o">[</span><span class="mi">1</span><span class="o">]]</span> <span class="o">=</span> <span class="n">value</span>
<a name="gbab-57"></a>        <span class="k">end</span>
<a name="gbab-58"></a>        <span class="n">params</span>
<a name="gbab-59"></a>    <span class="k">end</span>
<a name="gbab-60"></a>    
<a name="gbab-61"></a>      <span class="k">def</span> <span class="nf">validate_file_name</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-62"></a>        <span class="k">if</span> <span class="n">file</span> <span class="o">!~</span> <span class="sr">%r!^[a-zA-Z0-9_/\.-]+$!</span> <span class="o">||</span> <span class="n">file</span> <span class="o">=~</span> <span class="sr">%r!\./!</span> <span class="o">||</span> <span class="n">file</span> <span class="o">=~</span> <span class="sr">%r!/\.!</span>
<a name="gbab-63"></a>          <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="o">&lt;&lt;-</span><span class="no">MSG</span>
<a name="gbab-64"></a><span class="sh">Invalid syntax for include tag. File contains invalid characters or sequences:</span>
<a name="gbab-65"></a>
<a name="gbab-66"></a><span class="sh">	#{file}</span>
<a name="gbab-67"></a>
<a name="gbab-68"></a><span class="sh">Valid syntax:</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a><span class="sh">  #{syntax_example}</span>
<a name="gbab-71"></a>
<a name="gbab-72"></a><span class="no">MSG</span>
<a name="gbab-73"></a>        <span class="k">end</span>
<a name="gbab-74"></a>      <span class="k">end</span>
<a name="gbab-75"></a>
<a name="gbab-76"></a>      <span class="k">def</span> <span class="nf">validate_params</span>
<a name="gbab-77"></a>        <span class="n">full_valid_syntax</span> <span class="o">=</span> <span class="sr">%r!\A\s*(?:</span><span class="si">#{</span><span class="no">VALID_SYNTAX</span><span class="si">}</span><span class="sr">(?=\s|\z)\s*)*\z!</span>
<a name="gbab-78"></a>        <span class="k">unless</span> <span class="vi">@params</span> <span class="o">=~</span> <span class="n">full_valid_syntax</span>
<a name="gbab-79"></a>          <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="o">&lt;&lt;-</span><span class="no">MSG</span>
<a name="gbab-80"></a><span class="sh">Invalid syntax for include tag:</span>
<a name="gbab-81"></a>
<a name="gbab-82"></a><span class="sh">	#{@params}</span>
<a name="gbab-83"></a>
<a name="gbab-84"></a><span class="sh">Valid syntax:</span>
<a name="gbab-85"></a>
<a name="gbab-86"></a><span class="sh">  #{syntax_example}</span>
<a name="gbab-87"></a>
<a name="gbab-88"></a><span class="no">MSG</span>
<a name="gbab-89"></a>        <span class="k">end</span>
<a name="gbab-90"></a>      <span class="k">end</span>
<a name="gbab-91"></a>
<a name="gbab-92"></a>      <span class="c1"># Grab file read opts in the context</span>
<a name="gbab-93"></a>      <span class="k">def</span> <span class="nf">file_read_opts</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-94"></a>        <span class="n">validate_dir</span><span class="p">(</span><span class="n">dir</span><span class="p">,</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">].</span><span class="n">safe</span><span class="p">)</span>
<a name="gbab-95"></a>    <span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-96"></a>        <span class="n">dir</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">].</span><span class="n">source</span><span class="p">,</span> <span class="no">INCLUDES_DIR</span><span class="p">)</span>
<a name="gbab-97"></a>      <span class="c1"># Render the variable if required</span>
<a name="gbab-98"></a>      <span class="k">def</span> <span class="nf">render_variable</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-99"></a>        <span class="k">if</span> <span class="vi">@file</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="no">VARIABLE_SYNTAX</span><span class="p">)</span>
<a name="gbab-100"></a>          <span class="n">partial</span> <span class="o">=</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-101"></a>            <span class="o">.</span><span class="n">liquid_renderer</span>
<a name="gbab-102"></a>            <span class="o">.</span><span class="n">file</span><span class="p">(</span><span class="s2">&quot;(variable)&quot;</span><span class="p">)</span>
<a name="gbab-103"></a>            <span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="vi">@file</span><span class="p">)</span>
<a name="gbab-104"></a>          <span class="n">partial</span><span class="o">.</span><span class="n">render!</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-105"></a>        <span class="k">end</span>
<a name="gbab-106"></a>      <span class="k">end</span>
<a name="gbab-107"></a>
<a name="gbab-108"></a>      <span class="k">def</span> <span class="nf">tag_includes_dirs</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-109"></a>        <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">].</span><span class="n">includes_load_paths</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-110"></a>      <span class="k">end</span>
<a name="gbab-111"></a>
<a name="gbab-112"></a>      <span class="k">def</span> <span class="nf">locate_include_file</span><span class="p">(</span><span class="n">context</span><span class="p">,</span> <span class="n">file</span><span class="p">,</span> <span class="n">safe</span><span class="p">)</span>
<a name="gbab-113"></a>        <span class="n">includes_dirs</span> <span class="o">=</span> <span class="n">tag_includes_dirs</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-114"></a>        <span class="n">includes_dirs</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">dir</span><span class="o">|</span>
<a name="gbab-115"></a>          <span class="n">path</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">dir</span><span class="o">.</span><span class="n">to_s</span><span class="p">,</span> <span class="n">file</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<a name="gbab-116"></a>          <span class="k">return</span> <span class="n">path</span> <span class="k">if</span> <span class="n">valid_include_file?</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">dir</span><span class="o">.</span><span class="n">to_s</span><span class="p">,</span> <span class="n">safe</span><span class="p">)</span>
<a name="gbab-117"></a>        <span class="k">end</span>
<a name="gbab-118"></a>        <span class="k">raise</span> <span class="no">IOError</span><span class="p">,</span> <span class="n">could_not_locate_message</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="n">includes_dirs</span><span class="p">,</span> <span class="n">safe</span><span class="p">)</span>
<a name="gbab-119"></a>      <span class="k">end</span>
<a name="gbab-120"></a>
<a name="gbab-121"></a>        <span class="n">validate_file</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">].</span><span class="n">safe</span><span class="p">)</span>
<a name="gbab-122"></a>        <span class="n">site</span> <span class="o">=</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-123"></a>
<a name="gbab-124"></a>        <span class="n">file</span> <span class="o">=</span> <span class="n">render_variable</span><span class="p">(</span><span class="n">context</span><span class="p">)</span> <span class="o">||</span> <span class="vi">@file</span>
<a name="gbab-125"></a>        <span class="n">validate_file_name</span><span class="p">(</span><span class="n">file</span><span class="p">)</span>
<a name="gbab-126"></a>
<a name="gbab-127"></a>        <span class="n">path</span> <span class="o">=</span> <span class="n">locate_include_file</span><span class="p">(</span><span class="n">context</span><span class="p">,</span> <span class="n">file</span><span class="p">,</span> <span class="n">site</span><span class="o">.</span><span class="n">safe</span><span class="p">)</span>
<a name="gbab-128"></a>        <span class="k">return</span> <span class="k">unless</span> <span class="n">path</span>
<a name="gbab-129"></a>
<a name="gbab-130"></a>        <span class="n">add_include_to_dependency</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">path</span><span class="p">,</span> <span class="n">context</span><span class="p">)</span>
<a name="gbab-131"></a>
<a name="gbab-132"></a>        <span class="n">partial</span> <span class="o">=</span> <span class="n">load_cached_partial</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">context</span><span class="p">)</span>
<a name="gbab-133"></a>
<a name="gbab-134"></a>        <span class="n">context</span><span class="o">.</span><span class="n">stack</span> <span class="k">do</span>
<a name="gbab-135"></a>          <span class="n">context</span><span class="o">[</span><span class="s2">&quot;include&quot;</span><span class="o">]</span> <span class="o">=</span> <span class="n">parse_params</span><span class="p">(</span><span class="n">context</span><span class="p">)</span> <span class="k">if</span> <span class="vi">@params</span>
<a name="gbab-136"></a>          <span class="k">begin</span>
<a name="gbab-137"></a>          <span class="n">partial</span><span class="o">.</span><span class="n">render!</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-138"></a>          <span class="k">rescue</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Error</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-139"></a>            <span class="n">e</span><span class="o">.</span><span class="n">template_name</span> <span class="o">=</span> <span class="n">path</span>
<a name="gbab-140"></a>            <span class="n">e</span><span class="o">.</span><span class="n">markup_context</span> <span class="o">=</span> <span class="s2">&quot;included &quot;</span> <span class="k">if</span> <span class="n">e</span><span class="o">.</span><span class="n">markup_context</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-141"></a>            <span class="k">raise</span> <span class="n">e</span>
<a name="gbab-142"></a>          <span class="k">end</span>
<a name="gbab-143"></a>        <span class="k">end</span>
<a name="gbab-144"></a>      <span class="k">end</span>
<a name="gbab-145"></a>
<a name="gbab-146"></a>      <span class="k">def</span> <span class="nf">add_include_to_dependency</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">path</span><span class="p">,</span> <span class="n">context</span><span class="p">)</span>
<a name="gbab-147"></a>        <span class="k">if</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:page</span><span class="o">]</span> <span class="o">&amp;&amp;</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:page</span><span class="o">].</span><span class="n">key?</span><span class="p">(</span><span class="s2">&quot;path&quot;</span><span class="p">)</span>
<a name="gbab-148"></a>          <span class="n">site</span><span class="o">.</span><span class="n">regenerator</span><span class="o">.</span><span class="n">add_dependency</span><span class="p">(</span>
<a name="gbab-149"></a>            <span class="n">site</span><span class="o">.</span><span class="n">in_source_dir</span><span class="p">(</span><span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:page</span><span class="o">][</span><span class="s2">&quot;path&quot;</span><span class="o">]</span><span class="p">),</span>
<a name="gbab-150"></a>          <span class="n">path</span>
<a name="gbab-151"></a>        <span class="p">)</span>
<a name="gbab-152"></a>        <span class="k">end</span>
<a name="gbab-153"></a>      <span class="k">end</span>
<a name="gbab-154"></a>
<a name="gbab-155"></a>      <span class="k">def</span> <span class="nf">load_cached_partial</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">context</span><span class="p">)</span>
<a name="gbab-156"></a>        <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:cached_partials</span><span class="o">]</span> <span class="o">||=</span> <span class="p">{}</span>
<a name="gbab-157"></a>        <span class="n">cached_partial</span> <span class="o">=</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:cached_partials</span><span class="o">]</span>
<a name="gbab-158"></a>
<a name="gbab-159"></a>        <span class="k">if</span> <span class="n">cached_partial</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-160"></a>          <span class="n">cached_partial</span><span class="o">[</span><span class="n">path</span><span class="o">]</span>
<a name="gbab-161"></a>        <span class="k">else</span>
<a name="gbab-162"></a>          <span class="n">unparsed_file</span> <span class="o">=</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">]</span>
<a name="gbab-163"></a>            <span class="o">.</span><span class="n">liquid_renderer</span>
<a name="gbab-164"></a>            <span class="o">.</span><span class="n">file</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-165"></a>          <span class="k">begin</span>
<a name="gbab-166"></a>            <span class="n">cached_partial</span><span class="o">[</span><span class="n">path</span><span class="o">]</span> <span class="o">=</span> <span class="n">unparsed_file</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">read_file</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">context</span><span class="p">))</span>
<a name="gbab-167"></a>          <span class="k">rescue</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Error</span> <span class="o">=&gt;</span> <span class="n">e</span>
<a name="gbab-168"></a>            <span class="n">e</span><span class="o">.</span><span class="n">template_name</span> <span class="o">=</span> <span class="n">path</span>
<a name="gbab-169"></a>            <span class="n">e</span><span class="o">.</span><span class="n">markup_context</span> <span class="o">=</span> <span class="s2">&quot;included &quot;</span> <span class="k">if</span> <span class="n">e</span><span class="o">.</span><span class="n">markup_context</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-170"></a>            <span class="k">raise</span> <span class="n">e</span>
<a name="gbab-171"></a>          <span class="k">end</span>
<a name="gbab-172"></a>        <span class="k">end</span>
<a name="gbab-173"></a>      <span class="k">end</span>
<a name="gbab-174"></a>
<a name="gbab-175"></a>      <span class="k">def</span> <span class="nf">valid_include_file?</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="n">safe</span><span class="p">)</span>
<a name="gbab-176"></a>        <span class="o">!</span><span class="n">outside_site_source?</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="n">safe</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="no">File</span><span class="o">.</span><span class="n">file?</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-177"></a>      <span class="k">end</span>
<a name="gbab-178"></a>
<a name="gbab-179"></a>      <span class="k">def</span> <span class="nf">outside_site_source?</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="n">safe</span><span class="p">)</span>
<a name="gbab-180"></a>        <span class="n">safe</span> <span class="o">&amp;&amp;</span> <span class="o">!</span><span class="n">realpath_prefixed_with?</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">dir</span><span class="p">)</span>
<a name="gbab-181"></a>      <span class="k">end</span>
<a name="gbab-182"></a>
<a name="gbab-183"></a>        <span class="n">relative_file</span> <span class="o">=</span> <span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">file</span><span class="p">)</span><span class="o">.</span><span class="n">relative_path_from</span><span class="p">(</span><span class="no">Pathname</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">sourcedir</span><span class="p">))</span>
<a name="gbab-184"></a>      <span class="k">def</span> <span class="nf">realpath_prefixed_with?</span><span class="p">(</span><span class="n">path</span><span class="p">,</span> <span class="n">dir</span><span class="p">)</span>
<a name="gbab-185"></a>      <span class="k">rescue</span> <span class="no">StandardError</span>
<a name="gbab-186"></a>        <span class="kp">false</span>
<a name="gbab-187"></a>          <span class="k">raise</span> <span class="no">IOError</span><span class="o">.</span><span class="n">new</span> <span class="s2">&quot;Included file &#39;</span><span class="si">#{</span><span class="n">relative_file</span><span class="si">}</span><span class="s2">&#39; not found&quot;</span> 
<a name="gbab-188"></a>      <span class="k">end</span>
<a name="gbab-189"></a>
<a name="gbab-190"></a>      <span class="k">def</span> <span class="nf">read_file</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="n">context</span><span class="p">)</span>
<a name="gbab-191"></a>      <span class="k">def</span> <span class="nf">source</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="n">context</span><span class="p">)</span>
<a name="gbab-192"></a>        <span class="no">File</span><span class="o">.</span><span class="n">read</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="n">file_read_opts</span><span class="p">(</span><span class="n">context</span><span class="p">))</span>
<a name="gbab-193"></a>
<a name="gbab-194"></a>      <span class="kp">private</span>
<a name="gbab-195"></a>
<a name="gbab-196"></a>      <span class="k">def</span> <span class="nf">could_not_locate_message</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="n">includes_dirs</span><span class="p">,</span> <span class="n">safe</span><span class="p">)</span>
<a name="gbab-197"></a>        <span class="n">message</span> <span class="o">=</span> <span class="s2">&quot;Could not locate the included file &#39;</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="s2">&#39; in any of &quot;</span><span class="p">\</span>
<a name="gbab-198"></a>          <span class="s2">&quot;</span><span class="si">#{</span><span class="n">includes_dirs</span><span class="si">}</span><span class="s2">. Ensure it exists in one of those directories and&quot;</span>
<a name="gbab-199"></a>        <span class="n">message</span> <span class="o">+</span> <span class="k">if</span> <span class="n">safe</span>
<a name="gbab-200"></a>                    <span class="s2">&quot; is not a symlink as those are not allowed in safe mode.&quot;</span>
<a name="gbab-201"></a>                  <span class="k">else</span>
<a name="gbab-202"></a>                    <span class="s2">&quot;, if it is a symlink, does not point outside your site source.&quot;</span>
<a name="gbab-203"></a>                  <span class="k">end</span>
<a name="gbab-204"></a>      <span class="k">end</span>
<a name="gbab-205"></a>      <span class="k">end</span>
<a name="gbab-206"></a>
<a name="gbab-207"></a>    <span class="k">class</span> <span class="nc">IncludeRelativeTag</span> <span class="o">&lt;</span> <span class="no">IncludeTag</span>
<a name="gbab-208"></a>      <span class="k">def</span> <span class="nf">tag_includes_dirs</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-209"></a>        <span class="nb">Array</span><span class="p">(</span><span class="n">page_path</span><span class="p">(</span><span class="n">context</span><span class="p">))</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-210"></a>      <span class="k">end</span>
<a name="gbab-211"></a>
<a name="gbab-212"></a>      <span class="k">def</span> <span class="nf">page_path</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
<a name="gbab-213"></a>        <span class="k">if</span> <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:page</span><span class="o">].</span><span class="n">nil?</span>
<a name="gbab-214"></a>          <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">].</span><span class="n">source</span>
<a name="gbab-215"></a>        <span class="k">else</span>
<a name="gbab-216"></a>          <span class="n">current_doc_dir</span> <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:page</span><span class="o">][</span><span class="s2">&quot;path&quot;</span><span class="o">]</span><span class="p">)</span>
<a name="gbab-217"></a>          <span class="n">context</span><span class="o">.</span><span class="n">registers</span><span class="o">[</span><span class="ss">:site</span><span class="o">].</span><span class="n">in_source_dir</span> <span class="n">current_doc_dir</span>
<a name="gbab-218"></a>      <span class="k">end</span>
<a name="gbab-219"></a>      <span class="k">end</span>
<a name="gbab-220"></a>    <span class="k">end</span>
<a name="gbab-221"></a>  <span class="k">end</span>
<a name="gbab-222"></a>  <span class="k">end</span>
<a name="gbab-223"></a><span class="k">end</span>
<a name="gbab-224"></a><span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">register_tag</span><span class="p">(</span><span class="s2">&quot;include&quot;</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Tags</span><span class="o">::</span><span class="no">IncludeTag</span><span class="p">)</span>
<a name="gbab-225"></a><span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">register_tag</span><span class="p">(</span><span class="s2">&quot;include_relative&quot;</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Tags</span><span class="o">::</span><span class="no">IncludeRelativeTag</span><span class="p">)</span>
<a name="gbab-226"></a><span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">register_tag</span><span class="p">(</span><span class="s1">&#39;include&#39;</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">Tags</span><span class="o">::</span><span class="no">IncludeTag</span><span class="p">)</span>
</pre></div>
</td></tr></table>