<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;open3&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-6"></a>  <span class="k">module</span> <span class="nn">Utils</span>
<a name="gbab-7"></a>    <span class="k">module</span> <span class="nn">Exec</span>
<a name="gbab-8"></a>      <span class="kp">extend</span> <span class="nb">self</span>
<a name="gbab-9"></a>
<a name="gbab-10"></a>      <span class="c1"># Runs a program in a sub-shell.</span>
<a name="gbab-11"></a>      <span class="c1">#</span>
<a name="gbab-12"></a>      <span class="c1"># *args - a list of strings containing the program name and arguments</span>
<a name="gbab-13"></a>      <span class="c1">#</span>
<a name="gbab-14"></a>      <span class="c1"># Returns a Process::Status and a String of output in an array in</span>
<a name="gbab-15"></a>      <span class="c1"># that order.</span>
<a name="gbab-16"></a>      <span class="k">def</span> <span class="nf">run</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-17"></a>        <span class="n">stdin</span><span class="p">,</span> <span class="n">stdout</span><span class="p">,</span> <span class="n">stderr</span><span class="p">,</span> <span class="n">process</span> <span class="o">=</span> <span class="no">Open3</span><span class="o">.</span><span class="n">popen3</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-18"></a>        <span class="n">out</span> <span class="o">=</span> <span class="n">stdout</span><span class="o">.</span><span class="n">read</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-19"></a>        <span class="n">err</span> <span class="o">=</span> <span class="n">stderr</span><span class="o">.</span><span class="n">read</span><span class="o">.</span><span class="n">strip</span>
<a name="gbab-20"></a>
<a name="gbab-21"></a>        <span class="o">[</span><span class="n">stdin</span><span class="p">,</span> <span class="n">stdout</span><span class="p">,</span> <span class="n">stderr</span><span class="o">].</span><span class="n">each</span><span class="p">(</span><span class="o">&amp;</span><span class="ss">:close</span><span class="p">)</span>
<a name="gbab-22"></a>        <span class="o">[</span><span class="n">process</span><span class="o">.</span><span class="n">value</span><span class="p">,</span> <span class="n">out</span> <span class="o">+</span> <span class="n">err</span><span class="o">]</span>
<a name="gbab-23"></a>      <span class="k">end</span>
<a name="gbab-24"></a>
<a name="gbab-25"></a>    <span class="k">end</span>
<a name="gbab-26"></a>  <span class="k">end</span>
<a name="gbab-27"></a><span class="k">end</span>
</pre></div>
</td></tr></table>