<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;addressable/uri&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="c1"># Public: Methods that generate a URL for a resource such as a Post or a Page.</span>
<a name="gbab-6"></a><span class="c1">#</span>
<a name="gbab-7"></a><span class="c1"># Examples</span>
<a name="gbab-8"></a><span class="c1">#</span>
<a name="gbab-9"></a><span class="c1">#   URL.new({</span>
<a name="gbab-10"></a><span class="c1">#     :template =&gt; /:categories/:title.html&quot;,</span>
<a name="gbab-11"></a><span class="c1">#     :placeholders =&gt; {:categories =&gt; &quot;ruby&quot;, :title =&gt; &quot;something&quot;}</span>
<a name="gbab-12"></a><span class="c1">#   }).to_s</span>
<a name="gbab-13"></a><span class="c1">#</span>
<a name="gbab-14"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-15"></a>  <span class="k">class</span> <span class="nc">URL</span>
<a name="gbab-16"></a>    <span class="c1"># options - One of :permalink or :template must be supplied.</span>
<a name="gbab-17"></a>    <span class="c1">#           :template     - The String used as template for URL generation,</span>
<a name="gbab-18"></a>    <span class="c1">#                           for example &quot;/:path/:basename:output_ext&quot;, where</span>
<a name="gbab-19"></a>    <span class="c1">#                           a placeholder is prefixed with a colon.</span>
<a name="gbab-20"></a>    <span class="c1">#           :placeholders - A hash containing the placeholders which will be</span>
<a name="gbab-21"></a>    <span class="c1">#                           replaced when used inside the template. E.g.</span>
<a name="gbab-22"></a>    <span class="c1">#                           { &quot;year&quot; =&gt; Time.now.strftime(&quot;%Y&quot;) } would replace</span>
<a name="gbab-23"></a>    <span class="c1">#                           the placeholder &quot;:year&quot; with the current year.</span>
<a name="gbab-24"></a>    <span class="c1">#           :permalink    - If supplied, no URL will be generated from the</span>
<a name="gbab-25"></a>    <span class="c1">#                           template. Instead, the given permalink will be</span>
<a name="gbab-26"></a>    <span class="c1">#                           used as URL.</span>
<a name="gbab-27"></a>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">options</span><span class="p">)</span>
<a name="gbab-28"></a>      <span class="vi">@template</span> <span class="o">=</span> <span class="n">options</span><span class="o">[</span><span class="ss">:template</span><span class="o">]</span>
<a name="gbab-29"></a>      <span class="vi">@placeholders</span> <span class="o">=</span> <span class="n">options</span><span class="o">[</span><span class="ss">:placeholders</span><span class="o">]</span> <span class="o">||</span> <span class="p">{}</span>
<a name="gbab-30"></a>      <span class="vi">@permalink</span> <span class="o">=</span> <span class="n">options</span><span class="o">[</span><span class="ss">:permalink</span><span class="o">]</span>
<a name="gbab-31"></a>
<a name="gbab-32"></a>      <span class="k">if</span> <span class="p">(</span><span class="vi">@template</span> <span class="o">||</span> <span class="vi">@permalink</span><span class="p">)</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-33"></a>        <span class="k">raise</span> <span class="no">ArgumentError</span><span class="p">,</span> <span class="s2">&quot;One of :template or :permalink must be supplied.&quot;</span>
<a name="gbab-34"></a>      <span class="k">end</span>
<a name="gbab-35"></a>    <span class="k">end</span>
<a name="gbab-36"></a>
<a name="gbab-37"></a>    <span class="c1"># The generated relative URL of the resource</span>
<a name="gbab-38"></a>    <span class="c1">#</span>
<a name="gbab-39"></a>    <span class="c1"># Returns the String URL</span>
<a name="gbab-40"></a>    <span class="k">def</span> <span class="nf">to_s</span>
<a name="gbab-41"></a>      <span class="n">sanitize_url</span><span class="p">(</span><span class="n">generated_permalink</span> <span class="o">||</span> <span class="n">generated_url</span><span class="p">)</span>
<a name="gbab-42"></a>    <span class="k">end</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a>    <span class="c1"># Generates a URL from the permalink</span>
<a name="gbab-45"></a>    <span class="c1">#</span>
<a name="gbab-46"></a>    <span class="c1"># Returns the _unsanitized String URL</span>
<a name="gbab-47"></a>    <span class="k">def</span> <span class="nf">generated_permalink</span>
<a name="gbab-48"></a>      <span class="p">(</span><span class="vi">@generated_permalink</span> <span class="o">||=</span> <span class="n">generate_url</span><span class="p">(</span><span class="vi">@permalink</span><span class="p">))</span> <span class="k">if</span> <span class="vi">@permalink</span>
<a name="gbab-49"></a>    <span class="k">end</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>    <span class="c1"># Generates a URL from the template</span>
<a name="gbab-52"></a>    <span class="c1">#</span>
<a name="gbab-53"></a>    <span class="c1"># Returns the unsanitized String URL</span>
<a name="gbab-54"></a>    <span class="k">def</span> <span class="nf">generated_url</span>
<a name="gbab-55"></a>      <span class="vi">@generated_url</span> <span class="o">||=</span> <span class="n">generate_url</span><span class="p">(</span><span class="vi">@template</span><span class="p">)</span>
<a name="gbab-56"></a>    <span class="k">end</span>
<a name="gbab-57"></a>
<a name="gbab-58"></a>    <span class="c1"># Internal: Generate the URL by replacing all placeholders with their</span>
<a name="gbab-59"></a>    <span class="c1"># respective values in the given template</span>
<a name="gbab-60"></a>    <span class="c1">#</span>
<a name="gbab-61"></a>    <span class="c1"># Returns the unsanitized String URL</span>
<a name="gbab-62"></a>    <span class="k">def</span> <span class="nf">generate_url</span><span class="p">(</span><span class="n">template</span><span class="p">)</span>
<a name="gbab-63"></a>      <span class="k">if</span> <span class="vi">@placeholders</span><span class="o">.</span><span class="n">is_a?</span> <span class="no">Drops</span><span class="o">::</span><span class="no">UrlDrop</span>
<a name="gbab-64"></a>        <span class="n">generate_url_from_drop</span><span class="p">(</span><span class="n">template</span><span class="p">)</span>
<a name="gbab-65"></a>      <span class="k">else</span>
<a name="gbab-66"></a>        <span class="n">generate_url_from_hash</span><span class="p">(</span><span class="n">template</span><span class="p">)</span>
<a name="gbab-67"></a>      <span class="k">end</span>
<a name="gbab-68"></a>    <span class="k">end</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>    <span class="k">def</span> <span class="nf">generate_url_from_hash</span><span class="p">(</span><span class="n">template</span><span class="p">)</span>
<a name="gbab-71"></a>      <span class="vi">@placeholders</span><span class="o">.</span><span class="n">inject</span><span class="p">(</span><span class="n">template</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">result</span><span class="p">,</span> <span class="n">token</span><span class="o">|</span>
<a name="gbab-72"></a>        <span class="k">break</span> <span class="n">result</span> <span class="k">if</span> <span class="n">result</span><span class="o">.</span><span class="n">index</span><span class="p">(</span><span class="s2">&quot;:&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-73"></a>        <span class="k">if</span> <span class="n">token</span><span class="o">.</span><span class="n">last</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-74"></a>          <span class="c1"># Remove leading &quot;/&quot; to avoid generating urls with `//`</span>
<a name="gbab-75"></a>          <span class="n">result</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;/:</span><span class="si">#{</span><span class="n">token</span><span class="o">.</span><span class="n">first</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
<a name="gbab-76"></a>        <span class="k">else</span>
<a name="gbab-77"></a>          <span class="n">result</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;:</span><span class="si">#{</span><span class="n">token</span><span class="o">.</span><span class="n">first</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span> <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">escape_path</span><span class="p">(</span><span class="n">token</span><span class="o">.</span><span class="n">last</span><span class="p">))</span>
<a name="gbab-78"></a>      <span class="k">end</span>
<a name="gbab-79"></a>    <span class="k">end</span>
<a name="gbab-80"></a>    <span class="k">end</span>
<a name="gbab-81"></a>
<a name="gbab-82"></a>    <span class="c1"># We include underscores in keys to allow for &#39;i_month&#39; and so forth.</span>
<a name="gbab-83"></a>    <span class="c1"># This poses a problem for keys which are followed by an underscore</span>
<a name="gbab-84"></a>    <span class="c1"># but the underscore is not part of the key, e.g. &#39;/:month_:day&#39;.</span>
<a name="gbab-85"></a>    <span class="c1"># That should be :month and :day, but our key extraction regexp isn&#39;t</span>
<a name="gbab-86"></a>    <span class="c1"># smart enough to know that so we have to make it an explicit</span>
<a name="gbab-87"></a>    <span class="c1"># possibility.</span>
<a name="gbab-88"></a>    <span class="k">def</span> <span class="nf">possible_keys</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
<a name="gbab-89"></a>      <span class="k">if</span> <span class="n">key</span><span class="o">.</span><span class="n">end_with?</span><span class="p">(</span><span class="s2">&quot;_&quot;</span><span class="p">)</span>
<a name="gbab-90"></a>        <span class="o">[</span><span class="n">key</span><span class="p">,</span> <span class="n">key</span><span class="o">.</span><span class="n">chomp</span><span class="p">(</span><span class="s2">&quot;_&quot;</span><span class="p">)</span><span class="o">]</span>
<a name="gbab-91"></a>      <span class="k">else</span>
<a name="gbab-92"></a>        <span class="o">[</span><span class="n">key</span><span class="o">]</span>
<a name="gbab-93"></a>      <span class="k">end</span>
<a name="gbab-94"></a>    <span class="k">end</span>
<a name="gbab-95"></a>
<a name="gbab-96"></a>    <span class="k">def</span> <span class="nf">generate_url_from_drop</span><span class="p">(</span><span class="n">template</span><span class="p">)</span>
<a name="gbab-97"></a>      <span class="n">template</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">%r!:([a-z_]+)!</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">match</span><span class="o">|</span>
<a name="gbab-98"></a>        <span class="n">pool</span> <span class="o">=</span> <span class="n">possible_keys</span><span class="p">(</span><span class="n">match</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="s2">&quot;:&quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">))</span>
<a name="gbab-99"></a>
<a name="gbab-100"></a>        <span class="n">winner</span> <span class="o">=</span> <span class="n">pool</span><span class="o">.</span><span class="n">find</span> <span class="p">{</span> <span class="o">|</span><span class="n">key</span><span class="o">|</span> <span class="vi">@placeholders</span><span class="o">.</span><span class="n">key?</span><span class="p">(</span><span class="n">key</span><span class="p">)</span> <span class="p">}</span>
<a name="gbab-101"></a>        <span class="k">if</span> <span class="n">winner</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-102"></a>          <span class="k">raise</span> <span class="no">NoMethodError</span><span class="p">,</span>
<a name="gbab-103"></a>            <span class="s2">&quot;The URL template doesn&#39;t have </span><span class="si">#{</span><span class="n">pool</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot; or &quot;</span><span class="p">)</span><span class="si">}</span><span class="s2"> keys. &quot;</span><span class="p">\</span>
<a name="gbab-104"></a>              <span class="s2">&quot;Check your permalink template!&quot;</span>
<a name="gbab-105"></a>        <span class="k">end</span>
<a name="gbab-106"></a>
<a name="gbab-107"></a>        <span class="n">value</span> <span class="o">=</span> <span class="vi">@placeholders</span><span class="o">[</span><span class="n">winner</span><span class="o">]</span>
<a name="gbab-108"></a>        <span class="n">value</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span> <span class="k">if</span> <span class="n">value</span><span class="o">.</span><span class="n">nil?</span>
<a name="gbab-109"></a>        <span class="n">replacement</span> <span class="o">=</span> <span class="nb">self</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">escape_path</span><span class="p">(</span><span class="n">value</span><span class="p">)</span>
<a name="gbab-110"></a>
<a name="gbab-111"></a>        <span class="n">match</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="s2">&quot;:</span><span class="si">#{</span><span class="n">winner</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span> <span class="n">replacement</span><span class="p">)</span>
<a name="gbab-112"></a>      <span class="k">end</span><span class="o">.</span><span class="n">squeeze</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-113"></a>    <span class="k">end</span>
<a name="gbab-114"></a>
<a name="gbab-115"></a>    <span class="c1"># Returns a sanitized String URL, stripping &quot;../../&quot; and multiples of &quot;/&quot;,</span>
<a name="gbab-116"></a>    <span class="c1"># as well as the beginning &quot;/&quot; so we can enforce and ensure it.</span>
<a name="gbab-117"></a>
<a name="gbab-118"></a>    <span class="k">def</span> <span class="nf">sanitize_url</span><span class="p">(</span><span class="n">str</span><span class="p">)</span>
<a name="gbab-119"></a>      <span class="s2">&quot;/</span><span class="si">#{</span><span class="n">str</span><span class="si">}</span><span class="s2">&quot;</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;..&quot;</span><span class="p">,</span> <span class="s2">&quot;/&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;./&quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">squeeze</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<a name="gbab-120"></a>
<a name="gbab-121"></a>    <span class="c1"># Escapes a path to be a valid URL path segment</span>
<a name="gbab-122"></a>    <span class="c1">#</span>
<a name="gbab-123"></a>    <span class="c1"># path - The path to be escaped.</span>
<a name="gbab-124"></a>    <span class="c1">#</span>
<a name="gbab-125"></a>    <span class="c1"># Examples:</span>
<a name="gbab-126"></a>    <span class="c1">#</span>
<a name="gbab-127"></a>    <span class="c1">#   URL.escape_path(&quot;/a b&quot;)</span>
<a name="gbab-128"></a>    <span class="c1">#   # =&gt; &quot;/a%20b&quot;</span>
<a name="gbab-129"></a>    <span class="c1">#</span>
<a name="gbab-130"></a>    <span class="c1"># Returns the escaped path.</span>
<a name="gbab-131"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">escape_path</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-132"></a>      <span class="c1"># Because URI.escape doesn&#39;t escape &quot;?&quot;, &quot;[&quot; and &quot;]&quot; by default,</span>
<a name="gbab-133"></a>      <span class="c1"># specify unsafe string (except unreserved, sub-delims, &quot;:&quot;, &quot;@&quot; and &quot;/&quot;).</span>
<a name="gbab-134"></a>      <span class="c1">#</span>
<a name="gbab-135"></a>      <span class="c1"># URI path segment is defined in RFC 3986 as follows:</span>
<a name="gbab-136"></a>      <span class="c1">#   segment       = *pchar</span>
<a name="gbab-137"></a>      <span class="c1">#   pchar         = unreserved / pct-encoded / sub-delims / &quot;:&quot; / &quot;@&quot;</span>
<a name="gbab-138"></a>      <span class="c1">#   unreserved    = ALPHA / DIGIT / &quot;-&quot; / &quot;.&quot; / &quot;_&quot; / &quot;~&quot;</span>
<a name="gbab-139"></a>      <span class="c1">#   pct-encoded   = &quot;%&quot; HEXDIG HEXDIG</span>
<a name="gbab-140"></a>      <span class="c1">#   sub-delims    = &quot;!&quot; / &quot;$&quot; / &quot;&amp;&quot; / &quot;&#39;&quot; / &quot;(&quot; / &quot;)&quot;</span>
<a name="gbab-141"></a>      <span class="c1">#                 / &quot;*&quot; / &quot;+&quot; / &quot;,&quot; / &quot;;&quot; / &quot;=&quot;</span>
<a name="gbab-142"></a>      <span class="n">path</span> <span class="o">=</span> <span class="no">Addressable</span><span class="o">::</span><span class="no">URI</span><span class="o">.</span><span class="n">encode</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-143"></a>      <span class="n">path</span><span class="o">.</span><span class="n">encode</span><span class="p">(</span><span class="s2">&quot;utf-8&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="s2">&quot;#&quot;</span><span class="p">,</span> <span class="s2">&quot;%23&quot;</span><span class="p">)</span>
<a name="gbab-144"></a>    <span class="k">end</span>
<a name="gbab-145"></a>
<a name="gbab-146"></a>    <span class="c1"># Unescapes a URL path segment</span>
<a name="gbab-147"></a>    <span class="c1">#</span>
<a name="gbab-148"></a>    <span class="c1"># path - The path to be unescaped.</span>
<a name="gbab-149"></a>    <span class="c1">#</span>
<a name="gbab-150"></a>    <span class="c1"># Examples:</span>
<a name="gbab-151"></a>    <span class="c1">#</span>
<a name="gbab-152"></a>    <span class="c1">#   URL.unescape_path(&quot;/a%20b&quot;)</span>
<a name="gbab-153"></a>    <span class="c1">#   # =&gt; &quot;/a b&quot;</span>
<a name="gbab-154"></a>    <span class="c1">#</span>
<a name="gbab-155"></a>    <span class="c1"># Returns the unescaped path.</span>
<a name="gbab-156"></a>    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">unescape_path</span><span class="p">(</span><span class="n">path</span><span class="p">)</span>
<a name="gbab-157"></a>      <span class="no">Addressable</span><span class="o">::</span><span class="no">URI</span><span class="o">.</span><span class="n">unencode</span><span class="p">(</span><span class="n">path</span><span class="o">.</span><span class="n">encode</span><span class="p">(</span><span class="s2">&quot;utf-8&quot;</span><span class="p">))</span>
<a name="gbab-158"></a>    <span class="k">end</span>
</pre></div>
</td></tr></table>