<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Utils</span>
<a name="gbab-5"></a>    <span class="k">module</span> <span class="nn">Rouge</span>
<a name="gbab-6"></a>
<a name="gbab-7"></a>      <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">html_formatter</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-8"></a>        <span class="no">Jekyll</span><span class="o">::</span><span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="s2">&quot;rouge&quot;</span><span class="p">)</span> <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="o">::</span><span class="no">Rouge</span><span class="p">)</span>
<a name="gbab-9"></a>        <span class="k">if</span> <span class="n">old_api?</span>
<a name="gbab-10"></a>          <span class="o">::</span><span class="no">Rouge</span><span class="o">::</span><span class="no">Formatters</span><span class="o">::</span><span class="no">HTML</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-11"></a>        <span class="k">else</span>
<a name="gbab-12"></a>          <span class="o">::</span><span class="no">Rouge</span><span class="o">::</span><span class="no">Formatters</span><span class="o">::</span><span class="no">HTMLLegacy</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">)</span>
<a name="gbab-13"></a>        <span class="k">end</span>
<a name="gbab-14"></a>      <span class="k">end</span>
<a name="gbab-15"></a>
<a name="gbab-16"></a>      <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">old_api?</span>
<a name="gbab-17"></a>        <span class="o">::</span><span class="no">Rouge</span><span class="o">.</span><span class="n">version</span><span class="o">.</span><span class="n">to_s</span> <span class="o">&lt;</span> <span class="s2">&quot;2&quot;</span>
<a name="gbab-18"></a>      <span class="k">end</span>
<a name="gbab-19"></a>    <span class="k">end</span>
<a name="gbab-20"></a>  <span class="k">end</span>
<a name="gbab-21"></a><span class="k">end</span>
</pre></div>
</td></tr></table>