<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Utils</span>
<a name="gbab-5"></a>    <span class="k">module</span> <span class="nn">Platforms</span>
<a name="gbab-6"></a>      <span class="kp">extend</span> <span class="nb">self</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>      <span class="c1"># Provides jruby? and mri? which respectively detect these two types of</span>
<a name="gbab-9"></a>      <span class="c1"># tested Engines we support, in the future we might probably support the</span>
<a name="gbab-10"></a>      <span class="c1"># other one that everyone used to talk about.</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>      <span class="p">{</span> <span class="ss">:jruby?</span> <span class="o">=&gt;</span> <span class="s2">&quot;jruby&quot;</span><span class="p">,</span> <span class="ss">:mri?</span> <span class="o">=&gt;</span> <span class="s2">&quot;ruby&quot;</span> <span class="p">}</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">k</span><span class="p">,</span> <span class="n">v</span><span class="o">|</span>
<a name="gbab-13"></a>        <span class="n">define_method</span> <span class="n">k</span> <span class="k">do</span>
<a name="gbab-14"></a>          <span class="o">::</span><span class="no">RUBY_ENGINE</span> <span class="o">==</span> <span class="n">v</span>
<a name="gbab-15"></a>        <span class="k">end</span>
<a name="gbab-16"></a>      <span class="k">end</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>      <span class="c1"># --</span>
<a name="gbab-19"></a>      <span class="c1"># Allows you to detect &quot;real&quot; Windows, or what we would consider</span>
<a name="gbab-20"></a>      <span class="c1"># &quot;real&quot; Windows.  That is, that we can pass the basic test and the</span>
<a name="gbab-21"></a>      <span class="c1"># /proc/version returns nothing to us.</span>
<a name="gbab-22"></a>      <span class="c1"># --</span>
<a name="gbab-23"></a>
<a name="gbab-24"></a>      <span class="k">def</span> <span class="nf">vanilla_windows?</span>
<a name="gbab-25"></a>        <span class="no">RbConfig</span><span class="o">::</span><span class="no">CONFIG</span><span class="o">[</span><span class="s2">&quot;host_os&quot;</span><span class="o">]</span> <span class="o">=~</span> <span class="sr">%r!mswin|mingw|cygwin!i</span> <span class="o">&amp;&amp;</span> <span class="p">\</span>
<a name="gbab-26"></a>          <span class="o">!</span><span class="n">proc_version</span>
<a name="gbab-27"></a>      <span class="k">end</span>
<a name="gbab-28"></a>
<a name="gbab-29"></a>      <span class="c1"># --</span>
<a name="gbab-30"></a>      <span class="c1"># XXX: Remove in 4.0</span>
<a name="gbab-31"></a>      <span class="c1"># --</span>
<a name="gbab-32"></a>
<a name="gbab-33"></a>      <span class="n">alias_method</span> <span class="ss">:really_windows?</span><span class="p">,</span> <span class="p">\</span>
<a name="gbab-34"></a>        <span class="ss">:vanilla_windows?</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>      <span class="c1">#</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a>      <span class="k">def</span> <span class="nf">bash_on_windows?</span>
<a name="gbab-39"></a>        <span class="no">RbConfig</span><span class="o">::</span><span class="no">CONFIG</span><span class="o">[</span><span class="s2">&quot;host_os&quot;</span><span class="o">]</span> <span class="o">=~</span> <span class="sr">%r!linux!</span> <span class="o">&amp;&amp;</span> <span class="p">\</span>
<a name="gbab-40"></a>          <span class="n">proc_version</span> <span class="o">=~</span> <span class="sr">%r!microsoft!i</span>
<a name="gbab-41"></a>      <span class="k">end</span>
<a name="gbab-42"></a>
<a name="gbab-43"></a>      <span class="c1">#</span>
<a name="gbab-44"></a>
<a name="gbab-45"></a>      <span class="k">def</span> <span class="nf">windows?</span>
<a name="gbab-46"></a>        <span class="n">vanilla_windows?</span> <span class="o">||</span> <span class="n">bash_on_windows?</span>
<a name="gbab-47"></a>      <span class="k">end</span>
<a name="gbab-48"></a>
<a name="gbab-49"></a>      <span class="c1">#</span>
<a name="gbab-50"></a>
<a name="gbab-51"></a>      <span class="k">def</span> <span class="nf">linux?</span>
<a name="gbab-52"></a>        <span class="no">RbConfig</span><span class="o">::</span><span class="no">CONFIG</span><span class="o">[</span><span class="s2">&quot;host_os&quot;</span><span class="o">]</span> <span class="o">=~</span> <span class="sr">%r!linux!</span> <span class="o">&amp;&amp;</span> <span class="p">\</span>
<a name="gbab-53"></a>          <span class="n">proc_version</span> <span class="o">!~</span> <span class="sr">%r!microsoft!i</span>
<a name="gbab-54"></a>      <span class="k">end</span>
<a name="gbab-55"></a>
<a name="gbab-56"></a>      <span class="c1"># Provides windows?, linux?, osx?, unix? so that we can detect</span>
<a name="gbab-57"></a>      <span class="c1"># platforms. This is mostly useful for `jekyll doctor` and for testing</span>
<a name="gbab-58"></a>      <span class="c1"># where we kick off certain tests based on the platform.</span>
<a name="gbab-59"></a>
<a name="gbab-60"></a>      <span class="p">{</span> <span class="ss">:osx?</span> <span class="o">=&gt;</span> <span class="sr">%r!darwin|mac os!</span><span class="p">,</span> <span class="ss">:unix?</span> <span class="o">=&gt;</span> <span class="sr">%r!solaris|bsd!</span> <span class="p">}</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">k</span><span class="p">,</span> <span class="n">v</span><span class="o">|</span>
<a name="gbab-61"></a>        <span class="n">define_method</span> <span class="n">k</span> <span class="k">do</span>
<a name="gbab-62"></a>          <span class="o">!!</span><span class="p">(</span>
<a name="gbab-63"></a>            <span class="no">RbConfig</span><span class="o">::</span><span class="no">CONFIG</span><span class="o">[</span><span class="s2">&quot;host_os&quot;</span><span class="o">]</span> <span class="o">=~</span> <span class="n">v</span>
<a name="gbab-64"></a>          <span class="p">)</span>
<a name="gbab-65"></a>        <span class="k">end</span>
<a name="gbab-66"></a>      <span class="k">end</span>
<a name="gbab-67"></a>
<a name="gbab-68"></a>      <span class="c1">#</span>
<a name="gbab-69"></a>
<a name="gbab-70"></a>      <span class="kp">private</span>
<a name="gbab-71"></a>      <span class="k">def</span> <span class="nf">proc_version</span>
<a name="gbab-72"></a>        <span class="vi">@cached_proc_version</span> <span class="o">||=</span> <span class="k">begin</span>
<a name="gbab-73"></a>          <span class="no">Pathutil</span><span class="o">.</span><span class="n">new</span><span class="p">(</span>
<a name="gbab-74"></a>            <span class="s2">&quot;/proc/version&quot;</span>
<a name="gbab-75"></a>          <span class="p">)</span><span class="o">.</span><span class="n">read</span>
<a name="gbab-76"></a>        <span class="k">rescue</span> <span class="no">Errno</span><span class="o">::</span><span class="no">ENOENT</span>
<a name="gbab-77"></a>          <span class="kp">nil</span>
<a name="gbab-78"></a>        <span class="k">end</span>
<a name="gbab-79"></a>      <span class="k">end</span>
<a name="gbab-80"></a>    <span class="k">end</span>
<a name="gbab-81"></a>  <span class="k">end</span>
<a name="gbab-82"></a><span class="k">end</span>
</pre></div>
</td></tr></table>