<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;thread&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-6"></a>  <span class="k">module</span> <span class="nn">Utils</span>
<a name="gbab-7"></a>    <span class="c1"># Based on the pattern and code from</span>
<a name="gbab-8"></a>    <span class="c1"># https://emptysqua.re/blog/an-event-synchronization-primitive-for-ruby/</span>
<a name="gbab-9"></a>    <span class="k">class</span> <span class="nc">ThreadEvent</span>
<a name="gbab-10"></a>      <span class="kp">attr_reader</span> <span class="ss">:flag</span>
<a name="gbab-11"></a>
<a name="gbab-12"></a>      <span class="k">def</span> <span class="nf">initialize</span>
<a name="gbab-13"></a>        <span class="vi">@lock</span> <span class="o">=</span> <span class="no">Mutex</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-14"></a>        <span class="vi">@cond</span> <span class="o">=</span> <span class="no">ConditionVariable</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-15"></a>        <span class="vi">@flag</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-16"></a>      <span class="k">end</span>
<a name="gbab-17"></a>
<a name="gbab-18"></a>      <span class="k">def</span> <span class="nf">set</span>
<a name="gbab-19"></a>        <span class="vi">@lock</span><span class="o">.</span><span class="n">synchronize</span> <span class="k">do</span>
<a name="gbab-20"></a>          <span class="k">yield</span> <span class="k">if</span> <span class="nb">block_given?</span>
<a name="gbab-21"></a>          <span class="vi">@flag</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-22"></a>          <span class="vi">@cond</span><span class="o">.</span><span class="n">broadcast</span>
<a name="gbab-23"></a>        <span class="k">end</span>
<a name="gbab-24"></a>      <span class="k">end</span>
<a name="gbab-25"></a>
<a name="gbab-26"></a>      <span class="k">def</span> <span class="nf">wait</span>
<a name="gbab-27"></a>        <span class="vi">@lock</span><span class="o">.</span><span class="n">synchronize</span> <span class="k">do</span>
<a name="gbab-28"></a>          <span class="k">unless</span> <span class="vi">@flag</span>
<a name="gbab-29"></a>            <span class="vi">@cond</span><span class="o">.</span><span class="n">wait</span><span class="p">(</span><span class="vi">@lock</span><span class="p">)</span>
<a name="gbab-30"></a>          <span class="k">end</span>
<a name="gbab-31"></a>        <span class="k">end</span>
<a name="gbab-32"></a>      <span class="k">end</span>
<a name="gbab-33"></a>    <span class="k">end</span>
<a name="gbab-34"></a>  <span class="k">end</span>
<a name="gbab-35"></a><span class="k">end</span>
<a name="gbab-36"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-37"></a>
<a name="gbab-38"></a><span class="nb">require</span> <span class="s2">&quot;thread&quot;</span>
<a name="gbab-39"></a>
<a name="gbab-40"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-41"></a>  <span class="k">module</span> <span class="nn">Utils</span>
<a name="gbab-42"></a>    <span class="c1"># Based on the pattern and code from</span>
<a name="gbab-43"></a>    <span class="c1"># https://emptysqua.re/blog/an-event-synchronization-primitive-for-ruby/</span>
<a name="gbab-44"></a>    <span class="k">class</span> <span class="nc">ThreadEvent</span>
<a name="gbab-45"></a>      <span class="kp">attr_reader</span> <span class="ss">:flag</span>
<a name="gbab-46"></a>
<a name="gbab-47"></a>      <span class="k">def</span> <span class="nf">initialize</span>
<a name="gbab-48"></a>        <span class="vi">@lock</span> <span class="o">=</span> <span class="no">Mutex</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-49"></a>        <span class="vi">@cond</span> <span class="o">=</span> <span class="no">ConditionVariable</span><span class="o">.</span><span class="n">new</span>
<a name="gbab-50"></a>        <span class="vi">@flag</span> <span class="o">=</span> <span class="kp">false</span>
<a name="gbab-51"></a>      <span class="k">end</span>
<a name="gbab-52"></a>
<a name="gbab-53"></a>      <span class="k">def</span> <span class="nf">set</span>
<a name="gbab-54"></a>        <span class="vi">@lock</span><span class="o">.</span><span class="n">synchronize</span> <span class="k">do</span>
<a name="gbab-55"></a>          <span class="k">yield</span> <span class="k">if</span> <span class="nb">block_given?</span>
<a name="gbab-56"></a>          <span class="vi">@flag</span> <span class="o">=</span> <span class="kp">true</span>
<a name="gbab-57"></a>          <span class="vi">@cond</span><span class="o">.</span><span class="n">broadcast</span>
<a name="gbab-58"></a>        <span class="k">end</span>
<a name="gbab-59"></a>      <span class="k">end</span>
<a name="gbab-60"></a>
<a name="gbab-61"></a>      <span class="k">def</span> <span class="nf">wait</span>
<a name="gbab-62"></a>        <span class="vi">@lock</span><span class="o">.</span><span class="n">synchronize</span> <span class="k">do</span>
<a name="gbab-63"></a>          <span class="k">unless</span> <span class="vi">@flag</span>
<a name="gbab-64"></a>            <span class="vi">@cond</span><span class="o">.</span><span class="n">wait</span><span class="p">(</span><span class="vi">@lock</span><span class="p">)</span>
<a name="gbab-65"></a>          <span class="k">end</span>
<a name="gbab-66"></a>        <span class="k">end</span>
<a name="gbab-67"></a>      <span class="k">end</span>
<a name="gbab-68"></a>    <span class="k">end</span>
<a name="gbab-69"></a>  <span class="k">end</span>
<a name="gbab-70"></a><span class="k">end</span>
</pre></div>
</td></tr></table>