<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="nb">require</span> <span class="s2">&quot;rubocop&quot;</span>
<a name="gbab-4"></a>
<a name="gbab-5"></a><span class="k">module</span> <span class="nn">RuboCop</span>
<a name="gbab-6"></a>  <span class="k">module</span> <span class="nn">Cop</span>
<a name="gbab-7"></a>    <span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-8"></a>      <span class="k">class</span> <span class="nc">NoPutsAllowed</span> <span class="o">&lt;</span> <span class="no">Cop</span>
<a name="gbab-9"></a>        <span class="no">MSG</span> <span class="o">=</span> <span class="s2">&quot;Avoid using `puts` to print things. Use `Jekyll.logger` instead.&quot;</span><span class="o">.</span><span class="n">freeze</span>
<a name="gbab-10"></a>
<a name="gbab-11"></a>        <span class="n">def_node_search</span> <span class="ss">:puts_called?</span><span class="p">,</span> <span class="o">&lt;&lt;-</span><span class="no">PATTERN</span>
<a name="gbab-12"></a><span class="sh">        (send nil? :puts _)</span>
<a name="gbab-13"></a><span class="no">        PATTERN</span>
<a name="gbab-14"></a>
<a name="gbab-15"></a>        <span class="k">def</span> <span class="nf">on_send</span><span class="p">(</span><span class="n">node</span><span class="p">)</span>
<a name="gbab-16"></a>          <span class="k">if</span> <span class="n">puts_called?</span><span class="p">(</span><span class="n">node</span><span class="p">)</span>
<a name="gbab-17"></a>            <span class="n">add_offense</span><span class="p">(</span><span class="n">node</span><span class="p">,</span> <span class="ss">:location</span> <span class="o">=&gt;</span> <span class="ss">:selector</span><span class="p">)</span>
<a name="gbab-18"></a>          <span class="k">end</span>
<a name="gbab-19"></a>        <span class="k">end</span>
<a name="gbab-20"></a>      <span class="k">end</span>
<a name="gbab-21"></a>    <span class="k">end</span>
<a name="gbab-22"></a>  <span class="k">end</span>
<a name="gbab-23"></a><span class="k">end</span>
</pre></div>
</td></tr></table>