<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="no">Dir</span><span class="o">[</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">expand_path</span><span class="p">(</span><span class="s2">&quot;jekyll&quot;</span><span class="p">,</span> <span class="n">__dir__</span><span class="p">),</span> <span class="s2">&quot;*.rb&quot;</span><span class="p">)</span><span class="o">].</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">ruby_file</span><span class="o">|</span>
<a name="gbab-4"></a>  <span class="nb">require</span> <span class="n">ruby_file</span>
<a name="gbab-5"></a><span class="k">end</span>
</pre></div>
</td></tr></table>