<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75</pre></div></td><td class="code"><div class="highlight"><pre><a name="gbab-1"></a><span class="c1"># frozen_string_literal: true</span>
<a name="gbab-2"></a>
<a name="gbab-3"></a><span class="k">module</span> <span class="nn">Jekyll</span>
<a name="gbab-4"></a>  <span class="k">module</span> <span class="nn">Utils</span>
<a name="gbab-5"></a>    <span class="k">module</span> <span class="nn">WinTZ</span>
<a name="gbab-6"></a>      <span class="kp">extend</span> <span class="nb">self</span>
<a name="gbab-7"></a>
<a name="gbab-8"></a>      <span class="c1"># Public: Calculate the Timezone for Windows when the config file has a defined</span>
<a name="gbab-9"></a>      <span class="c1">#         &#39;timezone&#39; key.</span>
<a name="gbab-10"></a>      <span class="c1">#</span>
<a name="gbab-11"></a>      <span class="c1"># timezone - the IANA Time Zone specified in &quot;_config.yml&quot;</span>
<a name="gbab-12"></a>      <span class="c1">#</span>
<a name="gbab-13"></a>      <span class="c1"># Returns a string that ultimately re-defines ENV[&quot;TZ&quot;] in Windows</span>
<a name="gbab-14"></a>      <span class="k">def</span> <span class="nf">calculate</span><span class="p">(</span><span class="n">timezone</span><span class="p">)</span>
<a name="gbab-15"></a>        <span class="no">External</span><span class="o">.</span><span class="n">require_with_graceful_fail</span><span class="p">(</span><span class="s2">&quot;tzinfo&quot;</span><span class="p">)</span> <span class="k">unless</span> <span class="n">defined?</span><span class="p">(</span><span class="no">TZInfo</span><span class="p">)</span>
<a name="gbab-16"></a>        <span class="n">tz</span> <span class="o">=</span> <span class="no">TZInfo</span><span class="o">::</span><span class="no">Timezone</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">timezone</span><span class="p">)</span>
<a name="gbab-17"></a>        <span class="n">difference</span> <span class="o">=</span> <span class="no">Time</span><span class="o">.</span><span class="n">now</span><span class="o">.</span><span class="n">to_i</span> <span class="o">-</span> <span class="n">tz</span><span class="o">.</span><span class="n">now</span><span class="o">.</span><span class="n">to_i</span>
<a name="gbab-18"></a>        <span class="c1">#</span>
<a name="gbab-19"></a>        <span class="c1"># POSIX style definition reverses the offset sign.</span>
<a name="gbab-20"></a>        <span class="c1">#   e.g. Eastern Standard Time (EST) that is 5Hrs. to the &#39;west&#39; of Prime Meridian</span>
<a name="gbab-21"></a>        <span class="c1">#   is denoted as:</span>
<a name="gbab-22"></a>        <span class="c1">#     EST+5 (or) EST+05:00</span>
<a name="gbab-23"></a>        <span class="c1"># Reference: http://www.gnu.org/software/libc/manual/html_node/TZ-Variable.html</span>
<a name="gbab-24"></a>        <span class="n">sign</span> <span class="o">=</span> <span class="n">difference</span> <span class="o">&lt;</span> <span class="mi">0</span> <span class="o">?</span> <span class="s2">&quot;-&quot;</span> <span class="p">:</span> <span class="s2">&quot;+&quot;</span>
<a name="gbab-25"></a>        <span class="n">offset</span> <span class="o">=</span> <span class="n">sign</span> <span class="o">==</span> <span class="s2">&quot;-&quot;</span> <span class="p">?</span> <span class="s2">&quot;+&quot;</span> <span class="p">:</span> <span class="s2">&quot;-&quot;</span> <span class="k">unless</span> <span class="n">difference</span><span class="o">.</span><span class="n">zero?</span>
<a name="gbab-26"></a>        <span class="c1">#</span>
<a name="gbab-27"></a>        <span class="c1"># convert the difference (in seconds) to hours, as a rational number, and perform</span>
<a name="gbab-28"></a>        <span class="c1"># a modulo operation on it.</span>
<a name="gbab-29"></a>        <span class="n">modulo</span> <span class="o">=</span> <span class="n">modulo_of</span><span class="p">(</span><span class="n">rational_hour</span><span class="p">(</span><span class="n">difference</span><span class="p">))</span>
<a name="gbab-30"></a>        <span class="c1">#</span>
<a name="gbab-31"></a>        <span class="c1"># Format the hour as a two-digit number.</span>
<a name="gbab-32"></a>        <span class="c1"># Establish the minutes based on modulo expression.</span>
<a name="gbab-33"></a>        <span class="n">hh</span> <span class="o">=</span> <span class="nb">format</span><span class="p">(</span><span class="s2">&quot;%02d&quot;</span><span class="p">,</span> <span class="n">absolute_hour</span><span class="p">(</span><span class="n">difference</span><span class="p">)</span><span class="o">.</span><span class="n">ceil</span><span class="p">)</span>
<a name="gbab-34"></a>        <span class="n">mm</span> <span class="o">=</span> <span class="n">modulo</span><span class="o">.</span><span class="n">zero?</span> <span class="p">?</span> <span class="s2">&quot;00&quot;</span> <span class="p">:</span> <span class="s2">&quot;30&quot;</span>
<a name="gbab-35"></a>
<a name="gbab-36"></a>        <span class="no">Jekyll</span><span class="o">.</span><span class="n">logger</span><span class="o">.</span><span class="n">debug</span> <span class="s2">&quot;Timezone:&quot;</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">timezone</span><span class="si">}</span><span class="s2"> </span><span class="si">#{</span><span class="n">offset</span><span class="si">}#{</span><span class="n">hh</span><span class="si">}</span><span class="s2">:</span><span class="si">#{</span><span class="n">mm</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-37"></a>        <span class="c1">#</span>
<a name="gbab-38"></a>        <span class="c1"># Note: The 3-letter-word below doesn&#39;t have a particular significance.</span>
<a name="gbab-39"></a>        <span class="s2">&quot;WTZ</span><span class="si">#{</span><span class="n">sign</span><span class="si">}#{</span><span class="n">hh</span><span class="si">}</span><span class="s2">:</span><span class="si">#{</span><span class="n">mm</span><span class="si">}</span><span class="s2">&quot;</span>
<a name="gbab-40"></a>      <span class="k">end</span>
<a name="gbab-41"></a>
<a name="gbab-42"></a>      <span class="kp">private</span>
<a name="gbab-43"></a>
<a name="gbab-44"></a>      <span class="c1"># Private: Convert given seconds to an hour as a rational number.</span>
<a name="gbab-45"></a>      <span class="c1">#</span>
<a name="gbab-46"></a>      <span class="c1"># seconds - supplied as an integer, it is converted to a rational number.</span>
<a name="gbab-47"></a>      <span class="c1"># 3600 - no. of seconds in an hour.</span>
<a name="gbab-48"></a>      <span class="c1">#</span>
<a name="gbab-49"></a>      <span class="c1"># Returns a rational number.</span>
<a name="gbab-50"></a>      <span class="k">def</span> <span class="nf">rational_hour</span><span class="p">(</span><span class="n">seconds</span><span class="p">)</span>
<a name="gbab-51"></a>        <span class="n">seconds</span><span class="o">.</span><span class="n">to_r</span><span class="o">/</span><span class="mi">3600</span>
<a name="gbab-52"></a>      <span class="k">end</span>
<a name="gbab-53"></a>
<a name="gbab-54"></a>      <span class="c1"># Private: Convert given seconds to an hour as an absolute number.</span>
<a name="gbab-55"></a>      <span class="c1">#</span>
<a name="gbab-56"></a>      <span class="c1"># seconds - supplied as an integer, it is converted to its absolute.</span>
<a name="gbab-57"></a>      <span class="c1"># 3600 - no. of seconds in an hour.</span>
<a name="gbab-58"></a>      <span class="c1">#</span>
<a name="gbab-59"></a>      <span class="c1"># Returns an integer.</span>
<a name="gbab-60"></a>      <span class="k">def</span> <span class="nf">absolute_hour</span><span class="p">(</span><span class="n">seconds</span><span class="p">)</span>
<a name="gbab-61"></a>        <span class="n">seconds</span><span class="o">.</span><span class="n">abs</span><span class="o">/</span><span class="mi">3600</span>
<a name="gbab-62"></a>      <span class="k">end</span>
<a name="gbab-63"></a>
<a name="gbab-64"></a>      <span class="c1"># Private: Perform a modulo operation on a given fraction.</span>
<a name="gbab-65"></a>      <span class="c1">#</span>
<a name="gbab-66"></a>      <span class="c1"># fraction - supplied as a rational number, its numerator is divided</span>
<a name="gbab-67"></a>      <span class="c1">#            by its denominator and the remainder returned.</span>
<a name="gbab-68"></a>      <span class="c1">#</span>
<a name="gbab-69"></a>      <span class="c1"># Returns an integer.</span>
<a name="gbab-70"></a>      <span class="k">def</span> <span class="nf">modulo_of</span><span class="p">(</span><span class="n">fraction</span><span class="p">)</span>
<a name="gbab-71"></a>        <span class="n">fraction</span><span class="o">.</span><span class="n">numerator</span> <span class="o">%</span> <span class="n">fraction</span><span class="o">.</span><span class="n">denominator</span>
<a name="gbab-72"></a>      <span class="k">end</span>
<a name="gbab-73"></a>    <span class="k">end</span>
<a name="gbab-74"></a>  <span class="k">end</span>
<a name="gbab-75"></a><span class="k">end</span>
</pre></div>
</td></tr></table>